Repository vercel/vercel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vercel/ci-cd, @trek, @ijjk, @agadzik, @chloetedder, @timneutkens, @ztanner, @huozhi, @vercel/compute, @cramforce, @sueplex, @leerob, @Timer, @Kikobeats, @mknichel

.github/CODEOWNERS:

# Documentation
# https://help.github.com/en/articles/about-code-owners

# Restricted Paths
*                                        @vercel/ci-cd @trek
/.github/workflows                       @vercel/ci-cd @ijjk @trek
/packages/fs-detectors                   @vercel/ci-cd @agadzik @chloetedder @trek
/packages/next                           @vercel/ci-cd @timneutkens @ijjk @ztanner @huozhi
/packages/routing-utils                  @vercel/ci-cd @ijjk @trek
/packages/static-build                   @vercel/ci-cd @trek
/packages/edge                           @vercel/compute
/packages/functions                      @vercel/compute
/packages/firewall                       @cramforce @sueplex
/examples                                @vercel/ci-cd @leerob @trek
/examples/create-react-app               @vercel/ci-cd @Timer
/examples/nextjs                         @vercel/ci-cd @ijjk @ztanner @huozhi
/packages/node                           @vercel/ci-cd @Kikobeats
/packages/related-projects               @vercel/ci-cd @Kikobeats @mknichel

# Unrestricted Paths
.changeset/

chore: added changeset
  .changeset/proud-rings-draw.md
Owners: none

Update .changeset/proud-rings-draw.md
  .changeset/proud-rings-draw.md
Owners: none

[examples][tests] Upgrade Next.js to version 15.2.4 (#13201)
  .changeset/next-15-2-4.md
  examples/nextjs/package-lock.json
  examples/nextjs/package.json
Owners: @vercel/ci-cd, @ijjk, @ztanner, @huozhi

[next] Make prerender groups deterministic (#13205)
  .changeset/proud-rings-draw.md
  packages/next/src/utils.ts
Owners: @vercel/ci-cd, @timneutkens, @ijjk, @ztanner, @huozhi

trace writeBuildResult
  packages/cli/src/commands/build/index.ts
Owners: @vercel/ci-cd, @trek

trace writeBuildResult
  packages/cli/src/commands/build/index.ts
Owners: @vercel/ci-cd, @trek

add changeset
  .changeset/six-icons-taste.md
Owners: none

linting
  packages/cli/src/commands/build/index.ts
Owners: @vercel/ci-cd, @trek

linting
  packages/cli/src/commands/build/index.ts
Owners: @vercel/ci-cd, @trek

trace writeBuildResult (#13207)
  .changeset/six-icons-taste.md
  packages/cli/src/commands/build/index.ts
Owners: @vercel/ci-cd, @trek

perf test createZip with sema 4 instead of 10
  packages/build-utils/src/lambda.ts
Owners: @vercel/ci-cd, @trek

Fix mock with newly noted external resource ID
  packages/cli/test/mocks/integration.ts
Owners: @vercel/ci-cd, @trek

Create modern-gifts-flow.md
  .changeset/modern-gifts-flow.md
Owners: none

Break up large balance function into simpler pieces
  packages/cli/src/commands/integration/balance.ts
Owners: @vercel/ci-cd, @trek

Fix lint in old list test
  packages/cli/test/unit/commands/integration/list.test.ts
Owners: @vercel/ci-cd, @trek

Add missing await
  packages/cli/src/commands/integration/add.ts
Owners: @vercel/ci-cd, @trek

Exit command on requires action failure
  packages/cli/src/commands/integration/add.ts
  packages/cli/test/mocks/integration.ts
  packages/cli/test/unit/commands/integration/add.test.ts
Owners: @vercel/ci-cd, @trek

Update README.md
  packages/firewall/README.md
Owners: @cramforce, @sueplex

Add test coverage of balance subcommand
  packages/cli/src/commands/integration/balance.ts
  packages/cli/test/mocks/integration.ts
  packages/cli/test/unit/commands/integration/balance.test.ts
Owners: @vercel/ci-cd, @trek

Rename argument to integration for clarity
  packages/cli/src/commands/integration/balance.ts
  packages/cli/src/commands/integration/command.ts
  packages/cli/src/util/telemetry/commands/integration/balance.ts
Owners: @vercel/ci-cd, @trek

Remove commented reference test
  packages/cli/test/unit/commands/integration/balance.test.ts
Owners: @vercel/ci-cd, @trek

Implement Turbopack build marker
  packages/next/src/index.ts
  packages/next/src/server-build.ts
  packages/next/src/utils.ts
Owners: @vercel/ci-cd, @timneutkens, @ijjk, @ztanner, @huozhi

add changelog
  .changeset/cyan-nails-decide.md
Owners: none

Add authorization step to cli integration resource creation (#13192)
  .changeset/great-shoes-kiss.md
  packages/cli/src/commands/integration/add.ts
  packages/cli/src/commands/integration/wizard.ts
  packages/cli/src/util/integration/create-authorization.ts
  packages/cli/src/util/integration/fetch-authorization.ts
  packages/cli/src/util/integration/provision-store-resource.ts
  packages/cli/src/util/integration/types.ts
  packages/cli/test/mocks/integration.ts
  packages/cli/test/unit/commands/integration/add.test.ts
Owners: @vercel/ci-cd, @trek

dump exception if one occurs
  packages/python/vc_init.py
Owners: @vercel/ci-cd, @trek

fix streaming for wsgi
  packages/python/vc_init.py
Owners: @vercel/ci-cd, @trek

[python] fix wsgi streaming
  packages/python/vc_init.py
Owners: @vercel/ci-cd, @trek

[cli] refresh `VERCEL_OIDC_TOKEN`
  packages/cli/src/commands/dev/dev.ts
  packages/cli/src/commands/env/pull.ts
  packages/cli/src/util/env/constants.ts
  packages/cli/src/util/env/refresh-oidc-token.ts
Owners: @vercel/ci-cd, @trek

changeset
  .changeset/nasty-adults-cheat.md
Owners: none

Setup Vercel Code Owners
  .npmrc
  .vercel.approvers
  packages/edge/.vercel.approvers
  packages/firewall/.vercel.approvers
  packages/functions/.vercel.approvers
  packages/next/.vercel.approvers
  packages/related-projects/.vercel.approvers
Owners: @vercel/ci-cd, @trek, @vercel/compute, @cramforce, @sueplex, @timneutkens, @ijjk, @ztanner, @huozhi, @Kikobeats, @mknichel

[python] fix wsgi streaming (#13213)
  .changeset/nasty-adults-cheat.md
  packages/python/vc_init.py
Owners: @vercel/ci-cd, @trek

fix: enable blocking fallback routes to provide fallback root params
  .changeset/nasty-feet-cover.md
  packages/next/src/utils.ts
Owners: @vercel/ci-cd, @timneutkens, @ijjk, @ztanner, @huozhi

refactor: use `decodeJwt` from jose
  packages/cli/src/util/env/refresh-oidc-token.ts
Owners: @vercel/ci-cd, @trek

refactor: `refreshOidcToken` accepts entire `envValues`
  packages/cli/src/commands/dev/dev.ts
  packages/cli/src/util/env/constants.ts
  packages/cli/src/util/env/refresh-oidc-token.ts
Owners: @vercel/ci-cd, @trek

refactor: extract function `wasCreatedByVercel`
  packages/cli/src/commands/env/pull.ts
  packages/cli/src/util/env/was-created-by-vercel.ts
Owners: @vercel/ci-cd, @trek

refactor: extract `escaleValue`
  packages/cli/src/commands/env/pull.ts
  packages/cli/src/util/env/escape-value.ts
Owners: @vercel/ci-cd, @trek

refactor: `refreshOidcToken` uses `wasCreatedByVercel`
  packages/cli/src/util/env/refresh-oidc-token.ts
Owners: @vercel/ci-cd, @trek

refactor: extract `VARIABLES_TO_IGNORE` to constants.ts
  packages/cli/src/commands/env/pull.ts
  packages/cli/src/util/env/constants.ts
Owners: @vercel/ci-cd, @trek

refactor: extract `writeEnvFile`
  packages/cli/src/commands/env/pull.ts
  packages/cli/src/util/env/write-env-file.ts
Owners: @vercel/ci-cd, @trek

refactor: extract `patchEnvFile`
  packages/cli/src/util/env/patch-env-file.ts
  packages/cli/src/util/env/refresh-oidc-token.ts
Owners: @vercel/ci-cd, @trek
