Repository vercel/vercel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vercel/ci-cd, @trek, @ijjk, @agadzik, @chloetedder, @timneutkens, @ztanner, @huozhi, @vercel/compute, @cramforce, @sueplex, @leerob, @Timer, @Kikobeats, @mknichel

.github/CODEOWNERS:

# Documentation
# https://help.github.com/en/articles/about-code-owners

# Restricted Paths
*                                        @vercel/ci-cd @trek
/.github/workflows                       @vercel/ci-cd @ijjk @trek
/packages/fs-detectors                   @vercel/ci-cd @agadzik @chloetedder @trek
/packages/next                           @vercel/ci-cd @timneutkens @ijjk @ztanner @huozhi
/packages/routing-utils                  @vercel/ci-cd @ijjk @trek
/packages/static-build                   @vercel/ci-cd @trek
/packages/edge                           @vercel/compute
/packages/functions                      @vercel/compute
/packages/firewall                       @cramforce @sueplex
/examples                                @vercel/ci-cd @leerob @trek
/examples/create-react-app               @vercel/ci-cd @Timer
/examples/nextjs                         @vercel/ci-cd @ijjk @ztanner @huozhi
/packages/node                           @vercel/ci-cd @Kikobeats
/packages/related-projects               @vercel/ci-cd @Kikobeats @mknichel

# Unrestricted Paths
.changeset/

refactor: extract constant
  packages/cli/src/commands/dev/dev.ts
  packages/cli/src/util/env/constants.ts
  packages/cli/src/util/env/refresh-oidc-token.ts
Owners: @vercel/ci-cd, @trek

fix: lint errors
  packages/cli/src/commands/dev/dev.ts
  packages/cli/src/commands/dev/index.ts
Owners: @vercel/ci-cd, @trek

TypoInReadMe
  README.md
Owners: @vercel/ci-cd, @trek

add flag
  .changeset/healthy-geese-train.md
  packages/next/src/server-build.ts
  packages/next/test/fixtures/00-app-dir-not-found-pages-interop/vercel.json
Owners: @vercel/ci-cd, @timneutkens, @ijjk, @ztanner, @huozhi

fix condition
  packages/next/src/server-build.ts
Owners: @vercel/ci-cd, @timneutkens, @ijjk, @ztanner, @huozhi

Version Packages (#13217)
  .changeset/modern-gifts-flow.md
  .changeset/nasty-feet-cover.md
  .changeset/perfect-numbers-cheat.md
  .changeset/purple-suns-grow.md
  .changeset/tame-pears-listen.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  pnpm-lock.yaml
Owners: @vercel/ci-cd, @trek, @timneutkens, @ijjk, @ztanner, @huozhi

remove flag
  packages/next/src/server-build.ts
  packages/next/test/fixtures/00-app-dir-not-found-pages-interop/app/app-dir/[[...slug]]/page.tsx
  packages/next/test/fixtures/00-app-dir-not-found-pages-interop/pages/[[...slug]].tsx
  packages/next/test/fixtures/00-app-dir-not-found-pages-interop/vercel.json
Owners: @vercel/ci-cd, @timneutkens, @ijjk, @ztanner, @huozhi

tweak changeset
  .changeset/healthy-geese-train.md
Owners: none

remove unneeded config
  packages/next/test/fixtures/00-app-dir-not-found-pages-interop/vercel.json
Owners: @vercel/ci-cd, @timneutkens, @ijjk, @ztanner, @huozhi

remove unnecessary change
  packages/next/src/server-build.ts
Owners: @vercel/ci-cd, @timneutkens, @ijjk, @ztanner, @huozhi

Update README.md (#13225)
  .changeset/eight-chicken-retire.md
  README.md
Owners: @vercel/ci-cd, @trek

fix: rewrite headers bug fix while rewriting
  packages/next/src/server-build.ts
  packages/next/test/integration/integration-2.test.js
  packages/next/test/integration/rewrite-headers-with-rewrite/app/[locale]/(legacy)/[[...slug]]/page.jsx
  packages/next/test/integration/rewrite-headers-with-rewrite/app/[locale]/(legacy)/not-found.jsx
  packages/next/test/integration/rewrite-headers-with-rewrite/app/[locale]/(main)/find-home/page.jsx
  packages/next/test/integration/rewrite-headers-with-rewrite/app/[locale]/(main)/landing/page.jsx
  packages/next/test/integration/rewrite-headers-with-rewrite/app/[locale]/(main)/not-found.jsx
  packages/next/test/integration/rewrite-headers-with-rewrite/app/layout.jsx
  packages/next/test/integration/rewrite-headers-with-rewrite/next.config.js
  packages/next/test/integration/rewrite-headers-with-rewrite/package.json
  packages/next/test/integration/rewrite-headers-with-rewrite/vercel.json
Owners: @vercel/ci-cd, @timneutkens, @ijjk, @ztanner, @huozhi

chore: added changelog
  .changeset/calm-tigers-carry.md
Owners: none

linting: linted fixutres
  packages/next/test/integration/rewrite-headers-with-rewrite/app/[locale]/(legacy)/[[...slug]]/page.jsx
  packages/next/test/integration/rewrite-headers-with-rewrite/app/[locale]/(legacy)/not-found.jsx
  packages/next/test/integration/rewrite-headers-with-rewrite/app/[locale]/(main)/find-home/page.jsx
  packages/next/test/integration/rewrite-headers-with-rewrite/app/[locale]/(main)/landing/page.jsx
  packages/next/test/integration/rewrite-headers-with-rewrite/app/[locale]/(main)/not-found.jsx
Owners: @vercel/ci-cd, @timneutkens, @ijjk, @ztanner, @huozhi

[next] rewrite headers bug fix while rewriting (#13229)
  .changeset/calm-tigers-carry.md
  packages/next/src/server-build.ts
  packages/next/test/integration/integration-2.test.js
  packages/next/test/integration/rewrite-headers-with-rewrite/app/[locale]/(legacy)/[[...slug]]/page.jsx
  packages/next/test/integration/rewrite-headers-with-rewrite/app/[locale]/(legacy)/not-found.jsx
  packages/next/test/integration/rewrite-headers-with-rewrite/app/[locale]/(main)/find-home/page.jsx
  packages/next/test/integration/rewrite-headers-with-rewrite/app/[locale]/(main)/landing/page.jsx
  packages/next/test/integration/rewrite-headers-with-rewrite/app/[locale]/(main)/not-found.jsx
  packages/next/test/integration/rewrite-headers-with-rewrite/app/layout.jsx
  packages/next/test/integration/rewrite-headers-with-rewrite/next.config.js
  packages/next/test/integration/rewrite-headers-with-rewrite/package.json
  packages/next/test/integration/rewrite-headers-with-rewrite/vercel.json
Owners: @vercel/ci-cd, @timneutkens, @ijjk, @ztanner, @huozhi

refactor
  packages/next/src/server-build.ts
Owners: @vercel/ci-cd, @timneutkens, @ijjk, @ztanner, @huozhi

chore: more human readable unit suffixes
  packages/cli/src/util/env/refresh-oidc-token.ts
Owners: @vercel/ci-cd, @trek

chore: rename "restart" to "forceRestart"
  packages/cli/src/util/dev/server.ts
Owners: @vercel/ci-cd, @trek

refactor: use `millisToSecs`
  packages/cli/src/util/env/refresh-oidc-token.ts
Owners: @vercel/ci-cd, @trek

[next] ensure app router 404 page is still included in functions when using pages i18n (#13222)
  .changeset/healthy-geese-train.md
  packages/next/src/server-build.ts
  packages/next/test/fixtures/00-app-dir-not-found-pages-interop/app/app-dir/[[...slug]]/page.tsx
  packages/next/test/fixtures/00-app-dir-not-found-pages-interop/app/layout.tsx
  packages/next/test/fixtures/00-app-dir-not-found-pages-interop/app/not-found.tsx
  packages/next/test/fixtures/00-app-dir-not-found-pages-interop/index.test.js
  packages/next/test/fixtures/00-app-dir-not-found-pages-interop/next.config.js
  packages/next/test/fixtures/00-app-dir-not-found-pages-interop/package.json
  packages/next/test/fixtures/00-app-dir-not-found-pages-interop/pages/404.tsx
  packages/next/test/fixtures/00-app-dir-not-found-pages-interop/pages/[[...slug]].tsx
  packages/next/test/fixtures/00-app-dir-not-found-pages-interop/pages/_app.tsx
  packages/next/test/fixtures/00-app-dir-not-found-pages-interop/pages/_document.tsx
  packages/next/test/fixtures/00-app-dir-not-found-pages-interop/vercel.json
Owners: @vercel/ci-cd, @timneutkens, @ijjk, @ztanner, @huozhi

add unit tests for VERCEL_OIDC_TOKEN refresh
  packages/cli/src/util/env/refresh-oidc-token.ts
  packages/cli/test/unit/util/env/refresh-oidc-token.test.ts
Owners: @vercel/ci-cd, @trek

fix(auth): fix rendering fallback verification link
  packages/cli/src/commands/login/future.ts
Owners: @vercel/ci-cd, @trek

add changeset
  .changeset/many-mice-promise.md
Owners: none

.changeset/lovely-apples-heal.md
  .changeset/lovely-apples-heal.md
Owners: none

fix(auth): fix rendering fallback verification link (#13232)
  .changeset/many-mice-promise.md
  packages/cli/src/commands/login/future.ts
Owners: @vercel/ci-cd, @trek

add optional tags to get
  packages/functions/docs/interfaces/index.RuntimeCache.md
  packages/functions/src/cache/in-memory-cache.ts
  packages/functions/src/cache/index.ts
  packages/functions/src/cache/types.ts
Owners: @vercel/compute

Update @vercel/firewall README with correct Rate Limit SDK link (#13210)
  .changeset/lovely-apples-heal.md
  packages/firewall/README.md
Owners: @cramforce, @sueplex

Update help.yml
  .github/DISCUSSION_TEMPLATE/help.yml
Owners: @vercel/ci-cd, @trek

Create tasty-humans-travel.md
  .changeset/tasty-humans-travel.md
Owners: none

Update help.yml (#13233)
  .changeset/tasty-humans-travel.md
  .github/DISCUSSION_TEMPLATE/help.yml
Owners: @vercel/ci-cd, @trek

[next] Disable middleware next data resolving for static rewrites
  packages/next/src/server-build.ts
Owners: @vercel/ci-cd, @timneutkens, @ijjk, @ztanner, @huozhi

simplify tags for in memory cache
  packages/functions/src/cache/in-memory-cache.ts
Owners: @vercel/compute

next-15-2-5
  .changeset/next-15-2-5.md
  examples/nextjs/package-lock.json
  examples/nextjs/package.json
Owners: @vercel/ci-cd, @ijjk, @ztanner, @huozhi

[examples][tests] Upgrade Next.js to version 15.2.5 (#13235)
  .changeset/next-15-2-5.md
  examples/nextjs/package-lock.json
  examples/nextjs/package.json
Owners: @vercel/ci-cd, @ijjk, @ztanner, @huozhi

chore: add back AbortController to avoid open handle
  packages/cli/src/commands/dev/dev.ts
  packages/cli/src/util/env/refresh-oidc-token.ts
  packages/cli/test/unit/util/env/refresh-oidc-token.test.ts
Owners: @vercel/ci-cd, @trek

chore: use `clearTimeout` also
  packages/cli/src/commands/dev/dev.ts
Owners: @vercel/ci-cd, @trek

chore: update @types/node to 18 for CLI
  packages/cli/package.json
  packages/cli/src/util/dev/builder.ts
  packages/cli/src/util/dev/server.ts
  packages/cli/test/dev/utils.ts
  packages/cli/test/integration-2.test.ts
  pnpm-lock.yaml
Owners: @vercel/ci-cd, @trek

refactor: use setTimeout from node:timers/promises
  packages/cli/src/commands/dev/dev.ts
  packages/cli/src/util/env/refresh-oidc-token.ts
Owners: @vercel/ci-cd, @trek

[cli] refresh `VERCEL_OIDC_TOKEN` (#13226)
  .changeset/shy-rice-allow.md
  packages/cli/package.json
  packages/cli/src/commands/dev/dev.ts
  packages/cli/src/commands/dev/index.ts
  packages/cli/src/util/dev/builder.ts
  packages/cli/src/util/dev/server.ts
  packages/cli/src/util/env/constants.ts
  packages/cli/src/util/env/refresh-oidc-token.ts
  packages/cli/src/util/telemetry/commands/dev/index.ts
  packages/cli/src/util/telemetry/index.ts
  packages/cli/test/dev/utils.ts
  packages/cli/test/integration-2.test.ts
  packages/cli/test/unit/util/env/refresh-oidc-token.test.ts
  pnpm-lock.yaml
Owners: @vercel/ci-cd, @trek

next-15-3-0
  .changeset/next-15-3-0.md
  examples/nextjs/package-lock.json
  examples/nextjs/package.json
Owners: @vercel/ci-cd, @ijjk, @ztanner, @huozhi
