Repository vercel/vercel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vercel/ci-cd, @trek, @ijjk, @agadzik, @chloetedder, @timneutkens, @ztanner, @huozhi, @vercel/compute, @cramforce, @sueplex, @leerob, @Timer, @Kikobeats, @mknichel

.github/CODEOWNERS:

# Documentation
# https://help.github.com/en/articles/about-code-owners

# Restricted Paths
*                                        @vercel/ci-cd @trek
/.github/workflows                       @vercel/ci-cd @ijjk @trek
/packages/fs-detectors                   @vercel/ci-cd @agadzik @chloetedder @trek
/packages/next                           @vercel/ci-cd @timneutkens @ijjk @ztanner @huozhi
/packages/routing-utils                  @vercel/ci-cd @ijjk @trek
/packages/static-build                   @vercel/ci-cd @trek
/packages/edge                           @vercel/compute
/packages/functions                      @vercel/compute
/packages/firewall                       @cramforce @sueplex
/examples                                @vercel/ci-cd @leerob @trek
/examples/create-react-app               @vercel/ci-cd @Timer
/examples/nextjs                         @vercel/ci-cd @ijjk @ztanner @huozhi
/packages/node                           @vercel/ci-cd @Kikobeats
/packages/related-projects               @vercel/ci-cd @Kikobeats @mknichel

# Unrestricted Paths
.changeset/

Add changeset
  .changeset/chilly-bikes-study.md
Owners: none

Correct tests
  packages/build-utils/test/unit.detect-package-manager.test.ts
Owners: @vercel/ci-cd, @trek

Update packages/build-utils/src/fs/run-user-scripts.ts
  packages/build-utils/src/fs/run-user-scripts.ts
Owners: @vercel/ci-cd, @trek

[cli] Fix `vc domain inspect` when there is no "production" target alias
  .changeset/modern-penguins-check.md
  packages/cli/src/util/projects/find-projects-for-domain.ts
Owners: @vercel/ci-cd, @trek

Add global yarn cache to default cache path
  packages/build-utils/src/default-cache-path-glob.ts
Owners: @vercel/ci-cd, @trek

[cli] Fix `vc domain inspect` when there is no "production" target alias (#13134)
  .changeset/modern-penguins-check.md
  packages/cli/src/util/projects/find-projects-for-domain.ts
Owners: @vercel/ci-cd, @trek

Add global search to static-build
  packages/static-build/src/index.ts
Owners: @vercel/ci-cd, @trek

Change global yarn cache path
  packages/static-build/src/index.ts
Owners: @vercel/ci-cd, @trek

Migrate pnpm@6 to a standardized location (#13132)
  .changeset/chilly-bikes-study.md
  packages/build-utils/src/fs/run-user-scripts.ts
  packages/build-utils/test/unit.detect-package-manager.test.ts
Owners: @vercel/ci-cd, @trek

fix(oauth): improve unexpected error handling
  packages/cli/src/commands/login/future.ts
  packages/cli/src/util/oauth.ts
Owners: @vercel/ci-cd, @trek

tweak
  .changeset/sixty-deers-carry.md
  packages/cli/src/util/oauth.ts
Owners: @vercel/ci-cd, @trek

fix(oauth): improve unexpected error handling (#13138)
  .changeset/sixty-deers-carry.md
  packages/cli/src/commands/login/future.ts
  packages/cli/src/util/oauth.ts
Owners: @vercel/ci-cd, @trek

Version Packages (#13136)
  .changeset/chilly-bikes-study.md
  .changeset/modern-penguins-check.md
  .changeset/perfect-boxes-beg.md
  .changeset/sixty-deers-carry.md
  examples/package.json
  internals/types/package.json
  packages/build-utils/CHANGELOG.md
  packages/build-utils/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/fs-detectors/package.json
  packages/gatsby-plugin-vercel-builder/CHANGELOG.md
  packages/gatsby-plugin-vercel-builder/package.json
  packages/go/package.json
  packages/hydrogen/package.json
  packages/next/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/python/package.json
  packages/redwood/package.json
  packages/remix/package.json
  packages/ruby/package.json
  packages/static-build/CHANGELOG.md
  packages/static-build/package.json
  pnpm-lock.yaml
Owners: @vercel/ci-cd, @leerob, @trek, @agadzik, @chloetedder, @timneutkens, @ijjk, @ztanner, @huozhi, @Kikobeats

Add plug n play files to vercel ignore
  packages/client/src/utils/index.ts
Owners: @vercel/ci-cd, @trek

Add changeset
  .changeset/thin-mugs-hammer.md
  packages/client/src/utils/index.ts
Owners: @vercel/ci-cd, @trek

[cli] get maxDuration from function configuration
  packages/node/src/dev-server.mts
  packages/node/src/edge-functions/edge-handler.mts
  packages/node/src/serverless-functions/serverless-handler.mts
  packages/node/src/utils.ts
Owners: @vercel/ci-cd, @Kikobeats

fix: linter
  packages/node/src/dev-server.mts
  packages/node/src/edge-functions/edge-handler.mts
  packages/node/src/serverless-functions/serverless-handler.mts
Owners: @vercel/ci-cd, @Kikobeats

Create giant-clouds-double.md
  .changeset/giant-clouds-double.md
Owners: none

[client] add yarn Plug'n'Play files to default vercel ignore (#13140)
  .changeset/thin-mugs-hammer.md
  packages/client/src/utils/index.ts
Owners: @vercel/ci-cd, @trek

Detect and warn on error
  packages/build-utils/src/fs/run-user-scripts.ts
  packages/build-utils/src/types.ts
Owners: @vercel/ci-cd, @trek

Add changeset
  .changeset/perfect-badgers-confess.md
Owners: none

Move logic to npmInstall
  packages/build-utils/src/fs/run-user-scripts.ts
Owners: @vercel/ci-cd, @trek

WIP
  packages/cli/src/commands/domains/command.ts
  packages/cli/src/commands/project/command.ts
  packages/cli/src/commands/project/index.ts
  packages/cli/src/commands/project/inspect.ts
  packages/cli/src/commands/promote/index.ts
  packages/cli/src/commands/rollback/index.ts
  packages/cli/src/util/arg-common.ts
  packages/cli/src/util/projects/get-project-by-cwd-or-link.ts
  packages/cli/src/util/projects/remove-project.ts
  packages/cli/src/util/telemetry/commands/project/index.ts
  packages/cli/src/util/telemetry/commands/project/inspect.ts
Owners: @vercel/ci-cd, @trek

WIP
  packages/cli/src/commands/project/command.ts
  packages/cli/src/commands/project/inspect.ts
  packages/cli/src/util/projects/get-project-by-cwd-or-link.ts
  packages/cli/src/util/telemetry/commands/project/inspect.ts
Owners: @vercel/ci-cd, @trek

Disable yarn global cache automatically to cache deps
  packages/build-utils/src/fs/run-user-scripts.ts
Owners: @vercel/ci-cd, @trek

Add changeset
  .changeset/strong-ways-decide.md
Owners: none

Fix config set order
  packages/build-utils/src/fs/run-user-scripts.ts
Owners: @vercel/ci-cd, @trek

fix(dev-server): enhance TypeScript compiler resolution and type-checking process
  packages/node/src/start-dev-server.ts
Owners: @vercel/ci-cd, @Kikobeats

[cli] get maxDuration from function configuration (#13141)
  .changeset/giant-clouds-double.md
  packages/node/src/dev-server.mts
  packages/node/src/edge-functions/edge-handler.mts
  packages/node/src/serverless-functions/serverless-handler.mts
  packages/node/src/utils.ts
Owners: @vercel/ci-cd, @Kikobeats

Create "ai-project"
  "ai-project"
Owners: @vercel/ci-cd, @trek

.
  packages/cli/src/commands/project/inspect.ts
Owners: @vercel/ci-cd, @trek

.
  packages/cli/src/commands/project/inspect.ts
  packages/cli/test/unit/commands/project/inspect.test.ts
Owners: @vercel/ci-cd, @trek

Add changeset
  .changeset/lucky-suits-watch.md
Owners: none

Remove unused
  packages/cli/src/commands/project/inspect.ts
Owners: @vercel/ci-cd, @trek

Add tests
  packages/build-utils/test/unit.run-npm-install.test.ts
Owners: @vercel/ci-cd, @trek

.
  packages/cli/test/unit/commands/__snapshots__/help.test.ts.snap
  packages/cli/test/unit/commands/help.test.ts
Owners: @vercel/ci-cd, @trek

[cli] Update `vercel target ls` to more closely match the Vercel dashboard UI
  .changeset/gorgeous-jars-peel.md
  packages/cli/src/commands/target/list.ts
  packages/cli/src/util/target/format-environment.ts
  packages/cli/src/util/target/standard-environments.ts
  packages/cli/src/util/telemetry/commands/env/add.ts
  packages/cli/src/util/telemetry/commands/env/ls.ts
  packages/cli/src/util/telemetry/commands/env/pull.ts
  packages/cli/src/util/telemetry/commands/env/rm.ts
  packages/cli/test/unit/commands/target/list.test.ts
Owners: @vercel/ci-cd, @trek

[cli] Update `vercel target ls` to more closely match the Vercel dashboard UI (#13150)
  .changeset/gorgeous-jars-peel.md
  packages/cli/src/commands/target/list.ts
  packages/cli/src/util/target/format-environment.ts
  packages/cli/src/util/target/standard-environments.ts
  packages/cli/src/util/telemetry/commands/env/add.ts
  packages/cli/src/util/telemetry/commands/env/ls.ts
  packages/cli/src/util/telemetry/commands/env/pull.ts
  packages/cli/src/util/telemetry/commands/env/rm.ts
  packages/cli/test/unit/commands/target/list.test.ts
Owners: @vercel/ci-cd, @trek

next-15-2-2
  .changeset/next-15-2-2.md
  examples/nextjs/app/page.tsx
  examples/nextjs/package-lock.json
  examples/nextjs/package.json
Owners: @vercel/ci-cd, @ijjk, @ztanner, @huozhi

[examples][tests] Upgrade Next.js to version 15.2.2 (#13152)
  .changeset/next-15-2-2.md
  examples/nextjs/app/page.tsx
  examples/nextjs/package-lock.json
  examples/nextjs/package.json
Owners: @vercel/ci-cd, @ijjk, @ztanner, @huozhi
