Repository vercel/vercel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vercel/ci-cd, @trek, @ijjk, @agadzik, @chloetedder, @timneutkens, @ztanner, @huozhi, @vercel/compute, @cramforce, @sueplex, @leerob, @Timer, @Kikobeats, @mknichel

.github/CODEOWNERS:

# Documentation
# https://help.github.com/en/articles/about-code-owners

# Restricted Paths
*                                        @vercel/ci-cd @trek
/.github/workflows                       @vercel/ci-cd @ijjk @trek
/packages/fs-detectors                   @vercel/ci-cd @agadzik @chloetedder @trek
/packages/next                           @vercel/ci-cd @timneutkens @ijjk @ztanner @huozhi
/packages/routing-utils                  @vercel/ci-cd @ijjk @trek
/packages/static-build                   @vercel/ci-cd @trek
/packages/edge                           @vercel/compute
/packages/functions                      @vercel/compute
/packages/firewall                       @cramforce @sueplex
/examples                                @vercel/ci-cd @leerob @trek
/examples/create-react-app               @vercel/ci-cd @Timer
/examples/nextjs                         @vercel/ci-cd @ijjk @ztanner @huozhi
/packages/node                           @vercel/ci-cd @Kikobeats
/packages/related-projects               @vercel/ci-cd @Kikobeats @mknichel

# Unrestricted Paths
.changeset/

misc: improve "Note" UI for 401 status code integration to stand out (#13168)
  README.md
Owners: @vercel/ci-cd, @trek

Fix operationType for mixed app router slug with ISR/SSR
  packages/next/src/server-build.ts
  packages/next/test/integration/app-mixed-static-dynamic-slug/app/[...slug]/page.js
  packages/next/test/integration/app-mixed-static-dynamic-slug/app/layout.js
  packages/next/test/integration/app-mixed-static-dynamic-slug/app/page.js
  packages/next/test/integration/app-mixed-static-dynamic-slug/package.json
  packages/next/test/integration/app-mixed-static-dynamic-slug/vercel.json
  packages/next/test/integration/integration-2.test.js
Owners: @vercel/ci-cd, @timneutkens, @ijjk, @ztanner, @huozhi

add changeset
  .changeset/eight-rockets-swim.md
Owners: none

next-15-2-3
  .changeset/next-15-2-3.md
  examples/nextjs/package-lock.json
  examples/nextjs/package.json
Owners: @vercel/ci-cd, @ijjk, @ztanner, @huozhi

[examples][tests] Upgrade Next.js to version 15.2.3 (#13177)
  .changeset/next-15-2-3.md
  examples/nextjs/package-lock.json
  examples/nextjs/package.json
Owners: @vercel/ci-cd, @ijjk, @ztanner, @huozhi

Update next.config.ts
  examples/nextjs/next.config.ts
Owners: @vercel/ci-cd, @ijjk, @ztanner, @huozhi

Update test-lint.yml
  .github/workflows/test-lint.yml
Owners: @vercel/ci-cd, @ijjk, @trek

Add specific CLI bug report template
  .github/ISSUE_TEMPLATE/cli_bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
Owners: @vercel/ci-cd, @trek

Create eleven-countries-scream.md
  .changeset/eleven-countries-scream.md
Owners: none

Note what bug/feature requests are for
  .github/ISSUE_TEMPLATE/config.yml
Owners: @vercel/ci-cd, @trek

lint fix
  .github/ISSUE_TEMPLATE/cli_bug_report.yml
Owners: @vercel/ci-cd, @trek

Add specific CLI bug report template (#13186)
  .changeset/eleven-countries-scream.md
  .github/ISSUE_TEMPLATE/cli_bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
Owners: @vercel/ci-cd, @trek

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @vercel/ci-cd, @trek

Use markdown instead of yaml for issue templates
  .changeset/smooth-clouds-impress.md
  .github/ISSUE_TEMPLATE/cli_bug_report.md
  .github/ISSUE_TEMPLATE/cli_bug_report.yml
Owners: @vercel/ci-cd, @trek

Use markdown instead of yaml for issue templates (#13190)
  .changeset/smooth-clouds-impress.md
  .github/ISSUE_TEMPLATE/cli_bug_report.md
  .github/ISSUE_TEMPLATE/cli_bug_report.yml
Owners: @vercel/ci-cd, @trek

Tweak Issue title
  .changeset/rude-cobras-dress.md
  .github/ISSUE_TEMPLATE/cli_bug_report.md
Owners: @vercel/ci-cd, @trek

Tweak Issue title (#13191)
  .changeset/rude-cobras-dress.md
  .github/ISSUE_TEMPLATE/cli_bug_report.md
Owners: @vercel/ci-cd, @trek

Create authorization before integration resource provisioning
  packages/cli/src/commands/integration/add.ts
  packages/cli/src/util/integration/create-authorization.ts
  packages/cli/src/util/integration/fetch-authorization.ts
  packages/cli/src/util/integration/types.ts
  packages/cli/test/mocks/integration.ts
  packages/cli/test/unit/commands/integration/add.test.ts
Owners: @vercel/ci-cd, @trek

Create great-shoes-kiss.md
  .changeset/great-shoes-kiss.md
Owners: none

turbo-2-4-4
  package.json
  pnpm-lock.yaml
Owners: @vercel/ci-cd, @trek

[do not merge] add logs and traces
  packages/next/src/index.ts
  packages/next/src/utils.ts
Owners: @vercel/ci-cd, @timneutkens, @ijjk, @ztanner, @huozhi

next-15-2-4
  .changeset/next-15-2-4.md
  examples/nextjs/package-lock.json
  examples/nextjs/package.json
Owners: @vercel/ci-cd, @ijjk, @ztanner, @huozhi

[do not merge] add logs and traces
  packages/cli/src/commands/build/index.ts
Owners: @vercel/ci-cd, @trek

[do not merge] add logs and traces
  packages/cli/src/commands/build/index.ts
Owners: @vercel/ci-cd, @trek

[do not merge] add logs and traces
  packages/cli/src/commands/build/index.ts
Owners: @vercel/ci-cd, @trek

[do not merge] add logs and traces
  packages/cli/src/util/build/write-build-result.ts
Owners: @vercel/ci-cd, @trek

Pass authorization ID through to provision request
  packages/cli/src/commands/integration/add.ts
  packages/cli/src/util/integration/create-authorization.ts
  packages/cli/src/util/integration/provision-store-resource.ts
Owners: @vercel/ci-cd, @trek

Clean up output & type
  packages/cli/src/commands/integration/add.ts
  packages/cli/src/util/integration/types.ts
Owners: @vercel/ci-cd, @trek

Update tests with new output string
  packages/cli/test/unit/commands/integration/add.test.ts
Owners: @vercel/ci-cd, @trek

Add missing field to mocked authorization
  packages/cli/test/mocks/integration.ts
Owners: @vercel/ci-cd, @trek

Include default values of hidden metadata fields during create process
  packages/cli/src/commands/integration/wizard.ts
Owners: @vercel/ci-cd, @trek

Update great-shoes-kiss.md
  .changeset/great-shoes-kiss.md
Owners: none

Direct user to support in critical failure case
  packages/cli/src/commands/integration/add.ts
Owners: @vercel/ci-cd, @trek

Remove unnecessary null check left over from prior iteration
  packages/cli/src/commands/integration/add.ts
Owners: @vercel/ci-cd, @trek

Don't handle payment failed flow, too complex needing a new authorization object
  packages/cli/src/commands/integration/add.ts
Owners: @vercel/ci-cd, @trek

Update test for new early-exit fail flow
  packages/cli/test/unit/commands/integration/add.test.ts
Owners: @vercel/ci-cd, @trek

Remove unused installation ID from manual verification step call
  packages/cli/src/commands/integration/add.ts
Owners: @vercel/ci-cd, @trek

Add simple balance command for prepayment-based integrations
  packages/cli/src/commands/integration/balance.ts
  packages/cli/src/commands/integration/command.ts
  packages/cli/src/commands/integration/index.ts
  packages/cli/src/util/integration-resource/types.ts
  packages/cli/src/util/integration/fetch-installation-prepayment-info.ts
  packages/cli/src/util/integration/types.ts
  packages/cli/src/util/telemetry/commands/integration/balance.ts
  packages/cli/src/util/telemetry/commands/integration/index.ts
Owners: @vercel/ci-cd, @trek

Fix test
  packages/cli/test/unit/commands/integration/add.test.ts
Owners: @vercel/ci-cd, @trek

fix: determanistic group ids
  packages/next/src/utils.ts
Owners: @vercel/ci-cd, @timneutkens, @ijjk, @ztanner, @huozhi
