Repository vercel/vercel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vercel/ci-cd, @trek, @ijjk, @agadzik, @chloetedder, @timneutkens, @ztanner, @huozhi, @vercel/compute, @cramforce, @sueplex, @leerob, @Timer, @Kikobeats, @mknichel

.github/CODEOWNERS:

# Documentation
# https://help.github.com/en/articles/about-code-owners

# Restricted Paths
*                                        @vercel/ci-cd @trek
/.github/workflows                       @vercel/ci-cd @ijjk @trek
/packages/fs-detectors                   @vercel/ci-cd @agadzik @chloetedder @trek
/packages/next                           @vercel/ci-cd @timneutkens @ijjk @ztanner @huozhi
/packages/routing-utils                  @vercel/ci-cd @ijjk @trek
/packages/static-build                   @vercel/ci-cd @trek
/packages/edge                           @vercel/compute
/packages/functions                      @vercel/compute
/packages/firewall                       @cramforce @sueplex
/examples                                @vercel/ci-cd @leerob @trek
/examples/create-react-app               @vercel/ci-cd @Timer
/examples/nextjs                         @vercel/ci-cd @ijjk @ztanner @huozhi
/packages/node                           @vercel/ci-cd @Kikobeats
/packages/related-projects               @vercel/ci-cd @Kikobeats @mknichel

# Unrestricted Paths
.changeset/

feat: `patchEnvFile` will update `.gitignore` if necessary
  packages/cli/src/commands/dev/dev.ts
  packages/cli/src/util/env/patch-env-file.ts
  packages/cli/src/util/env/refresh-oidc-token.ts
Owners: @vercel/ci-cd, @trek

fix: don't delete `VERCEL_OIDC_TOKEN` if user has custom `.env.local`
  packages/cli/src/util/env/refresh-oidc-token.ts
Owners: @vercel/ci-cd, @trek

feat: improve logging in `refreshOidcToken`
  packages/cli/src/util/env/refresh-oidc-token.ts
Owners: @vercel/ci-cd, @trek

chore: refreshes must be opted-in to with `VERCEL_REFRESH_OIDC_TOKEN`
  packages/cli/src/util/env/refresh-oidc-token.ts
Owners: @vercel/ci-cd, @trek

chore: setup telemetry for OIDC refreshes
  packages/cli/src/commands/dev/dev.ts
  packages/cli/src/commands/dev/index.ts
  packages/cli/src/util/env/refresh-oidc-token.ts
  packages/cli/src/util/telemetry/commands/dev/index.ts
  packages/cli/src/util/telemetry/index.ts
Owners: @vercel/ci-cd, @trek

chore: print delta string when refreshing OIDC token
  packages/cli/src/util/env/refresh-oidc-token.ts
Owners: @vercel/ci-cd, @trek

feat: print delta string in `refreshOidcToken`
  packages/cli/src/util/env/patch-env-file.ts
  packages/cli/src/util/env/refresh-oidc-token.ts
Owners: @vercel/ci-cd, @trek

chore: add changeset
  .changeset/shy-rice-allow.md
Owners: none

chore: rename environment variable to REFRESH_VERCEL_OIDC_TOKEN
  .changeset/shy-rice-allow.md
  packages/cli/src/util/env/refresh-oidc-token.ts
Owners: @vercel/ci-cd, @trek

chore: delete comment
  packages/cli/src/commands/dev/dev.ts
Owners: @vercel/ci-cd, @trek

chore: improve log
  packages/cli/src/util/env/patch-env-file.ts
  packages/cli/src/util/env/refresh-oidc-token.ts
Owners: @vercel/ci-cd, @trek

chore: fix telemetry
  packages/cli/src/util/telemetry/commands/dev/index.ts
Owners: @vercel/ci-cd, @trek

chore: override timeouts with environment variables
  packages/cli/src/util/env/refresh-oidc-token.ts
Owners: @vercel/ci-cd, @trek

fix: write the token if it's not local
  packages/cli/src/util/env/refresh-oidc-token.ts
Owners: @vercel/ci-cd, @trek

[next] Enable blocking fallback routes to provide fallback root params (#13215)
  .changeset/nasty-feet-cover.md
  packages/next/src/utils.ts
Owners: @vercel/ci-cd, @timneutkens, @ijjk, @ztanner, @huozhi

Version Packages (#13206)
  .changeset/eleven-countries-scream.md
  .changeset/great-shoes-kiss.md
  .changeset/nasty-adults-cheat.md
  .changeset/next-15-2-3.md
  .changeset/next-15-2-4.md
  .changeset/proud-rings-draw.md
  .changeset/rude-cobras-dress.md
  .changeset/six-icons-taste.md
  .changeset/smooth-clouds-impress.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/python/CHANGELOG.md
  packages/python/package.json
  pnpm-lock.yaml
Owners: @vercel/ci-cd, @trek, @timneutkens, @ijjk, @ztanner, @huozhi

Add 'create-threshold' subcommand to integration-resource command
  packages/cli/src/commands/integration-resource/command.ts
  packages/cli/src/commands/integration-resource/create-threshold.ts
  packages/cli/src/commands/integration-resource/index.ts
  packages/cli/src/commands/integration/balance.ts
  packages/cli/src/util/integration-resource/types.ts
  packages/cli/src/util/integration-resource/update-threshold.ts
  packages/cli/src/util/integration/fetch-installation-prepayment-info.ts
  packages/cli/src/util/integration/types.ts
  packages/cli/src/util/integration/update-installation-threshold.ts
  packages/cli/src/util/telemetry/commands/integration-resource/create-threshold.ts
  packages/cli/src/util/telemetry/commands/integration-resource/index.ts
  packages/cli/test/mocks/integration.ts
  packages/cli/test/unit/commands/integration-resource/create-threshold.test.ts
Owners: @vercel/ci-cd, @trek

Create tame-pears-listen.md
  .changeset/tame-pears-listen.md
Owners: none

Update modern-gifts-flow.md
  .changeset/modern-gifts-flow.md
Owners: none

Update tame-pears-listen.md
  .changeset/tame-pears-listen.md
Owners: none

Add simple balance command for prepayment-based integrations (#13204)
  .changeset/modern-gifts-flow.md
  packages/cli/src/commands/integration/balance.ts
  packages/cli/src/commands/integration/command.ts
  packages/cli/src/commands/integration/index.ts
  packages/cli/src/util/integration-resource/types.ts
  packages/cli/src/util/integration/fetch-installation-prepayment-info.ts
  packages/cli/src/util/integration/types.ts
  packages/cli/src/util/telemetry/commands/integration/balance.ts
  packages/cli/src/util/telemetry/commands/integration/index.ts
  packages/cli/test/mocks/integration.ts
  packages/cli/test/unit/commands/integration/balance.test.ts
  packages/cli/test/unit/commands/integration/list.test.ts
Owners: @vercel/ci-cd, @trek

chore: upgrade to turbo 2.5.0
  examples/package.json
  package.json
  packages/cli/turbo.json
  packages/functions/turbo.json
  packages/gatsby-plugin-vercel-analytics/turbo.json
  packages/react-router/turbo.json
  pnpm-lock.yaml
  turbo.json
Owners: @vercel/ci-cd, @leerob, @trek, @vercel/compute

chore: remove scope usage
  .github/workflows/test.yml
Owners: @vercel/ci-cd, @ijjk, @trek

Create new threshold for prepayment top-up via CLI (#13218)
  .changeset/tame-pears-listen.md
  packages/cli/src/commands/integration-resource/command.ts
  packages/cli/src/commands/integration-resource/create-threshold.ts
  packages/cli/src/commands/integration-resource/index.ts
  packages/cli/src/commands/integration/balance.ts
  packages/cli/src/util/integration-resource/types.ts
  packages/cli/src/util/integration-resource/update-threshold.ts
  packages/cli/src/util/integration/fetch-installation-prepayment-info.ts
  packages/cli/src/util/integration/types.ts
  packages/cli/src/util/integration/update-installation-threshold.ts
  packages/cli/src/util/telemetry/commands/integration-resource/create-threshold.ts
  packages/cli/src/util/telemetry/commands/integration-resource/index.ts
  packages/cli/test/mocks/integration.ts
  packages/cli/test/unit/commands/integration-resource/create-threshold.test.ts
Owners: @vercel/ci-cd, @trek

Fix linting errors around string quote type usage
  packages/cli/test/unit/commands/integration-resource/create-threshold.test.ts
Owners: @vercel/ci-cd, @trek

Allow any product type in integration add, but kick to web UI for unsupported billing plans
  packages/cli/src/commands/integration/add.ts
Owners: @vercel/ci-cd, @trek

Test prepayment plan selection sends user to Vercel dashboard
  packages/cli/test/mocks/integration.ts
  packages/cli/test/unit/commands/integration/add.test.ts
Owners: @vercel/ci-cd, @trek

add empty changeset
  .changeset/perfect-numbers-cheat.md
Owners: none

Create purple-suns-grow.md
  .changeset/purple-suns-grow.md
Owners: none

feat: runtime cache api
  packages/functions/src/cache/in-memory-cache.ts
  packages/functions/src/cache/index.ts
  packages/functions/src/cache/types.ts
  packages/functions/src/get-context.ts
  packages/functions/src/index.ts
  packages/functions/test/unit/cache/index.test.ts
Owners: @vercel/compute

fix type issue
  packages/functions/src/cache/index.ts
Owners: @vercel/compute

changeset
  .changeset/little-chefs-allow.md
Owners: none

documentation updates
  packages/functions/docs/interfaces/index.RuntimeCache.md
  packages/functions/docs/modules/index.md
  packages/functions/src/cache/index.ts
  packages/functions/src/cache/types.ts
Owners: @vercel/compute

Allow all integration categories for resource provision, send to dashboard on non-subscription plan selection (#13220)
  .changeset/purple-suns-grow.md
  packages/cli/src/commands/integration/add.ts
  packages/cli/test/mocks/integration.ts
  packages/cli/test/unit/commands/integration-resource/create-threshold.test.ts
  packages/cli/test/unit/commands/integration/add.test.ts
Owners: @vercel/ci-cd, @trek

chore: upgrade to turbo 2.5.0 (#13219)
  .changeset/perfect-numbers-cheat.md
  .github/workflows/test.yml
  examples/package.json
  package.json
  packages/cli/turbo.json
  packages/functions/turbo.json
  packages/gatsby-plugin-vercel-analytics/turbo.json
  packages/react-router/turbo.json
  pnpm-lock.yaml
  turbo.json
Owners: @vercel/ci-cd, @ijjk, @trek, @leerob, @vercel/compute

ensure app router 404 page is served when using pages + i18n
  packages/next/src/server-build.ts
  packages/next/test/fixtures/00-app-dir-not-found-pages-interop/app/admin/[[...tool]]/page.tsx
  packages/next/test/fixtures/00-app-dir-not-found-pages-interop/app/layout.tsx
  packages/next/test/fixtures/00-app-dir-not-found-pages-interop/app/not-found.tsx
  packages/next/test/fixtures/00-app-dir-not-found-pages-interop/index.test.js
  packages/next/test/fixtures/00-app-dir-not-found-pages-interop/next.config.js
  packages/next/test/fixtures/00-app-dir-not-found-pages-interop/package.json
  packages/next/test/fixtures/00-app-dir-not-found-pages-interop/pages/404.tsx
  packages/next/test/fixtures/00-app-dir-not-found-pages-interop/pages/[[...slug]].tsx
  packages/next/test/fixtures/00-app-dir-not-found-pages-interop/pages/_app.tsx
  packages/next/test/fixtures/00-app-dir-not-found-pages-interop/pages/_document.tsx
  packages/next/test/fixtures/00-app-dir-not-found-pages-interop/vercel.json
Owners: @vercel/ci-cd, @timneutkens, @ijjk, @ztanner, @huozhi

Read from requiredServerFilesManifest instead
  packages/next/src/index.ts
  packages/next/src/server-build.ts
  packages/next/src/utils.ts
Owners: @vercel/ci-cd, @timneutkens, @ijjk, @ztanner, @huozhi

Update README.md
  README.md
Owners: @vercel/ci-cd, @trek

Create eight-chicken-retire.md
  .changeset/eight-chicken-retire.md
Owners: none

[cli] refresh `VERCEL_OIDC_TOKEN`
  .changeset/shy-rice-allow.md
  packages/cli/src/commands/dev/dev.ts
  packages/cli/src/util/dev/server.ts
  packages/cli/src/util/env/refresh-oidc-token.ts
  packages/cli/src/util/telemetry/commands/dev/index.ts
  packages/cli/src/util/telemetry/index.ts
Owners: @vercel/ci-cd, @trek
