Repository vercel/vercel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vercel/ci-cd, @trek, @ijjk, @agadzik, @chloetedder, @timneutkens, @ztanner, @huozhi, @vercel/compute, @cramforce, @sueplex, @leerob, @Timer, @Kikobeats, @mknichel

Add new billing plan fields for preauth and prepayment
  packages/cli/src/util/integration/types.ts
Owners: @vercel/ci-cd, @trek

[build-utils] Automatically cache deps for yarn 3+ (#13144)
  .changeset/strong-ways-decide.md
  packages/build-utils/src/fs/run-user-scripts.ts
  packages/build-utils/test/unit.run-npm-install.test.ts
Owners: @vercel/ci-cd, @trek

[cli] Add `vercel project inspect` subcommand (#13149)
  .changeset/lucky-suits-watch.md
  packages/cli/src/commands/domains/command.ts
  packages/cli/src/commands/project/command.ts
  packages/cli/src/commands/project/index.ts
  packages/cli/src/commands/project/inspect.ts
  packages/cli/src/commands/promote/index.ts
  packages/cli/src/commands/rollback/index.ts
  packages/cli/src/util/arg-common.ts
  packages/cli/src/util/projects/get-project-by-cwd-or-link.ts
  packages/cli/src/util/projects/remove-project.ts
  packages/cli/src/util/telemetry/commands/project/index.ts
  packages/cli/src/util/telemetry/commands/project/inspect.ts
  packages/cli/test/unit/commands/__snapshots__/help.test.ts.snap
  packages/cli/test/unit/commands/help.test.ts
  packages/cli/test/unit/commands/project/inspect.test.ts
Owners: @vercel/ci-cd, @trek

Add minimum & maximum amount to prepayment billing plans
  packages/cli/src/commands/integration/add.ts
Owners: @vercel/ci-cd, @trek

Remove TODO comment
  packages/cli/src/commands/integration/add.ts
Owners: @vercel/ci-cd, @trek

Force all resource creation to use web UI to use authorization flow
  packages/cli/src/commands/integration/add.ts
Owners: @vercel/ci-cd, @trek

Create seven-pumpkins-sort.md
  .changeset/seven-pumpkins-sort.md
Owners: none

Set tests to expect web UI for install for temporary fix
  packages/cli/test/unit/commands/integration/add.test.ts
Owners: @vercel/ci-cd, @trek

Force all resource creation to use web UI to use authorization flow (#13154)
  .changeset/seven-pumpkins-sort.md
  packages/cli/src/commands/integration/add.ts
  packages/cli/test/unit/commands/integration/add.test.ts
Owners: @vercel/ci-cd, @trek

Version Packages (#13142)
  .changeset/giant-clouds-double.md
  .changeset/gorgeous-jars-peel.md
  .changeset/lucky-suits-watch.md
  .changeset/next-15-2-2.md
  .changeset/seven-pumpkins-sort.md
  .changeset/strong-ways-decide.md
  .changeset/thin-mugs-hammer.md
  examples/package.json
  internals/types/package.json
  packages/build-utils/CHANGELOG.md
  packages/build-utils/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/fs-detectors/package.json
  packages/gatsby-plugin-vercel-builder/CHANGELOG.md
  packages/gatsby-plugin-vercel-builder/package.json
  packages/go/package.json
  packages/hydrogen/package.json
  packages/next/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/python/package.json
  packages/redwood/package.json
  packages/remix/package.json
  packages/ruby/package.json
  packages/static-build/CHANGELOG.md
  packages/static-build/package.json
  pnpm-lock.yaml
Owners: @vercel/ci-cd, @leerob, @trek, @agadzik, @chloetedder, @timneutkens, @ijjk, @ztanner, @huozhi, @Kikobeats

[remix] Fix Edge runtime rendering
  .changeset/strong-flies-sell.md
  packages/remix/src/build-vite.ts
Owners: @vercel/ci-cd, @trek

[remix] Fix Edge runtime rendering (#13155)
  .changeset/strong-flies-sell.md
  packages/remix/src/build-vite.ts
Owners: @vercel/ci-cd, @trek

Respect engines.pnpm when detecting pnpm 10
  packages/build-utils/src/fs/run-user-scripts.ts
  packages/next/src/index.ts
Owners: @vercel/ci-cd, @trek, @timneutkens, @ijjk, @ztanner, @huozhi

Add tests
  packages/build-utils/test/unit.detect-package-manager.test.ts
Owners: @vercel/ci-cd, @trek

Fix typo
  packages/build-utils/test/unit.detect-package-manager.test.ts
Owners: @vercel/ci-cd, @trek

Add changeset
  .changeset/large-frogs-compare.md
Owners: none

Add authorization state type
  packages/cli/src/util/integration/types.ts
Owners: @vercel/ci-cd, @trek

[cli] Formatting tweaks to `vc target ls`
  .changeset/seven-steaks-mix.md
  packages/cli/src/commands/target/list.ts
  packages/cli/src/util/target/format-environment.ts
Owners: @vercel/ci-cd, @trek

Fix next metrics
  packages/next/src/index.ts
Owners: @vercel/ci-cd, @timneutkens, @ijjk, @ztanner, @huozhi

[cli] Formatting tweaks to `vc target ls` (#13161)
  .changeset/seven-steaks-mix.md
  packages/cli/src/commands/target/list.ts
  packages/cli/src/util/target/format-environment.ts
Owners: @vercel/ci-cd, @trek

Add test
  packages/build-utils/test/fixtures/46-yarn-dynamic-require/.gitignore
  packages/build-utils/test/fixtures/46-yarn-dynamic-require/package.json
  packages/build-utils/test/fixtures/46-yarn-dynamic-require/yarn.lock
  packages/build-utils/test/unit.run-npm-install.test.ts
Owners: @vercel/ci-cd, @trek

[build-utils] increase max memory limit
  .changeset/proud-cobras-bow.md
  packages/build-utils/src/schemas.ts
  packages/cli/test/unit/util/dev/validate.test.ts
  packages/fs-detectors/src/detect-builders.ts
Owners: @vercel/ci-cd, @trek, @agadzik, @chloetedder

Skip fixture
  packages/build-utils/test/integration.test.ts
Owners: @vercel/ci-cd, @trek

set semas from env vars
  packages/build-utils/src/file-fs-ref.ts
  packages/build-utils/src/index.ts
  packages/build-utils/src/lambda.ts
  packages/next/src/index.ts
  packages/next/src/server-build.ts
Owners: @vercel/ci-cd, @trek, @timneutkens, @ijjk, @ztanner, @huozhi

[build-utils] increase max memory limit (#13162)
  .changeset/proud-cobras-bow.md
  packages/build-utils/src/schemas.ts
  packages/cli/test/unit/util/dev/validate.test.ts
  packages/fs-detectors/src/detect-builders.ts
Owners: @vercel/ci-cd, @trek, @agadzik, @chloetedder

changeset
  .changeset/late-lizards-brake.md
Owners: none

schema
  packages/next/src/server-build.ts
Owners: @vercel/ci-cd, @timneutkens, @ijjk, @ztanner, @huozhi

update response expectations
  packages/next/test/fixtures/00-app-dir-base-path/vercel.json
  packages/next/test/fixtures/00-app-dir-middleware/vercel.json
  packages/next/test/fixtures/00-app-dir-no-ppr/vercel.json
  packages/next/test/fixtures/00-app-dir-ppr/vercel.json
  packages/next/test/fixtures/00-app-dir-static/vercel.json
  packages/next/test/fixtures/00-app-dir-trailing-slash/vercel.json
  packages/next/test/fixtures/01-app-dir-static/vercel.json
Owners: @vercel/ci-cd, @timneutkens, @ijjk, @ztanner, @huozhi

update response expectations 2
  packages/next/test/fixtures/00-app-dir-base-path/vercel.json
  packages/next/test/fixtures/00-app-dir-no-ppr/vercel.json
  packages/next/test/fixtures/00-app-dir-ppr/vercel.json
  packages/next/test/fixtures/00-app-dir-static/vercel.json
  packages/next/test/fixtures/00-app-dir-trailing-slash/vercel.json
Owners: @vercel/ci-cd, @timneutkens, @ijjk, @ztanner, @huozhi

[now-next] Skip vary header for Next.js >= 13.4.6
  packages/next/src/index.ts
  packages/next/src/server-build.ts
  packages/next/src/utils.ts
Owners: @vercel/ci-cd, @timneutkens, @ijjk, @ztanner, @huozhi

prettier
  packages/next/src/server-build.ts
  packages/next/src/utils.ts
Owners: @vercel/ci-cd, @timneutkens, @ijjk, @ztanner, @huozhi

[next]: skip vary header for Next.js >= 13.4.6 (#13011)
  .changeset/late-lizards-brake.md
  packages/next/src/index.ts
  packages/next/src/server-build.ts
  packages/next/src/utils.ts
  packages/next/test/fixtures/00-app-dir-base-path/vercel.json
  packages/next/test/fixtures/00-app-dir-middleware/vercel.json
  packages/next/test/fixtures/00-app-dir-no-ppr/vercel.json
  packages/next/test/fixtures/00-app-dir-ppr/vercel.json
  packages/next/test/fixtures/00-app-dir-static/vercel.json
  packages/next/test/fixtures/00-app-dir-trailing-slash/vercel.json
  packages/next/test/fixtures/01-app-dir-static/vercel.json
Owners: @vercel/ci-cd, @timneutkens, @ijjk, @ztanner, @huozhi

[build-utils] Detect and warn for yarn dynamic require error (#13143)
  .changeset/perfect-badgers-confess.md
  packages/build-utils/src/fs/run-user-scripts.ts
  packages/build-utils/src/types.ts
  packages/build-utils/test/fixtures/46-yarn-dynamic-require/.gitignore
  packages/build-utils/test/fixtures/46-yarn-dynamic-require/package.json
  packages/build-utils/test/fixtures/46-yarn-dynamic-require/yarn.lock
  packages/build-utils/test/integration.test.ts
  packages/build-utils/test/unit.run-npm-install.test.ts
Owners: @vercel/ci-cd, @trek

Add changeset
  .changeset/rich-lizards-collect.md
Owners: none

Improve "Note" UI for 401 status code integration to stand out
  README.md
Owners: @vercel/ci-cd, @trek

test: 63-absolute-import
  packages/node/test/fixtures/63-absolute-import/api/index.ts
  packages/node/test/fixtures/63-absolute-import/probes.json
  packages/node/test/fixtures/63-absolute-import/src/foo.ts
  packages/node/test/fixtures/63-absolute-import/tsconfig.json
  packages/node/test/fixtures/63-absolute-import/vercel.json
Owners: @vercel/ci-cd, @Kikobeats

test: 64-module-aliases
  packages/node/test/fixtures/64-module-aliases/api/index.ts
  packages/node/test/fixtures/64-module-aliases/probes.json
  packages/node/test/fixtures/64-module-aliases/src/foo.ts
  packages/node/test/fixtures/64-module-aliases/tsconfig.json
  packages/node/test/fixtures/64-module-aliases/vercel.json
Owners: @vercel/ci-cd, @Kikobeats

Rename README.md to README.md1
  README.md1
Owners: @vercel/ci-cd, @trek

Add license to gatsby-plugin-vercel-builder/package.json
  packages/gatsby-plugin-vercel-builder/package.json
Owners: @vercel/ci-cd, @trek

wip: add tsconfig-paths to be registered
  packages/node/package.json
  packages/node/src/typescript.ts
  packages/node/test/fixtures/63-absolute-import/probes.json
  packages/node/test/fixtures/64-module-aliases/probes.json
  pnpm-lock.yaml
Owners: @vercel/ci-cd, @Kikobeats, @trek

.github/CODEOWNERS:

# Documentation
# https://help.github.com/en/articles/about-code-owners

# Restricted Paths
*                                        @vercel/ci-cd @trek
/.github/workflows                       @vercel/ci-cd @ijjk @trek
/packages/fs-detectors                   @vercel/ci-cd @agadzik @chloetedder @trek
/packages/next                           @vercel/ci-cd @timneutkens @ijjk @ztanner @huozhi
/packages/routing-utils                  @vercel/ci-cd @ijjk @trek
/packages/static-build                   @vercel/ci-cd @trek
/packages/edge                           @vercel/compute
/packages/functions                      @vercel/compute
/packages/firewall                       @cramforce @sueplex
/examples                                @vercel/ci-cd @leerob @trek
/examples/create-react-app               @vercel/ci-cd @Timer
/examples/nextjs                         @vercel/ci-cd @ijjk @ztanner @huozhi
/packages/node                           @vercel/ci-cd @Kikobeats
/packages/related-projects               @vercel/ci-cd @Kikobeats @mknichel

# Unrestricted Paths
.changeset/
