Repository vercel/vercel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vercel/ci-cd, @trek, @ijjk, @agadzik, @chloetedder, @timneutkens, @ztanner, @huozhi, @vercel/compute, @cramforce, @sueplex, @leerob, @Timer, @Kikobeats, @mknichel

[env-vars] expose VERCEL_DEPLOYMENT_ID as NEXT_PUBLIC_...
  packages/build-utils/src/get-prefixed-env-vars.ts
  packages/build-utils/test/unit.get-prefixed-env-vars.test.ts
Owners: @vercel/ci-cd, @trek

Create fluffy-monkeys-protect.md
  .changeset/fluffy-monkeys-protect.md
Owners: none

[errors] improve 'not found' error messaging to include scope (#13111)
  .changeset/khaki-wasps-smoke.md
  packages/cli/src/commands/remove/index.ts
  packages/cli/src/util/alias/create-alias.ts
  packages/cli/src/util/alias/get-aliases.ts
Owners: @vercel/ci-cd, @trek

[build-utils] Parse `yarn.lock` version (#13114)
  .changeset/afraid-apes-clap.md
  packages/build-utils/src/fs/run-user-scripts.ts
  packages/build-utils/test/fixtures/44-yarn-v4/.gitignore
  packages/build-utils/test/fixtures/44-yarn-v4/package.json
  packages/build-utils/test/fixtures/44-yarn-v4/yarn.lock
  packages/build-utils/test/fixtures/45-yarn-v1/.gitignore
  packages/build-utils/test/fixtures/45-yarn-v1/package.json
  packages/build-utils/test/fixtures/45-yarn-v1/yarn.lock
  packages/build-utils/test/integration.test.ts
  packages/build-utils/test/unit.test.ts
Owners: @vercel/ci-cd, @trek

[env-vars] expose VERCEL_DEPLOYMENT_ID as NEXT_PUBLIC_VERCEL_DEPLOYMENT_ID (#13115)
  .changeset/fluffy-monkeys-protect.md
  packages/build-utils/src/get-prefixed-env-vars.ts
  packages/build-utils/test/unit.get-prefixed-env-vars.test.ts
Owners: @vercel/ci-cd, @trek

[env-vars] expose VERCEL_DEPLOYMENT_ID as NEXT_PUBLIC_VERCEL_DEPLOYMENT_ID (#13115)
  .changeset/fluffy-monkeys-protect.md
  packages/build-utils/src/get-prefixed-env-vars.ts
  packages/build-utils/test/unit.get-prefixed-env-vars.test.ts
Owners: @vercel/ci-cd, @trek

[react-router] Use underscore in server bundle ID for compatibility with Vite Environments API (#13101)
  .changeset/orange-cats-sip.md
  packages/react-router/vite.ts
Owners: @vercel/ci-cd, @trek

feat(cli): add `login --future` and `logout --future` (#12098)
  .changeset/heavy-terms-reply.md
  packages/cli/package.json
  packages/cli/src/commands/login/command.ts
  packages/cli/src/commands/login/future.ts
  packages/cli/src/commands/login/index.ts
  packages/cli/src/commands/logout/command.ts
  packages/cli/src/commands/logout/future.ts
  packages/cli/src/commands/logout/index.ts
  packages/cli/src/util/oauth.ts
  packages/cli/test/unit/commands/__snapshots__/help.test.ts.snap
  packages/cli/test/unit/commands/login/future.test.ts
  packages/cli/test/unit/commands/logout/future.test.ts
  pnpm-lock.yaml
Owners: @vercel/ci-cd, @trek

Remove unused detected pnpm version
  packages/build-utils/src/fs/run-user-scripts.ts
Owners: @vercel/ci-cd, @trek

Detect yarn version from lockfile version
  packages/build-utils/src/fs/run-user-scripts.ts
  packages/build-utils/test/unit.detect-package-manager.test.ts
  packages/build-utils/test/unit.get-path-for-package-manager.test.ts
Owners: @vercel/ci-cd, @trek

Fix build-utils type-check
  packages/build-utils/test/unit.get-path-for-package-manager.test.ts
  packages/build-utils/test/unit.get-spawn-options.test.ts
  packages/build-utils/tsconfig.json
Owners: @vercel/ci-cd, @trek

Add changeset
  .changeset/short-wolves-beg.md
Owners: none

Add changeset
  .changeset/slimy-buttons-crash.md
Owners: none

Fix tests
  packages/build-utils/test/unit.detect-package-manager.test.ts
Owners: @vercel/ci-cd, @trek

Improve changeset message
  .changeset/short-wolves-beg.md
Owners: none

.
  packages/build-utils/tsconfig.json
Owners: @vercel/ci-cd, @trek

[build-utils] detect yarn version from lockfile version (#13118)
  .changeset/slimy-buttons-crash.md
  packages/build-utils/src/fs/run-user-scripts.ts
  packages/build-utils/test/unit.detect-package-manager.test.ts
  packages/build-utils/test/unit.get-path-for-package-manager.test.ts
Owners: @vercel/ci-cd, @trek

Add pnpm 10 detection to next builder metrics
  .changeset/loud-pants-appear.md
  packages/next/src/index.ts
Owners: @vercel/ci-cd, @timneutkens, @ijjk, @ztanner, @huozhi

Fix tsconfig
  packages/build-utils/tsconfig.json
Owners: @vercel/ci-cd, @trek

.
  packages/build-utils/tsconfig.json
Owners: @vercel/ci-cd, @trek

[build-utils] Add pnpm 10 detection to next builder metrics (#13121)
  .changeset/loud-pants-appear.md
  packages/next/src/index.ts
Owners: @vercel/ci-cd, @timneutkens, @ijjk, @ztanner, @huozhi

update/gatsby-fixtures
  packages/static-build/test/fixtures/gatsby-v2/package-lock.json
  packages/static-build/test/fixtures/gatsby-v3/package-lock.json
  packages/static-build/test/fixtures/gatsby-v4/package-lock.json
  packages/static-build/test/fixtures/gatsby-v5-pathPrefix/package-lock.json
  packages/static-build/test/fixtures/gatsby-v5/package-lock.json
Owners: @vercel/ci-cd, @trek

[next]: Read `initialExpireSeconds` from prerender manifest
  packages/build-utils/src/prerender.ts
  packages/next/src/utils.ts
  packages/next/test/integration/integration-2.test.js
  packages/next/test/integration/use-cache/app/[slug]/page.js
  packages/next/test/integration/use-cache/app/layout.js
  packages/next/test/integration/use-cache/app/page.js
  packages/next/test/integration/use-cache/app/static/page.js
  packages/next/test/integration/use-cache/next.config.js
  packages/next/test/integration/use-cache/package.json
  packages/next/test/integration/use-cache/vercel.json
Owners: @vercel/ci-cd, @trek, @timneutkens, @ijjk, @ztanner, @huozhi

Add changeset
  .changeset/lemon-ghosts-drop.md
Owners: none

Do not fail when `.turbo/runs` directory does not exist
  utils/determine-turbo-hit-or-miss.js
Owners: @vercel/ci-cd, @trek

Update Next.js version in new test fixture
  packages/next/test/integration/use-cache/package.json
Owners: @vercel/ci-cd, @timneutkens, @ijjk, @ztanner, @huozhi

Update test.yml
  .github/workflows/test.yml
Owners: @vercel/ci-cd, @ijjk, @trek

[next]: Read expire values from prerender manifest (#13087)
  .changeset/lemon-ghosts-drop.md
  packages/build-utils/src/prerender.ts
  packages/next/src/utils.ts
  packages/next/test/integration/integration-2.test.js
  packages/next/test/integration/use-cache/app/[slug]/page.js
  packages/next/test/integration/use-cache/app/layout.js
  packages/next/test/integration/use-cache/app/page.js
  packages/next/test/integration/use-cache/app/static/page.js
  packages/next/test/integration/use-cache/next.config.js
  packages/next/test/integration/use-cache/package.json
  packages/next/test/integration/use-cache/vercel.json
  utils/determine-turbo-hit-or-miss.js
Owners: @vercel/ci-cd, @trek, @timneutkens, @ijjk, @ztanner, @huozhi

next-15-2-1
  .changeset/next-15-2-1.md
  examples/nextjs/app/globals.css
  examples/nextjs/package-lock.json
  examples/nextjs/package.json
Owners: @vercel/ci-cd, @ijjk, @ztanner, @huozhi

[examples][tests] Upgrade Next.js to version 15.2.1 (#13126)
  .changeset/next-15-2-1.md
  examples/nextjs/app/globals.css
  examples/nextjs/package-lock.json
  examples/nextjs/package.json
Owners: @vercel/ci-cd, @ijjk, @ztanner, @huozhi

fix: examples/hexo/package.json & examples/hexo/yarn.lock to reduce vulnerabilities
  examples/hexo/package.json
  examples/hexo/yarn.lock
Owners: @vercel/ci-cd, @leerob, @trek

Version Packages (#13120)
  .changeset/lemon-ghosts-drop.md
  .changeset/loud-pants-appear.md
  .changeset/next-15-2-1.md
  .changeset/slimy-buttons-crash.md
  examples/package.json
  internals/types/package.json
  packages/build-utils/CHANGELOG.md
  packages/build-utils/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/fs-detectors/package.json
  packages/gatsby-plugin-vercel-builder/CHANGELOG.md
  packages/gatsby-plugin-vercel-builder/package.json
  packages/go/package.json
  packages/hydrogen/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/python/package.json
  packages/redwood/package.json
  packages/remix/package.json
  packages/ruby/package.json
  packages/static-build/CHANGELOG.md
  packages/static-build/package.json
  pnpm-lock.yaml
Owners: @vercel/ci-cd, @leerob, @trek, @agadzik, @chloetedder, @timneutkens, @ijjk, @ztanner, @huozhi, @Kikobeats

[rewrites] fix base path not rewriting
  packages/cli/test/dev/fixtures/test-rewrites/vercel.json
  packages/cli/test/dev/integration-2.test.ts
Owners: @vercel/ci-cd, @trek

hmm
  packages/cli/test/dev/fixtures/test-external-rewrites-and-redirects/vercel.json
Owners: @vercel/ci-cd, @trek

Fix registry error by installing latest corepack
  .github/workflows/cron-update-next-canary.yml
Owners: @vercel/ci-cd, @ijjk, @trek

Add empty changeset
  .changeset/perfect-boxes-beg.md
Owners: none

.
  packages/build-utils/src/fs/run-user-scripts.ts
Owners: @vercel/ci-cd, @trek

.
  packages/build-utils/src/fs/run-user-scripts.ts
Owners: @vercel/ci-cd, @trek

Fix next cron update (#13130)
  .changeset/perfect-boxes-beg.md
  .github/workflows/cron-update-next-canary.yml
Owners: @vercel/ci-cd, @ijjk, @trek

Migrate pnpm@6 to a standardized location
  packages/build-utils/src/fs/run-user-scripts.ts
Owners: @vercel/ci-cd, @trek

.github/CODEOWNERS:

# Documentation
# https://help.github.com/en/articles/about-code-owners

# Restricted Paths
*                                        @vercel/ci-cd @trek
/.github/workflows                       @vercel/ci-cd @ijjk @trek
/packages/fs-detectors                   @vercel/ci-cd @agadzik @chloetedder @trek
/packages/next                           @vercel/ci-cd @timneutkens @ijjk @ztanner @huozhi
/packages/routing-utils                  @vercel/ci-cd @ijjk @trek
/packages/static-build                   @vercel/ci-cd @trek
/packages/edge                           @vercel/compute
/packages/functions                      @vercel/compute
/packages/firewall                       @cramforce @sueplex
/examples                                @vercel/ci-cd @leerob @trek
/examples/create-react-app               @vercel/ci-cd @Timer
/examples/nextjs                         @vercel/ci-cd @ijjk @ztanner @huozhi
/packages/node                           @vercel/ci-cd @Kikobeats
/packages/related-projects               @vercel/ci-cd @Kikobeats @mknichel

# Unrestricted Paths
.changeset/
