Repository vercel/vercel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vercel/ci-cd, @ijjk, @agadzik, @chloetedder, @timneutkens, @ztanner, @huozhi, @vercel/compute, @cramforce, @sueplex, @leerob, @Timer, @Kikobeats, @mknichel

.github/CODEOWNERS:

# Documentation
# https://help.github.com/en/articles/about-code-owners

# Restricted Paths
*                                        @vercel/ci-cd
/.github/workflows                       @vercel/ci-cd @ijjk
/packages/fs-detectors                   @vercel/ci-cd @agadzik @chloetedder
/packages/next                           @vercel/ci-cd @timneutkens @ijjk @ztanner @huozhi
/packages/routing-utils                  @vercel/ci-cd @ijjk
/packages/static-build                   @vercel/ci-cd
/packages/edge                           @vercel/compute
/packages/functions                      @vercel/compute
/packages/firewall                       @cramforce @sueplex
/examples                                @vercel/ci-cd @leerob
/examples/create-react-app               @vercel/ci-cd @Timer
/examples/nextjs                         @vercel/ci-cd @ijjk @ztanner @huozhi
/packages/node                           @vercel/ci-cd @Kikobeats
/packages/related-projects               @vercel/ci-cd @Kikobeats @mknichel

# Unrestricted Paths
.changeset/

add more tests, help telemetry, add test coverage tool
  packages/cli/package.json
  packages/cli/src/commands/login/future/command.ts
  packages/cli/src/commands/login/future/index.ts
  packages/cli/src/commands/login/index.ts
  packages/cli/src/commands/logout/future/index.ts
  packages/cli/src/commands/logout/index.ts
  packages/cli/src/util/oauth.ts
  packages/cli/test/unit/commands/login/future.test.ts
  packages/cli/test/unit/commands/logout/future.test.ts
  packages/cli/vitest.config.mts
  pnpm-lock.yaml
Owners: @vercel/ci-cd

drop warning, tweak jwks endpoint
  packages/cli/src/commands/login/future/index.ts
  packages/cli/src/commands/logout/future/index.ts
  packages/cli/src/util/oauth.ts
Owners: @vercel/ci-cd

[next]: Read `initialExpireSeconds` from prerender manifest
  packages/build-utils/src/prerender.ts
  packages/next/src/utils.ts
  packages/next/test/integration/integration-2.test.js
  packages/next/test/integration/use-cache/app/[slug]/page.js
  packages/next/test/integration/use-cache/app/layout.js
  packages/next/test/integration/use-cache/app/page.js
  packages/next/test/integration/use-cache/app/static/page.js
  packages/next/test/integration/use-cache/next.config.js
  packages/next/test/integration/use-cache/package.json
  packages/next/test/integration/use-cache/vercel.json
Owners: @vercel/ci-cd, @timneutkens, @ijjk, @ztanner, @huozhi

Add changeset
  .changeset/lemon-ghosts-drop.md
Owners: none

don't hardcode URLs
  packages/cli/src/util/oauth.ts
  packages/cli/test/unit/commands/login/future.test.ts
Owners: @vercel/ci-cd

fix
  packages/cli/test/unit/commands/login/future.test.ts
  packages/cli/test/unit/commands/logout/future.test.ts
Owners: @vercel/ci-cd

fix tests
  packages/cli/test/unit/commands/login/future.test.ts
  packages/cli/test/unit/commands/logout/future.test.ts
Owners: @vercel/ci-cd

Add comment explaining pnpm 10 special case
  packages/build-utils/src/fs/run-user-scripts.ts
Owners: @vercel/ci-cd

Improve build log messages surrounding pnpm 10
  packages/build-utils/src/fs/run-user-scripts.ts
  packages/build-utils/test/unit.get-env-for-package-manager.test.ts
Owners: @vercel/ci-cd

Add changeset
  .changeset/great-cycles-greet.md
Owners: none

Fix logs to ones in PR desc
  packages/build-utils/src/fs/run-user-scripts.ts
  packages/build-utils/test/unit.get-env-for-package-manager.test.ts
Owners: @vercel/ci-cd

[build-utils] improve build log messages surrounding pnpm 10 (#13088)
  .changeset/great-cycles-greet.md
  packages/build-utils/src/fs/run-user-scripts.ts
  packages/build-utils/test/unit.get-env-for-package-manager.test.ts
Owners: @vercel/ci-cd

Version Packages (#13073)
  .changeset/afraid-fishes-brake.md
  .changeset/five-adults-cough.md
  .changeset/great-cycles-greet.md
  .changeset/hungry-meals-itch.md
  .changeset/lazy-apes-learn.md
  .changeset/lovely-items-impress.md
  examples/package.json
  internals/types/package.json
  packages/build-utils/CHANGELOG.md
  packages/build-utils/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/fs-detectors/package.json
  packages/gatsby-plugin-vercel-builder/CHANGELOG.md
  packages/gatsby-plugin-vercel-builder/package.json
  packages/go/package.json
  packages/hydrogen/CHANGELOG.md
  packages/hydrogen/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/node/CHANGELOG.md
  packages/node/package.json
  packages/python/package.json
  packages/redwood/CHANGELOG.md
  packages/redwood/package.json
  packages/remix/CHANGELOG.md
  packages/remix/package.json
  packages/ruby/package.json
  packages/static-build/CHANGELOG.md
  packages/static-build/package.json
  pnpm-lock.yaml
Owners: @vercel/ci-cd, @leerob, @agadzik, @chloetedder, @timneutkens, @ijjk, @ztanner, @huozhi, @Kikobeats

remove debug logs
  packages/next/src/middleware-launcher.ts
  packages/next/src/utils.ts
Owners: @vercel/ci-cd, @timneutkens, @ijjk, @ztanner, @huozhi

tweak changeset message
  .changeset/heavy-terms-reply.md
Owners: none

refactor
  packages/cli/src/commands/login/command.ts
  packages/cli/src/commands/login/future.ts
  packages/cli/src/commands/login/future/command.ts
  packages/cli/src/commands/login/index.ts
  packages/cli/src/commands/logout/command.ts
  packages/cli/src/commands/logout/future.ts
  packages/cli/src/commands/logout/future/command.ts
  packages/cli/src/commands/logout/index.ts
Owners: @vercel/ci-cd

revert
  packages/cli/package.json
  packages/cli/vitest.config.mts
  pnpm-lock.yaml
Owners: @vercel/ci-cd

drop `--future --help` tests
  packages/cli/test/unit/commands/login/future.test.ts
  packages/cli/test/unit/commands/logout/future.test.ts
Owners: @vercel/ci-cd

update snapshot
  packages/cli/test/unit/commands/__snapshots__/help.test.ts.snap
Owners: @vercel/ci-cd

[next] Add node middleware handling (#13028)
  .changeset/silly-owls-tease.md
  packages/next/build.mjs
  packages/next/src/middleware-launcher.ts
  packages/next/src/server-build.ts
  packages/next/src/utils.ts
  packages/next/test/fixtures/00-node-middleware/index.test.js
  packages/next/test/fixtures/00-node-middleware/middleware.js
  packages/next/test/fixtures/00-node-middleware/next.config.js
  packages/next/test/fixtures/00-node-middleware/package.json
  packages/next/test/fixtures/00-node-middleware/pages/[[...slug]].js
  packages/next/test/fixtures/00-node-middleware/pages/[teamId]/[slug].js
  packages/next/test/fixtures/00-node-middleware/pages/_sites/[site].js
  packages/next/test/fixtures/00-node-middleware/pages/about.js
  packages/next/test/fixtures/00-node-middleware/pages/api/revalidate.js
  packages/next/test/fixtures/00-node-middleware/pages/dynamic/[id]/index.js
  packages/next/test/fixtures/00-node-middleware/pages/dynamic/static.js
  packages/next/test/fixtures/00-node-middleware/pages/fetch-subrequest/index.js
  packages/next/test/fixtures/00-node-middleware/pages/home/a.js
  packages/next/test/fixtures/00-node-middleware/pages/home/b.js
  packages/next/test/fixtures/00-node-middleware/vercel.json
Owners: @vercel/ci-cd, @timneutkens, @ijjk, @ztanner, @huozhi

Update README.md
  README.md
Owners: @vercel/ci-cd

Update README.md
  README.md
Owners: @vercel/ci-cd

Create tricky-books-serve.md
  .changeset/tricky-books-serve.md
Owners: none

Update README.md
  README.md
Owners: @vercel/ci-cd

Update README.md (#13095)
  .changeset/tricky-books-serve.md
  README.md
Owners: @vercel/ci-cd

Version Packages (#13094)
  .changeset/silly-owls-tease.md
  .changeset/tricky-books-serve.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  pnpm-lock.yaml
Owners: @vercel/ci-cd, @timneutkens, @ijjk, @ztanner, @huozhi

Add helper for tests
  packages/build-utils/src/fs/node-version.ts
Owners: @vercel/ci-cd

Fix type errors in tests
  packages/build-utils/test/unit.get-env-for-package-manager.test.ts
  packages/build-utils/test/unit.get-path-for-package-manager.test.ts
  packages/build-utils/test/unit.get-path-override-for-package-manager.test.ts
Owners: @vercel/ci-cd

Include tests in type checking
  packages/build-utils/tsconfig.json
Owners: @vercel/ci-cd

Add changeset
  .changeset/cool-dolphins-deliver.md
Owners: none

Fix glob to include integration.test.ts
  packages/build-utils/package.json
Owners: @vercel/ci-cd

Add changeset
  .changeset/silly-pens-cough.md
Owners: none

Fix test
  packages/build-utils/test/fixtures/40-no-lockfile/probes.json
Owners: @vercel/ci-cd

fix(repo): use workspace syntax
  internals/constants/package.json
  internals/get-package-json/package.json
  internals/types/package.json
  packages/cli/package.json
  pnpm-lock.yaml
Owners: @vercel/ci-cd

Add empty changeset
  .changeset/olive-planes-remain.md
Owners: none

updated test
  packages/next/test/fixtures/30-monorepo-no-script/packages/www/package.json
Owners: @vercel/ci-cd, @timneutkens, @ijjk, @ztanner, @huozhi

fix(repo): use workspace syntax (#13098)
  .changeset/olive-planes-remain.md
  internals/constants/package.json
  internals/get-package-json/package.json
  internals/types/package.json
  packages/cli/package.json
  packages/next/test/fixtures/30-monorepo-no-script/packages/www/package.json
  pnpm-lock.yaml
Owners: @vercel/ci-cd, @timneutkens, @ijjk, @ztanner, @huozhi
