Repository vercel/vercel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vercel/ci-cd, @trek, @ijjk, @agadzik, @chloetedder, @timneutkens, @ztanner, @huozhi, @vercel/compute, @cramforce, @sueplex, @leerob, @Timer, @Kikobeats, @mknichel

[examples][tests] Upgrade Next.js to version 15.3.0 (#13237)
  .changeset/next-15-3-0.md
  examples/nextjs/package-lock.json
  examples/nextjs/package.json
Owners: @vercel/ci-cd, @ijjk, @ztanner, @huozhi

fix(cli): address feedback
  packages/cli/src/commands/login/future.ts
Owners: @vercel/ci-cd, @trek

dot
  packages/cli/src/commands/login/future.ts
Owners: @vercel/ci-cd, @trek

changeset
  .changeset/tough-pugs-pull.md
Owners: none

[next] improve error message for "No Next.js version"
  packages/next/src/index.ts
Owners: @vercel/ci-cd, @timneutkens, @ijjk, @ztanner, @huozhi

Create silly-apples-try.md
  .changeset/silly-apples-try.md
Owners: none

[next] improve error message for "No Next.js version" (#13239)
  .changeset/silly-apples-try.md
  packages/next/src/index.ts
Owners: @vercel/ci-cd, @timneutkens, @ijjk, @ztanner, @huozhi

Version Packages (#13230)
  .changeset/calm-tigers-carry.md
  .changeset/eight-chicken-retire.md
  .changeset/healthy-geese-train.md
  .changeset/lovely-apples-heal.md
  .changeset/many-mice-promise.md
  .changeset/next-15-2-5.md
  .changeset/next-15-3-0.md
  .changeset/shy-rice-allow.md
  .changeset/silly-apples-try.md
  .changeset/tasty-humans-travel.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/firewall/CHANGELOG.md
  packages/firewall/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  pnpm-lock.yaml
Owners: @vercel/ci-cd, @trek, @cramforce, @sueplex, @timneutkens, @ijjk, @ztanner, @huozhi

docs: rename community links to dot com
  .github/DISCUSSION_TEMPLATE/general.yml
  .github/DISCUSSION_TEMPLATE/ideas.yml
  .github/DISCUSSION_TEMPLATE/show-and-tell.yml
  .github/ISSUE_TEMPLATE/cli_bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/discussions-auto-close.yml
  README.md
  examples/README.md
  packages/cli/README.md
  packages/client/README.md
Owners: @vercel/ci-cd, @trek, @ijjk, @leerob

[do not merge] test old and semi space options
  packages/next/src/index.ts
Owners: @vercel/ci-cd, @timneutkens, @ijjk, @ztanner, @huozhi

add changeset
  .changeset/purple-panthers-argue.md
Owners: none

Create curly-doors-punch.md
  .changeset/curly-doors-punch.md
Owners: none

docs: rename community links to dot com (#13240)
  .changeset/curly-doors-punch.md
  .github/DISCUSSION_TEMPLATE/general.yml
  .github/DISCUSSION_TEMPLATE/ideas.yml
  .github/DISCUSSION_TEMPLATE/show-and-tell.yml
  .github/ISSUE_TEMPLATE/cli_bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/discussions-auto-close.yml
  README.md
  examples/README.md
  packages/cli/README.md
  packages/client/README.md
Owners: @vercel/ci-cd, @trek, @ijjk, @leerob

disable next data server resolving
  packages/next/src/server-build.ts
Owners: @vercel/ci-cd, @timneutkens, @ijjk, @ztanner, @huozhi

update/gatsby-fixtures
  packages/static-build/test/fixtures/gatsby-v2/package-lock.json
  packages/static-build/test/fixtures/gatsby-v3/package-lock.json
  packages/static-build/test/fixtures/gatsby-v4/package-lock.json
  packages/static-build/test/fixtures/gatsby-v5-pathPrefix/package-lock.json
  packages/static-build/test/fixtures/gatsby-v5-pathPrefix/package.json
  packages/static-build/test/fixtures/gatsby-v5/package-lock.json
  packages/static-build/test/fixtures/gatsby-v5/package.json
Owners: @vercel/ci-cd, @trek

fix(cli): address feedback (#13238)
  .changeset/tough-pugs-pull.md
  packages/cli/src/commands/login/future.ts
Owners: @vercel/ci-cd, @trek

disable normalize/denormalize
  packages/next/src/server-build.ts
Owners: @vercel/ci-cd, @timneutkens, @ijjk, @ztanner, @huozhi

Version Packages (#13247)
  .changeset/curly-doors-punch.md
  .changeset/tough-pugs-pull.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
Owners: @vercel/ci-cd, @trek

node options
  packages/next/src/utils.ts
Owners: @vercel/ci-cd, @timneutkens, @ijjk, @ztanner, @huozhi

next-15-3-1
  .changeset/next-15-3-1.md
  examples/nextjs/package-lock.json
  examples/nextjs/package.json
Owners: @vercel/ci-cd, @ijjk, @ztanner, @huozhi

Dwight
  .changeset/nine-ears-sell.md
Owners: none

fix(cli): ignore `--git-branch` in non-preview environments
  packages/cli/src/util/env/get-env-records.ts
Owners: @vercel/ci-cd, @trek

[examples][tests] Upgrade Next.js to version 15.3.1 (#13252)
  .changeset/next-15-3-1.md
  examples/nextjs/package-lock.json
  examples/nextjs/package.json
Owners: @vercel/ci-cd, @ijjk, @ztanner, @huozhi

Rename SvelteKit (v1)
  packages/frameworks/src/frameworks.ts
Owners: @vercel/ci-cd, @trek

vercel-remix-run-dev-2-16-5
  .changeset/vercel-remix-run-dev-2-16-5.md
  packages/remix/package.json
Owners: @vercel/ci-cd, @trek

Create wild-ways-unite.md
  .changeset/wild-ways-unite.md
Owners: none

Rename SvelteKit (v1) (#13255)
  .changeset/wild-ways-unite.md
  packages/frameworks/src/frameworks.ts
Owners: @vercel/ci-cd, @trek

Add special case for including microfrontend config for prebuilt deploys
  packages/client/src/utils/index.ts
Owners: @vercel/ci-cd, @trek

Add changeset
  .changeset/late-pets-itch.md
Owners: none

Fix capitalization
  packages/client/src/utils/index.ts
Owners: @vercel/ci-cd, @trek

[client] Include microfrontend config for prebuilt deploys (#13258)
  .changeset/late-pets-itch.md
  packages/client/src/utils/index.ts
Owners: @vercel/ci-cd, @trek

[next] support more specific route keys for prefetch segments
  .changeset/smart-penguins-occur.md
  packages/next/src/utils.ts
Owners: @vercel/ci-cd, @timneutkens, @ijjk, @ztanner, @huozhi

[next] support more specific route keys for prefetch segments (#13262)
  .changeset/smart-penguins-occur.md
  packages/next/src/utils.ts
Owners: @vercel/ci-cd, @timneutkens, @ijjk, @ztanner, @huozhi

Version Packages (#13257)
  .changeset/late-pets-itch.md
  .changeset/next-15-3-1.md
  .changeset/smart-penguins-occur.md
  .changeset/wild-ways-unite.md
  examples/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/client/CHANGELOG.md
  packages/client/package.json
  packages/frameworks/CHANGELOG.md
  packages/frameworks/package.json
  packages/fs-detectors/CHANGELOG.md
  packages/fs-detectors/package.json
  packages/next/CHANGELOG.md
  packages/next/package.json
  packages/static-build/package.json
  pnpm-lock.yaml
Owners: @vercel/ci-cd, @leerob, @trek, @agadzik, @chloetedder, @timneutkens, @ijjk, @ztanner, @huozhi

Use doT directly instead of through dot-packer cli
  packages/cli/scripts/compile-templates.mjs
Owners: @vercel/ci-cd, @trek

Add changeset
  .changeset/beige-tigers-relax.md
Owners: none

chore(pnpm): add approved deps for pnpm
  package.json
  packages/gatsby-plugin-vercel-builder/package.json
  packages/node/package.json
Owners: @vercel/ci-cd, @trek, @Kikobeats

add changeset
  .changeset/fluffy-starfishes-lick.md
Owners: none

.github/CODEOWNERS:

# Documentation
# https://help.github.com/en/articles/about-code-owners

# Restricted Paths
*                                        @vercel/ci-cd @trek
/.github/workflows                       @vercel/ci-cd @ijjk @trek
/packages/fs-detectors                   @vercel/ci-cd @agadzik @chloetedder @trek
/packages/next                           @vercel/ci-cd @timneutkens @ijjk @ztanner @huozhi
/packages/routing-utils                  @vercel/ci-cd @ijjk @trek
/packages/static-build                   @vercel/ci-cd @trek
/packages/edge                           @vercel/compute
/packages/functions                      @vercel/compute
/packages/firewall                       @cramforce @sueplex
/examples                                @vercel/ci-cd @leerob @trek
/examples/create-react-app               @vercel/ci-cd @Timer
/examples/nextjs                         @vercel/ci-cd @ijjk @ztanner @huozhi
/packages/node                           @vercel/ci-cd @Kikobeats
/packages/related-projects               @vercel/ci-cd @Kikobeats @mknichel

# Unrestricted Paths
.changeset/
