Repository vercel/vercel, pull requests merged in 2019-12, with the labels that each got.

#3376 [now-build-utils] Change `script` to `scripts` in error message
  packages/now-build-utils/src/detect-builders.ts
Labels: @now/build-utils, automerge

#3344 [now-client] Fix `main` in package.json
  packages/now-client/package.json
Labels: automerge, now-client

#3381 [now-cli][now-client] Fix user agent
  packages/now-cli/src/util/deploy/process-deployment.ts
  packages/now-client/src/create-deployment.ts
  packages/now-client/src/deploy.ts
  packages/now-client/src/deployment-status.ts
  packages/now-client/src/types.ts
  packages/now-client/src/upload.ts
  packages/now-client/src/utils/index.ts
Labels: automerge, now-cli, now-client

#3382 [now-client] (Major) Split `now-client` options
  packages/now-cli/src/types.ts
  packages/now-cli/src/util/deploy/process-deployment.ts
  packages/now-cli/src/util/dev/types.ts
  packages/now-cli/src/util/index.js
  packages/now-client/src/check-deployment-status.ts
  packages/now-client/src/create-deployment.ts
  packages/now-client/src/deploy.ts
  packages/now-client/src/types.ts
  packages/now-client/src/upload.ts
  packages/now-client/src/utils/index.ts
  packages/now-client/src/utils/query-string.ts
  packages/now-client/tests/create-deployment.test.ts
  packages/now-client/tests/create-legacy-deployment.test.ts
  packages/now-client/tests/paths.test.ts
Labels: now-cli, now-client

#3384 [now-build-utils] Update Detectors API
  packages/now-build-utils/src/detectors/angular.ts
  packages/now-build-utils/src/detectors/brunch.ts
  packages/now-build-utils/src/detectors/create-react-app-ejected.ts
  packages/now-build-utils/src/detectors/create-react-app.ts
  packages/now-build-utils/src/detectors/docusaurus.ts
  packages/now-build-utils/src/detectors/eleventy.ts
  packages/now-build-utils/src/detectors/ember.ts
  packages/now-build-utils/src/detectors/gatsby.ts
  packages/now-build-utils/src/detectors/gridsome.ts
  packages/now-build-utils/src/detectors/hexo.ts
  packages/now-build-utils/src/detectors/hugo.ts
  packages/now-build-utils/src/detectors/jekyll.ts
  packages/now-build-utils/src/detectors/middleman.ts
  packages/now-build-utils/src/detectors/next.ts
  packages/now-build-utils/src/detectors/polymer.ts
  packages/now-build-utils/src/detectors/preact.ts
  packages/now-build-utils/src/detectors/saber.ts
  packages/now-build-utils/src/detectors/sapper.ts
  packages/now-build-utils/src/detectors/stencil.ts
  packages/now-build-utils/src/detectors/svelte.ts
  packages/now-build-utils/src/detectors/umi.ts
  packages/now-build-utils/src/detectors/vue.ts
  packages/now-build-utils/src/types.ts
  packages/now-build-utils/test/unit.detectors.test.ts
Labels: @now/build-utils, automerge

#3383 [now-next] Update routes for new check: true behavior
  packages/now-next/src/index.ts
  packages/now-next/src/utils.ts
  packages/now-next/test/integration/index.test.js
Labels: @now/next, automerge

#3386 [now-cli] Change `--debug` to avoid debugging builders
  packages/now-cli/src/commands/deploy/latest.js
  packages/now-cli/src/util/dev/builder.ts
  packages/now-cli/test/helpers/prepare.js
  packages/now-cli/test/integration-v1.js
  packages/now-cli/test/integration.js
Labels: automerge, now-cli

#3388 [now-cli] Remove `github` property from payload before sending it
  packages/now-cli/src/util/index.js
  packages/now-cli/test/helpers/prepare.js
  packages/now-cli/test/integration-v1.js
  packages/now-cli/test/integration.js
Labels: automerge

#3389 [script] Fix stable publish script
  changelog.js
  package.json
Labels: automerge

#3390 [now-build-utils] Add `--no-audit` flag to npm install
  packages/now-build-utils/src/fs/run-user-scripts.ts
Labels: @now/build-utils, automerge

#3391 [now-node][now-next][now-static-build] Remove lockfiles from cache
  packages/now-next/src/index.ts
  packages/now-node/src/index.ts
  packages/now-static-build/package.json
  packages/now-static-build/src/index.ts
  packages/now-static-build/test/cache-fixtures/gatsby/node_modules/file2
  packages/now-static-build/test/integration.test.js
  packages/now-static-build/test/unit.test.js
Labels: @now/next, @now/node, @now/static-build, automerge

#3392 [now-routing-utils] Use 308 status code
  packages/now-cli/test/dev/integration.js
  packages/now-routing-utils/src/superstatic.ts
  packages/now-routing-utils/test/index.spec.js
  packages/now-routing-utils/test/superstatic.spec.js
Labels: @now/routing-utils, automerge

#3399 [now-dev] Improved feedback link
  packages/now-cli/src/commands/dev/dev.ts
Labels: automerge, now-cli, now-dev

#3397 [now-cgi][now-next][now-ruby] Unify logging about downloading user files
  packages/now-cgi/index.js
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/05-spr-support/package.json
  packages/now-next/test/fixtures/05-spr-support/pages/blog/[post]/[comment].js
  packages/now-next/test/fixtures/05-spr-support/pages/blog/[post]/index.js
  packages/now-ruby/index.ts
Labels: @now/next, @now/ruby, automerge

#3405 Fix unused pre-commit package overriding husky
  packages/now-cli/package.json
  yarn.lock
Labels: automerge, dependencies

#3404 [now-next] Handle symlinks in createPseudoLayer
  packages/now-build-utils/src/index.ts
  packages/now-next/src/index.ts
  packages/now-next/src/utils.ts
  packages/now-next/test/fixtures/09-yarn-workspaces/.gitignore
  packages/now-next/test/fixtures/09-yarn-workspaces/lerna.json
  packages/now-next/test/fixtures/09-yarn-workspaces/now.json
  packages/now-next/test/fixtures/09-yarn-workspaces/package.json
  packages/now-next/test/fixtures/09-yarn-workspaces/packages/common/dist/index.d.ts
  packages/now-next/test/fixtures/09-yarn-workspaces/packages/common/dist/index.js
  packages/now-next/test/fixtures/09-yarn-workspaces/packages/common/dist/index.js.map
  packages/now-next/test/fixtures/09-yarn-workspaces/packages/common/package.json
  packages/now-next/test/fixtures/09-yarn-workspaces/packages/common/src/index.ts
  packages/now-next/test/fixtures/09-yarn-workspaces/packages/common/tsconfig.json
  packages/now-next/test/fixtures/09-yarn-workspaces/packages/common/tsconfig.tsbuildinfo
  packages/now-next/test/fixtures/09-yarn-workspaces/packages/web/next-env.d.ts
  packages/now-next/test/fixtures/09-yarn-workspaces/packages/web/next.config.js
  packages/now-next/test/fixtures/09-yarn-workspaces/packages/web/package.json
  packages/now-next/test/fixtures/09-yarn-workspaces/packages/web/pages/_app.tsx
  packages/now-next/test/fixtures/09-yarn-workspaces/packages/web/pages/index.tsx
  packages/now-next/test/fixtures/09-yarn-workspaces/packages/web/tsconfig.json
  packages/now-next/test/fixtures/09-yarn-workspaces/yarn.lock
  packages/now-node/src/index.ts
Labels: @now/next, automerge

#3340 [now-next] Do not pass runtime env vars via `argv` in `now dev`
  packages/now-cli/test/helpers/prepare.js
  packages/now-cli/test/integration.js
  packages/now-next/src/dev-server.ts
  packages/now-next/src/index.ts
  packages/now-next/src/utils.ts
  packages/now-next/test/integration/index.test.js
  packages/now-next/test/unit/build.test.js
Labels: @now/next, automerge, now-dev

#3413 [all] Move "Downloading deployment source files" message to `download()`
  packages/now-build-utils/src/fs/download.ts
  packages/now-cgi/index.js
  packages/now-go/index.ts
  packages/now-next/src/index.ts
  packages/now-node/src/index.ts
  packages/now-python/src/index.ts
  packages/now-ruby/index.ts
  packages/now-static-build/src/index.ts
Labels: @now/build-utils, @now/cgi, @now/go, @now/next, @now/node, @now/python, @now/ruby, @now/static-build, automerge

#3406 [now-build-utils] Discontinue Node 8
  packages/now-build-utils/package.json
  packages/now-build-utils/src/fs/node-version.ts
  packages/now-build-utils/src/types.ts
  yarn.lock
Labels: @now/build-utils, automerge

#3414 [now dev] Fix validate functions config failed in now json
  packages/now-cli/src/util/dev/validate.ts
Labels: automerge, now-cli, now-dev

#3417 [now-build-utils][now-cli] Move builds schema and functions schema to `build-utils`
  packages/now-build-utils/src/index.ts
  packages/now-build-utils/src/schemas.ts
  packages/now-cli/src/util/dev/validate.ts
  packages/now-cli/test/integration.js
Labels: @now/build-utils, now-cli

#3402 [now-cli][now-build-utils] Update detectors
  packages/now-build-utils/src/detect-builders.ts
  packages/now-build-utils/src/detect-routes.ts
  packages/now-build-utils/src/detectors/angular.ts
  packages/now-build-utils/src/detectors/brunch.ts
  packages/now-build-utils/src/detectors/create-react-app-ejected.ts
  packages/now-build-utils/src/detectors/create-react-app.ts
  packages/now-build-utils/src/detectors/docusaurus.ts
  packages/now-build-utils/src/detectors/eleventy.ts
  packages/now-build-utils/src/detectors/ember.ts
  packages/now-build-utils/src/detectors/filesystem.ts
  packages/now-build-utils/src/detectors/gatsby.ts
  packages/now-build-utils/src/detectors/generic-node-project.ts
  packages/now-build-utils/src/detectors/gridsome.ts
  packages/now-build-utils/src/detectors/hexo.ts
  packages/now-build-utils/src/detectors/hugo.ts
  packages/now-build-utils/src/detectors/index.ts
  packages/now-build-utils/src/detectors/jekyll.ts
  packages/now-build-utils/src/detectors/middleman.ts
  packages/now-build-utils/src/detectors/next.ts
  packages/now-build-utils/src/detectors/polymer.ts
  packages/now-build-utils/src/detectors/preact.ts
  packages/now-build-utils/src/detectors/saber.ts
  packages/now-build-utils/src/detectors/sapper.ts
  packages/now-build-utils/src/detectors/stencil.ts
  packages/now-build-utils/src/detectors/svelte.ts
  packages/now-build-utils/src/detectors/umi.ts
  packages/now-build-utils/src/detectors/vue.ts
  packages/now-build-utils/src/types.ts
  packages/now-build-utils/test/integration.test.js
  packages/now-build-utils/test/unit.detectors.test.ts
  packages/now-build-utils/test/unit.test.js
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/test/dev/fixtures/public-and-server-as-api/.gitignore
  packages/now-cli/test/dev/fixtures/public-and-server-as-api/now.json
  packages/now-cli/test/dev/fixtures/public-and-server-as-api/public/index.txt
  packages/now-cli/test/dev/fixtures/public-and-server-as-api/server/date.js
  packages/now-cli/test/dev/integration.js
Labels: @now/build-utils, now-cli

#3401 [now-cli] Add renewal price to `now domains inspect`
  packages/now-cli/src/commands/domains/inspect.ts
  packages/now-cli/test/integration.js
Labels: automerge, now-cli

#3418 [now-cli] Remove dead link to max lambda size
  packages/now-cli/src/util/errors-ts.ts
Labels: automerge, now-cli

#3419 [deps] Fix yarn.lock signal-exit
  yarn.lock
Labels: automerge, dependencies

#3420 [tests] Fix unit test coverage
  .circleci/config.yml
Labels: automerge

#3422 [now-static-build] Add support `buildCommand`, `devCommand` and `outputDirectory`
  packages/now-build-utils/package.json
  packages/now-build-utils/src/detect-builders.ts
  packages/now-build-utils/src/fs/run-user-scripts.ts
  packages/now-build-utils/src/index.ts
  packages/now-build-utils/src/types.ts
  packages/now-build-utils/test/unit.test.js
  packages/now-static-build/package.json
  packages/now-static-build/src/index.ts
  packages/now-static-build/test/fixtures/43-build-command/.gitignore
  packages/now-static-build/test/fixtures/43-build-command/build.js
  packages/now-static-build/test/fixtures/43-build-command/now.json
  packages/now-static-build/test/fixtures/44-custom-output-dir/.gitignore
  packages/now-static-build/test/fixtures/44-custom-output-dir/build.js
  packages/now-static-build/test/fixtures/44-custom-output-dir/dev.js
  packages/now-static-build/test/fixtures/44-custom-output-dir/now.json
  packages/now-static-build/test/fixtures/45-node-modules-bin-path/now.json
  packages/now-static-build/test/fixtures/45-node-modules-bin-path/package.json
  packages/now-static-build/test/fixtures/45-node-modules-bin-path/pages/index.js
  yarn.lock
Labels: @now/build-utils, @now/static-build

#3424 [docs] Fix broken link to runtimes
  DEVELOPING_A_RUNTIME.md
Labels: docs

#3427 [now-build-utils] Remove unused `execa`
  packages/now-build-utils/package.json
  packages/now-build-utils/test/unit.test.js
  yarn.lock
Labels: @now/build-utils, automerge

#3425 [now-build-utils] Fix error tput: No value for $TERM and no -T specified
  packages/now-build-utils/src/fs/node-version.ts
Labels: @now/build-utils, automerge

#3428 Revert "[now-static-build] Add support `buildCommand`, `devCommand` and `outputDirectory` (#3422)"
  packages/now-build-utils/src/detect-builders.ts
  packages/now-build-utils/src/fs/run-user-scripts.ts
  packages/now-build-utils/src/index.ts
  packages/now-build-utils/src/types.ts
  packages/now-build-utils/test/unit.test.js
  packages/now-static-build/src/index.ts
  packages/now-static-build/test/fixtures/43-build-command/.gitignore
  packages/now-static-build/test/fixtures/43-build-command/build.js
  packages/now-static-build/test/fixtures/43-build-command/now.json
  packages/now-static-build/test/fixtures/44-custom-output-dir/.gitignore
  packages/now-static-build/test/fixtures/44-custom-output-dir/build.js
  packages/now-static-build/test/fixtures/44-custom-output-dir/dev.js
  packages/now-static-build/test/fixtures/44-custom-output-dir/now.json
  packages/now-static-build/test/fixtures/45-node-modules-bin-path/now.json
  packages/now-static-build/test/fixtures/45-node-modules-bin-path/package.json
  packages/now-static-build/test/fixtures/45-node-modules-bin-path/pages/index.js
Labels: @now/build-utils, @now/static-build

#3430 [now-next] Compute Rewrites & Redirects Earlier
  packages/now-next/src/index.ts
Labels: @now/next, automerge

#3431 [now-next] Support for `next export`
  packages/now-next/src/index.ts
  packages/now-next/src/utils.ts
  packages/now-next/test/fixtures/10-export-cache-headers/next.config.js
  packages/now-next/test/fixtures/10-export-cache-headers/now.json
  packages/now-next/test/fixtures/10-export-cache-headers/package.json
  packages/now-next/test/fixtures/10-export-cache-headers/pages/index.js
  packages/now-next/test/fixtures/11-export-clean-urls/next.config.js
  packages/now-next/test/fixtures/11-export-clean-urls/now.json
  packages/now-next/test/fixtures/11-export-clean-urls/package.json
  packages/now-next/test/fixtures/11-export-clean-urls/pages/about.js
  packages/now-next/test/fixtures/11-export-clean-urls/pages/index.js
  packages/now-next/test/fixtures/12-export-auto/next.config.js
  packages/now-next/test/fixtures/12-export-auto/now.json
  packages/now-next/test/fixtures/12-export-auto/package.json
  packages/now-next/test/fixtures/12-export-auto/pages/about.js
  packages/now-next/test/fixtures/12-export-auto/pages/index.js
Labels: @now/next

#3411 [now-cli] Remove unused vars from builder-cache file
  packages/now-cli/src/util/dev/builder-cache.ts
Labels: now-cli, now-dev

#3440 [now-cli] Change automatic version detection message
  packages/now-cli/src/util/prefer-v2-deployment.ts
  packages/now-cli/test/unit.js
Labels: now-cli

#3439 [now-cli] Change `--team` warning style
  packages/now-cli/src/util/output/create-output.ts
  packages/now-cli/test/integration.js
Labels: now-cli

#3438 [now-routing-utils] Add validation for `handle:hit` and `handle:miss`
  packages/now-routing-utils/src/index.ts
  packages/now-routing-utils/test/index.spec.js
Labels: @now/routing-utils, automerge

#3394 [now-cli] Changed scale error message
  packages/now-cli/src/commands/scale.js
Labels: automerge, now-cli

#3441 [now-build-utils] Restore previous detectors
  packages/now-build-utils/src/detect-builders-legacy.ts
  packages/now-build-utils/src/detect-routes-legacy.ts
  packages/now-build-utils/src/index.ts
Labels: @now/build-utils

#3434 [now-cli][now-static-build] Add support for `buildCommand`, `devCommand` and `outputDirectory`
  packages/now-build-utils/src/detect-builders.ts
  packages/now-build-utils/src/fs/run-user-scripts.ts
  packages/now-build-utils/src/index.ts
  packages/now-build-utils/src/types.ts
  packages/now-build-utils/test/unit.test.js
  packages/now-static-build/package.json
  packages/now-static-build/src/index.ts
  packages/now-static-build/test/fixtures/43-build-command/.gitignore
  packages/now-static-build/test/fixtures/43-build-command/build.js
  packages/now-static-build/test/fixtures/43-build-command/now.json
  packages/now-static-build/test/fixtures/44-custom-output-dir/.gitignore
  packages/now-static-build/test/fixtures/44-custom-output-dir/build.js
  packages/now-static-build/test/fixtures/44-custom-output-dir/dev.js
  packages/now-static-build/test/fixtures/44-custom-output-dir/now.json
  packages/now-static-build/test/fixtures/45-node-modules-bin-path/now.json
  packages/now-static-build/test/fixtures/45-node-modules-bin-path/package.json
  packages/now-static-build/test/fixtures/45-node-modules-bin-path/pages/index.js
Labels: @now/static-build, now-cli, now-dev

#3443 [now-cli][now-build-utils] Adjust tests for new detectors
  packages/now-build-utils/src/detect-builders.ts
  packages/now-build-utils/src/detectors/generic-node-project.ts
  packages/now-cli/test/dev/fixtures/08-hugo/package.json
  packages/now-cli/test/dev/fixtures/08-hugo/yarn.lock
  packages/now-cli/test/dev/fixtures/22-brunch/yarn.lock
  packages/now-cli/test/dev/integration.js
Labels: @now/build-utils, now-cli, now-dev

#3442 [now-routing-utils] Merge routes with multiple handles
  packages/now-routing-utils/src/merge.ts
  packages/now-routing-utils/src/types.ts
  packages/now-routing-utils/test/merge.spec.js
Labels: @now/routing-utils, automerge

#3426 [now-next] Remove node 8 test
  packages/now-next/test/fixtures/02-firebase-node-8/next.config.js
  packages/now-next/test/fixtures/02-firebase-node-8/now.json
  packages/now-next/test/fixtures/02-firebase-node-8/package.json
  packages/now-next/test/fixtures/02-firebase-node-8/pages/nested/fb.js
  packages/now-next/test/fixtures/02-firebase-node-8/pages/nested/moar/[dynamic_fb].js
Labels: @now/next, automerge

#3446 [now-routing-utils] Add replacing of multi-match characters
  packages/now-routing-utils/package.json
  packages/now-routing-utils/src/superstatic.ts
  packages/now-routing-utils/test/superstatic.spec.js
  yarn.lock
Labels: @now/routing-utils, automerge

#3352 [now-python] Skip reinstalling user dependencies for `now dev`
  packages/now-python/src/index.ts
  packages/now-python/src/install.ts
Labels: @now/python, automerge, now-dev

#3447 [now-dev] Update tests with verbose logging
  packages/now-cli/test/dev/fixtures/16-vue-node/yarn.lock
  packages/now-cli/test/dev/fixtures/17-vuepress-node/yarn.lock
  packages/now-cli/test/dev/fixtures/handle-filesystem-missing/yarn.lock
  packages/now-cli/test/dev/fixtures/trigger-static-build/.gitignore
  packages/now-cli/test/dev/integration.js
Labels: automerge, now-cli, now-dev

#3450 [all] Fix types for Route vs Source
  packages/now-build-utils/src/detect-routes-legacy.ts
  packages/now-build-utils/src/detect-routes.ts
  packages/now-build-utils/src/types.ts
  packages/now-next/src/index.ts
  packages/now-next/src/utils.ts
  packages/now-static-build/src/frameworks.ts
  packages/now-static-build/src/index.ts
  run.js
Labels: @now/build-utils, @now/next, @now/static-build, automerge

#3403 [now-build-utils] Add `handle: miss` route to zero config
  packages/now-build-utils/src/detect-routes.ts
  packages/now-build-utils/src/index.ts
  packages/now-build-utils/test/unit.test.js
Labels: @now/build-utils, automerge

#3466 [now-static-build] Ensure outputDirectory is used when it exists
  packages/now-static-build/src/index.ts
  packages/now-static-build/test/fixtures/48-nuxt-without-framework/.gitignore
  packages/now-static-build/test/fixtures/48-nuxt-without-framework/.nowignore
  packages/now-static-build/test/fixtures/48-nuxt-without-framework/now.json
  packages/now-static-build/test/fixtures/48-nuxt-without-framework/package.json
  packages/now-static-build/test/fixtures/48-nuxt-without-framework/pages/index.js
Labels: @now/static-build

#3468 [now-build-utils] Only add 404 route when there are no api routes
  packages/now-build-utils/src/detect-routes.ts
  packages/now-build-utils/test/unit.builds-and-routes-detector.test.ts
Labels: @now/build-utils

#3465 [now-client] Fix single file deploy with new routing properties
  packages/now-cli/test/helpers/prepare.js
  packages/now-cli/test/integration.js
  packages/now-client/src/deploy.ts
  packages/now-client/src/types.ts
Labels: automerge, now-client

#3470 [now-routing-utils] Make status code be configurable
  packages/now-routing-utils/src/superstatic.ts
Labels: @now/routing-utils, automerge

#3482 [now-next] Add handling for new routes-manifest version
  packages/now-next/src/index.ts
  packages/now-next/src/utils.ts
Labels: @now/next, automerge

#3481 [now-node][now-next] Bump node-file-trace to 0.4.1
  packages/now-next/package.json
  packages/now-node/package.json
  yarn.lock
Labels: @now/next, @now/node, automerge
