Repository vercel/vercel, pull requests merged in 2019-10, with the labels that each got.

#3106 [tests] Add test all script
  package.json
Labels: automerge

#3096 [now-next] Upload build-time generated static artifacts
  packages/now-next/src/index.ts
  packages/now-next/src/utils.ts
  packages/now-next/test/integration/index.test.js
  packages/now-next/test/integration/public-files/create-public-file.js
  packages/now-next/test/integration/public-files/package.json
  packages/now-next/test/unit/utils.test.js
Labels: @now/next, automerge, important

#3108 Revert "[tests] Add test all script" since it runs on commit
  package.json
Labels: automerge

#3110 [now-cli][now-client] Add parameter `nowConfig` for custom now.json
  packages/now-cli/src/util/deploy/process-deployment.ts
  packages/now-cli/src/util/get-config.ts
  packages/now-cli/src/util/index.js
  packages/now-cli/test/helpers/prepare.js
  packages/now-cli/test/integration.js
  packages/now-client/src/create-deployment.ts
  packages/now-client/src/deploy.ts
  packages/now-client/src/types.ts
  packages/now-client/src/upload.ts
Labels: automerge, now-cli, now-client

#3112 [now-static-build] Use `stdio: 'inherit'` for "dev" script child process
  packages/now-static-build/package.json
  packages/now-static-build/src/index.ts
  packages/now-static-build/src/typings.d.ts
  yarn.lock
Labels: @now/static-build, automerge

#3100 [now-cli] Rename `lambda` to `serverless function`
  packages/now-next/src/index.ts
Labels: @now/next, automerge

#3093 [now-python] Encode body as utf-8 before making a request
  packages/now-python/now_init.py
  packages/now-python/test/fixtures/14-unicode-handler/index.py
  packages/now-python/test/fixtures/14-unicode-handler/now.json
  packages/now-python/test/fixtures/14-unicode-handler/probe.js
Labels: @now/python

#3117 [now-cli][now-client] Fix `--local-config` flag and `files` key
  packages/now-cli/test/helpers/prepare.js
  packages/now-cli/test/integration.js
  packages/now-client/src/create-deployment.ts
  packages/now-client/src/deploy.ts
  packages/now-client/src/types.ts
  packages/now-client/src/utils/index.ts
Labels: automerge, now-cli, now-client

#3122 [now-client] [now-cli] Handle `notice` type
  packages/now-cli/src/util/deploy/process-deployment.ts
  packages/now-client/src/deploy.ts
Labels: automerge, now-cli, now-client

#3123 [now-cli][now-client] Fix v1 `files` when defining a directory
  packages/now-cli/test/helpers/prepare.js
  packages/now-cli/test/integration.js
  packages/now-client/src/create-deployment.ts
Labels: automerge, now-cli, now-client

#3088 [now-cli] Remove `dev: "now dev"` script detection logic in `now dev`
  packages/now-cli/src/commands/dev/index.ts
  packages/now-cli/test/helpers/prepare.js
  packages/now-cli/test/integration.js
Labels: automerge, now-cli, now-dev

#3125 [now-client] Fix `ENOENT` regression in `now-client`
  packages/now-client/src/create-deployment.ts
  packages/now-client/src/utils/index.ts
Labels: automerge, now-client

#3128 [now-cli] Update readme
  packages/now-cli/README.md
Labels: automerge, now-cli

#3132 [now-build-utils] Fix typo occurres => occurs
  packages/now-build-utils/src/detect-routes.ts
Labels: @now/build-utils, automerge

#3137 [now-next] Exit dev server child processes upon SIGINT/SIGTERM
  packages/now-next/src/index.ts
Labels: @now/next, automerge

#3136 [now-static-build] Exit dev server child processes upon SIGINT/SIGTERM
  packages/now-static-build/src/index.ts
Labels: @now/static-build, automerge

#3139 [now-cli] Set the builder's debug env var based on `DevServer.debug`
  packages/now-cli/src/commands/dev/index.ts
  packages/now-cli/src/util/dev/builder.ts
Labels: automerge, now-cli, now-dev

#3144 [now-build-utils] Allow a null `fallback` in `Prerender`
  packages/now-build-utils/src/prerender.ts
Labels: @now/build-utils, automerge

#3140 [now-next] Add support for src dir in now-dev
  packages/now-next/src/utils.ts
Labels: @now/next, automerge

#3148 [now-python] Fix UnicodeDecodeError for binary response from handler
  packages/now-python/now_init.py
  packages/now-python/test/fixtures/15-binary-handler/index.py
  packages/now-python/test/fixtures/15-binary-handler/now.json
  packages/now-python/test/fixtures/15-binary-handler/probe.js
  packages/now-python/test/fixtures/15-binary-handler/zeit-white-triangle.png
Labels: @now/python, automerge

#3149 Add test for now dev and Next.js src dir
  packages/now-cli/test/dev/fixtures/25-nextjs-src-dir/.gitignore
  packages/now-cli/test/dev/fixtures/25-nextjs-src-dir/.nowignore
  packages/now-cli/test/dev/fixtures/25-nextjs-src-dir/package.json
  packages/now-cli/test/dev/fixtures/25-nextjs-src-dir/src/pages/index.js
  packages/now-cli/test/dev/fixtures/25-nextjs-src-dir/yarn.lock
  packages/now-cli/test/dev/integration.js
Labels: @now/next, automerge, now-dev

#3158 [now-static-build] Add stencil to list of optimized static frameworks
  packages/now-static-build/src/frameworks.ts
  packages/now-static-build/test/fixtures/42-stencil/.editorconfig
  packages/now-static-build/test/fixtures/42-stencil/.gitignore
  packages/now-static-build/test/fixtures/42-stencil/LICENSE
  packages/now-static-build/test/fixtures/42-stencil/now.json
  packages/now-static-build/test/fixtures/42-stencil/package.json
  packages/now-static-build/test/fixtures/42-stencil/readme.md
  packages/now-static-build/test/fixtures/42-stencil/src/assets/icon/favicon.ico
  packages/now-static-build/test/fixtures/42-stencil/src/assets/icon/icon.png
  packages/now-static-build/test/fixtures/42-stencil/src/components.d.ts
  packages/now-static-build/test/fixtures/42-stencil/src/components/app-home/app-home.css
  packages/now-static-build/test/fixtures/42-stencil/src/components/app-home/app-home.tsx
  packages/now-static-build/test/fixtures/42-stencil/src/components/app-profile/app-profile.css
  packages/now-static-build/test/fixtures/42-stencil/src/components/app-profile/app-profile.tsx
  packages/now-static-build/test/fixtures/42-stencil/src/components/app-root/app-root.css
  packages/now-static-build/test/fixtures/42-stencil/src/components/app-root/app-root.tsx
  packages/now-static-build/test/fixtures/42-stencil/src/global/app.css
  packages/now-static-build/test/fixtures/42-stencil/src/global/app.ts
  packages/now-static-build/test/fixtures/42-stencil/src/index.html
  packages/now-static-build/test/fixtures/42-stencil/src/index.ts
  packages/now-static-build/test/fixtures/42-stencil/src/manifest.json
  packages/now-static-build/test/fixtures/42-stencil/stencil.config.ts
  packages/now-static-build/test/fixtures/42-stencil/tsconfig.json
  packages/now-static-build/test/test.js
Labels: @now/static-build, automerge

#3157 [now-next] Update console.time labels for clarity
  packages/now-next/src/index.ts
Labels: @now/next, automerge

#3162 [tests] Fix tests so they wait for v1 deployments
  packages/now-cli/test/integration.js
Labels: automerge

#3138 [now-routing-utils] Add superstatic transformations
  .circleci/config.yml
  packages/now-cli/src/util/dev/validate.ts
  packages/now-routing-utils/README.md
  packages/now-routing-utils/package.json
  packages/now-routing-utils/src/index.ts
  packages/now-routing-utils/src/schemas.ts
  packages/now-routing-utils/src/superstatic.ts
  packages/now-routing-utils/src/types.ts
  packages/now-routing-utils/test/index.spec.js
  packages/now-routing-utils/test/superstatic.spec.js
  yarn.lock
Labels: @now/routing-utils, automerge

#3167 [now-build-utils] Fix static file serving from `now dev`
  packages/now-build-utils/package.json
  packages/now-build-utils/src/detect-builders.ts
  packages/now-build-utils/test/integration.test.js
  packages/now-build-utils/test/unit.test.js
Labels: @now/build-utils, automerge, now-dev

#3170 [now-cli] Remove `serveProjectAsStatic()`
  packages/now-cli/src/util/dev/server.ts
Labels: automerge, now-cli, now-dev

#3171 [now-cli] Temporarily force `TooTallNate/signal-exit#update/sighub-to-sigint-on-windows` for "signal-exit" module
  package.json
  yarn.lock
Labels: automerge, now-cli, now-dev

#3177 [now-node] Fix helpers when POST json has empty body
  packages/now-node/package.json
  packages/now-node/src/helpers.ts
  packages/now-node/test/fixtures/15-helpers/now.json
  packages/now-node/test/helpers.test.js
  packages/now-node/test/integration.test.js
Labels: @now/node, automerge

#3178 [now-build-utils] Add contentType prop to File
  packages/now-build-utils/src/file-blob.ts
  packages/now-build-utils/src/file-fs-ref.ts
  packages/now-build-utils/src/file-ref.ts
  packages/now-build-utils/src/types.ts
Labels: @now/build-utils, automerge

#3174 [now-cli] Add support for new keys in `now dev`
  packages/now-cli/src/util/dev/router.ts
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/src/util/dev/types.ts
  packages/now-cli/src/util/dev/validate.ts
  packages/now-cli/test/dev/fixtures/invalid-clean-urls/index.html
  packages/now-cli/test/dev/fixtures/invalid-clean-urls/now.json
  packages/now-cli/test/dev/fixtures/invalid-headers/index.html
  packages/now-cli/test/dev/fixtures/invalid-headers/now.json
  packages/now-cli/test/dev/fixtures/invalid-mixed-routes-rewrites/index.html
  packages/now-cli/test/dev/fixtures/invalid-mixed-routes-rewrites/now.json
  packages/now-cli/test/dev/fixtures/invalid-redirects/index.html
  packages/now-cli/test/dev/fixtures/invalid-redirects/now.json
  packages/now-cli/test/dev/fixtures/invalid-rewrites/index.html
  packages/now-cli/test/dev/fixtures/invalid-rewrites/now.json
  packages/now-cli/test/dev/fixtures/invalid-trailing-slash/index.html
  packages/now-cli/test/dev/fixtures/invalid-trailing-slash/now.json
  packages/now-cli/test/dev/fixtures/test-rewrites/index.html
  packages/now-cli/test/dev/fixtures/test-rewrites/now.json
  packages/now-cli/test/dev/integration.js
Labels: automerge, now-cli, now-dev

#3181 [now-client] Change npm publish to use files key
  packages/now-client/.npmignore
  packages/now-client/package.json
  packages/now-client/tests/common.ts
  packages/now-client/tests/constants.ts
  packages/now-client/tests/create-deployment.test.ts
  packages/now-client/tests/create-legacy-deployment.test.ts
  packages/now-client/tests/setup/index.ts
Labels: automerge, now-client

#3173 [now-client] Yield an error event if path provided is not absolute
  packages/now-client/src/create-deployment.ts
  packages/now-client/tests/paths.test.ts
Labels: automerge, now-client

#3111 [now-python] Set PIP_USER environment variable
  packages/now-python/src/index.ts
Labels: @now/python, automerge

#3168 [now-client] Add `apiUrl` support
  packages/now-cli/src/util/deploy/process-deployment.ts
  packages/now-cli/test/integration.js
  packages/now-client/src/create-deployment.ts
  packages/now-client/src/deploy.ts
  packages/now-client/src/deployment-status.ts
  packages/now-client/src/types.ts
  packages/now-client/src/upload.ts
  packages/now-client/src/utils/index.ts
Labels: automerge, now-cli, now-client

#3190 [now-next] Cache All Next.js Directories
  packages/now-next/src/index.ts
Labels: @now/next, automerge, important

#3189 [now-cli] Disable `--prod` and `--target` for Now 1.0 deployments
  packages/now-cli/src/commands/deploy/args.js
  packages/now-cli/src/commands/deploy/legacy.ts
  packages/now-cli/test/integration.js
Labels: automerge, now-cli

#3192 [now-cli] Don't throw if builder child process can not be killed
  packages/now-cli/src/util/dev/builder.ts
Labels: automerge, now-cli, now-dev

#3194 [now-cli] Gracefully exit when the `cwd` does not exist
  packages/now-cli/src/util/errors-ts.ts
  packages/now-cli/src/util/get-config.ts
Labels: automerge, now-cli

#3197 [tests] Fix circle ci to xcode version
  .circleci/config.yml
Labels: automerge, now-cli

#3196 [now-routing-utils] Change cleanUrls to redirect only
  packages/now-routing-utils/src/index.ts
  packages/now-routing-utils/test/index.spec.js
Labels: @now/routing-utils, automerge

#3198 [now-build-utils] Add more complete `PackageJson` typings
  packages/now-build-utils/src/types.ts
Labels: @now/build-utils, automerge

#3195 [now-cli] Loosen "engines" requirement to Node `>= 8`
  .circleci/config.yml
  packages/now-cli/package.json
  packages/now-cli/test/dev/integration.js
Labels: automerge, now-cli

#3188 [now-client] [now-cli] Update version of deployment API
  packages/now-cli/src/commands/deploy/latest.js
  packages/now-cli/src/util/deploy/get-deployment-by-id-or-host.ts
  packages/now-cli/src/util/deploy/process-deployment.ts
  packages/now-cli/src/util/index.js
  packages/now-client/src/deploy.ts
  packages/now-client/src/deployment-status.ts
  packages/now-client/src/types.ts
  packages/now-client/src/upload.ts
  packages/now-client/src/utils/index.ts
  packages/now-client/src/utils/ready-state.ts
Labels: automerge, now-client

#3200 [now-cli] Improve wording and styling of "--prod not available for 1.0" error
  packages/now-cli/src/commands/deploy/legacy.ts
  packages/now-cli/test/integration.js
Labels: automerge, now-cli

#3202 [now-cli] Update `now-cli` readme
  packages/now-cli/README.md
Labels: automerge, now-cli

#3182 [now-static-build] Inject `gatsby-plugin-now` in Gatsby deployments
  packages/now-static-build/build.sh
  packages/now-static-build/package.json
  packages/now-static-build/src/frameworks.ts
  packages/now-static-build/src/index.ts
  packages/now-static-build/src/utils/gatsby-config.ts
  packages/now-static-build/test/fixtures/10a-gatsby-redirects/.gitignore
  packages/now-static-build/test/fixtures/10a-gatsby-redirects/gatsby-config.js
Labels: @now/static-build, automerge

#3204 [now-node][now-next] Bump node-file-trace to 0.4.0
  packages/now-next/package.json
  packages/now-node/package.json
  yarn.lock
Labels: @now/next, @now/node, automerge

#3203 [gatsby-plugin-now] Fix logic error for redirect check
  packages/gatsby-plugin-now/gatsby-node.js
Labels: automerge, bug

#3205 Add `Queued` spinner
  packages/now-cli/src/util/deploy/process-deployment.ts
Labels: automerge

#3206 Separate out `queued` into it's own spinner
  packages/now-cli/src/util/deploy/process-deployment.ts
Labels: automerge, now-cli

#3211 [now-routing-utils] Fix validation for routes/cleanUrls
  packages/now-routing-utils/src/index.ts
  packages/now-routing-utils/test/index.spec.js
Labels: @now/routing-utils, automerge

#3214 [now-cli] Remove now dev `cleanCacheDir()` function
  packages/now-cli/src/util/dev/builder-cache.ts
  packages/now-cli/src/util/errors-ts.ts
Labels: automerge, now-cli, now-dev

#3213 [now-build-utils] Add functions property
  packages/now-build-utils/src/detect-builders.ts
  packages/now-build-utils/src/types.ts
  packages/now-build-utils/test/unit.test.js
Labels: @now/build-utils, automerge

#3067 [now-next] Add Beta iSSG Support
  packages/now-next/src/index.ts
  packages/now-next/src/utils.ts
  packages/now-next/test/fixtures/05-spr-support/next.config.js
  packages/now-next/test/fixtures/05-spr-support/now.json
  packages/now-next/test/fixtures/05-spr-support/package.json
  packages/now-next/test/fixtures/05-spr-support/pages/another.js
  packages/now-next/test/fixtures/05-spr-support/pages/another2.js
  packages/now-next/test/fixtures/05-spr-support/pages/blog/[post]/[comment].js
  packages/now-next/test/fixtures/05-spr-support/pages/blog/[post]/index.js
  packages/now-next/test/fixtures/05-spr-support/pages/forever.js
  packages/now-next/test/fixtures/05-spr-support/pages/index.js
  packages/now-next/test/fixtures/05-spr-support/pages/lambda.js
  packages/now-next/test/integration/index.test.js
  packages/now-next/test/test.js
  packages/now-next/test/unit/build.test.js
  test/lib/deployment/test-deployment.js
Labels: @now/next, automerge, important

#3217 [now-routing-utils] Fix html redirects for `cleanUrls`
  packages/now-routing-utils/src/index.ts
  packages/now-routing-utils/src/superstatic.ts
  packages/now-routing-utils/test/index.spec.js
  packages/now-routing-utils/test/superstatic.spec.js
Labels: @now/routing-utils, automerge

#3218 [now-build-utils] Validate functions and allow them as config
  packages/now-build-utils/src/detect-builders.ts
  packages/now-build-utils/src/types.ts
  packages/now-build-utils/test/unit.test.js
Labels: @now/build-utils

#3219 [now-routing-utils] Enhance superstatic validation
  packages/now-routing-utils/src/index.ts
  packages/now-routing-utils/src/types.ts
  packages/now-routing-utils/test/index.spec.js
Labels: @now/routing-utils, automerge

#3212 [now-static-build] Improve Gatsby default routes
  packages/gatsby-plugin-now/gatsby-node.js
  packages/gatsby-plugin-now/readme.md
  packages/gatsby-plugin-now/test/__snapshots__/index.test.js.snap
  packages/now-static-build/test/fixtures/10-gatsby/now.json
Labels: @now/static-build, automerge

#3222 [now-routing-utils] Return null routes when provided null
  packages/now-routing-utils/src/index.ts
  packages/now-routing-utils/test/index.spec.js
Labels: @now/routing-utils, automerge

#3223 [now-routing-utils] Fix redirects when cleanUrls and trailingSlash
  packages/now-routing-utils/src/index.ts
  packages/now-routing-utils/src/superstatic.ts
  packages/now-routing-utils/test/index.spec.js
  packages/now-routing-utils/test/superstatic.spec.js
Labels: @now/routing-utils, automerge

#3224 [now-next] Reduce Build Noise
  packages/now-next/src/index.ts
Labels: @now/next, automerge, less than 1 minute

#3226 [now-next] Use Past Tense
  packages/now-next/src/index.ts
Labels: @now/next, automerge, less than 1 minute

#3230 [now-routing-utils] Improve error message for invalid regexes
  packages/now-routing-utils/src/index.ts
  packages/now-routing-utils/test/index.spec.js
Labels: @now/routing-utils, automerge

#3233 [now-build-utils] Fix zero config trailing slash
  packages/now-build-utils/src/detect-routes.ts
  packages/now-build-utils/test/unit.test.js
Labels: @now/build-utils, automerge
