Repository vercel/vercel, pull requests merged in 2019-11, with the labels that each got.

#3232 Fix racing spinners
  packages/now-cli/src/util/deploy/process-deployment.ts
Labels: automerge

#3231 [now-cli][now-client] Add support for `functions` property
  packages/now-cli/src/util/dev/builder-cache.ts
  packages/now-cli/src/util/index.js
  packages/now-cli/test/dev/fixtures/05-gatsby/yarn.lock
  packages/now-cli/test/dev/fixtures/11-nuxtjs-node/yarn.lock
  packages/now-cli/test/dev/fixtures/12-polymer-node/yarn.lock
  packages/now-cli/test/dev/fixtures/14-svelte-node/yarn.lock
  packages/now-cli/test/dev/fixtures/16-vue-node/yarn.lock
  packages/now-cli/test/dev/fixtures/17-vuepress-node/yarn.lock
  packages/now-cli/test/dev/fixtures/22-brunch/yarn.lock
  packages/now-cli/test/dev/fixtures/24-ember/yarn.lock
  packages/now-cli/test/dev/fixtures/handle-filesystem-missing/yarn.lock
  packages/now-cli/test/dev/integration.js
  packages/now-cli/test/helpers/prepare.js
  packages/now-cli/test/integration.js
  packages/now-client/src/deploy.ts
Labels: now-cli, now-client

#3225 [now-dev] Fix route normalization
  packages/now-cli/src/util/dev/builder.ts
  packages/now-cli/test/dev/fixtures/invalid-builder-routes/index.html
  packages/now-cli/test/dev/fixtures/invalid-builder-routes/now.json
  packages/now-cli/test/dev/integration.js
Labels: automerge, now-cli, now-dev

#3228 [now-cli] Remove `now upgrade` command
  packages/now-cli/src/commands/index.ts
  packages/now-cli/src/commands/upgrade.js
Labels: automerge, now-cli

#3249 [now-cli] Fix test invalid-builder-routes
  packages/now-cli/test/dev/fixtures/invalid-builder-routes/now.json
Labels: automerge, now-cli

#3240 [now dev] Add support for `cleanUrls`
  packages/now-cli/src/util/dev/builder.ts
  packages/now-cli/src/util/dev/router.ts
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/test/dev-router.unit.js
  packages/now-cli/test/dev/fixtures/test-clean-urls/about.html
  packages/now-cli/test/dev/fixtures/test-clean-urls/index.html
  packages/now-cli/test/dev/fixtures/test-clean-urls/now.json
  packages/now-cli/test/dev/fixtures/test-clean-urls/style.css
  packages/now-cli/test/dev/fixtures/test-clean-urls/sub/another.html
  packages/now-cli/test/dev/fixtures/test-clean-urls/sub/index.html
  packages/now-cli/test/dev/integration.js
Labels: automerge, now-cli, now-dev

#3229 [now-cli] Adjust `now ls` according to new project overview
  packages/now-cli/src/commands/list.js
  packages/now-cli/test/integration.js
Labels: automerge, now-cli

#3238 [now-next] 404 Known Static Files Before Dynamic Routes
  packages/now-next/src/index.ts
Labels: @now/next, automerge

#3221 Update Public Directory Link
  packages/now-build-utils/src/detect-builders.ts
  packages/now-cli/src/commands/deploy/legacy.ts
  packages/now-static-build/src/index.ts
Labels: @now/build-utils, @now/static-build, automerge, now-cli

#3256 [docs] Rename "Builders" to "Runtimes"
  DEVELOPING_A_RUNTIME.md
Labels: docs

#3259 [now-cli] Fix integration test for maxDuration
  packages/now-cli/test/integration.js
Labels: automerge, now-cli

#3252 [all] Fix functions property and update Lambda
  packages/now-build-utils/src/detect-builders.ts
  packages/now-build-utils/src/index.ts
  packages/now-build-utils/src/lambda.ts
  packages/now-build-utils/test/unit.test.js
  packages/now-cgi/index.js
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/src/util/dev/types.ts
  packages/now-cli/src/util/dev/validate.ts
  packages/now-cli/test/dev/fixtures/custom-runtime/api/user.sh
  packages/now-cli/test/dev/fixtures/custom-runtime/now.json
  packages/now-cli/test/dev/integration.js
  packages/now-cli/test/integration.js
  packages/now-go/index.ts
  packages/now-next/src/index.ts
  packages/now-next/src/utils.ts
  packages/now-next/test/fixtures/06-lambda-with-memory/now.json
  packages/now-next/test/fixtures/06-lambda-with-memory/package.json
  packages/now-next/test/fixtures/06-lambda-with-memory/src/pages/api/memory.js
  packages/now-node/src/index.ts
  packages/now-python/src/index.ts
  packages/now-ruby/index.ts
  packages/now-ruby/test/test.js
Labels: @now/build-utils, @now/go, @now/next, @now/node, @now/python, @now/ruby, now-cli, now-dev

#3250 [now-dev][now-routing-utils] Fix `trailingSlash`
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/test/dev/fixtures/test-clean-urls-trailing-slash/about.html
  packages/now-cli/test/dev/fixtures/test-clean-urls-trailing-slash/index.html
  packages/now-cli/test/dev/fixtures/test-clean-urls-trailing-slash/now.json
  packages/now-cli/test/dev/fixtures/test-clean-urls-trailing-slash/style.css
  packages/now-cli/test/dev/fixtures/test-clean-urls-trailing-slash/sub/another.html
  packages/now-cli/test/dev/fixtures/test-clean-urls-trailing-slash/sub/index.html
  packages/now-cli/test/dev/fixtures/test-trailing-slash-false/about.html
  packages/now-cli/test/dev/fixtures/test-trailing-slash-false/index.html
  packages/now-cli/test/dev/fixtures/test-trailing-slash-false/now.json
  packages/now-cli/test/dev/fixtures/test-trailing-slash-false/style.css
  packages/now-cli/test/dev/fixtures/test-trailing-slash-false/sub/another.html
  packages/now-cli/test/dev/fixtures/test-trailing-slash-false/sub/index.html
  packages/now-cli/test/dev/fixtures/test-trailing-slash/about.html
  packages/now-cli/test/dev/fixtures/test-trailing-slash/index.html
  packages/now-cli/test/dev/fixtures/test-trailing-slash/now.json
  packages/now-cli/test/dev/fixtures/test-trailing-slash/style.css
  packages/now-cli/test/dev/fixtures/test-trailing-slash/sub/another.html
  packages/now-cli/test/dev/fixtures/test-trailing-slash/sub/index.html
  packages/now-cli/test/dev/integration.js
  packages/now-routing-utils/src/superstatic.ts
  packages/now-routing-utils/test/superstatic.spec.js
Labels: @now/routing-utils, automerge, now-cli, now-dev

#3186 [now-client] ignores is missing ignores added from .nowignore
  packages/now-client/src/utils/index.ts
Labels: automerge, now-client

#3264 [now-client] Add `.nowignore` test
  packages/now-client/tests/create-deployment.test.ts
  packages/now-client/tests/fixtures/nowignore/.nowignore
  packages/now-client/tests/fixtures/nowignore/folder/ignore.txt
  packages/now-client/tests/fixtures/nowignore/ignore.txt
  packages/now-client/tests/fixtures/nowignore/index.txt
Labels: automerge, now-client

#3260 [now-static-build] Cache `.cache` folder for gatsby deployments
  packages/now-static-build/.gitignore
  packages/now-static-build/src/frameworks.ts
  packages/now-static-build/src/index.ts
  packages/now-static-build/test/cache-fixtures/default/index.js
  packages/now-static-build/test/cache-fixtures/default/node_modules/file
  packages/now-static-build/test/cache-fixtures/default/package-lock.json
  packages/now-static-build/test/cache-fixtures/default/yarn.lock
  packages/now-static-build/test/cache-fixtures/gatsby/.cache/file
  packages/now-static-build/test/cache-fixtures/gatsby/package.json
  packages/now-static-build/test/cache-fixtures/gatsby/yarn.lock
  packages/now-static-build/test/cache.test.js
Labels: @now/static-build, automerge

#3265 [all] Update homepage in package.json
  packages/gatsby-plugin-now/package.json
  packages/now-build-utils/package.json
  packages/now-go/package.json
  packages/now-next/package.json
  packages/now-node/package.json
  packages/now-python/package.json
  packages/now-ruby/package.json
  packages/now-static-build/package.json
Labels: @now/build-utils, @now/go, @now/next, @now/node, @now/python, @now/ruby, @now/static-build, automerge, docs

#3267 Revert "[now-client] ignores is missing ignores added from .nowignore"
  packages/now-client/src/utils/index.ts
Labels: now-client

#3180 [now-client] Fix file permissions for source files
  packages/now-client/src/utils/hashes.ts
  packages/now-client/src/utils/index.ts
  packages/now-client/tests/create-deployment.test.ts
  packages/now-client/tests/fixtures/v2-file-permissions/api/index.js
  packages/now-client/tests/fixtures/v2-file-permissions/now.json
  packages/now-client/tests/fixtures/v2-file-permissions/package.json
  packages/now-client/tests/fixtures/v2-file-permissions/script.sh
Labels: automerge, now-client

#3257 [now-cli] Replace Hosts with Deployments API
  packages/now-cli/src/util/deploy/get-deployment-by-id-or-host.ts
  packages/now-cli/src/util/index.js
Labels: now-cli

#3268 Improve functions check
  packages/now-cli/README.md
  packages/now-client/src/deployment-status.ts
  packages/now-client/src/types.ts
  packages/now-client/src/utils/index.ts
Labels: automerge

#3261 [docs] Add `memory` and `maxDuration` to runtime development docs
  DEVELOPING_A_RUNTIME.md
  packages/now-node/test/fixtures/35-puppeteer/now.json
Labels: automerge, docs

#3244 [now-node] fix reportTSError exiting
  packages/now-node/src/typescript.ts
Labels: @now/node, automerge

#3277 [now-cli] Purge require cache after packages install in `now dev`
  packages/now-cli/src/util/dev/builder-cache.ts
  packages/now-cli/src/util/dev/builder.ts
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/src/util/dev/types.ts
Labels: automerge, now-cli, now-dev

#3271 [now-next] Leverage routes-manifest if available for dynamic routes
  packages/now-next/src/index.ts
  packages/now-next/src/utils.ts
Labels: @now/next, automerge

#3279 [now-next] Add loading of custom routes
  packages/now-next/src/index.ts
  packages/now-next/src/utils.ts
  packages/now-next/test/fixtures/07-custom-routes/next.config.js
  packages/now-next/test/fixtures/07-custom-routes/now.json
  packages/now-next/test/fixtures/07-custom-routes/package.json
  packages/now-next/test/fixtures/07-custom-routes/pages/hello.js
  packages/now-next/test/fixtures/07-custom-routes/pages/params.js
  test/lib/deployment/test-deployment.js
Labels: @now/next, automerge

#3278 [now-cli] Remove `test.only()` in now dev tests
  packages/now-cli/test/dev/integration.js
Labels: automerge, now-cli, now-dev

#3284 [now-cli] Enable Runtime tests
  packages/now-cli/test/helpers/prepare.js
  packages/now-cli/test/integration.js
Labels: automerge

#3287 Adjust commands for creating releases
  changelog.js
  diff.js
  package.json
  run.js
Labels: automerge

#3288 [now-ruby] Fix rails test
  packages/now-ruby/test/test.js
Labels: @now/ruby, automerge

#3289 [now-node] Fix TS version selection
  packages/now-node/src/typescript.ts
  packages/now-node/test/fixtures/18.1-nested-packagejson/backend/index.ts
  packages/now-node/test/fixtures/18.1-nested-packagejson/backend/package.json
  packages/now-node/test/fixtures/18.1-nested-packagejson/backend/tsconfig.json
  packages/now-node/test/fixtures/18.1-nested-packagejson/frontend/index.ts
  packages/now-node/test/fixtures/18.1-nested-packagejson/frontend/package.json
  packages/now-node/test/fixtures/18.1-nested-packagejson/frontend/tsconfig.json
  packages/now-node/test/fixtures/18.1-nested-packagejson/now.json
Labels: @now/node, automerge

#3290 [now-client] Clean up fetch headers
  packages/now-client/src/deploy.ts
  packages/now-client/src/upload.ts
  packages/now-client/src/utils/index.ts
Labels: automerge, now-client

#3291 [docs] Cleanup canary links, use master instead
  DEVELOPING_A_RUNTIME.md
  README.md
  VERSIONING.md
  packages/now-build-utils/package.json
Labels: automerge, docs

#3286 [@now/node] Configure helpers and handler with env variables
  packages/now-cli/test/integration.js
  packages/now-node/src/index.ts
  packages/now-node/test/fixtures/47-disable-helpers-by-env/index.js
  packages/now-node/test/fixtures/47-disable-helpers-by-env/now.json
  packages/now-node/test/fixtures/48-change-handler-by-env/index.js
  packages/now-node/test/fixtures/48-change-handler-by-env/now.json
Labels: @now/node, automerge, now-cli

#3285 [@now/build-utils] Add support for `includeFiles` and `excludeFiles` to Functions
  packages/now-build-utils/src/detect-builders.ts
  packages/now-build-utils/src/types.ts
  packages/now-build-utils/test/unit.test.js
  packages/now-cli/src/index.js
Labels: @now/build-utils, automerge, now-cli

#3292 [now-cli] Update `execa` to v3.2.0
  packages/now-cli/package.json
  packages/now-cli/test/dev/integration.js
  packages/now-cli/test/integration-v1.js
  packages/now-cli/test/integration.js
  yarn.lock
Labels: now-cli

#3300 [now-node] Disable default node timeout
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/test/integration.js
  packages/now-node-bridge/src/bridge.ts
Labels: @now/node, automerge

#3304 [now-node] Bump now-node-bridge
  packages/now-node/src/index.ts
Labels: @now/node, automerge

#3303 Revert "[now-static-build] Inject `gatsby-plugin-now` in Gatsby deployments (#3182)"
  packages/gatsby-plugin-now/gatsby-node.js
  packages/gatsby-plugin-now/readme.md
  packages/gatsby-plugin-now/test/__snapshots__/index.test.js.snap
  packages/now-static-build/.gitignore
  packages/now-static-build/build.sh
  packages/now-static-build/src/frameworks.ts
  packages/now-static-build/src/index.ts
  packages/now-static-build/src/utils/gatsby-config.ts
  packages/now-static-build/test/cache-fixtures/default/index.js
  packages/now-static-build/test/cache-fixtures/default/node_modules/file
  packages/now-static-build/test/cache-fixtures/default/package-lock.json
  packages/now-static-build/test/cache-fixtures/default/yarn.lock
  packages/now-static-build/test/cache-fixtures/gatsby/.cache/file
  packages/now-static-build/test/cache-fixtures/gatsby/package.json
  packages/now-static-build/test/cache-fixtures/gatsby/yarn.lock
  packages/now-static-build/test/cache.test.js
  packages/now-static-build/test/fixtures/10-gatsby/now.json
  packages/now-static-build/test/fixtures/10a-gatsby-redirects/.gitignore
  packages/now-static-build/test/fixtures/10a-gatsby-redirects/gatsby-config.js
Labels: @now/static-build, automerge

#3305 [tests] Always test now-cli
  run.js
Labels: automerge, now-cli

#3301 [now-cli] Make lambda memory test more consistent
  packages/now-cli/test/helpers/prepare.js
  packages/now-cli/test/integration.js
Labels: automerge, now-cli

#3295 [now-node] Ignore `babel.config.js`
  packages/now-node/src/babel.ts
  packages/now-node/test/fixtures/49-babel-config/babel.config.js
  packages/now-node/test/fixtures/49-babel-config/index.js
  packages/now-node/test/fixtures/49-babel-config/now.json
  packages/now-node/test/fixtures/49-babel-config/package.json
Labels: @now/node, automerge

#3293 [now-cli] Fix `localConfig` when file is above the target directory
  packages/now-cli/src/commands/deploy/index.js
  packages/now-cli/test/helpers/prepare.js
  packages/now-cli/test/integration.js
Labels: automerge, now-cli

#3306 [script] Cleanup changelog script
  changelog.js
Labels: automerge

#3315 [now-client] Fix publish output
  packages/now-cli/package.json
  packages/now-cli/src/util/deploy/process-deployment.ts
  packages/now-client/package.json
  packages/now-client/src/pkg.ts
  packages/now-client/src/utils/index.ts
  packages/now-client/tsconfig.json
  yarn.lock
Labels: automerge, now-client

#3311 [now-cli][now-routing-utils] Add support for v4 builders
  packages/now-cli/src/util/dev/builder.ts
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/src/util/dev/types.ts
  packages/now-routing-utils/src/index.ts
  packages/now-routing-utils/src/types.ts
  packages/now-routing-utils/test/index.spec.js
Labels: @now/routing-utils, automerge, now-cli, now-dev

#3312 [now-build-utils] Ensure function paths are relative to the project and improve the error message
  packages/now-build-utils/src/detect-builders.ts
  packages/now-build-utils/test/unit.test.js
Labels: @now/build-utils

#3321 [now-cli] Ensure that `stdin` exists when calling `setRawMode`
  packages/now-cli/src/util/input/prompt-bool.ts
  packages/now-cli/src/util/input/text.ts
  packages/now-cli/src/util/prompt-options.js
Labels: automerge, now-cli

#3326 [now-cli] Handle `uv_cwd` error when cwd is deleted
  packages/now-cli/src/index.js
  packages/now-cli/src/util/report-error.ts
Labels: automerge, now-cli, now-dev

#3329 [CircleCI] Remove `rsync` apt-get install
  .circleci/config.yml
Labels: automerge

#3332 [now-cli] Update `@zeit/fun` to v0.10.4
  packages/now-cli/package.json
  yarn.lock
Labels: automerge, now-cli, now-dev

#3327 [now-next] Fix custom routes order
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/08-custom-routes-catchall/next.config.js
  packages/now-next/test/fixtures/08-custom-routes-catchall/now.json
  packages/now-next/test/fixtures/08-custom-routes-catchall/package.json
  packages/now-next/test/fixtures/08-custom-routes-catchall/pages/hello.js
  packages/now-next/test/fixtures/08-custom-routes-catchall/pages/params.js
Labels: @now/next, automerge

#3330 [now-build-utils][now-static-build][now-node] Add node 12.x
  DEVELOPING_A_RUNTIME.md
  packages/now-build-utils/src/fs/node-version.ts
  packages/now-build-utils/test/unit.test.js
  packages/now-node/test/fixtures/10-node-engines/now.json
  packages/now-node/test/fixtures/10-node-engines/range/package.json
  packages/now-node/test/integration.test.js
  packages/now-static-build/test/fixtures/02-cowsay-sh/node12sh/build.sh
  packages/now-static-build/test/fixtures/02-cowsay-sh/node12sh/package.json
  packages/now-static-build/test/fixtures/02-cowsay-sh/now.json
  packages/now-static-build/test/test.js
Labels: @now/build-utils, @now/node, @now/static-build, automerge

#3336 [now-build-utils] Run detectors unit tests
  packages/now-build-utils/package.json
  packages/now-build-utils/test/unit.detectors.test.ts
Labels: @now/build-utils, automerge

#3335 [now-cli] Render an error message when the `--token` content is invalid
  errors/invalid-token-value.md
  packages/now-cli/src/index.js
  packages/now-cli/test/integration.js
Labels: automerge, now-cli

#3339 [now-build-utils] Fix canary selection for static build
  packages/now-build-utils/src/detect-builders.ts
  packages/now-build-utils/test/unit.test.js
Labels: @now/build-utils, automerge

#3333 Revert [now-cli][now-routing-utils] Add support for v4 builders #3311
  packages/now-cli/src/util/dev/builder.ts
  packages/now-cli/src/util/dev/types.ts
  packages/now-routing-utils/src/index.ts
  packages/now-routing-utils/src/types.ts
  packages/now-routing-utils/test/index.spec.js
Labels: @now/routing-utils, automerge, now-cli

#3341 [now-build-utils] Ignore engines for `yarn run`
  packages/now-build-utils/src/fs/run-user-scripts.ts
Labels: @now/build-utils, automerge, now-dev

#3342 [now-static-build] Cache `.cache` folder for gatsby deployments (#3260)
  packages/now-static-build/.gitignore
  packages/now-static-build/src/frameworks.ts
  packages/now-static-build/src/index.ts
  packages/now-static-build/test/cache-fixtures/default/index.js
  packages/now-static-build/test/cache-fixtures/default/node_modules/file
  packages/now-static-build/test/cache-fixtures/default/package-lock.json
  packages/now-static-build/test/cache-fixtures/default/yarn.lock
  packages/now-static-build/test/cache-fixtures/gatsby/.cache/file
  packages/now-static-build/test/cache-fixtures/gatsby/package.json
  packages/now-static-build/test/cache-fixtures/gatsby/yarn.lock
  packages/now-static-build/test/cache.test.js
Labels: @now/static-build, automerge

#3343 [now-routing-utils] Add support for `check: true`
  packages/now-routing-utils/src/schemas.ts
  packages/now-routing-utils/src/superstatic.ts
  packages/now-routing-utils/src/types.ts
  packages/now-routing-utils/test/index.spec.js
  packages/now-routing-utils/test/superstatic.spec.js
Labels: @now/routing-utils, automerge

#3346 [docs] Remove deprecated LambdaRuntimes
  DEVELOPING_A_RUNTIME.md
Labels: automerge, docs

#3358 [now-routing-utils] Add mergeRoutes function
  packages/now-routing-utils/src/index.ts
  packages/now-routing-utils/src/merge.ts
  packages/now-routing-utils/src/types.ts
  packages/now-routing-utils/test/merge.spec.js
Labels: @now/routing-utils, automerge

#3361 [now-routing-utils] Update `path-to-regexp` to v6.1.0
  packages/now-routing-utils/package.json
  packages/now-routing-utils/src/superstatic.ts
  packages/now-routing-utils/test/superstatic.spec.js
  yarn.lock
Labels: @now/routing-utils, automerge

#3354 [now dev] skip installing already installed versioned runtimes
  .gitignore
  packages/now-cli/src/util/dev/builder-cache.ts
  packages/now-cli/test/dev-builder.unit.js
Labels: automerge, bug, now-cli, now-dev

#3365 [now-cli] Fix preinstall script on windows when `LOCALAPPDATA` is missing
  packages/now-cli/scripts/preinstall.js
Labels: automerge, now-cli

#3364 [now-cli] Add support for `check: true` routes in `now dev`
  packages/now-cli/src/util/dev/router.ts
  packages/now-cli/test/dev/fixtures/routes-check-true/now.json
  packages/now-cli/test/dev/fixtures/routes-check-true/src/blog
  packages/now-cli/test/dev/integration.js
Labels: automerge, now-cli, now-dev
