Repository vercel/vercel, pull requests merged in 2019-09, with the labels that each got.

#2921 [now-cli] Use `xdg-app-paths` for `now dev` cache dir
  packages/now-cli/@types/cache-or-tmp-directory/index.d.ts
  packages/now-cli/package.json
  packages/now-cli/src/util/dev/builder-cache.ts
  yarn.lock
Labels: automerge, now-cli

#2932 [now-cli] Update `pcre-to-regexp` to v1.0.0
  packages/now-cli/@types/pcre-to-regexp/index.d.ts
  packages/now-cli/package.json
  yarn.lock
Labels: automerge, now-cli

#2924 [now-next] Create default file with correct target
  packages/now-next/src/create-serverless-config.ts
Labels: @now/next, automerge

#2916 [now-go] Add `GO_BUILD_FLAGS` support for `go build` custom flags
  packages/now-go/go-helpers.ts
  packages/now-go/index.ts
  packages/now-go/package.json
  packages/now-go/test/fixtures/16-custom-flag/index.go
  packages/now-go/test/fixtures/16-custom-flag/now.json
  yarn.lock
Labels: @now/go, automerge

#2937 [now-cli] Remove annotate from `now logs`
  packages/now-cli/src/commands/logs.js
  packages/now-cli/test/integration.js
Labels: automerge, now-cli

#2926 [now-node][now-next] Skip installing user dependencies for `now dev`
  .prettierrc
  packages/now-build-utils/src/fs/run-user-scripts.ts
  packages/now-build-utils/src/types.ts
  packages/now-next/package.json
  packages/now-next/src/index.ts
  packages/now-next/src/utils.ts
  packages/now-next/test/unit/build.test.js
  packages/now-node/package.json
  packages/now-node/src/index.ts
  packages/now-static-build/src/index.ts
  yarn.lock
Labels: @now/build-utils, @now/next, @now/node, automerge

#2897 [gatsby-plugin-now] Add new package w/support for Gatsby Redirects
  .circleci/config.yml
  .eslintignore
  packages/gatsby-plugin-now/build.sh
  packages/gatsby-plugin-now/gatsby-node.js
  packages/gatsby-plugin-now/index.js
  packages/gatsby-plugin-now/package.json
  packages/gatsby-plugin-now/readme.md
  packages/gatsby-plugin-now/test/__snapshots__/index.test.js.snap
  packages/gatsby-plugin-now/test/fixtures/.gitignore
  packages/gatsby-plugin-now/test/fixtures/gatsby-config.js
  packages/gatsby-plugin-now/test/fixtures/gatsby-node.js
  packages/gatsby-plugin-now/test/fixtures/package.json
  packages/gatsby-plugin-now/test/fixtures/src/pages/index.js
  packages/gatsby-plugin-now/test/index.test.js
  packages/now-static-build/build.sh
  packages/now-static-build/src/frameworks.ts
  packages/now-static-build/src/index.ts
  packages/now-static-build/test/fixtures/10a-gatsby-redirects/.gitignore
  packages/now-static-build/test/fixtures/10a-gatsby-redirects/gatsby-config.js
  packages/now-static-build/test/fixtures/10a-gatsby-redirects/gatsby-node.js
  packages/now-static-build/test/fixtures/10a-gatsby-redirects/now.json
  packages/now-static-build/test/fixtures/10a-gatsby-redirects/package.json
  packages/now-static-build/test/fixtures/10a-gatsby-redirects/probe.js
  packages/now-static-build/test/fixtures/10a-gatsby-redirects/src/pages/about.js
  packages/now-static-build/test/fixtures/10a-gatsby-redirects/src/pages/index.js
  packages/now-static-build/test/fixtures/10a-gatsby-redirects/src/pages/page1.js
  packages/now-static-build/test/fixtures/10a-gatsby-redirects/src/pages/page2.js
  packages/now-static-build/test/fixtures/10a-gatsby-redirects/yarn.lock
  yarn.lock
Labels: @now/static-build, automerge

#2942 [now-build-utils][now-next][now-node] Bump version
  packages/now-build-utils/package.json
  packages/now-cli/package.json
  packages/now-next/package.json
  packages/now-node/package.json
Labels: @now/build-utils, @now/next, @now/node, automerge

#2948 [now-cli] Install dependencies before running `now dev` in tests
  .gitignore
  packages/now-cli/test/dev-builder.unit.js
  packages/now-cli/test/dev-router.unit.js
  packages/now-cli/test/dev-server.unit.js
  packages/now-cli/test/dev/fixtures/01-node/yarn.lock
  packages/now-cli/test/dev/fixtures/02-angular-node/yarn.lock
  packages/now-cli/test/dev/fixtures/03-aurelia/.gitignore
  packages/now-cli/test/dev/fixtures/03-aurelia/.nowignore
  packages/now-cli/test/dev/fixtures/03-aurelia/yarn.lock
  packages/now-cli/test/dev/fixtures/05-gatsby/yarn.lock
  packages/now-cli/test/dev/fixtures/07-hexo-node/yarn.lock
  packages/now-cli/test/dev/fixtures/08-hugo/yarn.lock
  packages/now-cli/test/dev/fixtures/10-nextjs-node/yarn.lock
  packages/now-cli/test/dev/fixtures/11-nuxtjs-node/yarn.lock
  packages/now-cli/test/dev/fixtures/12-polymer-node/yarn.lock
  packages/now-cli/test/dev/fixtures/14-svelte-node/yarn.lock
  packages/now-cli/test/dev/fixtures/16-vue-node/yarn.lock
  packages/now-cli/test/dev/fixtures/17-vuepress-node/yarn.lock
  packages/now-cli/test/dev/fixtures/18-marko/yarn.lock
  packages/now-cli/test/dev/fixtures/19-mithril/yarn.lock
  packages/now-cli/test/dev/fixtures/20-riot/yarn.lock
  packages/now-cli/test/dev/fixtures/21-charge/yarn.lock
  packages/now-cli/test/dev/fixtures/22-brunch/yarn.lock
  packages/now-cli/test/dev/fixtures/24-ember/yarn.lock
  packages/now-cli/test/dev/fixtures/handle-filesystem-missing/yarn.lock
  packages/now-cli/test/dev/integration.js
Labels: automerge, now-cli

#2946 Fix the prettier config
  .prettierrc
  packages/now-next/src/index.ts
Labels: automerge

#2923 [now-cli] Remove `scale` subcommand from `--help`
  packages/now-cli/src/commands/deploy/args.js
Labels: automerge

#2951 [now-cli] Remove `now update` from `--help` output
  packages/now-cli/src/commands/deploy/args.js
Labels: automerge, now-cli

#2945 [now-cli] Handle `now certs ls` for users and teams without certificates
  packages/now-cli/src/commands/certs/add.ts
  packages/now-cli/src/commands/certs/index.ts
  packages/now-cli/src/commands/certs/ls.ts
  packages/now-cli/test/integration.js
Labels: automerge, now-cli

#2875 [now-cli] Implement `now-client` deployments in Now CLI
  .circleci/config.yml
  packages/now-cli/package.json
  packages/now-cli/src/commands/deploy/latest.js
  packages/now-cli/src/commands/deploy/legacy.ts
  packages/now-cli/src/util/deploy/create-deploy.js
  packages/now-cli/src/util/deploy/get-state-change-from-polling.ts
  packages/now-cli/src/util/deploy/process-deployment.ts
  packages/now-cli/src/util/errors-ts.ts
  packages/now-cli/src/util/index.js
  packages/now-client/package.json
  packages/now-client/src/create-deployment.ts
  packages/now-client/src/deploy.ts
  packages/now-client/src/upload.ts
  packages/now-client/src/utils/hashes.ts
  packages/now-client/src/utils/index.ts
  packages/now-client/tests/create-deployment.test.ts
  packages/now-client/tsconfig.json
  packages/now-client/types/types.d.ts
  run.js
  yarn.lock
Labels: automerge, now-cli, now-client

#2955 [now-cli] Bump `@zeit/fun` to 0.10.0
  packages/now-cli/package.json
  yarn.lock
Labels: automerge, now-cli

#2956 [now-python] Use system python with `now dev`
  packages/now-python/src/index.ts
Labels: @now/python, automerge, now-dev

#2957 [CircleCI] Remove `publish-stable` and `publish-canary` steps
  .circleci/config.yml
  .github/workflows/publish.yml
Labels: automerge

#2959 [now-cli] Fix `now alias` with no arguments
  packages/now-cli/src/commands/alias/set.ts
  packages/now-cli/src/util/alias/get-inferred-targets.ts
  packages/now-cli/test/integration.js
Labels: automerge, now-cli

#2954 [now-build-utils] Use debug() on `installing to` and `missing engines`
  packages/now-build-utils/src/fs/node-version.ts
  packages/now-build-utils/src/fs/run-user-scripts.ts
Labels: @now/build-utils, automerge

#2965 [gatsby-plugin-now] Add `keywords` in package.json
  packages/gatsby-plugin-now/package.json
Labels: automerge

#2960 [now-cli] Add platform in Sentry report
  packages/now-cli/src/util/report-error.js
Labels: automerge

#2964 [now-build-utils] Throw error on Next.js pages/api and api/
  packages/now-build-utils/src/detect-builders.ts
  packages/now-build-utils/test/test.js
Labels: @now/build-utils, automerge

#2970 [now-build-utils] Add `env` and `buildEnv` to `Meta` type
  packages/now-build-utils/src/types.ts
Labels: @now/build-utils, automerge

#2971 [now-cli] Use `PackageJson` and `Builder` types from `@now/build-utils`
  packages/now-cli/src/commands/dev/index.ts
  packages/now-cli/src/util/dev/builder-cache.ts
  packages/now-cli/src/util/dev/builder.ts
  packages/now-cli/src/util/dev/errors.ts
  packages/now-cli/src/util/dev/router.ts
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/src/util/dev/static-builder.ts
  packages/now-cli/src/util/dev/types.ts
  packages/now-cli/src/util/dev/validate.ts
  packages/now-cli/src/util/dev/yarn-installer.ts
  packages/now-cli/src/util/prefer-v2-deployment.ts
  packages/now-cli/src/util/read-package.ts
Labels: automerge, now-cli

#2975 [now-cli] Display warning when changing the secret name
  packages/now-cli/src/commands/secrets.js
  packages/now-cli/src/util/alias/get-deployment-for-alias.ts
  packages/now-cli/src/util/dev/server.ts
Labels: automerge, now-cli

#2976 [now-build-utils][now-cli] Warn instead of throwing on `api` and `pages/api`
  packages/now-build-utils/src/detect-builders.ts
  packages/now-build-utils/test/test.js
  packages/now-cli/package.json
  packages/now-cli/scripts/build.ts
  packages/now-cli/src/util/dev/builder-cache.ts
  packages/now-cli/src/util/dev/get-bundled-builders.ts
  packages/now-cli/src/util/dev/server.ts
  yarn.lock
Labels: @now/build-utils, automerge, now-cli

#2879 [now-static-build] Fix dev server port detection
  packages/now-static-build/package.json
  packages/now-static-build/src/index.ts
  packages/now-static-build/src/typings.d.ts
  packages/now-static-build/test/fixtures/12-create-react-app/src/App.js
  yarn.lock
Labels: @now/static-build, automerge

#2974 [now-client] Fix windows paths handling
  packages/now-client/src/utils/index.ts
Labels: automerge, now-client

#2961 [now-next] Add monorepo autosetup support
  packages/now-next/src/create-serverless-config.ts
  packages/now-next/src/index.ts
  packages/now-next/src/utils.ts
  packages/now-next/test/integration/index.test.js
  packages/now-next/test/integration/serverless-config-monorepo-missing/nested/package.json
  packages/now-next/test/integration/serverless-config-monorepo-missing/nested/pages/goodbye.js
  packages/now-next/test/integration/serverless-config-monorepo-missing/nested/pages/index.js
  packages/now-next/test/integration/serverless-config-monorepo-missing/now.json
  packages/now-next/test/integration/serverless-config-monorepo-present/nested/next.config.js
  packages/now-next/test/integration/serverless-config-monorepo-present/nested/package.json
  packages/now-next/test/integration/serverless-config-monorepo-present/nested/pages/goodbye.js
  packages/now-next/test/integration/serverless-config-monorepo-present/nested/pages/index.js
  packages/now-next/test/integration/serverless-config-monorepo-present/now.json
Labels: @now/next, automerge

#2985 [now-node] Bump node-file-trace to 0.3.0 and print warnings
  packages/now-next/package.json
  packages/now-node/package.json
  packages/now-node/src/index.ts
  yarn.lock
Labels: @now/next, @now/node, automerge

#2986 [now-build-utils] Add function `runBundleInstall()`
  packages/now-build-utils/src/fs/run-user-scripts.ts
  packages/now-build-utils/src/index.ts
Labels: @now/build-utils, automerge

#2984 [now-cli] Hide `Init Duration` and `XRAY TraceId` by default
  packages/now-cli/src/commands/logs.js
  packages/now-cli/test/integration.js
Labels: automerge, now-cli

#2990 [now-node][now-next] Bump node-file-trace to 0.3.1
  packages/now-next/package.json
  packages/now-node/package.json
  yarn.lock
Labels: @now/next, @now/node, automerge

#2980 [now-static-build] Run `bundle install` when `Gemfile` is found
  packages/now-build-utils/src/fs/run-user-scripts.ts
  packages/now-static-build/src/frameworks.ts
  packages/now-static-build/src/index.ts
  packages/now-static-build/test/fixtures/30-jekyll/.gitignore
  packages/now-static-build/test/fixtures/30-jekyll/404.html
  packages/now-static-build/test/fixtures/30-jekyll/Gemfile
  packages/now-static-build/test/fixtures/30-jekyll/Gemfile.lock
  packages/now-static-build/test/fixtures/30-jekyll/_config.yml
  packages/now-static-build/test/fixtures/30-jekyll/_posts/2019-09-06-welcome-to-jekyll.markdown
  packages/now-static-build/test/fixtures/30-jekyll/about.md
  packages/now-static-build/test/fixtures/30-jekyll/index.md
  packages/now-static-build/test/fixtures/30-jekyll/now.json
  packages/now-static-build/test/fixtures/30-jekyll/package.json
  packages/now-static-build/test/test.js
Labels: @now/static-build, automerge

#2988 [now-cli] Render correct command for `now ls $path_alias_url`
  packages/now-cli/src/commands/list.js
Labels: automerge, bug, now-cli

#2999 [now-go] Improve test for custom build flags
  packages/now-go/test/fixtures/16-custom-flag/custom/first.go
  packages/now-go/test/fixtures/16-custom-flag/custom/second.go
  packages/now-go/test/fixtures/16-custom-flag/go.mod
  packages/now-go/test/fixtures/16-custom-flag/index.go
  packages/now-go/test/fixtures/16-custom-flag/now.json
Labels: @now/go, automerge

#3003 [now-cli] Add tests for alias rules
  packages/now-cli/test/helpers/prepare.js
  packages/now-cli/test/integration.js
Labels: automerge, now-cli

#3002 [now-cli] Show a warning for invalid env vars in `now dev`
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/test/dev/fixtures/invalid-env-var-name/index.txt
  packages/now-cli/test/dev/fixtures/invalid-env-var-name/now.json
  packages/now-cli/test/dev/integration.js
Labels: automerge

#3016 [now-node] Change trace errors to warnings
  packages/now-node/src/index.ts
Labels: @now/node, automerge

#3017 [docs] Add scripts for changelog and diff
  PUBLISHING.md
  changelog.js
  diff.js
  package.json
Labels: automerge, docs

#3014 [now-cli] Adjust the printed version for the deployment
  packages/now-cli/src/util/deploy/process-deployment.ts
Labels: automerge, now-cli

#3026 [now-cli] Render "stderr" as red in `now logs`
  packages/now-cli/src/commands/logs.js
Labels: automerge, now-cli

#3028 [now-cli] Assign `process.exitCode`
  packages/now-cli/src/index.js
Labels: automerge, now-cli

#3030 [now-cli] Fix fetch body and add secrets tests
  packages/now-cli/src/commands/secrets.js
  packages/now-cli/src/util/index.js
  packages/now-cli/test/integration.js
Labels: automerge, now-cli

#3021 [now-build-utils] Add types for SPRv2
  packages/now-build-utils/src/index.ts
  packages/now-build-utils/src/prerender.ts
Labels: @now/build-utils, automerge, important

#3036 [tests] Add env var FORCE_BUILD_IN_REGION
  test/lib/deployment/now-deploy.js
Labels: automerge

#3037 [docs] Update CI badge to use master
  README.md
Labels: automerge, docs

#3035 [now-cli] Render logs containing "warning" as yellow
  packages/now-cli/src/commands/logs.js
Labels: automerge, now-cli

#3038 [now-cli] Update `@zeit/fun` to v0.10.2
  packages/now-cli/package.json
  yarn.lock
Labels: automerge, now-cli

#3043 [now-static-build] Add support for hugo extended
  packages/now-static-build/src/index.ts
Labels: @now/static-build, automerge

#3047 [now-static-build] Add prepareCache() function
  packages/now-static-build/src/index.ts
Labels: @now/static-build, automerge

#3039 [builders] Consistently capitalize first letter of logs
  packages/now-build-utils/src/fs/run-user-scripts.ts
  packages/now-go/index.ts
  packages/now-next/src/index.ts
  packages/now-node/src/index.ts
  packages/now-python/src/index.ts
  packages/now-static-build/src/index.ts
Labels: @now/build-utils, @now/go, @now/next, @now/node, @now/python, @now/static-build, automerge

#3048 [now-static-build][now-build-utils] Add python static generators
  packages/now-build-utils/src/fs/run-user-scripts.ts
  packages/now-build-utils/src/index.ts
  packages/now-static-build/src/index.ts
  packages/now-static-build/test/fixtures/40-pelican/.gitignore
  packages/now-static-build/test/fixtures/40-pelican/Makefile
  packages/now-static-build/test/fixtures/40-pelican/content/article2.rst
  packages/now-static-build/test/fixtures/40-pelican/content/pages/test_page.rst
  packages/now-static-build/test/fixtures/40-pelican/content/pictures/Fat_Cat.jpg
  packages/now-static-build/test/fixtures/40-pelican/content/super_article.rst
  packages/now-static-build/test/fixtures/40-pelican/now.json
  packages/now-static-build/test/fixtures/40-pelican/package.json
  packages/now-static-build/test/fixtures/40-pelican/pelicanconf.py
  packages/now-static-build/test/fixtures/40-pelican/publishconf.py
  packages/now-static-build/test/fixtures/40-pelican/requirements.txt
  packages/now-static-build/test/fixtures/40-pelican/tasks.py
  packages/now-static-build/test/fixtures/41-mkdocs/docs/another.md
  packages/now-static-build/test/fixtures/41-mkdocs/docs/index.md
  packages/now-static-build/test/fixtures/41-mkdocs/mkdocs.yml
  packages/now-static-build/test/fixtures/41-mkdocs/now.json
  packages/now-static-build/test/fixtures/41-mkdocs/package.json
  packages/now-static-build/test/fixtures/41-mkdocs/requirements.txt
Labels: @now/build-utils, @now/static-build, automerge

#3027 [now-build-utils] Remove `NOW_BUILDER_ANNOTATE`
  packages/now-build-utils/src/debug.ts
Labels: @now/build-utils, automerge

#3024 [now-cli][now-static-build] Ignore output directory from `now dev`
  packages/now-cli/src/util/dev/builder.ts
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/src/util/dev/types.ts
  packages/now-cli/test/dev/fixtures/output-is-source/.gitignore
  packages/now-cli/test/dev/fixtures/output-is-source/package.json
  packages/now-cli/test/dev/fixtures/output-is-source/yarn.lock
  packages/now-cli/test/dev/integration.js
  packages/now-static-build/src/index.ts
Labels: @now/static-build, automerge, now-cli, now-dev

#3053 [now-python] Fix headers with multiple values
  packages/now-python/now_init.py
  packages/now-python/src/index.ts
  packages/now-python/test/fixtures/20-multivalue-header/cookie_asgi.py
  packages/now-python/test/fixtures/20-multivalue-header/cookie_handler.py
  packages/now-python/test/fixtures/20-multivalue-header/cookie_wsgi.py
  packages/now-python/test/fixtures/20-multivalue-header/now.json
  packages/now-python/test/fixtures/20-multivalue-header/requirements.txt
  test/lib/deployment/test-deployment.js
Labels: @now/python, automerge

#3058 [now-cli] Fix `02-angular-node` test fail
  packages/now-cli/test/dev/fixtures/02-angular-node/package.json
  packages/now-cli/test/dev/fixtures/02-angular-node/yarn.lock
Labels: automerge, now-cli

#3041 [now-cli] Add `NOW_BUILDER_DEBUG` to build env if `--debug`
  packages/now-cli/src/commands/deploy/latest.js
  packages/now-cli/test/helpers/prepare.js
  packages/now-cli/test/integration.js
Labels: automerge, now-cli

#3060 [now-static-build] Add Eleventy to optimized framework list
  packages/now-static-build/src/frameworks.ts
  packages/now-static-build/test/fixtures/27-eleventy/.eleventy.js
  packages/now-static-build/test/fixtures/27-eleventy/.eleventyignore
  packages/now-static-build/test/fixtures/27-eleventy/.gitignore
  packages/now-static-build/test/fixtures/27-eleventy/404.md
  packages/now-static-build/test/fixtures/27-eleventy/LICENSE
  packages/now-static-build/test/fixtures/27-eleventy/README.md
  packages/now-static-build/test/fixtures/27-eleventy/_11ty/getTagList.js
  packages/now-static-build/test/fixtures/27-eleventy/_data/metadata.json
  packages/now-static-build/test/fixtures/27-eleventy/_includes/layouts/base.njk
  packages/now-static-build/test/fixtures/27-eleventy/_includes/layouts/home.njk
  packages/now-static-build/test/fixtures/27-eleventy/_includes/layouts/post.njk
  packages/now-static-build/test/fixtures/27-eleventy/_includes/postslist.njk
  packages/now-static-build/test/fixtures/27-eleventy/about/index.md
  packages/now-static-build/test/fixtures/27-eleventy/archive.njk
  packages/now-static-build/test/fixtures/27-eleventy/css/index.css
  packages/now-static-build/test/fixtures/27-eleventy/css/prism-base16-monokai.dark.css
  packages/now-static-build/test/fixtures/27-eleventy/feed/feed.njk
  packages/now-static-build/test/fixtures/27-eleventy/feed/htaccess.njk
  packages/now-static-build/test/fixtures/27-eleventy/img/.gitkeep
  packages/now-static-build/test/fixtures/27-eleventy/index.njk
  packages/now-static-build/test/fixtures/27-eleventy/now.json
  packages/now-static-build/test/fixtures/27-eleventy/package.json
  packages/now-static-build/test/fixtures/27-eleventy/page-list.njk
  packages/now-static-build/test/fixtures/27-eleventy/posts/firstpost.md
  packages/now-static-build/test/fixtures/27-eleventy/posts/fourthpost.md
  packages/now-static-build/test/fixtures/27-eleventy/posts/posts.json
  packages/now-static-build/test/fixtures/27-eleventy/posts/secondpost.md
  packages/now-static-build/test/fixtures/27-eleventy/posts/thirdpost.md
  packages/now-static-build/test/fixtures/27-eleventy/sitemap.xml.njk
  packages/now-static-build/test/fixtures/27-eleventy/tags-list.njk
  packages/now-static-build/test/fixtures/27-eleventy/tags.njk
  test/lib/deployment/test-deployment.js
Labels: @now/static-build, automerge

#3064 [now-node] Fix sharp test using lock file
  packages/now-node/test/fixtures/30-sharp/index.js
  packages/now-node/test/fixtures/30-sharp/package.json
  packages/now-node/test/fixtures/30-sharp/yarn.lock
Labels: @now/node, automerge

#3062 [tests] Add benchmark script to randomly generate projects files
  test/benchmark.js
Labels: automerge

#3068 [now-static-build] Print version of static generator during build
  packages/now-static-build/src/index.ts
Labels: @now/static-build, automerge

#3071 [bot] Use PR description for merge commit body
  .kodiak.toml
Labels: automerge

#3070 [now-static-build] Add test for `BUNDLE_WITHOUT` env var
  packages/now-static-build/test/fixtures/35-bundle-without/Gemfile
  packages/now-static-build/test/fixtures/35-bundle-without/build.sh
  packages/now-static-build/test/fixtures/35-bundle-without/now.json
  packages/now-static-build/test/fixtures/35-bundle-without/package.json
Labels: @now/static-build, automerge

#3057 [now-cli] Render prompt when deploying home directory
  packages/now-cli/src/commands/deploy/latest.js
  packages/now-cli/src/commands/deploy/legacy.ts
  packages/now-cli/src/util/deploy/should-deploy-dir.ts
  packages/now-cli/test/integration.js
Labels: automerge, now-cli

#2997 [now-client] Add debug logs
  packages/now-cli/src/util/deploy/process-deployment.ts
  packages/now-client/src/create-deployment.ts
  packages/now-client/src/deploy.ts
  packages/now-client/src/deployment-status.ts
  packages/now-client/src/upload.ts
  packages/now-client/src/utils/index.ts
  packages/now-client/types/types.d.ts
Labels: automerge, now-cli, now-client

#3076 [now-cli] Move hexo test to testFixtureStdio
  packages/now-cli/test/dev/integration.js
Labels: automerge, now-cli

#3072 [now-client] Retry on network error
  packages/now-cli/src/util/deploy/process-deployment.ts
  packages/now-client/src/upload.ts
  packages/now-client/src/utils/hashes.ts
  packages/now-client/src/utils/index.ts
Labels: automerge, now-client

#3077 [now-cli] Add logging to `execa` calls in tests
  packages/now-cli/test/integration.js
Labels: automerge, now-cli

#3081 [now-build-utils] Allow prerender groups to be defined with an integer
  packages/now-build-utils/src/index.ts
  packages/now-build-utils/src/prerender.ts
Labels: @now/build-utils, automerge

#3082 [now-build-utils] Make grouping prerenders optional
  packages/now-build-utils/src/prerender.ts
Labels: @now/build-utils, automerge

#3073 [now-next] Invoke build script
  packages/now-next/src/index.ts
  packages/now-next/test/integration/index.test.js
  packages/now-next/test/integration/serverless-no-config-build/now.json
  packages/now-next/test/integration/serverless-no-config-build/package.json
  packages/now-next/test/integration/serverless-no-config-build/pages/index.js
Labels: @now/next, automerge

#3045 [now-cli] Add `not_domain_owner` error handling
  packages/now-cli/src/commands/deploy/latest.js
  packages/now-cli/src/commands/deploy/legacy.ts
  packages/now-cli/src/util/deploy/create-deploy.js
  packages/now-cli/src/util/errors-ts.ts
  packages/now-cli/src/util/handle-error.ts
  packages/now-cli/test/helpers/prepare.js
Labels: automerge, now-cli

#3090 [now-static-build] Make curl silent
  packages/now-static-build/src/index.ts
Labels: @now/static-build, automerge

#3092 [now-client] Use `ignore` module to handle file ignoring logic
  packages/now-cli/package.json
  packages/now-cli/test/dev/integration.js
  packages/now-cli/test/helpers/prepare.js
  packages/now-cli/test/integration.js
  packages/now-client/package.json
  packages/now-client/src/create-deployment.ts
  packages/now-client/src/utils/index.ts
  yarn.lock
Labels: automerge, now-client

#3097 [now-cli] Fix deployment version output
  packages/now-cli/src/util/deploy/process-deployment.ts
Labels: automerge, now-cli

#3063 [now-cli] Integrate Projects API v2
  packages/now-cli/src/commands/projects.js
  packages/now-cli/src/util/index.js
Labels: automerge, now-cli
