Repository vercel/vercel, pull requests merged in 2020-05, with the labels that each got.

#4216 [now-cli] Update `now dev` HTML templates to use "Vercel"
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/src/util/dev/templates/error_404.jst
  packages/now-cli/src/util/dev/templates/error_base.jst
  packages/now-cli/test/dev-server.unit.js
Labels: automerge, now-cli, now-dev

#4224 [api] Update build script
  package.json
  utils/run.js
Labels: automerge

#4196 [now-next] Update to pass dynamic page values in the query
  packages/now-next/src/index.ts
  packages/now-next/src/utils.ts
  packages/now-next/test/fixtures/07-custom-routes/package.json
Labels: @now/next, automerge

#4225 [now-cli] Fix CORS headers in `now dev`
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/test/dev/fixtures/test-cors-routes/api/status.js
  packages/now-cli/test/dev/fixtures/test-cors-routes/now.json
  packages/now-cli/test/dev/integration.js
Labels: automerge, now-cli, now-dev

#4227 [now-routing-utils] Fix redirect `//` when `cleanUrls` and `trailingSlash` enabled
  packages/now-cli/test/dev/integration.js
  packages/now-routing-utils/src/superstatic.ts
  packages/now-routing-utils/test/index.spec.js
  packages/now-routing-utils/test/superstatic.spec.js
Labels: @now/routing-utils, automerge, now-dev

#4232 Revert "[now-routing-utils] Fix redirect `//` when `cleanUrls` and `trailingSlash` enabled"
  packages/now-cli/test/dev/integration.js
  packages/now-routing-utils/src/superstatic.ts
  packages/now-routing-utils/test/index.spec.js
  packages/now-routing-utils/test/superstatic.spec.js
Labels: @now/routing-utils, automerge

#4231 Temporarily revert @TooTallNate's `now dev` updates
  .gitignore
  packages/now-build-utils/src/types.ts
  packages/now-cli/package.json
  packages/now-cli/scripts/build.ts
  packages/now-cli/src/commands/dev/dev.ts
  packages/now-cli/src/util/dev/builder-cache.ts
  packages/now-cli/src/util/dev/builder-worker.js
  packages/now-cli/src/util/dev/builder.ts
  packages/now-cli/src/util/dev/router.ts
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/src/util/dev/static-builder.ts
  packages/now-cli/src/util/dev/types.ts
  packages/now-cli/src/util/dev/yarn-installer.ts
  packages/now-cli/src/util/once.ts
  packages/now-cli/src/util/pkg.ts
  packages/now-cli/src/util/tree-kill.ts
  packages/now-cli/test/dev-builder.unit.js
  packages/now-cli/test/dev-server.unit.js
  packages/now-cli/test/dev/fixtures/26-nextjs-secrets/yarn.lock
  packages/now-cli/test/dev/fixtures/27-zero-config-env/package.json
  packages/now-cli/test/dev/fixtures/27-zero-config-env/yarn.lock
  packages/now-cli/test/dev/fixtures/public-and-api/api/date.js
  packages/now-cli/test/dev/fixtures/public-and-api/api/rand.js
  packages/now-cli/test/dev/integration.js
  packages/now-node/build.sh
  packages/now-node/package.json
  packages/now-node/src/dev-server.ts
  packages/now-node/src/helpers.ts
  packages/now-node/src/index.ts
  packages/now-node/src/typescript.ts
  yarn.lock
Labels: @now/node, automerge, now-cli, now-dev

#4229 [tests] add "no only" and "no skip" eslint rules
  package.json
  packages/now-cli/test/integration-v1.js
  yarn.lock
Labels: tests

#4200 [now-cli] Implement pagination for `now env ls`
  packages/now-cli/src/commands/env/add.ts
  packages/now-cli/src/commands/env/index.ts
  packages/now-cli/src/commands/env/ls.ts
  packages/now-cli/src/commands/env/pull.ts
  packages/now-cli/src/commands/env/rm.ts
  packages/now-cli/src/util/env/get-env-records.ts
  packages/now-cli/test/integration.js
Labels: automerge, now-cli

#4265 [now-node][now-static-build] Add test for timezone utc
  packages/now-node/test/fixtures/60-timezone-utc/api/offset.js
  packages/now-node/test/fixtures/60-timezone-utc/now.json
  packages/now-static-build/test/fixtures/60-timezone-utc/now.json
  packages/now-static-build/test/fixtures/60-timezone-utc/offset.js
  packages/now-static-build/test/fixtures/60-timezone-utc/package.json
Labels: @now/node, @now/static-build, automerge, tests

#4264 [tests] Fix cancel workflow pattern
  .github/workflows/cancel.yml
Labels: automerge, tests

#4266 Add logging to debug failed npm publish for legacy package names in CI
  utils/publish-legacy.sh
  utils/publish.sh
Labels: automerge, tests

#4273 [now-cli][now-go][now-python] Use `<project>/.vercel/cache' dir during dev
  packages/now-build-utils/src/types.ts
  packages/now-cli/src/util/dev/builder.ts
  packages/now-cli/src/util/dev/types.ts
  packages/now-cli/src/util/projects/link.ts
  packages/now-go/index.ts
  packages/now-python/src/index.ts
Labels: @now/go, @now/python, automerge, now-cli, now-dev

#4274 [all] Check for `VERCEL_` environment variables with `getPlatformEnv()`
  packages/now-build-utils/src/debug.ts
  packages/now-build-utils/src/errors.ts
  packages/now-build-utils/src/fs/node-version.ts
  packages/now-build-utils/src/fs/run-user-scripts.ts
  packages/now-build-utils/src/index.ts
  packages/now-cli/src/commands/dev/dev.ts
  packages/now-cli/src/util/dev/builder.ts
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/src/util/metrics.ts
  packages/now-cli/src/util/projects/link.ts
  packages/now-cli/test/dev/integration.js
  packages/now-cli/test/helpers/prepare.js
  packages/now-client/src/utils/index.ts
  packages/now-next/src/index.ts
  packages/now-next/src/legacy-launcher.ts
  packages/now-next/src/templated-launcher.ts
  packages/now-next/src/utils.ts
  packages/now-node/src/launcher.ts
  packages/now-node/src/typescript.ts
  packages/now-ruby/install-ruby.ts
  packages/now-static-build/src/index.ts
  packages/now-static-build/test/fixtures/45-node-modules-bin-path/now.json
  packages/now-static-build/test/fixtures/46-hugo-with-framework/now.json
  test/lib/deployment/now-deploy.js
  test/lib/deployment/test-deployment.js
Labels: @now/build-utils, @now/next, @now/node, @now/ruby, @now/static-build, automerge, now-cli, now-dev

#4277 [now-cli] Rename bin to support `vercel` and `vc`
  packages/now-cli/package.json
  utils/update-legacy-name.js
Labels: automerge, now-cli

#4278 [now-cli] Update README.md image
  README.md
  packages/now-cli/README.md
Labels: automerge, docs, now-cli

#4281 [now-cli] Add special case for `.vercel.app`
  packages/now-cli/src/commands/deploy/latest.js
  packages/now-cli/src/commands/list.js
  packages/now-cli/src/util/alias/assign-alias.ts
  packages/now-cli/src/util/alias/upsert-path-alias.ts
  packages/now-cli/src/util/deploy/process-deployment.ts
  packages/now-cli/test/helpers/parse-list.js
  packages/now-cli/test/integration.js
  packages/now-python/test/fixtures/08-django/hello/settings.py
Labels: @now/python, automerge, now-cli

#4279 [now-cli] Update README references to Now CLI as Vercel CLI
  README.md
  packages/now-cli/README.md
Labels: automerge, docs, now-cli

#4282 [now-build-utils][now-cli] Fix `isOfficialRuntime()` edge case bug
  packages/now-build-utils/src/index.ts
  packages/now-build-utils/test/unit.is-official-runtime.test.ts
  packages/now-cli/src/util/dev/builder.ts
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/src/util/is-official-runtime.ts
Labels: @now/build-utils, automerge, bug, now-cli

#4257 [now-cli] Implement pagination for `now dns ls`
  packages/now-cli/src/commands/dns/index.ts
  packages/now-cli/src/commands/dns/ls.ts
  packages/now-cli/src/commands/dns/rm.ts
  packages/now-cli/src/types.ts
  packages/now-cli/src/util/dns/get-dns-record-by-id.ts
  packages/now-cli/src/util/dns/get-dns-records.ts
Labels: now-cli

#4290 Replace `now` with `vercel` in pagination message for `vercel dns ls`
  packages/now-cli/src/commands/dns/ls.ts
Labels: now-cli

#4292 [now-cli] Add e2e test for `vercel.json` and `.vercelignore`
  packages/now-cli/test/dev/fixtures/28-vercel-json-and-ignore/.gitignore
  packages/now-cli/test/dev/fixtures/28-vercel-json-and-ignore/.vercelignore
  packages/now-cli/test/dev/fixtures/28-vercel-json-and-ignore/api/one.js
  packages/now-cli/test/dev/fixtures/28-vercel-json-and-ignore/api/two.js
  packages/now-cli/test/dev/fixtures/28-vercel-json-and-ignore/index.html
  packages/now-cli/test/dev/fixtures/28-vercel-json-and-ignore/vercel.json
  packages/now-cli/test/dev/integration.js
  test/lib/deployment/now-deploy.js
  test/lib/deployment/test-deployment.js
  test/lib/run-build-lambda.js
Labels: automerge, now-cli, now-dev

#4286 Ensure the npm registry is used during "Publish" workflow
  lerna.json
  utils/publish-legacy.sh
  utils/publish.sh
Labels: automerge, tests

#4295 [now-cli] Special case `@vercel/static` when updating builders
  packages/now-cli/src/util/dev/builder-cache.ts
Labels: automerge, bug, now-cli, now-dev

#4296 [now-cli] Add getTitleName() and update getCommandName()
  packages/now-cli/src/commands/alias/ls.js
  packages/now-cli/src/commands/alias/rm.js
  packages/now-cli/src/commands/alias/set.ts
  packages/now-cli/src/commands/certs/add.ts
  packages/now-cli/src/commands/certs/issue.ts
  packages/now-cli/src/commands/certs/ls.ts
  packages/now-cli/src/commands/certs/rm.ts
  packages/now-cli/src/commands/deploy/latest.js
  packages/now-cli/src/commands/dev/index.ts
  packages/now-cli/src/commands/dns/add.ts
  packages/now-cli/src/commands/dns/import.ts
  packages/now-cli/src/commands/dns/ls.ts
  packages/now-cli/src/commands/dns/rm.ts
  packages/now-cli/src/commands/domains/add.ts
  packages/now-cli/src/commands/domains/buy.ts
  packages/now-cli/src/commands/domains/inspect.ts
  packages/now-cli/src/commands/domains/ls.ts
  packages/now-cli/src/commands/domains/move.ts
  packages/now-cli/src/commands/domains/rm.ts
  packages/now-cli/src/commands/domains/transfer-in.ts
  packages/now-cli/src/commands/domains/verify.ts
  packages/now-cli/src/commands/env/add.ts
  packages/now-cli/src/commands/env/ls.ts
  packages/now-cli/src/commands/env/pull.ts
  packages/now-cli/src/commands/env/rm.ts
  packages/now-cli/src/commands/init/init.ts
  packages/now-cli/src/commands/inspect.js
  packages/now-cli/src/commands/list.js
  packages/now-cli/src/commands/login.js
  packages/now-cli/src/commands/projects.js
  packages/now-cli/src/commands/remove.js
  packages/now-cli/src/commands/secrets.js
  packages/now-cli/src/commands/teams/add.js
  packages/now-cli/src/commands/teams/invite.js
  packages/now-cli/src/commands/update.ts
  packages/now-cli/src/index.js
  packages/now-cli/src/util/errors-ts.ts
  packages/now-cli/src/util/pkg-name.ts
Labels: automerge, now-cli

#4299 [now-cli] Change precedence of auth directory
  packages/now-cli/src/util/config/global-path.ts
Labels: automerge, now-cli

#4300 [now-build-utils] Use `@vercel` runtimes for zero-config
  packages/now-build-utils/src/detect-builders.ts
  packages/now-build-utils/test/integration.test.js
  packages/now-build-utils/test/unit.builds-and-routes-detector.test.ts
Labels: @now/build-utils, automerge

#4302 [now-cli] Fix update Changelog URL
  packages/now-cli/src/index.js
Labels: automerge, bug, now-cli

#4306 [now-cli] Update `now env add` to skip value if system var
  packages/now-cli/src/commands/env/add.ts
  packages/now-cli/test/integration.js
Labels: automerge, now-cli

#4310 [cli] Fix `now dev` infinite loop for yarn workspaces
  packages/now-cli/src/util/dev/builder-cache.ts
Labels: automerge, cli, vc dev

#4313 [built-utils] Make `getPlatformEnv()` throw if both NOW_ and VERCEL_ are defined
  packages/now-build-utils/src/index.ts
  packages/now-build-utils/test/unit.get-platform-env.test.ts
Labels: @vercel/build-utils, automerge

#4315 [cli] Fix deploying v1 with secrets
  packages/now-cli/src/commands/deploy/legacy.ts
Labels: automerge, cli

#4309 [cli] Fix error message to display correct config name
  packages/now-cli/src/commands/deploy/index.js
  packages/now-cli/src/commands/deploy/latest.js
  packages/now-cli/src/types.ts
  packages/now-cli/src/util/alias/get-deployment-by-alias.ts
  packages/now-cli/src/util/alias/get-deployment-for-alias.ts
  packages/now-cli/src/util/alias/get-targets-for-alias.ts
  packages/now-cli/src/util/config/files.ts
  packages/now-cli/src/util/config/read-config.ts
  packages/now-cli/src/util/deploy/get-app-name.ts
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/src/util/dev/validate.ts
  packages/now-cli/src/util/get-config.ts
  packages/now-cli/src/util/prefer-v2-deployment.ts
  packages/now-cli/src/util/read-package.ts
  packages/now-cli/test/helpers/prepare.js
  packages/now-cli/test/integration.js
  packages/now-client/src/create-deployment.ts
  packages/now-client/src/types.ts
Labels: automerge, cli

#4317 [all] Fix runtimes to work with old versions of CLI
  packages/now-go/build-utils.ts
  packages/now-go/build.sh
  packages/now-go/go-helpers.ts
  packages/now-go/index.ts
  packages/now-next/build.sh
  packages/now-next/src/build-utils.ts
  packages/now-next/src/index.ts
  packages/now-next/src/utils.ts
  packages/now-node/build.sh
  packages/now-node/src/build-utils.ts
  packages/now-node/src/index.ts
  packages/now-node/src/typescript.ts
  packages/now-python/build.sh
  packages/now-python/src/build-utils.ts
  packages/now-python/src/index.ts
  packages/now-python/src/install.ts
  packages/now-ruby/build-utils.ts
  packages/now-ruby/build.sh
  packages/now-ruby/index.ts
  packages/now-ruby/install-ruby.ts
  packages/now-static-build/build.sh
  packages/now-static-build/src/build-utils.ts
  packages/now-static-build/src/index.ts
Labels: @vercel/go, @vercel/next, @vercel/node, @vercel/python, @vercel/ruby, @vercel/static-build, automerge

#4311 [client] Throw an error if both `.vercelignore` and `.nowignore` exist
  packages/now-cli/src/util/deploy/process-deployment.ts
  packages/now-client/src/utils/index.ts
  packages/now-client/tests/fixtures/vercelignore-and-nowignore/.nowignore
  packages/now-client/tests/fixtures/vercelignore-and-nowignore/.vercelignore
  packages/now-client/tests/vercelignore.test.ts
Labels: @vercel/client, automerge

#4340 [cli] Fix env commands when secret was deleted
  packages/now-cli/src/commands/env/pull.ts
  packages/now-cli/src/util/env/get-env-records.ts
  packages/now-cli/src/util/env/remove-env-record.ts
Labels: automerge, cli

#4341 [cli] Fix new routing props to be case sensitive
  packages/now-cli/src/util/dev/router.ts
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/test/dev/fixtures/test-routing-case-sensitive/lower.html
  packages/now-cli/test/dev/fixtures/test-routing-case-sensitive/upper.html
  packages/now-cli/test/dev/fixtures/test-routing-case-sensitive/vercel.json
  packages/now-cli/test/dev/integration.js
Labels: automerge, cli, vc dev

#4345 [build-utils] Use `@vercel/static` for zero-config
  packages/now-build-utils/src/detect-builders.ts
  packages/now-build-utils/test/unit.builds-and-routes-detector.test.ts
Labels: @vercel/build-utils, automerge

#4353 [cli] Fix update command
  packages/now-cli/src/util/get-update-command.ts
  packages/now-cli/test/integration-v1.js
  packages/now-cli/test/unit.js
Labels: automerge, cli

#4354 [build-utils] Detect invalid `engines` pattern in package.json
  packages/now-build-utils/src/fs/node-version.ts
  packages/now-build-utils/test/unit.test.js
Labels: @vercel/build-utils, automerge

#4254 [cli][node] Re-apply @TooTallNate's `vc dev` updates
  .gitignore
  api/frameworks.ts
  packages/now-build-utils/src/types.ts
  packages/now-cli/package.json
  packages/now-cli/scripts/build.ts
  packages/now-cli/src/commands/dev/dev.ts
  packages/now-cli/src/util/dev/builder-cache.ts
  packages/now-cli/src/util/dev/builder-worker.js
  packages/now-cli/src/util/dev/builder.ts
  packages/now-cli/src/util/dev/router.ts
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/src/util/dev/static-builder.ts
  packages/now-cli/src/util/dev/types.ts
  packages/now-cli/src/util/dev/yarn-installer.ts
  packages/now-cli/src/util/once.ts
  packages/now-cli/src/util/pkg.ts
  packages/now-cli/src/util/tree-kill.ts
  packages/now-cli/test/dev-builder.unit.js
  packages/now-cli/test/dev-server.unit.js
  packages/now-cli/test/dev/fixtures/26-nextjs-secrets/yarn.lock
  packages/now-cli/test/dev/fixtures/27-zero-config-env/package.json
  packages/now-cli/test/dev/fixtures/public-and-api/api/date.js
  packages/now-cli/test/dev/fixtures/public-and-api/api/rand.js
  packages/now-cli/test/dev/integration.js
  packages/now-node/build.sh
  packages/now-node/package.json
  packages/now-node/src/dev-server.ts
  packages/now-node/src/helpers.ts
  packages/now-node/src/index.ts
  packages/now-node/src/typescript.ts
  yarn.lock
Labels: @vercel/node, automerge, cli, dev

#4358 Revert "[now-next] Update to pass dynamic page values in the query (#4196)"
  packages/now-next/src/index.ts
  packages/now-next/src/utils.ts
  packages/now-next/test/fixtures/07-custom-routes/package.json
Labels: @vercel/next, automerge

#4357 [cli] Add test for readme.md with now.json and vercel.json
  packages/now-cli/test/helpers/prepare.js
  packages/now-cli/test/integration.js
Labels: automerge, cli, tests

#4188 [node-bridge] Catch invalid HTTP request headers
  packages/now-node-bridge/src/bridge.ts
  packages/now-node-bridge/test/bridge.test.js
Labels: @vercel/next, @vercel/node, automerge

#4325 [client] Fix file tree walking ignored files (i.e. node_modules)
  packages/now-client/.gitignore
  packages/now-client/package.json
  packages/now-client/src/create-deployment.ts
  packages/now-client/src/utils/index.ts
  packages/now-client/tests/create-deployment.test.ts
  packages/now-client/tests/fixtures/nowignore/node_modules/ignore.txt
  packages/now-client/tests/unit.utils.test.ts
Labels: @vercel/client, automerge

#4344 [cli] Render a note when installing Vercel CLI and Now CLI is installed
  packages/now-cli/scripts/preinstall.js
Labels: automerge, cli

#4371 [cli] Fix api url for `vc env add`
  packages/now-cli/src/util/env/add-env-record.ts
Labels: automerge, cli

#4373 [cli] Pin `@vercel/next` to v2.6.2
  packages/now-cli/package.json
Labels: automerge, cli

#4230 [build-utils][cli][node] Write the dev mode `tsconfig.json` files to `.vercel/cache`
  packages/now-build-utils/src/types.ts
  packages/now-cli/src/util/dev/builder-cache.ts
  packages/now-cli/src/util/dev/builder.ts
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/src/util/pkg.ts
  packages/now-node/package.json
  packages/now-node/src/index.ts
  yarn.lock
Labels: @vercel/build-utils, @vercel/node, automerge, cli

#4377 Adds the missing logo for the Dojo framework
  packages/frameworks/logos/dojo.svg
  packages/frameworks/test/frameworks.unit.test.ts
Labels: @vercel/frameworks, automerge

#4386 [tests] Fix test tokens
  .github/workflows/test-integration-cli.yml
  .github/workflows/test-integration-dev.yml
  .github/workflows/test-integration-once.yml
  test/lib/deployment/now-deploy.js
Labels: automerge, tests

#4385 [tests] Update codeowners for mcsdevv
  .github/CODEOWNERS
Labels: automerge, tests

#4329 [docs] Link to `vercel.com`
  README.md
  packages/now-cli/README.md
Labels: automerge, docs

#4368 [next] Update "Routes Manifest" Error
  errors/now-next-routes-manifest.md
  packages/now-next/src/utils.ts
Labels: @vercel/next, automerge

#4393 [cli] Add logs when installing Runtimes in dev
  packages/now-cli/src/util/dev/builder-cache.ts
  packages/now-cli/src/util/output/create-output.ts
Labels: automerge, cli, dev

#4102 [next] Update to group pages into shared lambdas
  packages/now-next/package.json
  packages/now-next/src/index.ts
  packages/now-next/src/templated-launcher-shared.ts
  packages/now-next/src/utils.ts
  packages/now-next/test/fixtures/22-ssg-v2-shared-lambdas/next.config.js
  packages/now-next/test/fixtures/22-ssg-v2-shared-lambdas/now.json
  packages/now-next/test/fixtures/22-ssg-v2-shared-lambdas/package.json
  packages/now-next/test/fixtures/22-ssg-v2-shared-lambdas/pages/another.js
  packages/now-next/test/fixtures/22-ssg-v2-shared-lambdas/pages/another2.js
  packages/now-next/test/fixtures/22-ssg-v2-shared-lambdas/pages/blog/[post]/[comment].js
  packages/now-next/test/fixtures/22-ssg-v2-shared-lambdas/pages/blog/[post]/index.js
  packages/now-next/test/fixtures/22-ssg-v2-shared-lambdas/pages/forever.js
  packages/now-next/test/fixtures/22-ssg-v2-shared-lambdas/pages/index.js
  packages/now-next/test/fixtures/22-ssg-v2-shared-lambdas/pages/lambda.js
  packages/now-next/test/fixtures/22-ssg-v2-shared-lambdas/pages/nofallback/[slug].js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/.gitignore
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/next.config.js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/now.json
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/package.json
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/another/[id].js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/api/dynamic/[slug].js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/api/hello.js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/blog/[post]/index.js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/docs/v2/more/now-for-github.js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/hello-again.js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/hello.js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/multi-rewrites.js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/nav.js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/params.js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/redirect-override.js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/with-params.js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/public/blog/data.json
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/public/static/hello.txt
  yarn.lock
Labels: @vercel/next, automerge

#4401 [cli] Fix login test with mock server
  packages/now-cli/src/util/login/login.ts
  packages/now-cli/test/integration.js
Labels: automerge, cli, tests

#4241 [cli] Support WebSocket upgrades in dev
  packages/now-cli/src/util/dev/server.ts
Labels: automerge, cli, dev

#4400 [docs] Update issue template
  .github/ISSUE_TEMPLATE/config.yml
Labels: automerge, docs

#4408 [cli] Fix dev server unit tests timing out
  packages/now-cli/src/util/dev/server.ts
Labels: automerge, cli, dev

#4409 [cli] Await the FS watcher closing when shutting down `vc dev`
  packages/now-cli/src/util/dev/server.ts
Labels: automerge, cli, dev

#4411 [tests] Bump cancel-workflow-action to 0.3.2
  .github/workflows/cancel.yml
Labels: automerge, tests

#4410 [cli] Update "custom runtime" dev integration test to `vercel-bash@3.0.7`
  packages/now-cli/test/dev/fixtures/custom-runtime/vercel.json
  packages/now-cli/test/dev/integration.js
Labels: automerge, cli, dev, tests

#4407 [node][next] Bump node-file-trace to 0.6.1
  packages/now-next/package.json
  packages/now-node/package.json
  yarn.lock
Labels: @vercel/next, @vercel/node

#4421 [cli] Fixes for the `vc dev` Runtime installation logic
  packages/now-cli/src/util/dev/builder-cache.ts
  packages/now-cli/src/util/dev/get-bundled-builders.ts
Labels: automerge, bug, cli, dev

#4429 [cli] Update runtimes in dev should not audit
  packages/now-cli/src/util/dev/builder-cache.ts
Labels: automerge, cli, dev

#4441 [tests] Fix Windows tests filtering logic and branch name detection
  utils/run.js
Labels: automerge, tests

#4448 [python] Link to original PR contribution for ASGI
  packages/now-python/now_init.py
Labels: @vercel/python, automerge

#4428 [next] Update routes order for shared lambdas
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/05-spr-support/now.json
  packages/now-next/test/fixtures/17-static-404/now.json
  packages/now-next/test/fixtures/18-ssg-fallback-support/now.json
  packages/now-next/test/fixtures/19-pages-404/now.json
  packages/now-next/test/fixtures/21-server-props/now.json
  packages/now-next/test/fixtures/22-ssg-v2-shared-lambdas/now.json
  packages/now-next/test/fixtures/22-ssg-v2/now.json
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/now.json
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/nested/[slug]/[team]/[id].js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/nested/teams/invite/[inviteCode].js
  packages/now-next/test/fixtures/25-mono-repo-404/now.json
Labels: @vercel/next, automerge

#4219 [frameworks][examples] Add Blitz.js
  examples/blitzjs/.babelrc.js
  examples/blitzjs/.eslintrc.js
  examples/blitzjs/.gitignore
  examples/blitzjs/.npmrc
  examples/blitzjs/.prettierignore
  examples/blitzjs/README.md
  examples/blitzjs/app/components/.keep
  examples/blitzjs/app/components/ErrorBoundary.tsx
  examples/blitzjs/app/layouts/.keep
  examples/blitzjs/app/pages/_app.tsx
  examples/blitzjs/app/pages/_document.tsx
  examples/blitzjs/app/pages/index.tsx
  examples/blitzjs/blitz.config.js
  examples/blitzjs/db/index.ts
  examples/blitzjs/db/migrations/.keep
  examples/blitzjs/db/schema.prisma
  examples/blitzjs/integrations/.keep
  examples/blitzjs/jobs/.keep
  examples/blitzjs/package.json
  examples/blitzjs/public/favicon.ico
  examples/blitzjs/public/logo.png
  examples/blitzjs/tsconfig.json
  examples/blitzjs/utils/.keep
  packages/frameworks/frameworks.json
  packages/frameworks/logos/blitz.svg
  packages/now-build-utils/src/detect-builders.ts
Labels: @vercel/build-utils, @vercel/frameworks, examples

#4228 [node] Fix `req.on('data')` events in `startDevServer()`
  packages/now-cli/test/dev-server.unit.js
  packages/now-cli/test/fixtures/unit/now-dev-request-body/api/data-events.js
  packages/now-cli/test/fixtures/unit/now-dev-request-body/api/req-body.js
  packages/now-node-bridge/src/bridge.ts
  packages/now-node/src/dev-server.ts
  packages/now-node/src/helpers.ts
  packages/now-node/src/launcher.ts
Labels: @vercel/node, automerge, dev

#4463 [frameworks] Fix unit tests on Windows
  packages/frameworks/package.json
Labels: @vercel/frameworks, automerge, tests

#4462 [cli] Fix fork child process on dev
  packages/now-cli/src/util/dev/builder.ts
  packages/now-node/src/index.ts
Labels: automerge, cli, dev

#4346 [cli] Fix query string routes in dev
  packages/now-cli/src/util/dev/router.ts
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/test/dev/fixtures/handle-miss-querystring/functions/echo.js
  packages/now-cli/test/dev/fixtures/handle-miss-querystring/index.html
  packages/now-cli/test/dev/fixtures/handle-miss-querystring/vercel.json
  packages/now-cli/test/dev/integration.js
Labels: cli, dev

#4492 [test] Fix cli test for handle miss querystring
  packages/now-cli/test/dev/integration.js
Labels: automerge, cli, tests

#4495 [cli] Add delay before updating Runtimes in background
  packages/now-cli/src/util/dev/server.ts
Labels: automerge, cli, dev

#4484 [next][routing-utils] Fix unnamed multi-match custom route
  packages/now-next/test/fixtures/23-custom-routes-verbose/next.config.js
  packages/now-next/test/fixtures/23-custom-routes-verbose/now.json
  packages/now-routing-utils/src/superstatic.ts
  packages/now-routing-utils/test/superstatic.spec.js
Labels: @vercel/next, @vercel/routing-utils, automerge

#4444 [build-utils] Fix Yarn 2 install argument order
  packages/now-build-utils/src/fs/run-user-scripts.ts
  packages/now-build-utils/test/fixtures/19-yarn-v2/.gitignore
  packages/now-build-utils/test/fixtures/19-yarn-v2/.yarn/releases/yarn-berry.js
  packages/now-build-utils/test/fixtures/19-yarn-v2/.yarnrc.yml
  packages/now-build-utils/test/fixtures/19-yarn-v2/README.md
  packages/now-build-utils/test/fixtures/19-yarn-v2/now.json
  packages/now-build-utils/test/fixtures/19-yarn-v2/package.json
  packages/now-build-utils/test/fixtures/19-yarn-v2/public/favicon.png
  packages/now-build-utils/test/fixtures/19-yarn-v2/public/global.css
  packages/now-build-utils/test/fixtures/19-yarn-v2/public/index.html
  packages/now-build-utils/test/fixtures/19-yarn-v2/rollup.config.js
  packages/now-build-utils/test/fixtures/19-yarn-v2/src/App.svelte
  packages/now-build-utils/test/fixtures/19-yarn-v2/src/main.js
  packages/now-build-utils/test/fixtures/19-yarn-v2/yarn.lock
Labels: @vercel/build-utils

#4396 [cli] Add additional logging to debug `ECONNREFUSED` error
  packages/now-cli/src/util/dev/server.ts
Labels: automerge, cli, dev

#4507 Fixed old references to repository
  api/_lib/examples/github-repo-info.ts
  api/examples/download/[segment].ts
  api/examples/list.ts
  api/package.json
Labels: automerge

#4508 [build-utils] Remove `--ignore-engines` flag
  packages/now-build-utils/src/fs/run-user-scripts.ts
  packages/now-next/src/utils.ts
  utils/run.js
Labels: @vercel/build-utils, @vercel/next, semver-major

#4509 [cli][client] Fix windows unit tests
  packages/now-cli/test/unit.js
  packages/now-client/tests/unit.utils.test.ts
Labels: @vercel/client, cli, tests

#4512 [api] Fix download api
  api/examples/download/[segment].ts
Labels: automerge

#4531 [cli] Update zeit.ink to vercel.link shortener
  packages/now-cli/src/commands/deploy/latest.js
  packages/now-cli/src/commands/login.js
  packages/now-cli/src/index.js
  packages/now-cli/src/util/output/create-output.ts
  packages/now-cli/src/util/validate-paths.ts
  packages/now-cli/test/integration-v1.js
  packages/now-cli/test/integration.js
Labels: automerge, cli

#4498 [routing-utils] Improve error messages
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/test/dev/integration.js
  packages/now-routing-utils/src/index.ts
  packages/now-routing-utils/src/types.ts
  packages/now-routing-utils/test/index.spec.js
Labels: @vercel/routing-utils, automerge

#4532 [routing-utils] Fix error when segment in query string
  packages/now-routing-utils/src/index.ts
  packages/now-routing-utils/test/index.spec.js
Labels: @vercel/routing-utils, automerge
