Repository vercel/vercel, pull requests merged in 2020-01, with the labels that each got.

#3483 [now-build-utils] Add support for `getLatestNodeVersion()` and `config.nodeVersion`
  packages/now-build-utils/src/fs/node-version.ts
  packages/now-build-utils/src/fs/run-user-scripts.ts
  packages/now-build-utils/src/index.ts
  packages/now-build-utils/src/types.ts
  packages/now-build-utils/test/unit.test.js
  packages/now-node/test/fixtures/35-puppeteer/package.json
Labels: @now/build-utils, @now/node, automerge

#3469 [frameworks][now-static-build] Add support for Scully
  packages/frameworks/frameworks.json
  packages/now-build-utils/test/unit.framework-detector.test.ts
  packages/now-static-build/src/frameworks.ts
  packages/now-static-build/test/fixtures/49-scully/.editorconfig
  packages/now-static-build/test/fixtures/49-scully/.gitignore
  packages/now-static-build/test/fixtures/49-scully/README.md
  packages/now-static-build/test/fixtures/49-scully/angular.json
  packages/now-static-build/test/fixtures/49-scully/browserslist
  packages/now-static-build/test/fixtures/49-scully/karma.conf.js
  packages/now-static-build/test/fixtures/49-scully/now.json
  packages/now-static-build/test/fixtures/49-scully/package.json
  packages/now-static-build/test/fixtures/49-scully/scully.config.js
  packages/now-static-build/test/fixtures/49-scully/src/app/app.component.css
  packages/now-static-build/test/fixtures/49-scully/src/app/app.component.html
  packages/now-static-build/test/fixtures/49-scully/src/app/app.component.spec.ts
  packages/now-static-build/test/fixtures/49-scully/src/app/app.component.ts
  packages/now-static-build/test/fixtures/49-scully/src/app/app.module.ts
  packages/now-static-build/test/fixtures/49-scully/src/assets/.gitkeep
  packages/now-static-build/test/fixtures/49-scully/src/assets/scully-routes.json
  packages/now-static-build/test/fixtures/49-scully/src/environments/environment.prod.ts
  packages/now-static-build/test/fixtures/49-scully/src/environments/environment.ts
  packages/now-static-build/test/fixtures/49-scully/src/favicon.ico
  packages/now-static-build/test/fixtures/49-scully/src/index.html
  packages/now-static-build/test/fixtures/49-scully/src/main.ts
  packages/now-static-build/test/fixtures/49-scully/src/polyfills.ts
  packages/now-static-build/test/fixtures/49-scully/src/styles.css
  packages/now-static-build/test/fixtures/49-scully/tsconfig.app.json
  packages/now-static-build/test/fixtures/49-scully/tsconfig.json
  packages/now-static-build/test/fixtures/49-scully/tsconfig.spec.json
  packages/now-static-build/test/fixtures/49-scully/tslint.json
Labels: @now/static-build, automerge

#3478 [now-next] Add support for experimental basePath
  packages/now-next/src/index.ts
  packages/now-next/src/utils.ts
  packages/now-next/test/fixtures/16-base-path/next.config.js
  packages/now-next/test/fixtures/16-base-path/now.json
  packages/now-next/test/fixtures/16-base-path/package.json
  packages/now-next/test/fixtures/16-base-path/pages/another.js
  packages/now-next/test/fixtures/16-base-path/pages/index.js
Labels: @now/next

#3490 [now-client] Use `@zeit/fetch` instead of `node-fetch`
  packages/now-client/package.json
  packages/now-client/src/upload.ts
  packages/now-client/src/utils/fetch.ts
  packages/now-client/src/utils/index.ts
  yarn.lock
Labels: automerge

#3436 [now-client] Ignore `.env.*` files by default
  packages/now-cli/README.md
  packages/now-cli/src/util/ignored.ts
  packages/now-client/src/utils/index.ts
Labels: automerge, now-cli, now-client

#3502 Fix event order in CLI
  packages/now-cli/src/commands/dev/dev.ts
  packages/now-cli/src/commands/scale.js
  packages/now-cli/src/util/deploy/process-deployment.ts
  packages/now-python/src/index.ts
Labels: automerge

#3496 [now-build-utils][now-node] Throw new NowBuildError()
  packages/now-build-utils/src/errors.ts
  packages/now-build-utils/src/fs/node-version.ts
  packages/now-build-utils/src/fs/run-user-scripts.ts
  packages/now-build-utils/src/index.ts
  packages/now-build-utils/test/unit.test.js
  packages/now-node/src/typescript.ts
  packages/now-node/test/fixtures/10-node-engines/now.json
  test/lib/deployment/now-deploy.js
  yarn.lock
Labels: @now/build-utils, @now/node, automerge

#3457 [now-build-utils] Add support for dynamic `handle: miss`
  packages/now-build-utils/src/detect-routes.ts
  packages/now-build-utils/test/unit.builds-and-routes-detector.test.ts
  packages/now-cli/src/util/dev/server.ts
Labels: @now/build-utils, automerge

#3507 [now-static-build] Fix `distDir` when zero config framework is detected
  packages/now-static-build/src/index.ts
  packages/now-static-build/test/fixtures/04a-correct-dist-dir/now.json
  packages/now-static-build/test/fixtures/04a-correct-dist-dir/package.json
  packages/now-static-build/test/fixtures/04a-correct-dist-dir/public/index.txt
  packages/now-static-build/test/unit.test.js
Labels: @now/static-build, automerge

#3506 [frameworks] Add `settings` to frameworks
  packages/frameworks/frameworks.json
  packages/frameworks/index.d.ts
Labels: automerge

#3509 [now-build-utils] Fix now dev to use system node
  packages/now-build-utils/src/fs/run-user-scripts.ts
  packages/now-build-utils/test/unit.test.js
  packages/now-next/src/index.ts
  packages/now-node/src/index.ts
  packages/now-static-build/src/index.ts
  test/lib/run-build-lambda.js
Labels: @now/build-utils, @now/next, @now/node, @now/static-build, automerge

#3512 [now-build-utils] Add usage of package.json engines
  packages/now-build-utils/src/fs/node-version.ts
Labels: @now/build-utils

#3508 [now-cli] Fix `signal-exit` in yarn.lock
  yarn.lock
Labels: automerge, now-cli

#3505 Store file count on `file_count` event for future use
  packages/now-cli/src/util/deploy/process-deployment.ts
Labels: automerge

#3515 [@now/frameworks] Improve `Framework` type
  packages/frameworks/index.d.ts
Labels: automerge

#3516 [now-build-utils] Add property hideStackTrace
  packages/now-build-utils/src/errors.ts
  packages/now-build-utils/src/fs/node-version.ts
Labels: @now/build-utils, automerge

#3520 Don't render `Synced X files` when everything got deduped
  packages/now-cli/src/util/deploy/process-deployment.ts
Labels: automerge

#3522 [now-build-utils] Add getDiscontinuedNodeVersions() function
  packages/now-build-utils/src/fs/node-version.ts
  packages/now-build-utils/src/index.ts
  packages/now-build-utils/test/unit.test.js
Labels: @now/build-utils, automerge

#3517 [now-routing-utils] Make sure to update segments in destination hash
  packages/now-routing-utils/src/superstatic.ts
  packages/now-routing-utils/test/superstatic.spec.js
Labels: @now/routing-utils, automerge

#3524 [tests] Update tests for now-php custom runtime
  packages/now-build-utils/test/unit.builds-and-routes-detector.test.ts
  packages/now-cli/test/helpers/prepare.js
  packages/now-cli/test/integration.js
Labels: automerge, now-cli

#3528 Clean up files in the repo
  .eslintrc.json
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .nowignore
  .prettierrc
  api/package.json
  package.json
  utils/changelog.js
  utils/run.js
Labels: automerge

#3523 [now-routing-utils] Fix error handling on path-to-regexp error
  errors/invalid-route-source.md
  packages/now-routing-utils/src/index.ts
  packages/now-routing-utils/src/superstatic.ts
  packages/now-routing-utils/test/index.spec.js
Labels: @now/routing-utils, automerge

#3533 Fix the name of the create-react-app framework
  packages/frameworks/frameworks.json
Labels: automerge

#3532 Add `prettier` to `package.json`
  package.json
Labels: automerge

#3534 [now-build-utils] Add file extension to rewrites
  packages/now-build-utils/src/detect-routes.ts
  packages/now-build-utils/test/unit.builds-and-routes-detector.test.ts
Labels: @now/build-utils, automerge

#3570 [frameworks] Fix import in test
  packages/now-build-utils/test/unit.framework-detector.test.ts
Labels: automerge

#3566 [now-build-utils] Only allow Serverless Functions in `api/`
  packages/now-build-utils/src/detect-builders.ts
  packages/now-build-utils/test/unit.builds-and-routes-detector.test.ts
  packages/now-cli/test/dev/integration.js
Labels: @now/build-utils, automerge

#3567 [now-build-utils] Add function `detectApiDirectory()`
  packages/now-build-utils/src/detect-routes.ts
  packages/now-build-utils/src/index.ts
  packages/now-build-utils/test/unit.builds-and-routes-detector.test.ts
Labels: @now/build-utils, automerge

#3328 [now-cli] (Major) Remove hard-refresh to rebuild for `now dev`
  packages/now-cli/src/util/dev/server.ts
Labels: now-cli, now-dev

#3568 [gatsby-plugin-now] Remove temporarily
  packages/gatsby-plugin-now/build.sh
  packages/gatsby-plugin-now/gatsby-node.js
  packages/gatsby-plugin-now/index.js
  packages/gatsby-plugin-now/package.json
  packages/gatsby-plugin-now/readme.md
  packages/gatsby-plugin-now/test/__snapshots__/index.test.js.snap
  packages/gatsby-plugin-now/test/fixtures/.gitignore
  packages/gatsby-plugin-now/test/fixtures/gatsby-config.js
  packages/gatsby-plugin-now/test/fixtures/gatsby-node.js
  packages/gatsby-plugin-now/test/fixtures/package.json
  packages/gatsby-plugin-now/test/fixtures/src/pages/index.js
  packages/gatsby-plugin-now/test/index.test.js
  packages/now-static-build/build.sh
  packages/now-static-build/test/fixtures/10a-gatsby-redirects/.gitignore
  packages/now-static-build/test/fixtures/10a-gatsby-redirects/gatsby-config.js
  packages/now-static-build/test/fixtures/10a-gatsby-redirects/gatsby-node.js
  packages/now-static-build/test/fixtures/10a-gatsby-redirects/now.json
  packages/now-static-build/test/fixtures/10a-gatsby-redirects/package.json
  packages/now-static-build/test/fixtures/10a-gatsby-redirects/probe.js
  packages/now-static-build/test/fixtures/10a-gatsby-redirects/src/pages/about.js
  packages/now-static-build/test/fixtures/10a-gatsby-redirects/src/pages/index.js
  packages/now-static-build/test/fixtures/10a-gatsby-redirects/src/pages/page1.js
  packages/now-static-build/test/fixtures/10a-gatsby-redirects/src/pages/page2.js
  packages/now-static-build/test/fixtures/10a-gatsby-redirects/yarn.lock
Labels: @now/static-build

#3579 [now-build-utils] Error for unused `functions`
  packages/now-build-utils/src/detect-builders.ts
  packages/now-build-utils/test/unit.builds-and-routes-detector.test.ts
Labels: @now/build-utils

#3578 [tests] Revert NOW_TOKEN env for health checks
  test/lib/deployment/now-deploy.js
Labels: automerge

#3583 [now-static-build] Fix Docusaurus output directory
  packages/now-static-build/src/frameworks.ts
  packages/now-static-build/test/fixtures/21-docusaurus-with-framework/.dockerignore
  packages/now-static-build/test/fixtures/21-docusaurus-with-framework/.gitignore
  packages/now-static-build/test/fixtures/21-docusaurus-with-framework/.nowignore
  packages/now-static-build/test/fixtures/21-docusaurus-with-framework/README.md
  packages/now-static-build/test/fixtures/21-docusaurus-with-framework/blog/2016-03-11-blog-post.md
  packages/now-static-build/test/fixtures/21-docusaurus-with-framework/blog/2017-04-10-blog-post-two.md
  packages/now-static-build/test/fixtures/21-docusaurus-with-framework/blog/2017-09-25-testing-rss.md
  packages/now-static-build/test/fixtures/21-docusaurus-with-framework/blog/2017-09-26-adding-rss.md
  packages/now-static-build/test/fixtures/21-docusaurus-with-framework/blog/2017-10-24-new-version-1.0.0.md
  packages/now-static-build/test/fixtures/21-docusaurus-with-framework/core/Footer.js
  packages/now-static-build/test/fixtures/21-docusaurus-with-framework/docs/doc1.md
  packages/now-static-build/test/fixtures/21-docusaurus-with-framework/docs/doc2.md
  packages/now-static-build/test/fixtures/21-docusaurus-with-framework/docs/doc3.md
  packages/now-static-build/test/fixtures/21-docusaurus-with-framework/docs/exampledoc4.md
  packages/now-static-build/test/fixtures/21-docusaurus-with-framework/docs/exampledoc5.md
  packages/now-static-build/test/fixtures/21-docusaurus-with-framework/now.json
  packages/now-static-build/test/fixtures/21-docusaurus-with-framework/package.json
  packages/now-static-build/test/fixtures/21-docusaurus-with-framework/pages/en/help.js
  packages/now-static-build/test/fixtures/21-docusaurus-with-framework/pages/en/index.js
  packages/now-static-build/test/fixtures/21-docusaurus-with-framework/pages/en/users.js
  packages/now-static-build/test/fixtures/21-docusaurus-with-framework/sidebars.json
  packages/now-static-build/test/fixtures/21-docusaurus-with-framework/siteConfig.js
  packages/now-static-build/test/fixtures/21-docusaurus-with-framework/static/css/custom.css
  packages/now-static-build/test/fixtures/21-docusaurus-with-framework/static/img/favicon.ico
  packages/now-static-build/test/fixtures/21-docusaurus-with-framework/static/img/oss_logo.png
  packages/now-static-build/test/fixtures/21-docusaurus-with-framework/static/img/undraw_code_review.svg
  packages/now-static-build/test/fixtures/21-docusaurus-with-framework/static/img/undraw_monitor.svg
  packages/now-static-build/test/fixtures/21-docusaurus-with-framework/static/img/undraw_note_list.svg
  packages/now-static-build/test/fixtures/21-docusaurus-with-framework/static/img/undraw_online.svg
  packages/now-static-build/test/fixtures/21-docusaurus-with-framework/static/img/undraw_open_source.svg
  packages/now-static-build/test/fixtures/21-docusaurus-with-framework/static/img/undraw_operating_system.svg
  packages/now-static-build/test/fixtures/21-docusaurus-with-framework/static/img/undraw_react.svg
  packages/now-static-build/test/fixtures/21-docusaurus-with-framework/static/img/undraw_tweetstorm.svg
  packages/now-static-build/test/fixtures/21-docusaurus-with-framework/static/img/undraw_youtube_tutorial.svg
Labels: @now/static-build

#3576 [tests] Fix now-cli tests
  packages/frameworks/index.d.ts
  packages/now-cli/src/commands/deploy/args.js
  packages/now-cli/src/commands/deploy/latest.js
  packages/now-cli/src/util/deploy/process-deployment.ts
  packages/now-cli/src/util/index.js
  packages/now-cli/src/util/input/edit-project-settings.ts
  packages/now-cli/src/util/input/input-project.ts
  packages/now-cli/src/util/input/select-org.ts
  packages/now-cli/src/util/projects/link.ts
  packages/now-cli/src/util/validate-paths.ts
  packages/now-cli/test/dev/integration.js
  packages/now-cli/test/integration.js
  packages/now-client/src/types.ts
  packages/now-client/src/utils/query-string.ts
Labels: automerge, now-cli

#3582 [now-cli] Update logo 𝚫 -> ▲
  packages/now-cli/src/util/output/logo.ts
Labels: automerge, now-cli

#3580 [now-cli] Tackle deploy revamp feedback
  packages/now-cli/src/commands/deploy/latest.js
  packages/now-cli/src/commands/dev/dev.ts
  packages/now-cli/src/index.js
  packages/now-cli/src/util/deploy/process-deployment.ts
  packages/now-cli/src/util/input/edit-project-settings.ts
  packages/now-cli/src/util/input/input-project.ts
  packages/now-cli/src/util/input/select-org.ts
  packages/now-cli/src/util/projects/link.ts
Labels: now-cli

#3581 [now-cli] Fix `now rm -h`
  packages/now-cli/src/commands/remove.js
Labels: automerge, now-cli

#3587 [now-build-utils] Use latest node if no package.json found
  packages/now-build-utils/src/fs/node-version.ts
  packages/now-build-utils/src/fs/run-user-scripts.ts
  packages/now-build-utils/test/unit.test.js
  packages/now-node/test/fixtures/10-node-engines/range/package.json
  test/lib/run-build-lambda.js
Labels: @now/build-utils, @now/node, automerge

#3590 [now-cli] Change `now dev` log message from `builders` to `Runtimes`
  packages/now-cli/src/util/dev/builder-cache.ts
Labels: now-cli, now-dev

#3589 [now-cli] Hide "overwrite project settings?" prompt if no framework is detected
  packages/now-cli/src/util/input/edit-project-settings.ts
Labels: automerge, now-cli

#3594 [now-cli] Remove unnecessary `console.log()`
  packages/now-cli/src/util/index.js
Labels: automerge, now-cli

#3591 [now-cli] Add tests for project linking and framework detection
  packages/now-cli/src/util/input/input-project.ts
  packages/now-cli/test/helpers/prepare.js
  packages/now-cli/test/integration.js
Labels: automerge, now-cli

#3593 [now-cli] Handle Now v1 to v2 upgrade
  packages/now-cli/src/commands/deploy/legacy.ts
  packages/now-cli/src/util/deploy/process-deployment.ts
  packages/now-cli/src/util/deploy/process-legacy-deployment.ts
  packages/now-cli/src/util/output/elapsed.ts
  packages/now-cli/src/util/output/stamp.ts
Labels: automerge, now-cli

#3596 [now-cli] Always add two spaces after emojis and update emojis
  packages/now-cli/src/commands/deploy/latest.js
  packages/now-cli/src/util/deploy/process-deployment.ts
  packages/now-cli/src/util/emoji.ts
  packages/now-cli/src/util/projects/link.ts
Labels: automerge, now-cli

#3598 [now-cli] Pre-fill "project name" prompt
  packages/now-cli/src/util/input/input-project.ts
  packages/now-cli/test/helpers/prepare.js
  packages/now-cli/test/integration.js
Labels: automerge, now-cli

#3601 [now-cli] Display assigned alias for v2 upgraded static legacy deployments
  packages/now-cli/src/commands/deploy/legacy.ts
Labels: automerge, now-cli

#3599 [now-cli] Fix inspector url with custom domain suffix
  packages/now-cli/src/util/deploy/process-deployment.ts
Labels: automerge, now-cli

#3605 [now-cli] Remove `.only` and remove duplicate test
  packages/now-cli/test/integration.js
Labels: automerge, now-cli

#3609 [now-static-build] Use NowBuildError for static build errors
  packages/now-static-build/src/index.ts
Labels: @now/static-build, automerge

#3606 [now-cli] Create `.gitignore` if it doesn't exist
  packages/now-cli/src/util/projects/link.ts
  packages/now-cli/test/integration.js
Labels: automerge, now-cli

#3607 [now-cli] Improve formatting of new deploy command prompts
  packages/now-cli/src/commands/deploy/latest.js
  packages/now-cli/src/util/deploy/process-deployment.ts
  packages/now-cli/src/util/input/edit-project-settings.ts
  packages/now-cli/src/util/input/input-project.ts
  packages/now-cli/src/util/input/select-org.ts
  packages/now-cli/src/util/output/create-output.ts
  packages/now-cli/src/util/output/error.ts
  packages/now-cli/src/util/projects/link.ts
  packages/now-cli/test/integration.js
Labels: automerge, now-cli

#3588 [now-cli] Add `NOW_PROJECT_ID` and `NOW_ORG_ID` env variable
  packages/now-cli/src/commands/deploy/latest.js
  packages/now-cli/src/types.ts
  packages/now-cli/src/util/projects/link.ts
  packages/now-cli/test/integration.js
Labels: automerge, now-cli

#3611 [now-static-build] Fix package.json command for frameworks
  packages/now-static-build/src/index.ts
  packages/now-static-build/test/fixtures/10-gatsby-without-build-script/.gitignore
  packages/now-static-build/test/fixtures/10-gatsby-without-build-script/.prettierrc
  packages/now-static-build/test/fixtures/10-gatsby-without-build-script/LICENSE
  packages/now-static-build/test/fixtures/10-gatsby-without-build-script/README.md
  packages/now-static-build/test/fixtures/10-gatsby-without-build-script/gatsby-browser.js
  packages/now-static-build/test/fixtures/10-gatsby-without-build-script/gatsby-config.js
  packages/now-static-build/test/fixtures/10-gatsby-without-build-script/gatsby-node.js
  packages/now-static-build/test/fixtures/10-gatsby-without-build-script/gatsby-ssr.js
  packages/now-static-build/test/fixtures/10-gatsby-without-build-script/now.json
  packages/now-static-build/test/fixtures/10-gatsby-without-build-script/package.json
  packages/now-static-build/test/fixtures/10-gatsby-without-build-script/src/components/header.js
  packages/now-static-build/test/fixtures/10-gatsby-without-build-script/src/components/image.js
  packages/now-static-build/test/fixtures/10-gatsby-without-build-script/src/components/layout.css
  packages/now-static-build/test/fixtures/10-gatsby-without-build-script/src/components/layout.js
  packages/now-static-build/test/fixtures/10-gatsby-without-build-script/src/components/seo.js
  packages/now-static-build/test/fixtures/10-gatsby-without-build-script/src/images/gatsby-astronaut.png
  packages/now-static-build/test/fixtures/10-gatsby-without-build-script/src/images/gatsby-icon.png
  packages/now-static-build/test/fixtures/10-gatsby-without-build-script/src/pages/404.js
  packages/now-static-build/test/fixtures/10-gatsby-without-build-script/src/pages/index.js
  packages/now-static-build/test/fixtures/10-gatsby-without-build-script/src/pages/page-2.js
  packages/now-static-build/test/fixtures/10-gatsby-without-build-script/yarn.lock
Labels: @now/static-build

#3614 [now-next] Update custom-routes tests
  packages/now-next/test/fixtures/07-custom-routes/next.config.js
  packages/now-next/test/fixtures/07-custom-routes/now.json
  packages/now-next/test/fixtures/13-export-custom-routes/next.config.js
  yarn.lock
Labels: @now/next, automerge

#3613 [now-node][now-next] Bump node-file-trace to 0.5.1
  packages/now-next/package.json
  packages/now-node/package.json
  yarn.lock
Labels: @now/next, @now/node, automerge

#3615 [api] Fix build script
  utils/run.js
Labels: automerge

#3616 [now-static-build] Improve static build errors copy
  packages/now-static-build/src/index.ts
Labels: @now/static-build, automerge

#3617 [now-static-build] Ignore commands for non-zero-config
  packages/now-cli/test/dev/fixtures/handle-filesystem-missing/now.json
  packages/now-static-build/src/index.ts
Labels: @now/static-build

#3618 [now-static-build] Remove legacy message from static build
  packages/now-static-build/src/index.ts
Labels: @now/static-build, automerge

#3628 [now-next] Add initial support for static 404
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/17-static-404/next.config.js
  packages/now-next/test/fixtures/17-static-404/now.json
  packages/now-next/test/fixtures/17-static-404/package.json
  packages/now-next/test/fixtures/17-static-404/pages/index.js
Labels: @now/next, automerge

#3537 [now dev] Add support for `handle: miss` and `handle: hit`
  packages/now-cli/scripts/build.ts
  packages/now-cli/src/util/dev/builder.ts
  packages/now-cli/src/util/dev/router.ts
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/src/util/dev/static-builder.ts
  packages/now-cli/src/util/dev/types.ts
  packages/now-cli/test/dev-router.unit.js
  packages/now-cli/test/dev/fixtures/custom-runtime/api/user
  packages/now-cli/test/dev/fixtures/custom-runtime/now.json
  packages/now-cli/test/dev/fixtures/handle-hit-after-dest/blog/post.html
  packages/now-cli/test/dev/fixtures/handle-hit-after-dest/now.json
  packages/now-cli/test/dev/fixtures/handle-hit-after-fs/blog.html
  packages/now-cli/test/dev/fixtures/handle-hit-after-fs/now.json
  packages/now-cli/test/dev/fixtures/handle-hit-after-rewrite/blog/post.html
  packages/now-cli/test/dev/fixtures/handle-hit-after-rewrite/now.json
  packages/now-cli/test/dev/fixtures/handle-miss-after-rewrite/about.html
  packages/now-cli/test/dev/fixtures/handle-miss-after-rewrite/index.html
  packages/now-cli/test/dev/fixtures/handle-miss-after-rewrite/now.json
  packages/now-cli/test/dev/fixtures/handle-miss-after-rewrite/src/blog/post.html
  packages/now-cli/test/dev/fixtures/handle-miss-after-route/about.html
  packages/now-cli/test/dev/fixtures/handle-miss-after-route/index.html
  packages/now-cli/test/dev/fixtures/handle-miss-after-route/now.json
  packages/now-cli/test/dev/fixtures/handle-miss-after-route/src/blog/post.html
  packages/now-cli/test/dev/fixtures/handle-miss-display-dir-list/about.html
  packages/now-cli/test/dev/fixtures/handle-miss-display-dir-list/index.html
  packages/now-cli/test/dev/fixtures/handle-miss-display-dir-list/now.json
  packages/now-cli/test/dev/fixtures/handle-miss-display-dir-list/src/blog/post/one.html
  packages/now-cli/test/dev/fixtures/handle-miss-handle-filesystem-404/index.html
  packages/now-cli/test/dev/fixtures/handle-miss-handle-filesystem-404/now.json
  packages/now-cli/test/dev/fixtures/handle-miss-handle-filesystem-404/pathA/dir/one.html
  packages/now-cli/test/dev/fixtures/handle-miss-handle-filesystem-404/pathB/dir/two.html
  packages/now-cli/test/dev/fixtures/handle-miss-handle-filesystem-404/pathC/dir/three.html
  packages/now-cli/test/dev/fixtures/handle-miss-hide-dir-list/about.html
  packages/now-cli/test/dev/fixtures/handle-miss-hide-dir-list/index.html
  packages/now-cli/test/dev/fixtures/handle-miss-hide-dir-list/now.json
  packages/now-cli/test/dev/fixtures/handle-miss-hide-dir-list/src/blog/post/one.html
  packages/now-cli/test/dev/fixtures/handle-miss-multiple-404/index.html
  packages/now-cli/test/dev/fixtures/handle-miss-multiple-404/now.json
  packages/now-cli/test/dev/fixtures/handle-miss-multiple-404/pathA/dir/one.html
  packages/now-cli/test/dev/fixtures/handle-miss-multiple-404/pathB/dir/two.html
  packages/now-cli/test/dev/fixtures/handle-miss-multiple-404/pathC/dir/three.html
  packages/now-cli/test/dev/fixtures/public-and-api/api/date.js
  packages/now-cli/test/dev/fixtures/public-and-api/api/rand.js
  packages/now-cli/test/dev/fixtures/public-and-api/now.json
  packages/now-cli/test/dev/fixtures/public-and-api/public/about.html
  packages/now-cli/test/dev/fixtures/public-and-api/public/index.html
  packages/now-cli/test/dev/fixtures/routes-check-true-status/now.json
  packages/now-cli/test/dev/fixtures/routes-check-true-status/post.html
  packages/now-cli/test/dev/integration.js
Labels: automerge, now-cli, now-dev

#3637 [now-routing-utils] Disallow "status" in hit phase
  packages/now-routing-utils/src/index.ts
  packages/now-routing-utils/test/index.spec.js
Labels: @now/routing-utils, automerge

#3639 [examples] Fix jekyll readme build command
  examples/jekyll/README.md
Labels: automerge, example

#3494 [now-next] Add headers support for custom-routes
  packages/now-next/src/index.ts
  packages/now-next/src/utils.ts
  packages/now-next/test/fixtures/07-custom-routes/next.config.js
  packages/now-next/test/fixtures/07-custom-routes/now.json
  packages/now-routing-utils/src/index.ts
  packages/now-routing-utils/src/superstatic.ts
  packages/now-routing-utils/test/index.spec.js
  packages/now-routing-utils/test/superstatic.spec.js
Labels: @now/next, @now/routing-utils, automerge

#3640 [now-routing-utils] Fix segments in query string
  packages/now-routing-utils/src/superstatic.ts
  packages/now-routing-utils/test/superstatic.spec.js
Labels: @now/routing-utils, automerge

#3631 [now-cli] Add warning if linked project was deleted or access was removed
  packages/now-cli/src/commands/deploy/latest.js
  packages/now-cli/src/util/projects/link.ts
  packages/now-cli/test/integration.js
Labels: automerge, now-cli

#3630 [now-cli] Output error if NOW_PROJECT_ID/NOW_ORG_ID is defined without the other
  packages/now-cli/src/commands/deploy/latest.js
  packages/now-cli/test/integration.js
Labels: automerge, now-cli

#3642 [github] Update codeowners
  .github/CODEOWNERS
Labels: automerge, docs

#3647 [now-build-utils] Fix api directory detection
  packages/now-build-utils/src/detect-routes.ts
  packages/now-build-utils/test/unit.builds-and-routes-detector.test.ts
Labels: @now/build-utils, automerge

#3625 [now-cli] Add `--confirm` to help
  packages/now-cli/src/commands/deploy/args.js
Labels: automerge, now-cli

#3648 [now-client] (Major) Remove builds check from now-client and change events
  packages/now-cli/src/util/deploy/process-deployment.ts
  packages/now-cli/src/util/deploy/process-legacy-deployment.ts
  packages/now-cli/src/util/errors-ts.ts
  packages/now-cli/src/util/index.js
  packages/now-client/README.md
  packages/now-client/package.json
  packages/now-client/src/check-deployment-status.ts
  packages/now-client/src/create-deployment.ts
  packages/now-client/src/deploy.ts
  packages/now-client/src/types.ts
  packages/now-client/src/upload.ts
  packages/now-client/src/utils/index.ts
  packages/now-client/tests/create-deployment.test.ts
Labels: now-cli, now-client

#3653 [now-build-utils] Add function detectApiExtensions()
  packages/now-build-utils/src/detect-routes.ts
  packages/now-build-utils/src/index.ts
  packages/now-build-utils/test/unit.builds-and-routes-detector.test.ts
  packages/now-build-utils/test/unit.test.js
  packages/now-cli/src/util/dev/builder.ts
  packages/now-cli/src/util/dev/server.ts
Labels: @now/build-utils, automerge

#3658 [now-next] Revert handle: miss/hit
  packages/now-next/src/index.ts
  packages/now-next/src/utils.ts
  packages/now-next/test/fixtures/13-export-custom-routes/package.json
  packages/now-next/test/fixtures/18-handle-miss/next.config.js
  packages/now-next/test/fixtures/18-handle-miss/now.json
  packages/now-next/test/fixtures/18-handle-miss/package.json
  packages/now-next/test/fixtures/18-handle-miss/pages/blog/[post].js
  packages/now-next/test/unit/build.test.js
Labels: @now/next, automerge

#3660 [tests] Use GitHub Actions for the tests
  .circleci/config.yml
  .github/workflows/continuous-integration.yml
  .github/workflows/publish.yml
  package.json
  packages/now-cli/src/util/get-update-command.ts
  packages/now-cli/src/util/is-canary.ts
  packages/now-cli/test/integration.js
  packages/now-cli/test/unit.js
  utils/publish.sh
Labels: tests

#3657 [examples] Fix svelte example github link
  examples/svelte/src/App.svelte
Labels: automerge, example

#3669 [now-static-build] Add `public` folder to Gatsby cache
  packages/now-static-build/src/frameworks.ts
  packages/now-static-build/test/cache-fixtures/gatsby/public/file3
  packages/now-static-build/test/unit.test.js
Labels: @now/static-build, automerge

#3670 [now-cli][now-client] Drop support for Node 8
  packages/now-cli/package.json
  packages/now-cli/scripts/start.js
  packages/now-cli/test/dev/integration.js
  packages/now-cli/test/integration-v1.js
  packages/now-cli/tsconfig.json
  packages/now-client/src/index.ts
  packages/now-client/tsconfig.json
  packages/now-routing-utils/test/index.spec.js
Labels: @now/routing-utils, automerge, now-cli, now-client

#3674 [now-cli] Remove unused code
  packages/now-cli/src/commands/certs/add.ts
  packages/now-cli/src/commands/certs/issue.ts
  packages/now-cli/src/commands/deploy/legacy.ts
  packages/now-cli/src/commands/dev/dev.ts
  packages/now-cli/src/util/certs/create-cert-from-file.ts
  packages/now-cli/src/util/dev/builder.ts
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/src/util/dev/types.ts
  packages/now-cli/src/util/index.js
  packages/now-cli/test/dev/integration.js
  packages/now-cli/test/integration.js
Labels: now-cli

#3675 [frameworks] Extend CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: docs

#3650 [now-cli] Deprecate deploying files with Now CLI
  packages/now-cli/src/commands/deploy/index.js
  packages/now-cli/src/commands/deploy/latest.js
  packages/now-cli/src/util/validate-paths.ts
  packages/now-cli/test/integration.js
Labels: automerge, now-cli

#3679 [now-routing-utils] Merge destination query string with path segments
  packages/now-routing-utils/src/superstatic.ts
  packages/now-routing-utils/test/superstatic.spec.js
Labels: @now/routing-utils, automerge

#3626 [now-ruby] Add rack examples to ruby integration tests
  packages/now-ruby/test/fixtures/07-rack/Gemfile
  packages/now-ruby/test/fixtures/07-rack/Gemfile.lock
  packages/now-ruby/test/fixtures/07-rack/index.ru
  packages/now-ruby/test/fixtures/07-rack/now.json
  packages/now-ruby/test/fixtures/08-rack-proc/Gemfile
  packages/now-ruby/test/fixtures/08-rack-proc/Gemfile.lock
  packages/now-ruby/test/fixtures/08-rack-proc/index.ru
  packages/now-ruby/test/fixtures/08-rack-proc/now.json
Labels: @now/ruby, automerge

#3683 [tests] Add timeout to test jobs
  .github/workflows/continuous-integration.yml
Labels: automerge, tests

#3678 [now-cli] Add tip to connect git repositories after now login is successful
  packages/now-cli/src/commands/login.js
  packages/now-cli/src/util/emoji.ts
  packages/now-cli/src/util/output/aborted.js
Labels: automerge, now-cli

#3673 [now-cli] Use `devCommand` from project settings locally
  packages/now-cli/@types/is-port-reachable/index.d.ts
  packages/now-cli/package.json
  packages/now-cli/src/commands/dev/dev.ts
  packages/now-cli/src/types.ts
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/src/util/dev/types.ts
  packages/now-cli/src/util/get-frameworks.ts
  packages/now-cli/src/util/input/edit-project-settings.ts
  packages/now-cli/src/util/is-setting-value.ts
  yarn.lock
Labels: now-cli

#3682 [now-client] Update `@types/node-fetch`
  packages/now-cli/tsconfig.json
  packages/now-client/package.json
  packages/now-client/src/utils/index.ts
  packages/now-client/tsconfig.json
  yarn.lock
Labels: now-cli, now-client

#3681 [now-cli] Add README.txt when linking project
  packages/now-cli/src/util/projects/NOW_DIR_README.txt
  packages/now-cli/src/util/projects/link.ts
  packages/now-cli/test/integration.js
Labels: now-cli

#3643 [now-cli] (Major) Use local `.now` scope for all commands and add scope to `now whoami`
  packages/now-cli/src/commands/whoami.js
  packages/now-cli/src/index.js
  packages/now-cli/src/types.ts
  packages/now-cli/src/util/get-teams.ts
  packages/now-cli/src/util/get-user.ts
  packages/now-cli/src/util/projects/link.ts
  packages/now-cli/test/integration.js
Labels: automerge, now-cli

#3685 [now-cli] Add link to "deploying files is deprecated"
  packages/now-cli/src/util/validate-paths.ts
Labels: now-cli

#3689 [now-cli] Remove several v1 tests from CI
  packages/now-cli/test/integration.js
Labels: automerge, now-cli, tests

#3688 [now-routing-utils] Enabled case sensitive rewrites and set delimiter
  packages/now-routing-utils/src/superstatic.ts
  packages/now-routing-utils/test/superstatic.spec.js
Labels: @now/routing-utils, automerge

#3695 [now-python] Fix dependency detection in now dev
  packages/now-python/src/install.ts
Labels: @now/python, automerge

#3692 [now-cli] Add error message when running now dev on an unlinked folder
  packages/now-cli/src/commands/deploy/latest.js
  packages/now-cli/src/commands/dev/dev.ts
  packages/now-cli/src/index.js
  packages/now-cli/src/util/deploy/create-deploy.js
  packages/now-cli/src/util/deploy/process-deployment.ts
  packages/now-cli/src/util/index.js
  packages/now-cli/src/util/projects/link.ts
  packages/now-cli/test/dev/integration.js
Labels: now-cli

#3690 [now-cli] Deprecate `--name` and now.json `name` property
  packages/now-cli/src/commands/deploy/args.js
  packages/now-cli/src/commands/deploy/latest.js
  packages/now-cli/test/integration.js
Labels: now-cli

#3696 [tests] Fix rate limits for integration tests
  packages/now-cli/test/integration.js
Labels: automerge, now-cli, tests

#3701 [now-cli] Send `framework` to `api-deployments`
  packages/now-cli/src/commands/deploy/latest.js
  packages/now-cli/src/util/input/edit-project-settings.ts
Labels: automerge, now-cli

#3698 [now-cli] Adjust `name` error messages
  packages/now-cli/src/commands/deploy/latest.js
Labels: now-cli

#3702 [tests] Run unit tests on ubuntu and macos
  .github/workflows/continuous-integration.yml
Labels: automerge, tests

#3699 [now-cli] Add scope indication to `now secrets`
  packages/now-cli/src/commands/secrets.js
Labels: automerge, now-cli

#3704 [docs] Update readme with CI status
  README.md
Labels: automerge, docs

#3686 [now-cli] Add support for the `rootDirectory` property
  packages/now-cli/src/commands/deploy/latest.js
  packages/now-cli/src/commands/dev/dev.ts
  packages/now-cli/src/types.ts
  packages/now-cli/src/util/deploy/create-deploy.js
  packages/now-cli/src/util/deploy/process-deployment.ts
  packages/now-cli/src/util/index.js
  packages/now-cli/src/util/input/edit-project-settings.ts
  packages/now-cli/src/util/input/input-root-directory.ts
  packages/now-cli/src/util/validate-paths.ts
  packages/now-cli/test/helpers/prepare.js
  packages/now-cli/test/integration.js
Labels: now-cli

#3703 [now-cli] Fix `now dev` file output renaming
  packages/now-cli/src/util/dev/builder.ts
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/src/util/dev/types.ts
  packages/now-cli/test/dev/fixtures/custom-runtime/.gitignore
  packages/now-cli/test/dev/fixtures/custom-runtime/api/user.sh
  packages/now-cli/test/dev/fixtures/custom-runtime/now.json
  packages/now-cli/test/dev/fixtures/python-flask/.gitignore
  packages/now-cli/test/dev/fixtures/python-flask/api/date.py
  packages/now-cli/test/dev/fixtures/python-flask/api/user.py
  packages/now-cli/test/dev/fixtures/python-flask/index.html
  packages/now-cli/test/dev/fixtures/python-flask/requirements.txt
  packages/now-cli/test/dev/integration.js
Labels: automerge, now-cli, now-dev

#3706 [tests] Cancel previous CI runs
  .github/CODEOWNERS
  .github/workflows/cancel.yml
  utils/cancel.js
Labels: automerge, tests

#3707 [now-cli] Add `[copied to clipboard]`
  packages/now-cli/src/commands/deploy/latest.js
Labels: automerge

#3709 [api] Silence github comments
  now.json
Labels: automerge, example

#3710 [now-cli] Adjust error message for Root Directory
  packages/now-cli/src/commands/deploy/latest.js
  packages/now-cli/src/util/input/input-root-directory.ts
  packages/now-cli/src/util/validate-paths.ts
Labels: now-cli

#3712 [now-python] Add `excludeFiles` config option
  packages/now-build-utils/src/fs/glob.ts
  packages/now-build-utils/src/index.ts
  packages/now-build-utils/src/types.ts
  packages/now-python/src/index.ts
  packages/now-python/test/fixtures/25-exclude-files/api/no.py
  packages/now-python/test/fixtures/25-exclude-files/api/yes.py
  packages/now-python/test/fixtures/25-exclude-files/ignoreme/first.txt
  packages/now-python/test/fixtures/25-exclude-files/ignoreme/second.txt
  packages/now-python/test/fixtures/25-exclude-files/now.json
  packages/now-python/test/fixtures/25-exclude-files/requirements.txt
Labels: @now/python, automerge

#3493 [now-static-build] Add caching headers for Stencil
  packages/now-static-build/src/frameworks.ts
Labels: @now/static-build, automerge

#3713 [tests] Don't run tests in forks
  utils/cancel.js
  utils/run.js
Labels: automerge, tests

#3714 [now-cli] Remove unused `fs` import
  packages/now-cli/src/util/input/input-root-directory.ts
Labels: automerge, now-cli
