Repository vercel/vercel, pull requests merged in 2020-08, with the labels that each got.

#4969 [node][next] Bump node-file-trace to 0.8.2
  packages/now-next/package.json
  packages/now-node/package.json
  yarn.lock
Labels: @vercel/next, @vercel/node, automerge

#4972 [next] Ensure trailing slash resolves to functions correctly
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/00-trailing-slash-add/next.config.js
  packages/now-next/test/fixtures/00-trailing-slash-add/now.json
  packages/now-next/test/fixtures/00-trailing-slash-add/pages/abc/def.js
  packages/now-next/test/fixtures/00-trailing-slash-add/pages/api/hello.js
  packages/now-next/test/fixtures/00-trailing-slash-add/pages/blog/[post].js
Labels: @vercel/next, automerge

#4965 [cli] Fix `.gitignore` append during project link
  packages/now-cli/src/util/projects/link.ts
Labels: cli

#4978 [cli] Fix tests for `.gitignore` append during project link
  packages/now-cli/test/integration.js
Labels: automerge, cli, tests

#4976 [frameworks][examples] Adjust redwood logo size
  examples/redwoodjs/README.md
  packages/frameworks/frameworks.json
  packages/frameworks/logos/redwood.svg
  packages/frameworks/logos/redwoodjs.svg
Labels: @vercel/frameworks, automerge, examples

#4979 [next] Run Prettier
  packages/now-next/src/index.ts
  packages/now-next/src/utils.ts
Labels: @vercel/next, automerge

#4980 [tests] Bump cancel action to 0.4.1
  .github/workflows/cancel.yml
Labels: automerge, tests

#4975 [cli] Handle unauthorized errors when user is not logged in
  packages/now-cli/src/index.js
  packages/now-cli/src/util/errors-ts.ts
Labels: automerge, cli

#4943 [cli][certs rm] (Major) Bump to v5 certs API
  packages/now-cli/src/commands/certs/rm.ts
  packages/now-cli/src/util/certs/delete-cert-by-id.ts
  packages/now-cli/src/util/certs/get-cert-by-id.ts
  packages/now-cli/src/util/certs/get-custom-certs-for-domain.ts
Labels: automerge, cli, semver-major

#4985 [next] Blocking Fallback (ISG) Support
  packages/now-next/src/index.ts
  packages/now-next/src/utils.ts
  packages/now-next/test/fixtures/31-blocking-fallback/additional.js
  packages/now-next/test/fixtures/31-blocking-fallback/next.config.js
  packages/now-next/test/fixtures/31-blocking-fallback/now.json
  packages/now-next/test/fixtures/31-blocking-fallback/package.json
  packages/now-next/test/fixtures/31-blocking-fallback/pages/fixed/[slug].js
  packages/now-next/test/fixtures/31-blocking-fallback/pages/regenerated/[slug].js
Labels: @vercel/next, automerge

#4986 [examples][static-build] Update ionic-angular to 5.1.1
  .gitignore
  examples/ionic-angular/README.md
  examples/ionic-angular/package-lock.json
  examples/ionic-angular/package.json
  packages/now-static-build/test/fixtures/52-ionic-angular/.github/CONTRIBUTING.md
  packages/now-static-build/test/fixtures/52-ionic-angular/.github/ISSUE_TEMPLATE.md
  packages/now-static-build/test/fixtures/52-ionic-angular/.github/ionic-issue-bot.yml
  packages/now-static-build/test/fixtures/52-ionic-angular/.github/workflows/CI.yml
  packages/now-static-build/test/fixtures/52-ionic-angular/.gitignore
  packages/now-static-build/test/fixtures/52-ionic-angular/e2e/protractor.conf.js
  packages/now-static-build/test/fixtures/52-ionic-angular/generate-h2-push.js
  packages/now-static-build/test/fixtures/52-ionic-angular/package-lock.json
  packages/now-static-build/test/fixtures/52-ionic-angular/package.json
  packages/now-static-build/test/fixtures/52-ionic-angular/src/karma.conf.js
Labels: @vercel/static-build, automerge, examples

#4984 [examples] Update Next.js Example
  examples/nextjs/.gitignore
  examples/nextjs/README.md
  examples/nextjs/package.json
  examples/nextjs/pages/_app.js
  examples/nextjs/pages/api/hello.js
  examples/nextjs/pages/index.js
  examples/nextjs/public/vercel.svg
  examples/nextjs/styles/Home.module.css
  examples/nextjs/styles/globals.css
Labels: automerge, examples

#4810 [client] (Major) Remove trailing `/` from default ignore list
  packages/now-cli/src/util/ignored.ts
  packages/now-client/src/utils/index.ts
  packages/now-client/tests/fixtures/vercelignore-allow-nodemodules/.vercelignore
  packages/now-client/tests/unit.utils.test.ts
  packages/now-static-build/src/index.ts
Labels: @vercel/client, automerge, semver-major

#4991 [cli] Default to `os.EOL` when creating `.gitignore` file
  packages/now-cli/src/util/projects/link.ts
Labels: automerge, cli

#4993 [client] Lower upload sempahore size from 700 to 50 connections
  packages/now-client/src/upload.ts
Labels: @vercel/client, automerge

#4973 [static-build] Add Docusaurus v2 default routes for assets
  packages/now-static-build/src/frameworks.ts
Labels: @vercel/static-build

#5010 [tests] Add logging to Github Actions
  .github/workflows/test-integration-cli.yml
  .github/workflows/test-integration-dev.yml
  .github/workflows/test-integration-once.yml
  .github/workflows/test-unit.yml
Labels: automerge, tests

#5009 [build-utils] Fix framework "Other" when Next.js is dependency
  packages/now-build-utils/src/detect-builders.ts
  packages/now-build-utils/test/unit.builds-and-routes-detector.test.ts
Labels: @vercel/build-utils, automerge

#4999 [redwood] Fix file permissions and add support for `build` script
  packages/redwood/src/index.ts
  packages/redwood/test/fixtures/01-create-redwood-app/api/src/functions/permission.js
  packages/redwood/test/fixtures/01-create-redwood-app/package.json
  packages/redwood/test/fixtures/01-create-redwood-app/vercel.json
  test/lib/deployment/now-deploy.js
  test/lib/deployment/test-deployment.js
Labels: @vercel/redwood, automerge

#5020 [redwood] Update default build command
  packages/frameworks/frameworks.json
  packages/redwood/package.json
  packages/redwood/src/index.ts
  packages/redwood/test/fixtures/02-create-redwood-app/.env.defaults
  packages/redwood/test/fixtures/02-create-redwood-app/.gitignore
  packages/redwood/test/fixtures/02-create-redwood-app/LICENSE
  packages/redwood/test/fixtures/02-create-redwood-app/README.md
  packages/redwood/test/fixtures/02-create-redwood-app/api/.babelrc.js
  packages/redwood/test/fixtures/02-create-redwood-app/api/jest.config.js
  packages/redwood/test/fixtures/02-create-redwood-app/api/jsconfig.json
  packages/redwood/test/fixtures/02-create-redwood-app/api/package.json
  packages/redwood/test/fixtures/02-create-redwood-app/api/prisma/schema.prisma
  packages/redwood/test/fixtures/02-create-redwood-app/api/prisma/seeds.js
  packages/redwood/test/fixtures/02-create-redwood-app/api/src/functions/graphql.js
  packages/redwood/test/fixtures/02-create-redwood-app/api/src/graphql/.keep
  packages/redwood/test/fixtures/02-create-redwood-app/api/src/lib/db.js
  packages/redwood/test/fixtures/02-create-redwood-app/api/src/services/.keep
  packages/redwood/test/fixtures/02-create-redwood-app/babel.config.js
  packages/redwood/test/fixtures/02-create-redwood-app/package.json
  packages/redwood/test/fixtures/02-create-redwood-app/prettier.config.js
  packages/redwood/test/fixtures/02-create-redwood-app/redwood.toml
  packages/redwood/test/fixtures/02-create-redwood-app/vercel.json
  packages/redwood/test/fixtures/02-create-redwood-app/web/.babelrc.js
  packages/redwood/test/fixtures/02-create-redwood-app/web/jest.config.js
  packages/redwood/test/fixtures/02-create-redwood-app/web/jsconfig.json
  packages/redwood/test/fixtures/02-create-redwood-app/web/package.json
  packages/redwood/test/fixtures/02-create-redwood-app/web/public/README.md
  packages/redwood/test/fixtures/02-create-redwood-app/web/public/favicon.png
  packages/redwood/test/fixtures/02-create-redwood-app/web/public/robots.txt
  packages/redwood/test/fixtures/02-create-redwood-app/web/src/Routes.js
  packages/redwood/test/fixtures/02-create-redwood-app/web/src/components/.keep
  packages/redwood/test/fixtures/02-create-redwood-app/web/src/index.css
  packages/redwood/test/fixtures/02-create-redwood-app/web/src/index.html
  packages/redwood/test/fixtures/02-create-redwood-app/web/src/index.js
  packages/redwood/test/fixtures/02-create-redwood-app/web/src/layouts/.keep
  packages/redwood/test/fixtures/02-create-redwood-app/web/src/pages/FatalErrorPage/FatalErrorPage.js
  packages/redwood/test/fixtures/02-create-redwood-app/web/src/pages/NotFoundPage/NotFoundPage.js
  packages/redwood/test/fixtures/02-create-redwood-app/yarn.lock
Labels: @vercel/redwood, automerge

#5032 [tests] Increase git fetch depth to support git 2.28
  .github/workflows/test-integration-cli.yml
  .github/workflows/test-integration-dev.yml
  .github/workflows/test-integration-once.yml
  .github/workflows/test-unit.yml
Labels: automerge, tests

#5034 [build-utils][frameworks] Add support for runtime properties
  .github/workflows/test-unit.yml
  packages/frameworks/frameworks.json
  packages/frameworks/index.d.ts
  packages/frameworks/test/frameworks.unit.test.ts
  packages/now-build-utils/package.json
  packages/now-build-utils/src/detect-builders.ts
  packages/now-build-utils/test/unit.builds-and-routes-detector.test.ts
  packages/now-build-utils/tsconfig.json
Labels: @vercel/build-utils, @vercel/frameworks, automerge

#5036 [cli][redwood] Update frontend framework detection in `vc dev`
  packages/now-cli/package.json
  packages/now-cli/src/util/dev/server.ts
  packages/redwood/src/index.ts
  yarn.lock
Labels: @vercel/redwood, automerge, cli, dev

#5040 [routing-utils] Update rewrite params query appending
  packages/now-routing-utils/src/superstatic.ts
  packages/now-routing-utils/test/superstatic.spec.js
Labels: @vercel/routing-utils, automerge

#5042 [cli] Remove unused Runtime dependencies
  packages/now-cli/package.json
Labels: cli

#5048 [next] Fix trailing slash and 404 with next export
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/00-trailing-slash-add-export/next.config.js
  packages/now-next/test/fixtures/00-trailing-slash-add-export/now.json
  packages/now-next/test/fixtures/00-trailing-slash-add-export/package.json
  packages/now-next/test/fixtures/00-trailing-slash-add-export/pages/404.js
  packages/now-next/test/fixtures/00-trailing-slash-add-export/pages/foo.js
Labels: @vercel/next, automerge

#5051 [cli] Fix update message
  packages/now-cli/src/index.js
Labels: cli

#5052 [cli] Remove unused dependencies
  packages/now-cli/@types/which-promise/index.d.ts
  packages/now-cli/package.json
  packages/now-cli/src/index.js
  packages/now-cli/src/util/get-files.ts
  packages/now-cli/src/util/ignored.ts
  packages/now-cli/src/util/output/table.js
  packages/now-cli/test/dev/integration.js
  yarn.lock
Labels: automerge, cli

#5053 [routing-utils] Attempt normal path-to-regexp replacing before custom
  packages/now-routing-utils/src/superstatic.ts
  packages/now-routing-utils/test/superstatic.spec.js
Labels: @vercel/routing-utils, automerge

#4947 [node] Add `res.redirect()` helper method
  packages/now-node/src/helpers.ts
  packages/now-node/src/types.ts
  packages/now-node/test/helpers.test.js
Labels: @vercel/node, automerge

#5060 [cli] Always show renewal price for `domains inspect`
  packages/now-cli/src/commands/domains/inspect.ts
  packages/now-cli/test/integration.js
Labels: automerge, cli

#5022 [client][cli] Add Learn More Option to Warnings
  packages/now-cli/src/commands/deploy/latest.js
  packages/now-cli/test/helpers/prepare.js
  packages/now-cli/test/integration.js
  packages/now-client/src/deploy.ts
Labels: @vercel/client, automerge, cli

#5063 [redwood] Add support for `functions` and `apiProxyPath` config
  packages/redwood/src/index.ts
  packages/redwood/test/fixtures/01-create-redwood-app/api/src/functions/memory.js
  packages/redwood/test/fixtures/01-create-redwood-app/vercel.json
  packages/redwood/test/fixtures/02-create-redwood-app/redwood.toml
  packages/redwood/test/fixtures/16-create-redwood-app/.env.defaults
  packages/redwood/test/fixtures/16-create-redwood-app/.gitignore
  packages/redwood/test/fixtures/16-create-redwood-app/LICENSE
  packages/redwood/test/fixtures/16-create-redwood-app/README.md
  packages/redwood/test/fixtures/16-create-redwood-app/api/.babelrc.js
  packages/redwood/test/fixtures/16-create-redwood-app/api/jest.config.js
  packages/redwood/test/fixtures/16-create-redwood-app/api/jsconfig.json
  packages/redwood/test/fixtures/16-create-redwood-app/api/package.json
  packages/redwood/test/fixtures/16-create-redwood-app/api/prisma/schema.prisma
  packages/redwood/test/fixtures/16-create-redwood-app/api/prisma/seeds.js
  packages/redwood/test/fixtures/16-create-redwood-app/api/src/functions/graphql.js
  packages/redwood/test/fixtures/16-create-redwood-app/api/src/graphql/.keep
  packages/redwood/test/fixtures/16-create-redwood-app/api/src/lib/db.js
  packages/redwood/test/fixtures/16-create-redwood-app/api/src/services/.keep
  packages/redwood/test/fixtures/16-create-redwood-app/babel.config.js
  packages/redwood/test/fixtures/16-create-redwood-app/package.json
  packages/redwood/test/fixtures/16-create-redwood-app/prettier.config.js
  packages/redwood/test/fixtures/16-create-redwood-app/redwood.toml
  packages/redwood/test/fixtures/16-create-redwood-app/vercel.json
  packages/redwood/test/fixtures/16-create-redwood-app/web/.babelrc.js
  packages/redwood/test/fixtures/16-create-redwood-app/web/jest.config.js
  packages/redwood/test/fixtures/16-create-redwood-app/web/jsconfig.json
  packages/redwood/test/fixtures/16-create-redwood-app/web/package.json
  packages/redwood/test/fixtures/16-create-redwood-app/web/public/README.md
  packages/redwood/test/fixtures/16-create-redwood-app/web/public/favicon.png
  packages/redwood/test/fixtures/16-create-redwood-app/web/public/robots.txt
  packages/redwood/test/fixtures/16-create-redwood-app/web/src/Routes.js
  packages/redwood/test/fixtures/16-create-redwood-app/web/src/components/.keep
  packages/redwood/test/fixtures/16-create-redwood-app/web/src/index.css
  packages/redwood/test/fixtures/16-create-redwood-app/web/src/index.html
  packages/redwood/test/fixtures/16-create-redwood-app/web/src/index.js
  packages/redwood/test/fixtures/16-create-redwood-app/web/src/layouts/.keep
  packages/redwood/test/fixtures/16-create-redwood-app/web/src/pages/FatalErrorPage/FatalErrorPage.js
  packages/redwood/test/fixtures/16-create-redwood-app/web/src/pages/NotFoundPage/NotFoundPage.js
  packages/redwood/test/fixtures/16-create-redwood-app/yarn.lock
Labels: @vercel/redwood, automerge

#5088 Revert "[build-utils] Use `handle: error` for api 404"
  packages/now-build-utils/src/detect-builders.ts
  packages/now-build-utils/test/unit.builds-and-routes-detector.test.ts
Labels: @vercel/build-utils, automerge

#5072 [next] Add test case for root optional revalidate params
  packages/now-next/test/fixtures/00-root-optional-revalidate/additional.js
  packages/now-next/test/fixtures/00-root-optional-revalidate/now.json
  packages/now-next/test/fixtures/00-root-optional-revalidate/package.json
  packages/now-next/test/fixtures/00-root-optional-revalidate/pages/[[...slug]].js
Labels: @vercel/next, automerge

#5092 [examples] Update README Files
  examples/amp/README.md
  examples/angular/README.md
  examples/blitzjs/README.md
  examples/brunch/README.md
  examples/create-react-app/README.md
  examples/custom-build/README.md
  examples/docusaurus-2/README.md
  examples/docusaurus/README.md
  examples/dojo/README.md
  examples/eleventy/README.md
  examples/ember/README.md
  examples/gatsby/README.md
  examples/gridsome/README.md
  examples/hexo/README.md
  examples/hugo/README.md
  examples/ionic-angular/README.md
  examples/ionic-react/readme.md
  examples/jekyll/README.md
  examples/middleman/README.md
  examples/nuxtjs/README.md
  examples/polymer/README.md
  examples/preact/README.md
  examples/redwoodjs/README.md
  examples/saber/README.md
  examples/sapper/README.md
  examples/scully/README.md
  examples/stencil/readme.md
  examples/svelte/README.md
  examples/umijs/README.md
Labels: automerge, examples

#5099 [cli] Fix domains ls pagination
  packages/now-cli/src/commands/domains/ls.ts
Labels: automerge, cli

#5100 [cli] Improve startup perf - disable source maps and minification
  packages/now-cli/scripts/build.ts
Labels: automerge, cli

#5103 [all] Bump ncc to 0.24.0
  package.json
  packages/now-build-utils/package.json
  packages/now-cli/package.json
  packages/now-cli/scripts/build.ts
  packages/now-client/package.json
  packages/now-go/package.json
  packages/now-node/@types/zeit__ncc/index.d.ts
  packages/now-node/package.json
  packages/now-python/package.json
  packages/now-ruby/package.json
  packages/now-static-build/package.json
  yarn.lock
Labels: @vercel/build-utils, @vercel/client, @vercel/go, @vercel/next, @vercel/node, @vercel/python, @vercel/ruby, @vercel/static-build, automerge, cli

#5113 [cli] Add support for the sourceFilesOutsideRootDirectory option
  packages/now-cli/src/commands/deploy/latest.js
  packages/now-cli/src/util/link/setup-and-link.ts
Labels: automerge, cli

#5119 [tests] Deprecate "now" npm package in favor of "vercel"
  .github/workflows/publish.yml
  utils/publish-legacy.sh
  utils/update-legacy-name.js
Labels: automerge, tests
