Repository vercel/vercel, pull requests merged in 2020-09, with the labels that each got.

#5143 [node][next] Fix nft tracing for monorepos
  .github/CONTRIBUTING.md
  packages/now-build-utils/src/types.ts
  packages/now-next/package.json
  packages/now-next/src/index.ts
  packages/now-next/src/templated-launcher-shared.ts
  packages/now-next/src/templated-launcher.ts
  packages/now-node/package.json
  packages/now-node/src/index.ts
  packages/now-node/test/fixtures/04-tsx-resolve/tsconfig.json
  yarn.lock
Labels: @vercel/next, @vercel/node

#5157 [tests] Fix deprecation message
  utils/publish-legacy.sh
  utils/update-legacy-name.js
Labels: automerge, tests

#5158 [tests] Delay deprecation message
  utils/publish-legacy.sh
Labels: automerge, tests

#5164 [examples] Update Ember with missing robots.txt
  examples/ember/.gitignore
  examples/ember/public/robots.txt
Labels: automerge, examples

#5165 [cli] Remove extra newline in warning
  packages/now-cli/src/commands/deploy/latest.js
Labels: automerge, cli

#5141 [docs] Fix typo in error message
  errors/now-next-no-serverless-pages-built.md
Labels: automerge, docs

#5169 [tests] Fix test for functions in vercel.json
  packages/now-cli/test/helpers/prepare.js
  packages/now-cli/test/integration.js
Labels: automerge, cli, tests

#5168 [next] Fix config `functions` src file
  packages/now-next/src/index.ts
  packages/now-next/src/utils.ts
  packages/now-next/test/fixtures/06-lambda-with-memory/now.json
  packages/now-next/test/fixtures/06-lambda-with-memory/package.json
  packages/now-next/test/fixtures/06-lambda-with-memory/src/pages/api/index.js
  packages/now-next/test/fixtures/06-lambda-with-memory/src/pages/api/sub/another.ts
  packages/now-next/test/fixtures/06-lambda-with-memory/src/pages/api/sub/index.ts
Labels: @vercel/next, automerge

#5156 [next] Optimize page loading for shared lambdas
  packages/now-next/src/index.ts
Labels: @vercel/next, automerge

#5180 [node] Use `ts.readConfigFile()` to parse `tsconfig.json` file
  packages/now-cli/test/dev/fixtures/node-ts-node-target/tsconfig.json
  packages/now-node/src/dev-server.ts
  packages/now-node/tsconfig.json
Labels: @vercel/node, automerge, bug

#5179 [tests] Cache token when possible
  packages/now-cli/test/dev/integration.js
  packages/now-client/tests/common.ts
  packages/now-node/test/integration.test.js
  test/lib/deployment/now-deploy.js
Labels: automerge, tests

#5183 [cli] Remove v1 messages and docs
  errors/deploy-invalid-dc.md
  errors/missing-dotenv-target.md
  errors/regions-and-scale-at-once.md
  errors/scale-invalid-dc.md
  errors/scale-ls.md
  errors/scaling-path-alias.md
  errors/v2-no-min.md
  errors/verification-timeout.md
  packages/now-cli/src/commands/alias/set.ts
  packages/now-cli/src/commands/certs/issue.ts
  packages/now-cli/src/commands/deploy/args.js
  packages/now-cli/src/commands/deploy/latest.js
  packages/now-cli/src/commands/dev/index.ts
  packages/now-cli/src/util/certs/handle-cert-error.ts
  packages/now-cli/src/util/errors-ts.ts
  packages/now-cli/src/util/index.js
  packages/now-cli/src/util/output/create-output.ts
  packages/now-cli/src/util/output/error.ts
Labels: automerge, cli, docs

#5070 [static-build] Fix `immutable` cache header for Vue assets
  packages/now-static-build/src/frameworks.ts
Labels: @vercel/static-build, automerge

#5196 [next] Fix API page check
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/22-ssg-v2/now.json
  packages/now-next/test/fixtures/22-ssg-v2/pages/api-docs/[...slug].js
Labels: @vercel/next, automerge

#5210 [tests] Delay deprecation message
  utils/publish-legacy.sh
Labels: automerge, tests

#5226 [cli] Ensure the `devProcessPort` is set during "upgrade" events
  packages/now-cli/src/util/dev/server.ts
Labels: automerge, cli, dev

#5220 [node] Only use the project's local "typescript" when it has compatible `ScriptTarget`
  packages/now-node/src/dev-server.ts
Labels: @vercel/node, automerge
