Repository vercel/vercel, pull requests merged in 2020-12, with the labels that each got.

#5452 [next] Add Important Headers to Avoid Users Overriding Cache Headers
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/01-cache-headers/next.config.js
  packages/now-routing-utils/src/types.ts
Labels: @vercel/next, @vercel/routing-utils, semver-minor

#5526 [next] Add public dir check and update tests
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/00-i18n-support-root-catchall/additional.js
  packages/now-next/test/fixtures/00-i18n-support/additional.js
  packages/now-next/test/fixtures/00-public-dir-output-dir/now.json
  packages/now-next/test/fixtures/00-public-dir-output-dir/package.json
  packages/now-next/test/fixtures/00-public-dir-output-dir/web/pages/dynamic-ssr/[slug].js
  packages/now-next/test/fixtures/00-public-dir-output-dir/web/pages/dynamic/[slug].js
  packages/now-next/test/fixtures/00-public-dir-output-dir/web/pages/index.js
  packages/now-next/test/fixtures/00-public-dir-output-dir/web/public/hello.txt
  packages/now-next/test/fixtures/00-public-dir-output-dir/web/public/public/data.txt
  packages/now-next/test/utils.js
  test/lib/run-build-lambda.js
Labels: @vercel/next, semver-patch

#5533 [tests] Add retrying for GitHub actions connection error
  test/lib/deployment/fetch-retry.js
Labels: semver-patch, tests

#5477 [routing-utils] More accurate schema
  packages/now-routing-utils/src/schemas.ts
  packages/now-routing-utils/src/types.ts
  packages/now-routing-utils/test/index.spec.js
Labels: @vercel/routing-utils, semver-patch

#5552 [build-utils][static-build][next] Force `YARN_NODE_LINKER="node-modules"` env var when executing `yarn`
  packages/now-build-utils/src/fs/run-user-scripts.ts
  packages/now-build-utils/test/fixtures/19-yarn-v2/api/index.js
  packages/now-build-utils/test/fixtures/19-yarn-v2/now.json
  packages/now-build-utils/test/fixtures/19-yarn-v2/package.json
  packages/now-build-utils/test/fixtures/19-yarn-v2/vercel.json
  packages/now-build-utils/test/fixtures/19-yarn-v2/yarn.lock
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/32-custom-install-command/.yarn/releases/yarn-berry.cjs
  packages/now-next/test/fixtures/32-custom-install-command/.yarnrc.yml
  packages/now-next/test/fixtures/32-custom-install-command/yarn.lock
  packages/now-static-build/src/index.ts
Labels: @vercel/build-utils, @vercel/next, @vercel/node, @vercel/static-build, semver-minor

#5567 [examples] Update gatsby to use @vercel/node
  examples/gatsby/api/date.ts
  examples/gatsby/package.json
  examples/gatsby/yarn.lock
Labels: examples, semver-patch

#5571 [cli] Fix `vc logs -o raw` and add test
  packages/now-cli/src/commands/logs.js
  packages/now-cli/test/integration.js
Labels: bug, cli, semver-patch

#5583 [docs] Remove "Add a new framework" from CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: docs, semver-patch

#5590 [docs] Fix error message when credentials are missing
  errors/no-credentials-found.md
Labels: cli, docs

#5581 [node][next] Bump nft to 0.9.5
  packages/now-next/package.json
  packages/now-node/package.json
  yarn.lock
Labels: @vercel/next, @vercel/node, semver-patch

#5618 [next] Ensure 404 is static with _app.GIP and 404 GSP
  packages/now-next/src/index.ts
  packages/now-next/test/integration/gip-gsp-404/next.config.js
  packages/now-next/test/integration/gip-gsp-404/now.json
  packages/now-next/test/integration/gip-gsp-404/package.json
  packages/now-next/test/integration/gip-gsp-404/pages/404.js
  packages/now-next/test/integration/gip-gsp-404/pages/_app.js
  packages/now-next/test/integration/gip-gsp-404/pages/api/hello.js
  packages/now-next/test/integration/gip-gsp-404/pages/index.js
  packages/now-next/test/integration/index.test.js
Labels: @vercel/next, semver-patch

#5619 [next] Fix next test files lint
  packages/now-next/test/integration/gip-gsp-404/pages/404.js
  packages/now-next/test/integration/gip-gsp-404/pages/_app.js
  packages/now-next/test/integration/gip-gsp-404/pages/index.js
Labels: @vercel/next, semver-patch
