Repository vercel/vercel, pull requests merged in 2020-04, with the labels that each got.

#3990 [now-static-build] Fix 12-creact-react-app test fixture
  packages/now-static-build/test/fixtures/12-create-react-app/package.json
Labels: @now/static-build, automerge, tests

#3997 Removed Environment Variables
  now.json
Labels: automerge

#3995 [now-next] Fix some typos related to fixtures
  packages/now-next/test/fixtures/06-lambda-with-memory/now.json
  packages/now-next/test/fixtures/24-custom-output-dir/now.json
Labels: @now/next, automerge, tests

#4001 [now-node] Add `NowApiHandler` type
  packages/now-node/src/types.ts
  packages/now-node/test/fixtures/15-helpers/ts/handler.ts
Labels: @now/node

#4019 [now-routing-utils] Catch error from compile route
  packages/now-routing-utils/src/superstatic.ts
Labels: @now/routing-utils, automerge

#3999 [now-cli] Add `now env` command
  packages/now-cli/package.json
  packages/now-cli/src/commands/env/add.ts
  packages/now-cli/src/commands/env/index.ts
  packages/now-cli/src/commands/env/ls.ts
  packages/now-cli/src/commands/env/pull.ts
  packages/now-cli/src/commands/env/rm.ts
  packages/now-cli/src/commands/index.ts
  packages/now-cli/src/types.ts
  packages/now-cli/src/util/env/add-env-record.ts
  packages/now-cli/src/util/env/env-target.ts
  packages/now-cli/src/util/env/get-decrypted-secret.ts
  packages/now-cli/src/util/env/get-env-records.ts
  packages/now-cli/src/util/env/remove-env-record.ts
  packages/now-cli/src/util/get-invalid-subcommand.ts
  packages/now-cli/src/util/input/read-standard-input.ts
  packages/now-cli/src/util/prompt-bool.ts
  packages/now-cli/test/helpers/prepare.js
  packages/now-cli/test/integration.js
  yarn.lock
Labels: automerge, now-cli

#4033 [now-cli] Fix `now dev` routing for `continue: true`
  packages/now-cli/src/util/dev/router.ts
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/src/util/dev/types.ts
  packages/now-cli/test/dev-router.unit.js
  packages/now-cli/test/dev/fixtures/04-create-react-app/.env
  packages/now-cli/test/dev/fixtures/18-marko/package.json
  packages/now-cli/test/dev/fixtures/23-docusaurus/.env
  packages/now-cli/test/dev/fixtures/test-zero-config-rewrite/api/echo/[id].js
  packages/now-cli/test/dev/fixtures/test-zero-config-rewrite/index.html
  packages/now-cli/test/dev/fixtures/test-zero-config-rewrite/now.json
  packages/now-cli/test/dev/integration.js
Labels: automerge, now-cli

#4038 [now-cli] Clean up tests for `now dev`
  packages/now-cli/test/dev/integration.js
Labels: automerge, now-cli, now-dev, tests

#4024 [now-python] Fix missing sys modules for relative module import
  packages/now-python/now_init.py
Labels: @now/python, automerge

#4042 [now-build-utils] Exclude `now.json` from fallback build src
  packages/now-build-utils/src/detect-builders.ts
  packages/now-build-utils/test/unit.builds-and-routes-detector.test.ts
  packages/now-build-utils/test/unit.walk.test.ts
Labels: @now/build-utils, automerge

#4046 [now-cli] Update `now env` to support empty values
  .github/CODEOWNERS
  packages/now-cli/src/commands/deploy/args.js
  packages/now-cli/src/commands/env/add.ts
  packages/now-cli/src/commands/env/index.ts
  packages/now-cli/src/commands/env/ls.ts
  packages/now-cli/src/commands/env/pull.ts
  packages/now-cli/src/commands/env/rm.ts
  packages/now-cli/src/types.ts
  packages/now-cli/src/util/env/add-env-record.ts
  packages/now-cli/src/util/env/get-decrypted-secret.ts
  packages/now-cli/src/util/env/get-env-records.ts
  packages/now-cli/src/util/env/remove-env-record.ts
  packages/now-cli/src/util/input/read-standard-input.ts
  packages/now-cli/test/integration.js
Labels: automerge, now-cli

#4057 [now-cli] Prefer `.env` over `.env.build` during `now dev`
  packages/now-cli/src/util/dev/builder.ts
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/src/util/dev/types.ts
  packages/now-cli/test/dev/fixtures/27-zero-config-env/.env
  packages/now-cli/test/dev/fixtures/27-zero-config-env/.nowignore
  packages/now-cli/test/dev/fixtures/27-zero-config-env/api/print.js
  packages/now-cli/test/dev/fixtures/27-zero-config-env/package.json
  packages/now-cli/test/dev/integration.js
Labels: automerge, now-cli, now-dev

#4059 [now-cli] Change `now env pull` console output
  packages/now-cli/src/commands/env/pull.ts
  packages/now-cli/test/integration.js
Labels: automerge, now-cli, now-dev

#4060 [now-cli] Fix `now env` stdin detection and don't throw for known errors
  packages/now-cli/src/commands/env/add.ts
  packages/now-cli/src/commands/env/ls.ts
  packages/now-cli/src/commands/env/rm.ts
  packages/now-cli/src/util/env/known-error.ts
  packages/now-cli/src/util/input/read-standard-input.ts
  packages/now-cli/test/integration.js
Labels: automerge, now-cli

#4070 [examples] Fix ionic-react missing public directory
  .gitattributes
  .gitignore
  examples/ionic-react/public/assets/icon/favicon.png
  examples/ionic-react/public/assets/icon/icon.png
  examples/ionic-react/public/assets/shapes.svg
  examples/ionic-react/public/index.html
  examples/ionic-react/public/manifest.json
Labels: automerge, examples

#4063 [examples] Fix typo in Gatsby example
  examples/gatsby/gatsby-config.js
Labels: automerge, examples

#4071 [now-cli] Fix undefined teams and cache result
  packages/now-cli/src/util/get-teams.ts
  packages/now-cli/src/util/teams.js
Labels: automerge, now-cli

#4079 [now-cli] Proxy everything except Lambdas to the dev server
  packages/now-cli/src/util/dev/server.ts
Labels: now-cli, now-dev

#4074 [now-cli] Fix for RangeError invalid count value
  packages/now-cli/src/util/format-table.ts
Labels: automerge, now-cli

#4081 [now-cli] Remove custom error when fetching frameworks fail
  packages/now-cli/src/commands/dev/dev.ts
  packages/now-cli/src/util/get-frameworks.ts
Labels: automerge, now-cli

#4080 [now-routing-utils] Fix error when hash contains question mark
  packages/now-routing-utils/src/superstatic.ts
  packages/now-routing-utils/test/superstatic.spec.js
Labels: @now/routing-utils, automerge

#4082 [now-cli] Fix unhandled unauthorized error and improve `getTeamById`
  packages/now-cli/src/util/get-team-by-id.ts
  packages/now-cli/src/util/projects/link.ts
Labels: now-cli

#4090 [now dev] Remove "Installing dependencies..." message
  packages/now-next/src/index.ts
  packages/now-node/src/index.ts
  packages/now-static-build/src/index.ts
Labels: @now/next, @now/node, @now/static-build, automerge, now-dev

#4089 [now dev] Add support for proxying to builder-specific dev servers
  packages/now-build-utils/src/types.ts
  packages/now-cli/package.json
  packages/now-cli/src/util/dev/builder-worker.js
  packages/now-cli/src/util/dev/builder.ts
  packages/now-cli/src/util/dev/router.ts
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/src/util/dev/static-builder.ts
  packages/now-cli/src/util/dev/types.ts
  packages/now-cli/src/util/once.ts
  packages/now-cli/src/util/tree-kill.ts
  packages/now-node/package.json
  packages/now-node/src/dev-server.ts
  packages/now-node/src/helpers.ts
  packages/now-node/src/index.ts
  yarn.lock
Labels: @now/build-utils, @now/node, automerge, now-cli, now-dev

#4093 [now-cli] Use `entrypoint` instead of `src` for `startDevServer()`
  packages/now-cli/src/util/dev/server.ts
Labels: automerge, bug, now-cli, now-dev

#4094 [now-cli] Handle errors from `startDevServer()` in `now dev`
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/test/dev/fixtures/public-and-api/api/date.js
  packages/now-cli/test/dev/fixtures/public-and-api/api/rand.js
Labels: automerge, now-cli, now-dev

#4095 [now-node] Throw an error if "exit" event happens in dev server
  packages/now-node/src/index.ts
Labels: @now/node, automerge

#4105 [now-routing-utils] Fix validation for rewrite/redirect `destination` segments
  errors/invalid-route-source.md
  packages/now-routing-utils/src/index.ts
  packages/now-routing-utils/src/superstatic.ts
  packages/now-routing-utils/test/index.spec.js
Labels: @now/routing-utils, automerge

#4106 [now-build-utils] Prefer yarn over npm install when both detected
  packages/now-build-utils/src/fs/run-user-scripts.ts
  packages/now-build-utils/test/fixtures/08-yarn-npm/now.json
  packages/now-build-utils/test/fixtures/08-yarn-npm/with-yarn-and-npm/index.js
  packages/now-build-utils/test/fixtures/08-yarn-npm/with-yarn-and-npm/must-be-yarn.js
  packages/now-build-utils/test/fixtures/08-yarn-npm/with-yarn-and-npm/package-lock.json
  packages/now-build-utils/test/fixtures/08-yarn-npm/with-yarn-and-npm/package.json
  packages/now-build-utils/test/fixtures/08-yarn-npm/with-yarn-and-npm/yarn.lock
Labels: @now/build-utils, automerge

#4107 [now-cli] Use npm instead of yarn for `now dev` Runtimes installation
  packages/now-build-utils/src/types.ts
  packages/now-cli/scripts/build.ts
  packages/now-cli/src/util/dev/builder-cache.ts
  packages/now-cli/src/util/dev/builder.ts
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/src/util/dev/yarn-installer.ts
  packages/now-cli/test/dev/fixtures/26-nextjs-secrets/yarn.lock
  packages/now-cli/test/dev/fixtures/27-zero-config-env/package.json
  packages/now-cli/test/dev/fixtures/27-zero-config-env/yarn.lock
Labels: automerge, now-cli, now-dev

#4111 [now-cli] Adjust URL for inspecting deployments
  packages/now-cli/src/util/deploy/process-deployment.ts
Labels: automerge, now-cli

#4113 [now-node] Fix dev server `exit` event handling
  packages/now-cli/package.json
  packages/now-node/package.json
  packages/now-node/src/index.ts
  yarn.lock
Labels: @now/node, automerge, bug

#4097 [now-python] Fix: Relative imported module not seen in sys.modules
  .gitignore
  packages/now-python/now_init.py
  packages/now-python/test/fixtures/28-pydantic/api/hello.py
  packages/now-python/test/fixtures/28-pydantic/now.json
  packages/now-python/test/fixtures/28-pydantic/requirements.txt
Labels: @now/python

#4123 [now-static-build] Add tests for gem install of native deps
  packages/now-static-build/test/fixtures/53-native-gems/gem-install-rmagick.sh
  packages/now-static-build/test/fixtures/53-native-gems/gem-install-ruby-vips.sh
  packages/now-static-build/test/fixtures/53-native-gems/now.json
Labels: @now/static-build, automerge, tests

#4125 [now-cli] Fix flicker from file upload progress bar
  packages/now-cli/src/util/deploy/process-deployment.ts
Labels: automerge, now-cli

#4126 [now-cli] Prevent infinite loop for Runtime "module not found" in `now dev`
  packages/now-cli/src/util/dev/builder-cache.ts
Labels: automerge, bug, now-cli, now-dev

#4128 [examples] Update vercel.svg in Next.js example
  examples/nextjs/public/vercel.svg
Labels: examples

#4124 [now-cli] Ensure the `builders.tar.gz` file is finished extracting
  packages/now-cli/src/commands/dev/dev.ts
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/test/dev/integration.js
Labels: automerge, bug, now-cli, now-dev

#4135 [now-cli] (Major) Change project settings inheritance
  packages/now-cli/src/commands/deploy/latest.js
  packages/now-cli/src/commands/dev/dev.ts
  packages/now-cli/src/commands/env/add.ts
  packages/now-cli/src/commands/env/index.ts
  packages/now-cli/src/commands/env/ls.ts
  packages/now-cli/src/commands/env/pull.ts
  packages/now-cli/src/commands/env/rm.ts
  packages/now-cli/src/index.js
  packages/now-cli/src/util/get-frameworks.ts
  packages/now-cli/src/util/input/input-project.ts
  packages/now-cli/src/util/projects/link.ts
  packages/now-cli/test/integration.js
Labels: automerge, now-cli, now-dev, semver-major

#4142 [now-cli] Update `chokidar` to v3.3.1
  packages/now-cli/package.json
  yarn.lock
Labels: automerge, now-cli

#4141 [now-cli] Remove `yarn` as a dev dependency
  packages/now-cli/package.json
  yarn.lock
Labels: automerge, now-cli, semver-major

#4146 [now-cli] Use `npx` to invoke `ncc` in build script
  packages/now-cli/scripts/build.ts
Labels: automerge, now-cli

#4117 [now-cli] Add the core Runtimes as npm `dependencies` for now dev
  .gitignore
  packages/now-cli/package.json
  packages/now-cli/scripts/build.ts
  packages/now-cli/src/util/dev/builder-cache.ts
  packages/now-cli/src/util/dev/builder-worker.js
  packages/now-cli/src/util/dev/builder.ts
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/src/util/dev/types.ts
  packages/now-cli/src/util/pkg.ts
  packages/now-cli/test/dev-builder.unit.js
Labels: automerge, now-cli, now-dev

#4150 [now-routing-utils] Add support for `permanent` in `redirects`
  packages/now-build-utils/src/types.ts
  packages/now-routing-utils/src/index.ts
  packages/now-routing-utils/src/schemas.ts
  packages/now-routing-utils/src/superstatic.ts
  packages/now-routing-utils/src/types.ts
  packages/now-routing-utils/test/index.spec.js
Labels: @now/routing-utils, automerge

#4159 [now-cli] Use imported `pkg` instead of `require("../package.json")`
  packages/now-cli/src/index.js
Labels: automerge, now-cli

#4161 [now-next] Provide a better error when failing to load routes-manifest
  errors/now-next-routes-manifest.md
  packages/now-next/src/utils.ts
Labels: @now/next, automerge

#4163 [now-cli] Fix logic to not install bundled runtimes into cache dir for `now dev`
  packages/now-cli/src/util/dev/builder-cache.ts
Labels: automerge, now-cli, now-dev

#4167 [now-next] Update error throwing to use NowBuildError
  packages/now-next/src/index.ts
  packages/now-next/src/utils.ts
Labels: @now/next, automerge

#4165 [now-cli] Remove "Stopping `now dev` server" message
  packages/now-cli/src/util/dev/server.ts
Labels: automerge, now-cli, now-dev

#4166 [now-cli] Add 1 minute timeout to `now login` integration tests
  packages/now-cli/test/integration-v1.js
  packages/now-cli/test/integration.js
Labels: automerge, now-cli, tests

#4160 [now-cli] Allow to accept equal sign(=) as a value for meta
  packages/now-cli/src/util/parse-meta.js
  packages/now-cli/test/integration.js
Labels: automerge, now-cli

#4172 [now-cli] Don't print "Error starting dev server" message by default
  packages/now-cli/src/util/dev/server.ts
Labels: automerge, now-cli, now-dev

#4173 [now-cli] Make `nowCliPkg` parameter non-optional
  packages/now-cli/src/util/dev/builder-cache.ts
  packages/now-cli/test/dev-builder.unit.js
Labels: automerge, now-cli, now-dev, tests

#4179 [tests] Fix remaining lint errors
  .github/workflows/test-unit.yml
  package.json
  packages/now-cli/package.json
  packages/now-client/package.json
Labels: automerge, tests

#4175 [now-cli] Use `yarn` for `now dev` integration tests
  packages/now-cli/test/dev/integration.js
Labels: automerge, now-cli, now-dev, tests

#4180 [tests] Remove `test.only()` so all tests will execute
  packages/now-cli/test/helpers/prepare.js
  packages/now-cli/test/integration.js
Labels: automerge, tests

#4193 Switch to Vercel in the command help for now domains
  packages/now-cli/src/commands/alias/index.js
  packages/now-cli/src/commands/domains/index.ts
Labels: automerge, now-cli

#4208 [now-node] Make "without helpers" config option work as expected in `startDevServer()`
  packages/now-build-utils/src/types.ts
  packages/now-cli/src/util/dev/server.ts
  packages/now-node/src/dev-server.ts
  packages/now-node/src/index.ts
Labels: @now/build-utils, @now/node, automerge, now-cli, now-dev

#4212 [now-cli] Only update build matches once per HTTP request
  packages/now-cli/src/util/dev/server.ts
Labels: automerge, now-cli, now-dev

#4205 [now-cli] (Major) Upload `.env` files but ignore `.local` files
  packages/now-cli/src/util/ignored.ts
  packages/now-client/src/utils/index.ts
  packages/now-static-build/src/index.ts
Labels: @now/static-build, automerge, now-cli, now-client

#4210 [now-cli] Pass in env vars to `startDevServer()` in `now dev`
  packages/now-build-utils/src/types.ts
  packages/now-cli/src/util/dev/server.ts
  packages/now-node/src/index.ts
Labels: automerge, now-cli, now-dev

#4183 [tests] Run `now dev` tests agains real deployments
  .github/workflows/test-integration-cli.yml
  .github/workflows/test-integration-dev.yml
  .gitignore
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/test/dev/fixtures/01-node/.gitignore
  packages/now-cli/test/dev/fixtures/03-aurelia/.gitignore
  packages/now-cli/test/dev/fixtures/04-create-react-app/.gitignore
  packages/now-cli/test/dev/fixtures/05-gatsby/.gitignore
  packages/now-cli/test/dev/fixtures/05-gatsby/.nowignore
  packages/now-cli/test/dev/fixtures/05-gatsby/.prettierrc
  packages/now-cli/test/dev/fixtures/05-gatsby/LICENSE
  packages/now-cli/test/dev/fixtures/05-gatsby/README.md
  packages/now-cli/test/dev/fixtures/05-gatsby/gatsby-config.js
  packages/now-cli/test/dev/fixtures/05-gatsby/package.json
  packages/now-cli/test/dev/fixtures/05-gatsby/src/components/header.js
  packages/now-cli/test/dev/fixtures/05-gatsby/src/components/image.js
  packages/now-cli/test/dev/fixtures/05-gatsby/src/components/layout.css
  packages/now-cli/test/dev/fixtures/05-gatsby/src/components/layout.js
  packages/now-cli/test/dev/fixtures/05-gatsby/src/components/seo.js
  packages/now-cli/test/dev/fixtures/05-gatsby/src/images/gatsby-astronaut.png
  packages/now-cli/test/dev/fixtures/05-gatsby/src/pages/404.js
  packages/now-cli/test/dev/fixtures/05-gatsby/src/pages/index.js
  packages/now-cli/test/dev/fixtures/05-gatsby/src/pages/page-2.js
  packages/now-cli/test/dev/fixtures/05-gatsby/yarn.lock
  packages/now-cli/test/dev/fixtures/06-gridsome/.gitignore
  packages/now-cli/test/dev/fixtures/07-hexo-node/.gitignore
  packages/now-cli/test/dev/fixtures/10-nextjs-node/.gitignore
  packages/now-cli/test/dev/fixtures/12-polymer-node/.gitignore
  packages/now-cli/test/dev/fixtures/13-preact-node/.gitignore
  packages/now-cli/test/dev/fixtures/14-svelte-node/.gitignore
  packages/now-cli/test/dev/fixtures/16-vue-node/.gitignore
  packages/now-cli/test/dev/fixtures/17-vuepress-node/.gitignore
  packages/now-cli/test/dev/fixtures/18-marko/.gitignore
  packages/now-cli/test/dev/fixtures/19-mithril/.gitignore
  packages/now-cli/test/dev/fixtures/20-riot/.gitignore
  packages/now-cli/test/dev/fixtures/21-charge/.gitignore
  packages/now-cli/test/dev/fixtures/22-brunch/.gitignore
  packages/now-cli/test/dev/fixtures/23-docusaurus/.gitignore
  packages/now-cli/test/dev/fixtures/25-nextjs-src-dir/.gitignore
  packages/now-cli/test/dev/fixtures/handle-filesystem-missing/.gitignore
  packages/now-cli/test/dev/fixtures/public-and-api/public/index.html
  packages/now-cli/test/dev/fixtures/temporary-directory-listing/.gitignore
  packages/now-cli/test/dev/fixtures/trigger-static-build/.gitignore
  packages/now-cli/test/dev/integration.js
Labels: automerge, tests

#4211 [now-node] Use project env vars in `startDevServer()` and respect `NODEJS_HELPERS` env var
  packages/now-node/src/dev-server.ts
  packages/now-node/src/index.ts
Labels: @now/node, automerge, now-dev

#4217 [now dev] Fix `handle: miss` override headers
  packages/now-cli/src/util/dev/router.ts
  packages/now-cli/test/dev/integration.js
Labels: automerge, now-cli, now-dev
