Repository vercel/vercel, pull requests merged in 2020-10, with the labels that each got.

#5253 [cli] Fix dev routing when using `routes` with a frontend framework
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/test/dev/fixtures/10a-nextjs-routes/.gitignore
  packages/now-cli/test/dev/fixtures/10a-nextjs-routes/package.json
  packages/now-cli/test/dev/fixtures/10a-nextjs-routes/pages/api/hello.js
  packages/now-cli/test/dev/fixtures/10a-nextjs-routes/pages/index.js
  packages/now-cli/test/dev/fixtures/10a-nextjs-routes/vercel.json
  packages/now-cli/test/dev/fixtures/10a-nextjs-routes/yarn.lock
  packages/now-cli/test/dev/integration.js
Labels: automerge, cli, dev

#5258 [cli] Remove 1.0 path alias rules
  packages/now-cli/src/commands/alias/index.js
  packages/now-cli/src/commands/alias/ls.js
  packages/now-cli/src/commands/alias/set.ts
  packages/now-cli/src/types.ts
  packages/now-cli/test/helpers/prepare.js
Labels: automerge, cli

#5260 [cli] Fix progress bar completion
  packages/now-cli/src/util/deploy/process-deployment.ts
Labels: automerge, cli

#5259 [routing-utils] Add locale to routes schema
  packages/now-routing-utils/src/schemas.ts
  packages/now-routing-utils/test/index.spec.js
Labels: @vercel/routing-utils, automerge

#5205 [examples] Fix link to gatsby live example
  examples/gatsby/src/pages/index.js
Labels: examples

#5246 [build-utils] Fix framework "CRA" when Next.js is dependency
  packages/now-build-utils/src/detect-builders.ts
  packages/now-build-utils/test/unit.builds-and-routes-detector.test.ts
Labels: @vercel/build-utils, automerge

#5284 [docs] Update contributing example of `@vercel/nft`
  .github/CONTRIBUTING.md
Labels: docs

#5288 [next] Update next.config backup name to be deterministic
  packages/now-next/src/create-serverless-config.ts
  packages/now-next/test/integration/index.test.js
Labels: @vercel/next, automerge

#5293 [routing-utils] Add custom locale cookie
  packages/now-routing-utils/src/schemas.ts
  packages/now-routing-utils/test/index.spec.js
Labels: @vercel/routing-utils, automerge

#5296 [next] Add support for Image Optimization
  packages/now-next/src/index.ts
  packages/now-next/src/utils.ts
Labels: @vercel/next, automerge, semver-minor

#5298 [next] Add i18n support handling
  packages/now-next/package.json
  packages/now-next/src/index.ts
  packages/now-next/src/utils.ts
  packages/now-next/test/fixtures/00-i18n-support-no-shared-lambdas/next.config.js
  packages/now-next/test/fixtures/00-i18n-support-no-shared-lambdas/now.json
  packages/now-next/test/fixtures/00-i18n-support-no-shared-lambdas/package.json
  packages/now-next/test/fixtures/00-i18n-support-no-shared-lambdas/pages/another.js
  packages/now-next/test/fixtures/00-i18n-support-no-shared-lambdas/pages/auto-export/index.js
  packages/now-next/test/fixtures/00-i18n-support-no-shared-lambdas/pages/gsp/fallback/[slug].js
  packages/now-next/test/fixtures/00-i18n-support-no-shared-lambdas/pages/gsp/index.js
  packages/now-next/test/fixtures/00-i18n-support-no-shared-lambdas/pages/gsp/no-fallback/[slug].js
  packages/now-next/test/fixtures/00-i18n-support-no-shared-lambdas/pages/gssp/[slug].js
  packages/now-next/test/fixtures/00-i18n-support-no-shared-lambdas/pages/gssp/index.js
  packages/now-next/test/fixtures/00-i18n-support-no-shared-lambdas/pages/index.js
  packages/now-next/test/fixtures/00-i18n-support-no-shared-lambdas/pages/links.js
  packages/now-next/test/fixtures/00-i18n-support-no-shared-lambdas/public/hello.txt
  packages/now-next/test/fixtures/00-i18n-support/next.config.js
  packages/now-next/test/fixtures/00-i18n-support/now.json
  packages/now-next/test/fixtures/00-i18n-support/package.json
  packages/now-next/test/fixtures/00-i18n-support/pages/another.js
  packages/now-next/test/fixtures/00-i18n-support/pages/auto-export/index.js
  packages/now-next/test/fixtures/00-i18n-support/pages/gsp/fallback/[slug].js
  packages/now-next/test/fixtures/00-i18n-support/pages/gsp/index.js
  packages/now-next/test/fixtures/00-i18n-support/pages/gsp/no-fallback/[slug].js
  packages/now-next/test/fixtures/00-i18n-support/pages/gssp/[slug].js
  packages/now-next/test/fixtures/00-i18n-support/pages/gssp/index.js
  packages/now-next/test/fixtures/00-i18n-support/pages/index.js
  packages/now-next/test/fixtures/00-i18n-support/pages/links.js
  packages/now-next/test/fixtures/00-i18n-support/public/hello.txt
  packages/now-routing-utils/src/types.ts
  yarn.lock
Labels: @vercel/next

#5306 [next] Correct i18n trailing slash redirect priority
  packages/now-next/src/index.ts
Labels: @vercel/next

#5309 [next] Ensure root-most index GSP page is located correctly
  packages/now-next/src/index.ts
  packages/now-next/src/utils.ts
  packages/now-next/test/fixtures/00-i18n-support/pages/index.js
Labels: @vercel/next

#5313 [next] Add handling for not found routes with i18n
  packages/now-next/src/index.ts
  packages/now-next/src/utils.ts
  packages/now-next/test/fixtures/00-i18n-support-no-shared-lambdas/next.config.js
  packages/now-next/test/fixtures/00-i18n-support-no-shared-lambdas/pages/not-found/fallback/[slug].js
  packages/now-next/test/fixtures/00-i18n-support-no-shared-lambdas/pages/not-found/index.js
  packages/now-next/test/fixtures/00-i18n-support/next.config.js
  packages/now-next/test/fixtures/00-i18n-support/now.json
  packages/now-next/test/fixtures/00-i18n-support/pages/not-found/fallback/[slug].js
  packages/now-next/test/fixtures/00-i18n-support/pages/not-found/index.js
Labels: @vercel/next, automerge

#5321 [next] Image Optimization for default loader
  packages/now-next/src/index.ts
  packages/now-next/src/utils.ts
Labels: @vercel/next, automerge

#5330 [frameworks] Add recommended integrations and related dependencies
  packages/frameworks/frameworks.json
  packages/frameworks/index.d.ts
  packages/frameworks/test/frameworks.unit.test.ts
Labels: @vercel/frameworks, automerge

#5334 [next] Remove unstable_ prefix from unstable_blocking
  packages/now-next/test/fixtures/31-blocking-fallback/pages/fixed/[slug].js
  packages/now-next/test/fixtures/31-blocking-fallback/pages/regenerated/[slug].js
Labels: @vercel/next, automerge

#5336 [next] Ensure index GSP data is available at correct path
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/00-i18n-support/now.json
Labels: @vercel/next, automerge

#5333 [next] Add redirecting domain specific locales
  packages/now-next/src/index.ts
  packages/now-next/src/utils.ts
Labels: @vercel/next, automerge

#5337 [next] Update tests for stabilized field
  packages/now-next/test/fixtures/00-i18n-support-no-shared-lambdas/pages/not-found/fallback/[slug].js
  packages/now-next/test/fixtures/00-i18n-support-no-shared-lambdas/pages/not-found/index.js
  packages/now-next/test/fixtures/00-i18n-support/pages/not-found/fallback/[slug].js
  packages/now-next/test/fixtures/00-i18n-support/pages/not-found/index.js
Labels: @vercel/next

#5339 [next] Fix index data path for non-locale path
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/00-i18n-support-no-shared-lambdas/next.config.js
  packages/now-next/test/fixtures/00-i18n-support/next.config.js
  packages/now-next/test/fixtures/22-ssg-v2/now.json
  packages/now-next/test/fixtures/22-ssg-v2/pages/index.js
Labels: @vercel/next

#5350 [next] Ensure revalidation works with i18n
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/00-i18n-support/additional.js
  packages/now-next/test/fixtures/00-i18n-support/now.json
  packages/now-next/test/fixtures/00-i18n-support/pages/gsp/blocking/[[...slug]].js
  packages/now-next/test/fixtures/00-i18n-support/pages/gsp/fallback/[slug].js
  packages/now-next/test/fixtures/00-i18n-support/pages/gsp/no-fallback/[slug].js
  packages/now-next/test/fixtures/00-i18n-support/pages/index.js
Labels: @vercel/next, automerge

#5354 [next] Fix root-most optional-catchall with i18n
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/00-i18n-support-root-catchall/additional.js
  packages/now-next/test/fixtures/00-i18n-support-root-catchall/next.config.js
  packages/now-next/test/fixtures/00-i18n-support-root-catchall/now.json
  packages/now-next/test/fixtures/00-i18n-support-root-catchall/package.json
  packages/now-next/test/fixtures/00-i18n-support-root-catchall/pages/[[...slug]].js
  packages/now-next/test/fixtures/00-i18n-support-root-catchall/public/hello.txt
  packages/now-next/test/fixtures/00-i18n-support/additional.js
  packages/now-next/test/fixtures/00-i18n-support/now.json
  packages/now-next/test/fixtures/00-i18n-support/pages/gsp/fallback/[slug].js
Labels: @vercel/next

#5359 [cli] Replace `util/prompt-bool` by `util/input/confirm`
  packages/now-cli/src/commands/alias/rm.js
  packages/now-cli/src/commands/env/pull.ts
  packages/now-cli/src/commands/env/rm.ts
  packages/now-cli/src/util/prompt-bool.ts
Labels: cli
