Repository vercel/vercel, pull requests merged in 2020-11, with the labels that each got.

#5356 [next] Add additional tests for i18n revalidate params
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/00-i18n-support/additional.js
Labels: @vercel/next, automerge

#5358 Updated Next.js Template to use latest version of Next.js and React
  examples/nextjs/package.json
Labels: automerge

#5345 [cli] Add support for plaintext env variables
  packages/now-cli/src/commands/env/add.ts
  packages/now-cli/src/commands/env/index.ts
  packages/now-cli/src/commands/env/ls.ts
  packages/now-cli/src/commands/env/rm.ts
  packages/now-cli/src/types.ts
  packages/now-cli/src/util/env/add-env-record.ts
  packages/now-cli/src/util/env/get-env-records.ts
  packages/now-cli/src/util/env/remove-env-record.ts
  packages/now-cli/src/util/get-decrypted-env-records.ts
  packages/now-cli/src/util/output/ellipsis.ts
  packages/now-cli/test/integration.js
Labels: cli

#5366 [static-build] add Vercel Analytics Support for Gatsby
  .eslintignore
  packages/now-static-build/src/index.ts
  packages/now-static-build/src/utils/_shared.ts
  packages/now-static-build/src/utils/gatsby.ts
  packages/now-static-build/test/build-fixtures/01-gatsby-default/.gitignore
  packages/now-static-build/test/build-fixtures/01-gatsby-default/package.json
  packages/now-static-build/test/build-fixtures/01-gatsby-default/src/pages/404.js
  packages/now-static-build/test/build-fixtures/01-gatsby-default/src/pages/index.js
  packages/now-static-build/test/build-fixtures/01-gatsby-default/vercel.json
  packages/now-static-build/test/build-fixtures/01-gatsby-default/yarn.lock
  packages/now-static-build/test/build-fixtures/02-gatsby-user-config/.gitignore
  packages/now-static-build/test/build-fixtures/02-gatsby-user-config/gatsby-config.js
  packages/now-static-build/test/build-fixtures/02-gatsby-user-config/package.json
  packages/now-static-build/test/build-fixtures/02-gatsby-user-config/src/pages/404.js
  packages/now-static-build/test/build-fixtures/02-gatsby-user-config/src/pages/index.js
  packages/now-static-build/test/build-fixtures/02-gatsby-user-config/vercel.json
  packages/now-static-build/test/build-fixtures/02-gatsby-user-config/yarn.lock
  packages/now-static-build/test/build-fixtures/03-gatsby-with-plugins/.gitignore
  packages/now-static-build/test/build-fixtures/03-gatsby-with-plugins/gatsby-config.js
  packages/now-static-build/test/build-fixtures/03-gatsby-with-plugins/package.json
  packages/now-static-build/test/build-fixtures/03-gatsby-with-plugins/src/pages/404.js
  packages/now-static-build/test/build-fixtures/03-gatsby-with-plugins/src/pages/index.js
  packages/now-static-build/test/build-fixtures/03-gatsby-with-plugins/vercel.json
  packages/now-static-build/test/build-fixtures/03-gatsby-with-plugins/yarn.lock
  packages/now-static-build/test/build-fixtures/04-gatsby-no-dupe-simple/.gitignore
  packages/now-static-build/test/build-fixtures/04-gatsby-no-dupe-simple/gatsby-config.js
  packages/now-static-build/test/build-fixtures/04-gatsby-no-dupe-simple/package.json
  packages/now-static-build/test/build-fixtures/04-gatsby-no-dupe-simple/src/pages/404.js
  packages/now-static-build/test/build-fixtures/04-gatsby-no-dupe-simple/src/pages/index.js
  packages/now-static-build/test/build-fixtures/04-gatsby-no-dupe-simple/vercel.json
  packages/now-static-build/test/build-fixtures/04-gatsby-no-dupe-simple/yarn.lock
  packages/now-static-build/test/build-fixtures/05-gatsby-no-dupe-advanced/.gitignore
  packages/now-static-build/test/build-fixtures/05-gatsby-no-dupe-advanced/gatsby-config.js
  packages/now-static-build/test/build-fixtures/05-gatsby-no-dupe-advanced/package.json
  packages/now-static-build/test/build-fixtures/05-gatsby-no-dupe-advanced/src/pages/404.js
  packages/now-static-build/test/build-fixtures/05-gatsby-no-dupe-advanced/src/pages/index.js
  packages/now-static-build/test/build-fixtures/05-gatsby-no-dupe-advanced/vercel.json
  packages/now-static-build/test/build-fixtures/05-gatsby-no-dupe-advanced/yarn.lock
  packages/now-static-build/test/builds.test.js
Labels: @vercel/static-build

#5365 [next] Ensure localeDetection: false is honored
  packages/now-next/src/index.ts
  packages/now-next/src/utils.ts
  packages/now-next/test/fixtures/00-i18n-support-no-locale-detection/next.config.js
  packages/now-next/test/fixtures/00-i18n-support-no-locale-detection/now.json
  packages/now-next/test/fixtures/00-i18n-support-no-locale-detection/package.json
  packages/now-next/test/fixtures/00-i18n-support-no-locale-detection/pages/another.js
  packages/now-next/test/fixtures/00-i18n-support-no-locale-detection/pages/auto-export/index.js
  packages/now-next/test/fixtures/00-i18n-support-no-locale-detection/pages/gsp/blocking/[[...slug]].js
  packages/now-next/test/fixtures/00-i18n-support-no-locale-detection/pages/gsp/fallback/[slug].js
  packages/now-next/test/fixtures/00-i18n-support-no-locale-detection/pages/gsp/index.js
  packages/now-next/test/fixtures/00-i18n-support-no-locale-detection/pages/gsp/no-fallback/[slug].js
  packages/now-next/test/fixtures/00-i18n-support-no-locale-detection/pages/gssp/[slug].js
  packages/now-next/test/fixtures/00-i18n-support-no-locale-detection/pages/gssp/index.js
  packages/now-next/test/fixtures/00-i18n-support-no-locale-detection/pages/index.js
  packages/now-next/test/fixtures/00-i18n-support-no-locale-detection/pages/links.js
  packages/now-next/test/fixtures/00-i18n-support-no-locale-detection/pages/not-found/fallback/[slug].js
  packages/now-next/test/fixtures/00-i18n-support-no-locale-detection/pages/not-found/index.js
  packages/now-next/test/fixtures/00-i18n-support-no-locale-detection/public/hello.txt
Labels: @vercel/next, automerge

#5374 [tests] Cleanup fixture folder before running CLI test
  packages/now-cli/package.json
  packages/now-cli/test/fixtures/integration/.gitkeep
  yarn.lock
Labels: tests

#5375 [static-build] zero-config gatsby should support export default
  packages/now-static-build/src/utils/gatsby.ts
  packages/now-static-build/test/build-fixtures/06-gatsby-export-default/.gitignore
  packages/now-static-build/test/build-fixtures/06-gatsby-export-default/gatsby-config.js
  packages/now-static-build/test/build-fixtures/06-gatsby-export-default/package.json
  packages/now-static-build/test/build-fixtures/06-gatsby-export-default/src/pages/404.js
  packages/now-static-build/test/build-fixtures/06-gatsby-export-default/src/pages/index.js
  packages/now-static-build/test/build-fixtures/06-gatsby-export-default/vercel.json
  packages/now-static-build/test/build-fixtures/06-gatsby-export-default/yarn.lock
  packages/now-static-build/test/builds.test.js
Labels: automerge

#5377 [next] Ensure auto-export dynamic routes are routed properly
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/00-i18n-support-no-locale-detection/now.json
  packages/now-next/test/fixtures/00-i18n-support-no-locale-detection/pages/dynamic/[slug].js
  packages/now-next/test/fixtures/00-i18n-support-no-shared-lambdas/now.json
  packages/now-next/test/fixtures/00-i18n-support-no-shared-lambdas/pages/dynamic/[slug].js
  packages/now-next/test/fixtures/00-i18n-support/now.json
  packages/now-next/test/fixtures/00-i18n-support/pages/dynamic/[slug].js
Labels: @vercel/next

#5372 [cli] (major) Update `vercel env`
  packages/now-cli/package.json
  packages/now-cli/src/commands/env/add.ts
  packages/now-cli/src/commands/env/index.ts
  packages/now-cli/src/commands/env/ls.ts
  packages/now-cli/src/commands/env/rm.ts
  packages/now-cli/src/types.ts
  packages/now-cli/src/util/env/add-env-record.ts
  packages/now-cli/src/util/env/env-type.ts
  packages/now-cli/src/util/env/system-env.ts
  packages/now-cli/src/util/get-decrypted-env-records.ts
  packages/now-cli/src/util/input/patch-inquirer.js
  packages/now-cli/test/integration.js
  yarn.lock
Labels: cli, semver-major

#5378 [cli] Show error when removing env variable from no target environment
  packages/now-cli/src/commands/env/rm.ts
  packages/now-cli/test/integration.js
Labels: automerge, cli

#5381 [next] Correct data routes with basePath
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/16-base-path/now.json
  packages/now-next/test/fixtures/16-base-path/pages/blog-ssg/[post]/comments.js
  packages/now-next/test/fixtures/16-base-path/pages/blog-ssg/[post]/index.js
Labels: @vercel/next, automerge

#5391 [build-utils] Add `installCommand` to Config object
  packages/now-build-utils/src/detect-builders.ts
  packages/now-build-utils/src/types.ts
Labels: @vercel/build-utils, automerge

#5390 [static-build] Add directory for Serverless Functions
  packages/now-client/src/utils/index.ts
  packages/now-static-build/.gitignore
  packages/now-static-build/build.sh
  packages/now-static-build/package.json
  packages/now-static-build/src/index.ts
  packages/now-static-build/src/utils/_shared.ts
  packages/now-static-build/test/fixtures/61-function-output-directory/.gitignore
  packages/now-static-build/test/fixtures/61-function-output-directory/now.json
  packages/now-static-build/test/fixtures/61-function-output-directory/package.json
  packages/now-static-build/test/fixtures/61-function-output-directory/src/about/index.js
  packages/now-static-build/test/fixtures/61-function-output-directory/src/about/util.js
  packages/now-static-build/test/fixtures/61-function-output-directory/src/index.js
  packages/now-static-build/test/fixtures/61-function-output-directory/src/products/product/index.js
  packages/now-static-build/test/fixtures/62-function-output-directory-with-static/.gitignore
  packages/now-static-build/test/fixtures/62-function-output-directory-with-static/now.json
  packages/now-static-build/test/fixtures/62-function-output-directory-with-static/package.json
  packages/now-static-build/test/fixtures/62-function-output-directory-with-static/src/about/index.js
  packages/now-static-build/test/fixtures/62-function-output-directory-with-static/src/about/util.js
  packages/now-static-build/test/fixtures/62-function-output-directory-with-static/src/index.js
  packages/now-static-build/test/fixtures/62-function-output-directory-with-static/src/products/product/index.js
  packages/now-static-build/tsconfig.json
  yarn.lock
Labels: @vercel/static-build

#5386 [next] files within the buildId directory are immutable
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/01-cache-headers/now.json
  packages/now-next/test/fixtures/10-export-cache-headers/now.json
Labels: @vercel/next, automerge

#5396 [static-build] Support static and config directory in .vercel_build_output
  packages/now-static-build/src/index.ts
  packages/now-static-build/src/utils/_shared.ts
  packages/now-static-build/src/utils/read-build-output.ts
  packages/now-static-build/test/fixtures/61-build-output-directory/.gitignore
  packages/now-static-build/test/fixtures/61-build-output-directory/fake/config/routes.json
  packages/now-static-build/test/fixtures/61-build-output-directory/fake/functions/node/about/index.js
  packages/now-static-build/test/fixtures/61-build-output-directory/fake/functions/node/about/util.js
  packages/now-static-build/test/fixtures/61-build-output-directory/fake/functions/node/product/index.js
  packages/now-static-build/test/fixtures/61-build-output-directory/fake/functions/node/product/info/index.js
  packages/now-static-build/test/fixtures/61-build-output-directory/fake/functions/node/root/index.js
  packages/now-static-build/test/fixtures/61-build-output-directory/now.json
  packages/now-static-build/test/fixtures/61-build-output-directory/package.json
  packages/now-static-build/test/fixtures/61-function-output-directory/.gitignore
  packages/now-static-build/test/fixtures/61-function-output-directory/package.json
  packages/now-static-build/test/fixtures/61-function-output-directory/src/index.js
  packages/now-static-build/test/fixtures/61-function-output-directory/src/products/product/index.js
  packages/now-static-build/test/fixtures/62-build-output-directory-with-public/.gitignore
  packages/now-static-build/test/fixtures/62-build-output-directory-with-public/fake/config/routes.json
  packages/now-static-build/test/fixtures/62-build-output-directory-with-public/fake/functions/node/about/index.js
  packages/now-static-build/test/fixtures/62-build-output-directory-with-public/fake/functions/node/about/util.js
  packages/now-static-build/test/fixtures/62-build-output-directory-with-public/fake/functions/node/product/index.js
  packages/now-static-build/test/fixtures/62-build-output-directory-with-public/fake/functions/node/product/info/index.js
  packages/now-static-build/test/fixtures/62-build-output-directory-with-public/fake/functions/node/root/index.js
  packages/now-static-build/test/fixtures/62-build-output-directory-with-public/now.json
  packages/now-static-build/test/fixtures/62-build-output-directory-with-public/package.json
  packages/now-static-build/test/fixtures/62-function-output-directory-with-static/.gitignore
  packages/now-static-build/test/fixtures/62-function-output-directory-with-static/now.json
  packages/now-static-build/test/fixtures/62-function-output-directory-with-static/package.json
  packages/now-static-build/test/fixtures/62-function-output-directory-with-static/src/index.js
  packages/now-static-build/test/fixtures/62-function-output-directory-with-static/src/products/product/index.js
  packages/now-static-build/test/fixtures/63-build-output-directory-with-static/.gitignore
  packages/now-static-build/test/fixtures/63-build-output-directory-with-static/fake/config/routes.json
  packages/now-static-build/test/fixtures/63-build-output-directory-with-static/fake/static/index.txt
  packages/now-static-build/test/fixtures/63-build-output-directory-with-static/now.json
  packages/now-static-build/test/fixtures/63-build-output-directory-with-static/package.json
Labels: @vercel/static-build

#5399 [static-build] Expect routes array directly
  packages/now-static-build/src/utils/read-build-output.ts
  packages/now-static-build/test/fixtures/61-build-output-directory/fake/config/routes.json
  packages/now-static-build/test/fixtures/62-build-output-directory-with-public/fake/config/routes.json
  packages/now-static-build/test/fixtures/63-build-output-directory-with-static/fake/config/routes.json
Labels: @vercel/static-build

#5400 [frameworks] Use "value" instead of "placeholder" for frameworks with known `installCommand`
  packages/frameworks/frameworks.json
Labels: @vercel/frameworks, automerge

#5401 [static-build] Ignore framework routes if config/routes.json is present
  packages/now-static-build/src/index.ts
Labels: @vercel/static-build

#5404 [examples] Update svelte example with latest rollup
  examples/svelte/.gitignore
  examples/svelte/.nowignore
  examples/svelte/package.json
  examples/svelte/public/index.html
  examples/svelte/rollup.config.js
  examples/svelte/scripts/setupTypeScript.js
  examples/svelte/src/main.js
  examples/svelte/yarn.lock
Labels: automerge, examples

#5393 [static-build][next][node][redwood] Invoke `installCommand` from Project settings
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/32-custom-install-command/.gitignore
  packages/now-next/test/fixtures/32-custom-install-command/install.js
  packages/now-next/test/fixtures/32-custom-install-command/next.config.js
  packages/now-next/test/fixtures/32-custom-install-command/package.json
  packages/now-next/test/fixtures/32-custom-install-command/pages/index.js
  packages/now-next/test/fixtures/32-custom-install-command/vercel.json
  packages/now-node/src/index.ts
  packages/now-static-build/src/index.ts
  packages/now-static-build/test/fixtures/64-custom-install-command/.gitignore
  packages/now-static-build/test/fixtures/64-custom-install-command/build.js
  packages/now-static-build/test/fixtures/64-custom-install-command/install.js
  packages/now-static-build/test/fixtures/64-custom-install-command/vercel.json
  packages/redwood/src/index.ts
  packages/redwood/test/fixtures/16-create-redwood-app/install.js
  packages/redwood/test/fixtures/16-create-redwood-app/vercel.json
Labels: @vercel/next, @vercel/node, @vercel/redwood, @vercel/static-build, automerge

#5282 [docs] Add required information for pull requests
  .github/pull_request_template.md
  .kodiak.toml
Labels: automerge, docs, semver-minor

#5406 [build-utils] Include `installCommand` when empty string
  packages/now-build-utils/src/detect-builders.ts
  packages/now-build-utils/test/unit.builds-and-routes-detector.test.ts
Labels: @vercel/build-utils, semver-patch

#5408 [static-build] Fix order of applying routes
  packages/now-static-build/src/index.ts
  packages/now-static-build/test/build-fixtures/07-gatsby-with-now-plugin/.gitignore
  packages/now-static-build/test/build-fixtures/07-gatsby-with-now-plugin/gatsby-config.js
  packages/now-static-build/test/build-fixtures/07-gatsby-with-now-plugin/package.json
  packages/now-static-build/test/build-fixtures/07-gatsby-with-now-plugin/src/pages/404.js
  packages/now-static-build/test/build-fixtures/07-gatsby-with-now-plugin/src/pages/index.js
  packages/now-static-build/test/build-fixtures/07-gatsby-with-now-plugin/vercel.json
  packages/now-static-build/test/build-fixtures/07-gatsby-with-now-plugin/yarn.lock
  packages/now-static-build/test/builds.test.js
  packages/now-static-build/test/fixtures/11-svelte/package.json
Labels: @vercel/static-build, semver-patch

#5410 Revert "[cli] (major) Update `vercel env` (#5372)"
  packages/now-cli/package.json
  packages/now-cli/src/commands/env/add.ts
  packages/now-cli/src/commands/env/index.ts
  packages/now-cli/src/commands/env/ls.ts
  packages/now-cli/src/commands/env/rm.ts
  packages/now-cli/src/types.ts
  packages/now-cli/src/util/env/add-env-record.ts
  packages/now-cli/src/util/env/env-type.ts
  packages/now-cli/src/util/env/system-env.ts
  packages/now-cli/src/util/get-decrypted-env-records.ts
  packages/now-cli/src/util/input/patch-inquirer.js
  packages/now-cli/test/integration.js
  yarn.lock
Labels: cli

#5411 [cli] Fix `vc env rm` with advanced env variables
  packages/now-cli/src/commands/env/rm.ts
Labels: cli, semver-patch

#5409 [routing-utils] Add important headers to disallow users from overriding
  packages/now-routing-utils/src/schemas.ts
  packages/now-routing-utils/test/index.spec.js
Labels: @vercel/routing-utils, semver-minor

#5413 [cli] (Major) Update `vc env`
  packages/now-cli/package.json
  packages/now-cli/src/commands/env/add.ts
  packages/now-cli/src/commands/env/index.ts
  packages/now-cli/src/commands/env/ls.ts
  packages/now-cli/src/commands/env/rm.ts
  packages/now-cli/src/types.ts
  packages/now-cli/src/util/env/add-env-record.ts
  packages/now-cli/src/util/env/env-type.ts
  packages/now-cli/src/util/env/get-system-env-values.ts
  packages/now-cli/src/util/get-decrypted-env-records.ts
  packages/now-cli/src/util/input/patch-inquirer.js
  packages/now-cli/test/integration.js
  yarn.lock
Labels: cli, semver-major

#5407 [routing-utils] Exclude /.well-known from trailing slash redirect
  packages/now-routing-utils/src/superstatic.ts
  packages/now-routing-utils/test/superstatic.spec.js
Labels: @vercel/routing-utils, semver-patch

#5421 [next] Ensure correct route order for i18n + custom-routes
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/00-i18n-support/next.config.js
  packages/now-next/test/fixtures/00-i18n-support/now.json
  test/lib/deployment/test-deployment.js
Labels: @vercel/next, semver-patch

#5428 [cli] Add tests to compare dev/prd image optimization
  packages/now-cli/test/dev/fixtures/30-next-image-optimization/.gitignore
  packages/now-cli/test/dev/fixtures/30-next-image-optimization/package.json
  packages/now-cli/test/dev/fixtures/30-next-image-optimization/pages/index.js
  packages/now-cli/test/dev/fixtures/30-next-image-optimization/public/animated.gif
  packages/now-cli/test/dev/fixtures/30-next-image-optimization/public/animated.png
  packages/now-cli/test/dev/fixtures/30-next-image-optimization/public/animated.webp
  packages/now-cli/test/dev/fixtures/30-next-image-optimization/public/test.bmp
  packages/now-cli/test/dev/fixtures/30-next-image-optimization/public/test.gif
  packages/now-cli/test/dev/fixtures/30-next-image-optimization/public/test.ico
  packages/now-cli/test/dev/fixtures/30-next-image-optimization/public/test.jpg
  packages/now-cli/test/dev/fixtures/30-next-image-optimization/public/test.png
  packages/now-cli/test/dev/fixtures/30-next-image-optimization/public/test.svg
  packages/now-cli/test/dev/fixtures/30-next-image-optimization/public/test.tiff
  packages/now-cli/test/dev/fixtures/30-next-image-optimization/vercel.json
  packages/now-cli/test/dev/integration.js
Labels: cli, semver-patch, tests

#5432 [build-utils] Remove `continue: true` from 404 route
  packages/now-build-utils/src/detect-builders.ts
  packages/now-build-utils/test/unit.builds-and-routes-detector.test.ts
Labels: @vercel/build-utils

#5435 [next] Correct non-dynamic index SSG data route output
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/00-i18n-support-no-locale-detection/now.json
  packages/now-next/test/fixtures/00-i18n-support/additional.js
  packages/now-next/test/fixtures/00-i18n-support/now.json
Labels: @vercel/next, semver-patch

#5434 [cli] Expose system envs when autoExposeSystemEnvs is enabled on vc dev
  packages/now-cli/src/commands/dev/dev.ts
  packages/now-cli/src/types.ts
  packages/now-cli/src/util/dev/builder.ts
  packages/now-cli/src/util/dev/expose-system-envs.ts
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/src/util/dev/types.ts
  packages/now-cli/test/integration.js
Labels: cli, semver-patch

#5437 [cli] Expose VERCEL_REGION when `autoExposeSystemEnvs` is true
  packages/now-cli/src/util/dev/expose-system-envs.ts
  packages/now-cli/test/integration.js
Labels: cli, semver-patch

#5440 [now-cli] Remove code which removes auto-generated secrets
  packages/now-cli/src/util/env/remove-env-record.ts
Labels: cli, semver-patch

#5447 [next] Ensure public files are matched with i18n domains
  packages/now-next/src/index.ts
Labels: @vercel/next, semver-patch

#5451 [cli] Download automatically exposed System Environment Variables when running `vercel env pull`
  packages/now-cli/src/commands/dev/dev.ts
  packages/now-cli/src/commands/env/pull.ts
  packages/now-cli/src/types.ts
  packages/now-cli/src/util/dev/builder.ts
  packages/now-cli/src/util/dev/expose-system-envs.ts
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/src/util/dev/types.ts
  packages/now-cli/src/util/env/get-decrypted-secret.ts
  packages/now-cli/src/util/get-decrypted-env-records.ts
  packages/now-cli/test/integration.js
Labels: cli, semver-patch

#5460 [cli] Fix secrets decryption when running `vc env pull` and `vc dev`
  packages/now-cli/src/util/get-decrypted-env-records.ts
Labels: cli, semver-patch

#5461 [tests] Add test for secrets decryption in `vc env pull` and `vc dev`
  packages/now-cli/test/integration.js
Labels: tests

#5454 [next] Add handle: resource to ensure 404 page
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/00-i18n-support-no-locale-detection/now.json
  packages/now-next/test/fixtures/00-i18n-support-root-catchall/additional.js
  packages/now-next/test/fixtures/00-i18n-support/additional.js
  packages/now-next/test/fixtures/00-i18n-support/now.json
  packages/now-next/test/fixtures/00-root-optional-revalidate/additional.js
  packages/now-next/test/fixtures/22-ssg-v2/additional.js
  packages/now-next/test/fixtures/31-blocking-fallback/additional.js
Labels: @vercel/next, semver-patch

#5455 [node][next] Bump nft to 0.9.4
  packages/now-next/package.json
  packages/now-node/package.json
  yarn.lock
Labels: @vercel/next, @vercel/node, semver-patch

#5487 [next] Make sure to use outputDirectory when loading prerenderManifest
  packages/now-next/src/index.ts
  packages/now-next/src/utils.ts
  packages/now-next/test/fixtures/24-custom-output-dir/next.config.js
  packages/now-next/test/fixtures/24-custom-output-dir/now.json
  packages/now-next/test/fixtures/24-custom-output-dir/pages/ssg/[slug].js
Labels: @vercel/next, semver-patch
