Repository vercel/vercel, pull requests merged in 2020-03, with the labels that each got.

#3865 [examples] Remove `hasDetectors` from API
  api/frameworks.ts
Labels: automerge

#3863 [now-node] Use `url.parse()` for `req.query` helper
  packages/now-node/src/helpers.ts
  packages/now-node/test/helpers.test.js
Labels: @now/node, automerge

#3873 Add Issue Templates
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/config.yml
  README.md
  examples/README.md
  packages/now-cli/README.md
  packages/now-client/README.md
Labels: automerge, docs

#3876 [now-routing-utils] Add support for new handle types
  packages/now-routing-utils/src/index.ts
  packages/now-routing-utils/test/index.spec.js
Labels: @now/routing-utils, automerge

#3877 [now-cli] Bump dot to 1.1.3
  packages/now-cli/package.json
  yarn.lock
Labels: automerge, dependencies, now-cli

#3878 [now-cgi] Remove unused dependency
  packages/now-cgi/package.json
  packages/now-cgi/yarn.lock
  yarn.lock
Labels: @now/cgi, automerge, dependencies, tests

#3881 Update Next.js example to latest create-next-app format
  examples/nextjs/.gitignore
  examples/nextjs/.nowignore
  examples/nextjs/README.md
  examples/nextjs/components/head.js
  examples/nextjs/components/nav.js
  examples/nextjs/package.json
  examples/nextjs/pages/api/date.js
  examples/nextjs/pages/index.js
Labels: automerge

#3869 [now-cli] Print error during install for unsupported Node version
  packages/now-cli/scripts/preinstall.js
Labels: now-cli

#3886 [tests] Return an empty array if nowJson.builds is empty
  test/lib/deployment/test-deployment.js
Labels: automerge, tests

#3891 [now-cli] Fix `now dev` env vars in Next.js APIs
  packages/now-cli/src/commands/dev/dev.ts
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/src/util/dev/types.ts
  packages/now-cli/test/dev/fixtures/26-nextjs-secrets/.env
  packages/now-cli/test/dev/fixtures/26-nextjs-secrets/.env.build
  packages/now-cli/test/dev/fixtures/26-nextjs-secrets/.gitignore
  packages/now-cli/test/dev/fixtures/26-nextjs-secrets/next.config.js
  packages/now-cli/test/dev/fixtures/26-nextjs-secrets/now.json
  packages/now-cli/test/dev/fixtures/26-nextjs-secrets/package.json
  packages/now-cli/test/dev/fixtures/26-nextjs-secrets/pages/api/user.js
  packages/now-cli/test/dev/fixtures/26-nextjs-secrets/pages/index.js
  packages/now-cli/test/dev/integration.js
Labels: automerge, now-cli, now-dev

#3893 [examples] Add ZEIT logo to Next.js example
  examples/nextjs/.gitignore
  examples/nextjs/public/zeit.svg
Labels: examples

#3898 [now-build-utils] Add env var `NPM_ONLY_PRODUCTION`
  packages/now-build-utils/src/fs/run-user-scripts.ts
  packages/now-build-utils/test/fixtures/18-install-only-production/.gitignore
  packages/now-build-utils/test/fixtures/18-install-only-production/now.json
  packages/now-build-utils/test/fixtures/18-install-only-production/npm/build.js
  packages/now-build-utils/test/fixtures/18-install-only-production/npm/package-lock.json
  packages/now-build-utils/test/fixtures/18-install-only-production/npm/package.json
  packages/now-build-utils/test/fixtures/18-install-only-production/yarn/build.js
  packages/now-build-utils/test/fixtures/18-install-only-production/yarn/package.json
Labels: @now/build-utils, automerge

#3899 [now-cli] Change suggestion for `rootDirectory` to `./`
  packages/now-cli/src/util/input/input-root-directory.ts
Labels: automerge, now-cli

#3871 [now-cli] Fix setup-domain to use aliasDomain for gets
  packages/now-cli/src/util/domains/setup-domain.ts
Labels: now-cli

#3901 [now-cli] Remove "Serving all files as static" message
  packages/now-cli/src/util/dev/server.ts
Labels: automerge, now-cli, now-dev

#3903 [now-cli] Prevent framework from clearing console in `now dev`
  packages/now-cli/src/util/dev/server.ts
Labels: automerge, now-cli, now-dev

#3904 [now-cli] Proper error message when `now alias` misses arguments
  packages/now-cli/src/commands/alias/set.ts
Labels: automerge

#3892 [now-next] Implement new handles for custom routes
  package.json
  packages/now-next/src/index.ts
  packages/now-next/src/utils.ts
  packages/now-next/test/fixtures/23-custom-routes-verbose/.gitignore
  packages/now-next/test/fixtures/23-custom-routes-verbose/next.config.js
  packages/now-next/test/fixtures/23-custom-routes-verbose/now.json
  packages/now-next/test/fixtures/23-custom-routes-verbose/package.json
  packages/now-next/test/fixtures/23-custom-routes-verbose/pages/another/[id].js
  packages/now-next/test/fixtures/23-custom-routes-verbose/pages/api/dynamic/[slug].js
  packages/now-next/test/fixtures/23-custom-routes-verbose/pages/api/hello.js
  packages/now-next/test/fixtures/23-custom-routes-verbose/pages/blog/[post]/index.js
  packages/now-next/test/fixtures/23-custom-routes-verbose/pages/docs/v2/more/now-for-github.js
  packages/now-next/test/fixtures/23-custom-routes-verbose/pages/hello-again.js
  packages/now-next/test/fixtures/23-custom-routes-verbose/pages/hello.js
  packages/now-next/test/fixtures/23-custom-routes-verbose/pages/multi-rewrites.js
  packages/now-next/test/fixtures/23-custom-routes-verbose/pages/nav.js
  packages/now-next/test/fixtures/23-custom-routes-verbose/pages/params.js
  packages/now-next/test/fixtures/23-custom-routes-verbose/pages/redirect-override.js
  packages/now-next/test/fixtures/23-custom-routes-verbose/pages/with-params.js
  packages/now-next/test/fixtures/23-custom-routes-verbose/public/blog/data.json
  packages/now-next/test/fixtures/23-custom-routes-verbose/public/static/hello.txt
  packages/now-next/test/unit/build.test.js
  packages/now-routing-utils/src/types.ts
  test/lib/deployment/test-deployment.js
  yarn.lock
Labels: @now/next, automerge

#3916 [now-cli] Fix test for username
  packages/now-cli/test/integration.js
Labels: automerge, now-cli, tests

#3923 [examples] Update jekyll and middleman to use bundler 2.1.4
  examples/jekyll/Gemfile.lock
  examples/middleman/Gemfile.lock
Labels: automerge, examples

#3926 [now-static-build] Update error message to mention project settings
  packages/now-static-build/src/index.ts
  test/lib/deployment/now-deploy.js
Labels: @now/static-build, automerge

#3909 [now-static-build] Add defaultRoutes for docusaurus v2
  packages/now-static-build/src/frameworks.ts
Labels: @now/static-build, automerge

#3935 [all] Fix test fixture pkg names and increase retry
  examples/gatsby/package.json
  examples/gridsome/package.json
  packages/now-build-utils/test/fixtures/05-zero-config-gatsby/gatsby-config.js
  packages/now-build-utils/test/fixtures/05-zero-config-gatsby/package.json
  packages/now-cli/test/dev/fixtures/05-gatsby/gatsby-config.js
  packages/now-cli/test/dev/fixtures/05-gatsby/package.json
  packages/now-cli/test/dev/fixtures/08-hugo/themes/ananke/package.json
  packages/now-cli/test/integration.js
  packages/now-static-build/test/fixtures/10-gatsby-without-build-script/gatsby-config.js
  packages/now-static-build/test/fixtures/10-gatsby-without-build-script/package.json
  packages/now-static-build/test/fixtures/10-gatsby/gatsby-config.js
  packages/now-static-build/test/fixtures/10-gatsby/package.json
  packages/now-static-build/test/fixtures/26-ejected-cra/package.json
  packages/now-static-build/test/fixtures/31-hugo/themes/ananke/package.json
  packages/now-static-build/test/fixtures/46-hugo-with-framework/themes/ananke/package.json
  packages/now-static-build/test/fixtures/48-nuxt-without-framework/package.json
  test/lib/deployment/now-deploy.js
Labels: @now/build-utils, @now/static-build, automerge, examples, now-cli, tests

#3927 [now-cli] Catch `process.kill()` for dev process and mute "ESRCH"
  packages/now-cli/src/util/dev/server.ts
Labels: automerge, now-cli, now-dev

#3940 [tests] Fix test retry and allow local token
  .github/workflows/continuous-integration.yml
  packages/now-cli/test/integration.js
  packages/now-client/package.json
  packages/now-client/tests/common.ts
  test/lib/deployment/now-deploy.js
Labels: automerge, tests

#3941 [now-client] Fix lint error: forbidden non-null assertion
  packages/now-client/src/create-deployment.ts
Labels: automerge, now-client

#3943 [tests] Fix publish job environment variables
  .github/workflows/publish.yml
Labels: tests

#3924 [now-next] Make sure to set 404 status for /404 route itself
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/19-pages-404/now.json
Labels: @now/next, automerge

#3944 [now-cli] Print link to more details on error
  packages/now-cli/src/util/errors-ts.ts
  packages/now-cli/src/util/handle-error.ts
  packages/now-cli/src/util/output/create-output.ts
  packages/now-cli/src/util/output/error.ts
  packages/now-cli/test/integration.js
Labels: automerge, now-cli

#3946 [now-next][now-static-build][now-build-utils] Use util to get node .bin in path
  packages/now-build-utils/src/fs/run-user-scripts.ts
  packages/now-build-utils/src/index.ts
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/24-custom-output-dir/now.json
  packages/now-next/test/test.js
  packages/now-static-build/src/index.ts
Labels: @now/build-utils, @now/next, @now/static-build, automerge

#3911 [now-static-build] Add test for puppeteer during build
  packages/now-static-build/test/fixtures/51-puppeteer-build/build.js
  packages/now-static-build/test/fixtures/51-puppeteer-build/now.json
  packages/now-static-build/test/fixtures/51-puppeteer-build/package.json
  packages/now-static-build/test/fixtures/51-puppeteer-build/probe.js
Labels: @now/static-build, automerge

#3948 [now-cli] Add help text for paginating deployments for a project
  packages/now-cli/src/commands/list.js
Labels: now-cli

#3952 [now-cli] Fix ambiguous argument error
  packages/now-cli/src/index.js
  packages/now-cli/test/helpers/prepare.js
  packages/now-cli/test/integration.js
Labels: automerge, now-cli

#3922 [now-cli] Add pagination for `now domains ls`
  packages/now-cli/src/commands/domains/index.ts
  packages/now-cli/src/commands/domains/ls.ts
  packages/now-cli/src/types.ts
  packages/now-cli/src/util/dns/get-dns-records.ts
  packages/now-cli/src/util/domains/get-domains.ts
Labels: now-cli

#3953 Add `--force-with-cache` flag support
  packages/now-cli/src/commands/deploy/args.js
  packages/now-cli/src/commands/deploy/latest.js
  packages/now-cli/src/commands/deploy/legacy.ts
  packages/now-cli/src/util/client.ts
  packages/now-cli/src/util/deploy/process-deployment.ts
  packages/now-cli/src/util/index.js
  packages/now-client/src/deploy.ts
  packages/now-client/src/types.ts
  packages/now-client/src/utils/query-string.ts
Labels: automerge, now-cli, now-client

#3958 Fix slight spelling mistake: `--f` -> `-f` in `now --force` error
  packages/now-cli/src/commands/init/init.ts
Labels: automerge, bug, now-cli

#3959 [frameworks][now-static-build] Fix Docusaurus build command
  packages/frameworks/frameworks.json
  packages/now-static-build/src/frameworks.ts
Labels: @now/static-build, automerge

#3960 [tests] Fix test initialize existing directory `--f` -> `-f`
  packages/now-cli/test/integration.js
Labels: automerge, tests

#3915 [now-cli] Add pagination for `now alias ls`
  packages/now-cli/src/commands/alias/index.js
  packages/now-cli/src/commands/alias/ls.js
  packages/now-cli/src/commands/list.js
  packages/now-cli/src/util/alias/deployment-is-aliased.ts
  packages/now-cli/src/util/alias/get-aliases.ts
  packages/now-cli/src/util/alias/get-domain-aliases.ts
Labels: now-cli

#3964 [frameworks][now-static-build] Support Docusaurus v2 and v1
  packages/frameworks/frameworks.json
  packages/now-static-build/src/frameworks.ts
Labels: @now/frameworks, @now/static-build, automerge

#3961 [tests] Separate into workflows
  .github/workflows/continuous-integration.yml
  .github/workflows/test-integration-cli.yml
  .github/workflows/test-integration-dev.yml
  .github/workflows/test-integration-once.yml
  .github/workflows/test-unit.yml
  package.json
  packages/now-cli/package.json
Labels: automerge, tests

#3965 [tests] Cancel previous workflows on push
  .github/workflows/cancel.yml
Labels: automerge, tests

#3882 [examples] Add Dojo Example
  examples/dojo/.dojorc
  examples/dojo/.gitignore
  examples/dojo/README.md
  examples/dojo/package.json
  examples/dojo/src/App.m.css
  examples/dojo/src/App.m.css.d.ts
  examples/dojo/src/App.ts
  examples/dojo/src/index.html
  examples/dojo/src/main.css
  examples/dojo/src/main.ts
  examples/dojo/src/routes.ts
  examples/dojo/src/widgets/About.ts
  examples/dojo/src/widgets/Home.ts
  examples/dojo/src/widgets/Menu.ts
  examples/dojo/src/widgets/Profile.ts
  examples/dojo/src/widgets/styles/About.m.css
  examples/dojo/src/widgets/styles/About.m.css.d.ts
  examples/dojo/src/widgets/styles/Home.m.css
  examples/dojo/src/widgets/styles/Home.m.css.d.ts
  examples/dojo/src/widgets/styles/Menu.m.css
  examples/dojo/src/widgets/styles/Menu.m.css.d.ts
  examples/dojo/src/widgets/styles/Profile.m.css
  examples/dojo/src/widgets/styles/Profile.m.css.d.ts
  examples/dojo/tests/functional/all.ts
  examples/dojo/tests/functional/main.ts
  examples/dojo/tests/unit/App.ts
  examples/dojo/tests/unit/all.ts
  examples/dojo/tests/unit/main.ts
  examples/dojo/tests/unit/widgets/About.ts
  examples/dojo/tests/unit/widgets/Home.ts
  examples/dojo/tests/unit/widgets/Menu.ts
  examples/dojo/tests/unit/widgets/Profile.ts
  examples/dojo/tests/unit/widgets/all.ts
  examples/dojo/tsconfig.json
  packages/frameworks/frameworks.json
  packages/frameworks/logos/dojo.png
  packages/now-static-build/src/frameworks.ts
Labels: @now/frameworks, automerge, examples

#3967 [examples][now-static-build] Bump `ionic-react` to latest typescript
  examples/ionic-react/package.json
  packages/now-static-build/test/fixtures/50-ionic-react/package.json
Labels: @now/static-build, automerge, examples

#3968 [tests] Add additional env vars
  test/lib/deployment/now-deploy.js
Labels: automerge, tests

#3973 [now-next] Fix dynamic routes and data routes order
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/22-ssg-v2-catchall/next.config.js
  packages/now-next/test/fixtures/22-ssg-v2-catchall/now.json
  packages/now-next/test/fixtures/22-ssg-v2-catchall/package.json
  packages/now-next/test/fixtures/22-ssg-v2-catchall/pages/[...path].js
  packages/now-next/test/fixtures/22-ssg-v2-catchall/pages/index.js
Labels: @now/next, automerge

#3974 Update `signal-exit` to v3.0.3
  package.json
  yarn.lock
Labels: automerge, now-cli

#3976 [now-go] Fix import for go-bridge
  packages/now-go/main.go
  packages/now-go/main__mod__.go
Labels: @now/go, automerge

#3966 [now-cli][now-client] Change `forceNewWithCache` to `withCache`
  packages/now-cli/src/commands/deploy/args.js
  packages/now-cli/src/commands/deploy/latest.js
  packages/now-cli/src/commands/deploy/legacy.ts
  packages/now-cli/src/util/client.ts
  packages/now-cli/src/util/deploy/process-deployment.ts
  packages/now-cli/src/util/index.js
  packages/now-client/src/deploy.ts
  packages/now-client/src/types.ts
  packages/now-client/src/utils/query-string.ts
Labels: automerge, now-cli, now-client

#3980 [now-static-build][now-client] Ignore known static outputs
  packages/now-client/src/index.ts
  packages/now-client/src/utils/index.ts
  packages/now-static-build/src/index.ts
  packages/now-static-build/test/fixtures/55-ignore-output/example.html
  packages/now-static-build/test/fixtures/55-ignore-output/now.json
  packages/now-static-build/test/fixtures/55-ignore-output/package.json
  packages/now-static-build/test/fixtures/55-ignore-output/probe.js
Labels: @now/static-build, automerge, now-client

#3981 [now-routing-utils] Update to not add path segments to redirect query automatically
  packages/now-routing-utils/src/superstatic.ts
  packages/now-routing-utils/test/superstatic.spec.js
Labels: @now/routing-utils, automerge

#3982 [now-cli] Bump mri to 1.1.5
  packages/now-cli/package.json
  yarn.lock
Labels: automerge, now-cli

#3984 Upgrade Next.js
  examples/nextjs/package.json
Labels: automerge

#3983 [now-cli] Fix for adding secret with hyphen prefix
  packages/now-cli/src/commands/secrets.js
  packages/now-cli/test/helpers/prepare.js
  packages/now-cli/test/integration.js
Labels: automerge, now-cli

#3986 [now-cli] Fix error message link to build logs
  packages/now-cli/src/commands/deploy/latest.js
Labels: automerge, now-cli

#3988 [now-build-utils] Hide internal stack trace for errors
  packages/now-build-utils/src/fs/run-user-scripts.ts
Labels: @now/build-utils, automerge
