Repository vercel/vercel, pull requests merged in 2020-02, with the labels that each got.

#3715 [tests] Change warn to error on unsed vars
  package.json
Labels: automerge, tests

#3720 [tests] Update to use github action cancel workflow
  .github/workflows/cancel.yml
  utils/cancel.js
Labels: automerge, tests

#3724 [now-static-build] Fix error when `HUGO_VERSION` not found
  packages/now-static-build/package.json
  packages/now-static-build/src/index.ts
  packages/now-static-build/test/fixtures/36-hugo-version-not-found/now.json
  packages/now-static-build/test/fixtures/36-hugo-version-not-found/package.json
  packages/now-static-build/test/integration.test.js
  yarn.lock
Labels: @now/static-build, automerge

#3708 [now-cli] Fix `now dev` when api file is added or removed
  packages/now-cli/src/util/dev/builder.ts
  packages/now-cli/src/util/dev/server.ts
Labels: automerge, now-cli, now-dev

#3730 [now-go] Fix `now dev` on Windows
  packages/now-go/go-helpers.ts
  packages/now-go/index.ts
Labels: @now/go, now-dev

#3735 [now-build-utils] Exclude `_test.go` files
  packages/now-build-utils/src/detect-builders.ts
  packages/now-build-utils/test/unit.builds-and-routes-detector.test.ts
  packages/now-go/test/test.js
Labels: @now/build-utils, automerge

#3733 [now-cli] Slugify suggested project name
  packages/now-cli/package.json
  packages/now-cli/src/util/input/input-project.ts
  yarn.lock
Labels: automerge, now-cli

#3732 [now-cli] Do not show spinners with `--debug`
  packages/now-cli/src/commands/alias/ls.js
  packages/now-cli/src/commands/billing/add.js
  packages/now-cli/src/commands/certs/add.ts
  packages/now-cli/src/commands/deploy/latest.js
  packages/now-cli/src/commands/domains/buy.ts
  packages/now-cli/src/commands/init/init.ts
  packages/now-cli/src/commands/inspect.js
  packages/now-cli/src/commands/login.js
  packages/now-cli/src/commands/logs.js
  packages/now-cli/src/commands/remove.js
  packages/now-cli/src/commands/teams/add.js
  packages/now-cli/src/commands/teams/invite.js
  packages/now-cli/src/commands/teams/list.js
  packages/now-cli/src/util/alias/create-alias.ts
  packages/now-cli/src/util/alias/get-deployment-for-alias.ts
  packages/now-cli/src/util/alias/upsert-path-alias.ts
  packages/now-cli/src/util/certs/create-cert-for-alias.ts
  packages/now-cli/src/util/deploy/generate-cert-for-deploy.ts
  packages/now-cli/src/util/deploy/process-deployment.ts
  packages/now-cli/src/util/dev/builder-cache.ts
  packages/now-cli/src/util/domains/purchase-domain-if-available.ts
  packages/now-cli/src/util/input/input-project.ts
  packages/now-cli/src/util/input/select-org.ts
  packages/now-cli/src/util/output/create-output.ts
  packages/now-cli/src/util/output/wait.ts
  packages/now-cli/src/util/projects/link.ts
  packages/now-cli/src/util/scale/patch-deployment-scale.ts
  packages/now-cli/src/util/scale/set-deployment-scale.ts
  packages/now-cli/src/util/scale/wait-verify-deployment-scale.ts
Labels: automerge, now-cli

#3737 [now-cli] Do not prompt for root directory when project is linked
  packages/now-cli/src/commands/deploy/latest.js
Labels: now-cli

#3738 [now-cli] Handle no framework detected case
  packages/now-cli/src/util/input/edit-project-settings.ts
  packages/now-cli/test/integration.js
Labels: now-cli

#3742 [tests] Fix now cli breaking tests
  packages/now-cli/test/integration.js
Labels: automerge, tests

#3741 [now-cli] Bump @zeit/fun to 0.11.2
  packages/now-cli/package.json
  yarn.lock
Labels: automerge, now-cli

#3746 [examples] Fix hugo theme
  examples/hugo/themes/ananke/.gitignore
  examples/hugo/themes/ananke/static/dist/css/app.d98f2eb6bcd1eaedb7edf166bd16af26.css
  examples/hugo/themes/ananke/static/dist/js/app.3fc0f988d21662902933.js
Labels: automerge, examples

#3749 [now-cli] Use npx when available to run dev command
  packages/now-cli/package.json
  packages/now-cli/src/util/dev/server.ts
  yarn.lock
Labels: now-cli, now-dev

#3753 [now-cli] Always output deployment url in stdout
  packages/now-cli/src/commands/deploy/latest.js
  packages/now-cli/src/util/deploy/process-deployment.ts
Labels: now-cli

#3745 [now-routing-utils] Change behavior of `trailingSlash: true` redirects
  packages/now-cli/test/dev/integration.js
  packages/now-routing-utils/src/superstatic.ts
  packages/now-routing-utils/test/superstatic.spec.js
Labels: @now/routing-utils, automerge, now-cli

#3751 [tests] Fix changelog script
  utils/changelog.js
Labels: automerge, tests

#3760 [now-cli] Use `npx` or `yarn` to execute dev command
  packages/now-cli/src/util/dev/server.ts
Labels: automerge, now-cli, now-dev

#3768 [now-cli] Fix chalk template for legacy
  packages/now-cli/src/commands/deploy/legacy.ts
Labels: now-cli

#3769 [now-cli] Fix port assignment for `now dev`
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/test/dev/fixtures/04-create-react-app/.env
  packages/now-cli/test/dev/fixtures/04-create-react-app/.gitignore
  packages/now-cli/test/dev/integration.js
Labels: automerge, now-cli, now-dev

#3764 [now-cli] Consider root directory for now.json
  packages/now-cli/src/commands/deploy/index.js
  packages/now-cli/src/commands/deploy/latest.js
  packages/now-cli/test/helpers/prepare.js
  packages/now-cli/test/integration.js
Labels: now-cli

#3750 [now-go] Update go to version 1.13.7
  packages/now-go/go-helpers.ts
Labels: @now/go, automerge

#3780 [examples] Remove outdated jekyll build section from README
  examples/jekyll/README.md
Labels: automerge, examples

#3781 [now-python] Fix path segments with square brackets
  packages/now-python/now_init.py
  packages/now-python/src/index.ts
  packages/now-python/test/fixtures/27-square-brackets/api/[hello].py
  packages/now-python/test/fixtures/27-square-brackets/now.json
Labels: @now/python, automerge

#3727 [tests] Add windows to CI unit tests
  .github/workflows/continuous-integration.yml
  packages/now-build-utils/test/unit.test.js
  packages/now-cli/package.json
  packages/now-cli/src/util/dev/builder.ts
  packages/now-cli/test/dev-server.unit.js
  packages/now-cli/test/dev/integration.js
  packages/now-cli/test/unit.js
  utils/run.js
Labels: automerge, tests

#3784 [now-build-utils][now-cli] Refactor builds and routes detection
  packages/now-build-utils/src/detect-builders.ts
  packages/now-build-utils/src/detect-routes.ts
  packages/now-build-utils/src/index.ts
  packages/now-build-utils/test/integration.test.js
  packages/now-build-utils/test/unit.builds-and-routes-detector.test.ts
  packages/now-cli/src/util/dev/server.ts
Labels: @now/build-utils, now-cli

#3782 [now-go] Fix path segments with square brackets
  packages/now-go/index.ts
  packages/now-go/test/fixtures/08-include-files/another.go
  packages/now-go/test/fixtures/08-include-files/now.json
  packages/now-go/test/fixtures/08-include-files/templates/another.txt
  packages/now-go/test/fixtures/20-square-brackets/api/[hello].go
  packages/now-go/test/fixtures/20-square-brackets/api/sub/[hi].go
  packages/now-go/test/fixtures/20-square-brackets/now.json
Labels: @now/go, automerge

#3790 [now-cli] Update ZEIT Logo
  README.md
  packages/now-cli/README.md
Labels: automerge, now-cli

#3752 [now-next] Add support for using the fallback file for dynamic SSG pages
  packages/now-next/src/index.ts
  packages/now-next/src/utils.ts
  packages/now-next/test/fixtures/18-ssg-fallback-support/next.config.js
  packages/now-next/test/fixtures/18-ssg-fallback-support/now.json
  packages/now-next/test/fixtures/18-ssg-fallback-support/package.json
  packages/now-next/test/fixtures/18-ssg-fallback-support/pages/another.js
  packages/now-next/test/fixtures/18-ssg-fallback-support/pages/another2.js
  packages/now-next/test/fixtures/18-ssg-fallback-support/pages/blog/[post]/[comment].js
  packages/now-next/test/fixtures/18-ssg-fallback-support/pages/blog/[post]/index.js
  packages/now-next/test/fixtures/18-ssg-fallback-support/pages/forever.js
  packages/now-next/test/fixtures/18-ssg-fallback-support/pages/index.js
  packages/now-next/test/fixtures/18-ssg-fallback-support/pages/lambda.js
  packages/now-next/test/unit/build.test.js
Labels: @now/next, automerge

#3793 [now-go] Add support for root `go.mod` in api directory
  packages/now-go/index.ts
  packages/now-go/test/fixtures/17-go-mod-api/api/_pkg/somepackage/somepackage.go
  packages/now-go/test/fixtures/17-go-mod-api/api/go.mod
  packages/now-go/test/fixtures/17-go-mod-api/api/v1/routes/someroute.go
  packages/now-go/test/fixtures/17-go-mod-api/now.json
  test/lib/deployment/.eslintrc
  test/lib/deployment/test-deployment.js
Labels: @now/go, automerge

#3795 [now-go] Fix `/api/go.sum` detection
  packages/now-go/index.ts
  packages/now-go/test/fixtures/17-go-mod-api/api/go.mod
  packages/now-go/test/fixtures/17-go-mod-api/api/go.sum
Labels: @now/go, automerge

#3800 [examples] Use Full URL for Logos
  examples/angular/README.md
  examples/create-react-app/README.md
  examples/docusaurus/README.md
  examples/eleventy/README.md
  examples/ember/README.md
  examples/gatsby/README.md
  examples/gridsome/README.md
  examples/hexo/README.md
  examples/nextjs/README.md
  examples/polymer/README.md
  examples/preact/README.md
  examples/saber/README.md
  examples/umijs/README.md
  examples/vue/README.md
Labels: automerge

#3801 [now-next] Make sure to 404 and clear cache header for invalid _next requests
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/01-cache-headers/now.json
  packages/now-next/test/fixtures/01-cache-headers/pages/[team]/[project]/[deployment]/[another]/[final]/index.js
  packages/now-next/test/fixtures/01-cache-headers/pages/[team]/[project]/[deployment]/[another]/index.js
  packages/now-next/test/fixtures/01-cache-headers/pages/[team]/[project]/[deployment]/index.js
  packages/now-next/test/fixtures/01-cache-headers/pages/[team]/[project]/index.js
  packages/now-next/test/fixtures/01-cache-headers/pages/[team]/index.js
  test/lib/deployment/test-deployment.js
Labels: @now/next, automerge

#3805 [tests] Fix builder debug flag
  test/lib/deployment/test-deployment.js
Labels: automerge, tests

#3809 [now-routing-utils] Update to not pass used segments in redirect query
  packages/now-routing-utils/src/superstatic.ts
  packages/now-routing-utils/test/superstatic.spec.js
Labels: @now/routing-utils, automerge

#3810 [now-build-utils] Add `bypassToken` to `Prerender` for iSSG
  packages/now-build-utils/src/prerender.ts
Labels: @now/build-utils, automerge

#3811 Add Bypass Token to Next.js Builder
  packages/now-next/src/index.ts
  packages/now-next/src/utils.ts
  packages/now-next/tsconfig.json
Labels: automerge

#3815 [now-python] Fix path segments in `now dev`
  packages/now-python/src/index.ts
Labels: @now/python, automerge, now-dev

#3816 [now-go] Fix path segments in `now dev`
  packages/now-go/index.ts
Labels: @now/go, automerge, now-dev

#3817 [tests] Update cancel workflow
  .github/workflows/cancel.yml
Labels: automerge, tests

#3827 [now-client] Fix root directory with trailing slash
  packages/now-client/src/utils/index.ts
  packages/now-client/tests/create-deployment.test.ts
Labels: automerge, now-client

#3830 Remove Backticks from URL Output
  packages/now-cli/src/commands/deploy/latest.js
  packages/now-cli/src/util/output/code.ts
Labels: automerge

#3821 [examples] Fix Go build if Windows Git is configured to checkout CRLF line endings
  .gitattributes
Labels: automerge, examples

#3834 Rename zeit.co/new → zeit.co/import
  .github/EXAMPLE_README_TEMPLATE.md
  README.md
  examples/amp/README.md
  examples/angular/README.md
  examples/assemble/README.md
  examples/aurelia/README.md
  examples/brunch/README.md
  examples/charge/README.md
  examples/create-react-app/README.md
  examples/custom-build/README.md
  examples/docusaurus/README.md
  examples/docz/README.md
  examples/eleventy/README.md
  examples/ember/README.md
  examples/foundation/README.md
  examples/gatsby/README.md
  examples/gridsome/README.md
  examples/hexo/README.md
  examples/hugo/README.md
  examples/hyperapp/README.md
  examples/ionic-react/readme.md
  examples/jekyll/README.md
  examples/marko/README.md
  examples/mdx-deck/README.md
  examples/metalsmith/README.md
  examples/middleman/README.md
  examples/mithril/README.md
  examples/mkdocs/README.md
  examples/nextjs/README.md
  examples/nuxtjs/README.md
  examples/pelican/README.md
  examples/polymer/README.md
  examples/preact/README.md
  examples/riot/README.md
  examples/saber/README.md
  examples/sapper/README.md
  examples/stencil/readme.md
  examples/storybook/README.md
  examples/svelte/README.md
  examples/umijs/README.md
  examples/vanilla/README.md
  examples/vue/README.md
  examples/vuepress/README.md
  examples/zola/README.md
  packages/now-static-build/test/fixtures/21-docusaurus-with-framework/README.md
  packages/now-static-build/test/fixtures/50-ionic-react/readme.md
  utils/run.js
Labels: automerge

#3833 [now-cli] Remove v1 "static build" integration tests
  packages/now-cli/test/helpers/prepare.js
  packages/now-cli/test/integration-v1.js
  packages/now-cli/test/integration.js
Labels: automerge, now-cli, tests

#3837 [now-next] Always Emit Prerenders
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/05-spr-support/now.json
  packages/now-next/test/fixtures/18-ssg-fallback-support/now.json
Labels: @now/next, automerge

#3832 [now-routing-utils][now-build-utils] Refactor zero-config rewrites
  packages/now-build-utils/src/detect-builders.ts
  packages/now-build-utils/test/unit.builds-and-routes-detector.test.ts
  packages/now-cli/src/util/dev/router.ts
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/test/dev/fixtures/handle-miss-handle-filesystem-404/index.html
  packages/now-cli/test/dev/fixtures/handle-miss-handle-filesystem-404/now.json
  packages/now-cli/test/dev/fixtures/handle-miss-handle-filesystem-404/pathA/dir/one.html
  packages/now-cli/test/dev/fixtures/handle-miss-handle-filesystem-404/pathB/dir/two.html
  packages/now-cli/test/dev/fixtures/handle-miss-handle-filesystem-404/pathC/dir/three.html
  packages/now-cli/test/dev/fixtures/handle-miss-hide-dir-list/now.json
  packages/now-cli/test/dev/fixtures/handle-miss-multiple-404/index.html
  packages/now-cli/test/dev/fixtures/handle-miss-multiple-404/now.json
  packages/now-cli/test/dev/fixtures/handle-miss-multiple-404/pathA/dir/one.html
  packages/now-cli/test/dev/fixtures/handle-miss-multiple-404/pathB/dir/two.html
  packages/now-cli/test/dev/fixtures/handle-miss-multiple-404/pathC/dir/three.html
  packages/now-cli/test/dev/fixtures/public-and-server-as-api/.gitignore
  packages/now-cli/test/dev/fixtures/public-and-server-as-api/now.json
  packages/now-cli/test/dev/fixtures/public-and-server-as-api/public/index.txt
  packages/now-cli/test/dev/fixtures/public-and-server-as-api/server/date.js
  packages/now-cli/test/dev/fixtures/test-rewrites-with-segments/api/[username].js
  packages/now-cli/test/dev/fixtures/test-rewrites-with-segments/api/fourty-two.js
  packages/now-cli/test/dev/fixtures/test-rewrites-with-segments/api/users/[id].js
  packages/now-cli/test/dev/fixtures/test-rewrites-with-segments/now.json
  packages/now-cli/test/dev/integration.js
  packages/now-routing-utils/src/append.ts
  packages/now-routing-utils/src/index.ts
  packages/now-routing-utils/src/types.ts
  packages/now-routing-utils/test/append.spec.js
Labels: @now/build-utils, @now/routing-utils, automerge, now-cli

#3843 [now-build-utils][now-routing-utils] Fix appendRoutesToPhase() when input is null
  packages/now-build-utils/src/detect-builders.ts
  packages/now-build-utils/test/unit.builds-and-routes-detector.test.ts
  packages/now-cli/test/dev/integration.js
  packages/now-routing-utils/src/append.ts
  packages/now-routing-utils/test/append.spec.js
Labels: @now/build-utils, @now/routing-utils, automerge

#3847 [now-build-utils] Install all deps regardless of `NODE_ENV`
  packages/now-build-utils/src/fs/run-user-scripts.ts
Labels: @now/build-utils, automerge

#3845 [now-next] Add Support for Prerender v2
  packages/now-next/src/index.ts
  packages/now-next/src/utils.ts
  packages/now-next/test/fixtures/22-ssg-v2/next.config.js
  packages/now-next/test/fixtures/22-ssg-v2/now.json
  packages/now-next/test/fixtures/22-ssg-v2/package.json
  packages/now-next/test/fixtures/22-ssg-v2/pages/another.js
  packages/now-next/test/fixtures/22-ssg-v2/pages/another2.js
  packages/now-next/test/fixtures/22-ssg-v2/pages/blog/[post]/[comment].js
  packages/now-next/test/fixtures/22-ssg-v2/pages/blog/[post]/index.js
  packages/now-next/test/fixtures/22-ssg-v2/pages/forever.js
  packages/now-next/test/fixtures/22-ssg-v2/pages/index.js
  packages/now-next/test/fixtures/22-ssg-v2/pages/lambda.js
  packages/now-next/test/fixtures/22-ssg-v2/pages/nofallback/[slug].js
Labels: @now/next, automerge

#3848 [all] Exclude `@now/build-utils` in bundled builder to fix tests
  packages/now-go/build.sh
  packages/now-next/build.sh
  packages/now-node/build.sh
  packages/now-node/test/fixtures/35-puppeteer/now.json
  packages/now-node/test/fixtures/35-puppeteer/probe.js
  packages/now-python/build.sh
  packages/now-ruby/build.sh
  packages/now-static-build/build.sh
  test/lib/deployment/test-deployment.js
Labels: @now/go, @now/next, @now/node, @now/python, @now/static-build

#3852 [now-build-utils] Add test for `NODE_ENV` behavior
  packages/now-build-utils/test/fixtures/16-node-env-install/build.js
  packages/now-build-utils/test/fixtures/16-node-env-install/now.json
  packages/now-build-utils/test/fixtures/16-node-env-install/package.json
Labels: @now/build-utils, automerge, tests

#3850 [now-next] Allow Immutable Fallback Artifact
  packages/now-build-utils/src/prerender.ts
  packages/now-next/src/index.ts
Labels: @now/next, automerge

#3854 [now-ruby] Fix ruby test indentation
  packages/now-ruby/test/fixtures/03-cowsay-proc/index.rb
Labels: @now/ruby, automerge, tests

#3855 [docs] Update readme
  README.md
  packages/now-cli/README.md
Labels: automerge, docs

#3853 [now-ruby] Add test fixture for ActiveSupport gem
  packages/now-ruby/test/fixtures/09-activesupport/Gemfile
  packages/now-ruby/test/fixtures/09-activesupport/Gemfile.lock
  packages/now-ruby/test/fixtures/09-activesupport/index.rb
  packages/now-ruby/test/fixtures/09-activesupport/now.json
Labels: @now/ruby, tests

#3857 [now-cli] Fix "The specified token is not valid"
  packages/now-cli/src/commands/deploy/latest.js
  packages/now-cli/src/commands/dns/add.ts
  packages/now-cli/src/commands/dns/import.ts
  packages/now-cli/src/commands/domains/move.ts
  packages/now-cli/src/commands/domains/transfer-in.ts
  packages/now-cli/src/commands/projects.js
  packages/now-cli/src/commands/teams/invite.js
  packages/now-cli/src/commands/teams/list.js
  packages/now-cli/src/commands/teams/switch.js
  packages/now-cli/test/dev/integration.js
Labels: automerge, now-cli

#3858 [now-cli] Disable sentry during local development
  .github/workflows/publish.yml
  .gitignore
  packages/now-cli/scripts/build.ts
  packages/now-cli/src/util/constants.ts
  packages/now-cli/src/util/metrics.ts
Labels: automerge, now-cli

#3859 [tests] Fix code coverage upload
  .github/workflows/continuous-integration.yml
Labels: automerge, tests

#3860 [tests] Fix missing await
  packages/now-cli/scripts/build.ts
Labels: automerge, tests

#3856 [now-ruby] update bundler on ruby rack examples
  packages/now-ruby/test/fixtures/07-rack/Gemfile.lock
  packages/now-ruby/test/fixtures/08-rack-proc/Gemfile.lock
Labels: @now/ruby, automerge

#3862 [now-build-utils] Fix NODE_ENV assignment
  packages/now-build-utils/src/fs/run-user-scripts.ts
  packages/now-build-utils/test/fixtures/17-node-env-build/now.json
  packages/now-build-utils/test/fixtures/17-node-env-build/package.json
Labels: @now/build-utils, automerge
