Repository vercel/vercel, pull requests merged in 2020-06, with the labels that each got.

#4549 [build-utils] Revert type of routing errors
  packages/now-routing-utils/src/index.ts
  packages/now-routing-utils/src/types.ts
Labels: @vercel/routing-utils, automerge

#4543 [cli] Throw an error if both `.vercel` and `.now` dirs exist
  packages/now-cli/src/util/projects/link.ts
  packages/now-cli/test/fixtures/unit/get-vercel-directory-error/.gitignore
  packages/now-cli/test/fixtures/unit/get-vercel-directory-error/.now/.gitkeep
  packages/now-cli/test/fixtures/unit/get-vercel-directory-error/.vercel/.gitkeep
  packages/now-cli/test/fixtures/unit/get-vercel-directory-legacy/.gitignore
  packages/now-cli/test/fixtures/unit/get-vercel-directory-legacy/.now/.gitkeep
  packages/now-cli/test/fixtures/unit/get-vercel-directory/.gitignore
  packages/now-cli/test/fixtures/unit/get-vercel-directory/.vercel/.gitkeep
  packages/now-cli/test/unit.js
Labels: automerge, cli

#4550 [routing-utils] Fix headers with content-security-policy URL
  packages/now-routing-utils/src/superstatic.ts
  packages/now-routing-utils/test/index.spec.js
Labels: @vercel/routing-utils, automerge

#4547 [cli] Remove unnecessary build outputs
  packages/now-cli/scripts/build.ts
Labels: automerge, cli

#4514 [node] Pass in the `tsconfig.json` file to `startDevServer()`
  packages/now-cli/test/dev/fixtures/nested-tsconfig/.gitignore
  packages/now-cli/test/dev/fixtures/nested-tsconfig/api/index.ts
  packages/now-cli/test/dev/fixtures/nested-tsconfig/api/package.json
  packages/now-cli/test/dev/fixtures/nested-tsconfig/api/tsconfig.json
  packages/now-cli/test/dev/fixtures/nested-tsconfig/api/yarn.lock
  packages/now-cli/test/dev/fixtures/nested-tsconfig/next-env.d.ts
  packages/now-cli/test/dev/fixtures/nested-tsconfig/package.json
  packages/now-cli/test/dev/fixtures/nested-tsconfig/pages/index.tsx
  packages/now-cli/test/dev/fixtures/nested-tsconfig/tsconfig.json
  packages/now-cli/test/dev/fixtures/nested-tsconfig/yarn.lock
  packages/now-cli/test/dev/integration.js
  packages/now-node/src/dev-server.ts
  packages/now-node/src/index.ts
Labels: @vercel/node, automerge, dev

#4565 [all] Update TypeScript to v3.9.3 and regenerate `yarn.lock` file
  packages/frameworks/package.json
  packages/now-build-utils/package.json
  packages/now-build-utils/test/unit.builds-and-routes-detector.test.ts
  packages/now-cli/package.json
  packages/now-client/package.json
  packages/now-go/package.json
  packages/now-next/package.json
  packages/now-node-bridge/package.json
  packages/now-node/package.json
  packages/now-node/src/launcher.ts
  packages/now-python/package.json
  packages/now-routing-utils/package.json
  packages/now-ruby/package.json
  packages/now-static-build/package.json
  yarn.lock
Labels: @vercel/build-utils, @vercel/client, @vercel/frameworks, @vercel/go, @vercel/next, @vercel/node, @vercel/python, @vercel/routing-utils, @vercel/ruby, @vercel/static-build, automerge, cli

#4564 [cli] Prioritize `index.html` over other files named index
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/test/dev/fixtures/index-html-priority/public/index.css
  packages/now-cli/test/dev/fixtures/index-html-priority/public/index.html
  packages/now-cli/test/dev/integration.js
Labels: automerge, cli, dev

#4316 [cli][client] Throw an error if both `vercel.json` and `now.json` exist
  packages/now-cli/src/util/config/local-path.ts
  packages/now-cli/src/util/errors-ts.ts
  packages/now-cli/src/util/get-config.ts
  packages/now-cli/test/helpers/prepare.js
  packages/now-cli/test/integration.js
  packages/now-client/src/create-deployment.ts
  packages/now-client/src/utils/index.ts
Labels: @vercel/client, automerge, cli

#4563 [cli][build-utils] Add support for custom 404.html for zero config deployments
  packages/now-build-utils/src/detect-builders.ts
  packages/now-build-utils/test/unit.builds-and-routes-detector.test.ts
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/test/dev/fixtures/00-list-directory/.gitignore
  packages/now-cli/test/dev/fixtures/05-gatsby/src/pages/404.js
  packages/now-cli/test/dev/fixtures/10-nextjs-node/pages/404.js
  packages/now-cli/test/dev/fixtures/public-and-api/.gitignore
  packages/now-cli/test/dev/fixtures/public-and-api/public/404.html
  packages/now-cli/test/dev/fixtures/routes-check-true-status/.gitignore
  packages/now-cli/test/dev/fixtures/routes-custom-404/api/hello.js
  packages/now-cli/test/dev/fixtures/routes-custom-404/exact-404.html
  packages/now-cli/test/dev/fixtures/routes-custom-404/index.html
  packages/now-cli/test/dev/fixtures/routes-custom-404/user-404.html
  packages/now-cli/test/dev/fixtures/routes-custom-404/vercel.json
  packages/now-cli/test/dev/fixtures/test-clean-urls-custom-404/404.html
  packages/now-cli/test/dev/fixtures/test-clean-urls-custom-404/about.html
  packages/now-cli/test/dev/fixtures/test-clean-urls-custom-404/contact/me.html
  packages/now-cli/test/dev/fixtures/test-clean-urls-custom-404/index.html
  packages/now-cli/test/dev/fixtures/test-clean-urls-custom-404/vercel.json
  packages/now-cli/test/dev/fixtures/test-trailing-slash-custom-404/404.html
  packages/now-cli/test/dev/fixtures/test-trailing-slash-custom-404/about.html
  packages/now-cli/test/dev/fixtures/test-trailing-slash-custom-404/contact/index.html
  packages/now-cli/test/dev/fixtures/test-trailing-slash-custom-404/index.html
  packages/now-cli/test/dev/fixtures/test-trailing-slash-custom-404/vercel.json
  packages/now-cli/test/dev/integration.js
Labels: @vercel/build-utils, automerge, cli, dev

#4578 [go] Fix typo in `go-bridge` import
  packages/now-go/main.go
Labels: @vercel/go, automerge

#4519 De-experimentalize shared lambdas optimization by default
  errors/next-legacy-routes-optimized-lambdas.md
  packages/now-next/package.json
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/22-ssg-v2-shared-lambdas/next.config.js
  packages/now-next/test/fixtures/22-ssg-v2-shared-lambdas/now.json
  packages/now-next/test/fixtures/22-ssg-v2-shared-lambdas/package.json
  packages/now-next/test/fixtures/22-ssg-v2-shared-lambdas/pages/another.js
  packages/now-next/test/fixtures/22-ssg-v2-shared-lambdas/pages/another2.js
  packages/now-next/test/fixtures/22-ssg-v2-shared-lambdas/pages/blog/[post]/[comment].js
  packages/now-next/test/fixtures/22-ssg-v2-shared-lambdas/pages/blog/[post]/index.js
  packages/now-next/test/fixtures/22-ssg-v2-shared-lambdas/pages/forever.js
  packages/now-next/test/fixtures/22-ssg-v2-shared-lambdas/pages/index.js
  packages/now-next/test/fixtures/22-ssg-v2-shared-lambdas/pages/lambda.js
  packages/now-next/test/fixtures/22-ssg-v2-shared-lambdas/pages/nofallback/[slug].js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/.gitignore
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/next.config.js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/now.json
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/package.json
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/another/[id].js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/api/dynamic/[slug].js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/api/hello.js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/blog/[post]/index.js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/docs/v2/more/now-for-github.js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/hello-again.js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/hello.js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/multi-rewrites.js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/nav.js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/nested/[slug]/[team]/[id].js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/nested/teams/invite/[inviteCode].js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/params.js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/redirect-override.js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/with-params.js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/public/blog/data.json
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/public/static/hello.txt
  packages/now-next/test/integration/index.test.js
  yarn.lock
Labels: @vercel/next, automerge

#4583 [cli] Update 502 error template for `vc dev`
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/src/util/dev/templates/error_502.jst
Labels: automerge, cli, dev

#4586 [cli] Make `proxyPass()` return a 502 if the proxying fails
  packages/now-cli/src/util/dev/server.ts
Labels: automerge, cli, dev

#4597 [cli] Update tests for 404.html
  packages/now-cli/test/dev/integration.js
Labels: automerge, cli, tests

#4596 [next] Add shared lambdas opt-out for functions config
  errors/next-functions-config-optimized-lambdas.md
  packages/now-next/src/index.ts
Labels: @vercel/next, automerge

#4570 [cli] Use `getArgs()` instead of `mri` to parse arguments in `vc projects`
  packages/now-cli/src/commands/projects.js
  packages/now-cli/test/integration.js
Labels: automerge, bug, cli

#4598 [cli] Show npm output when failing to install Runtimes in `vc dev`
  packages/now-build-utils/src/errors.ts
  packages/now-cli/src/commands/dev/index.ts
  packages/now-cli/src/util/dev/builder-cache.ts
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/src/util/output/create-output.ts
  packages/now-cli/test/dev/fixtures/runtime-not-installed/vercel.json
  packages/now-cli/test/dev/integration.js
  packages/now-routing-utils/src/index.ts
  packages/now-routing-utils/src/types.ts
Labels: @vercel/build-utils, @vercel/routing-utils, automerge, cli, dev

#4601 [tests] Add log for error response
  test/lib/deployment/now-deploy.js
Labels: automerge, tests

#4609 [next] Re-disable shared lambdas by default
  packages/now-next/src/index.ts
  packages/now-next/test/integration/index.test.js
Labels: @vercel/next, automerge

#4603 [cli] Invalidate build match for changes to `config` in builds
  packages/frameworks/package.json
  packages/now-cli/package.json
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/test/dev/fixtures/node-helpers/index.js
  packages/now-cli/test/dev/fixtures/node-helpers/vercel.json
  packages/now-cli/test/dev/integration.js
  packages/now-node/src/dev-server.ts
  packages/now-node/src/index.ts
  yarn.lock
Labels: @vercel/node, automerge, cli, dev

#4611 [cli] Update `@vercel/next` to v2.6.5
  packages/now-cli/package.json
  yarn.lock
Labels: @vercel/next, automerge, cli

#4628 [cli] Update "npm-install-error" link to "npm-install-failed-dev"
  packages/now-cli/src/util/dev/builder-cache.ts
  packages/now-cli/test/dev/integration.js
Labels: automerge, cli, dev

#4630 [github] Update codeowners
  .github/CODEOWNERS
Labels: automerge

#4629 [cli] Invalidate the configuration if `vercel.json` is deleted
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/test/dev/fixtures/invalidate-vercel-config/api/index.js
  packages/now-cli/test/dev/fixtures/invalidate-vercel-config/vercel.json
  packages/now-cli/test/dev/integration.js
Labels: automerge, bug, cli, dev

#4627 [client] Fix `.vercelignore` override default ignore list
  packages/now-client/.gitignore
  packages/now-client/src/utils/index.ts
  packages/now-client/tests/fixtures/vercelignore-allow-nodemodules/.env.local
  packages/now-client/tests/fixtures/vercelignore-allow-nodemodules/.vercelignore
  packages/now-client/tests/fixtures/vercelignore-allow-nodemodules/exclude.txt
  packages/now-client/tests/fixtures/vercelignore-allow-nodemodules/hello.txt
  packages/now-client/tests/fixtures/vercelignore-allow-nodemodules/node_modules/one.txt
  packages/now-client/tests/fixtures/vercelignore-allow-nodemodules/sub/include.txt
  packages/now-client/tests/fixtures/vercelignore-allow-nodemodules/sub/node_modules/two.txt
  packages/now-client/tests/unit.utils.test.ts
Labels: @vercel/client, automerge

#4447 [cli] Add test for gatsby cache
  packages/now-cli/test/integration.js
Labels: automerge, cli, tests

#4643 [tests] Don't revoke `VERCEL_TOKEN` after tests run
  packages/now-cli/test/integration.js
Labels: automerge, cli, tests

#4655 [node] Don't resolve "typescript" from the dist dir
  packages/now-node/src/dev-server.ts
Labels: @vercel/node, automerge

#4656 [cli] Add a test case for resolving default "typescript" version in `@vercel/node`
  packages/now-cli/test/dev/integration.js
Labels: @vercel/node, automerge, dev, tests

#4355 [next] Update dynamic route named regexes and route keys
  packages/now-next/src/index.ts
  packages/now-next/src/utils.ts
  packages/now-next/test/fixtures/10-export-cache-headers/now.json
  packages/now-next/test/fixtures/16-base-path/now.json
  packages/now-next/test/fixtures/23-custom-routes-verbose/now.json
  packages/now-next/test/fixtures/23-custom-routes-verbose/pages/catchall-dash/[...hello-world].js
  packages/now-next/test/fixtures/23-custom-routes-verbose/pages/dash/[hello-world].js
Labels: @vercel/next, automerge

#4644 [cli] Fix `vc dev` proxy to upstream frontend dev server
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/test/dev/fixtures/06-gridsome/package.json
  packages/now-cli/test/dev/fixtures/06-gridsome/src/pages/404.vue
  packages/now-cli/test/dev/fixtures/06-gridsome/src/pages/Index.vue
  packages/now-cli/test/dev/fixtures/06-gridsome/vercel.json
  packages/now-cli/test/dev/fixtures/07-hexo-node/source/contact.html
  packages/now-cli/test/dev/fixtures/07-hexo-node/vercel.json
  packages/now-cli/test/dev/fixtures/10-nextjs-node/pages/contact.js
  packages/now-cli/test/dev/fixtures/10-nextjs-node/vercel.json
  packages/now-cli/test/dev/integration.js
Labels: automerge, cli, dev

#3791 [next] Update handling experimental basePath
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/16-base-path/now.json
Labels: @vercel/next, automerge

#4617 [node][next] Bump node-file-trace to 0.6.4
  packages/now-next/package.json
  packages/now-node/package.json
  yarn.lock
Labels: @vercel/next, @vercel/node, automerge

#4645 [static-build] Apply Gatsby default caching routes automatically
  packages/now-static-build/src/frameworks.ts
  packages/now-static-build/test/fixtures/10-gatsby/now.json
Labels: @vercel/static-build, automerge

#4667 [node][next] Bump node-file-trace to 0.6.5
  packages/now-next/package.json
  packages/now-node/package.json
  yarn.lock
Labels: @vercel/next, @vercel/node, automerge

#4659 Fix to not render no token error, prompt login instead
  packages/now-cli/src/index.js
  packages/now-cli/test/integration.js
Labels: automerge, bug, cli

#4593 [ruby] Fix for UTF-8 responses in Ruby functions
  packages/now-ruby/now_init.rb
  packages/now-ruby/test/fixtures/10-utf8-encoding-emoji/index.rb
  packages/now-ruby/test/fixtures/10-utf8-encoding-emoji/now.json
Labels: @vercel/ruby, automerge

#4510 [next] Fix nextjs routes in `vercel dev`
  packages/now-cli/test/dev/fixtures/monorepo-dynamic-paths/blog/next.config.js
  packages/now-cli/test/dev/fixtures/monorepo-dynamic-paths/blog/package.json
  packages/now-cli/test/dev/fixtures/monorepo-dynamic-paths/blog/pages/blog/index.js
  packages/now-cli/test/dev/fixtures/monorepo-dynamic-paths/blog/pages/blog/post/[id].js
  packages/now-cli/test/dev/fixtures/monorepo-dynamic-paths/home/components/Header.js
  packages/now-cli/test/dev/fixtures/monorepo-dynamic-paths/home/package.json
  packages/now-cli/test/dev/fixtures/monorepo-dynamic-paths/home/pages/1/[id].js
  packages/now-cli/test/dev/fixtures/monorepo-dynamic-paths/home/pages/[id].js
  packages/now-cli/test/dev/fixtures/monorepo-dynamic-paths/home/pages/about.js
  packages/now-cli/test/dev/fixtures/monorepo-dynamic-paths/home/pages/index.js
  packages/now-cli/test/dev/fixtures/monorepo-dynamic-paths/package.json
  packages/now-cli/test/dev/fixtures/monorepo-dynamic-paths/vercel.json
  packages/now-cli/test/dev/fixtures/monorepo-dynamic-paths/yarn.lock
  packages/now-cli/test/dev/integration.js
  packages/now-next/src/utils.ts
  packages/now-next/test/unit/build.test.js
Labels: @vercel/next

#4687 [cli] Fix error message when no internet connectivity
  packages/now-cli/src/commands/dev/index.ts
  packages/now-cli/src/index.js
Labels: automerge, cli, dev

#4678 [cli] Do not confirm `vc env pull` overwrite if created by CLI
  packages/now-cli/src/commands/env/pull.ts
  packages/now-cli/test/integration.js
Labels: automerge, cli

#4675 [docs] Refactor "Developing a Runtime" docs and add `startDevServer()`
  DEVELOPING_A_RUNTIME.md
Labels: automerge, docs

#4682 [next] Update tests to run against latest canary
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/07-custom-routes/package.json
  packages/now-next/test/fixtures/08-custom-routes-catchall/next.config.js
  packages/now-next/test/fixtures/08-custom-routes-catchall/now.json
  packages/now-next/test/fixtures/08-custom-routes-catchall/package.json
  packages/now-next/test/fixtures/10-export-cache-headers/now.json
  packages/now-next/test/fixtures/16-base-path/next.config.js
  packages/now-next/test/fixtures/16-base-path/now.json
  packages/now-next/test/fixtures/22-ssg-v2-catchall/package.json
  packages/now-next/test/fixtures/22-ssg-v2/package.json
  packages/now-next/test/fixtures/22-ssg-v2/pages/another.js
  packages/now-next/test/fixtures/22-ssg-v2/pages/another2.js
  packages/now-next/test/fixtures/22-ssg-v2/pages/blog/[post]/[comment].js
  packages/now-next/test/fixtures/22-ssg-v2/pages/blog/[post]/index.js
  packages/now-next/test/fixtures/22-ssg-v2/pages/forever.js
  packages/now-next/test/fixtures/22-ssg-v2/pages/nofallback/[slug].js
  packages/now-next/test/fixtures/23-custom-routes-verbose/next.config.js
  packages/now-next/test/fixtures/23-custom-routes-verbose/now.json
  packages/now-next/test/fixtures/23-custom-routes-verbose/pages/a/catch-all.js
  packages/now-next/test/integration/index.test.js
  test/lib/deployment/test-deployment.js
Labels: @vercel/next, automerge

#4694 [cli] Improve validation error message for vercel.json
  packages/now-cli/package.json
  packages/now-cli/src/commands/deploy/latest.js
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/src/util/dev/validate.ts
  packages/now-cli/src/util/humanize-ajv-error.ts
  packages/now-cli/test/dev-validate.unit.js
  packages/now-cli/test/dev/integration.js
  packages/now-cli/test/helpers/prepare.js
  packages/now-cli/test/integration.js
Labels: automerge, cli, dev

#4697 [cli] Remove caching of `vercel.json` config in `vc dev`
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/test/dev/integration.js
Labels: automerge, cli, dev

#4710 [tests] Change now-php to vercel-php
  packages/now-build-utils/test/unit.builds-and-routes-detector.test.ts
  packages/now-cli/test/helpers/prepare.js
  packages/now-cli/test/integration.js
Labels: @vercel/build-utils, cli, tests

#4662 [go] Implement `startDevServer()` function
  .editorconfig
  packages/now-cli/test/dev/fixtures/go/.gitignore
  packages/now-cli/test/dev/fixtures/go/api/[segment].go
  packages/now-cli/test/dev/fixtures/go/api/another.go
  packages/now-cli/test/dev/fixtures/go/api/index.go
  packages/now-cli/test/dev/integration.js
  packages/now-go/build.sh
  packages/now-go/dev-server.go
  packages/now-go/go-helpers.ts
  packages/now-go/index.ts
  packages/now-go/main.go
  packages/now-go/main__mod__.go
  packages/now-go/package.json
Labels: @vercel/go, automerge, dev

#4712 [next] Memoize lstating files
  packages/now-next/src/index.ts
Labels: @vercel/next, automerge

#4701 [cli][client] Add source prop when deploying
  packages/now-cli/src/util/index.js
  packages/now-client/src/types.ts
Labels: @vercel/client, cli

#4714 [cli] Fix `vc dev` serving pure static dot files
  packages/now-cli/src/util/dev/builder.ts
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/test/dev/fixtures/00-list-directory/.well-known/keybase.txt
  packages/now-cli/test/dev/fixtures/public-and-api/public/.well-known/humans.txt
  packages/now-cli/test/dev/integration.js
  packages/now-cli/test/helpers/prepare.js
  packages/now-cli/test/integration.js
  packages/now-client/src/create-deployment.ts
Labels: automerge, cli, dev

#4715 [cli] Use the configured "Output Directory" from project's settings in `vc dev`
  packages/now-cli/src/commands/dev/dev.ts
  packages/now-cli/src/types.ts
  packages/now-cli/src/util/dev/builder.ts
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/src/util/dev/types.ts
  packages/now-cli/test/helpers/prepare.js
  packages/now-cli/test/integration.js
  packages/now-static-build/src/index.ts
Labels: @vercel/static-build, automerge, bug, cli, dev

#4727 [static-build] Fix error handling for unexpected output directory
  packages/now-static-build/src/frameworks.ts
  packages/now-static-build/test/fixtures/22-docusaurus-2-build-fail/.gitignore
  packages/now-static-build/test/fixtures/22-docusaurus-2-build-fail/README.md
  packages/now-static-build/test/fixtures/22-docusaurus-2-build-fail/blog/2019-05-28-hola.md
  packages/now-static-build/test/fixtures/22-docusaurus-2-build-fail/blog/2019-05-29-hello-world.md
  packages/now-static-build/test/fixtures/22-docusaurus-2-build-fail/blog/2019-05-30-welcome.md
  packages/now-static-build/test/fixtures/22-docusaurus-2-build-fail/docs/doc1.md
  packages/now-static-build/test/fixtures/22-docusaurus-2-build-fail/docs/doc2.md
  packages/now-static-build/test/fixtures/22-docusaurus-2-build-fail/docs/doc3.md
  packages/now-static-build/test/fixtures/22-docusaurus-2-build-fail/docs/mdx.md
  packages/now-static-build/test/fixtures/22-docusaurus-2-build-fail/docusaurus.config.js
  packages/now-static-build/test/fixtures/22-docusaurus-2-build-fail/now.json
  packages/now-static-build/test/fixtures/22-docusaurus-2-build-fail/package.json
  packages/now-static-build/test/fixtures/22-docusaurus-2-build-fail/sidebars.js
  packages/now-static-build/test/fixtures/22-docusaurus-2-build-fail/src/css/custom.css
  packages/now-static-build/test/fixtures/22-docusaurus-2-build-fail/src/pages/index.js
  packages/now-static-build/test/fixtures/22-docusaurus-2-build-fail/src/pages/styles.module.css
  packages/now-static-build/test/fixtures/22-docusaurus-2-build-fail/static/img/favicon.ico
  packages/now-static-build/test/fixtures/22-docusaurus-2-build-fail/static/img/logo.svg
  packages/now-static-build/test/fixtures/22-docusaurus-2-build-fail/static/img/undraw_docusaurus_mountain.svg
  packages/now-static-build/test/fixtures/22-docusaurus-2-build-fail/static/img/undraw_docusaurus_react.svg
  packages/now-static-build/test/fixtures/22-docusaurus-2-build-fail/static/img/undraw_docusaurus_tree.svg
  packages/now-static-build/test/fixtures/22-docusaurus-2-build-fail/yarn.lock
  packages/now-static-build/test/integration.test.js
  test/lib/deployment/now-deploy.js
Labels: @vercel/static-build, automerge

#4737 [frameworks] Fix build command placeholder `nuxt generate`
  packages/frameworks/frameworks.json
Labels: @vercel/frameworks, automerge

#4728 [node] Set the TypeScript `target` in `vc dev`
  packages/now-cli/test/dev/fixtures/node-ts-node-target/api/array.js
  packages/now-cli/test/dev/fixtures/node-ts-node-target/api/subclass.js
  packages/now-cli/test/dev/fixtures/node-ts-node-target/package.json
  packages/now-cli/test/dev/fixtures/node-ts-node-target/tsconfig.json
  packages/now-cli/test/dev/fixtures/node-ts-node-target/yarn.lock
  packages/now-cli/test/dev/integration.js
  packages/now-node/src/dev-server.ts
Labels: @vercel/node, automerge, bug, cli, dev

#4749 [cli] Revert "Remove caching of `vercel.json` config in `vc dev`"
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/test/dev/integration.js
Labels: automerge, cli, dev
