Repository vercel/vercel, pull requests merged in 2020-07, with the labels that each got.

#4757 [next] Re-enable shared lambdas by default
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/00-shared-lambdas/now.json
  packages/now-next/test/fixtures/06-lambda-with-memory/now.json
  packages/now-next/test/fixtures/07-custom-routes/now.json
  packages/now-next/test/fixtures/09-yarn-workspaces/now.json
  packages/now-next/test/fixtures/22-ssg-v2-shared-lambdas/additional.js
  packages/now-next/test/fixtures/22-ssg-v2-shared-lambdas/next.config.js
  packages/now-next/test/fixtures/22-ssg-v2-shared-lambdas/now.json
  packages/now-next/test/fixtures/22-ssg-v2-shared-lambdas/package.json
  packages/now-next/test/fixtures/22-ssg-v2-shared-lambdas/pages/another.js
  packages/now-next/test/fixtures/22-ssg-v2-shared-lambdas/pages/another2.js
  packages/now-next/test/fixtures/22-ssg-v2-shared-lambdas/pages/blog/[post]/[comment].js
  packages/now-next/test/fixtures/22-ssg-v2-shared-lambdas/pages/blog/[post]/index.js
  packages/now-next/test/fixtures/22-ssg-v2-shared-lambdas/pages/forever.js
  packages/now-next/test/fixtures/22-ssg-v2-shared-lambdas/pages/index.js
  packages/now-next/test/fixtures/22-ssg-v2-shared-lambdas/pages/lambda.js
  packages/now-next/test/fixtures/22-ssg-v2-shared-lambdas/pages/nofallback/[slug].js
  packages/now-next/test/fixtures/22-ssg-v2/now.json
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/.gitignore
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/next.config.js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/now.json
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/package.json
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/a/catch-all.js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/another/[id].js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/api/dynamic/[slug].js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/api/hello.js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/blog/[post]/index.js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/catchall-dash/[...hello-world].js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/dash/[hello-world].js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/docs/v2/more/now-for-github.js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/hello-again.js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/hello.js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/multi-rewrites.js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/nav.js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/params.js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/redirect-override.js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/pages/with-params.js
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/public/blog/data.json
  packages/now-next/test/fixtures/23-custom-routes-verbose-shared-lambdas/public/static/hello.txt
  packages/now-next/test/fixtures/25-mono-repo-404/vercel.json
  packages/now-next/test/fixtures/26-mono-repo-404-lambda/now.json
  packages/now-next/test/integration/index.test.js
  packages/now-next/test/test.js
  test/lib/deployment/now-deploy.js
  test/lib/deployment/test-deployment.js
  yarn.lock
Labels: @vercel/next, automerge

#4747 [next] Add additiontal test cases for basePath support
  packages/now-next/test/fixtures/16-base-path/now.json
  packages/now-next/test/fixtures/16-base-path/pages/api/[slug]/another.js
  packages/now-next/test/fixtures/16-base-path/pages/api/[slug]/index.js
  packages/now-next/test/fixtures/16-base-path/pages/api/hello.js
  packages/now-next/test/fixtures/16-base-path/pages/blog/[post]/comments.js
  packages/now-next/test/fixtures/16-base-path/pages/blog/[post]/index.js
Labels: @vercel/next, automerge

#4748 [next] Skip Lambda Deployment for Static Sites
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/05-spr-support/pages/api/noop.js
  packages/now-next/test/fixtures/18-ssg-fallback-support/pages/api/noop.js
  packages/now-next/test/fixtures/22-ssg-v2/pages/api/noop.js
  packages/now-next/test/integration/index.test.js
  packages/now-next/test/integration/static-site/package.json
  packages/now-next/test/integration/static-site/pages/another.js
  packages/now-next/test/integration/static-site/pages/dynamic.js
  packages/now-next/test/integration/static-site/pages/index.js
  packages/now-next/test/integration/static-site/vercel.json
Labels: @vercel/next, automerge, important

#4771 Add Lockfile to Fix Gatsby Example
  examples/gatsby/yarn.lock
Labels: automerge

#4760 [cli] Reduce number of times `getNowConfig()` is invoked in `vercel dev`
  package.json
  packages/now-cli/src/util/dev/router.ts
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/src/util/dev/validate.ts
  yarn.lock
Labels: automerge, cli, dev

#4778 [next] Use correct data route regex
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/21-server-props/package.json
  packages/now-next/test/fixtures/21-server-props/pages/another.js
  packages/now-next/test/fixtures/21-server-props/pages/another2.js
  packages/now-next/test/fixtures/21-server-props/pages/blog/[post]/[comment].js
  packages/now-next/test/fixtures/21-server-props/pages/blog/[post]/index.js
  packages/now-next/test/fixtures/21-server-props/pages/forever.js
Labels: @vercel/next, automerge

#4804 [client] Add `@vercel/build-utils` as a "dependency"
  packages/now-client/package.json
Labels: @vercel/client, automerge

#4795 [cli] Print a warning if both "functions" and "builds" are defined in `vercel.json` in `vercel dev`
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/src/util/dev/validate.ts
  packages/now-cli/test/dev-validate.unit.js
  packages/now-cli/test/dev/fixtures/public-and-api/.gitignore
Labels: automerge, bug, cli, dev

#4793 [cli] Make filesystem globbing faster in `vercel dev`
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/src/util/get-files.ts
  packages/now-cli/test/dev/fixtures/invalidate-vercel-config/vercel.json
  packages/now-cli/test/dev/fixtures/node-helpers/vercel.json
  packages/now-cli/test/dev/integration.js
Labels: automerge, cli, dev

#4465 [frameworks][examples] Add Blitz.js
  examples/blitzjs/.babelrc.js
  examples/blitzjs/.eslintrc.js
  examples/blitzjs/.gitignore
  examples/blitzjs/.npmrc
  examples/blitzjs/.prettierignore
  examples/blitzjs/README.md
  examples/blitzjs/app/components/.keep
  examples/blitzjs/app/components/ErrorBoundary.tsx
  examples/blitzjs/app/layouts/.keep
  examples/blitzjs/app/pages/_app.tsx
  examples/blitzjs/app/pages/_document.tsx
  examples/blitzjs/app/pages/index.tsx
  examples/blitzjs/blitz.config.js
  examples/blitzjs/db/index.ts
  examples/blitzjs/db/migrations/.keep
  examples/blitzjs/db/schema.prisma
  examples/blitzjs/integrations/.keep
  examples/blitzjs/package.json
  examples/blitzjs/public/favicon.ico
  examples/blitzjs/public/logo.png
  examples/blitzjs/tsconfig.json
  examples/blitzjs/utils/.keep
  packages/frameworks/frameworks.json
  packages/frameworks/logos/blitz.svg
  packages/now-build-utils/src/detect-builders.ts
  packages/now-next/src/index.ts
Labels: @vercel/frameworks, @vercel/next, automerge, examples

#4816 [frameworks] Remove blitz demo
  packages/frameworks/frameworks.json
Labels: @vercel/frameworks, automerge

#4803 [next] Don't use potentially invalid routeKeys/regexes
  packages/now-next/src/utils.ts
  packages/now-next/test/fixtures/27-non-word-param/next.config.js
  packages/now-next/test/fixtures/27-non-word-param/now.json
  packages/now-next/test/fixtures/27-non-word-param/package.json
  packages/now-next/test/fixtures/27-non-word-param/pages/[...path-segments].js
  packages/now-next/test/fixtures/27-non-word-param/pages/index.js
Labels: @vercel/next, automerge

#4808 [cli] Remove caching of `vercel.json` config in `vc dev`
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/test/dev/integration.js
Labels: automerge, cli, dev

#4819 [all] Change prettier config `arrowParens: avoid`
  package.json
  packages/now-cli/src/util/dev/router.ts
  packages/now-cli/test/dev/integration.js
  packages/now-cli/test/integration.js
Labels: automerge

#4820 [cli][static-build] Use titlecase for "Project Settings"
  packages/now-cli/src/commands/deploy/latest.js
  packages/now-cli/src/util/input/edit-project-settings.ts
  packages/now-cli/src/util/projects/link.ts
  packages/now-static-build/src/index.ts
  packages/now-static-build/test/integration.test.js
Labels: @vercel/static-build, automerge, cli

#4826 Revert "[frameworks] Remove blitz demo"
  packages/frameworks/frameworks.json
Labels: @vercel/frameworks, automerge

#4825 [cli] Handle API Error `action` property
  packages/now-cli/src/util/output/error.ts
  packages/now-cli/test/integration.js
Labels: automerge, cli

#4827 [cli] Handle 400 errors as user errors
  packages/now-cli/src/index.js
  packages/now-cli/src/util/errors-ts.ts
  packages/now-cli/src/util/response-error.ts
Labels: automerge, cli

#4828 [cli] Replace "More details" with "Learn More"
  packages/now-build-utils/src/detect-builders.ts
  packages/now-build-utils/src/errors.ts
  packages/now-cli/src/commands/dev/index.ts
  packages/now-cli/src/util/output/create-output.ts
Labels: automerge, cli

#4813 [next] Add pages with invalid route regexes
  packages/now-next/test/fixtures/23-custom-routes-verbose/pages/b/[123].js
  packages/now-next/test/fixtures/23-custom-routes-verbose/pages/c/[alongparamnameshouldbeallowedeventhoughweird].js
Labels: @vercel/next, automerge

#4812 [next] Fix preview mode with dynamic routes in shared lambdas
  packages/now-next/package.json
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/27-preview-mode/additional.js
  packages/now-next/test/fixtures/27-preview-mode/next.config.js
  packages/now-next/test/fixtures/27-preview-mode/now.json
  packages/now-next/test/fixtures/27-preview-mode/package.json
  packages/now-next/test/fixtures/27-preview-mode/pages/api/disable.js
  packages/now-next/test/fixtures/27-preview-mode/pages/api/enable.js
  packages/now-next/test/fixtures/27-preview-mode/pages/docs/[...rest].js
  packages/now-next/test/fixtures/27-preview-mode/pages/docs/index.js
  yarn.lock
Labels: @vercel/next, automerge

#4829 [frameworks][api] Add sort order
  api/_lib/util/with-api-handler.ts
  api/examples/download/[segment].ts
  api/examples/info.ts
  api/examples/list-all.ts
  api/examples/list.ts
  api/frameworks.ts
  api/package.json
  api/yarn.lock
  packages/frameworks/frameworks.json
  packages/frameworks/index.d.ts
  packages/frameworks/test/frameworks.unit.test.ts
Labels: @vercel/frameworks, automerge

#4830 [go] Add filesystem write fallback for `startDevServer()`
  packages/now-go/dev-server.go
  packages/now-go/index.ts
  packages/now-go/package.json
  yarn.lock
Labels: @vercel/go, automerge, dev

#4836 [frameworks][api] Move dependency to devdependency
  api/package.json
  api/yarn.lock
  packages/frameworks/test/frameworks.unit.test.ts
Labels: @vercel/frameworks, automerge

#4837 [cli] Pin `@vercel/static-build` to "0.17.6-canary.0"
  packages/now-cli/package.json
Labels: automerge, cli

#4817 [next] Fix nested public files being renamed incorrectly
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/28-nested-public/next.config.js
  packages/now-next/test/fixtures/28-nested-public/now.json
  packages/now-next/test/fixtures/28-nested-public/package.json
  packages/now-next/test/fixtures/28-nested-public/pages/index.js
  packages/now-next/test/fixtures/28-nested-public/public/republic/test.txt
Labels: @vercel/next, automerge

#4807 [cli] Show helpful error when using unauthorized `.vercel` config
  packages/now-cli/src/util/projects/link.ts
  packages/now-cli/test/helpers/prepare.js
  packages/now-cli/test/integration.js
Labels: automerge, cli

#4849 [build-utils] Update error message for unmatched function pattern
  packages/now-build-utils/src/detect-builders.ts
  packages/now-build-utils/test/unit.builds-and-routes-detector.test.ts
Labels: @vercel/build-utils, automerge

#4848 [cli] Minor text changes to wrong config error message
  packages/now-cli/src/util/projects/link.ts
  packages/now-cli/test/integration.js
Labels: automerge, cli

#4850 [cli] Set Vercel proxy request headers in `startDevServer()`
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/test/dev/fixtures/node-ts-node-target/api/headers.js
  packages/now-cli/test/dev/fixtures/python-flask/api/headers.py
  packages/now-cli/test/dev/integration.js
Labels: automerge, bug, cli, dev

#4855 [cli] Set Vercel platform env vars for `startDevServer()` invocations
  packages/now-cli/src/util/dev/builder.ts
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/test/dev/fixtures/node-ts-node-target/api/dump.js
  packages/now-cli/test/dev/integration.js
Labels: automerge, bug, cli, dev

#4867 [cli] Set `server: Vercel` header and remove `x-now` response headers in `vercel dev`
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/test/dev-server.unit.js
Labels: automerge, bug, cli, dev

#4868 [frameworks][examples] Update blitz new command
  examples/blitzjs/README.md
  packages/frameworks/frameworks.json
Labels: @vercel/frameworks, automerge, examples

#4869 [build-utils] Add `getScriptName()` function
  packages/now-build-utils/build.sh
  packages/now-build-utils/src/fs/run-user-scripts.ts
  packages/now-build-utils/src/index.ts
  packages/now-build-utils/test/unit.get-script-name.test.ts
Labels: @vercel/build-utils

#4870 [cli] Remove "npm pack" logic from `output-is-source` dev test
  packages/now-cli/test/dev/integration.js
Labels: automerge, cli, dev, tests

#4814 [node][next] Bump node-file-trace to 0.8.0
  packages/now-next/package.json
  packages/now-next/src/index.ts
  packages/now-node/package.json
  packages/now-node/src/index.ts
  yarn.lock
Labels: @vercel/next, @vercel/node, automerge

#4896 [cli] Use `update-notifier` instead of `update-check`
  packages/now-cli/package.json
  packages/now-cli/scripts/build.ts
  packages/now-cli/src/index.js
  yarn.lock
Labels: automerge, cli

#4894 [next] Add tests for trailing slash behavior
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/00-shared-lambdas/pages/[teamSlug]/[project]/[id].js
  packages/now-next/test/fixtures/00-shared-lambdas/pages/groups/[id].js
  packages/now-next/test/fixtures/00-shared-lambdas/pages/teams/invite/[inviteCode].js
  packages/now-next/test/fixtures/00-trailing-slash-add/next.config.js
  packages/now-next/test/fixtures/00-trailing-slash-add/now.json
  packages/now-next/test/fixtures/00-trailing-slash-add/package.json
  packages/now-next/test/fixtures/00-trailing-slash-add/pages/abc/def.js
  packages/now-next/test/fixtures/00-trailing-slash-add/pages/foo.js
  packages/now-next/test/fixtures/00-trailing-slash-add/public/test.txt
  packages/now-next/test/fixtures/00-trailing-slash-remove/next.config.js
  packages/now-next/test/fixtures/00-trailing-slash-remove/now.json
  packages/now-next/test/fixtures/00-trailing-slash-remove/package.json
  packages/now-next/test/fixtures/00-trailing-slash-remove/pages/abc/def.js
  packages/now-next/test/fixtures/00-trailing-slash-remove/pages/foo.js
  packages/now-next/test/fixtures/00-trailing-slash-remove/public/test.txt
  packages/now-next/test/fixtures/01-cache-headers/pages/[team]/[project]/[deployment]/[another]/[final]/index.js
  packages/now-next/test/fixtures/01-cache-headers/pages/[team]/[project]/[deployment]/[another]/index.js
  packages/now-next/test/fixtures/01-cache-headers/pages/[team]/[project]/[deployment]/index.js
  packages/now-next/test/fixtures/01-cache-headers/pages/[team]/[project]/index.js
  packages/now-next/test/fixtures/01-cache-headers/pages/[team]/index.js
  packages/now-next/test/fixtures/05-spr-support/pages/another.js
  packages/now-next/test/fixtures/05-spr-support/pages/another2.js
  packages/now-next/test/fixtures/05-spr-support/pages/blog/[post]/[comment].js
  packages/now-next/test/fixtures/05-spr-support/pages/blog/[post]/index.js
  packages/now-next/test/fixtures/05-spr-support/pages/forever.js
  packages/now-next/test/fixtures/05-spr-support/pages/lambda.js
  packages/now-next/test/fixtures/06-lambda-with-memory/src/pages/api/memory.js
  packages/now-next/test/fixtures/07-custom-routes/pages/hello.js
  packages/now-next/test/fixtures/07-custom-routes/pages/params.js
  packages/now-next/test/fixtures/08-custom-routes-catchall/pages/hello.js
  packages/now-next/test/fixtures/08-custom-routes-catchall/pages/params.js
  packages/now-next/test/fixtures/16-base-path/pages/api/[slug]/another.js
  packages/now-next/test/fixtures/16-base-path/pages/api/[slug]/index.js
  packages/now-next/test/fixtures/16-base-path/pages/blog/[post]/comments.js
  packages/now-next/test/fixtures/16-base-path/pages/blog/[post]/index.js
  packages/now-next/test/fixtures/18-ssg-fallback-support/pages/blog/[post]/[comment].js
  packages/now-next/test/fixtures/18-ssg-fallback-support/pages/blog/[post]/index.js
  packages/now-next/test/fixtures/21-server-props/pages/blog/[post]/index.js
  packages/now-next/test/fixtures/22-ssg-v2-catchall/pages/[...path].js
  packages/now-next/test/fixtures/22-ssg-v2/additional.js
  packages/now-next/test/fixtures/22-ssg-v2/pages/another.js
  packages/now-next/test/fixtures/22-ssg-v2/pages/another2.js
  packages/now-next/test/fixtures/22-ssg-v2/pages/blog/[post]/[comment].js
  packages/now-next/test/fixtures/22-ssg-v2/pages/blog/[post]/index.js
  packages/now-next/test/fixtures/22-ssg-v2/pages/forever.js
  packages/now-next/test/fixtures/22-ssg-v2/pages/nofallback/[slug].js
  packages/now-next/test/fixtures/23-custom-routes-verbose/pages/another/[id].js
  packages/now-next/test/fixtures/23-custom-routes-verbose/pages/api/dynamic/[slug].js
  packages/now-next/test/fixtures/23-custom-routes-verbose/pages/blog/[post]/index.js
  packages/now-next/test/fixtures/23-custom-routes-verbose/pages/catchall-dash/[...hello-world].js
  packages/now-next/test/fixtures/23-custom-routes-verbose/pages/dash/[hello-world].js
  packages/now-next/test/fixtures/24-custom-output-dir/pages/index.js
  packages/now-next/test/fixtures/27-preview-mode/additional.js
  packages/now-next/test/fixtures/27-preview-mode/pages/docs/[...rest].js
  packages/now-next/test/fixtures/27-preview-mode/pages/docs/index.js
  packages/now-next/test/integration/static-site/pages/dynamic.js
Labels: @vercel/next, automerge, tests

#4562 [cli] Fetch environment variables from project if `.env` is not present
  packages/now-cli/src/commands/dev/dev.ts
  packages/now-cli/src/commands/env/pull.ts
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/src/util/dev/types.ts
  packages/now-cli/src/util/get-decrypted-env-records.ts
  packages/now-cli/test/dev/fixtures/custom-runtime/vercel.json
  packages/now-cli/test/dev/fixtures/node-ts-node-target/.env
  packages/now-cli/test/dev/integration.js
  packages/now-cli/test/helpers/prepare.js
  packages/now-cli/test/integration.js
Labels: automerge, cli, dev

#4897 [cli] Add `vercel link` command
  packages/now-cli/src/commands/dev/dev.ts
  packages/now-cli/src/commands/dev/index.ts
  packages/now-cli/src/commands/env/index.ts
  packages/now-cli/src/commands/index.ts
  packages/now-cli/src/commands/link/index.ts
  packages/now-cli/src/types.ts
  packages/now-cli/src/util/input/edit-project-settings.ts
  packages/now-cli/src/util/input/input-project.ts
  packages/now-cli/src/util/link/setup-and-link.ts
  packages/now-cli/src/util/projects/create-project.ts
  packages/now-cli/src/util/projects/link.ts
  packages/now-cli/src/util/projects/update-project.ts
  packages/now-cli/test/helpers/prepare.js
  packages/now-cli/test/integration.js
  packages/now-client/src/types.ts
Labels: automerge, cli, dev

#4863 [next][node][static-build] Execute "vercel-build" script if defined
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/10-export-cache-headers/package.json
  packages/now-next/test/fixtures/11-export-clean-urls/package.json
  packages/now-node/src/index.ts
  packages/now-static-build/build.sh
  packages/now-static-build/src/index.ts
  packages/now-static-build/test/fixtures/08-hundreds/package.json
  packages/now-static-build/test/integration.test.js
Labels: @vercel/next, @vercel/node, @vercel/static-build, automerge

#4874 [cli] Send the Vercel platform proxy request headers to frontend dev server
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/test/helpers/prepare.js
  packages/now-cli/test/integration.js
Labels: automerge, cli, dev

#4841 [next] Don't trace pages for lambdas when not needed
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/29-ssg-all-static/next.config.js
  packages/now-next/test/fixtures/29-ssg-all-static/now.json
  packages/now-next/test/fixtures/29-ssg-all-static/package.json
  packages/now-next/test/fixtures/29-ssg-all-static/pages/another.js
  packages/now-next/test/fixtures/29-ssg-all-static/pages/another2.js
  packages/now-next/test/fixtures/29-ssg-all-static/pages/blog/[post]/[comment].js
  packages/now-next/test/fixtures/29-ssg-all-static/pages/blog/[post]/index.js
  packages/now-next/test/fixtures/29-ssg-all-static/pages/forever.js
  packages/now-next/test/fixtures/29-ssg-all-static/pages/index.js
  packages/now-next/test/fixtures/29-ssg-all-static/pages/nofallback/[slug].js
Labels: @vercel/next, automerge

#4907 [cli] Update "set up" message
  packages/now-cli/src/commands/dev/dev.ts
  packages/now-cli/src/commands/link/index.ts
  packages/now-cli/src/util/link/setup-and-link.ts
  packages/now-cli/test/integration.js
Labels: automerge, cli

#4909 [tests] Skip `try to purchase a domain` CLI test if a VERCEL_TOKEN is provided
  packages/now-cli/test/integration.js
Labels: automerge, tests

#3325 [cli] (Major) Change `vc domains add` workflow to match the dashboard
  errors/domain-verification.md
  packages/now-cli/src/commands/domains/add.ts
  packages/now-cli/src/commands/domains/index.ts
  packages/now-cli/src/commands/domains/inspect.ts
  packages/now-cli/src/commands/domains/ls.ts
  packages/now-cli/src/commands/domains/rm.ts
  packages/now-cli/src/commands/domains/verify.ts
  packages/now-cli/src/types.ts
  packages/now-cli/src/util/domains/get-domain-config.ts
  packages/now-cli/src/util/domains/get-domain.ts
  packages/now-cli/src/util/domains/is-public-suffix.ts
  packages/now-cli/src/util/format-date.ts
  packages/now-cli/src/util/format-table.ts
  packages/now-cli/src/util/get-team-by-id.ts
  packages/now-cli/src/util/projects/add-domain-to-project.ts
  packages/now-cli/src/util/projects/find-projects-for-domain.ts
  packages/now-cli/src/util/projects/get-projects-with-domains.ts
  packages/now-cli/src/util/projects/remove-domain-from-project.ts
  packages/now-cli/src/util/response-error.ts
  packages/now-cli/test/dev-router.unit.js
  packages/now-cli/test/fixtures/unit/dev-nodejs/now.json
  packages/now-cli/test/integration.js
Labels: cli, semver-major

#4676 [redwoood] Add runtime `@vercel/redwood`
  .eslintignore
  packages/now-build-utils/src/fs/read-config-file.ts
  packages/now-cli/package.json
  packages/now-static-build/src/frameworks.ts
  packages/redwood/.gitignore
  packages/redwood/build.sh
  packages/redwood/package.json
  packages/redwood/src/index.ts
  packages/redwood/test/fixtures/01-create-redwood-app/.env.defaults
  packages/redwood/test/fixtures/01-create-redwood-app/.gitignore
  packages/redwood/test/fixtures/01-create-redwood-app/.nvmrc
  packages/redwood/test/fixtures/01-create-redwood-app/LICENSE
  packages/redwood/test/fixtures/01-create-redwood-app/README.md
  packages/redwood/test/fixtures/01-create-redwood-app/api/.babelrc.js
  packages/redwood/test/fixtures/01-create-redwood-app/api/jsconfig.json
  packages/redwood/test/fixtures/01-create-redwood-app/api/package.json
  packages/redwood/test/fixtures/01-create-redwood-app/api/prisma/schema.prisma
  packages/redwood/test/fixtures/01-create-redwood-app/api/prisma/seeds.js
  packages/redwood/test/fixtures/01-create-redwood-app/api/src/functions/graphql.js
  packages/redwood/test/fixtures/01-create-redwood-app/api/src/graphql/.keep
  packages/redwood/test/fixtures/01-create-redwood-app/api/src/lib/db.js
  packages/redwood/test/fixtures/01-create-redwood-app/api/src/services/.keep
  packages/redwood/test/fixtures/01-create-redwood-app/babel.config.js
  packages/redwood/test/fixtures/01-create-redwood-app/netlify.toml
  packages/redwood/test/fixtures/01-create-redwood-app/package.json
  packages/redwood/test/fixtures/01-create-redwood-app/prettier.config.js
  packages/redwood/test/fixtures/01-create-redwood-app/redwood.toml
  packages/redwood/test/fixtures/01-create-redwood-app/vercel.json
  packages/redwood/test/fixtures/01-create-redwood-app/web/.babelrc.js
  packages/redwood/test/fixtures/01-create-redwood-app/web/jsconfig.json
  packages/redwood/test/fixtures/01-create-redwood-app/web/package.json
  packages/redwood/test/fixtures/01-create-redwood-app/web/public/README.md
  packages/redwood/test/fixtures/01-create-redwood-app/web/public/favicon.png
  packages/redwood/test/fixtures/01-create-redwood-app/web/public/robots.txt
  packages/redwood/test/fixtures/01-create-redwood-app/web/src/Routes.js
  packages/redwood/test/fixtures/01-create-redwood-app/web/src/components/.keep
  packages/redwood/test/fixtures/01-create-redwood-app/web/src/index.css
  packages/redwood/test/fixtures/01-create-redwood-app/web/src/index.html
  packages/redwood/test/fixtures/01-create-redwood-app/web/src/index.js
  packages/redwood/test/fixtures/01-create-redwood-app/web/src/layouts/.keep
  packages/redwood/test/fixtures/01-create-redwood-app/web/src/pages/AboutPage/AboutPage.js
  packages/redwood/test/fixtures/01-create-redwood-app/web/src/pages/FatalErrorPage/FatalErrorPage.js
  packages/redwood/test/fixtures/01-create-redwood-app/web/src/pages/HomePage/HomePage.js
  packages/redwood/test/fixtures/01-create-redwood-app/web/src/pages/NotFoundPage/NotFoundPage.js
  packages/redwood/test/fixtures/01-create-redwood-app/yarn.lock
  packages/redwood/test/test.js
  packages/redwood/tsconfig.json
  utils/run.js
  yarn.lock
Labels: @vercel/redwood, automerge

#4915 [frameworks] Add autodetection for RedwoodJS
  examples/redwoodjs/.editorconfig
  examples/redwoodjs/.env.defaults
  examples/redwoodjs/.gitignore
  examples/redwoodjs/.nvmrc
  examples/redwoodjs/LICENSE
  examples/redwoodjs/README.md
  examples/redwoodjs/api/.babelrc.js
  examples/redwoodjs/api/jsconfig.json
  examples/redwoodjs/api/package.json
  examples/redwoodjs/api/prisma/schema.prisma
  examples/redwoodjs/api/prisma/seeds.js
  examples/redwoodjs/api/src/functions/graphql.js
  examples/redwoodjs/api/src/graphql/.keep
  examples/redwoodjs/api/src/lib/db.js
  examples/redwoodjs/api/src/services/.keep
  examples/redwoodjs/babel.config.js
  examples/redwoodjs/package.json
  examples/redwoodjs/prettier.config.js
  examples/redwoodjs/redwood.toml
  examples/redwoodjs/web/.babelrc.js
  examples/redwoodjs/web/jsconfig.json
  examples/redwoodjs/web/package.json
  examples/redwoodjs/web/public/README.md
  examples/redwoodjs/web/public/favicon.png
  examples/redwoodjs/web/public/robots.txt
  examples/redwoodjs/web/src/Routes.js
  examples/redwoodjs/web/src/components/.keep
  examples/redwoodjs/web/src/index.css
  examples/redwoodjs/web/src/index.html
  examples/redwoodjs/web/src/index.js
  examples/redwoodjs/web/src/layouts/.keep
  examples/redwoodjs/web/src/pages/AboutPage/AboutPage.js
  examples/redwoodjs/web/src/pages/FatalErrorPage/FatalErrorPage.js
  examples/redwoodjs/web/src/pages/HomePage/HomePage.js
  examples/redwoodjs/web/src/pages/NotFoundPage/NotFoundPage.js
  packages/frameworks/frameworks.json
  packages/frameworks/logos/redwood.svg
  packages/now-build-utils/src/detect-builders.ts
  packages/redwood/test/fixtures/01-create-redwood-app/netlify.toml
Labels: @vercel/build-utils, @vercel/frameworks, @vercel/redwood, automerge, examples

#4913 [api] Fix api-framework cache header
  vercel.json
Labels: automerge, bug

#4916 [build-utils] Fix redwood `/api` detection
  packages/now-build-utils/src/detect-builders.ts
  packages/now-build-utils/test/unit.builds-and-routes-detector.test.ts
Labels: @vercel/build-utils, automerge

#4908 [cli] print build error message instead of 'Build failed'
  packages/now-cli/src/commands/deploy/latest.js
  packages/now-cli/test/integration.js
Labels: automerge, cli

#4914 [cli] Fix external rewrites/redirects in dev
  packages/now-cli/src/util/dev/router.ts
  packages/now-cli/test/dev/fixtures/test-external-rewrites-and-redirects/vercel.json
  packages/now-cli/test/dev/integration.js
Labels: automerge, cli, dev

#4921 [frameworks] Add link to demo for RedwoodJS
  packages/frameworks/frameworks.json
Labels: @vercel/frameworks, automerge

#4917 [client] Export `buildFileTree()` and return the ignore list
  packages/now-client/src/create-deployment.ts
  packages/now-client/src/index.ts
  packages/now-client/src/utils/index.ts
  packages/now-client/tests/unit.utils.test.ts
Labels: @vercel/client, automerge

#4934 [frameworks] Update "Other" build command placeholder to use "vercel-build"
  packages/frameworks/frameworks.json
Labels: @vercel/frameworks, automerge

#4935 [next] Update test fixtures for latest changes
  packages/now-next/test/fixtures/01-cache-headers/now.json
  packages/now-next/test/fixtures/01-cache-headers/package.json
  packages/now-next/test/fixtures/06-lambda-with-memory/package.json
  packages/now-next/test/fixtures/17-static-404/package.json
  packages/now-next/test/fixtures/19-pages-404/package.json
  packages/now-next/test/fixtures/24-custom-output-dir/package.json
Labels: @vercel/next, automerge

#4933 [node][next] Bump node-file-trace to 0.8.1
  packages/now-next/package.json
  packages/now-node/package.json
  yarn.lock
Labels: @vercel/next, @vercel/node, automerge

#4940 [cli] Fix `vercel link` command when `vercel.json` contains `builds`
  packages/now-cli/src/util/link/setup-and-link.ts
  packages/now-cli/test/helpers/prepare.js
  packages/now-cli/test/integration.js
Labels: automerge, cli

#4002 [next] Add test cases for route /index handling
  packages/now-next/test/fixtures/25-index-routes/next.config.js
  packages/now-next/test/fixtures/25-index-routes/now.json
  packages/now-next/test/fixtures/25-index-routes/package.json
  packages/now-next/test/fixtures/25-index-routes/pages/api/sub/[id].js
  packages/now-next/test/fixtures/25-index-routes/pages/api/sub/index.js
  packages/now-next/test/fixtures/25-index-routes/pages/index.js
  packages/now-next/test/fixtures/25-index-routes/pages/nested-index/index/index.js
  packages/now-next/test/fixtures/25-index-routes/pages/sub/[id].js
  packages/now-next/test/fixtures/25-index-routes/pages/sub/index.js
Labels: @vercel/next, automerge

#4942 [routing-utils] Update header replacing to handle more cases
  packages/now-routing-utils/src/superstatic.ts
  packages/now-routing-utils/test/superstatic.spec.js
Labels: @vercel/routing-utils, automerge

#4955 [tests] Ignore custom next 404
  packages/now-cli/test/dev/integration.js
Labels: automerge, tests

#4937 [cli][redwood] Update redwood port detection in `vc dev`
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/test/dev/integration.js
  packages/redwood/package.json
  packages/redwood/src/index.ts
Labels: @vercel/redwood, automerge, cli, dev

#4956 [next] Fix monorepo build edge case without build script
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/30-monorepo-no-script/.gitignore
  packages/now-next/test/fixtures/30-monorepo-no-script/babel.config.js
  packages/now-next/test/fixtures/30-monorepo-no-script/now.json
  packages/now-next/test/fixtures/30-monorepo-no-script/package.json
  packages/now-next/test/fixtures/30-monorepo-no-script/packages/www/next.config.js
  packages/now-next/test/fixtures/30-monorepo-no-script/packages/www/package.json
  packages/now-next/test/fixtures/30-monorepo-no-script/packages/www/pages/index.jsx
  packages/now-next/test/fixtures/30-monorepo-no-script/yarn.lock
Labels: @vercel/next, automerge
