Repository vercel/vercel, pull requests merged in 2021-12, with the labels that each got.

#7103 Properly publish CLI Plugins
  packages/plugin-go/package.json
  packages/plugin-python/package.json
  packages/plugin-ruby/package.json
Labels: semver-patch

#7106 Renamed `runtime` to `use` in static JS config
  packages/plugin-node/src/index.ts
  packages/static-config/src/index.ts
  packages/static-config/test/fixtures/deno.ts
  packages/static-config/test/fixtures/invalid-schema.js
  packages/static-config/test/fixtures/node.js
  packages/static-config/test/index.test.ts
Labels: semver-patch

#7108 [api] Use the new File System API
  api/package.json
Labels: semver-patch

#7111 [cli] Ignore `required-server-files.json` if it does not exist
  packages/cli/src/commands/build.ts
Labels: area: cli

#7114 Filter CLI Plugin output
  packages/build-utils/src/convert-runtime-to-plugin.ts
Labels: semver-patch

#7117 Fixed Go, Ruby, and Python CLI Plugin output generation
  packages/build-utils/src/convert-runtime-to-plugin.ts
  packages/build-utils/test/unit.convert-runtime-to-plugin.test.ts
Labels: semver-patch

#7121 Corrected input paths for CLI Plugins
  packages/build-utils/src/convert-runtime-to-plugin.ts
  packages/build-utils/test/unit.convert-runtime-to-plugin.test.ts
Labels: semver-patch

#7119 Use Functions Manifest for Middleware
  packages/middleware/package.json
  packages/middleware/src/index.ts
  packages/middleware/test/__snapshots__/build.test.ts.snap
  packages/middleware/test/build.test.ts
Labels: semver-patch, area: middleware

#7123 Update github codeowners
  .github/CODEOWNERS
Labels: semver-patch

#7122 [cli] Support for `next export` with `vercel build`
  packages/cli/src/commands/build.ts
Labels: area: cli, semver-patch

#7125 [middleware] Fix dependencies
  packages/middleware/package.json
Labels: semver-patch, area: middleware

#7127 Fixed Legacy Runtime output generation
  packages/build-utils/src/convert-runtime-to-plugin.ts
Labels: area: build-utils, semver-patch

#7128 Use correct Lambda handler for CLI Plugins
  packages/build-utils/src/convert-runtime-to-plugin.ts
  packages/build-utils/test/unit.convert-runtime-to-plugin.test.ts
Labels: area: build-utils, semver-patch

#7126 [ruby] Show error when Ruby 2.5.x detected
  packages/ruby/install-ruby.ts
  packages/ruby/test/fixtures/02-cowsay-vendored/now.json
  packages/ruby/test/fixtures/04-cowsay-vendored-nested/now.json
  packages/ruby/test/fixtures/05-sinatra/now.json
  packages/ruby/test/fixtures/11-version-2-5-error/Gemfile
  packages/ruby/test/fixtures/11-version-2-5-error/Gemfile.lock
  packages/ruby/test/fixtures/11-version-2-5-error/index.rb
  packages/ruby/test/fixtures/11-version-2-5-error/vercel.json
  packages/ruby/test/test.js
Labels: area: ruby, semver-patch

#7118 Make middleware plugin output code in strict mode
  packages/cli/test/fixtures/unit/edge-middleware-strict/_middleware.ts
  packages/cli/test/util/dev/server.test.ts
  packages/middleware/src/entries.js
  packages/middleware/src/index.ts
  packages/middleware/src/websandbox/sandbox/sandbox.ts
  packages/middleware/test/build.test.ts
  packages/middleware/test/fixtures/use-strict/_middleware.js
Labels: semver-patch, area: middleware

#7129 Fixed Lambda handler for compiled languages
  packages/build-utils/src/convert-runtime-to-plugin.ts
Labels: area: build-utils, semver-patch

#7133 Correctly position dependencies for CLI Plugins
  packages/build-utils/src/convert-runtime-to-plugin.ts
  packages/build-utils/test/unit.convert-runtime-to-plugin.test.ts
Labels: semver-patch

#7140 Prevent CLI Plugins from overwriting files
  packages/build-utils/src/convert-runtime-to-plugin.ts
Labels: area: build-utils, semver-patch

#7124 [frameworks][cli] Remove duplicate `getFsOutputDir()` definitions
  packages/cli/src/commands/build.ts
  packages/frameworks/src/frameworks.ts
  packages/frameworks/src/types.ts
Labels: area: cli, area: frameworks, semver-patch

#7141 Support nested API Routes and fix handler for CLI Plugins
  packages/build-utils/src/convert-runtime-to-plugin.ts
  packages/build-utils/test/unit.convert-runtime-to-plugin.test.ts
  packages/cli/src/commands/build.ts
Labels: area: build-utils, area: cli, semver-patch

#7143 Simplify NFT output logic for CLI and CLI Plugins
  packages/build-utils/src/convert-runtime-to-plugin.ts
  packages/build-utils/test/unit.convert-runtime-to-plugin.test.ts
  packages/cli/src/commands/build.ts
Labels: area: build-utils, area: cli, semver-patch

#7146 Fixed middleware tests
  packages/middleware/test/__snapshots__/build.test.ts.snap
Labels: semver-patch, area: middleware

#7148 Adjust import statements inside Runtime launchers
  packages/build-utils/src/convert-runtime-to-plugin.ts
Labels: area: build-utils, semver-patch

#7149 Correctly clean up files for CLI Plugins
  packages/build-utils/src/convert-runtime-to-plugin.ts
Labels: semver-patch

#7087 [middleware] Define env vars when building `_middleware.js` with esbuild
  packages/middleware/src/esbuild-plugins.ts
  packages/middleware/src/index.ts
  packages/middleware/test/build.test.ts
  packages/middleware/test/fixtures/env/_middleware.js
Labels: semver-patch, area: middleware

#7144 [client] Resolve .nft.json files when `vc deploy --prebuilt`
  packages/cli/src/commands/deploy/index.ts
  packages/cli/src/util/deploy/process-deployment.ts
  packages/cli/src/util/index.ts
  packages/client/.gitignore
  packages/client/src/create-deployment.ts
  packages/client/src/types.ts
  packages/client/src/utils/hashes.ts
  packages/client/src/utils/index.ts
  packages/client/tests/fixtures/file-system-api-root-directory/foo.txt
  packages/client/tests/fixtures/file-system-api-root-directory/root/.output/baz.txt
  packages/client/tests/fixtures/file-system-api-root-directory/root/.output/sub/qux.txt
  packages/client/tests/fixtures/file-system-api-root-directory/root/bar.txt
  packages/client/tests/fixtures/file-system-api-root-directory/someother/.output/baz.txt
  packages/client/tests/fixtures/file-system-api-root-directory/someother/.output/sub/qux.txt
  packages/client/tests/fixtures/file-system-api-root-directory/someother/bar.txt
  packages/client/tests/fixtures/file-system-api/.output/baz.txt
  packages/client/tests/fixtures/file-system-api/.output/sub/qux.txt
  packages/client/tests/fixtures/file-system-api/foo.txt
  packages/client/tests/fixtures/file-system-api/sub/bar.txt
  packages/client/tests/tsconfig.json
  packages/client/tests/unit.utils.test.ts
Labels: area: client, semver-patch

#7150 [client] Fix duplicate files when analyzing `nft.json`
  packages/client/src/utils/hashes.ts
  packages/client/src/utils/index.ts
Labels: area: client, semver-patch

#7151 Improved Vercel CLI link
  packages/cli/README.md
Labels: semver-patch

#7155 Make Python CLI Plugin work
  packages/build-utils/src/convert-runtime-to-plugin.ts
  packages/python/src/install.ts
Labels: semver-patch

#7154 [cli] Add `@vercel/client` as a devDependency
  packages/cli/package.json
Labels: area: cli, semver-patch

#6652 [cli] Remove support for single file deployments
  errors/no-single-file-deployments.md
  packages/cli/src/commands/deploy/index.ts
  packages/cli/src/util/get-project-name.ts
  packages/cli/src/util/index.ts
  packages/cli/src/util/input/input-project.ts
  packages/cli/src/util/input/input-root-directory.ts
  packages/cli/src/util/link/setup-and-link.ts
  packages/cli/src/util/validate-paths.ts
  packages/cli/test/commands/deploy.test.ts
  packages/cli/test/integration.js
  packages/cli/test/util/get-project-name.test.ts
Labels: area: cli, semver-major

#7159 [client] Use a Set to prevent duplicates in `hashes()` function
  packages/client/src/utils/hashes.ts
Labels: bug, area: client, semver-patch

#7174 [build-utils] Add exclusion condition for vercel cli version
  packages/build-utils/src/detect-file-system-api.ts
  packages/build-utils/test/unit.detect-file-system-api.test.ts
Labels: area: build-utils, semver-patch

#7175 [ci] Speed up GH publish skip
  .github/workflows/publish.yml
Labels: area: tests, semver-patch

#7176 [test] Skip `runPackageJsonScript()` on windows and macOS
  packages/build-utils/test/unit.test.ts
Labels: area: tests, semver-patch

#7184 [examples] Rename master to main
  examples/README.md
  examples/angular/README.md
  examples/blitzjs/README.md
  examples/create-react-app/README.md
  examples/docusaurus/README.md
  examples/eleventy/README.md
  examples/ember/README.md
  examples/gatsby/README.md
  examples/gridsome/README.md
  examples/hexo/README.md
  examples/polymer/README.md
  examples/preact/README.md
  examples/redwoodjs/README.md
  examples/saber/README.md
  examples/scully/README.md
  examples/solidstart/README.md
  examples/umijs/README.md
  examples/vue/README.md
  packages/build-utils/package.json
Labels: area: build-utils, area: examples, semver-patch

#7186 [cli] Major: remove "now" prop from package.json
  packages/cli/src/commands/dev/index.ts
  packages/cli/src/util/get-config.ts
  packages/cli/src/util/read-package.ts
Labels: area: cli, semver-major

#6821 Add 'VITE_' prefix to SvelteKit framework
  packages/frameworks/src/frameworks.ts
Labels: area: frameworks, semver-patch

#7190 [build-utils] Add `_experimental_` prefix to exported experimental functions
  packages/build-utils/src/convert-runtime-to-plugin.ts
  packages/build-utils/src/index.ts
  packages/build-utils/test/unit.convert-runtime-to-plugin.test.ts
  packages/middleware/src/index.ts
  packages/plugin-go/src/index.ts
  packages/plugin-node/src/index.ts
  packages/plugin-python/src/index.ts
  packages/plugin-ruby/src/index.ts
Labels: area: build-utils, semver-patch

#7193 [ci] Add turborepo for faster builds
  .github/workflows/test-integration-cli.yml
  .github/workflows/test-integration-dev.yml
  .github/workflows/test-integration-once.yml
  .github/workflows/test-unit.yml
  .gitignore
  package.json
  packages/go/package.json
  packages/node/package.json
  packages/python/package.json
  packages/ruby/package.json
  yarn.lock
Labels: area: tests, semver-patch

#7202 [ci] Bump turbo to 1.0.18
  package.json
  yarn.lock
Labels: area: tests, semver-patch
