Repository vercel/vercel, pull requests merged in 2021-07, with the labels that each got.

#6432 [test] Update `publish-canary` script
  package.json
Labels: area: tests, semver-patch

#6435 [cli] Convert `vc whoami` to TypeScript
  packages/cli/src/commands/whoami.ts
Labels: area: cli, semver-patch

#6441 [routing-utils] Fix `rewrites` with query string array in destination
  packages/routing-utils/src/superstatic.ts
  packages/routing-utils/test/superstatic.spec.js
Labels: area: routing-utils, semver-patch

#6452 [cli] Convert `vc projects` to TypeScript
  packages/cli/src/commands/deploy/args.ts
  packages/cli/src/commands/projects.ts
Labels: area: cli, semver-patch

#6454 [cli][client] Printable `link` from `deployment.aliasWarning`
  packages/cli/src/commands/deploy/latest.ts
  packages/client/src/check-deployment-status.ts
Labels: area: cli, area: client, semver-major

#6455 [cli] Add "out-of-band" mode to `vc login`
  packages/cli/package.json
  packages/cli/src/commands/login.ts
  packages/cli/src/util/login/bitbucket.ts
  packages/cli/src/util/login/email.ts
  packages/cli/src/util/login/github.ts
  packages/cli/src/util/login/gitlab.ts
  packages/cli/src/util/login/oauth.ts
  packages/cli/src/util/login/prompt.ts
  packages/cli/src/util/login/reauthenticate.ts
  packages/cli/src/util/login/saml.ts
  packages/cli/src/util/login/types.ts
  packages/cli/src/util/login/verify.ts
  yarn.lock
Labels: area: cli, semver-minor

#6445 [examples][frameworks] Add support for `vite`
  examples/vite/.gitignore
  examples/vite/.vercelignore
  examples/vite/README.md
  examples/vite/index.html
  examples/vite/package.json
  examples/vite/public/favicon.ico
  examples/vite/src/App.vue
  examples/vite/src/assets/logo.png
  examples/vite/src/components/HelloWorld.vue
  examples/vite/src/main.js
  examples/vite/vite.config.js
  examples/vite/yarn.lock
  packages/frameworks/logos/vite.svg
  packages/frameworks/src/frameworks.ts
Labels: area: examples, area: frameworks, semver-minor

#6472 [cli] Add "Local Development" section to README
  packages/cli/README.md
Labels: area: cli, semver-patch

#6476 [cli] Handle the `ssoUserId` being pasted in "out-of-band" login mode
  packages/cli/src/util/login/oauth.ts
Labels: area: cli, semver-patch

#6460 [cli] Convert the rest the commands to TS
  packages/cli/src/commands/list.ts
  packages/cli/src/commands/remove.ts
  packages/cli/src/types.ts
  packages/cli/src/util/deploy/get-deployments-by-project-id.ts
Labels: area: cli, semver-minor

#6483 [cli] Remove "now" from variable names in `vc dev`
  packages/cli/src/util/dev/builder.ts
  packages/cli/src/util/dev/router.ts
  packages/cli/src/util/dev/server.ts
  packages/cli/src/util/dev/templates/error.jst
  packages/cli/src/util/dev/templates/error.tsdef
  packages/cli/src/util/dev/templates/error_404.jst
  packages/cli/src/util/dev/templates/error_404.tsdef
  packages/cli/src/util/dev/templates/error_502.jst
  packages/cli/src/util/dev/templates/error_502.tsdef
Labels: area: cli, semver-patch

#6492 [cli] Allow dynamic label in `output.time()` function
  packages/cli/src/util/output/create-output.ts
Labels: area: cli, semver-patch

#6508 [cli] Add "x-vercel-id" response header to `--debug` logs
  packages/cli/src/util/client.ts
Labels: area: cli, semver-patch

#6510 [cli] Add request counter to `--debug` logs
  packages/cli/src/util/client.ts
  packages/cli/src/util/output/create-output.ts
Labels: area: cli, semver-patch

#6482 [frameworks][examples] Add support for zero-config SvelteKit
  examples/svelte/README.md
  examples/svelte/api/date.js
  examples/svelte/package.json
  examples/svelte/public/global.css
  examples/svelte/public/index.html
  examples/svelte/rollup.config.js
  examples/svelte/scripts/setupTypeScript.js
  examples/svelte/src/App.svelte
  examples/svelte/yarn.lock
  examples/sveltekit/.gitignore
  examples/sveltekit/.npmrc
  examples/sveltekit/README.md
  examples/sveltekit/jsconfig.json
  examples/sveltekit/package.json
  examples/sveltekit/src/app.html
  examples/sveltekit/src/global.d.ts
  examples/sveltekit/src/routes/index.svelte
  examples/sveltekit/static/favicon.png
  examples/sveltekit/static/twitter.png
  examples/sveltekit/svelte.config.js
  examples/sveltekit/yarn.lock
  packages/frameworks/src/frameworks.ts
Labels: area: examples, area: frameworks, semver-patch

#6521 Fix has segment validation in destination
  packages/routing-utils/src/index.ts
  packages/routing-utils/src/superstatic.ts
  packages/routing-utils/test/index.spec.js
Labels: area: routing-utils, semver-patch

#6522 Don't render SvelteKits port flag in the UI
  packages/frameworks/src/frameworks.ts
Labels: semver-patch

#6523 [examples] Update Deploy button URLs in examples
  .github/EXAMPLE_README_TEMPLATE.md
  examples/amp/README.md
  examples/angular/README.md
  examples/blitzjs/README.md
  examples/brunch/README.md
  examples/create-react-app/README.md
  examples/custom-build/README.md
  examples/docusaurus-2/README.md
  examples/docusaurus/README.md
  examples/dojo/README.md
  examples/eleventy/README.md
  examples/ember/README.md
  examples/gatsby/README.md
  examples/gridsome/README.md
  examples/hexo/README.md
  examples/hugo/README.md
  examples/ionic-angular/README.md
  examples/ionic-react/readme.md
  examples/jekyll/README.md
  examples/middleman/README.md
  examples/nuxtjs/README.md
  examples/polymer/README.md
  examples/preact/README.md
  examples/redwoodjs/README.md
  examples/saber/README.md
  examples/sapper/README.md
  examples/scully/README.md
  examples/stencil/readme.md
  examples/svelte/README.md
  examples/sveltekit/README.md
  examples/umijs/README.md
  examples/vanilla-pusher-functions/README.md
  examples/vite/README.md
  examples/vue/README.md
Labels: area: examples, semver-patch

#6527 [build-utils] Convert `unit.test` to TypeScript and fix jest types in VS Code
  packages/build-utils/jest.config.js
  packages/build-utils/package.json
  packages/build-utils/src/fs/node-version.ts
  packages/build-utils/test/tsconfig.json
  packages/build-utils/test/unit.test.ts
  packages/build-utils/test/unit.walk.test.ts
  yarn.lock
Labels: area: build-utils, area: tests, semver-patch

#6528 [build-utils] Convert integration tests to TypeScript
  packages/build-utils/package.json
  packages/build-utils/test/integration.test.ts
Labels: area: build-utils, area: tests, semver-patch

#6290 [examples][frameworks][nuxtjs] Update design and starter page
  examples/nuxtjs/assets/README.md
  examples/nuxtjs/components/Logo.vue
  examples/nuxtjs/components/README.md
  examples/nuxtjs/components/Tutorial.vue
  examples/nuxtjs/layouts/README.md
  examples/nuxtjs/layouts/default.vue
  examples/nuxtjs/middleware/README.md
  examples/nuxtjs/nuxt.config.js
  examples/nuxtjs/package.json
  examples/nuxtjs/pages/README.md
  examples/nuxtjs/pages/index.vue
  examples/nuxtjs/plugins/README.md
  examples/nuxtjs/static/README.md
  examples/nuxtjs/static/favicon.ico
  examples/nuxtjs/store/README.md
  examples/nuxtjs/yarn.lock
Labels: area: examples, area: frameworks, semver-patch

#6529 Fixed links
  README.md
Labels: semver-patch

#6533 [build-utils] Return "lockfileVersion" property in `scanParentDirs()` function
  packages/build-utils/src/fs/run-user-scripts.ts
  packages/build-utils/src/index.ts
  packages/build-utils/test/fixtures/20-npm-7/package-lock.json
  packages/build-utils/test/fixtures/20-npm-7/package.json
  packages/build-utils/test/integration.test.ts
  packages/build-utils/test/unit.test.ts
Labels: area: build-utils, semver-minor
