Repository vercel/vercel, pull requests merged in 2021-11, with the labels that each got.

#6932 Bundle middleware deps
  packages/cli/package.json
  packages/cli/scripts/build.ts
  packages/middleware/build.js
  packages/middleware/package.json
  packages/middleware/src/index.ts
  yarn.lock
Labels: area: cli, semver-patch

#6936 [cli] Make sure `vc pull` properly sets `currentTeam`
  packages/cli/src/commands/pull.ts
Labels: area: cli, semver-patch

#6934 [cli] Render an error page when middleware explodes.
  packages/cli/src/util/dev/server.ts
  packages/cli/test/fixtures/unit/edge-middleware-error/_middleware.js
  packages/cli/test/util/dev/server.test.ts
  packages/middleware/src/index.ts
Labels: area: cli, area: dev, semver-patch

#6942 [build-utils] Add `convertRuntimeToPlugin()`
  packages/build-utils/package.json
  packages/build-utils/src/convert-runtime-to-plugin.ts
  packages/build-utils/src/fs/glob.ts
  packages/build-utils/src/fs/normalize-path.ts
  packages/build-utils/src/index.ts
  packages/build-utils/src/lambda.ts
  packages/build-utils/src/types.ts
  packages/build-utils/test/fixtures/20-npm-7/vercel.json
  packages/build-utils/test/unit.convert-runtime-to-plugin.test.ts
  packages/build-utils/test/walk/python-api/api/index.py
  packages/build-utils/test/walk/python-api/api/users/get.py
  packages/build-utils/test/walk/python-api/api/users/post.py
  packages/build-utils/test/walk/python-api/file.txt
  packages/build-utils/test/walk/python-api/util/date.py
  packages/build-utils/test/walk/python-api/util/math.py
  packages/build-utils/test/walk/python-api/vercel.json
  packages/cli/src/util/path-helpers.ts
  yarn.lock
Labels: area: build-utils, semver-minor

#6953 [node] Fix launcher ESM on Windows dev
  packages/node-bridge/launcher.js
Labels: area: node, area: dev

#6952 [routing-utils] Add caseSensitive field to routes schema
  packages/routing-utils/src/schemas.ts
  packages/routing-utils/src/types.ts
  packages/routing-utils/test/merge.spec.js
Labels: area: routing-utils, semver-patch

#6965 [cli] Fix NFT output path for monorepos
  packages/cli/src/commands/build.ts
Labels: area: cli, semver-patch

#6968 [cli] Ignore .next/cache in `vc build`
  packages/cli/src/commands/build.ts
Labels: area: cli, semver-patch

#6963 Fix middleware build result. Return middleware next when invalid result.
  packages/cli/src/util/dev/server.ts
  packages/cli/test/fixtures/unit/edge-middleware-invalid-response/_middleware.js
  packages/cli/test/util/dev/server.test.ts
  packages/middleware/src/entries.js
  packages/middleware/test/build.test.ts
  packages/middleware/test/fixtures/simple/_middleware.js
Labels: area: cli, semver-patch

#6969 [cli] Fix resolving of config paths
  packages/cli/src/util/config/global-path.ts
  packages/cli/src/util/config/local-path.ts
Labels: area: tests, semver-patch

#6960 [cli] Prevent recursion of `vercel build` and `vercel dev`
  packages/cli/src/commands/build.ts
  packages/cli/src/commands/dev/index.ts
  packages/cli/src/util/dev/server.ts
  packages/cli/test/helpers/prepare.js
  packages/cli/test/integration.js
Labels: area: cli, semver-patch

#6971 [build-utils][node] Add `updateFunctionsManifest` function
  packages/build-utils/src/convert-runtime-to-plugin.ts
  packages/build-utils/src/index.ts
  packages/build-utils/src/lambda.ts
  packages/build-utils/test/unit.convert-runtime-to-plugin.test.ts
  packages/plugin-node/package.json
  packages/plugin-node/src/index.ts
Labels: area: build-utils, area: node, semver-patch

#7002 [go] Add support for version 1.17
  packages/go/go-helpers.ts
  packages/go/test/fixtures/01-cowsay/vercel.json
  packages/go/test/fixtures/13-go-mod-nested/go.mod
Labels: area: go, semver-minor

#7005 [cli] Change `vc build` to use stdout
  packages/cli/src/commands/build.ts
  packages/cli/src/index.ts
Labels: area: cli, semver-patch

#7018 [cli] Fix update command to favor npm
  packages/cli/src/util/get-update-command.ts
  packages/cli/test/util/get-update-command.test.ts
Labels: area: cli, semver-patch

#7017 [cli] Fix spinner output outside of TTY
  packages/cli/src/util/output/create-output.ts
Labels: area: cli, semver-patch

#7030 [tests] Increase CI duration
  .github/workflows/test-integration-dev.yml
Labels: area: tests, semver-patch

#7026 [cli] Switch from hardlinks to symlinks in vc build
  packages/cli/src/commands/build.ts
Labels: area: cli, semver-patch

#7008 [python] Upgrade python 3.9
  packages/python/src/index.ts
  packages/python/src/install.ts
  packages/python/tsconfig.json
  test/lib/deployment/now-deploy.js
Labels: area: python, semver-major

#7033 [tests] Make test more reliable for function timeout
  packages/cli/test/integration.js
Labels: area: tests, semver-patch

#7032 [frameworks][cli] Consolidate buildCommand and devCommand
  api/frameworks.ts
  packages/cli/src/commands/build.ts
  packages/cli/src/commands/dev/dev.ts
  packages/frameworks/src/frameworks.ts
  packages/frameworks/src/types.ts
  packages/frameworks/test/frameworks.unit.test.ts
Labels: area: cli, area: frameworks, semver-patch

#7029 [frameworks] Fix Parcel default output directory to dist
  packages/frameworks/src/frameworks.ts
Labels: area: frameworks, semver-patch

#7034 [cli] Fix metrics crash on some platforms
  packages/cli/src/util/metrics.ts
Labels: area: cli, semver-patch

#7043 [plugin-node][node] Fix dependency installation, handler path, and build script
  packages/build-utils/src/convert-runtime-to-plugin.ts
  packages/build-utils/src/index.ts
  packages/node/build.js
  packages/node/src/index.ts
  packages/plugin-node/src/index.ts
  packages/plugin-node/test/build.test.ts
  packages/plugin-node/test/fixtures/nested-lock-and-build/api/package.json
  packages/plugin-node/test/fixtures/nested-lock-and-build/api/profile.js
  packages/plugin-node/test/fixtures/nested-lock-and-build/api/script.js
  packages/plugin-node/test/fixtures/nested-lock-and-build/api/users/[id].js
  packages/plugin-node/test/fixtures/nested-lock-and-build/api/yarn.lock
  packages/plugin-node/test/fixtures/nested-lock-and-build/package.json
  packages/plugin-node/test/fixtures/nested-lock-and-build/yarn.lock
Labels: area: build-utils, area: node

#7054 Revert "[cli] Switch from hardlinks to symlinks in vc build"
  packages/cli/src/commands/build.ts
Labels: area: cli

#7055 [tests] Bump cancel action to 0.9.1
  .github/workflows/cancel.yml
Labels: area: tests, semver-patch

#7053 [python] Add warning for deprecated version
  DEVELOPING_A_RUNTIME.md
  packages/python/src/index.ts
  packages/python/test/fixtures/01-cowsay/vercel.json
  packages/python/test/fixtures/02-wsgi-pipenv/now.json
  packages/python/test/fixtures/02-wsgi-pipenv/vercel.json
  packages/python/test/fixtures/03-env-vars/now.json
  packages/python/test/fixtures/03-env-vars/vercel.json
  packages/python/test/fixtures/04-cowsay-pipfile/now.json
  packages/python/test/fixtures/04-cowsay-pipfile/vercel.json
Labels: area: python, semver-patch

#7020 Change nextjs detection in `vc build`
  packages/cli/src/commands/build.ts
Labels: area: cli

#7059 [cli] Pass vercel.json to plugins during `vercel build`
  packages/build-utils/src/convert-runtime-to-plugin.ts
  packages/build-utils/test/unit.convert-runtime-to-plugin.test.ts
  packages/cli/src/commands/build.ts
  packages/plugin-node/src/index.ts
  packages/plugin-node/test/build.test.ts
Labels: area: cli, semver-patch

#7061 Added Remix to the list of frameworks
  examples/remix/.gitignore
  examples/remix/README.md
  examples/remix/api/index.js
  examples/remix/app/entry.client.tsx
  examples/remix/app/entry.server.tsx
  examples/remix/app/root.tsx
  examples/remix/app/routes/demos/about.tsx
  examples/remix/app/routes/demos/about/index.tsx
  examples/remix/app/routes/demos/about/whoa.tsx
  examples/remix/app/routes/demos/actions.tsx
  examples/remix/app/routes/demos/correct.tsx
  examples/remix/app/routes/demos/params.tsx
  examples/remix/app/routes/demos/params/$id.tsx
  examples/remix/app/routes/demos/params/index.tsx
  examples/remix/app/routes/index.tsx
  examples/remix/app/styles/dark.css
  examples/remix/app/styles/demos/about.css
  examples/remix/app/styles/demos/remix.css
  examples/remix/app/styles/global.css
  examples/remix/package.json
  examples/remix/public/favicon.ico
  examples/remix/remix.config.js
  examples/remix/remix.env.d.ts
  examples/remix/tsconfig.json
  examples/remix/vercel.json
  packages/frameworks/logos/remix.svg
  packages/frameworks/src/frameworks.ts
Labels: area: frameworks, semver-patch

#7062 [build-utils] Add support for writing routes-manifest.json
  packages/build-utils/src/convert-runtime-to-plugin.ts
  packages/build-utils/src/detect-builders.ts
  packages/build-utils/test/convert-runtime/invalid-functions/api/users.rb
  packages/build-utils/test/convert-runtime/invalid-functions/vercel.json
  packages/build-utils/test/convert-runtime/python-api/api/db/[id].py
  packages/build-utils/test/convert-runtime/python-api/api/index.py
  packages/build-utils/test/convert-runtime/python-api/api/project/[aid]/[bid]/index.py
  packages/build-utils/test/convert-runtime/python-api/api/users/get.py
  packages/build-utils/test/convert-runtime/python-api/api/users/post.py
  packages/build-utils/test/convert-runtime/python-api/file.txt
  packages/build-utils/test/convert-runtime/python-api/util/date.py
  packages/build-utils/test/convert-runtime/python-api/util/math.py
  packages/build-utils/test/convert-runtime/python-api/vercel.json
  packages/build-utils/test/unit.convert-runtime-to-plugin.test.ts
Labels: area: build-utils, semver-patch

#7063 [build-utils] Fix zero config routes for `vercel build`
  packages/build-utils/src/convert-runtime-to-plugin.ts
  packages/build-utils/src/detect-builders.ts
  packages/build-utils/test/unit.builds-and-routes-detector.test.ts
  packages/build-utils/test/unit.convert-runtime-to-plugin.test.ts
Labels: area: build-utils, semver-patch

#7084 Don't install Ruby or Python dependencies unnecessarily
  packages/build-utils/src/convert-runtime-to-plugin.ts
  packages/build-utils/src/types.ts
  packages/python/src/install.ts
  packages/ruby/index.ts
  packages/ruby/install-ruby.ts
Labels: semver-patch

#7085 Stop passing `functions` and `regions` to Runtimes
  packages/build-utils/src/convert-runtime-to-plugin.ts
  packages/build-utils/test/unit.convert-runtime-to-plugin.test.ts
  packages/plugin-node/src/index.ts
  packages/plugin-node/test/build.test.ts
Labels: semver-patch

#7083 [cli] Fix `vc build` with nested app dir
  packages/cli/src/commands/build.ts
Labels: semver-patch
