Repository vercel/vercel, pull requests merged in 2021-05, with the labels that each got.

#6157 [dependencies] Bump husky from v3 to v6
  .husky/.gitignore
  .husky/pre-commit
  package.json
  yarn.lock
Labels: dependencies, semver-patch

#6168 [frameworks] Add placeholder to frameworks' dev command
  packages/frameworks/src/frameworks.ts
  packages/frameworks/src/types.ts
  packages/frameworks/test/frameworks.unit.test.ts
Labels: area: frameworks

#6183 [examples] Update pusher example to use deploy button
  examples/vanilla-pusher-functions/README.md
  examples/vanilla-pusher-functions/vercel.json
Labels: area: examples, semver-patch

#6185 [cli] Refactor `vc login` command
  packages/cli/src/commands/login.ts
  packages/cli/src/util/login/bitbucket.ts
  packages/cli/src/util/login/email.ts
  packages/cli/src/util/login/github.ts
  packages/cli/src/util/login/gitlab.ts
  packages/cli/src/util/login/oauth.ts
  packages/cli/src/util/login/prompt.ts
  packages/cli/src/util/login/sso.ts
  packages/cli/src/util/login/types.ts
  packages/cli/src/util/login/verify.ts
  packages/cli/test/integration.js
Labels: area: cli, semver-minor

#6193 [build-utils] Remove `15-yarn-ignore-engines` test fixture
  packages/build-utils/test/fixtures/15-yarn-ignore-engines/index.js
  packages/build-utils/test/fixtures/15-yarn-ignore-engines/now.json
  packages/build-utils/test/fixtures/15-yarn-ignore-engines/package.json
Labels: semver-patch

#6229 [node] Bump nft to 0.12.0
  packages/node/package.json
  yarn.lock
Labels: area: node, semver-patch

#6272 [python] Fix installRequirement to use explicit version
  packages/python/src/index.ts
  packages/python/src/install.ts
Labels: area: python, semver-patch

#6274 [node] Bump nft to 0.12.2
  packages/node/package.json
  yarn.lock
Labels: area: node, semver-patch

#6275 Apply dependabot changes
  api/package.json
  api/yarn.lock
  examples/angular/yarn.lock
  examples/blitzjs/yarn.lock
  packages/cli/test/dev/fixtures/02-angular-node/yarn.lock
  packages/cli/test/dev/fixtures/03-aurelia/yarn.lock
  packages/cli/test/dev/fixtures/04-create-react-app/yarn.lock
Labels: semver-patch

#6276 [cli] Fix `vc logout` retry
  packages/cli/src/commands/logout.ts
Labels: area: cli, semver-patch

#6277 [cli] Set `tokenName` query param for Git provider login methods
  packages/cli/src/util/login/oauth.ts
  packages/cli/src/util/login/sso.ts
Labels: area: cli, semver-patch

#6278 [cli] Use `ts-eager` to execute build script
  packages/cli/package.json
  yarn.lock
Labels: area: cli, area: tests, semver-patch

#6263 [cli] Add SAML reauthentication logic when using different scope
  packages/cli/package.json
  packages/cli/src/commands/login.ts
  packages/cli/src/commands/remove.js
  packages/cli/src/types.ts
  packages/cli/src/util/client.ts
  packages/cli/src/util/deploy/get-deployments-by-project-id.ts
  packages/cli/src/util/input/confirm.ts
  packages/cli/src/util/login/bitbucket.ts
  packages/cli/src/util/login/email.ts
  packages/cli/src/util/login/github.ts
  packages/cli/src/util/login/gitlab.ts
  packages/cli/src/util/login/oauth.ts
  packages/cli/src/util/login/prompt.ts
  packages/cli/src/util/login/reauthenticate.ts
  packages/cli/src/util/login/sso.ts
  packages/cli/src/util/login/types.ts
  packages/cli/src/util/promise.ts
  packages/cli/src/util/to-host.ts
  yarn.lock
Labels: area: cli, semver-minor

#6279 [cli] Bump codecov to 3.8.2
  packages/cli/package.json
  yarn.lock
Labels: area: cli, area: tests, semver-patch

#6288 [cli] Show user's name in `vc switch` command
  packages/cli/src/commands/teams/switch.ts
Labels: area: cli, semver-patch

#6189 Use proper Apache License format
  LICENSE
  package.json
Labels: semver-patch

#6284 [routing-utils] Ensure header key value casing is normalized
  packages/routing-utils/src/superstatic.ts
  packages/routing-utils/test/superstatic.spec.js
Labels: semver-patch

#6289 [routing-utils] Ensure beforeFiles rewrites come after redirects when continuing
  packages/routing-utils/src/merge.ts
  packages/routing-utils/src/schemas.ts
  packages/routing-utils/src/types.ts
  packages/routing-utils/test/merge.spec.js
Labels: area: routing-utils, semver-patch
