Repository vercel/vercel, pull requests merged in 2021-04, with the labels that each got.

#6053 [cli] Re-trigger SSO auth when a SAML error is encountered
  packages/cli/src/commands/logout.ts
  packages/cli/src/index.js
  packages/cli/src/types.ts
  packages/cli/src/util/client.ts
  packages/cli/src/util/config/files.ts
Labels: area: cli, semver-minor

#6057 [cli] Make `vc whoami` not require team context
  packages/cli/src/commands/whoami.js
  packages/cli/src/util/get-scope.ts
Labels: area: cli, bug, semver-patch

#6051 [examples] Update CRA go.mod
  examples/create-react-app/go.mod
Labels: area: examples, semver-patch

#6049 [cli] (Major) Update `vc env` command
  packages/cli/src/commands/env/add.ts
  packages/cli/src/commands/env/index.ts
  packages/cli/src/commands/env/ls.ts
  packages/cli/src/commands/env/rm.ts
  packages/cli/src/types.ts
  packages/cli/src/util/env/add-env-record.ts
  packages/cli/src/util/env/env-type.ts
  packages/cli/src/util/env/format-env-target.ts
  packages/cli/src/util/env/get-env-records.ts
  packages/cli/src/util/env/remove-env-record.ts
  packages/cli/src/util/get-decrypted-env-records.ts
  packages/cli/test/integration.js
Labels: area: cli, area: dev, semver-major

#6063 [cli] Use updated SSO auth URL for login
  packages/cli/src/util/login/sso.ts
Labels: area: cli, semver-patch

#6081 [cli] Update `vc env` messages
  packages/cli/src/commands/env/add.ts
  packages/cli/src/commands/env/index.ts
  packages/cli/src/commands/env/ls.ts
  packages/cli/src/commands/env/rm.ts
Labels: area: cli, semver-patch

#6085 [docs] Improve error docs for `--scope`
  errors/scope-not-accessible.md
  errors/scope-not-existent.md
Labels: area: docs, semver-patch

#6086 [cli] Add `vc link` to `vc help` output
  packages/cli/src/commands/deploy/args.js
Labels: area: cli, semver-patch

#6097 [examples] Upgrade Next.js example
  examples/nextjs/package.json
  examples/nextjs/yarn.lock
Labels: area: examples, dependencies, semver-patch

#6099 [cli] Fix error usage before defined
  packages/cli/src/commands/teams.js
  packages/cli/src/index.js
Labels: area: cli, semver-patch

#6101 [cli][client] Drop support for Node.js 10
  packages/cli/package.json
  packages/cli/tsconfig.json
  packages/client/package.json
  packages/client/tsconfig.json
  packages/node/src/dev-server.ts
Labels: area: cli, area: client, semver-major

#6108 [cli] Replace "mri" with "arg"
  packages/cli/@types/arg/index.d.ts
  packages/cli/package.json
  packages/cli/src/commands/billing/index.js
  packages/cli/src/commands/certs/issue.ts
  packages/cli/src/commands/dev/dev.ts
  packages/cli/src/commands/domains/add.ts
  packages/cli/src/commands/domains/ls.ts
  packages/cli/src/commands/domains/move.ts
  packages/cli/src/commands/domains/rm.ts
  packages/cli/src/commands/domains/transfer-in.ts
  packages/cli/src/commands/env/add.ts
  packages/cli/src/commands/env/ls.ts
  packages/cli/src/commands/env/pull.ts
  packages/cli/src/commands/env/rm.ts
  packages/cli/src/commands/init/init.ts
  packages/cli/src/commands/link/index.ts
  packages/cli/src/commands/logs.js
  packages/cli/src/commands/remove.js
  packages/cli/src/commands/teams.js
  packages/cli/src/commands/whoami.js
  packages/cli/src/util/config/global-path.ts
  packages/cli/src/util/config/local-path.ts
  packages/cli/test/integration.js
  yarn.lock
Labels: area: cli, semver-patch

#6109 [node] Bump nft to 0.10.0
  packages/node/package.json
  yarn.lock
Labels: area: node, semver-minor

#6059 Ensure has segments are replaced in destination
  packages/routing-utils/package.json
  packages/routing-utils/src/superstatic.ts
  packages/routing-utils/test/superstatic.spec.js
  yarn.lock
Labels: semver-patch

#6114 Update references of default branch to "main"
  .github/EXAMPLE_README_TEMPLATE.md
  .github/workflows/cancel.yml
  .github/workflows/publish.yml
  .github/workflows/test-integration-cli.yml
  .github/workflows/test-integration-dev.yml
  .github/workflows/test-integration-once.yml
  .github/workflows/test-unit.yml
  api/examples/download/[segment].ts
  api/examples/list.ts
  lerna.json
  packages/frameworks/src/frameworks.ts
  packages/frameworks/src/types.ts
  packages/frameworks/test/frameworks.unit.test.ts
  utils/run.js
Labels: semver-minor

#6116 [docs] Update CI badge in readme
  README.md
Labels: area: docs, semver-patch

#6130 [cli] (Major) Remove deprecated `vc domains verify` command
  packages/cli/src/commands/domains/index.ts
  packages/cli/src/commands/domains/verify.ts
Labels: area: cli, semver-major

#6133 [examples] Update deploy URL to use `main`
  examples/README.md
  examples/amp/README.md
  examples/angular/README.md
  examples/blitzjs/README.md
  examples/brunch/README.md
  examples/create-react-app/README.md
  examples/create-react-app/src/App.js
  examples/custom-build/README.md
  examples/docusaurus-2/README.md
  examples/docusaurus/README.md
  examples/dojo/README.md
  examples/eleventy/README.md
  examples/ember/README.md
  examples/gatsby/README.md
  examples/gatsby/src/pages/index.js
  examples/gridsome/README.md
  examples/hexo/README.md
  examples/hugo/README.md
  examples/ionic-angular/README.md
  examples/ionic-react/readme.md
  examples/jekyll/README.md
  examples/middleman/README.md
  examples/nuxtjs/README.md
  examples/polymer/README.md
  examples/preact/README.md
  examples/redwoodjs/README.md
  examples/saber/README.md
  examples/sapper/README.md
  examples/scully/README.md
  examples/stencil/readme.md
  examples/svelte/README.md
  examples/svelte/src/App.svelte
  examples/umijs/README.md
  examples/vue/README.md
Labels: area: examples, semver-patch

#6138 [cli] Fix `vercel login` command
  packages/cli/src/types.ts
  packages/cli/src/util/config/files.ts
  packages/cli/test/integration.js
Labels: area: cli, semver-patch

#6139 [cli] Fix SAML usage with `--token`
  packages/cli/src/index.js
  packages/cli/src/types.ts
  packages/cli/src/util/config/files.ts
Labels: area: cli, semver-patch

#6140 [cli] Update default auth config comment to say "Vercel"
  packages/cli/src/util/config/get-default.js
Labels: area: cli, semver-patch

#6142 Ensure segments from only `has` are replaced
  packages/routing-utils/src/superstatic.ts
  packages/routing-utils/test/superstatic.spec.js
Labels: semver-patch

#6155 [build-utils] Fix unit tests for Node.js version check
  packages/build-utils/test/unit.test.js
Labels: area: build-utils, area: tests, semver-patch

#6171 Replace regex lexer with minimal regex for named groups
  packages/routing-utils/package.json
  packages/routing-utils/src/superstatic.ts
  yarn.lock
Labels: semver-patch
