Repository vercel/vercel, pull requests merged in 2021-09, with the labels that each got.

#6657 [build-utils] Fix custom 404 route
  packages/build-utils/src/detect-builders.ts
  packages/build-utils/test/unit.builds-and-routes-detector.test.ts
Labels: area: build-utils, semver-patch

#6666 Fix lerna publish for automation token
  utils/publish.sh
Labels: area: tests, semver-patch

#6686 [routing-utils] Ensure headers with only has items are replaced correctly
  packages/routing-utils/src/superstatic.ts
  packages/routing-utils/test/superstatic.spec.js
Labels: area: routing-utils, semver-patch

#6683 Use pip --upgrade when installing python function dependencies
  packages/python/src/install.ts
  packages/python/test/fixtures/29-flask2/api/werkzeug_version.py
  packages/python/test/fixtures/29-flask2/requirements.txt
  packages/python/test/fixtures/29-flask2/vercel.json
Labels: area: python, semver-patch

#6700 [all] Bump ncc to 0.31.1
  packages/build-utils/package.json
  packages/cli/package.json
  packages/cli/scripts/build.ts
  packages/cli/src/index.ts
  packages/cli/tsconfig.json
  packages/go/package.json
  packages/node/package.json
  packages/python/package.json
  packages/ruby/package.json
  yarn.lock
Labels: area: build-utils, area: go, area: node, area: python, area: ruby, area: cli, semver-patch

#6713 [routing-utils] Fix host segment replacing
  packages/routing-utils/src/superstatic.ts
  packages/routing-utils/test/superstatic.spec.js
Labels: semver-patch

#6727 [node] Bump nft to 0.14.0
  packages/node/package.json
  yarn.lock
Labels: area: node, semver-patch

#6742 [routing-utils] Allow passing internal params to convertRewrites
  packages/routing-utils/src/superstatic.ts
  packages/routing-utils/test/superstatic.spec.js
Labels: area: routing-utils, semver-patch

#6749 [all] Revert to `@vercel/ncc@0.24.0`
  packages/build-utils/package.json
  packages/cli/package.json
  packages/cli/scripts/build.ts
  packages/go/package.json
  packages/node/package.json
  packages/python/package.json
  packages/ruby/package.json
  yarn.lock
Labels: area: build-utils, area: go, area: node, area: python, area: ruby, area: cli, semver-patch

#6766 [build-utils] Add `allowQuery` to Prerender
  packages/build-utils/src/prerender.ts
Labels: area: build-utils, semver-patch
