Repository vercel/vercel, pull requests merged in 2021-06, with the labels that each got.

#6283 [python] Remove imports from werkzeug._compat
  packages/python/vc_init.py
Labels: area: python, semver-patch

#6306 [cli] Fix `vc projects rm` race condition
  packages/cli/src/commands/projects.js
Labels: area: cli, semver-patch

#6323 [cli] Upgrade token scopes in `vc switch` command
  packages/cli/src/commands/login.ts
  packages/cli/src/util/login/oauth.ts
  packages/cli/src/util/login/sso.ts
  packages/cli/src/util/login/types.ts
  packages/cli/src/util/login/verify.ts
Labels: area: cli, semver-patch

#6322 [cli] Fix `vc logout` command when using Team scope
  packages/cli/src/commands/logout.ts
  packages/cli/src/types.ts
Labels: area: cli, bug, semver-patch

#6325 [cli] Convert `vc alias` to TS
  packages/cli/src/commands/alias/index.ts
  packages/cli/src/commands/alias/ls.ts
  packages/cli/src/commands/alias/rm.ts
  packages/cli/src/commands/alias/set.ts
  packages/cli/src/types.ts
  packages/cli/src/util/alias/find-alias-by-alias-or-id.ts
  packages/cli/src/util/alias/get-aliases.ts
  packages/cli/src/util/alias/remove-alias-by-id.ts
Labels: area: cli, semver-patch

#6333 [node] Update nft to 0.13.1
  packages/node/package.json
  yarn.lock
Labels: area: node, semver-patch

#6328 [test] Fix corrupt bmp test
  packages/cli/test/dev/fixtures/30-next-image-optimization/public/test.bmp
  packages/cli/test/dev/integration.js
Labels: area: cli, area: tests, semver-patch

#6327 [cli] Warn when vercel.json uses `has`
  packages/cli/src/util/dev/server.ts
Labels: area: cli, area: dev, semver-patch

#6336 [cli] Print login URL to terminal
  packages/cli/src/util/login/email.ts
  packages/cli/src/util/login/login.ts
  packages/cli/src/util/login/oauth.ts
  packages/cli/src/util/login/verify.ts
Labels: area: cli, semver-patch

#6337 Fix check: true beforeFiles order
  packages/routing-utils/src/merge.ts
  packages/routing-utils/test/merge.spec.js
Labels: area: routing-utils, semver-patch

#6348 [cli] Update "open" to v8.2.0
  packages/cli/package.json
  yarn.lock
Labels: area: cli, semver-patch

#6361 [cgi] Remove `@vercel/cgi` Runtime
  packages/cgi/.gitignore
  packages/cgi/build.js
  packages/cgi/index.js
  packages/cgi/main.go
  packages/cgi/package.json
  utils/run.js
Labels: area: cgi, semver-patch

#6362 Remove `utils/go`
  utils/go/bridge/bridge.go
  utils/go/bridge/bridge_test.go
Labels: semver-patch

#6364 [cli] Finish executing the original command after login with no credentials
  packages/cli/src/index.js
Labels: area: cli, semver-patch

#6365 [cli] Make `vercel dev` command exit quickly
  packages/cli/src/commands/dev/dev.ts
Labels: area: cli, semver-patch

#6121 [node][node-bridge] Add support for ESM
  .eslintignore
  packages/node-bridge/.gitignore
  packages/node-bridge/bridge.d.ts
  packages/node-bridge/bridge.js
  packages/node-bridge/launcher.d.ts
  packages/node-bridge/launcher.js
  packages/node-bridge/package.json
  packages/node-bridge/src/launcher.ts
  packages/node-bridge/tsconfig.json
  packages/node-bridge/types.ts
  packages/node/.gitignore
  packages/node/build.js
  packages/node/package.json
  packages/node/src/dev-server.ts
  packages/node/src/helpers.ts
  packages/node/src/index.ts
  packages/node/test/fixtures/20-mixed-modules/entrypoint.mjs
  packages/node/test/fixtures/20-mixed-modules/js/em-jay-ess.mjs
  packages/node/test/fixtures/20-mixed-modules/type-module-package-json/auto.js
  packages/node/test/fixtures/20-mixed-modules/type-module-package-json/nested/also.js
  packages/node/test/fixtures/20-mixed-modules/type-module-package-json/package.json
  packages/node/test/fixtures/20-mixed-modules/vercel.json
  yarn.lock
Labels: area: node, semver-major

#6384 [cli] Print timestamp for each line for multi-line log entries
  packages/cli/src/commands/logs.ts
Labels: area: cli, semver-patch

#6386 [build-utils] Add support for `.mjs` with zero config
  packages/build-utils/src/detect-builders.ts
  packages/build-utils/test/unit.builds-and-routes-detector.test.ts
Labels: area: build-utils, semver-minor

#6387 [cli] Fix `vc login` hanging for a few seconds before exiting
  packages/cli/src/util/login/oauth.ts
Labels: area: cli, semver-patch

#6385 [node] Add support for ESM to `vc dev`
  packages/cli/test/dev/fixtures/40-mixed-modules/entrypoint.js
  packages/cli/test/dev/fixtures/40-mixed-modules/entrypoint.mjs
  packages/cli/test/dev/fixtures/40-mixed-modules/entrypoint.ts
  packages/cli/test/dev/fixtures/40-mixed-modules/js/commonjs-module.js
  packages/cli/test/dev/fixtures/40-mixed-modules/js/ecmascript-module.js
  packages/cli/test/dev/fixtures/40-mixed-modules/js/em-jay-ess.mjs
  packages/cli/test/dev/fixtures/40-mixed-modules/js/package.json
  packages/cli/test/dev/fixtures/40-mixed-modules/ts/commonjs-module.ts
  packages/cli/test/dev/fixtures/40-mixed-modules/ts/ecmascript-module.ts
  packages/cli/test/dev/fixtures/40-mixed-modules/ts/package.json
  packages/cli/test/dev/fixtures/40-mixed-modules/type-module-package-json/auto.js
  packages/cli/test/dev/fixtures/40-mixed-modules/type-module-package-json/nested/also.js
  packages/cli/test/dev/fixtures/40-mixed-modules/type-module-package-json/package.json
  packages/cli/test/dev/fixtures/40-mixed-modules/vercel.json
  packages/cli/test/dev/integration.js
  packages/node/src/dev-server.ts
  packages/node/src/index.ts
Labels: area: dev, area: node, semver-patch

#6395 [frameworks] Add cachePattern to API response
  api/frameworks.ts
Labels: area: frameworks, semver-patch

#6394 [cli] Set proper `currentTeam` in `vc deploy`
  packages/cli/src/commands/deploy/latest.js
Labels: area: cli, semver-patch

#6396 [frameworks] Add missing cachePattern to Next.js
  packages/frameworks/src/frameworks.ts
Labels: area: frameworks, semver-patch

#6399 [node] Fix ESM when package.json `type: module`
  packages/node/src/index.ts
  packages/node/test/fixtures/21-esm-lit/index.js
  packages/node/test/fixtures/21-esm-lit/package.json
  packages/node/test/fixtures/21-esm-lit/vercel.json
Labels: area: node, semver-patch

#6401 Fix Ruby E2E tests
  packages/ruby/test/fixtures/06-rails/app/Gemfile.lock
Labels: area: ruby, area: tests, semver-patch

#6397 Update to TypeScript 4.3.4
  package.json
  packages/build-utils/package.json
  packages/cli/package.json
  packages/cli/src/util/event-listener-to-generator.ts
  packages/client/package.json
  packages/frameworks/package.json
  packages/go/package.json
  packages/node-bridge/package.json
  packages/node/package.json
  packages/node/src/typescript.ts
  packages/python/package.json
  packages/routing-utils/package.json
  packages/ruby/package.json
  yarn.lock
Labels: area: build-utils, area: cli, area: client, area: frameworks, area: go, area: node, area: routing-utils, dependencies, semver-major

#6409 [cli] Use `Client` instead of `LoginParams` for login
  packages/cli/src/util/client.ts
  packages/cli/src/util/login/bitbucket.ts
  packages/cli/src/util/login/email.ts
  packages/cli/src/util/login/github.ts
  packages/cli/src/util/login/gitlab.ts
  packages/cli/src/util/login/login.ts
  packages/cli/src/util/login/oauth.ts
  packages/cli/src/util/login/prompt.ts
  packages/cli/src/util/login/reauthenticate.ts
  packages/cli/src/util/login/sso.ts
  packages/cli/src/util/login/types.ts
  packages/cli/src/util/login/verify.ts
  packages/cli/test/integration.js
Labels: area: cli, semver-patch

#6415 [cli] Set current scope to proper team after SSO login
  packages/cli/src/commands/login.ts
  packages/cli/src/util/client.ts
  packages/cli/src/util/login/email.ts
  packages/cli/src/util/login/oauth.ts
  packages/cli/src/util/login/prompt.ts
  packages/cli/src/util/login/reauthenticate.ts
  packages/cli/src/util/login/types.ts
Labels: area: cli, semver-patch

#6414 [cli] Use `output.spinner()` instead of `wait()`
  packages/cli/src/commands/domains/inspect.ts
  packages/cli/src/commands/domains/ls.ts
  packages/cli/src/commands/projects.js
  packages/cli/src/commands/teams/add.js
  packages/cli/src/commands/teams/list.js
  packages/cli/src/util/certs/create-cert-from-file.ts
  packages/cli/src/util/certs/finish-cert-order.ts
  packages/cli/src/util/certs/start-cert-order.ts
  packages/cli/src/util/dns/get-dns-records.ts
  packages/cli/src/util/dns/import-zonefile.ts
  packages/cli/src/util/domains/add-domain.ts
  packages/cli/src/util/domains/get-domain-by-name.ts
  packages/cli/src/util/domains/get-domain.ts
  packages/cli/src/util/domains/verify-domain.ts
  packages/cli/src/util/projects/add-domain-to-project.ts
  packages/cli/src/util/projects/remove-domain-from-project.ts
Labels: area: cli, semver-patch

#6413 [cli] Convert `vc deploy` to TypeScript
  packages/cli/src/commands/deploy/args.ts
  packages/cli/src/commands/deploy/index.ts
  packages/cli/src/commands/deploy/latest.ts
  packages/cli/src/types.ts
  packages/cli/src/util/deploy/create-deploy.ts
  packages/cli/src/util/deploy/generate-cert-for-deploy.ts
  packages/cli/src/util/errors-ts.ts
  packages/cli/src/util/index.js
  packages/cli/src/util/input/edit-project-settings.ts
  packages/cli/src/util/link/setup-and-link.ts
  packages/client/src/types.ts
Labels: area: cli, semver-minor
