Repository vercel/vercel, pull requests merged in 2021-08, with the labels that each got.

#6532 [build-utils] Invoke npm 7 when lockfile version 2 is detected
  packages/build-utils/src/fs/run-user-scripts.ts
  packages/build-utils/test/fixtures/20-npm-7/package-lock.json
  packages/build-utils/test/fixtures/20-npm-7/package.json
  packages/build-utils/test/fixtures/20-npm-7/vercel.json
  packages/build-utils/test/integration.test.ts
Labels: area: build-utils, semver-minor

#6556 [tests] Define `jest`/`ts-jest` deps at the root level
  package.json
  packages/build-utils/package.json
  packages/frameworks/package.json
  yarn.lock
Labels: area: tests, semver-patch

#6559 [build-utils] Make `scanParentDirs()` work with npm Workspaces
  packages/build-utils/src/fs/run-user-scripts.ts
  packages/build-utils/test/fixtures/21-npm-workspaces/a/package.json
  packages/build-utils/test/fixtures/21-npm-workspaces/b/package.json
  packages/build-utils/test/fixtures/21-npm-workspaces/package-lock.json
  packages/build-utils/test/fixtures/21-npm-workspaces/package.json
  packages/build-utils/test/integration.test.ts
  packages/build-utils/test/unit.test.ts
Labels: area: build-utils, semver-patch

#6553 [build-utils] check to see that the node version is less then 16 befo…
  packages/build-utils/src/fs/run-user-scripts.ts
  packages/node/src/index.ts
Labels: area: build-utils, semver-minor

#6565 [cli] Fix in-flight re-login when there are no existing credentials
  packages/cli/src/index.js
Labels: bug, area: cli, semver-patch

#6554 [client][frameworks][api] Update `readdir()` call with `withFileTypes`
  api/_lib/examples/summary.ts
  packages/client/src/create-deployment.ts
  packages/frameworks/src/frameworks.ts
Labels: area: client, area: frameworks, semver-patch

#6576 [cli] Remove `withSpinner()` helper
  packages/cli/src/commands/domains/move.ts
  packages/cli/src/commands/domains/transfer-in.ts
  packages/cli/src/commands/env/add.ts
  packages/cli/src/commands/env/pull.ts
  packages/cli/src/commands/env/rm.ts
  packages/cli/src/util/with-spinner.ts
Labels: area: cli, semver-patch

#6575 [cli] Use `client.fetch()` in `vc init`
  packages/cli/src/commands/init/index.ts
  packages/cli/src/commands/init/init.ts
  packages/cli/test/integration.js
Labels: area: cli, semver-patch

#6582 [examples] Bump Next.js to 11.1.0
  examples/nextjs/.eslintrc.json
  examples/nextjs/README.md
  examples/nextjs/next.config.js
  examples/nextjs/package.json
  examples/nextjs/pages/api/hello.js
  examples/nextjs/pages/index.js
  examples/nextjs/styles/Home.module.css
  examples/nextjs/yarn.lock
Labels: area: examples, semver-patch

#6591 Fix publish script for Windows
  package.json
  utils/changelog.js
Labels: area: tests, semver-patch

#6584 [cli] Refactor a handful of util modules to TypeScript
  packages/cli/package.json
  packages/cli/src/commands/billing/add.js
  packages/cli/src/commands/billing/index.js
  packages/cli/src/commands/deploy/index.ts
  packages/cli/src/commands/deploy/latest.ts
  packages/cli/src/commands/inspect.ts
  packages/cli/src/commands/teams/add.js
  packages/cli/src/commands/teams/invite.js
  packages/cli/src/types.ts
  packages/cli/src/util/build-state.js
  packages/cli/src/util/build-state.ts
  packages/cli/src/util/config/get-default.ts
  packages/cli/src/util/env/format-env-target.ts
  packages/cli/src/util/get-project-name.js
  packages/cli/src/util/get-project-name.ts
  packages/cli/src/util/indent.js
  packages/cli/src/util/input/regexes.ts
  packages/cli/src/util/output/builds.ts
  packages/cli/src/util/output/effect.js
  packages/cli/src/util/output/format-log-cmd.js
  packages/cli/src/util/output/format-log-output.js
  packages/cli/src/util/output/format-log-text.js
  packages/cli/src/util/output/indent.ts
  packages/cli/src/util/output/note.js
  packages/cli/src/util/output/note.ts
  packages/cli/src/util/output/ready.js
  packages/cli/src/util/output/ready.ts
  packages/cli/src/util/output/right-pad.js
  packages/cli/src/util/output/routes.ts
  packages/cli/src/util/output/table.ts
  packages/cli/src/util/output/uid.ts
  packages/cli/src/util/parse-meta.ts
  packages/cli/src/util/pkg-name.ts
  packages/cli/src/util/prompt-options.js
  packages/cli/src/util/url.ts
  packages/cli/test/unit.js
  yarn.lock
Labels: area: cli, semver-minor

#6603 [go][node][python][ruby] Remove `@now/build-utils` backwards compat hack
  packages/go/build-utils.ts
  packages/go/build.js
  packages/go/go-helpers.ts
  packages/go/index.ts
  packages/node/build.js
  packages/node/src/build-utils.ts
  packages/node/src/index.ts
  packages/node/src/typescript.ts
  packages/python/build.js
  packages/python/src/build-utils.ts
  packages/python/src/index.ts
  packages/python/src/install.ts
  packages/ruby/build-utils.ts
  packages/ruby/build.js
  packages/ruby/index.ts
  packages/ruby/install-ruby.ts
Labels: area: go, area: node, area: python, area: ruby, semver-major

#6604 [cli] Stop installing `@now/build-utils` for `vc dev`
  packages/cli/src/util/dev/builder-cache.ts
  packages/cli/test/dev/fixtures/invalid-builder-routes/vercel.json
Labels: area: cli, area: dev, semver-major

#6606 [cli] Show server-side `errorMessage` upon deployment `UNEXPECTED_ERROR`
  packages/cli/src/util/index.js
Labels: area: cli, semver-patch

#6613 [node] Correct deprecation message for old NowRequestBody
  packages/node/src/types.ts
Labels: area: node, semver-patch

#6618 Update README
  README.md
Labels: area: docs, semver-patch

#6583 [node-bridge] Fix error in node-bridge from decoded path
  packages/node-bridge/bridge.js
  packages/node-bridge/test/bridge.test.js
Labels: area: node, semver-patch

#6614 [cli] Support `--project` flag in `vc link` command
  packages/cli/src/commands/deploy/index.ts
  packages/cli/src/commands/dev/dev.ts
  packages/cli/src/commands/link/index.ts
  packages/cli/src/util/input/input-project.ts
  packages/cli/src/util/link/setup-and-link.ts
  packages/cli/test/integration.js
Labels: area: cli, semver-minor

#6610 [cli] Refactor `vc teams` to TypeScript
  packages/cli/src/commands/domains/move.ts
  packages/cli/src/commands/teams/add.ts
  packages/cli/src/commands/teams/index.ts
  packages/cli/src/commands/teams/invite.ts
  packages/cli/src/commands/teams/list.ts
  packages/cli/src/commands/teams/switch.ts
  packages/cli/src/index.js
  packages/cli/src/util/client.ts
  packages/cli/src/util/get-scope.ts
  packages/cli/src/util/get-teams.ts
  packages/cli/src/util/input/select-org.ts
  packages/cli/src/util/output/chars.ts
  packages/cli/src/util/projects/link.ts
  packages/cli/src/util/teams.js
  packages/cli/src/util/teams/create-team.ts
  packages/cli/src/util/teams/get-team-by-id.ts
  packages/cli/src/util/teams/get-teams.ts
  packages/cli/src/util/teams/invite-user-to-team.ts
  packages/cli/src/util/teams/patch-team.ts
Labels: area: cli, semver-minor

#6643 [cli] Remove broken `vc downgrade` command
  packages/cli/src/commands/index.ts
Labels: area: cli, semver-patch

#6638 [cli] Rewrite Unit tests to TypeScript + Jest
  codecov.yml
  packages/build-utils/package.json
  packages/cli/package.json
  packages/cli/src/commands/dev/dev.ts
  packages/cli/src/commands/inspect.ts
  packages/cli/src/commands/login.ts
  packages/cli/src/commands/whoami.ts
  packages/cli/src/util/dev/builder-cache.ts
  packages/cli/src/util/dev/builder.ts
  packages/cli/src/util/dev/server.ts
  packages/cli/src/util/dev/types.ts
  packages/cli/src/util/error.ts
  packages/cli/src/util/get-project-name.ts
  packages/cli/src/util/get-user.ts
  packages/cli/src/util/output/create-output.ts
  packages/cli/src/util/response-error.ts
  packages/cli/test/commands/inspect.test.ts
  packages/cli/test/commands/login.test.ts
  packages/cli/test/commands/whoami.test.ts
  packages/cli/test/dev-builder.unit.js
  packages/cli/test/dev-router.unit.js
  packages/cli/test/dev-server.unit.js
  packages/cli/test/dev-validate.unit.js
  packages/cli/test/integration.js
  packages/cli/test/mocks/client.ts
  packages/cli/test/mocks/deployment.ts
  packages/cli/test/mocks/user.ts
  packages/cli/test/tsconfig.json
  packages/cli/test/unit.js
  packages/cli/test/util/dev/builder-cache.test.ts
  packages/cli/test/util/dev/parse-listen.test.ts
  packages/cli/test/util/dev/router.test.ts
  packages/cli/test/util/dev/server.test.ts
  packages/cli/test/util/dev/validate.test.ts
  packages/cli/test/util/error.test.ts
  packages/cli/test/util/get-files.test.ts
  packages/cli/test/util/get-project-name.test.ts
  packages/cli/test/util/get-update-command.test.ts
  packages/cli/test/util/init/did-you-mean.test.ts
  packages/cli/test/util/is-valid-name.test.ts
  packages/cli/test/util/projects/get-vercel-directory.test.ts
  packages/cli/test/util/to-host.test.ts
  packages/client/package.json
  packages/frameworks/package.json
  yarn.lock
Labels: area: cli, area: tests, semver-major

#6648 [examples] Bump Next.js to 11.1.2
  examples/nextjs/package.json
  examples/nextjs/yarn.lock
Labels: area: examples, semver-patch

#6650 [cli] Refactor legacy `Now` client to TypeScript
  packages/cli/src/commands/deploy/index.ts
  packages/cli/src/commands/list.ts
  packages/cli/src/util/client.ts
  packages/cli/src/util/config/files.ts
  packages/cli/src/util/deploy/create-deploy.ts
  packages/cli/src/util/deploy/process-deployment.ts
  packages/cli/src/util/index.ts
  packages/cli/src/util/input/patch-inquirer-legacy.ts
  packages/cli/src/util/input/patch-inquirer.ts
  packages/cli/src/util/link/setup-and-link.ts
Labels: area: cli, semver-minor

#6651 [build-utils] Add `allowQuery` to Lambda
  packages/build-utils/src/lambda.ts
Labels: area: build-utils, semver-patch
