Repository vercel/vercel, pull requests merged in 2021-03, with the labels that each got.

#5929 [cli] Use vercel.app instead of now.sh for integration test
  packages/now-cli/test/integration.js
Labels: area: cli, area: tests, semver-patch

#5931 [tests] Install Go in GH Actions Workflows
  .github/workflows/publish.yml
  .github/workflows/test-integration-cli.yml
  .github/workflows/test-integration-dev.yml
  .github/workflows/test-integration-once.yml
  .github/workflows/test-unit.yml
Labels: area: tests, semver-patch

#5932 [node] Bump nft to 0.9.6
  packages/now-node/package.json
  yarn.lock
Labels: area: node, semver-patch

#4275 [node] Fix `tsCompile` uninitialized error
  packages/node/src/index.ts
  packages/node/test/fixtures/09-include-files/file.ts
  packages/node/test/fixtures/09-include-files/include-ts-file.js
  packages/node/test/fixtures/09-include-files/vercel.json
Labels: area: node, semver-patch

#5950 [cli] Remove "micro" dependency
  packages/cli/package.json
  packages/cli/test/helpers/get-url.js
  packages/cli/test/unit.js
  yarn.lock
Labels: area: cli, semver-patch

#5960 [frameworks] fix project urls in frameworks file
  packages/frameworks/src/frameworks.ts
Labels: area: frameworks, semver-patch

#5919 [routing-utils] Add has route field to schema
  packages/routing-utils/src/schemas.ts
  packages/routing-utils/src/superstatic.ts
  packages/routing-utils/src/types.ts
  packages/routing-utils/test/index.spec.js
  packages/routing-utils/test/superstatic.spec.js
Labels: area: routing-utils, semver-minor

#5957 [cli] Add SAML Single Sign-On to `vercel login`
  packages/cli/package.json
  packages/cli/src/commands/login.ts
  packages/cli/src/commands/teams/switch.js
  packages/cli/src/util/login/email.ts
  packages/cli/src/util/login/login.ts
  packages/cli/src/util/login/sso.ts
  packages/cli/src/util/login/types.ts
  yarn.lock
Labels: area: cli

#5972 [frameworks] Add static 404 route to CRA
  packages/frameworks/src/frameworks.ts
Labels: area: frameworks, semver-minor

#6007 [frameworks] Add envPrefix property
  packages/frameworks/src/frameworks.ts
  packages/frameworks/src/types.ts
  packages/frameworks/test/frameworks.unit.test.ts
Labels: area: frameworks, semver-patch

#6014 [frameworks] Fix "svelte" detection and Dev Command
  packages/frameworks/src/frameworks.ts
Labels: area: frameworks, semver-patch

#6022 [routing-utils] Add has type host to schema
  packages/routing-utils/src/schemas.ts
  packages/routing-utils/src/types.ts
  packages/routing-utils/test/index.spec.js
  packages/routing-utils/test/superstatic.spec.js
Labels: area: routing-utils, semver-minor

#6023 [routing-utils] Add schema descriptions to routing schema
  packages/routing-utils/src/schemas.ts
Labels: area: routing-utils, semver-patch

#6024 [test] Add next image bmp test
  packages/cli/test/dev/fixtures/30-next-image-optimization/package.json
  packages/cli/test/dev/fixtures/30-next-image-optimization/vercel.json
  packages/cli/test/dev/integration.js
Labels: area: cli, area: dev, area: tests, semver-patch

#6037 [examples] Add yarn.lock to blitz
  examples/blitzjs/package.json
  examples/blitzjs/yarn.lock
Labels: area: examples, semver-patch
