Repository vercel/vercel, pull requests merged in 2021-02, with the labels that each got.

#5777 [docs] Fix links to GH Discussion categories
  .github/ISSUE_TEMPLATE/config.yml
Labels: docs, semver-patch

#5761 [build-utils] Add support for Node.js 14, warn for Node.js 10
  packages/now-build-utils/src/fs/node-version.ts
  packages/now-build-utils/test/pkg-engine-node/package.json
  packages/now-build-utils/test/unit.test.js
Labels: @vercel/build-utils, semver-minor

#5802 [examples][tests] Update "gridsome" and "hexo" for Node 14
  examples/gridsome/package.json
  examples/hexo/package.json
  packages/now-cli/test/dev/fixtures/06-gridsome/package.json
  packages/now-cli/test/dev/fixtures/06-gridsome/yarn.lock
  packages/now-cli/test/dev/fixtures/07-hexo-node/package.json
  packages/now-cli/test/dev/fixtures/07-hexo-node/yarn.lock
Labels: cli, dev, examples, semver-patch, tests

#5784 [cli] Use `sleep()` util function in `vc dev`
  packages/now-cli/src/util/dev/server.ts
Labels: cli, dev, semver-patch

#5740 [frameworks] Convert to TypeScript
  api/frameworks.ts
  api/package.json
  api/tsconfig.json
  examples/zola/.gitignore
  examples/zola/config.toml
  examples/zola/content/blog/_index.md
  examples/zola/content/blog/first.md
  examples/zola/content/blog/second.md
  examples/zola/templates/base.html
  examples/zola/templates/blog-page.html
  examples/zola/templates/blog.html
  examples/zola/templates/index.html
  package.json
  packages/frameworks/frameworks.json
  packages/frameworks/logos/zola.png
  packages/frameworks/package.json
  packages/frameworks/src/frameworks.ts
  packages/frameworks/src/read-config-file.ts
  packages/frameworks/src/types.ts
  packages/frameworks/test/frameworks.unit.test.ts
  packages/frameworks/tsconfig.json
  packages/now-cli/test/dev/integration.js
  utils/run.js
Labels: @vercel/frameworks, semver-major

#5788 [routing-utils] add user boolean prop to route schema
  packages/now-routing-utils/src/schemas.ts
Labels: @vercel/routing-utils, semver-minor

#5811 [build-utils][cli] Fix frameworks usage
  packages/now-build-utils/src/detect-builders.ts
  packages/now-build-utils/test/unit.framework-detector.test.ts
  packages/now-cli/src/util/dev/server.ts
Labels: @vercel/build-utils, cli, semver-patch

#5817 [frameworks] Export `frameworks` array with `as const`
  packages/frameworks/src/frameworks.ts
Labels: @vercel/frameworks, semver-minor

#5818 [frameworks] Add test case to ensure all "demo" URLs are public Vercel deployments
  packages/frameworks/package.json
  packages/frameworks/test/frameworks.unit.test.ts
  yarn.lock
Labels: @vercel/frameworks, semver-patch, tests

#5819 [frameworks] Add type annotations
  packages/frameworks/src/types.ts
Labels: @vercel/frameworks, semver-patch

#5828 [frameworks] Restore correct order of frameworks for detection
  packages/frameworks/src/frameworks.ts
Labels: @vercel/frameworks, semver-patch

#5697 [cli] Implement generic announcement system
  packages/now-cli/src/commands/secrets.js
  packages/now-cli/src/util/client.ts
  packages/now-cli/src/util/index.js
  packages/now-cli/src/util/print-indications.ts
  packages/now-cli/src/util/secrets.js
  packages/now-cli/test/integration.js
Labels: cli, semver-minor

#5829 [build-utils] Fix unit tests from `@vercel/frameworks` type change
  packages/now-build-utils/src/detect-framework.ts
Labels: area: build-utils, semver-patch

#5840 [tests] Add `--network-timeout 1000000` to yarn install
  .github/workflows/publish.yml
  .github/workflows/test-integration-cli.yml
  .github/workflows/test-integration-dev.yml
  .github/workflows/test-integration-once.yml
  .github/workflows/test-unit.yml
Labels: area: tests, semver-patch

#5839 [frameworks] Add `defaultVersion` field
  packages/frameworks/src/frameworks.ts
  packages/frameworks/src/types.ts
Labels: area: frameworks, semver-minor

#5841 [build-utils] Inherit `process.env` when `runPackageJsonScript()` is invoking yarn
  packages/now-build-utils/src/fs/run-user-scripts.ts
  packages/now-build-utils/test/fixtures/19-yarn-v2/.gitignore
  packages/now-build-utils/test/fixtures/19-yarn-v2/package.json
  packages/now-build-utils/test/unit.test.js
Labels: area: build-utils, bug, semver-patch

#5843 [frameworks] Add "detectors" for Zola framework
  packages/frameworks/src/frameworks.ts
Labels: area: frameworks, semver-patch

#5844 [frameworks] Fix "zola" framework detection
  packages/frameworks/src/frameworks.ts
  packages/now-build-utils/test/unit.framework-detector.test.ts
Labels: area: build-utils, area: frameworks, area: tests, semver-patch

#5824 [cli] Use `POST /projects` for `vc projects add`
  packages/now-cli/src/commands/projects.js
  packages/now-cli/test/integration.js
Labels: area: cli, semver-patch

#5851 [cli] Update test for animated gif bypass
  packages/now-cli/test/dev/integration.js
Labels: area: cli, area: dev, area: tests, semver-patch

#5842 [frameworks][examples] Update RedwoodJS to 0.25.0
  examples/redwoodjs/.editorconfig
  examples/redwoodjs/.env.defaults
  examples/redwoodjs/.gitignore
  examples/redwoodjs/.nvmrc
  examples/redwoodjs/api/db/schema.prisma
  examples/redwoodjs/api/db/seed.js
  examples/redwoodjs/api/jest.config.js
  examples/redwoodjs/api/jsconfig.json
  examples/redwoodjs/api/package.json
  examples/redwoodjs/api/src/functions/graphql.js
  examples/redwoodjs/api/src/lib/db.js
  examples/redwoodjs/graphql.config.js
  examples/redwoodjs/package.json
  examples/redwoodjs/prettier.config.js
  examples/redwoodjs/redwood.toml
  examples/redwoodjs/web/jest.config.js
  examples/redwoodjs/web/jsconfig.json
  examples/redwoodjs/web/package.json
  examples/redwoodjs/web/public/README.md
  examples/redwoodjs/web/src/index.js
  examples/redwoodjs/web/src/pages/AboutPage/AboutPage.js
  examples/redwoodjs/web/src/pages/HomePage/HomePage.js
  examples/redwoodjs/web/src/pages/HomePage/HomePage.stories.js
  examples/redwoodjs/yarn.lock
  packages/frameworks/src/frameworks.ts
  packages/now-cli/test/dev/integration.js
Labels: area: examples, area: frameworks, semver-patch

#5858 [go] Update to version 1.16
  packages/now-go/go-helpers.ts
Labels: area: go, semver-minor

#5862 [frameworks] Add cachePattern to jekyll and middleman
  packages/frameworks/src/frameworks.ts
Labels: area: frameworks, semver-patch

#5867 [cli] Disable Next.js gif test and Node.js 10 tests
  .github/workflows/test-integration-cli.yml
  .github/workflows/test-integration-dev.yml
  .github/workflows/test-unit.yml
  packages/now-cli/test/dev/integration.js
Labels: area: cli, area: dev, area: tests, semver-patch

#5870 [build-utils] Fix glob to find symlinks pointing to a directory
  packages/now-build-utils/src/fs/glob.ts
  packages/now-build-utils/test/symlinks/dir/b.txt
  packages/now-build-utils/test/symlinks/link-dir
  packages/now-build-utils/test/unit.test.js
Labels: area: build-utils, semver-patch

#5865 [build-utils] Remove flags from bundle install
  packages/now-build-utils/src/fs/run-user-scripts.ts
Labels: area: build-utils, semver-patch

#5872 [cli] Replace now.sh tests with vercel.app
  packages/now-cli/test/integration.js
Labels: area: cli, area: tests

#5874 [tests] Update 502 to 504 for Serverless Function timeout
  packages/now-cli/test/integration.js
Labels: area: cli, area: tests, semver-patch

#5871 [examples] Update jekyll and middleman
  examples/jekyll/.gitignore
  examples/jekyll/.nowignore
  examples/jekyll/404.html
  examples/jekyll/Gemfile
  examples/jekyll/Gemfile.lock
  examples/jekyll/_config.yml
  examples/jekyll/_posts/2021-02-19-welcome-to-jekyll.md
  examples/middleman/.gitignore
  examples/middleman/.nowignore
  examples/middleman/Gemfile.lock
  packages/frameworks/src/frameworks.ts
Labels: area: examples, semver-patch

#5882 [examples] Fix "nuxtjs" example by adding a `yarn.lock` file
  examples/nuxtjs/.vercelignore
  examples/nuxtjs/package.json
  examples/nuxtjs/yarn.lock
Labels: area: examples, semver-patch

#5881 [build-utils] Update Node.js 10 deprecation message
  packages/now-build-utils/src/fs/node-version.ts
  packages/now-build-utils/src/fs/run-user-scripts.ts
  packages/now-build-utils/test/unit.test.js
Labels: area: build-utils, semver-patch

#5873 [go] Add Go version selection via `go.mod`
  packages/now-go/build.js
  packages/now-go/go-helpers.ts
  packages/now-go/index.ts
  packages/now-go/install.ts
  packages/now-go/package.json
  packages/now-go/test/fixtures/01-cowsay/index.go
  packages/now-go/test/fixtures/01-cowsay/now.json
  packages/now-go/test/fixtures/01-cowsay/subdirectory/index.go
  packages/now-go/test/fixtures/01-cowsay/vercel.json
  packages/now-go/test/fixtures/10-go-mod/go.mod
  packages/now-go/test/fixtures/10-go-mod/index.go
  packages/now-go/test/fixtures/10-go-mod/now.json
  packages/now-go/test/fixtures/10-go-mod/vercel.json
  packages/now-go/test/fixtures/11-go-mod-shared/api/index.go
  packages/now-go/test/fixtures/11-go-mod-shared/go.mod
  packages/now-go/test/fixtures/11-go-mod-shared/now.json
  packages/now-go/test/fixtures/11-go-mod-shared/vercel.json
  packages/now-go/test/fixtures/16-custom-flag/go.mod
  packages/now-go/test/fixtures/16-custom-flag/index.go
  packages/now-go/test/fixtures/16-custom-flag/vercel.json
  packages/now-go/test/fixtures/17-go-mod-api/api/v1/routes/someroute.go
  packages/now-go/test/fixtures/17-go-mod-api/vercel.json
  packages/now-go/test/fixtures/20-square-brackets/vercel.json
  packages/now-go/tsconfig.json
Labels: area: go, semver-minor

#5888 [build-utils] Update warning for `api` + `pages/api`
  packages/now-build-utils/src/detect-builders.ts
  packages/now-build-utils/test/unit.builds-and-routes-detector.test.ts
  packages/now-cli/src/util/dev/server.ts
Labels: area: build-utils, semver-patch

#5892 [build-utils] Fix warning for canary
  packages/now-build-utils/src/detect-builders.ts
  packages/now-build-utils/test/unit.builds-and-routes-detector.test.ts
Labels: area: build-utils, semver-patch

#5904 [cli] Use inspectorUrl from api
  packages/now-cli/src/util/deploy/process-deployment.ts
  packages/now-cli/test/integration.js
Labels: area: cli, semver-patch

#5906 [go] Fix analyze ignore list
  packages/now-go/util/analyze.go
Labels: area: go, semver-patch
