Repository vercel/vercel, pull requests merged in 2021-01, with the labels that each got.

#5632 [next] Ensure 404 route is correct for GSP/GIP 404
  packages/now-next/src/index.ts
  packages/now-next/test/fixtures/00-i18n-support-root-catchall/additional.js
  packages/now-next/test/fixtures/00-i18n-support/additional.js
  packages/now-next/test/fixtures/22-ssg-v2/additional.js
  packages/now-next/test/fixtures/27-preview-mode/additional.js
  packages/now-next/test/fixtures/31-blocking-fallback/additional.js
  packages/now-next/test/integration/index.test.js
Labels: @vercel/next, semver-patch

#5635 [tests] Retry fetch upon "ECONNREFUSED"
  test/lib/deployment/fetch-retry.js
Labels: semver-patch, tests

#5634 [node-bridge] Move `launcher.ts` to `@vercel/node-bridge`
  packages/now-node-bridge/.gitignore
  packages/now-node-bridge/src/launcher.ts
  packages/now-node/.gitignore
  packages/now-node/build.sh
  packages/now-static-build/build.sh
  packages/redwood/build.sh
Labels: @vercel/node, @vercel/redwood, @vercel/static-build, semver-patch

#5247 [next] Add tests for optional catch-all fallback true page params
  packages/now-next/test/fixtures/00-optional-fallback-revalidate/additional.js
  packages/now-next/test/fixtures/00-optional-fallback-revalidate/next.config.js
  packages/now-next/test/fixtures/00-optional-fallback-revalidate/package.json
  packages/now-next/test/fixtures/00-optional-fallback-revalidate/pages/[[...slug]].js
  packages/now-next/test/fixtures/00-optional-fallback-revalidate/pages/posts/[[...slug]].js
  packages/now-next/test/fixtures/00-optional-fallback-revalidate/vercel.json
Labels: @vercel/next, semver-patch

#5641 Stop publishing legacy `@now` scoped packages
  utils/publish-legacy.sh
  utils/publish.sh
Labels: semver-patch

#5643 [cli] Print better message upon `ENOENT` error when invoking `startDevServer()`
  packages/now-cli/src/util/dev/server.ts
  yarn.lock
Labels: cli, semver-patch

#5651 [cli] Remove legacy example from vc ls --help
  packages/now-cli/src/commands/list.js
Labels: cli, semver-patch

#5675 [all] Rename init files to `vc_` prefix
  packages/now-go/index.ts
  packages/now-go/main.go
  packages/now-go/main__mod__.go
  packages/now-node/src/index.ts
  packages/now-python/package.json
  packages/now-python/src/index.ts
  packages/now-python/vc_init.py
  packages/now-ruby/index.ts
  packages/now-ruby/package.json
  packages/now-ruby/vc_init.rb
Labels: @vercel/go, @vercel/node, @vercel/python, @vercel/ruby, semver-patch

#5674 [node][go] Better `startDevServer()` error message
  packages/now-go/index.ts
  packages/now-node/src/index.ts
Labels: @vercel/go, @vercel/node, semver-patch

#5684 [cli] Formatting fixes for `startDevServer()` and npm error messages
  packages/now-cli/src/util/dev/builder-cache.ts
  packages/now-cli/src/util/dev/server.ts
Labels: cli, semver-patch

#5689 [cli] Skip "00-list-directory" and "temporary directory listing" tests temporarily
  packages/now-cli/test/dev/integration.js
  packages/now-cli/test/integration.js
Labels: cli, semver-patch, tests

#5687 [cli] Use `cmd()` formatting for "npm not installed" message
  packages/now-cli/src/util/dev/builder-cache.ts
Labels: cli, dev, semver-patch

#5688 [node][go] Fix order of exit code in `startDevServer()` error reason
  packages/now-go/index.ts
  packages/now-node/src/index.ts
Labels: @vercel/go, @vercel/node, semver-patch

#5690 [cli] Respect the `directoryListing` Project setting in `vc dev`
  packages/now-cli/src/types.ts
  packages/now-cli/src/util/dev/server.ts
  packages/now-cli/test/dev/integration.js
Labels: cli, semver-minor

#5695 [build-utils] Remove `now-next` and `now-static-build` tests
  packages/now-build-utils/test/integration.test.js
Labels: @vercel/build-utils, semver-patch

#5663 [cli] Add auto renew prompt to domains buy
  packages/now-cli/src/commands/domains/buy.ts
  packages/now-cli/src/util/domains/purchase-domain.ts
  packages/now-cli/src/util/input/prompt-bool.ts
  packages/now-cli/test/integration.js
Labels: cli, semver-minor

#5701 [cli] Fix `cleanUrls: true` when using an output directory
  packages/now-cli/src/util/dev/builder.ts
  packages/now-cli/src/util/dev/static-builder.ts
  packages/now-cli/test/dev/fixtures/test-clean-urls-with-output-directory/.gitignore
  packages/now-cli/test/dev/fixtures/test-clean-urls-with-output-directory/public/about.html
  packages/now-cli/test/dev/fixtures/test-clean-urls-with-output-directory/public/index.html
  packages/now-cli/test/dev/fixtures/test-clean-urls-with-output-directory/public/style.css
  packages/now-cli/test/dev/fixtures/test-clean-urls-with-output-directory/public/sub/another.html
  packages/now-cli/test/dev/fixtures/test-clean-urls-with-output-directory/public/sub/index.html
  packages/now-cli/test/dev/fixtures/test-clean-urls-with-output-directory/vercel.json
  packages/now-cli/test/dev/integration.js
Labels: bug, cli, dev, semver-patch

#5710 [cli] Hide "Development" for secret env variables
  packages/now-cli/src/commands/env/add.ts
Labels: cli, semver-patch

#5717 [cli] Make `Output` class a singleton and have reusable `Spinner`
  packages/now-cli/src/commands/alias/rm.js
  packages/now-cli/src/commands/deploy/index.js
  packages/now-cli/src/commands/deploy/latest.js
  packages/now-cli/src/index.js
  packages/now-cli/src/types.ts
  packages/now-cli/src/util/deploy/process-deployment.ts
  packages/now-cli/src/util/index.js
  packages/now-cli/src/util/output/create-output.ts
  packages/now-cli/src/util/output/index.ts
  packages/now-cli/src/util/output/wait.ts
Labels: cli, semver-patch

#5718 [cli] Show login prompt for `vercel dev`
  packages/now-cli/src/index.js
  packages/now-cli/test/dev/integration.js
Labels: cli, dev, semver-patch

#5729 [build-utils] Add support for `config.nodeVersion`
  packages/now-build-utils/src/fs/run-user-scripts.ts
  packages/now-build-utils/test/pkg-engine-node/package.json
  packages/now-build-utils/test/unit.test.js
Labels: @vercel/build-utils, semver-patch

#5756 [cli] Pass the `output` object to `vercel switch` command
  packages/now-cli/src/commands/teams.js
Labels: bug, cli, semver-patch

#5739 [python] Fix request URL path encoding for basic, WSGI and ASGI interfaces
  .github/workflows/test-integration-dev.yml
  packages/now-cli/test/integration.js
  packages/now-python/test/fixtures/00-request-path/api/asgi.py
  packages/now-python/test/fixtures/00-request-path/api/python.py
  packages/now-python/test/fixtures/00-request-path/api/wsgi.py
  packages/now-python/test/fixtures/00-request-path/requirements.txt
  packages/now-python/test/fixtures/00-request-path/vercel.json
  packages/now-python/test/fixtures/10-url-params-http-handler/custom.py
  packages/now-python/test/fixtures/10-url-params-http-handler/index.py
  packages/now-python/test/fixtures/10-url-params-http-handler/now.json
  packages/now-python/test/fixtures/13-wsgi-url-params-encoding/custom.py
  packages/now-python/test/fixtures/13-wsgi-url-params-encoding/index.py
  packages/now-python/test/fixtures/13-wsgi-url-params-encoding/now.json
  packages/now-python/test/fixtures/13-wsgi-url-params-encoding/requirements.txt
  packages/now-python/test/test.js
  packages/now-python/vc_init.py
  utils/changelog.js
Labels: @vercel/python, bug, semver-major

#5763 [all] Rewrite build scripts in JavaScript
  packages/now-build-utils/build.js
  packages/now-build-utils/build.sh
  packages/now-build-utils/package.json
  packages/now-cgi/build.js
  packages/now-cgi/build.sh
  packages/now-cgi/package.json
  packages/now-go/.gitignore
  packages/now-go/build.js
  packages/now-go/build.sh
  packages/now-go/package.json
  packages/now-node/build.js
  packages/now-node/build.sh
  packages/now-node/package.json
  packages/now-python/build.js
  packages/now-python/build.sh
  packages/now-python/package.json
  packages/now-ruby/build.js
  packages/now-ruby/build.sh
  packages/now-ruby/package.json
Labels: @vercel/build-utils, @vercel/cgi, @vercel/go, @vercel/node, @vercel/python, @vercel/ruby, semver-patch, tests

#5762 [cli] Use `output.stopSpinner()` interface consistently
  packages/now-cli/src/commands/alias/ls.js
  packages/now-cli/src/commands/certs/add.ts
  packages/now-cli/src/commands/domains/buy.ts
  packages/now-cli/src/commands/init/init.ts
  packages/now-cli/src/commands/logout.ts
  packages/now-cli/src/commands/logs.js
  packages/now-cli/src/commands/remove.js
  packages/now-cli/src/commands/teams/switch.js
  packages/now-cli/src/util/alias/create-alias.ts
  packages/now-cli/src/util/alias/get-deployment-by-alias.ts
  packages/now-cli/src/util/certs/create-cert-for-alias.ts
  packages/now-cli/src/util/deploy/generate-cert-for-deploy.ts
  packages/now-cli/src/util/dev/builder-cache.ts
  packages/now-cli/src/util/domains/purchase-domain-if-available.ts
  packages/now-cli/src/util/input/input-project.ts
  packages/now-cli/src/util/input/select-org.ts
  packages/now-cli/src/util/output/create-output.ts
  packages/now-cli/src/util/projects/link.ts
Labels: bug, cli, semver-patch

#5767 [go] support skipDownload flag
  packages/now-go/index.ts
Labels: @vercel/go, semver-patch

#5770 [cli] Update error message when project is not found
  packages/now-cli/src/util/projects/link.ts
  packages/now-cli/test/integration.js
Labels: cli, semver-patch
