Repository vercel/vercel, pull requests merged in 2022-10, with the labels that each got.

#8663 [next] Allow revalidating ISR 404 path itself
  packages/next/src/server-build.ts
  packages/next/src/utils.ts
  packages/next/test/fixtures/00-server-build/index.test.js
  packages/next/test/fixtures/00-server-build/pages/404.js
  packages/next/test/integration/index.test.js
Labels: semver: patch, area: next, pr: automerge

#8667 [tests] Remove nodejs12.x tests
  DEVELOPING_A_RUNTIME.md
  packages/build-utils/test/unit.test.ts
  packages/cli/test/helpers/prepare.js
  packages/next/test/fixtures/04-firebase-node-12/index.test.js
  packages/next/test/fixtures/04-firebase-node-12/next.config.js
  packages/next/test/fixtures/04-firebase-node-12/package.json
  packages/next/test/fixtures/04-firebase-node-12/pages/nested/fb.js
  packages/next/test/fixtures/04-firebase-node-12/pages/nested/moar/[dynamic_fb].js
  packages/next/test/fixtures/04-firebase-node-12/vercel.json
  packages/static-build/test/fixtures/02-cowsay-sh/node16sh/build.sh
  packages/static-build/test/fixtures/02-cowsay-sh/node16sh/package.json
  packages/static-build/test/fixtures/02-cowsay-sh/vercel.json
  packages/static-build/test/fixtures/14-angular-configured/package.json
Labels: area: tests, semver: patch, pr: automerge

#8669 [cli] Fix `vc build` to error early when runtime is discontinued
  packages/cli/src/commands/build.ts
  packages/cli/test/fixtures/unit/commands/build/discontinued-nodejs12.x/.gitignore
  packages/cli/test/fixtures/unit/commands/build/discontinued-nodejs12.x/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/build/discontinued-nodejs12.x/api/index.php
  packages/cli/test/fixtures/unit/commands/build/discontinued-nodejs12.x/vercel.json
  packages/cli/test/unit/commands/build.test.ts
Labels: area: cli, semver: patch, pr: automerge

#8671 [tests] Replace `cancel-workflow-action` with native `cancel-in-progress`
  .github/workflows/cancel.yml
  .github/workflows/test-integration-cli.yml
  .github/workflows/test-unit.yml
  .github/workflows/test.yml
Labels: area: tests, semver: patch, pr: automerge, hacktoberfest-accepted

#8674 Update README
  README.md
Labels: area: docs, semver: patch, pr: automerge, hacktoberfest-accepted

#8675 Update CLI README
  packages/cli/README.md
Labels: area: docs, semver: patch, pr: automerge, hacktoberfest-accepted

#8681 [build-utils] Allow file-ref sema to be controlled through env flag
  packages/build-utils/src/file-fs-ref.ts
  packages/build-utils/src/file-ref.ts
Labels: area: build-utils, semver: patch, pr: automerge

#8682 [next] Fix legacy pages/404 case
  packages/next/src/utils.ts
  packages/next/test/fixtures/00-legacy-404/index.test.js
  packages/next/test/fixtures/00-legacy-404/package.json
  packages/next/test/fixtures/00-legacy-404/pages/404.js
  packages/next/test/fixtures/00-legacy-404/pages/api/hello.js
  packages/next/test/fixtures/00-legacy-404/pages/index.js
  packages/next/test/fixtures/00-legacy-404/probes.json
Labels: semver: patch, area: next, pr: automerge

#8689 [next] Update max route src check for generated route
  packages/next/src/server-build.ts
Labels: semver: patch, area: next, pr: automerge

#8687 [node] Update `edge-runtime` to v1.1.0-beta.37
  packages/node/package.json
  yarn.lock
Labels: area: node, area: dev, semver: patch, pr: automerge

#8688 [fs-detectors] Add setting placeholders for monorepos
  api/_lib/script/build.ts
  packages/fs-detectors/logos/nx.svg
  packages/fs-detectors/logos/rush.svg
  packages/fs-detectors/logos/turborepo.svg
  packages/fs-detectors/src/monorepos/monorepo-managers.ts
Labels: semver: minor, area: fs-detectors, pr: automerge

#8691 [tests] Enable corepack for monorepo
  .github/CONTRIBUTING.md
  package.json
Labels: area: tests, semver: patch, pr: automerge

#8690 [node] Allow VercelApiHandler to also return a Promise
  packages/node/src/types.ts
  packages/node/test/fixtures/15-helpers/ts/async-handler.ts
Labels: area: node, semver: patch, pr: automerge, hacktoberfest-accepted

#8715 [node] upgrade edge-runtime to v1.1.0-beta.38
  packages/node/package.json
  yarn.lock
Labels: area: node, semver: patch, pr: automerge

#8710 [frameworks] Detect additional valid Sanity v3 configs
  packages/frameworks/src/frameworks.ts
Labels: area: frameworks, semver: patch, pr: automerge, hacktoberfest-accepted

#8711 [frameworks] Detect Hydrogen TypeScript config
  packages/frameworks/src/frameworks.ts
Labels: area: frameworks, semver: patch, pr: automerge, hacktoberfest-accepted

#8720 [build-utils] Cleanup getNodeVersion
  packages/build-utils/src/fs/run-user-scripts.ts
Labels: area: build-utils, semver: patch, pr: automerge

#8721 [tests] Update the checkout action to V3 in `publish.yml`
  .github/workflows/publish.yml
Labels: area: tests, semver: patch, pr: automerge, hacktoberfest-accepted

#8729 [next] Fix index rsc route handling
  packages/next/src/server-build.ts
  packages/next/test/fixtures/00-app-dir-edge/app/layout.js
  packages/next/test/fixtures/00-app-dir-edge/index.test.js
  packages/next/test/fixtures/00-app-dir-edge/vercel.json
  packages/next/test/fixtures/00-app-dir/app/client-component-route/page.js
  packages/next/test/fixtures/00-app-dir/app/client-nested/layout.js
  packages/next/test/fixtures/00-app-dir/app/dashboard/index/lazy.js
  packages/next/test/fixtures/00-app-dir/app/dashboard/index/test.js
  packages/next/test/fixtures/00-app-dir/app/should-not-serve-client/page.js
  packages/next/test/fixtures/00-app-dir/vercel.json
Labels: semver: patch, area: next, pr: automerge

#8727 [node] update typescript detection message
  packages/node/src/typescript.ts
Labels: area: node, semver: patch, pr: automerge

#8736 [tests] Update workflow to examine both labels and use annotations
  .github/workflows/required-pr-label.yml
Labels: area: tests, semver: patch, pr: automerge

#8740 [node] upgrade edge-runtime to v1.1.0-beta.40
  packages/edge/package.json
  packages/node/package.json
  yarn.lock
Labels: area: node, semver: patch, pr: automerge, hacktoberfest-accepted

#8737 [next] Ensure vary header is set for static app paths
  packages/next/src/server-build.ts
  packages/next/test/fixtures/00-app-dir/vercel.json
Labels: semver: patch, area: next, pr: automerge

#8743 [build-utils] Allow initialHeaders and initialStatus for Prerender
  packages/build-utils/src/prerender.ts
Labels: area: build-utils, semver: patch, pr: automerge, hacktoberfest-accepted

#8670 [cli] Use ensureLink() in `link` and `pull` commands
  packages/cli/src/commands/git/index.ts
  packages/cli/src/commands/link/index.ts
  packages/cli/src/commands/list.ts
  packages/cli/src/commands/pull.ts
  packages/cli/src/util/ensure-link.ts
  packages/cli/src/util/link/ensure-link.ts
  packages/cli/src/util/link/setup-and-link.ts
Labels: area: cli, semver: patch, pr: automerge, hacktoberfest-accepted

#8747 [build-utils] allow EdgeFunction constructor to receive any string as a region
  packages/build-utils/src/edge-function.ts
Labels: area: build-utils, semver: patch, pr: automerge, hacktoberfest-accepted

#8517 [edge] Fix the `region` field of geolocation
  packages/edge/docs/README.md
  packages/edge/docs/interfaces/Geo.md
  packages/edge/src/edge-headers.ts
  packages/edge/test/edge-headers.test.ts
Labels: semver: minor, area: edge

#8757 [build-utils] Fix check for initialHeaders on prerender
  packages/build-utils/src/prerender.ts
  packages/build-utils/test/unit.test.ts
Labels: area: build-utils, semver: patch, pr: automerge

#8724 [@vercel/edge] Support overriding request headers
  packages/edge/docs/README.md
  packages/edge/docs/interfaces/ExtraResponseInit.md
  packages/edge/docs/interfaces/ModifiedRequest.md
  packages/edge/src/middleware-helpers.ts
  packages/edge/test/middleware-helpers.test.ts
Labels: semver: minor, area: edge

#8751 [ENV] Use new env/pull endpoint for vc env pull, vc pull
  packages/cli/src/commands/dev/dev.ts
  packages/cli/src/commands/env/pull.ts
  packages/cli/src/commands/pull.ts
  packages/cli/src/util/dev/expose-system-envs.ts
  packages/cli/src/util/dev/server.ts
  packages/cli/src/util/dev/types.ts
  packages/cli/src/util/env/get-env-records.ts
  packages/cli/src/util/env/get-system-env-values.ts
  packages/cli/src/util/get-decrypted-env-records.ts
  packages/cli/test/mocks/project.ts
Labels: area: cli, semver: minor, pr: automerge

#8760 Cope with socket hang up
  packages/cli/src/index.ts
Labels: area: cli, semver: minor, pr: automerge

#8763 [next] Add leveraging initialHeaders/status for prerender
  packages/next/src/server-build.ts
  packages/next/src/utils.ts
  packages/next/test/fixtures/00-app-dir/pages/api/hello.js
  packages/next/test/fixtures/00-app-dir/vercel.json
  packages/next/test/fixtures/00-build-time-traces/package.json
  packages/next/test/fixtures/00-fallback-false-preview/package.json
  packages/next/test/fixtures/00-i18n-support-no-locale-detection/package.json
  packages/next/test/fixtures/00-i18n-support-no-shared-lambdas/package.json
  packages/next/test/fixtures/00-i18n-support-root-catchall/package.json
  packages/next/test/fixtures/00-i18n-support/package.json
  packages/next/test/fixtures/00-initial-notfound-revalidate-i18n/package.json
  packages/next/test/fixtures/00-initial-notfound-revalidate/package.json
  packages/next/test/fixtures/00-legacy-mono-repo-server-mode/packages/nextjs/package.json
  packages/next/test/fixtures/00-mixed-dynamic-routes/package.json
  packages/next/test/fixtures/00-next-image-base-path/package.json
  packages/next/test/fixtures/00-optional-fallback-revalidate/package.json
  packages/next/test/fixtures/00-public-dir-output-dir/package.json
  packages/next/test/fixtures/00-root-optional-revalidate/package.json
  packages/next/test/fixtures/00-server-build-auto-export-dynamic/package.json
  packages/next/test/fixtures/00-server-build-legacy-monorepo/packages/nextjs/package.json
  packages/next/test/fixtures/00-server-build-root-directory-output-dir/packages/nextjs/package.json
  packages/next/test/fixtures/00-server-build-root-directory/packages/nextjs/package.json
  packages/next/test/fixtures/00-test-limit-server-build/package.json
  packages/next/test/fixtures/00-trailing-slash-add-export/package.json
  packages/next/test/fixtures/00-trailing-slash-add/package.json
  packages/next/test/fixtures/00-trailing-slash-remove/package.json
  packages/next/test/fixtures/00-vercel-404/package.json
  packages/next/test/fixtures/01-cache-headers/package.json
  packages/next/test/fixtures/06-lambda-with-memory/package.json
  packages/next/test/fixtures/07-custom-routes/package.json
  packages/next/test/fixtures/08-custom-routes-catchall/package.json
  packages/next/test/fixtures/10-export-cache-headers/package.json
  packages/next/test/fixtures/11-export-clean-urls/package.json
  packages/next/test/fixtures/12-no-export-auto/package.json
  packages/next/test/fixtures/13-export-custom-routes/package.json
  packages/next/test/fixtures/14-next-offline/package.json
  packages/next/test/fixtures/16-base-path/package.json
  packages/next/test/fixtures/17-static-404/package.json
  packages/next/test/fixtures/19-pages-404/package.json
  packages/next/test/fixtures/21-server-props/package.json
  packages/next/test/fixtures/22-ssg-v2-catchall/package.json
  packages/next/test/fixtures/22-ssg-v2-multi-payload/package.json
  packages/next/test/fixtures/22-ssg-v2/package.json
  packages/next/test/fixtures/23-custom-routes-verbose/package.json
  packages/next/test/fixtures/24-custom-output-dir/package.json
  packages/next/test/fixtures/25-index-routes/package.json
  packages/next/test/fixtures/27-preview-mode/package.json
  packages/next/test/fixtures/28-nested-public/package.json
  packages/next/test/fixtures/29-ssg-all-static-custom-404/package.json
  packages/next/test/fixtures/29-ssg-all-static/package.json
  packages/next/test/fixtures/31-blocking-fallback/package.json
  packages/next/test/fixtures/32-custom-install-command/package.json
  packages/next/test/fixtures/33-base-path-gsp-404/package.json
  packages/next/test/fixtures/35-esm-package/package.json
  packages/next/test/integration/index.test.js
  packages/next/test/integration/test-limit-exceeded-404-static-files/package.json
  packages/next/test/integration/test-limit-exceeded-internal-files-server-build/package.json
  packages/next/test/integration/test-limit-exceeded-server-build/package.json
  packages/next/test/integration/test-limit-large-uncompressed-files/package.json
Labels: semver: patch, area: next, pr: automerge

#8765 [node] upgrade edge-runtime to v1.1.0
  packages/edge/package.json
  packages/node/package.json
  yarn.lock
Labels: area: node, semver: patch, pr: automerge, hacktoberfest

#8779 [docs][typo] Update license link in readme
  README.md
Labels: area: docs, semver: patch, pr: automerge

#8752 [dev] Support request headers override in middleware
  packages/cli/src/util/dev/headers.ts
  packages/cli/src/util/dev/server.ts
  packages/cli/test/dev/fixtures/middleware-request-headers-override/api/dump-headers.js
  packages/cli/test/dev/fixtures/middleware-request-headers-override/middleware.js
  packages/cli/test/dev/integration-4.test.ts
  packages/cli/test/unit/util/dev/headers.test.ts
Labels: area: dev, semver: minor, pr: automerge
