Repository vercel/vercel, pull requests merged in 2022-02, with the labels that each got.

#5778 [cli] Add `vercel bisect` command
  packages/cli/package.json
  packages/cli/src/commands/bisect/index.ts
  packages/cli/src/commands/deploy/args.ts
  packages/cli/src/commands/index.ts
  packages/cli/src/index.ts
  packages/cli/src/types.ts
  yarn.lock
Labels: area: cli, semver-minor

#7417 [build-utils] De-couple zip file creation from `Lambda` class
  packages/build-utils/src/convert-runtime-to-plugin.ts
  packages/build-utils/src/lambda.ts
  packages/cli/src/util/dev/builder.ts
  packages/cli/src/util/dev/types.ts
Labels: area: build-utils, semver-minor

#7349 [cli][node] Bump nft to 0.17.5
  packages/cli/package.json
  packages/node/package.json
  packages/node/src/index.ts
  packages/plugin-node/package.json
  packages/plugin-node/src/index.ts
  yarn.lock
Labels: area: node, area: cli, semver-patch

#7423 [build-utils] Add `NodejsLambda` class
  packages/build-utils/src/debug.ts
  packages/build-utils/src/get-platform-env.ts
  packages/build-utils/src/index.ts
  packages/build-utils/src/lambda.ts
  packages/build-utils/src/nodejs-lambda.ts
  packages/build-utils/test/unit.nodejs-lambda.test.ts
Labels: area: build-utils, semver-minor

#7386 [build-utils] Add Builder TypeScript types
  packages/build-utils/src/types.ts
Labels: area: build-utils, semver-minor

#7442 [cli] Remove timestamp based lookback in `vc bisect --help`
  packages/cli/src/commands/bisect/index.ts
Labels: area: cli, semver-patch

#7350 [frameworks] Add Sanity Studio
  examples/sanity/.env.template
  examples/sanity/.npmignore
  examples/sanity/README.md
  examples/sanity/config/.checksums
  examples/sanity/config/@sanity/data-aspects.json
  examples/sanity/config/@sanity/default-layout.json
  examples/sanity/config/@sanity/default-login.json
  examples/sanity/config/@sanity/form-builder.json
  examples/sanity/package.json
  examples/sanity/plugins/.gitkeep
  examples/sanity/sanity.json
  examples/sanity/schemas/author.js
  examples/sanity/schemas/blockContent.js
  examples/sanity/schemas/category.js
  examples/sanity/schemas/post.js
  examples/sanity/schemas/schema.js
  examples/sanity/static/.gitkeep
  examples/sanity/static/favicon.ico
  examples/sanity/tsconfig.json
  examples/sanity/yarn.lock
  packages/frameworks/logos/sanity.svg
  packages/frameworks/src/frameworks.ts
Labels: area: frameworks

#7454 Update dev test for image optimization with `next@latest` and python flask
  packages/cli/test/dev/fixtures/python-flask/requirements.txt
  packages/cli/test/dev/integration.js
Labels: area: tests, semver-patch

#7458 [examples] Bump Next.js to 12.1.0
  examples/nextjs/.gitignore
  examples/nextjs/next.config.js
  examples/nextjs/package-lock.json
  examples/nextjs/package.json
  examples/nextjs/yarn.lock
Labels: area: examples, semver-patch

#7436 [node] Use `NodejsLambda` class
  packages/node/build.js
  packages/node/package.json
  packages/node/src/dev-server.ts
  packages/node/src/helpers.ts
  packages/node/src/index.ts
  packages/node/test/helpers.test.js
Labels: area: node, semver-minor

#7366 [examples] Fix link to Remix nested routes documentation
  examples/remix/app/routes/demos/about.tsx
Labels: area: examples, semver-patch

#7392 [docs] Fix wrong test command in CONTRIBUTING
  .github/CONTRIBUTING.md
Labels: area: docs, semver-patch
