Repository vercel/vercel, pull requests merged in 2022-12, with the labels that each got.

#8987 [node] Add caching for TS compile per file
  packages/node/src/typescript.ts
Labels: area: node, semver: patch, pr: automerge

#8090 [cli] Replace `update-notifier` dependency with built in
  packages/cli/package.json
  packages/cli/scripts/build.ts
  packages/cli/src/index.ts
  packages/cli/src/util/get-latest-version/get-latest-worker.js
  packages/cli/src/util/get-latest-version/index.ts
  packages/cli/test/fixtures/unit/create-git-meta/not-dirty/git/index
  packages/cli/test/unit/util/get-latest-version.test.ts
  yarn.lock
Labels: area: cli, semver: patch

#8984 [build-utils] expand build result type for framework version
  packages/build-utils/src/types.ts
Labels: area: build-utils, semver: minor, pr: automerge

#9000 [cli] Revert replace `update-notifier` dependency with built in
  packages/cli/package.json
  packages/cli/scripts/build.ts
  packages/cli/src/index.ts
  packages/cli/src/util/get-latest-version/get-latest-worker.js
  packages/cli/src/util/get-latest-version/index.ts
  packages/cli/test/fixtures/unit/create-git-meta/not-dirty/git/index
  packages/cli/test/unit/util/get-latest-version.test.ts
  yarn.lock
Labels: area: cli, semver: patch

#9007 [examples] Restrict node version for umi example
  examples/umijs/package.json
Labels: area: examples, semver: patch, pr: automerge

#8735 [cli] Allow `ls` to specify a limit up to 100
  packages/cli/src/commands/alias/index.ts
  packages/cli/src/commands/alias/ls.ts
  packages/cli/src/commands/certs/index.ts
  packages/cli/src/commands/certs/ls.ts
  packages/cli/src/commands/dns/index.ts
  packages/cli/src/commands/dns/ls.ts
  packages/cli/src/commands/domains/index.ts
  packages/cli/src/commands/domains/ls.ts
  packages/cli/src/util/alias/get-aliases.ts
  packages/cli/src/util/certs/get-certs.ts
  packages/cli/src/util/dns/get-domain-dns-records.ts
  packages/cli/src/util/domains/get-domains.ts
  packages/cli/src/util/get-pagination-opts.ts
  packages/cli/test/mocks/alias.ts
  packages/cli/test/mocks/certs.ts
  packages/cli/test/mocks/dns.ts
  packages/cli/test/mocks/domains.ts
  packages/cli/test/unit/commands/alias.test.ts
  packages/cli/test/unit/commands/certs.test.ts
  packages/cli/test/unit/commands/dns.test.ts
  packages/cli/test/unit/commands/domains.test.ts
  packages/cli/test/unit/util/get-pagination-opts.test.ts
Labels: area: cli, semver: minor, pr: automerge

#9016 feat(node,cli): allows 'edge' as possible runtime value
  packages/cli/test/dev/fixtures/edge-function-error/api/edge-error-no-handler.js
  packages/cli/test/dev/fixtures/edge-function-error/api/edge-error-runtime.js
  packages/cli/test/dev/fixtures/edge-function-error/api/edge-error-startup.js
  packages/cli/test/dev/fixtures/edge-function-error/api/edge-error-syntax.js
  packages/cli/test/dev/fixtures/edge-function-error/api/edge-error-unknown-import.js
  packages/cli/test/dev/fixtures/edge-function-error/api/edge-no-response.js
  packages/cli/test/dev/fixtures/edge-function/api/edge-500-response.js
  packages/cli/test/dev/fixtures/edge-function/api/edge-import-browser.js
  packages/cli/test/dev/fixtures/edge-function/api/edge-success.js
  packages/cli/test/dev/fixtures/edge-function/api/webassembly.js
  packages/cli/test/dev/fixtures/middleware-no-response/middleware.js
  packages/cli/test/dev/fixtures/middleware-rewrite-404/api/edge.ts
  packages/cli/test/dev/fixtures/middleware-rewrite-404/middleware.ts
  packages/cli/test/dev/integration-1.test.ts
  packages/cli/test/dev/integration-2.test.ts
  packages/cli/test/fixtures/unit/commands/build/edge-function/api/edge.js
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/api/prefer-browser.js
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/api/prefer-main.js
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/api/prefer-module.js
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/api/use-browser.js
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/api/use-classic.js
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/api/use-main.js
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/api/use-module.js
  packages/node/src/dev-server.ts
  packages/node/src/index.ts
  packages/node/src/utils.ts
  packages/node/test/fixtures/61-edge-function/api/edge.js
  packages/node/test/fixtures/62-edge-middleware/api/edge.js
Labels: area: node, area: cli, semver: minor, area: edge, pr: automerge

#9040 [docs] Delete pull_request_template.md
  .github/pull_request_template.md
Labels: area: docs, semver: patch, pr: automerge

#9041 testing a theory in CI
  packages/cli/src/index.ts
Labels: area: tests, semver: patch, pr: automerge

#9043 [docs] Add security.md
  .github/SECURITY.md
Labels: area: docs, semver: patch, pr: automerge

#9045 [docs] modify responsible disclosure email
  .github/SECURITY.md
Labels: area: docs, semver: patch, pr: automerge

#9042 [cli] Remove unused dependency `email-prompt`
  packages/cli/package.json
  yarn.lock
Labels: area: cli, semver: patch, pr: automerge

#9048 [docs] Delete duplicate security.md
  .github/SECURITY.md
Labels: area: docs, semver: patch, pr: automerge

#9050 [tests] Create label-triaged.yml
  .github/workflows/label-triaged.yml
Labels: area: tests, semver: patch, pr: automerge

#9051 [tests] Create label-feature-request.yml
  .github/workflows/label-feature-request.yml
Labels: area: tests, semver: patch, pr: automerge

#9028 [cli] Add `--git-branch` option to `vc pull` and `vc env pull`
  packages/cli/src/commands/env/index.ts
  packages/cli/src/commands/env/pull.ts
  packages/cli/src/commands/pull.ts
  packages/cli/src/util/env/get-env-records.ts
  packages/cli/test/mocks/project.ts
  packages/cli/test/unit/commands/env.test.ts
Labels: area: cli, semver: minor, pr: automerge

#9056 [tests] Update to use `actions/cache@v3`
  .github/workflows/publish.yml
  .github/workflows/test-integration-cli.yml
  .github/workflows/test-unit.yml
  .github/workflows/test.yml
Labels: area: tests, semver: patch, pr: automerge

#8991 [next] Use MIB for Lambda constants
  packages/next/package.json
  packages/next/src/edge-function-source/constants.ts
  packages/next/src/index.ts
  packages/next/src/utils.ts
  packages/next/test/integration/index.test.js
  packages/next/test/integration/test-limit-exceeded-404-static-files/pages/404.js
Labels: semver: patch, area: next, pr: automerge

#9070 [examples] Upgrade SvelteKit template to 1.0.0
  .prettierignore
  examples/sveltekit-1/.eslintignore
  examples/sveltekit-1/.eslintrc.cjs
  examples/sveltekit-1/.gitignore
  examples/sveltekit-1/.npmrc
  examples/sveltekit-1/.prettierignore
  examples/sveltekit-1/.prettierrc
  examples/sveltekit-1/README.md
  examples/sveltekit-1/jsconfig.json
  examples/sveltekit-1/package.json
  examples/sveltekit-1/playwright.config.js
  examples/sveltekit-1/pnpm-lock.yaml
  examples/sveltekit-1/src/app.d.ts
  examples/sveltekit-1/src/app.html
  examples/sveltekit-1/src/lib/images/github.svg
  examples/sveltekit-1/src/lib/images/svelte-logo.svg
  examples/sveltekit-1/src/lib/images/svelte-welcome.png
  examples/sveltekit-1/src/lib/images/svelte-welcome.webp
  examples/sveltekit-1/src/routes/+layout.svelte
  examples/sveltekit-1/src/routes/+page.js
  examples/sveltekit-1/src/routes/+page.svelte
  examples/sveltekit-1/src/routes/Counter.svelte
  examples/sveltekit-1/src/routes/Header.svelte
  examples/sveltekit-1/src/routes/about/+page.js
  examples/sveltekit-1/src/routes/about/+page.svelte
  examples/sveltekit-1/src/routes/styles.css
  examples/sveltekit-1/src/routes/sverdle/+page.server.js
  examples/sveltekit-1/src/routes/sverdle/+page.svelte
  examples/sveltekit-1/src/routes/sverdle/game.js
  examples/sveltekit-1/src/routes/sverdle/game.test.js
  examples/sveltekit-1/src/routes/sverdle/how-to-play/+page.js
  examples/sveltekit-1/src/routes/sverdle/how-to-play/+page.svelte
  examples/sveltekit-1/src/routes/sverdle/reduced-motion.js
  examples/sveltekit-1/src/routes/sverdle/words.server.js
  examples/sveltekit-1/static/favicon.png
  examples/sveltekit-1/static/robots.txt
  examples/sveltekit-1/svelte.config.js
  examples/sveltekit-1/tests/test.js
  examples/sveltekit-1/vite.config.js
  package.json
  packages/frameworks/src/frameworks.ts
  yarn.lock
Labels: area: examples, semver: minor

#9081 feat(edge): adds json() response helper
  packages/edge/docs/README.md
  packages/edge/src/index.ts
  packages/edge/src/response.ts
  packages/edge/test/response.test.ts
Labels: semver: minor, area: edge, pr: automerge

#8993 [tests] add eslintcache
  .gitignore
  package.json
Labels: area: tests, semver: patch, pr: automerge

#9100 [cli] Only throw DeploymentNotReady if deployment not ready
  packages/cli/src/util/alias/create-alias.ts
Labels: area: cli, semver: patch, pr: automerge

#8370 [cli] Add `Output#link()` function to format terminal hyperlinks
  packages/cli/package.json
  packages/cli/src/util/output/create-output.ts
  packages/cli/test/unit/util/output/create-output.test.ts
  packages/cli/types/supports-hyperlinks/index.d.ts
  yarn.lock
Labels: area: cli, semver: minor, pr: automerge

#9110 [next] Disable Image Optimization API when next.config.js has `unoptimized: true`
  packages/next/src/index.ts
  packages/next/src/server-build.ts
  packages/next/src/utils.ts
  packages/next/test/unit/utils.test.js
Labels: semver: patch, area: next, pr: automerge

#9111 [next] Handle output location
  packages/next/src/index.ts
Labels: semver: patch, area: next, pr: automerge

#9112 [next] Ensure updated path is specific
  packages/next/src/index.ts
Labels: semver: patch, area: next, pr: automerge

#9103 [build-utils] Support empty directory entries for `glob()` and `download()`
  packages/build-utils/src/fs/download.ts
  packages/build-utils/src/fs/glob.ts
  packages/build-utils/test/unit.download.test.ts
  packages/build-utils/test/unit.glob.test.ts
  packages/build-utils/test/unit.test.ts
Labels: area: build-utils, semver: patch, pr: automerge

#9115 [frameworks] Fix vitepress output directory
  packages/frameworks/src/frameworks.ts
Labels: area: frameworks, semver: patch, pr: automerge

#9138 [docs] fix typo in DEVELOPING_A_RUNTIME.md
  DEVELOPING_A_RUNTIME.md
Labels: area: docs, semver: patch, pr: automerge
