Repository vercel/vercel, pull requests merged in 2022-07, with the labels that each got.

#8068 [tests] Add yarn.lock to saber test fixture
  packages/static-build/test/fixtures/25-saber/yarn.lock
Labels: area: tests, semver-patch

#8065 [build-utils][next][redwood][remix][static-build] Fix corepack path prepend
  packages/build-utils/src/fs/run-user-scripts.ts
  packages/build-utils/test/unit.get-env-for-package-manager.test.ts
  packages/build-utils/test/unit.get-spawn-options.test.ts
  packages/next/src/index.ts
  packages/redwood/src/index.ts
  packages/remix/src/build.ts
  packages/static-build/src/index.ts
Labels: area: build-utils, semver-patch, area: static-build, area: redwood, area: next, area: remix

#8069 [cli] Fix Middleware "matchers" with query string in `vc dev`
  packages/cli/test/dev/fixtures/middleware-matchers/middleware.js
  packages/cli/test/dev/integration-4.test.ts
  packages/node/src/index.ts
Labels: bug, area: cli, area: dev, semver-patch

#8070 [examples] Remove stray `console.log`.
  examples/create-react-app/src/vitals.js
Labels: area: examples, semver-patch

#8082 [build-utils] Stricter `getNodeBinPath` return type
  packages/build-utils/src/fs/run-user-scripts.ts
Labels: area: build-utils, semver-patch

#8080 Update trailing slash handling for _next/data resolving
  packages/next/src/index.ts
  packages/next/src/server-build.ts
Labels: semver-patch, area: next

#8084 [tests] Update canary dist-tag on publish
  utils/publish.sh
  utils/update-canary-tag.js
Labels: area: tests, semver-patch

#8085 [cli] MAJOR: remove `vc deploy` clipboard copy feature
  packages/cli/package.json
  packages/cli/src/commands/deploy/args.ts
  packages/cli/src/commands/deploy/index.ts
  packages/cli/test/dev/utils.js
  test/benchmark.js
  yarn.lock
Labels: area: cli, semver-major

#8053 [cli] MAJOR: Scope `vc ls` to linked project
  packages/cli/src/commands/list.ts
  packages/cli/src/types.ts
  packages/cli/src/util/ensure-link.ts
  packages/cli/test/fixtures/unit/commands/list/with-team/.gitignore
  packages/cli/test/fixtures/unit/commands/list/with-team/.vercel/project.json
  packages/cli/test/integration.js
  packages/cli/test/mocks/deployment.ts
  packages/cli/test/mocks/project.ts
  packages/cli/test/unit/commands/list.test.ts
  packages/client/src/types.ts
Labels: area: cli, semver-major

#8089 [cli] Remove redundant mock project endpoint
  packages/cli/test/mocks/project.ts
Labels: area: cli, semver-patch

#8014 [cli] Add `vc project connect` command
  packages/cli/src/commands/deploy/index.ts
  packages/cli/src/commands/projects.ts
  packages/cli/src/types.ts
  packages/cli/src/util/create-git-meta.ts
  packages/cli/src/util/input/select-org.ts
  packages/cli/src/util/projects/connect-git-provider.ts
  packages/cli/test/fixtures/unit/commands/projects/connect/bad-remote-url/git/HEAD
  packages/cli/test/fixtures/unit/commands/projects/connect/bad-remote-url/git/config
  packages/cli/test/fixtures/unit/commands/projects/connect/bad-remote-url/git/info/exclude
  packages/cli/test/fixtures/unit/commands/projects/connect/existing-connection/git/HEAD
  packages/cli/test/fixtures/unit/commands/projects/connect/existing-connection/git/config
  packages/cli/test/fixtures/unit/commands/projects/connect/existing-connection/git/info/exclude
  packages/cli/test/fixtures/unit/commands/projects/connect/invalid-repo/git/HEAD
  packages/cli/test/fixtures/unit/commands/projects/connect/invalid-repo/git/config
  packages/cli/test/fixtures/unit/commands/projects/connect/invalid-repo/git/info/exclude
  packages/cli/test/fixtures/unit/commands/projects/connect/new-connection/git/HEAD
  packages/cli/test/fixtures/unit/commands/projects/connect/new-connection/git/config
  packages/cli/test/fixtures/unit/commands/projects/connect/new-connection/git/info/exclude
  packages/cli/test/fixtures/unit/commands/projects/connect/no-git-config/file.txt
  packages/cli/test/fixtures/unit/commands/projects/connect/no-remote-url/git/HEAD
  packages/cli/test/fixtures/unit/commands/projects/connect/no-remote-url/git/config
  packages/cli/test/fixtures/unit/commands/projects/connect/no-remote-url/git/info/exclude
  packages/cli/test/fixtures/unit/commands/projects/connect/same-repo-connection/git/HEAD
  packages/cli/test/fixtures/unit/commands/projects/connect/same-repo-connection/git/config
  packages/cli/test/fixtures/unit/commands/projects/connect/same-repo-connection/git/info/exclude
  packages/cli/test/fixtures/unit/commands/projects/connect/unlinked/.gitignore
  packages/cli/test/fixtures/unit/commands/projects/connect/unlinked/git/HEAD
  packages/cli/test/fixtures/unit/commands/projects/connect/unlinked/git/config
  packages/cli/test/fixtures/unit/commands/projects/connect/unlinked/git/info/exclude
  packages/cli/test/mocks/project.ts
  packages/cli/test/unit/commands/projects.test.ts
  packages/cli/test/unit/util/deploy/create-git-meta.test.ts
Labels: area: cli, semver-minor

#8099 [cli] Support Builders that don't define `version` property
  packages/cli/src/util/build/write-build-result.ts
  packages/cli/test/fixtures/unit/commands/build/versionless-builder/.vercel/builders/.gitignore
  packages/cli/test/fixtures/unit/commands/build/versionless-builder/.vercel/builders/node_modules/versionless-builder/main.js
  packages/cli/test/fixtures/unit/commands/build/versionless-builder/.vercel/builders/node_modules/versionless-builder/package.json
  packages/cli/test/fixtures/unit/commands/build/versionless-builder/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/build/versionless-builder/package.json
  packages/cli/test/fixtures/unit/commands/build/versionless-builder/vercel.json
  packages/cli/test/unit/commands/build.test.ts
Labels: area: cli, semver-patch

#8097 [node] Provide correct `middlewarePath` when using "Root Directory" setting
  packages/cli/test/fixtures/unit/commands/build/middleware-root-directory/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/build/middleware-root-directory/sub/index.html
  packages/cli/test/fixtures/unit/commands/build/middleware-root-directory/sub/middleware.js
  packages/cli/test/unit/commands/build.test.ts
  packages/node/package.json
  packages/node/src/index.ts
  packages/node/src/utils.ts
  packages/node/test/utils.test.ts
Labels: area: node, semver-patch

#8094 [cli] Fix `vc deploy` erroring when `.git` is corrupt
  packages/cli/src/util/deploy/create-git-meta.ts
  packages/cli/test/fixtures/unit/create-git-meta/git-corrupt/git/config
  packages/cli/test/unit/util/deploy/create-git-meta.test.ts
Labels: area: cli, semver-patch

#7991 [cli] Remove beta warning for `vercel build`
  packages/cli/src/index.ts
Labels: area: cli, semver-patch

#8110 [tests] Try building with ENABLE_VC_BUILD
  api/package.json
  vercel.json
Labels: area: tests, semver-patch

#8113 [cli] Explicitly use `vc project` vs. `vc projects`
  packages/cli/src/commands/index.ts
  packages/cli/src/index.ts
  packages/cli/test/helpers/parse-table.ts
  packages/cli/test/integration.js
  packages/cli/test/unit/commands/list.test.ts
  packages/cli/test/unit/commands/project.test.ts
Labels: area: cli, semver-patch

#8112 [cli] Debug log error messages in `create-git-meta`
  packages/cli/src/util/deploy/create-git-meta.ts
  packages/cli/test/unit/util/deploy/create-git-meta.test.ts
Labels: area: cli, semver-patch

#8077 [remix] fix monorepo support
  packages/remix/src/build.ts
Labels: semver-patch, area: remix

#8116 [cli] Add `vc project disconnect`
  packages/cli/src/commands/project/disconnect.ts
  packages/cli/src/commands/project/index.ts
  packages/cli/test/unit/commands/project.test.ts
Labels: area: cli

#8129 [cli] Fix beta label
  packages/cli/src/index.ts
Labels: area: cli, semver-patch

#8048 [node] add links to edge error messages
  packages/node/src/dev-server.ts
Labels: area: node, semver-patch

#8128 [fs-detectors] process detectFramework in parallel
  packages/fs-detectors/src/detect-framework.ts
  packages/fs-detectors/test/unit.framework-detector.test.ts
Labels: semver-patch, area: fs-detectors

#8132 [tests] Fix flaky Git meta test
  packages/cli/test/helpers/read-output-stream.ts
  packages/cli/test/unit/util/deploy/create-git-meta.test.ts
Labels: area: tests, semver-patch

#8133 [tests] Add retry to npm tests
  packages/build-utils/test/unit.test.ts
Labels: area: tests, semver-patch

#8127 [next][build-utils] allow to declare assets in EdgeFunction constructor
  packages/build-utils/src/edge-function.ts
  packages/next/src/utils.ts
Labels: area: build-utils, semver-patch, area: next

#8130 [next] Add EdgeRuntime provider environment variable to the builder
  packages/next/src/index.ts
Labels: semver-patch

#8138 [cli] Add `createdAt` to project settings in `vc pull`
  packages/cli/src/util/projects/project-settings.ts
  packages/cli/test/unit/commands/pull.test.ts
Labels: area: cli, semver-patch

#8134 [fs-detectors] Remove "solidstart" framework from FS API v2 detection
  packages/fs-detectors/src/detect-file-system-api.ts
Labels: semver-major, area: fs-detectors

#8100 [cli] Add ability to connect Git provider repo
  packages/cli/src/commands/deploy/args.ts
  packages/cli/src/commands/deploy/index.ts
  packages/cli/src/commands/git/connect.ts
  packages/cli/src/commands/git/disconnect.ts
  packages/cli/src/commands/git/index.ts
  packages/cli/src/commands/index.ts
  packages/cli/src/commands/project/index.ts
  packages/cli/src/index.ts
  packages/cli/src/types.ts
  packages/cli/src/util/create-git-meta.ts
  packages/cli/src/util/input/select-org.ts
  packages/cli/src/util/projects/connect-git-provider.ts
  packages/cli/test/fixtures/unit/commands/git/connect/bad-remote-url/.gitignore
  packages/cli/test/fixtures/unit/commands/git/connect/bad-remote-url/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/git/connect/bad-remote-url/git/config
  packages/cli/test/fixtures/unit/commands/git/connect/existing-connection/.gitignore
  packages/cli/test/fixtures/unit/commands/git/connect/existing-connection/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/git/connect/existing-connection/git/HEAD
  packages/cli/test/fixtures/unit/commands/git/connect/existing-connection/git/config
  packages/cli/test/fixtures/unit/commands/git/connect/existing-connection/git/description
  packages/cli/test/fixtures/unit/commands/git/connect/invalid-repo/.gitignore
  packages/cli/test/fixtures/unit/commands/git/connect/invalid-repo/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/git/connect/invalid-repo/git/config
  packages/cli/test/fixtures/unit/commands/git/connect/new-connection/.gitignore
  packages/cli/test/fixtures/unit/commands/git/connect/new-connection/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/git/connect/new-connection/git/config
  packages/cli/test/fixtures/unit/commands/git/connect/no-git-config/.gitignore
  packages/cli/test/fixtures/unit/commands/git/connect/no-git-config/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/git/connect/no-remote-url/.gitignore
  packages/cli/test/fixtures/unit/commands/git/connect/no-remote-url/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/git/connect/no-remote-url/git/config
  packages/cli/test/fixtures/unit/commands/git/connect/same-repo-connection/.gitignore
  packages/cli/test/fixtures/unit/commands/git/connect/same-repo-connection/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/git/connect/same-repo-connection/git/config
  packages/cli/test/fixtures/unit/commands/git/connect/unlinked/.gitignore
  packages/cli/test/fixtures/unit/commands/git/connect/unlinked/git/HEAD
  packages/cli/test/fixtures/unit/commands/git/connect/unlinked/git/config
  packages/cli/test/fixtures/unit/commands/git/connect/unlinked/git/description
  packages/cli/test/unit/commands/git.test.ts
  packages/cli/test/unit/util/deploy/create-git-meta.test.ts
Labels: area: cli, semver-minor

#8142 [remix] Fix `isMonorepo` check
  packages/remix/src/build.ts
Labels: semver-patch, area: remix

#8143 [tests] Add missing function import in Project mock
  packages/cli/test/mocks/project.ts
Labels: area: tests, semver-patch

#8144 [cli] Fix `vercel build` sort order
  packages/cli/src/commands/build.ts
  packages/cli/src/util/build/sort-builders.ts
  packages/cli/test/unit/util/build/sort-builders.test.ts
Labels: area: cli, semver-patch

#8146 [static-build] Return BOA v3 result without `vercel build`
  packages/static-build/src/utils/build-output-v3.ts
  packages/static-build/test/build.test.ts
Labels: semver-minor, area: static-config

#8148 [cli] Store build error in "builds.json" file in `vc build`
  .prettierignore
  packages/cli/src/commands/build.ts
  packages/cli/test/fixtures/unit/commands/build/node-error/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/build/node-error/api/es6.js
  packages/cli/test/fixtures/unit/commands/build/node-error/api/index.js
  packages/cli/test/fixtures/unit/commands/build/node-error/api/mjs.mjs
  packages/cli/test/fixtures/unit/commands/build/node-error/api/typescript.ts
  packages/cli/test/unit/commands/build.test.ts
Labels: area: cli, semver-minor

#8149 [cli] Normalize output file paths in `vercel build`
  packages/cli/src/util/build/write-build-result.ts
  packages/cli/test/fixtures/unit/commands/build/versionless-builder/.vercel/builders/node_modules/versionless-builder/main.js
  packages/cli/test/unit/commands/build.test.ts
Labels: area: cli, semver-patch

#8152 [tests] Update to latest version of turbo
  package.json
  yarn.lock
Labels: area: tests, semver-patch

#8156 [tests] Update log for update-canary-tag script
  utils/update-canary-tag.js
Labels: area: tests, semver-patch

#8158 [next] Update allowQuery for prerendered paths
  packages/next/src/server-build.ts
  packages/next/src/utils.ts
  packages/next/test/fixtures/00-server-build/index.test.js
  packages/next/test/fixtures/00-server-build/pages/api/revalidate.js
  packages/next/test/fixtures/00-server-build/pages/fallback-blocking/[slug].js
  packages/next/test/integration/index.test.js
  packages/next/test/integration/server-build/next.config.js
  packages/next/test/utils.ts
Labels: semver-patch, area: next

#8163 [cli] write config.json when exiting because of error in builder
  packages/cli/src/commands/build.ts
  packages/cli/test/unit/commands/build.test.ts
Labels: area: cli, semver-patch

#8155 [routing-utils] MAJOR refactor getTransformedRoutes and types
  packages/cli/src/commands/build.ts
  packages/cli/src/util/dev/server.ts
  packages/fs-detectors/src/detect-builders.ts
  packages/fs-detectors/test/unit.builds-and-routes-detector.test.ts
  packages/next/src/index.ts
  packages/next/src/server-build.ts
  packages/next/src/utils.ts
  packages/redwood/src/index.ts
  packages/redwood/test/test.js
  packages/routing-utils/src/index.ts
  packages/routing-utils/src/types.ts
  packages/routing-utils/test/index.spec.ts
  packages/routing-utils/test/superstatic.spec.ts
  packages/static-build/src/index.ts
Labels: area: routing-utils, semver-major

#8167 [build-utils][node][python][ruby] Update error message for EOL runtimes
  packages/build-utils/src/fs/node-version.ts
  packages/build-utils/test/unit.test.ts
  packages/python/src/version.ts
  packages/python/test/fixtures/02-wsgi-pipenv/vercel.json
  packages/python/test/fixtures/03-env-vars/vercel.json
  packages/python/test/unit.test.ts
  packages/ruby/install-ruby.ts
  packages/ruby/test/test.js
Labels: area: build-utils, area: node, area: python, area: ruby, semver-patch

#8059 [cli] Print full error when unknown/unexpected
  packages/cli/src/index.ts
Labels: area: cli, semver-patch

#8181 [tests] Upgrade python tests to 3.9
  packages/python/test/fixtures/02-wsgi-pipenv/Pipfile
  packages/python/test/fixtures/02-wsgi-pipenv/Pipfile.lock
  packages/python/test/fixtures/02-wsgi-pipenv/vercel.json
  packages/python/test/fixtures/03-env-vars/Pipfile
  packages/python/test/fixtures/03-env-vars/Pipfile.lock
  packages/python/test/fixtures/03-env-vars/vercel.json
  packages/python/test/fixtures/08-django/Pipfile
  packages/python/test/fixtures/08-django/Pipfile.lock
  packages/python/test/fixtures/08-django/vercel.json
  packages/python/test/fixtures/11-asgi/Pipfile
  packages/python/test/fixtures/11-asgi/Pipfile.lock
  packages/python/test/fixtures/11-asgi/index.py
  packages/python/test/fixtures/11-asgi/requirements.txt
  packages/python/test/fixtures/11-asgi/vercel.json
  packages/python/test/fixtures/12-asgi-function/vercel.json
  packages/python/test/fixtures/15-binary-handler/index.py
  packages/python/test/fixtures/15-binary-handler/probe.js
  packages/python/test/fixtures/15-binary-handler/triangle.png
  packages/python/test/fixtures/15-binary-handler/vercel.json
  packages/python/test/fixtures/25-exclude-files/vercel.json
  packages/python/test/fixtures/27-square-brackets/vercel.json
  packages/python/test/fixtures/28-pydantic/vercel.json
  packages/python/test/unit.test.ts
  test/lib/deployment/now-deploy.js
Labels: area: python, area: tests, semver-patch

#8184 [cli] Set `ignoreBuildScript: true` option in "vc build" command
  packages/cli/src/commands/build.ts
  packages/cli/test/fixtures/unit/commands/build/static-with-pkg/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/build/static-with-pkg/index.html
  packages/cli/test/fixtures/unit/commands/build/static-with-pkg/package.json
  packages/cli/test/unit/commands/build.test.ts
Labels: area: cli, semver-patch

#8193 [cli] Write top-level error to `builds.json` file in "vc build"
  packages/cli/src/commands/build.ts
  packages/cli/src/util/error.ts
  packages/cli/test/fixtures/unit/commands/build/error-vercel-json-validation/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/build/error-vercel-json-validation/index.html
  packages/cli/test/fixtures/unit/commands/build/error-vercel-json-validation/vercel.json
  packages/cli/test/unit/commands/build.test.ts
  packages/cli/test/unit/util/error.test.ts
Labels: area: cli, semver-minor

#8180 [cli][client][build-utils][node][static-build] updated node-fetch to fix high severity security vulnerability
  api/package.json
  package.json
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/node/package.json
  packages/static-build/package.json
  yarn.lock
Labels: area: build-utils, area: node, area: cli, area: client, semver-patch, area: static-build

#8145 [cli] Support multiple remote URLs in Git config
  packages/cli/src/commands/deploy/index.ts
  packages/cli/src/commands/git/connect.ts
  packages/cli/src/util/create-git-meta.ts
  packages/cli/src/util/input/list.ts
  packages/cli/test/fixtures/unit/commands/git/connect/multiple-remotes/.gitignore
  packages/cli/test/fixtures/unit/commands/git/connect/multiple-remotes/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/git/connect/multiple-remotes/git/HEAD
  packages/cli/test/fixtures/unit/commands/git/connect/multiple-remotes/git/config
  packages/cli/test/fixtures/unit/commands/git/connect/multiple-remotes/git/description
  packages/cli/test/fixtures/unit/create-git-meta/connected-repo/.gitignore
  packages/cli/test/fixtures/unit/create-git-meta/connected-repo/.vercel/project.json
  packages/cli/test/fixtures/unit/create-git-meta/connected-repo/git/COMMIT_EDITMSG
  packages/cli/test/fixtures/unit/create-git-meta/connected-repo/git/HEAD
  packages/cli/test/fixtures/unit/create-git-meta/connected-repo/git/config
  packages/cli/test/fixtures/unit/create-git-meta/connected-repo/git/description
  packages/cli/test/fixtures/unit/create-git-meta/connected-repo/git/objects/45/b983be36b73c0788dc9cbcb76cbb80fc7bb057
  packages/cli/test/fixtures/unit/create-git-meta/connected-repo/git/objects/80/50816205303e5957b2909083c50677930d5b29
  packages/cli/test/fixtures/unit/create-git-meta/connected-repo/git/objects/b2/e4d98c09ed53967b0a8f67c293c04ca4173438
  packages/cli/test/fixtures/unit/create-git-meta/connected-repo/git/refs/heads/master
  packages/cli/test/fixtures/unit/create-git-meta/connected-repo/index.txt
  packages/cli/test/fixtures/unit/create-git-meta/multiple-remotes/git/HEAD
  packages/cli/test/fixtures/unit/create-git-meta/multiple-remotes/git/config
  packages/cli/test/fixtures/unit/create-git-meta/multiple-remotes/git/description
  packages/cli/test/unit/commands/git.test.ts
  packages/cli/test/unit/util/deploy/create-git-meta.test.ts
Labels: area: cli, semver-minor

#8095 [cli][dev] handle no response from edge functions
  packages/cli/test/dev/fixtures/edge-function-error/api/edge-no-response.js
  packages/cli/test/dev/fixtures/middleware-no-response/api/hello.js
  packages/cli/test/dev/fixtures/middleware-no-response/middleware.js
  packages/cli/test/dev/integration-1.test.ts
  packages/cli/test/dev/integration-4.test.ts
  packages/node/src/dev-server.ts
Labels: area: cli, area: dev, semver-patch

#8172 [next] Ensure manifests are specific to the included pages
  packages/next/src/server-build.ts
  packages/next/test/fixtures/00-mixed-dynamic-routes/index.test.js
  packages/next/test/fixtures/00-mixed-dynamic-routes/package.json
  packages/next/test/fixtures/00-mixed-dynamic-routes/pages/[...slug].js
  packages/next/test/fixtures/00-mixed-dynamic-routes/pages/[slug].js
  packages/next/test/fixtures/00-mixed-dynamic-routes/pages/index.js
  packages/next/test/fixtures/00-mixed-dynamic-routes/vercel.json
  test/lib/run-build-lambda.js
Labels: semver-patch, area: next

#8086 [cli] improve `isBundledBuilder` logic
  packages/cli/src/util/dev/builder-cache.ts
  packages/cli/test/unit/util/dev/builder-cache.test.ts
Labels: area: cli, area: dev, semver-patch

#8207 [cli][dev] support environment variables in edge functions during `vc dev`
  packages/cli/test/dev/fixtures/edge-function/api/edge-success.js
  packages/cli/test/dev/integration-1.test.ts
  packages/node/src/dev-server.ts
Labels: area: cli, area: dev, semver-patch

#8208 [next][node][redwood][remix] Update `@vercel/nft` to 0.21.0
  packages/next/package.json
  packages/next/test/integration/test-limit-exceeded-404-static-files/next.config.js
  packages/node/package.json
  packages/redwood/package.json
  packages/remix/package.json
  test/lib/run-build-lambda.js
  yarn.lock
Labels: area: node, semver-patch, area: redwood, area: next, area: remix

#7866 [cli] Lazy-load "metrics" object to fix jest reporting open handle
  packages/cli/src/index.ts
  packages/cli/src/util/output/error.ts
Labels: area: cli, area: tests, semver-patch

#8209 [utils] allow a github PAT token to get past rate limit
  utils/changelog.js
Labels: semver-patch

#8194 [cli] Prevent `vc deploy --prebuilt` when `vc build` failed
  packages/cli/src/commands/build.ts
  packages/cli/src/commands/deploy/index.ts
  packages/cli/src/util/deploy/get-prebuilt-json.ts
  packages/cli/test/fixtures/unit/build-output-api-failed-before-builds/.gitignore
  packages/cli/test/fixtures/unit/build-output-api-failed-before-builds/.vercel/output/builds.json
  packages/cli/test/fixtures/unit/build-output-api-failed-within-build/.gitignore
  packages/cli/test/fixtures/unit/build-output-api-failed-within-build/.vercel/output/builds.json
  packages/cli/test/fixtures/unit/build-output-api-preview/.gitignore
  packages/cli/test/fixtures/unit/build-output-api-production/.gitignore
  packages/cli/test/unit/commands/deploy.test.ts
Labels: area: cli, semver-patch

#8218 [next] Fix error message typo
  packages/next/src/index.ts
Labels: semver-patch, area: next

#8225 [docs] Fix CONTRIBUTING file local development guideline, change dir after git clone
  .github/CONTRIBUTING.md
Labels: area: docs, semver-patch

#8226 [next] Update size limit test
  packages/next/test/integration/test-limit-exceeded-server-build/pages/api/chrome.js
Labels: area: tests, semver-patch, area: next

#8220 [cli] Add support for Vercel Analytics in "vercel build" command
  packages/cli/src/commands/build.ts
  packages/cli/src/types.ts
  packages/cli/src/util/projects/project-settings.ts
  packages/cli/test/fixtures/unit/commands/build/vercel-analytics/.gitignore
  packages/cli/test/fixtures/unit/commands/build/vercel-analytics/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/build/vercel-analytics/env.js
  packages/cli/test/fixtures/unit/commands/build/vercel-analytics/package.json
  packages/cli/test/unit/commands/build.test.ts
Labels: area: cli, semver-patch

#8224 [cli] Use `ts-node` with SWC instead of `ts-eager`
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/tsconfig.json
  yarn.lock
Labels: area: cli, area: tests, semver-patch

#8170 [cli] Log delta in `vc env pull`
  packages/cli/src/commands/deploy/index.ts
  packages/cli/src/commands/env/add.ts
  packages/cli/src/commands/env/pull.ts
  packages/cli/src/commands/pull.ts
  packages/cli/src/util/env/add-env-record.ts
  packages/cli/src/util/env/diff-env-files.ts
  packages/cli/src/util/parse-env.ts
  packages/cli/test/fixtures/unit/vercel-env-pull-delta-corrupt/.env
  packages/cli/test/fixtures/unit/vercel-env-pull-delta-corrupt/.gitignore
  packages/cli/test/fixtures/unit/vercel-env-pull-delta-corrupt/.vercel/project.json
  packages/cli/test/fixtures/unit/vercel-env-pull-delta/.env
  packages/cli/test/fixtures/unit/vercel-env-pull-delta/.gitignore
  packages/cli/test/fixtures/unit/vercel-env-pull-delta/.vercel/project.json
  packages/cli/test/mocks/project.ts
  packages/cli/test/unit/commands/env.test.ts
  packages/cli/test/unit/commands/pull.test.ts
Labels: area: cli, semver-minor

#8210 [cli][build-utils] Fix dependencies for `boxen`
  packages/build-utils/package.json
  packages/cli/package.json
Labels: area: build-utils, area: cli, semver-patch

#8222 [cli] Add "dev" script, remove "build-dev" script
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/scripts/build.ts
Labels: area: cli, semver-patch

#8228 [cli] Do not load `.env` in "vercel build" command
  packages/cli/src/commands/build.ts
  packages/cli/test/fixtures/unit/commands/build/env-from-vc-pull/.gitignore
  packages/cli/test/fixtures/unit/commands/build/env-from-vc-pull/.vercel/.env.preview.local
  packages/cli/test/fixtures/unit/commands/build/env-from-vc-pull/.vercel/.env.production.local
  packages/cli/test/fixtures/unit/commands/build/env-from-vc-pull/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/build/env-from-vc-pull/env.js
  packages/cli/test/fixtures/unit/commands/build/env-from-vc-pull/package.json
  packages/cli/test/fixtures/unit/commands/build/env-root-level/.env
  packages/cli/test/fixtures/unit/commands/build/env-root-level/.gitignore
  packages/cli/test/fixtures/unit/commands/build/env-root-level/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/build/env-root-level/env.js
  packages/cli/test/fixtures/unit/commands/build/env-root-level/package.json
  packages/cli/test/unit/commands/build.test.ts
Labels: area: cli, semver-patch

#8230 [build-utils] Fix package.json and lockfile detection
  packages/build-utils/src/fs/run-user-scripts.ts
  packages/build-utils/test/unit.test.ts
Labels: area: build-utils, semver-patch

#8241 Revert "[python] support Sanic >=21 and python >= 3.10"
  packages/python/test/fixtures/30-asgi-lifespan/Pipfile
  packages/python/test/fixtures/30-asgi-lifespan/Pipfile.lock
  packages/python/test/fixtures/30-asgi-lifespan/api/raw.py
  packages/python/test/fixtures/30-asgi-lifespan/api/sani22.py
  packages/python/test/fixtures/30-asgi-lifespan/vercel.json
  packages/python/vc_init.py
Labels: area: python, semver-patch

#8244 [cli] fix zero config resolution in `vc build`
  packages/cli/src/commands/build.ts
Labels: area: cli, semver-patch

#8246 [tests] Fix turbo cache for test changes
  test/lib/deployment/now-deploy.js
  turbo.json
Labels: area: tests, semver-patch

#8243 [cli] Apply `functions` configuration to Serverless Functions in "vc build"
  packages/cli/src/commands/build.ts
  packages/cli/src/util/build/write-build-result.ts
  packages/cli/test/fixtures/unit/commands/build/lambda-with-128-memory/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/build/lambda-with-128-memory/api/memory.js
  packages/cli/test/fixtures/unit/commands/build/lambda-with-128-memory/vercel.json
  packages/cli/test/unit/commands/build.test.ts
Labels: area: cli, semver-patch

#8247 [tests] Update node tests to run concurrently
  packages/node/package.json
  packages/node/test/integration-1.test.js
  packages/node/test/integration-2.test.js
  packages/node/test/integration-3.test.js
  packages/node/test/integration-4.test.js
  packages/node/test/integration-5.test.js
  packages/node/test/integration-setup.js
  packages/node/test/integration.test.js
Labels: area: node, area: tests, semver-patch

#8248 [all] Update `@vercel/ncc` to v0.34.0
  packages/build-utils/package.json
  packages/cli/package.json
  packages/go/package.json
  packages/node/package.json
  packages/python/package.json
  packages/ruby/package.json
  packages/static-build/package.json
  yarn.lock
Labels: area: build-utils, area: go, area: node, area: python, area: routing-utils, area: ruby, area: cli, area: client, area: dev, area: frameworks, semver-patch, area: static-build, area: redwood, area: next, area: fs-detectors

#8160 [cli] Minor `vc inspect` visual updates
  packages/cli/src/commands/inspect.ts
  packages/cli/src/util/output/builds.ts
  packages/cli/test/unit/commands/inspect.test.ts
  packages/client/src/types.ts
Labels: area: cli, semver-minor

#8255 [static-build] Add .vercel to static-build ignore list regardless of config
  packages/cli/test/helpers/prepare.js
  packages/cli/test/integration.js
  packages/static-build/src/index.ts
Labels: semver-patch, area: static-build

#8258 [tests] Fix next runtime test
  packages/next/test/fixtures/00-nested-build/vercel.json
Labels: area: tests, semver-patch, area: next

#8261 [tests] Speed up vc tarball
  api/package.json
Labels: area: tests, semver-patch

#8260 [node] trim down values to only what is required for esbuild wrapping logic
  packages/node/src/dev-server.ts
Labels: area: node, semver-patch

#8257 [tests] Update tests to run with vercel cli tarball
  .github/workflows/test.yml
  packages/build-utils/test/integration.test.ts
  packages/fs-detectors/test/integration.test.ts
  packages/go/test/fixtures/17-go-mod-api/vercel.json
  packages/go/test/test.js
  packages/hydrogen/test/test.js
  packages/next/test/utils.ts
  packages/node/test/fixtures/35-puppeteer/api/screenshot.js
  packages/node/test/fixtures/35-puppeteer/lighthouse/index.js
  packages/node/test/fixtures/35-puppeteer/package.json
  packages/node/test/fixtures/35-puppeteer/probe.js
  packages/node/test/fixtures/35-puppeteer/vercel.json
  packages/node/test/fixtures/35-puppeteer/yarn.lock
  packages/node/test/integration-setup.js
  packages/python/test/integration.test.ts
  packages/redwood/test/test.js
  packages/remix/test/test.js
  packages/ruby/test/test.js
  packages/static-build/test/integration-setup.js
  test/lib/deployment/now-deploy.js
  test/lib/deployment/test-deployment.js
  utils/chunk-tests.js
Labels: area: tests, semver-patch

#8263 [node] Remove `.toString()` in nft `readFile()` hook
  packages/node/src/index.ts
Labels: area: node, semver-patch

#8256 [cli] Add 'alias' command to help screen and alphabetize commands
  packages/cli/src/commands/deploy/args.ts
Labels: area: cli, semver-patch

#8262 [node] Consider "browser" and "module" fields in `package.json` when tracing Edge Functions
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/api/prefer-browser.js
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/api/prefer-main.js
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/api/prefer-module.js
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/api/use-browser.js
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/api/use-classic.js
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/api/use-main.js
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/api/use-module.js
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/packages/only-browser/dist-browser.js
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/packages/only-browser/package.json
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/packages/only-classic/index.js
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/packages/only-classic/package.json
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/packages/only-main/dist-main.js
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/packages/only-main/package.json
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/packages/only-module/dist-module.js
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/packages/only-module/package.json
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/packages/prefer-browser/dist-browser.js
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/packages/prefer-browser/dist-main.js
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/packages/prefer-browser/dist-module.js
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/packages/prefer-browser/index.js
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/packages/prefer-browser/package.json
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/packages/prefer-main/dist-main.js
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/packages/prefer-main/index.js
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/packages/prefer-main/package.json
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/packages/prefer-module/dist-main.js
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/packages/prefer-module/dist-module.js
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/packages/prefer-module/index.js
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/packages/prefer-module/package.json
  packages/cli/test/unit/commands/build.test.ts
  packages/node/src/index.ts
Labels: area: node, semver-patch

#8264 [tests] Remove turbo's `dependsOn` to speed up tests
  turbo.json
Labels: area: tests, semver-patch

#8273 [cli] Fix `vc build` with legacy `@now/static`
  packages/cli/src/util/build/import-builders.ts
  packages/cli/test/fixtures/unit/commands/build/now-static/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/build/now-static/readme.md
  packages/cli/test/fixtures/unit/commands/build/now-static/vercel.json
  packages/cli/test/fixtures/unit/commands/build/now-static/www/index.html
  packages/cli/test/unit/commands/build.test.ts
Labels: area: cli, semver-patch

#8274 [tests] Run dev e2e against same cli version
  packages/cli/test/dev/integration-4.test.ts
  packages/cli/test/dev/utils.js
  packages/cli/test/helpers/prepare.js
  packages/cli/test/integration.js
Labels: area: tests, semver-patch

#8276 [all] Revert ncc back to 0.24.0
  packages/build-utils/package.json
  packages/cli/package.json
  packages/go/package.json
  packages/node/package.json
  packages/python/package.json
  packages/ruby/package.json
  packages/static-build/package.json
  yarn.lock
Labels: semver-patch

#8271 [cli] Fix env delta message
  packages/cli/src/util/env/diff-env-files.ts
  packages/cli/test/fixtures/unit/vercel-env-pull-delta-no-changes/.env
  packages/cli/test/fixtures/unit/vercel-env-pull-delta-no-changes/.gitignore
  packages/cli/test/fixtures/unit/vercel-env-pull-delta-no-changes/.vercel/project.json
  packages/cli/test/mocks/project.ts
  packages/cli/test/unit/commands/env.test.ts
Labels: area: cli, semver-patch
