Repository vercel/vercel, pull requests merged in 2022-08, with the labels that each got.

#8239 [fs-detectors] Exclude the middleware builder if it's a Next.js app
  packages/fs-detectors/src/detect-builders.ts
  packages/fs-detectors/test/unit.builds-and-routes-detector.test.ts
Labels: semver-patch, area: fs-detectors

#8286 [examples] Update Docusaurus 2 template for stable
  examples/docusaurus-2/README.md
  examples/docusaurus-2/babel.config.js
  examples/docusaurus-2/blog/2019-05-28-first-blog-post.md
  examples/docusaurus-2/blog/2019-05-29-hello-world.md
  examples/docusaurus-2/blog/2019-05-29-long-blog-post.md
  examples/docusaurus-2/blog/2019-05-30-welcome.md
  examples/docusaurus-2/blog/2021-08-01-mdx-blog-post.mdx
  examples/docusaurus-2/blog/2021-08-26-welcome/docusaurus-plushie-banner.jpeg
  examples/docusaurus-2/blog/2021-08-26-welcome/index.md
  examples/docusaurus-2/blog/authors.yml
  examples/docusaurus-2/docs/doc1.md
  examples/docusaurus-2/docs/doc2.md
  examples/docusaurus-2/docs/doc3.md
  examples/docusaurus-2/docs/intro.md
  examples/docusaurus-2/docs/mdx.md
  examples/docusaurus-2/docs/tutorial-basics/_category_.json
  examples/docusaurus-2/docs/tutorial-basics/congratulations.md
  examples/docusaurus-2/docs/tutorial-basics/create-a-blog-post.md
  examples/docusaurus-2/docs/tutorial-basics/create-a-document.md
  examples/docusaurus-2/docs/tutorial-basics/create-a-page.md
  examples/docusaurus-2/docs/tutorial-basics/deploy-your-site.md
  examples/docusaurus-2/docs/tutorial-basics/markdown-features.mdx
  examples/docusaurus-2/docs/tutorial-extras/_category_.json
  examples/docusaurus-2/docs/tutorial-extras/img/docsVersionDropdown.png
  examples/docusaurus-2/docs/tutorial-extras/img/localeDropdown.png
  examples/docusaurus-2/docs/tutorial-extras/manage-docs-versions.md
  examples/docusaurus-2/docs/tutorial-extras/translate-your-site.md
  examples/docusaurus-2/docusaurus.config.js
  examples/docusaurus-2/package.json
  examples/docusaurus-2/sidebars.js
  examples/docusaurus-2/src/components/HomepageFeatures/index.js
  examples/docusaurus-2/src/components/HomepageFeatures/styles.module.css
  examples/docusaurus-2/src/css/custom.css
  examples/docusaurus-2/src/pages/index.js
  examples/docusaurus-2/src/pages/index.module.css
  examples/docusaurus-2/src/pages/markdown-page.md
  examples/docusaurus-2/static/.nojekyll
  examples/docusaurus-2/static/img/docusaurus.png
  examples/docusaurus-2/static/img/favicon.ico
  examples/docusaurus-2/static/img/undraw_docusaurus_mountain.svg
  examples/docusaurus-2/static/img/undraw_docusaurus_react.svg
  examples/docusaurus-2/static/img/undraw_docusaurus_tree.svg
  examples/docusaurus-2/yarn.lock
Labels: area: examples, semver-patch

#8287 [go] remove `meta.isDev` references and restore partial tests
  packages/cli/test/dev/fixtures/go/api/[segment].go
  packages/cli/test/dev/fixtures/go/api/another.go
  packages/cli/test/dev/integration-4.test.ts
  packages/go/index.ts
  packages/go/test/fixtures/08-include-files/another.go
  packages/go/test/test.js
Labels: area: go, semver-patch

#8288 [build-utils] Fix symlink on download
  packages/build-utils/src/fs/download.ts
  packages/build-utils/test/unit.test.ts
Labels: area: build-utils, semver-patch

#8292 [docs] Link to Build Output API docs
  DEVELOPING_A_RUNTIME.md
Labels: area: docs, semver-patch

#8267 [dev] log middleware errors in vc dev
  packages/cli/src/util/dev/server.ts
  packages/cli/test/dev/fixtures/middleware-matchers-invalid/middleware.js
  packages/cli/test/dev/integration-1.test.ts
  packages/cli/test/dev/utils.js
  packages/node/src/dev-server.ts
  packages/node/src/utils.ts
Labels: area: dev, semver-patch

#7902 [next] Fix priority for notFound preview routes
  packages/next/src/server-build.ts
  packages/next/test/fixtures/00-server-build/next.config.js
  packages/next/test/fixtures/00-server-build/pages/build-time-not-found/[slug].js
  packages/next/test/fixtures/00-server-build/vercel.json
Labels: semver-patch, area: next

#8278 [next] Fix _next/data resolving priority for dynamic routes
  packages/next/src/server-build.ts
  packages/next/test/fixtures/00-middleware/middleware.js
  packages/next/test/fixtures/00-middleware/pages/[teamId]/[slug].js
  packages/next/test/fixtures/00-middleware/pages/dynamic/static.js
  packages/next/test/fixtures/00-middleware/vercel.json
  packages/next/test/integration/middleware.test.ts
Labels: semver-patch, area: next

#8297 [next] Ensure we resolve _next/data dynamic routes correctly with i18n
  packages/next/src/server-build.ts
  packages/next/test/fixtures/00-middleware-i18n/index.test.js
  packages/next/test/fixtures/00-middleware-i18n/middleware.js
  packages/next/test/fixtures/00-middleware-i18n/next.config.js
  packages/next/test/fixtures/00-middleware-i18n/package.json
  packages/next/test/fixtures/00-middleware-i18n/pages/[teamId]/[slug].js
  packages/next/test/fixtures/00-middleware-i18n/pages/_sites/[site].js
  packages/next/test/fixtures/00-middleware-i18n/pages/about.js
  packages/next/test/fixtures/00-middleware-i18n/pages/dynamic/[id]/index.js
  packages/next/test/fixtures/00-middleware-i18n/pages/dynamic/static.js
  packages/next/test/fixtures/00-middleware-i18n/pages/fetch-subrequest/index.js
  packages/next/test/fixtures/00-middleware-i18n/pages/home/a.js
  packages/next/test/fixtures/00-middleware-i18n/pages/home/b.js
  packages/next/test/fixtures/00-middleware-i18n/pages/index.js
  packages/next/test/fixtures/00-middleware-i18n/vercel.json
Labels: semver-patch, area: next

#8300 [python] Fix error message for discontinued Python 3.6
  packages/python/src/index.ts
  packages/python/test/fixtures/30-fail-build-invalid-pipfile/Pipfile
  packages/python/test/fixtures/30-fail-build-invalid-pipfile/Pipfile.lock
  packages/python/test/fixtures/30-fail-build-invalid-pipfile/api/index.py
  packages/python/test/fixtures/30-fail-build-invalid-pipfile/vercel.json
  packages/python/test/fixtures/31-fail-build-invalid-python36/Pipfile
  packages/python/test/fixtures/31-fail-build-invalid-python36/Pipfile.lock
  packages/python/test/fixtures/31-fail-build-invalid-python36/api/index.py
  packages/python/test/fixtures/31-fail-build-invalid-python36/vercel.json
  packages/python/test/integration.test.ts
Labels: area: python, semver-patch

#8304 [next] Update data route handling for i18n and static routes
  packages/next/src/server-build.ts
  packages/next/test/fixtures/00-middleware-i18n/vercel.json
  packages/next/test/fixtures/00-middleware/vercel.json
Labels: semver-patch, area: next

#8303 [cli] Minor `vc env pull` diff formatting changes
  packages/cli/src/commands/env/pull.ts
  packages/cli/src/util/env/diff-env-files.ts
  packages/cli/test/unit/commands/env.test.ts
Labels: area: cli, semver-patch

#8306 [static-build] set TURBO_CI_VENDOR_ENV_KEY environment variable
  packages/static-build/src/index.ts
  packages/static-build/test/fixtures/70-vercel-env-gatsby/package.json
  packages/static-build/test/fixtures/70-vercel-env-gatsby/vercel.json
Labels: semver-patch, area: static-build

#8305 [cli] Print error from Builder in `vc build`
  packages/cli/src/commands/build.ts
  packages/cli/test/unit/commands/build.test.ts
Labels: area: cli, semver-patch

#8307 [cli] Strip scheme from `vc inspect` argument
  packages/cli/src/commands/inspect.ts
  packages/cli/test/unit/commands/inspect.test.ts
Labels: area: cli, semver-patch

#8199 [cli] Remove legacy config file migration logic
  packages/cli/src/index.ts
  packages/cli/src/types.ts
  packages/cli/src/util/config/get-default.ts
Labels: area: cli, semver-patch

#8313 [next] Remove un-necessary duplicate i18n route
  packages/next/src/server-build.ts
Labels: semver-patch, area: next

#8270 [cli] recreate symlinked files instead of copying
  packages/build-utils/src/fs/download.ts
  packages/build-utils/src/index.ts
  packages/cli/src/util/build/write-build-result.ts
  packages/cli/test/fixtures/unit/commands/build/static-symlink/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/build/static-symlink/index.html
  packages/cli/test/unit/commands/build.test.ts
Labels: area: build-utils, area: cli, semver-minor

#8318 [tests] Update package.json scripts
  packages/build-utils/package.json
  packages/cli/package.json
  packages/edge/package.json
  packages/fs-detectors/package.json
  packages/go/package.json
  packages/hydrogen/package.json
  packages/next/package.json
  packages/node/package.json
  packages/python/package.json
  packages/redwood/package.json
  packages/remix/package.json
  packages/routing-utils/package.json
  packages/ruby/package.json
  packages/static-build/package.json
  packages/static-config/package.json
Labels: area: tests, semver-patch

#8321 [next] Remove middleware regexp modifying
  packages/next/src/server-build.ts
  packages/next/test/fixtures/00-middleware-i18n/vercel.json
  packages/next/test/fixtures/00-middleware/vercel.json
  packages/next/test/integration/middleware.test.ts
Labels: semver-patch, area: next

#8323 [next] Remove old middleware test
  packages/next/test/fixtures/00-middleware-i18n/vercel.json
Labels: area: tests, semver-patch, area: next

#8320 [cli] Fix vc secret rm
  packages/cli/src/commands/secrets.js
Labels: area: cli, semver-patch

#8324 [build-utils] Add flag to indicate that a custom runtime supports lambda wrappers
  packages/build-utils/src/lambda.ts
Labels: area: build-utils, semver-minor

#8317 [tests] Remove leftover debugging `.pipe()` call in vc build tests
  packages/cli/test/unit/commands/build.test.ts
Labels: area: tests, semver-patch

#8326 [cli] Always set `BROWSER=none` env var for frontend dev server in `vc dev`
  packages/cli/src/commands/dev/dev.ts
  packages/cli/src/util/dev/server.ts
  packages/cli/src/util/dev/types.ts
Labels: area: cli, area: dev, semver-patch

#8166 [build-utils] Refactor framework prefixed env vars into shared function
  packages/build-utils/src/get-prefixed-env-vars.ts
  packages/build-utils/src/index.ts
  packages/build-utils/test/unit.get-prefixed-env-vars.test.ts
  packages/next/src/index.ts
  packages/redwood/src/index.ts
  packages/static-build/src/index.ts
Labels: area: build-utils, semver-minor, area: static-build, area: redwood, area: next

#8352 [cli] Fix "retrieve" typo
  packages/cli/src/commands/build.ts
Labels: area: cli, semver-patch

#8354 chore(docs): use relative links for README
  README.md
Labels: area: docs, semver-patch

#8355 [build-utils] Push back `nodejs12.x` sunset date
  packages/build-utils/src/fs/node-version.ts
  packages/build-utils/test/unit.test.ts
Labels: area: build-utils, semver-patch

#8299 [go] fix function name conflict
  packages/go/index.ts
  packages/go/package.json
  packages/go/test/fixtures.test.js
  packages/go/test/fixtures/21-func-conflicts/dupe-handler.go
  packages/go/test/fixtures/21-func-conflicts/go.mod
  packages/go/test/fixtures/21-func-conflicts/index.go
  packages/go/test/fixtures/21-func-conflicts/other-package.go
  packages/go/test/fixtures/21-func-conflicts/sub/one.go
  packages/go/test/fixtures/21-func-conflicts/sub/two.go
  packages/go/test/fixtures/21-func-conflicts/vercel.json
  packages/go/test/index.test.ts
  packages/go/tsconfig.json
  yarn.lock
Labels: area: go, semver-patch

#8359 [next] Ensure $$ in ISR page is handled correctly
  packages/next/src/utils.ts
  packages/next/test/fixtures/00-i18n-support/pages/$$.js
  packages/next/test/fixtures/00-i18n-support/pages/$$b.js
  packages/next/test/fixtures/00-i18n-support/pages/b$$.js
  packages/next/test/fixtures/00-i18n-support/vercel.json
  packages/next/test/fixtures/00-server-build/pages/$$.js
  packages/next/test/fixtures/00-server-build/pages/$$b.js
  packages/next/test/fixtures/00-server-build/pages/b$$.js
  packages/next/test/fixtures/00-server-build/vercel.json
Labels: semver-patch, area: next

#8357 [examples] Update Astro template for 1.0.
  examples/astro/.gitignore
  examples/astro/.vercelignore
  examples/astro/README.md
  examples/astro/package.json
  examples/astro/src/components/Card.astro
  examples/astro/src/components/Layout.astro
  examples/astro/src/env.d.ts
  examples/astro/src/layouts/Layout.astro
  examples/astro/src/pages/index.astro
  examples/astro/tsconfig.json
  examples/astro/yarn.lock
Labels: area: examples, semver-patch

#8350 [go] add lambda wrapper support to the go runtime
  packages/go/index.ts
  packages/go/main.go
  packages/go/main__mod__.go
  packages/go/test/fixtures/22-large-environment/env/go.mod
  packages/go/test/fixtures/22-large-environment/env/index.go
  packages/go/test/fixtures/22-large-environment/now.json
Labels: area: go, semver-minor

#8360 chore(docs) Add details of how to enable lambda runtime wrappers to custom runtimes
  DEVELOPING_A_RUNTIME.md
Labels: area: docs, semver-patch

#8349 [node] adds /index to / middleware matchers
  packages/node/src/utils.ts
  packages/node/test/edge-matcher.test.ts
  packages/node/test/edge-wasm-plugin.test.ts
  packages/node/test/test-utils.ts
Labels: area: node, semver-patch

#8183 [cli] Fix dev query string merging
  packages/cli/src/util/dev/parse-query-string.ts
  packages/cli/src/util/dev/router.ts
  packages/cli/src/util/dev/server.ts
  packages/cli/src/util/dev/types.ts
  packages/cli/test/dev/fixtures/vite-dev/.gitignore
  packages/cli/test/dev/fixtures/vite-dev/index.html
  packages/cli/test/dev/fixtures/vite-dev/package.json
  packages/cli/test/dev/fixtures/vite-dev/public/favicon.ico
  packages/cli/test/dev/fixtures/vite-dev/src/App.vue
  packages/cli/test/dev/fixtures/vite-dev/src/assets/logo.png
  packages/cli/test/dev/fixtures/vite-dev/src/components/HelloWorld.vue
  packages/cli/test/dev/fixtures/vite-dev/src/main.js
  packages/cli/test/dev/fixtures/vite-dev/vite.config.js
  packages/cli/test/dev/fixtures/vite-dev/yarn.lock
  packages/cli/test/dev/integration-1.test.ts
  packages/cli/test/unit/util/dev/parse-query-string.test.ts
  packages/cli/test/unit/util/dev/router.test.ts
Labels: area: cli, area: dev, semver-patch

#8363 [tests] Use yarn --frozen-lockfile
  .github/workflows/publish.yml
  .github/workflows/test-integration-cli.yml
  .github/workflows/test-unit.yml
  .github/workflows/test.yml
Labels: area: tests, semver-patch

#8356 [client] Send single `source.tgz` archive when creating deployment
  packages/cli/src/commands/deploy/index.ts
  packages/cli/src/util/deploy/create-deploy.ts
  packages/cli/src/util/deploy/process-deployment.ts
  packages/cli/src/util/deploy/validate-archive-format.ts
  packages/cli/src/util/index.ts
  packages/cli/test/fixtures/unit/commands/deploy/archive/.gitignore
  packages/cli/test/fixtures/unit/commands/deploy/archive/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/deploy/archive/index.html
  packages/cli/test/fixtures/unit/commands/deploy/archive/style.css
  packages/cli/test/mocks/client.ts
  packages/cli/test/unit/commands/deploy.test.ts
  packages/client/package.json
  packages/client/src/create-deployment.ts
  packages/client/src/types.ts
  packages/client/src/utils/hashes.ts
  yarn.lock
Labels: area: client, semver-minor

#8367 [client] Fix `archive` type on `VercelClientOptions`
  packages/client/src/types.ts
Labels: area: client, semver-patch

#8217 [remix] add image optimization configuration
  packages/remix/src/build.ts
  packages/remix/src/types.ts
Labels: semver-minor, area: remix

#8375 Revert "[remix] add image optimization configuration"
  packages/remix/src/build.ts
  packages/remix/src/types.ts
Labels: semver-patch, area: remix

#8376 [build-utils] Remove `as` cast in `glob()`
  packages/build-utils/src/fs/glob.ts
Labels: area: build-utils, semver-patch

#8351 [cli] Accept URL argument in `vc git connect`
  packages/cli/src/commands/git/connect.ts
  packages/cli/src/commands/git/disconnect.ts
  packages/cli/src/commands/git/index.ts
  packages/cli/src/util/git/connect-git-provider.ts
  packages/cli/test/mocks/project.ts
  packages/cli/test/unit/commands/git.test.ts
  packages/cli/test/unit/util/deploy/create-git-meta.test.ts
Labels: area: cli, semver-minor

#8157 [cli] `vc project ls` visual updates
  packages/cli/src/commands/project/list.ts
  packages/cli/src/types.ts
  packages/cli/src/util/strlen.ts
  packages/cli/test/mocks/deployment.ts
  packages/cli/test/mocks/project.ts
  packages/cli/test/unit/commands/project.test.ts
Labels: area: cli, semver-minor

#8290 [cli] MAJOR: Connect a Git provider repository in `vc link`
  packages/build-utils/src/types.ts
  packages/cli/src/commands/git/connect.ts
  packages/cli/src/util/git/connect-git-provider.ts
  packages/cli/src/util/link/add-git-connection.ts
  packages/cli/src/util/link/git-connect-prompts.ts
  packages/cli/src/util/link/handle-options.ts
  packages/cli/src/util/link/setup-and-link.ts
  packages/cli/src/util/projects/create-project.ts
  packages/cli/src/util/projects/update-project.ts
  packages/cli/test/fixtures/unit/link-connect-git/multiple-remotes/.gitignore
  packages/cli/test/fixtures/unit/link-connect-git/multiple-remotes/git/config
  packages/cli/test/fixtures/unit/link-connect-git/single-remote-existing-link/.gitignore
  packages/cli/test/fixtures/unit/link-connect-git/single-remote-existing-link/git/config
  packages/cli/test/fixtures/unit/link-connect-git/single-remote/.gitignore
  packages/cli/test/fixtures/unit/link-connect-git/single-remote/git/config
  packages/cli/test/mocks/deployment.ts
  packages/cli/test/mocks/project.ts
  packages/cli/test/unit/commands/git.test.ts
  packages/cli/test/unit/commands/link.test.ts
  packages/cli/test/unit/util/deploy/create-git-meta.test.ts
Labels: area: cli, semver-major

#8377 [cli] MAJOR: Remove `vc billing` command
  packages/cli/package.json
  packages/cli/src/commands/billing/add.js
  packages/cli/src/commands/billing/index.js
  packages/cli/src/commands/deploy/args.ts
  packages/cli/src/commands/domains/buy.ts
  packages/cli/src/commands/domains/transfer-in.ts
  packages/cli/src/commands/index.ts
  packages/cli/src/index.ts
  packages/cli/src/util/billing/card-brands.json
  packages/cli/src/util/errors-ts.ts
  packages/cli/test/integration.js
  yarn.lock
Labels: area: cli, semver-major

#8151 [cli] MAJOR: `vc ls` visual changes
  packages/cli/src/commands/list.ts
  packages/cli/src/types.ts
  packages/cli/src/util/index.ts
  packages/cli/test/helpers/read-output-stream.ts
  packages/cli/test/mocks/deployment.ts
  packages/cli/test/unit/commands/list.test.ts
  packages/client/src/types.ts
Labels: area: cli, semver-major

#8371 [cli] Support more granular file upload progress bar
  packages/cli/src/util/deploy/process-deployment.ts
  packages/client/src/upload.ts
Labels: area: cli, area: client, semver-patch

#8380 [cli] improve `vc build --help` language
  packages/cli/src/commands/build.ts
Labels: area: cli, semver-patch

#8369 [cli] MAJOR: Remove update command
  packages/cli/src/commands/index.ts
  packages/cli/src/commands/update.ts
  packages/cli/src/index.ts
Labels: area: cli, semver-major

#8381 [ruby] Fix ruby version error message
  packages/ruby/install-ruby.ts
  packages/ruby/test/fixtures/11-version-2-5-error/Gemfile
  packages/ruby/test/test.js
Labels: area: ruby, semver-patch

#8388 [ruby] Handle exit code 18 gracefully
  packages/ruby/index.ts
  packages/ruby/install-ruby.ts
  packages/ruby/test/fixtures/02-cowsay-vendored/Gemfile
  packages/ruby/test/fixtures/04-cowsay-vendored-nested/project/Gemfile
  packages/ruby/test/fixtures/11-version-2-5-error/Gemfile
  packages/ruby/test/test.js
Labels: area: ruby, semver-patch

#8382 [cli] Fix `vc env pull` delta changes bug
  packages/cli/src/commands/env/pull.ts
  packages/cli/src/commands/env/rm.ts
  packages/cli/test/fixtures/unit/vercel-env-pull-delta-quotes/.env
  packages/cli/test/fixtures/unit/vercel-env-pull-delta-quotes/.env.testquotes
  packages/cli/test/fixtures/unit/vercel-env-pull-delta-quotes/.gitignore
  packages/cli/test/fixtures/unit/vercel-env-pull-delta-quotes/.vercel/project.json
  packages/cli/test/unit/commands/env.test.ts
Labels: area: cli, semver-patch

#8392 [ruby] Fix `bundle install`
  packages/ruby/index.ts
  packages/ruby/test/fixtures/01-cowsay/Gemfile
Labels: area: ruby, semver-patch

#8391 [docs] Remove "watch" from `DEVELOPING_A_RUNTIME.md`
  DEVELOPING_A_RUNTIME.md
Labels: area: docs, semver-patch

#8401 [cli] fix: undefined variable
  packages/cli/test/helpers/read-output-stream.ts
Labels: area: cli, semver-patch

#8400 [cli][tests] remove dupe `inspectorUrl`
  package.json
  packages/cli/test/mocks/deployment.ts
Labels: area: cli, area: tests, semver-patch

#8403 [cli] serialize getDeployment calls in `vercel bisect`
  packages/cli/src/commands/bisect/index.ts
Labels: area: cli, semver-patch

#8408 [next] Fix un-necessary edge routes being added
  packages/next/src/utils.ts
  packages/next/test/fixtures/00-edge-runtime/index.test.js
  packages/next/test/fixtures/00-edge-runtime/next.config.js
  packages/next/test/fixtures/00-edge-runtime/package.json
  packages/next/test/fixtures/00-edge-runtime/pages/api/[id].js
  packages/next/test/fixtures/00-edge-runtime/pages/api/hello.js
  packages/next/test/fixtures/00-edge-runtime/pages/index.js
  packages/next/test/fixtures/00-edge-runtime/probes.json
Labels: semver-patch, area: next

#8405 [cli] Small `vc ls` wording changes
  packages/cli/src/commands/list.ts
Labels: area: cli, semver-patch

#8407 Revert "Revert "[go] add lambda wrapper support to the go runtime""
  packages/go/index.ts
  packages/go/main.go
  packages/go/main__mod__.go
  packages/go/test/fixtures/22-large-environment/env/go.mod
  packages/go/test/fixtures/22-large-environment/env/index.go
  packages/go/test/fixtures/22-large-environment/now.json
  packages/go/test/fixtures/23-main-go/api/go.mod
  packages/go/test/fixtures/23-main-go/api/index.go
  packages/go/test/fixtures/23-main-go/main.go
  packages/go/test/fixtures/23-main-go/vercel.json
Labels: area: go, semver-minor

#8411 [cli] Change mentions of "Aborted" to "Canceled"
  packages/cli/src/commands/alias/rm.ts
  packages/cli/src/commands/alias/set.ts
  packages/cli/src/commands/build.ts
  packages/cli/src/commands/deploy/index.ts
  packages/cli/src/commands/dns/add.ts
  packages/cli/src/commands/dns/rm.ts
  packages/cli/src/commands/domains/move.ts
  packages/cli/src/commands/domains/rm.ts
  packages/cli/src/commands/env/pull.ts
  packages/cli/src/commands/env/rm.ts
  packages/cli/src/commands/git/connect.ts
  packages/cli/src/commands/git/disconnect.ts
  packages/cli/src/commands/init/init.ts
  packages/cli/src/commands/remove.ts
  packages/cli/src/commands/secrets.js
  packages/cli/src/commands/teams/add.ts
  packages/cli/src/util/errors-ts.ts
  packages/cli/src/util/handle-error.ts
  packages/cli/src/util/input/list.ts
  packages/cli/src/util/link/setup-and-link.ts
  packages/cli/src/util/validate-paths.ts
  packages/cli/test/integration.js
Labels: area: cli, semver-patch

#8412 [cli] Fix `vc link` not respecting `--yes`
  packages/cli/src/util/link/add-git-connection.ts
  packages/cli/src/util/link/setup-and-link.ts
  packages/cli/test/fixtures/unit/link-connect-git/multiple-remotes-prefer-origin/.gitignore
  packages/cli/test/fixtures/unit/link-connect-git/multiple-remotes-prefer-origin/git/config
  packages/cli/test/unit/commands/link.test.ts
Labels: area: cli, semver-patch

#8431 [next] Update middleware data routes to fix caching
  packages/next/src/server-build.ts
  packages/next/test/fixtures/00-middleware/index.test.js
  packages/next/test/fixtures/00-middleware/middleware.js
  packages/next/test/fixtures/00-middleware/pages/_sites/[site].js
  packages/next/test/fixtures/00-middleware/pages/api/revalidate.js
Labels: semver-patch, area: next

#8438 [next] Ensure non-static pages/500 is handled
  packages/next/src/index.ts
  packages/next/src/server-build.ts
  packages/next/test/fixtures/00-lambda-pages-500/index.test.js
  packages/next/test/fixtures/00-lambda-pages-500/next.config.js
  packages/next/test/fixtures/00-lambda-pages-500/package.json
  packages/next/test/fixtures/00-lambda-pages-500/pages/404.js
  packages/next/test/fixtures/00-lambda-pages-500/pages/500.js
  packages/next/test/fixtures/00-lambda-pages-500/pages/_app.js
  packages/next/test/fixtures/00-lambda-pages-500/pages/_error.js
  packages/next/test/fixtures/00-lambda-pages-500/pages/index.js
  packages/next/test/fixtures/00-lambda-pages-500/pages/trigger-error.js
  packages/next/test/fixtures/00-lambda-pages-500/probes.json
Labels: semver-patch, area: next

#8442 [python] fix typo in install.ts comment
  packages/python/src/install.ts
Labels: area: python, semver-patch

#8098 [next] Add handling for app-paths-manifest
  packages/next/src/index.ts
  packages/next/src/server-build.ts
  packages/next/src/utils.ts
  packages/next/test/fixtures/00-app-dir/app/(newroot)/dashboard/another/page.server.js
  packages/next/test/fixtures/00-app-dir/app/(newroot)/layout.server.js
  packages/next/test/fixtures/00-app-dir/app/(rootonly)/dashboard/changelog/page.server.js
  packages/next/test/fixtures/00-app-dir/app/(rootonly)/dashboard/hello/page.server.js
  packages/next/test/fixtures/00-app-dir/app/client-component-route/page.client.js
  packages/next/test/fixtures/00-app-dir/app/client-component-route/style.css
  packages/next/test/fixtures/00-app-dir/app/client-component-route/style.module.css
  packages/next/test/fixtures/00-app-dir/app/client-nested/layout.client.js
  packages/next/test/fixtures/00-app-dir/app/client-nested/page.server.js
  packages/next/test/fixtures/00-app-dir/app/client-nested/style.css
  packages/next/test/fixtures/00-app-dir/app/client-nested/style.module.css
  packages/next/test/fixtures/00-app-dir/app/dashboard/(custom)/deployments/breakdown/page.server.js
  packages/next/test/fixtures/00-app-dir/app/dashboard/(custom)/layout.server.js
  packages/next/test/fixtures/00-app-dir/app/dashboard/deployments/[id]/page.server.js
  packages/next/test/fixtures/00-app-dir/app/dashboard/deployments/info/page.server.js
  packages/next/test/fixtures/00-app-dir/app/dashboard/deployments/layout.server.js
  packages/next/test/fixtures/00-app-dir/app/dashboard/index/lazy.client.js
  packages/next/test/fixtures/00-app-dir/app/dashboard/index/page.server.js
  packages/next/test/fixtures/00-app-dir/app/dashboard/index/test.client.js
  packages/next/test/fixtures/00-app-dir/app/dashboard/integrations/page.server.js
  packages/next/test/fixtures/00-app-dir/app/dashboard/layout.server.js
  packages/next/test/fixtures/00-app-dir/app/dashboard/page.server.js
  packages/next/test/fixtures/00-app-dir/app/dynamic/[category]/[id]/layout.server.js
  packages/next/test/fixtures/00-app-dir/app/dynamic/[category]/[id]/page.server.js
  packages/next/test/fixtures/00-app-dir/app/dynamic/[category]/layout.server.js
  packages/next/test/fixtures/00-app-dir/app/dynamic/layout.server.js
  packages/next/test/fixtures/00-app-dir/app/layout.server.js
  packages/next/test/fixtures/00-app-dir/app/partial-match-[id]/page.server.js
  packages/next/test/fixtures/00-app-dir/app/shared-component-route/page.js
  packages/next/test/fixtures/00-app-dir/app/should-not-serve-client/page.client.js
  packages/next/test/fixtures/00-app-dir/app/should-not-serve-server/page.server.js
  packages/next/test/fixtures/00-app-dir/app/slow-layout-and-page-with-loading/loading.js
  packages/next/test/fixtures/00-app-dir/app/slow-layout-and-page-with-loading/slow/layout.server.js
  packages/next/test/fixtures/00-app-dir/app/slow-layout-and-page-with-loading/slow/loading.js
  packages/next/test/fixtures/00-app-dir/app/slow-layout-and-page-with-loading/slow/page.server.js
  packages/next/test/fixtures/00-app-dir/app/slow-layout-with-loading/loading.js
  packages/next/test/fixtures/00-app-dir/app/slow-layout-with-loading/slow/layout.server.js
  packages/next/test/fixtures/00-app-dir/app/slow-layout-with-loading/slow/page.server.js
  packages/next/test/fixtures/00-app-dir/app/slow-page-with-loading/loading.js
  packages/next/test/fixtures/00-app-dir/app/slow-page-with-loading/page.server.js
  packages/next/test/fixtures/00-app-dir/app/test-page/page.server.js
  packages/next/test/fixtures/00-app-dir/index.test.js
  packages/next/test/fixtures/00-app-dir/middleware.js
  packages/next/test/fixtures/00-app-dir/next.config.js
  packages/next/test/fixtures/00-app-dir/package.json
  packages/next/test/fixtures/00-app-dir/pages/blog/[slug].js
  packages/next/test/fixtures/00-app-dir/pages/index.js
  packages/next/test/fixtures/00-app-dir/public/hello.txt
  packages/next/test/fixtures/00-app-dir/vercel.json
  packages/next/test/integration/index.test.js
Labels: semver-patch, area: next

#8422 [go] ignore bad go handlers and rename functions with more precision
  packages/go/go.mod
  packages/go/index.ts
  packages/go/test/fixtures/24-bad-handler/.gitignore
  packages/go/test/fixtures/24-bad-handler/api/bad-receiver.go
  packages/go/test/fixtures/24-bad-handler/api/go.mod
  packages/go/test/fixtures/24-bad-handler/probes.json
  packages/go/test/fixtures/24-bad-handler/vercel.json
  packages/go/util/analyze.go
Labels: area: go

#8447 [tests] Automatically update Next.js example periodically
  .github/workflows/cron-update-next.yml
  utils/update-next.js
Labels: area: examples, area: tests, semver-patch

#8452 [tests] Fix update-next script
  utils/update-next.js
Labels: area: tests, semver-patch

#8417 [node] fix WebAssembly bindings evaluating to `undefined`
  packages/cli/test/dev/fixtures/edge-function/api/webassembly.js
  packages/cli/test/dev/fixtures/edge-function/increment.wasm
  packages/cli/test/dev/integration-1.test.ts
  packages/node/src/dev-server.ts
Labels: area: node, area: dev, semver-patch

#8450 [cli] revert git connect inside `vc link`
  packages/build-utils/src/types.ts
  packages/cli/src/util/git/connect-git-provider.ts
  packages/cli/src/util/link/add-git-connection.ts
  packages/cli/src/util/link/git-connect-prompts.ts
  packages/cli/src/util/link/handle-options.ts
  packages/cli/src/util/link/setup-and-link.ts
  packages/cli/test/fixtures/unit/link-connect-git/multiple-remotes-prefer-origin/.gitignore
  packages/cli/test/fixtures/unit/link-connect-git/multiple-remotes-prefer-origin/git/config
  packages/cli/test/fixtures/unit/link-connect-git/multiple-remotes/.gitignore
  packages/cli/test/fixtures/unit/link-connect-git/multiple-remotes/git/config
  packages/cli/test/fixtures/unit/link-connect-git/single-remote-existing-link/.gitignore
  packages/cli/test/fixtures/unit/link-connect-git/single-remote-existing-link/git/config
  packages/cli/test/fixtures/unit/link-connect-git/single-remote/.gitignore
  packages/cli/test/fixtures/unit/link-connect-git/single-remote/git/config
  packages/cli/test/unit/commands/git.test.ts
  packages/cli/test/unit/commands/link.test.ts
Labels: area: cli

#8439 [examples] Update SvelteKit example for breaking changes.
  examples/sveltekit/README.md
  examples/sveltekit/jsconfig.json
  examples/sveltekit/package.json
  examples/sveltekit/pnpm-lock.yaml
  examples/sveltekit/src/app.d.ts
  examples/sveltekit/src/app.html
  examples/sveltekit/src/lib/Counter.svelte
  examples/sveltekit/src/lib/form.js
  examples/sveltekit/src/lib/header/Header.svelte
  examples/sveltekit/src/routes/+layout.svelte
  examples/sveltekit/src/routes/+page.js
  examples/sveltekit/src/routes/+page.svelte
  examples/sveltekit/src/routes/__layout.svelte
  examples/sveltekit/src/routes/about.svelte
  examples/sveltekit/src/routes/about/+page.js
  examples/sveltekit/src/routes/about/+page.svelte
  examples/sveltekit/src/routes/index.svelte
  examples/sveltekit/src/routes/todos/+page.server.js
  examples/sveltekit/src/routes/todos/+page.svelte
  examples/sveltekit/src/routes/todos/api.js
  examples/sveltekit/src/routes/todos/index.js
  examples/sveltekit/src/routes/todos/index.svelte
  examples/sveltekit/svelte.config.js
  examples/sveltekit/vite.config.js
  examples/sveltekit/yarn.lock
Labels: area: examples, semver-patch

#8454 [node][next][redwood][remix] Bump `@vercel/nft@0.22.0`
  packages/next/package.json
  packages/node/package.json
  packages/node/test/fixtures/22-readfile-js/api/index.js
  packages/node/test/fixtures/22-readfile-js/assets/build.js
  packages/node/test/fixtures/22-readfile-js/assets/dep.js
  packages/node/test/fixtures/22-readfile-js/probes.json
  packages/redwood/package.json
  packages/remix/package.json
  yarn.lock
Labels: area: node, area: redwood, area: next, area: remix

#8455 [tests] Reduce test logs
  test/lib/deployment/now-deploy.js
Labels: area: tests, semver-patch

#8378 [build-utils] Prefix debug message
  packages/build-utils/src/debug.ts
  packages/cli/src/util/dev/server.ts
  packages/cli/test/helpers/prepare.js
  packages/cli/test/integration.js
  packages/node/src/index.ts
  packages/redwood/src/index.ts
  packages/remix/src/build.ts
  packages/static-build/test/fixtures/45-node-modules-bin-path/vercel.json
  test/lib/deployment/test-deployment.js
Labels: area: build-utils, semver-minor

#8459 [frameworks] Fix link to framework logo
  api/frameworks.ts
Labels: area: frameworks, semver-patch

#8460 [cli] Improved 'vc git' help description for --yes flag
  packages/cli/src/commands/git/index.ts
Labels: area: cli, semver-patch

#8451 [cli] add override support for vc build and vc dev
  packages/cli/src/commands/build.ts
  packages/cli/src/commands/deploy/index.ts
  packages/cli/src/commands/dev/dev.ts
  packages/cli/src/util/dev/server.ts
  packages/cli/src/util/dev/types.ts
  packages/cli/src/util/projects/project-settings.ts
  packages/cli/test/dev/fixtures/dev-server-and-routes/vercel.json
  packages/cli/test/dev/fixtures/dev-server-query/vercel.json
  packages/cli/test/dev/fixtures/project-settings-override/original/index.txt
  packages/cli/test/dev/fixtures/project-settings-override/overridden/index.txt
  packages/cli/test/dev/fixtures/project-settings-override/package.json
  packages/cli/test/dev/fixtures/project-settings-override/vercel.json
  packages/cli/test/dev/fixtures/project-settings-override/yarn.lock
  packages/cli/test/dev/integration-1.test.ts
  packages/cli/test/dev/integration-4.test.ts
  packages/cli/test/fixtures/unit/commands/build/project-settings-override/.gitignore
  packages/cli/test/fixtures/unit/commands/build/project-settings-override/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/build/project-settings-override/package.json
  packages/cli/test/fixtures/unit/commands/build/project-settings-override/vercel.json
  packages/cli/test/unit/commands/build.test.ts
Labels: area: cli, semver-minor

#8458 [tests] rename go test function
  packages/go/test/fixtures/24-bad-handler/api/bad-receiver.go
Labels: area: go, area: tests, semver-patch

#8319 [next] support middleware-manifest v2
  packages/next/src/utils.ts
  packages/next/test/unit/middleware-routes.test.js
  packages/next/test/utils.ts
Labels: semver-patch, area: next

#8461 [cli] Normalize Builder output paths in `vc dev`
  packages/cli/src/util/dev/builder.ts
Labels: area: cli, semver-patch

#8463 [tests] Update CODEOWNERS
  .github/CODEOWNERS
Labels: area: tests, semver-patch

#8465 [tests] Change PR automerge label
  .kodiak.toml
Labels: area: tests, semver-patch, pr: automerge

#8464 [tests] Add required labels
  .github/workflows/required-pr-label.yml
Labels: area: tests, semver: patch, pr: automerge

#8470 [tests] Update codeowners for fs-detectors
  .github/CODEOWNERS
Labels: area: tests, semver: patch, pr: automerge

#8469 [fs-detectors] Add a default workspace manager when there's no lock file
  packages/fs-detectors/src/workspaces/workspace-managers.ts
  packages/fs-detectors/test/fixtures/38-workspaces-no-lock-file/a/package.json
  packages/fs-detectors/test/fixtures/38-workspaces-no-lock-file/b/package.json
  packages/fs-detectors/test/fixtures/38-workspaces-no-lock-file/package.json
  packages/fs-detectors/test/unit.detect-workspace-managers.test.ts
Labels: semver: patch, area: fs-detectors, pr: automerge

#8473 [client] Add "tar-fs" dependency
  packages/client/package.json
  yarn.lock
Labels: area: client, semver: patch, pr: automerge

#8397 [cli] Replace "progress" module with custom implementation
  packages/cli/package.json
  packages/cli/src/util/deploy/process-deployment.ts
  packages/cli/src/util/output/progress.ts
  packages/cli/test/unit/util/output/progress.test.ts
  yarn.lock
Labels: area: cli, semver: patch, pr: automerge

#8475 [cli] Use unique "name" in package.json test fixtures
  packages/cli/test/dev/fixtures/10-nextjs-node/package.json
  packages/cli/test/dev/fixtures/25-nextjs-src-dir/package.json
  packages/cli/test/fixtures/unit/commands/build/import-from-main-keys/packages/prefer-browser/package.json
Labels: area: cli, area: tests, semver: patch, pr: automerge

#8446 [edge] Add markdown documentation using TypeDoc
  .github/CODEOWNERS
  package.json
  packages/edge/README.md
  packages/edge/docs/README.md
  packages/edge/docs/interfaces/ExtraResponseInit.md
  packages/edge/docs/interfaces/Geo.md
  packages/edge/package.json
  packages/edge/src/edge-headers.ts
  packages/edge/src/middleware-helpers.ts
  packages/edge/test/docs.test.ts
  packages/edge/typedoc.json
  yarn.lock
Labels: semver: patch, area: edge

#8483 [build-utils] Replace `npm bin` with custom implementation
  packages/build-utils/src/fs/run-user-scripts.ts
  packages/build-utils/test/unit.get-npm-bin-path.test.ts
  packages/build-utils/test/unit.test.ts
Labels: area: build-utils, semver: patch, pr: automerge

#8467 [node] Added 'cause' to error message
  packages/node/src/dev-server.ts
Labels: area: node, semver: patch, pr: automerge

#8493 Add writeFile to DetectorFilesystem
  packages/fs-detectors/src/detectors/filesystem.ts
  packages/fs-detectors/test/unit.framework-detector.test.ts
Labels: semver: minor, area: fs-detectors, pr: automerge
