Repository vercel/vercel, pull requests merged in 2022-01, with the labels that each got.

#7298 [examples] Update Nuxt template for Nuxt 3
  examples/nuxtjs/README.md
  examples/nuxtjs/app.vue
  examples/nuxtjs/components/Tutorial.vue
  examples/nuxtjs/nuxt.config.js
  examples/nuxtjs/nuxt.config.ts
  examples/nuxtjs/package.json
  examples/nuxtjs/pages/index.vue
  examples/nuxtjs/static/favicon.ico
  examples/nuxtjs/tsconfig.json
  examples/nuxtjs/yarn.lock
Labels: area: examples, semver-patch

#7307 [cli] Bump cert by id endpoint to v6
  packages/cli/src/util/certs/get-cert-by-id.ts
Labels: area: cli

#7322 Remove (beta) for `vc dev`.
  packages/cli/src/index.ts
Labels: area: cli, area: dev, semver-major

#7320 [examples] Update all examples to use `.vercel.app` instead of `.vercel.com`
  .github/EXAMPLE_README_TEMPLATE.md
  examples/amp/README.md
  examples/angular/README.md
  examples/blitzjs/README.md
  examples/brunch/README.md
  examples/create-react-app/README.md
  examples/docusaurus-2/README.md
  examples/docusaurus/README.md
  examples/dojo/README.md
  examples/eleventy/README.md
  examples/ember/README.md
  examples/gatsby/README.md
  examples/gatsby/gatsby-config.js
  examples/gridsome/README.md
  examples/hexo/README.md
  examples/hugo/README.md
  examples/ionic-angular/README.md
  examples/ionic-react/readme.md
  examples/jekyll/README.md
  examples/middleman/README.md
  examples/nuxtjs/README.md
  examples/parcel/README.md
  examples/polymer/README.md
  examples/preact/README.md
  examples/redwoodjs/README.md
  examples/remix/README.md
  examples/saber/README.md
  examples/sapper/README.md
  examples/scully/README.md
  examples/solidstart/README.md
  examples/stencil/readme.md
  examples/svelte/README.md
  examples/sveltekit/README.md
  examples/umijs/README.md
  examples/vanilla-pusher-functions/.gitignore
  examples/vanilla-pusher-functions/.vercelignore
  examples/vanilla-pusher-functions/README.md
  examples/vanilla-pusher-functions/api/push-draw-data.js
  examples/vanilla-pusher-functions/index.html
  examples/vanilla-pusher-functions/main.js
  examples/vanilla-pusher-functions/package.json
  examples/vanilla-pusher-functions/style.css
  examples/vanilla-pusher-functions/yarn.lock
  examples/vite/README.md
  examples/vue/README.md
  examples/zola/README.md
  packages/frameworks/src/frameworks.ts
Labels: area: examples, area: frameworks, semver-patch

#7337 [examples] Update Next.js example CSS styling.
  examples/nextjs/pages/index.js
  examples/nextjs/styles/Home.module.css
Labels: area: examples, semver-patch

#7356 [docs] Update README.
  .github/CONTRIBUTING.md
  README.md
  examples/README.md
Labels: area: docs, semver-minor

#7360 [cli] Use `@vercel/fetch-retry` in CLI integration tests
  packages/cli/package.json
  packages/cli/test/integration.js
  yarn.lock
Labels: area: cli, area: tests, semver-patch

#7305 [cli] Remove legacy verification handling in `alias` command
  packages/cli/src/commands/alias/set.ts
  packages/cli/src/types.ts
  packages/cli/src/util/domains/get-domain.ts
  packages/cli/src/util/domains/setup-domain.ts
  packages/cli/src/util/domains/verify-domain.ts
  packages/cli/src/util/errors-ts.ts
Labels: area: cli, semver-minor
