Repository vercel/vercel, pull requests merged in 2022-06, with the labels that each got.

#7900 [build-utils] Fix warning for package.json engines
  packages/build-utils/src/fs/run-user-scripts.ts
  packages/build-utils/test/pkg-engine-node-exact/package.json
  packages/build-utils/test/pkg-engine-node-greaterthan/package.json
  packages/build-utils/test/unit.test.ts
Labels: area: build-utils, semver-patch

#7886 [examples] Remove `ENABLE_FILE_SYSTEM_API` env var from "remix" template
  examples/remix/package.json
  examples/remix/vercel.json
Labels: area: examples, semver-patch

#7909 [build-utils] Make `repoRootPath` non-optional
  packages/build-utils/src/types.ts
  packages/cli/src/commands/build.ts
  packages/cli/src/util/dev/builder.ts
  packages/cli/src/util/dev/server.ts
  packages/python/src/index.ts
  packages/remix/test/build.test.ts
Labels: area: build-utils, semver-patch

#7904 [tests] Remove ava `compileEnhancements` property from package.json
  packages/cli/package.json
Labels: area: cli, area: tests, semver-patch

#7911 [cli] update `vc env pull --help`
  packages/cli/src/commands/env/index.ts
  packages/cli/src/commands/pull.ts
Labels: area: cli

#7918 [node] Skip TS compile for `.d.ts` assets
  packages/node/src/index.ts
  packages/node/test/fixtures/05-ts-declaration-asset/index.ts
  packages/node/test/fixtures/05-ts-declaration-asset/package.json
  packages/node/test/fixtures/05-ts-declaration-asset/test.d.ts
  packages/node/test/fixtures/05-ts-declaration-asset/vercel.json
Labels: area: node, semver-patch

#7912 [next] Ensure middleware route comes before beforeFiles rewrites
  packages/next/src/server-build.ts
  packages/next/src/utils.ts
  packages/next/test/fixtures/00-middleware-nested/vercel.json
  packages/next/test/fixtures/00-middleware/middleware.js
  packages/next/test/fixtures/00-middleware/vercel.json
  packages/next/test/integration/middleware.test.ts
Labels: semver-patch, area: next

#7922 [static-config] Use "runtime" instead of "use"
  packages/static-config/src/index.ts
  packages/static-config/test/fixtures/deno.ts
  packages/static-config/test/fixtures/invalid-schema.js
  packages/static-config/test/fixtures/node.js
  packages/static-config/test/index.test.ts
  packages/static-config/test/swc.test.ts
Labels: semver-patch, area: static-config

#7869 [cli] Add initial `vc build` unit tests
  packages/cli/src/commands/build.ts
  packages/cli/src/util/build/write-build-result.ts
  packages/cli/src/util/get-files.ts
  packages/cli/src/util/unique-strings.ts
  packages/cli/test/fixtures/unit/commands/build/.gitignore
  packages/cli/test/fixtures/unit/commands/build/node/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/build/node/api/es6.js
  packages/cli/test/fixtures/unit/commands/build/node/api/index.js
  packages/cli/test/fixtures/unit/commands/build/node/api/mjs.mjs
  packages/cli/test/fixtures/unit/commands/build/node/api/typescript.ts
  packages/cli/test/fixtures/unit/commands/build/static/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/build/static/index.html
  packages/cli/test/fixtures/unit/commands/build/third-party-builder/.vercel/builders/.gitignore
  packages/cli/test/fixtures/unit/commands/build/third-party-builder/.vercel/builders/node_modules/txt-builder/index.js
  packages/cli/test/fixtures/unit/commands/build/third-party-builder/.vercel/builders/node_modules/txt-builder/package.json
  packages/cli/test/fixtures/unit/commands/build/third-party-builder/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/build/third-party-builder/api/foo.txt
  packages/cli/test/fixtures/unit/commands/build/third-party-builder/vercel.json
  packages/cli/test/unit/commands/build.test.ts
Labels: area: cli, area: tests, semver-patch

#7924 [cli] Output `EdgeFunctions` from version 3 Builders in `vc build`
  packages/cli/src/util/build/write-build-result.ts
  packages/cli/test/fixtures/unit/commands/build/edge-function/.vercel/builders/.gitignore
  packages/cli/test/fixtures/unit/commands/build/edge-function/.vercel/builders/node_modules/edge-function/builder.js
  packages/cli/test/fixtures/unit/commands/build/edge-function/.vercel/builders/node_modules/edge-function/package.json
  packages/cli/test/fixtures/unit/commands/build/edge-function/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/build/edge-function/api/edge.js
  packages/cli/test/fixtures/unit/commands/build/edge-function/vercel.json
  packages/cli/test/unit/commands/build.test.ts
Labels: area: cli, semver-minor

#7877 [node] Add support for `EdgeFunction` output type
  packages/node/package.json
  packages/node/src/index.ts
  packages/node/test/fixtures/61-edge-function/api/edge.js
  packages/node/test/fixtures/61-edge-function/vercel.json
Labels: area: node, semver-minor

#7859 [build-utils] Add getWorkspacePackagePaths function
  packages/build-utils/package.json
  packages/build-utils/src/fs/get-glob-fs.ts
  packages/build-utils/src/index.ts
  packages/build-utils/src/workspaces/get-workspace-package-paths.ts
  packages/build-utils/src/workspaces/get-workspaces.ts
  packages/build-utils/test/fixtures/25-multiple-lock-files-yarn/a/package.json
  packages/build-utils/test/fixtures/25-multiple-lock-files-yarn/b/package.json
  packages/build-utils/test/fixtures/26-multiple-lock-files-pnpm/a/package.json
  packages/build-utils/test/fixtures/26-multiple-lock-files-pnpm/b/package.json
  packages/build-utils/test/fixtures/26-multiple-lock-files-pnpm/pnpm-lock.yaml
  packages/build-utils/test/unit.get-workspaces-package-paths.test.ts
  yarn.lock
Labels: area: build-utils, semver-minor

#7927 [cli][static-build] Fix case when `vc dev` is throwing the wrong error w/ BOAv3
  packages/cli/src/commands/dev/dev.ts
  packages/static-build/src/utils/build-output-v3.ts
  packages/static-build/test/build.test.ts
Labels: area: cli, semver-patch, area: static-build

#7933 [cli] Pull correct env variables in `vc build` command
  packages/cli/src/commands/build.ts
  packages/cli/test/fixtures/unit/commands/build/static-pull/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/build/static-pull/index.html
  packages/cli/test/unit/commands/build.test.ts
Labels: area: cli, semver-patch

#7928 [node] Add zero-config support for root-level `middleware.js`/`middleware.ts` file
  packages/build-utils/src/detect-builders.ts
  packages/build-utils/src/types.ts
  packages/build-utils/test/unit.builds-and-routes-detector.test.ts
  packages/cli/test/fixtures/unit/commands/build/middleware/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/build/middleware/index.html
  packages/cli/test/fixtures/unit/commands/build/middleware/middleware.js
  packages/cli/test/unit/commands/build.test.ts
  packages/node/src/index.ts
  packages/node/test/fixtures/62-edge-middleware/api/edge.js
  packages/node/test/fixtures/62-edge-middleware/middleware.ts
  packages/node/test/fixtures/62-edge-middleware/vercel.json
Labels: area: node, semver-minor

#7935 [next] Add handling for resolving _next/data URLs
  packages/next/src/index.ts
  packages/next/src/server-build.ts
Labels: semver-patch, area: next

#7811 [cli] Implement `vercel.json` configuration overrides
  packages/cli/src/commands/deploy/index.ts
  packages/cli/src/util/input/edit-project-settings.ts
  packages/cli/src/util/link/setup-and-link.ts
  packages/cli/test/helpers/prepare.js
  packages/cli/test/integration.js
  packages/cli/test/unit/util/input/edit-project-settings.test.ts
  packages/client/src/types.ts
Labels: area: cli, semver-minor

#7943 [cli] Normalize "src" property in `vc build`
  packages/cli/src/commands/build.ts
  packages/cli/test/fixtures/unit/commands/build/normalize-src/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/build/normalize-src/server.js
  packages/cli/test/fixtures/unit/commands/build/normalize-src/vercel.json
  packages/cli/test/unit/commands/build.test.ts
Labels: area: cli, semver-patch

#7944 [cli] Remove boxen for warnings
  packages/cli/src/commands/domains/inspect.ts
  packages/cli/src/util/output/create-output.ts
Labels: area: cli, semver-patch

#7945 [tests] Remove `as any` casting in unit tests
  packages/build-utils/test/unit.builds-and-routes-detector.test.ts
Labels: area: build-utils, area: tests, semver-patch

#7946 [cli] Fix `vc dev` with dynamic paths and ESM
  packages/cli/src/util/dev/builder.ts
  packages/cli/test/dev/fixtures/42-dynamic-esm-ext/api/cjs/[id].js
  packages/cli/test/dev/fixtures/42-dynamic-esm-ext/api/esm/[id].mjs
  packages/cli/test/dev/integration-4.test.ts
Labels: area: cli, area: dev, semver-patch

#7894 [examples] Add Vercel Analytics for CRA/SvelteKit templates.
  examples/create-react-app/.env.production
  examples/create-react-app/package.json
  examples/create-react-app/src/index.js
  examples/create-react-app/src/vitals.js
  examples/create-react-app/yarn.lock
  examples/sveltekit/package.json
  examples/sveltekit/src/lib/vitals.js
  examples/sveltekit/src/routes/__layout.svelte
  examples/sveltekit/svelte.config.js
  examples/sveltekit/yarn.lock
Labels: area: examples, semver-patch

#7956 [cli] Fix `vc dev` when user has ipv6 configured
  packages/cli/package.json
  packages/cli/src/util/dev/server.ts
  packages/cli/types/is-port-reachable/index.d.ts
  yarn.lock
Labels: area: cli, area: dev, semver-patch

#7925 [cli] add support for Edge Functions in `vercel dev`
  packages/cli/test/dev/fixtures/edge-function/api/edge-function.js
  packages/cli/test/dev/fixtures/edge-function/api/package.json
  packages/cli/test/dev/fixtures/edge-function/lib/upper.js
  packages/cli/test/dev/integration-1.test.ts
  packages/node/@types/zeit__ncc/index.d.ts
  packages/node/package.json
  packages/node/src/dev-server.ts
  packages/node/tsconfig.json
  yarn.lock
Labels: area: cli, semver-minor

#7962 [tests] Update `ts-jest` to v28.0.5
  package.json
  packages/build-utils/test/unit.builds-and-routes-detector.test.ts
  yarn.lock
Labels: area: tests, semver-patch

#7959 [routing-utils] Convert tests to TypeScript
  packages/routing-utils/jest.config.js
  packages/routing-utils/package.json
  packages/routing-utils/test/append.spec.ts
  packages/routing-utils/test/index.spec.ts
  packages/routing-utils/test/merge.spec.ts
  packages/routing-utils/test/superstatic.spec.ts
  packages/routing-utils/tsconfig.json
Labels: area: routing-utils, area: tests, semver-minor

#7957 [tests] Allow for multiple probes
  test/lib/deployment/test-deployment.js
Labels: area: tests, semver-patch

#7968 [next] Fix _next/data resolving priority with afterFiles
  packages/next/src/server-build.ts
  packages/next/test/fixtures/00-middleware/middleware.js
  packages/next/test/fixtures/00-middleware/next.config.js
  packages/next/test/fixtures/00-middleware/pages/about.js
  packages/next/test/fixtures/00-middleware/vercel.json
Labels: semver-patch, area: next

#7934 [node] Move `@vercel/build-utils` to "dependencies"
  packages/node/package.json
Labels: area: node, semver-patch

#7987 [next] Update error for internal missing page
  packages/next/src/index.ts
Labels: semver-patch, area: next

#7992 [next] Optimize _next/data route regex
  packages/next/src/server-build.ts
Labels: semver-patch, area: next

#7988 [cli] Include "argv" in `builds.json` produced by `vc build`
  packages/cli/src/commands/build.ts
Labels: area: cli, semver-patch

#7990 [cli] Add `requirePath` to "builds.json" in `vc build`
  packages/cli/src/commands/build.ts
Labels: area: cli, semver-patch

#7995 [cli] Implement `vc build --output` parameter
  packages/cli/src/commands/build.ts
  packages/cli/test/unit/commands/build.test.ts
Labels: area: cli, semver-minor

#7936 [next] Check the size of WASM files in the Edge Functions size validation
  packages/next/src/edge-function-source/get-edge-function-source.ts
  packages/next/test/unit/get-nextjs-edge-function-source.next-only.test.ts
Labels: semver-patch, area: next

#7999 [next] Ensure basePath is matched correctly for _next/data resolving
  packages/next/src/server-build.ts
Labels: semver-patch, area: next

#8004 [cli] Only show "Removing `.vercel/output`" log when directory exists in `vc dev`
  packages/cli/src/commands/dev/dev.ts
Labels: area: cli, semver-patch

#8002 [examples] Address follow up from SvelteKit example update.
  examples/sveltekit/package.json
  examples/sveltekit/src/routes/__layout.svelte
  examples/sveltekit/svelte.config.js
Labels: area: examples, semver-patch

#8005 [next] Fix normalizing for _next/data/index.json route with middleware
  packages/next/src/server-build.ts
Labels: semver-patch, area: next

#8015 [next] Ensure trailing slash is handled while resolving _next/data rewrites
  packages/next/src/server-build.ts
  packages/next/test/fixtures/00-middleware/middleware.js
  packages/next/test/fixtures/00-middleware/pages/_sites/[site].js
  packages/next/test/fixtures/00-middleware/vercel.json
  test/lib/deployment/test-deployment.js
Labels: semver-patch, area: next

#7973 [cli] Support root-level Middleware file in `vc dev`
  packages/cli/src/util/dev/builder.ts
  packages/cli/src/util/dev/headers.ts
  packages/cli/src/util/dev/server.ts
  packages/cli/test/dev/fixtures/middleware-500-response/middleware.js
  packages/cli/test/dev/fixtures/middleware-error-at-init/middleware.js
  packages/cli/test/dev/fixtures/middleware-error-in-handler/middleware.js
  packages/cli/test/dev/fixtures/middleware-redirect/middleware.js
  packages/cli/test/dev/fixtures/middleware-response/middleware.js
  packages/cli/test/dev/fixtures/middleware-rewrite-query/api/fn.js
  packages/cli/test/dev/fixtures/middleware-rewrite-query/middleware.js
  packages/cli/test/dev/fixtures/middleware-rewrite/another.html
  packages/cli/test/dev/fixtures/middleware-rewrite/index.html
  packages/cli/test/dev/fixtures/middleware-rewrite/middleware.js
  packages/cli/test/dev/integration-4.test.ts
  packages/node/src/dev-server.ts
  packages/node/src/index.ts
Labels: area: cli, area: dev, semver-minor

#8023 [cli] Support "http:" scheme in `vc bisect`
  packages/cli/src/commands/bisect/index.ts
  packages/cli/src/util/bisect/normalize-url.ts
  packages/cli/test/unit/util/bisect/normalize-url.test.ts
Labels: bug, area: cli, semver-patch

#8029 [remix] Don't depend on `@remix-run/vercel`
  packages/remix/package.json
  packages/remix/src/build.ts
  yarn.lock
Labels: semver-patch, area: remix

#8007 [cli][node] make error handling of edge functions consistent with serverless functions in `vc dev`
  .prettierignore
  packages/cli/src/util/dev/server.ts
  packages/cli/test/dev/fixtures/edge-function-error/api/edge-error-config.js
  packages/cli/test/dev/fixtures/edge-function-error/api/edge-error-no-handler.js
  packages/cli/test/dev/fixtures/edge-function-error/api/edge-error-runtime.js
  packages/cli/test/dev/fixtures/edge-function-error/api/edge-error-startup.js
  packages/cli/test/dev/fixtures/edge-function-error/api/edge-error-syntax.js
  packages/cli/test/dev/fixtures/edge-function-error/api/edge-error-unknown-import.js
  packages/cli/test/dev/fixtures/edge-function/api/edge-500-response.js
  packages/cli/test/dev/fixtures/edge-function/api/edge-success.js
  packages/cli/test/dev/fixtures/edge-function/package.json
  packages/cli/test/dev/fixtures/edge-function/yarn.lock
  packages/cli/test/dev/integration-1.test.ts
  packages/cli/test/dev/utils.js
  packages/node/src/dev-server.ts
  packages/node/src/index.ts
Labels: area: node, area: cli, area: dev, semver-patch

#8011 [tests] Bump turbo to 1.3.1
  package.json
  yarn.lock
Labels: area: tests, semver-patch

#8033 [cli][dev][node] Support `matchers` config for Middleware in `vc dev`
  packages/cli/src/util/dev/server.ts
  packages/cli/test/dev/fixtures/middleware-matchers/middleware.js
  packages/cli/test/dev/integration-4.test.ts
  packages/node/src/index.ts
Labels: area: node, area: cli, area: dev, semver-minor

#8037 [tests] Remove TODO comments from Middleware matchers vc dev test
  packages/cli/test/dev/integration-4.test.ts
Labels: area: tests, semver-patch

#8042 [next][node][redwood][remix] Bump `@vercel/nft` to 0.20.1
  packages/next/package.json
  packages/node/package.json
  packages/redwood/package.json
  packages/remix/package.json
  yarn.lock
Labels: area: node, semver-patch, area: redwood, area: next, area: remix

#8041 [cli][dev] fix: creating "api/some-func.js" after "vc dev" now works
  packages/cli/src/util/dev/server.ts
  packages/cli/test/dev/fixtures/no-api/vercel.json
  packages/cli/test/dev/integration-2.test.ts
Labels: area: cli, area: dev, semver-patch

#8039 [cli] Add `Client#stdin` / `Client#stdout`
  packages/cli/src/commands/alias/rm.ts
  packages/cli/src/commands/billing/index.js
  packages/cli/src/commands/build.ts
  packages/cli/src/commands/deploy/index.ts
  packages/cli/src/commands/dns/add.ts
  packages/cli/src/commands/domains/buy.ts
  packages/cli/src/commands/domains/move.ts
  packages/cli/src/commands/domains/rm.ts
  packages/cli/src/commands/domains/transfer-in.ts
  packages/cli/src/commands/env/add.ts
  packages/cli/src/commands/env/pull.ts
  packages/cli/src/commands/env/rm.ts
  packages/cli/src/commands/init/init.ts
  packages/cli/src/index.ts
  packages/cli/src/util/client.ts
  packages/cli/src/util/dns/get-dns-data.ts
  packages/cli/src/util/domains/purchase-domain-if-available.ts
  packages/cli/src/util/input/confirm.ts
  packages/cli/src/util/input/edit-project-settings.ts
  packages/cli/src/util/input/input-project.ts
  packages/cli/src/util/input/input-root-directory.ts
  packages/cli/src/util/input/prompt-bool.ts
  packages/cli/src/util/input/read-standard-input.ts
  packages/cli/src/util/link/setup-and-link.ts
  packages/cli/src/util/login/reauthenticate.ts
  packages/cli/src/util/validate-paths.ts
  packages/cli/test/mocks/client.ts
  packages/cli/test/unit/mock.test.ts
  packages/cli/test/unit/util/input/edit-project-settings.test.ts
Labels: area: cli, area: tests, semver-minor

#8052 [cli] Add full stdio mockability for unit tests
  packages/cli/src/commands/billing/add.js
  packages/cli/src/commands/billing/index.js
  packages/cli/src/commands/bisect/index.ts
  packages/cli/src/commands/deploy/index.ts
  packages/cli/src/commands/init/init.ts
  packages/cli/src/commands/teams/switch.ts
  packages/cli/src/commands/whoami.ts
  packages/cli/src/index.ts
  packages/cli/src/types.ts
  packages/cli/src/util/client.ts
  packages/cli/src/util/get-files.ts
  packages/cli/src/util/index.ts
  packages/cli/src/util/input/confirm.ts
  packages/cli/src/util/input/input-project.ts
  packages/cli/src/util/input/input-root-directory.ts
  packages/cli/src/util/input/list.ts
  packages/cli/src/util/input/prompt-bool.ts
  packages/cli/src/util/input/read-standard-input.ts
  packages/cli/src/util/link/setup-and-link.ts
  packages/cli/src/util/login/oauth.ts
  packages/cli/src/util/login/prompt.ts
  packages/cli/src/util/output/create-output.ts
  packages/cli/src/util/output/index.ts
  packages/cli/src/util/output/wait.ts
  packages/cli/src/util/print-indications.ts
  packages/cli/test/integration.js
  packages/cli/test/mocks/client.ts
  packages/cli/test/mocks/matchers/index.ts
  packages/cli/test/mocks/matchers/matchers.ts
  packages/cli/test/mocks/matchers/to-output.ts
  packages/cli/test/unit/commands/deploy.test.ts
  packages/cli/test/unit/commands/env.test.ts
  packages/cli/test/unit/commands/inspect.test.ts
  packages/cli/test/unit/commands/login.test.ts
  packages/cli/test/unit/commands/pull.test.ts
  packages/cli/test/unit/commands/whoami.test.ts
  packages/cli/test/unit/mock.test.ts
  packages/cli/test/unit/util/confirm.test.ts
  packages/cli/test/unit/util/deploy/create-git-meta.test.ts
  packages/cli/test/unit/util/get-files.test.ts
  packages/cli/test/unit/util/input/edit-project-settings.test.ts
Labels: area: cli, area: tests, semver-major

#8064 [node] Fix public TypeScript types
  packages/node/build.js
  packages/node/src/example-import.ts
  packages/node/src/index.ts
Labels: area: node, semver-patch
