Repository vercel/vercel, pull requests merged in 2022-11, with the labels that each got.

#8817 Remove output directory placeholder
  packages/fs-detectors/src/monorepos/monorepo-managers.ts
Labels: semver: patch, area: fs-detectors, pr: automerge

#8814 [routing-utils] Allow to appendRoutes add null phase
  packages/routing-utils/src/append.ts
  packages/routing-utils/src/types.ts
  packages/routing-utils/test/append.spec.ts
Labels: area: routing-utils, semver: minor, pr: automerge

#8832 [tests] Fix next & react version for dev test
  packages/cli/test/dev/fixtures/30-next-image-optimization/package.json
Labels: area: tests, semver: patch, pr: automerge

#8833 [cli] Fix middleware 500 in `vc dev`
  packages/cli/src/util/dev/server.ts
  packages/cli/test/dev/fixtures/middleware-500-response/middleware.js
  packages/cli/test/dev/integration-4.test.ts
Labels: area: tests, semver: patch, pr: automerge

#8795 [node-bridge] Support streaming response for Serverless Function
  packages/build-utils/src/lambda.ts
  packages/next/src/server-build.ts
  packages/next/src/utils.ts
  packages/next/test/fixtures/00-app-dir-static/app/dashboard/index/lazy.js
  packages/next/test/fixtures/00-app-dir-static/app/dashboard/index/page.js
  packages/next/test/fixtures/00-app-dir-static/app/dashboard/index/test.js
  packages/next/test/fixtures/00-app-dir/app/dashboard/index/lazy.js
  packages/next/test/fixtures/00-app-dir/app/dashboard/index/page.js
  packages/next/test/fixtures/00-app-dir/app/dashboard/index/test.js
  packages/next/test/integration/index.test.js
  packages/node-bridge/bridge.js
  packages/node-bridge/package.json
  packages/node-bridge/test/bridge.test.js
  packages/node-bridge/test/run-test-server.js
  packages/node-bridge/types.ts
  packages/node/src/index.ts
  test/lib/deployment/now-deploy.js
Labels: area: build-utils, area: node, semver: minor, area: next, pr: automerge

#8828 [error-utils] Create `@vercel/error-utils` package
  packages/cli/package.json
  packages/cli/src/commands/deploy/index.ts
  packages/cli/src/commands/dev/index.ts
  packages/cli/src/commands/domains/buy.ts
  packages/cli/src/commands/env/pull.ts
  packages/cli/src/commands/init/index.ts
  packages/cli/src/commands/inspect.ts
  packages/cli/src/commands/list.ts
  packages/cli/src/commands/logout.ts
  packages/cli/src/commands/teams/add.ts
  packages/cli/src/commands/teams/invite.ts
  packages/cli/src/index.ts
  packages/cli/src/util/build/import-builders.ts
  packages/cli/src/util/certs/create-cert-from-file.ts
  packages/cli/src/util/certs/issue-cert.ts
  packages/cli/src/util/client.ts
  packages/cli/src/util/config/files.ts
  packages/cli/src/util/create-git-meta.ts
  packages/cli/src/util/dev/server.ts
  packages/cli/src/util/env/known-error.ts
  packages/cli/src/util/errors-ts.ts
  packages/cli/src/util/get-config.ts
  packages/cli/src/util/login/email.ts
  packages/cli/src/util/login/login.ts
  packages/cli/src/util/output/create-output.ts
  packages/cli/src/util/projects/link.ts
  packages/cli/src/util/report-error.ts
  packages/error-utils/jest.config.js
  packages/error-utils/package.json
  packages/error-utils/src/index.ts
  packages/error-utils/test/index.test.ts
  packages/error-utils/test/tsconfig.json
  packages/error-utils/tsconfig.json
  yarn.lock
Labels: semver: patch, pr: automerge, area: error-utils

#8830 [tests] Update turbo cache key
  .github/workflows/test.yml
  .gitignore
  package.json
  turbo.json
  utils/gen.js
Labels: area: tests, semver: patch, pr: automerge

#8839 [error-utils] Allow publishing to npm
  packages/error-utils/package.json
Labels: semver: patch, pr: automerge, area: error-utils

#8844 [cli] fix broken integration test
  packages/cli/test/fixtures/unit/pnpm-pnp-symlink/index.js
  packages/cli/test/integration.js
Labels: area: cli, semver: patch, pr: automerge

#8845 [cli] Allow `vc link` to overwrite existing link
  packages/cli/src/util/input/confirm.ts
  packages/cli/src/util/link/ensure-link.ts
  packages/cli/test/mocks/client.ts
  packages/cli/test/unit/commands/link.test.ts
Labels: area: cli, semver: patch, pr: automerge

#8842 [cli][client][error-utils][frameworks][fs-detectors][hydrogen][next][node-bridge][node][redwood][remix][routing-utils][static-config] update @types/node to v14 across repo
  api/package.json
  packages/cli/package.json
  packages/cli/src/util/client.ts
  packages/cli/src/util/dev/builder.ts
  packages/cli/src/util/dev/parse-listen.ts
  packages/cli/src/util/dev/parse-query-string.ts
  packages/cli/src/util/dev/router.ts
  packages/cli/test/unit/util/dev/parse-query-string.test.ts
  packages/client/package.json
  packages/error-utils/package.json
  packages/frameworks/package.json
  packages/fs-detectors/package.json
  packages/hydrogen/package.json
  packages/next/package.json
  packages/node-bridge/package.json
  packages/node/package.json
  packages/redwood/package.json
  packages/remix/package.json
  packages/routing-utils/package.json
  packages/routing-utils/src/superstatic.ts
  packages/static-config/package.json
  yarn.lock
Labels: dependencies, area: node, area: routing-utils, area: cli, area: client, area: frameworks, semver: patch, area: redwood, area: next, area: remix, area: static-config, area: fs-detectors, area: hydrogen, pr: automerge, area: error-utils

#8862 [next] Update rsc header handling
  packages/next/src/server-build.ts
  packages/next/src/utils.ts
Labels: semver: patch, area: next, pr: automerge

#8866 [next] Ensure rsc dynamic routes are correct
  packages/next/src/server-build.ts
  packages/next/test/fixtures/00-app-dir-edge/next.config.js
  packages/next/test/fixtures/00-app-dir-edge/vercel.json
  packages/next/test/fixtures/00-app-dir-static/next.config.js
  packages/next/test/fixtures/00-app-dir-static/vercel.json
  packages/next/test/fixtures/00-app-dir/app/dashboard/deployments/[id]/settings/page.js
  packages/next/test/fixtures/00-app-dir/app/dashboard/deployments/catchall/[[...rest]]/page.js
  packages/next/test/fixtures/00-app-dir/next.config.js
  packages/next/test/fixtures/00-app-dir/vercel.json
Labels: semver: patch, area: next, pr: automerge

#8873 [next] Handle skip normalize flag for middleware
  packages/next/src/server-build.ts
  packages/next/src/utils.ts
Labels: semver: patch, area: next, pr: automerge

#8874 [next][routing-utils] Add missing matcher support
  packages/next/src/utils.ts
  packages/routing-utils/src/superstatic.ts
  packages/routing-utils/test/superstatic.spec.ts
Labels: area: routing-utils, semver: patch, area: next, pr: automerge

#8857 [examples] Update Remix template for latest.
  examples/remix/README.md
  examples/remix/app/entry.client.tsx
  examples/remix/app/entry.server.tsx
  examples/remix/app/root.tsx
  examples/remix/app/routes/demos/about.tsx
  examples/remix/app/routes/demos/about/index.tsx
  examples/remix/app/routes/demos/about/whoa.tsx
  examples/remix/app/routes/demos/actions.tsx
  examples/remix/app/routes/demos/correct.tsx
  examples/remix/app/routes/demos/params.tsx
  examples/remix/app/routes/demos/params/$id.tsx
  examples/remix/app/routes/demos/params/index.tsx
  examples/remix/app/routes/index.tsx
  examples/remix/app/styles/dark.css
  examples/remix/app/styles/demos/about.css
  examples/remix/app/styles/global.css
  examples/remix/package-lock.json
  examples/remix/package.json
  examples/remix/remix.config.js
  examples/remix/remix.env.d.ts
  examples/remix/server.js
  examples/remix/tsconfig.json
Labels: area: examples, semver: patch

#8876 Remove `ENABLE_VC_BUILD` from Vercel deployment
  vercel.json
Labels: area: docs, semver: patch, pr: automerge

#8875 [examples] Remove `ENABLE_VC_BUILD` env var from Solidstart template
  examples/solidstart/vercel.json
Labels: area: examples, semver: patch, pr: automerge

#8707 [examples] update SolidStart example
  examples/solidstart/package.json
  examples/solidstart/src/entry-client.tsx
  examples/solidstart/src/entry-server.tsx
  examples/solidstart/src/root.tsx
  examples/solidstart/src/routes/index.tsx
  examples/solidstart/vite.config.js
  examples/solidstart/yarn.lock
Labels: area: examples, semver: patch

#8472 [examples] Add Vercel Analytics to Astro template
  examples/astro/package.json
  examples/astro/src/env.d.ts
  examples/astro/src/layouts/Layout.astro
  examples/astro/src/lib/vitals.js
Labels: area: examples, semver: patch

#8865 [cli] Add in a message for `deployment-error` message
  errors/deployment-error.md
Labels: area: cli, semver: patch

#8888 [cli] Remove `--runInBand` from Jest
  packages/cli/package.json
Labels: area: cli, area: tests, semver: patch, pr: automerge

#8880 [python] Explicitly bind HTTP server to localhost
  packages/python/vc_init.py
Labels: area: python, semver: patch, pr: automerge

#8890 [cli] Add node_modules/.bin to PATH instead of running npx/yarn run
  packages/cli/package.json
  packages/cli/src/util/dev/server.ts
  packages/cli/test/dev/integration-3.test.ts
  packages/cli/test/dev/utils.js
  yarn.lock
Labels: area: cli, semver: minor, pr: automerge

#8907 [fs-detectors] restore rush support in fs-detectors
  packages/fs-detectors/src/monorepos/monorepo-managers.ts
  packages/fs-detectors/test/unit.detect-monorepo-managers.test.ts
Labels: semver: patch, area: fs-detectors, pr: automerge

#8909 [build-utils] Fix `runNpmInstall()` error when install fails
  packages/build-utils/src/fs/run-user-scripts.ts
  packages/build-utils/test/unit.run-npm-install.test.ts
Labels: area: build-utils, semver: patch, pr: automerge

#8889 [cli] Remove `readOutputStream()` helper function for tests
  packages/cli/package.json
  packages/cli/test/helpers/read-output-stream.ts
  packages/cli/test/unit/commands/list.test.ts
  packages/cli/test/unit/commands/project.test.ts
  packages/cli/test/unit/util/deploy/create-git-meta.test.ts
  yarn.lock
Labels: area: cli, area: tests, semver: patch, pr: automerge

#8894 [static-build] support gatsby-config as typescript
  packages/static-build/src/utils/gatsby.ts
  packages/static-build/src/utils/nuxt.ts
  packages/static-build/test/build-fixtures/13-gatsby-with-typescript-config/gatsby-config.ts
  packages/static-build/test/build-fixtures/13-gatsby-with-typescript-config/package.json
  packages/static-build/test/build-fixtures/13-gatsby-with-typescript-config/src/pages/index.js
  packages/static-build/test/build-fixtures/13-gatsby-with-typescript-config/src/styles/index.css
  packages/static-build/test/build-fixtures/13-gatsby-with-typescript-config/tsconfig.json
  packages/static-build/test/build-fixtures/13-gatsby-with-typescript-config/vercel.json
  packages/static-build/test/build-fixtures/13-gatsby-with-typescript-config/yarn.lock
  packages/static-build/test/builds.test.js
Labels: semver: patch, area: static-build, pr: automerge

#8921 [fs-detectors] Remove `limitedRoutes`
  packages/fs-detectors/src/detect-builders.ts
  packages/fs-detectors/test/unit.builds-and-routes-detector.test.ts
Labels: semver: major, area: fs-detectors, pr: automerge

#8920 [fs-detectors] Don't add "api/*" 404 route when only a middleware is present
  packages/cli/test/unit/commands/build.test.ts
  packages/fs-detectors/src/detect-builders.ts
  packages/fs-detectors/test/unit.builds-and-routes-detector.test.ts
Labels: semver: patch, area: fs-detectors, pr: automerge

#8926 [cli] support package.json based turbo config in vc build automatic build/install command feature
  packages/cli/src/util/build/monorepo.ts
  packages/cli/test/fixtures/unit/commands/build/monorepo-detection/turbo-package-config/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/build/monorepo-detection/turbo-package-config/build.js
  packages/cli/test/fixtures/unit/commands/build/monorepo-detection/turbo-package-config/package.json
  packages/cli/test/fixtures/unit/commands/build/monorepo-detection/turbo-package-config/packages/app-1/index.js
  packages/cli/test/fixtures/unit/commands/build/monorepo-detection/turbo-package-config/packages/app-1/package.json
  packages/cli/test/fixtures/unit/commands/build/monorepo-detection/turbo-package-config/packages/app-2/package.json
  packages/cli/test/fixtures/unit/commands/build/monorepo-detection/turbo-package-config/packages/app-2/script.js
  packages/cli/test/unit/commands/build.test.ts
Labels: area: cli, semver: patch

#8928 [examples] Updated Nuxt starter to v3 stable
  examples/nuxtjs/README.md
  examples/nuxtjs/app.vue
  examples/nuxtjs/nuxt.config.ts
  examples/nuxtjs/package.json
  examples/nuxtjs/pnpm-lock.yaml
  examples/nuxtjs/tsconfig.json
  examples/nuxtjs/yarn.lock
Labels: area: examples, semver: patch

#8718 [cli][next] Removed --forceExit from jest args
  .github/workflows/test-integration-cli.yml
  packages/cli/package.json
  packages/cli/src/commands/dev/dev.ts
  packages/cli/src/util/create-git-meta.ts
  packages/cli/src/util/dev/builder.ts
  packages/cli/src/util/dev/server.ts
  packages/cli/test/dev/fixtures/30-next-image-optimization/package.json
  packages/cli/test/dev/fixtures/static-build-routing/package.json
  packages/cli/test/dev/fixtures/static-build-routing/vercel.json
  packages/cli/test/dev/integration-1.test.ts
  packages/cli/test/dev/integration-2.test.ts
  packages/cli/test/dev/integration-3.test.ts
  packages/cli/test/dev/integration-4.test.ts
  packages/cli/test/dev/utils.js
  packages/cli/test/integration.js
  packages/go/index.ts
  packages/next/package.json
  packages/node/src/index.ts
  packages/static-build/package.json
  packages/static-build/src/index.ts
  packages/static-build/test/fixtures/44-custom-output-dir/dev.js
Labels: area: cli, semver: patch, area: next

#8947 [build-utils] Remove Node 18 env var check
  DEVELOPING_A_RUNTIME.md
  packages/build-utils/src/fs/node-version.ts
  packages/build-utils/test/fixtures/15-npm-8-legacy-peer-deps/package.json
  packages/build-utils/test/fixtures/19-yarn-v2/package.json
  packages/build-utils/test/unit.test.ts
Labels: area: build-utils, semver: minor, pr: automerge

#8883 [examples] Move some framework templates to pnpm.
  examples/angular/.browserslistrc
  examples/angular/.editorconfig
  examples/angular/.gitignore
  examples/angular/README.md
  examples/angular/angular.json
  examples/angular/karma.conf.js
  examples/angular/package-lock.json
  examples/angular/package.json
  examples/angular/src/app/app-routing.module.ts
  examples/angular/src/app/app.component.html
  examples/angular/src/app/app.component.spec.ts
  examples/angular/src/app/app.component.ts
  examples/angular/src/app/app.module.ts
  examples/angular/src/environments/environment.prod.ts
  examples/angular/src/environments/environment.ts
  examples/angular/src/index.html
  examples/angular/src/main.ts
  examples/angular/src/polyfills.ts
  examples/angular/src/test.ts
  examples/angular/tsconfig.app.json
  examples/angular/tsconfig.json
  examples/angular/tsconfig.spec.json
  examples/angular/yarn.lock
  examples/astro/package.json
  examples/astro/pnpm-lock.yaml
  examples/astro/yarn.lock
  examples/create-react-app/package.json
  examples/create-react-app/pnpm-lock.yaml
  examples/create-react-app/yarn.lock
  examples/gatsby/.gitignore
  examples/gatsby/README.md
  examples/gatsby/api/date.js
  examples/gatsby/gatsby-config.js
  examples/gatsby/package.json
  examples/gatsby/src/images/gatsby-icon.png
  examples/gatsby/src/images/icon.png
  examples/gatsby/src/pages/404.js
  examples/gatsby/src/pages/index.js
  examples/gatsby/src/styles/index.css
  examples/gatsby/yarn.lock
  examples/nextjs/next.config.js
  examples/nextjs/pages/_app.js
  examples/nextjs/pages/api/hello.js
  examples/nextjs/pages/index.js
  examples/nuxtjs/.gitignore
  examples/nuxtjs/.vercelignore
  examples/nuxtjs/README.md
  examples/nuxtjs/nuxt.config.ts
  examples/nuxtjs/package.json
  examples/nuxtjs/pnpm-lock.yaml
  examples/nuxtjs/tsconfig.json
  examples/nuxtjs/yarn.lock
  examples/remix/package-lock.json
  examples/remix/package.json
  examples/remix/pnpm-lock.yaml
  examples/svelte/pnpm-lock.yaml
  examples/vite/pnpm-lock.yaml
  examples/vite/yarn.lock
Labels: area: examples, semver: patch, pr: automerge

#8950 [cli] Fix failing tests after Node 18 default change
  packages/cli/test/dev/fixtures/04-create-react-app/package.json
  packages/cli/test/dev/fixtures/04-create-react-app/yarn.lock
  packages/cli/test/dev/fixtures/06-gridsome/package.json
  packages/cli/test/dev/fixtures/10-nextjs-node/package.json
  packages/cli/test/dev/fixtures/10-nextjs-node/yarn.lock
  packages/cli/test/dev/fixtures/10a-nextjs-routes/package.json
  packages/cli/test/dev/fixtures/10a-nextjs-routes/yarn.lock
  packages/cli/test/dev/fixtures/25-nextjs-src-dir/package.json
  packages/cli/test/dev/fixtures/25-nextjs-src-dir/yarn.lock
  packages/cli/test/dev/fixtures/force-module-commonjs/next-env.d.ts
  packages/cli/test/dev/fixtures/force-module-commonjs/package.json
  packages/cli/test/dev/fixtures/force-module-commonjs/tsconfig.json
  packages/cli/test/dev/fixtures/force-module-commonjs/yarn.lock
  packages/cli/test/dev/fixtures/nested-tsconfig/next-env.d.ts
  packages/cli/test/dev/fixtures/nested-tsconfig/package.json
  packages/cli/test/dev/fixtures/nested-tsconfig/yarn.lock
  packages/cli/test/fixtures/unit/commands/build/lambda-with-128-memory/package.json
  packages/cli/test/fixtures/unit/commands/build/lambda-with-128-memory/vercel.json
  packages/cli/test/unit/commands/build.test.ts
Labels: area: cli, area: tests, semver: patch

#8959 [tests] Fix CI after Node 18 updates
  packages/next/test/fixtures/00-app-dir-edge/package.json
  packages/next/test/fixtures/00-app-dir-edge/vercel.json
  packages/next/test/fixtures/00-app-dir-static/vercel.json
  packages/next/test/fixtures/00-app-dir/vercel.json
  packages/next/test/fixtures/00-index-isr/package.json
  packages/next/test/fixtures/00-initial-notfound-revalidate-i18n-previous/package.json
  packages/next/test/fixtures/00-legacy-404/package.json
  packages/next/test/fixtures/00-legacy-monorepo-index-route/www/package.json
  packages/next/test/fixtures/00-legacy-routes-nested/apps/app/package.json
  packages/next/test/fixtures/00-legacy-routes-nested/apps/app/yarn.lock
  packages/next/test/fixtures/00-non-server-build/package.json
  packages/next/test/fixtures/00-server-build-initial/package.json
  packages/next/test/fixtures/00-shared-lambdas-invalid-node-env/package.json
  packages/next/test/fixtures/00-shared-lambdas-invalid-node-env/yarn.lock
  packages/next/test/fixtures/00-shared-lambdas/package.json
  packages/next/test/fixtures/00-test-limit-shared-lambdas/package.json
  packages/next/test/fixtures/03-next-8/package.json
  packages/next/test/fixtures/05-spr-support/package.json
  packages/next/test/fixtures/09-yarn-workspaces/packages/common/package.json
  packages/next/test/fixtures/09-yarn-workspaces/packages/web/package.json
  packages/next/test/fixtures/18-ssg-fallback-support/package.json
  packages/next/test/fixtures/18-ssg-fallback-support/probes.json
  packages/next/test/fixtures/20-pages-404-lambda/package.json
  packages/next/test/fixtures/24-custom-output-dir/package.json
  packages/next/test/fixtures/25-mono-repo-404/packages/webapp/package.json
  packages/next/test/fixtures/26-mono-repo-404-lambda/packages/webapp/package.json
  packages/next/test/fixtures/27-non-word-param/package.json
  packages/next/test/fixtures/30-monorepo-no-script/package.json
  packages/next/test/fixtures/30-monorepo-no-script/packages/www/package.json
  packages/next/test/fixtures/32-custom-install-command/package.json
  packages/next/test/integration/index.test.js
  packages/node/test/fixtures/10-node-engines/vercel.json
  packages/node/test/fixtures/21-esm-lit/package.json
  packages/node/test/fixtures/21-esm-lit/yarn.lock
  packages/redwood/test/fixtures/01-create-redwood-app/package.json
  packages/redwood/test/fixtures/02-create-redwood-app/package.json
  packages/redwood/test/fixtures/16-create-redwood-app/package.json
  packages/redwood/test/fixtures/25-create-redwood-app/package.json
  packages/redwood/test/fixtures/27-create-redwood-app/package.json
  packages/redwood/test/fixtures/29-nested-funcs-cleanurl-redwood-app/package.json
  packages/static-build/test/fixtures/10-gatsby-without-build-script/package.json
  packages/static-build/test/fixtures/10-gatsby/package.json
  packages/static-build/test/fixtures/12-create-react-app/package.json
  packages/static-build/test/fixtures/13-vue/package.json
  packages/static-build/test/fixtures/14-angular-configured/package.json
  packages/static-build/test/fixtures/14-angular/package.json
  packages/static-build/test/fixtures/17-gridsome/package.json
  packages/static-build/test/fixtures/18-umi/package.json
  packages/static-build/test/fixtures/22-docusaurus-2-build-fail/package.json
  packages/static-build/test/fixtures/22-docusaurus-2/package.json
  packages/static-build/test/fixtures/23-sapper/package.json
  packages/static-build/test/fixtures/25-saber/package.json
  packages/static-build/test/fixtures/26-ejected-cra/package.json
  packages/static-build/test/fixtures/45-node-modules-bin-path/package.json
  packages/static-build/test/fixtures/47-nuxt-with-custom-output/package.json
  packages/static-build/test/fixtures/48-nuxt-without-framework/package.json
  packages/static-build/test/fixtures/49-scully/package.json
  packages/static-build/test/fixtures/50-ionic-react/package.json
  packages/static-build/test/fixtures/52-ionic-angular/package.json
Labels: area: tests, semver: patch, pr: automerge

#8960 [docs] add more details on local development
  .github/CONTRIBUTING.md
  README.md
  packages/cli/README.md
Labels: area: docs, semver: patch

#8935 [cli] Move json5 dependency to dev dependencies
  packages/cli/package.json
Labels: area: cli, semver: patch, pr: automerge

#8887 [build-utils][node][next][remix] add `operationType` to Lambda
  packages/build-utils/src/lambda.ts
  packages/build-utils/src/prerender.ts
  packages/build-utils/test/unit.test.ts
  packages/next/src/index.ts
  packages/remix/src/build.ts
Labels: area: build-utils, area: node, semver: minor, area: next, area: remix

#8964 [docs] make `yarn dev` usage clearer
  .github/CONTRIBUTING.md
Labels: area: docs, semver: patch

#7815 [frameworks] Add VuePress and VitePress
  examples/vitepress/.gitignore
  examples/vitepress/README.md
  examples/vitepress/docs/about.md
  examples/vitepress/docs/index.md
  examples/vitepress/package.json
  examples/vitepress/yarn.lock
  examples/vuepress/.gitignore
  examples/vuepress/README.md
  examples/vuepress/package.json
  examples/vuepress/src/config/README.md
  examples/vuepress/src/guide/README.md
  examples/vuepress/src/guide/using-vue.md
  examples/vuepress/src/index.md
  examples/vuepress/yarn.lock
  packages/frameworks/src/frameworks.ts
Labels: area: frameworks, semver: patch, pr: automerge

#8975 Fix up some missing URLs
  errors/now-next-legacy-mode.md
  packages/cli/src/util/index.ts
Labels: area: docs, semver: minor

#8965 [build-utils] make `lambda` optional in `Prerender` constructor
  packages/build-utils/src/prerender.ts
  packages/build-utils/test/unit.test.ts
  packages/cli/src/util/build/write-build-result.ts
Labels: area: build-utils, semver: patch, pr: automerge

#8976 [dev] Update the templates to get closer to production
  packages/cli/src/util/dev/templates/error.jst
  packages/cli/src/util/dev/templates/error_404.jst
  packages/cli/src/util/dev/templates/error_502.jst
  packages/cli/src/util/dev/templates/error_base.jst
Labels: area: dev, semver: minor

#8986 [node] Add caching to TS compile
  packages/node/src/typescript.ts
Labels: area: node, semver: patch, pr: automerge

#8988 [next] Fix incorrect 404.html path when app directory is present with pages folder
  packages/next/src/utils.ts
  packages/next/test/fixtures/01-app-dir-static/app/blog/[slug]/layout.js
  packages/next/test/fixtures/01-app-dir-static/app/blog/[slug]/page.js
  packages/next/test/fixtures/01-app-dir-static/index.test.js
  packages/next/test/fixtures/01-app-dir-static/next.config.js
  packages/next/test/fixtures/01-app-dir-static/package.json
  packages/next/test/fixtures/01-app-dir-static/pages/api/hello.js
  packages/next/test/fixtures/01-app-dir-static/vercel.json
Labels: semver: patch, area: next

#8978 [next] Update matching priority for middleware/rsc
  packages/next/src/server-build.ts
  packages/next/test/fixtures/00-app-dir/app/ssg/page.js
  packages/next/test/fixtures/00-app-dir/middleware.js
  packages/next/test/fixtures/00-app-dir/vercel.json
Labels: semver: patch, area: next, pr: automerge

#8200 [frameworks] Fix astro default routes since it is not SPA
  packages/frameworks/src/frameworks.ts
Labels: area: frameworks, semver: patch, pr: automerge

#8989 [next] increase edge functions limit to 4MB
  packages/next/src/edge-function-source/constants.ts
  packages/next/test/unit/get-nextjs-edge-function-source.next-only.test.ts
Labels: semver: patch, area: next, pr: automerge

#8990 edge: format MB with sepace separator
  packages/next/package.json
  packages/next/src/edge-function-source/get-edge-function-source.ts
  packages/next/src/utils.ts
  yarn.lock
Labels: semver: patch, area: next

#8942 [cli] Add `vc rollback` command
  packages/cli/src/commands/deploy/args.ts
  packages/cli/src/commands/dev/dev.ts
  packages/cli/src/commands/index.ts
  packages/cli/src/commands/list.ts
  packages/cli/src/commands/remove.ts
  packages/cli/src/commands/rollback.ts
  packages/cli/src/index.ts
  packages/cli/src/types.ts
  packages/cli/src/util/deploy/get-deployment-by-id-or-host.ts
  packages/cli/src/util/errors-ts.ts
  packages/cli/src/util/link/ensure-link.ts
  packages/cli/src/util/link/setup-and-link.ts
  packages/cli/src/util/projects/link.ts
  packages/cli/src/util/rollback/get-deployment-info.ts
  packages/cli/src/util/rollback/render-alias-status.ts
  packages/cli/src/util/rollback/request-rollback.ts
  packages/cli/src/util/rollback/status.ts
  packages/cli/test/dev/utils.js
  packages/cli/test/fixtures/unit/vercel-rollback/.gitignore
  packages/cli/test/fixtures/unit/vercel-rollback/.vercel/project.json
  packages/cli/test/fixtures/unit/vercel-rollback/package.json
  packages/cli/test/fixtures/unit/vercel-rollback/pages/index.js
  packages/cli/test/fixtures/unit/vercel-rollback/vercel.json
  packages/cli/test/mocks/deployment.ts
  packages/cli/test/mocks/matchers/to-output.ts
  packages/cli/test/mocks/project.ts
  packages/cli/test/unit/commands/rollback.test.ts
Labels: area: cli, semver: minor
