Repository vercel/vercel, pull requests merged in 2022-04, with the labels that each got.

#7644 [examples] Bump Next.js + React
  examples/nextjs/package-lock.json
  examples/nextjs/package.json
  examples/nextjs/yarn.lock
Labels: area: examples, semver-patch

#7624 [cli] Add `--environment` to `vc pull`
  packages/cli/src/commands/env/index.ts
  packages/cli/src/commands/env/pull.ts
  packages/cli/src/commands/pull.ts
  packages/cli/src/util/dev/expose-system-envs.ts
  packages/cli/src/util/get-decrypted-env-records.ts
  packages/cli/test/commands/pull.test.ts
  packages/cli/test/mocks/project.ts
Labels: area: cli, semver-minor

#7647 [CLI] remove old references to `vc pull --env-file`
  packages/cli/src/commands/pull.ts
Labels: area: cli, semver-patch

#7653 [cli] trim env file path output
  packages/cli/src/commands/env/pull.ts
  packages/cli/src/commands/pull.ts
Labels: area: cli, semver-patch

#7658 [build-utils] Add `repoRootPath` to `PrepareCacheOptions`
  packages/build-utils/src/types.ts
Labels: area: build-utils, semver-patch

#7654 [cli] remove deprecation warning for `vc env`
  packages/cli/src/commands/env/index.ts
Labels: area: cli, semver-patch

#7660 [tests] Bump mkdocs test fixture
  packages/static-build/test/fixtures/40-pelican/requirements.txt
  packages/static-build/test/fixtures/40-pelican/vercel.json
  packages/static-build/test/fixtures/41-mkdocs/requirements.txt
  packages/static-build/test/fixtures/41-mkdocs/vercel.json
Labels: area: tests, semver-patch, area: static-build

#7659 [static-build] Fix `prepareCache()` when deploying with `--prebuilt`
  packages/static-build/src/index.ts
Labels: semver-patch, area: static-build

#7670 [node][redwood] update `@vercel/nft` to 0.18.1
  packages/cli/package.json
  packages/node/package.json
  packages/redwood/package.json
  yarn.lock
Labels: area: node, semver-patch, area: redwood

#7668 [docs] Fix links to docs
  errors/domain-verification.md
  errors/missing-env-file.md
  packages/build-utils/src/detect-builders.ts
  packages/cli/src/commands/alias/set.ts
  packages/static-build/src/index.ts
Labels: area: build-utils, area: cli, area: docs, semver-patch, area: static-build

#7671 [build-utils] Only allow `runNpmInstall()` to run once per `package.json`
  packages/build-utils/src/fs/run-user-scripts.ts
  packages/build-utils/test/fixtures/02-zero-config-api/yarn.lock
  packages/build-utils/test/unit.test.ts
Labels: area: build-utils, semver-minor

#7669 [static-build] Add support for Build Output v3 detection
  packages/build-utils/src/types.ts
  packages/static-build/package.json
  packages/static-build/src/index.ts
  packages/static-build/src/utils/build-output-v1.ts
  packages/static-build/src/utils/build-output-v3.ts
  packages/static-build/src/utils/gatsby.ts
  packages/static-build/test/build-fixtures/09-build-output-v3/build.js
  packages/static-build/test/build-fixtures/09-build-output-v3/package.json
  packages/static-build/test/build.test.ts
  packages/static-build/test/prepare-cache.test.ts
  packages/static-build/test/tsconfig.json
  packages/static-build/tsconfig.json
  yarn.lock
Labels: semver-minor, area: static-build

#7672 [build-utils] Move "Installing dependencies..." log to `runNpmInstall()`
  packages/build-utils/src/fs/run-user-scripts.ts
  packages/node/src/index.ts
  packages/redwood/src/index.ts
  packages/static-build/src/index.ts
Labels: area: build-utils, area: node, semver-patch, area: static-build, area: redwood

#7623 [tests] Bump `turbo` and allow `turbo.json` in `.vercelignore`
  .vercelignore
  package.json
  yarn.lock
Labels: area: tests

#7681 [node-bridge] Ensure content-type is always set with multi-payloads
  packages/node-bridge/bridge.js
  packages/node-bridge/test/bridge.test.js
Labels: semver-patch

#7590 [go] Add support for version 1.18
  packages/go/go-helpers.ts
  packages/go/test/fixtures/01-cowsay/vercel.json
Labels: area: go, semver-patch

#7684 [examples] fixed vercel deploy link
  examples/dojo/README.md
Labels: area: examples, semver-patch

#7619 [cli] Allow projectSettings override in vercel.json
  packages/build-utils/src/types.ts
  packages/cli/src/commands/deploy/index.ts
  packages/cli/src/util/deploy/process-deployment.ts
  packages/cli/src/util/index.ts
  packages/cli/test/helpers/prepare.js
  packages/cli/test/integration.js
  packages/client/src/create-deployment.ts
Labels: area: cli, area: client, semver-minor

#7686 [examples] Remove "amp" example
  examples/amp/.gitignore
  examples/amp/README.md
  examples/amp/favicon.png
  examples/amp/index.html
  examples/amp/logo.png
  packages/cli/test/integration.js
Labels: area: examples, semver-patch

#7692 [docs] Update available runtimes
  DEVELOPING_A_RUNTIME.md
Labels: area: docs, semver-patch

#7695 [cli] Ensure `.vercel` directory is created in `vc pull`
  packages/cli/src/commands/env/pull.ts
  packages/cli/src/util/projects/project-settings.ts
  packages/cli/test/commands/pull.test.ts
  packages/cli/test/mocks/project.ts
Labels: area: cli, semver-patch

#7697 [cli] check for prebuilt directory
  packages/cli/src/commands/deploy/index.ts
  packages/cli/test/commands/deploy.test.ts
Labels: area: cli, semver-patch

#7699 [client] Remove single file deployment root path `/` route
  packages/client/src/deploy.ts
Labels: area: client, semver-major

#7696 [cli] check isTTY before prompting to `pull`
  packages/cli/src/commands/build.ts
Labels: area: cli, semver-patch

#7704 [static-build] Support Build Output API v3 `cache` property in `prepareCache()`
  packages/static-build/src/index.ts
  packages/static-build/src/utils/build-output-v3.ts
  packages/static-build/test/cache-fixtures/build-output-api-v3/.gitignore
  packages/static-build/test/cache-fixtures/build-output-api-v3/.vercel/output/config.json
  packages/static-build/test/cache-fixtures/build-output-api-v3/another.txt
  packages/static-build/test/cache-fixtures/build-output-api-v3/do-not-cache.txt
  packages/static-build/test/cache-fixtures/build-output-api-v3/some-dir/one.txt
  packages/static-build/test/cache-fixtures/build-output-api-v3/some-dir/two.txt
  packages/static-build/test/prepare-cache.test.ts
Labels: semver-minor, area: static-build

#7693 [frameworks] Add opt-in darkModeLogo to `Framework` in packages/frameworks
  packages/frameworks/logos/next-dark.svg
  packages/frameworks/src/frameworks.ts
  packages/frameworks/src/types.ts
Labels: area: frameworks, semver-minor

#7702 [cli] update language of prebuilt error
  packages/cli/src/commands/deploy/index.ts
  packages/cli/test/commands/deploy.test.ts
Labels: area: cli, semver-patch

#7717 [build-utils] Add warning for experimental Node.js
  packages/build-utils/src/fs/node-version.ts
  packages/build-utils/src/fs/run-user-scripts.ts
  packages/build-utils/test/unit.test.ts
Labels: area: build-utils, area: node, semver-patch

#7709 [python] Add discontinue date for Python 3.6
  packages/python/jest.config.js
  packages/python/package.json
  packages/python/src/index.ts
  packages/python/src/version.ts
  packages/python/test/fixtures/02-wsgi-pipenv/vercel.json
  packages/python/test/fixtures/03-env-vars/vercel.json
  packages/python/test/fixtures/04-cowsay-pipfile/vercel.json
  packages/python/test/integration.test.ts
  packages/python/test/tsconfig.json
  packages/python/test/unit.test.ts
  packages/python/tsconfig.json
Labels: area: python, semver-patch

#7722 [static-build] Resolve git.io links
  examples/ember/.travis.yml
  packages/cli/test/dev/fixtures/24-ember/.travis.yml
  packages/static-build/src/index.ts
  packages/static-build/test/fixtures/15-preact/src/components/app.js
  packages/static-build/test/fixtures/20-ember/.travis.yml
Labels: semver-patch, area: static-build

#7710 [node][static-build][redwood] add root path pattern to prepareCache
  packages/node/.gitignore
  packages/node/package.json
  packages/node/src/index.ts
  packages/node/test/cache-fixtures/foo/node_modules/file
  packages/node/test/cache-fixtures/index.js
  packages/node/test/cache-fixtures/node_modules/file
  packages/node/test/prepare-cache.test.js
  packages/redwood/.gitignore
  packages/redwood/package.json
  packages/redwood/src/index.ts
  packages/redwood/test/cache-fixtures/foo/node_modules/file
  packages/redwood/test/cache-fixtures/index.js
  packages/redwood/test/cache-fixtures/node_modules/file
  packages/redwood/test/prepare-cache.test.js
  packages/static-build/src/index.ts
  packages/static-build/test/cache-fixtures/root-path/foo/node_modules/file
  packages/static-build/test/cache-fixtures/root-path/index.js
  packages/static-build/test/cache-fixtures/root-path/node_modules/file
  packages/static-build/test/prepare-cache.test.ts
Labels: area: node, semver-patch, area: static-build, area: redwood

#7727 [tests] Bump dev dependencies for jest/eslint/prettier/turbo/etc
  package.json
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/frameworks/package.json
  packages/python/package.json
  packages/static-config/package.json
  yarn.lock
Labels: area: tests, semver-patch

#7732 [build-utils][static-build] Replace 00a0 with space
  packages/build-utils/src/fs/run-user-scripts.ts
  packages/static-build/src/index.ts
  packages/static-build/test/fixtures/11-svelte/README.md
Labels: area: build-utils, semver-patch, area: static-build
