Repository vercel/vercel, pull requests merged in 2022-09, with the labels that each got.

#8499 [next] Revert nft to 0.21.0
  packages/next/package.json
  yarn.lock
Labels: semver: patch, area: next, pr: automerge

#8498 [cli] Change error message from `Error!` to `Error:`
  packages/cli/scripts/preinstall.js
  packages/cli/src/index.ts
  packages/cli/src/util/output/create-output.ts
  packages/cli/src/util/output/error.ts
  packages/cli/src/util/validate-paths.ts
  packages/cli/test/integration.js
  packages/cli/test/unit/commands/build.test.ts
  packages/cli/test/unit/commands/deploy.test.ts
  packages/cli/test/unit/commands/git.test.ts
  packages/cli/test/unit/commands/inspect.test.ts
  packages/cli/test/unit/commands/login.test.ts
Labels: area: cli, semver: patch, pr: automerge

#8501 [next] Fix index app dir case
  packages/next/src/index.ts
  packages/next/test/fixtures/00-app-dir/app/page.server.js
  packages/next/test/fixtures/00-app-dir/pages/index.js
  packages/next/test/fixtures/00-app-dir/vercel.json
Labels: semver: patch, area: next

#8502 [next][node][remix][redwood] Bump `@vercel/nft@0.22.1`
  packages/next/package.json
  packages/node/package.json
  packages/node/test/fixtures/22-readfile-js/api/index.js
  packages/node/test/fixtures/22-readfile-js/assets/build.js
  packages/node/test/fixtures/22-readfile-js/assets/dep.js
  packages/node/test/fixtures/22-readfile-js/probes.json
  packages/redwood/package.json
  packages/remix/package.json
  yarn.lock
Labels: area: node, semver: patch, area: redwood, area: next, area: remix, pr: automerge

#8500 [node] update middleware-no-response behavior to match production changes
  packages/build-utils/src/types.ts
  packages/cli/test/dev/integration-4.test.ts
  packages/node/package.json
  packages/node/src/dev-server.ts
  yarn.lock
Labels: area: node, semver: patch, pr: automerge

#8505 [frameworks] Update Next.js Logos
  packages/frameworks/logos/next-dark.svg
  packages/frameworks/logos/next.svg
Labels: area: frameworks, semver: patch, pr: automerge

#8529 [tests] set retry count to 0 when running tests locally
  packages/cli/test/dev/utils.js
Labels: area: tests, semver: patch, pr: automerge

#8497 [fs-detectors] optimize readdir for framework detection
  packages/fs-detectors/src/detectors/filesystem.ts
  packages/fs-detectors/test/unit.framework-detector.test.ts
Labels: semver: major, area: fs-detectors, pr: automerge

#8457 [dev] allow middleware rewrites to change origin in `vc dev`
  packages/cli/src/util/dev/server.ts
  packages/cli/test/dev/fixtures/middleware-rewrite/middleware.js
  packages/cli/test/dev/integration-4.test.ts
Labels: area: dev, semver: patch, pr: automerge

#8531 [tests] Skip tests that won't run on Windows due to 'mkdir -p' and symlinks
  packages/cli/test/unit/commands/build.test.ts
  packages/cli/test/unit/util/build/import-builders.test.ts
Labels: area: tests, semver: patch, pr: automerge

#8542 [cli] Poll the Dev Command server on both IPv4 and IPv6 in `vc dev`
  packages/cli/src/util/dev/server.ts
  packages/cli/test/dev/fixtures/vite-dev/package.json
  packages/cli/test/dev/fixtures/vite-dev/vercel.json
Labels: area: cli, area: dev, semver: patch, pr: automerge

#8540 [frameworks] Detect Sanity v3 config
  packages/frameworks/src/frameworks.ts
Labels: area: frameworks, semver: patch, pr: automerge

#8536 [fs-detectors] Add the writeFile function to DetectorFilesystem
  packages/fs-detectors/src/detectors/filesystem.ts
  packages/fs-detectors/test/unit.framework-detector.test.ts
Labels: semver: minor, area: fs-detectors, pr: automerge

#8535 [dev] fix middleware rewrites to relative paths that do not exist
  packages/cli/src/util/dev/server.ts
  packages/cli/test/dev/fixtures/middleware-rewrite-404/api/edge.ts
  packages/cli/test/dev/fixtures/middleware-rewrite-404/index.html
  packages/cli/test/dev/fixtures/middleware-rewrite-404/middleware.ts
  packages/cli/test/dev/integration-4.test.ts
Labels: area: cli, area: dev, semver: patch, pr: automerge

#8538 [dev] consolidate dev server address parsing
  packages/cli/src/util/dev/server.ts
Labels: area: dev, semver: patch, pr: automerge

#8534 [fs-detectors] Add monorepo managers
  packages/fs-detectors/src/monorepos/monorepo-managers.ts
  packages/fs-detectors/test/fixtures/39-nx-monorepo/apps/app/project.json
  packages/fs-detectors/test/fixtures/39-nx-monorepo/nx.json
  packages/fs-detectors/test/fixtures/40-rush-monorepo/rush.json
  packages/fs-detectors/test/unit.detect-monorepo-managers.test.ts
Labels: semver: minor, area: fs-detectors, pr: automerge

#8545 [cli] Switch to `npm` and add more context to install errors during Builder import
  packages/cli/src/util/build/import-builders.ts
  packages/cli/test/unit/util/build/import-builders.test.ts
Labels: area: cli, area: dev, semver: minor, pr: automerge

#8546 [frameworks] Update framework logos to be file paths
  api/_lib/script/build.ts
  api/frameworks.ts
  packages/cli/test/mocks/deployment.ts
  packages/frameworks/src/frameworks.ts
  packages/frameworks/src/types.ts
  packages/frameworks/test/frameworks.unit.test.ts
Labels: area: frameworks, semver: patch, pr: automerge

#8551 [cli] Use `isStaticRuntime()` helper function when importing Builders
  packages/cli/src/util/build/import-builders.ts
Labels: area: cli, semver: patch, pr: automerge

#8552 [tests] Fix tarball lookup with sha contains 0
  api/_lib/script/build.ts
Labels: area: tests, semver: patch, pr: automerge

#8547 [cli] Replace "0.0.0.0" with "localhost" in `vc dev`
  packages/cli/src/commands/dev/dev.ts
  packages/cli/src/util/dev/parse-listen.ts
  packages/cli/src/util/dev/server.ts
  packages/cli/test/unit/util/dev/parse-listen.test.ts
Labels: area: cli, area: dev, semver: patch, pr: automerge

#8485 [cli] Use Builder importing logic from `vc build` in `vc dev`
  packages/build-utils/src/types.ts
  packages/cli/src/util/build/static-builder.ts
  packages/cli/src/util/dev/builder-cache.ts
  packages/cli/src/util/dev/builder.ts
  packages/cli/src/util/dev/server.ts
  packages/cli/src/util/dev/static-builder.ts
  packages/cli/src/util/dev/types.ts
  packages/cli/test/dev/integration-1.test.ts
  packages/cli/test/unit/util/dev/builder-cache.test.ts
Labels: area: cli, area: dev, semver: minor, pr: automerge

#8556 [tests] Fix "50-ionic-react" test fixture
  packages/static-build/test/fixtures/50-ionic-react/package.json
  packages/static-build/test/fixtures/50-ionic-react/yarn.lock
Labels: area: tests, semver: patch, pr: automerge

#8554 [tests] Add more tests for `importBuilders()` scenarios
  packages/cli/test/unit/util/build/import-builders.test.ts
Labels: area: cli, area: tests, semver: patch, pr: automerge

#7361 [tests] Add test for path segments when `go.mod` is present
  packages/go/test/fixtures/25-square-brackets-with-go-mod/api/[hello].go
  packages/go/test/fixtures/25-square-brackets-with-go-mod/api/sub/[hi].go
  packages/go/test/fixtures/25-square-brackets-with-go-mod/go.mod
  packages/go/test/fixtures/25-square-brackets-with-go-mod/go.sum
  packages/go/test/fixtures/25-square-brackets-with-go-mod/probes.json
Labels: area: go, area: tests, semver: patch, pr: automerge

#8549 [fs-detectors] Add Nx Workspace
  packages/build-utils/test/integration.test.ts
  packages/fs-detectors/src/workspaces/get-workspace-package-paths.ts
  packages/fs-detectors/src/workspaces/get-workspaces.ts
  packages/fs-detectors/src/workspaces/workspace-managers.ts
  packages/fs-detectors/test/fixtures/41-nx-workspace/apps/app-one/package.json
  packages/fs-detectors/test/fixtures/41-nx-workspace/apps/app-two/package.json
  packages/fs-detectors/test/fixtures/41-nx-workspace/workspace.json
  packages/fs-detectors/test/fixtures/42-npm-workspace-with-nx/apps/app-one/package.json
  packages/fs-detectors/test/fixtures/42-npm-workspace-with-nx/apps/app-two/package.json
  packages/fs-detectors/test/fixtures/42-npm-workspace-with-nx/package-lock.json
  packages/fs-detectors/test/fixtures/42-npm-workspace-with-nx/package.json
  packages/fs-detectors/test/fixtures/42-npm-workspace-with-nx/workspace.json
  packages/fs-detectors/test/fixtures/43-nx-json-misshaped/apps/app-one/package.json
  packages/fs-detectors/test/fixtures/43-nx-json-misshaped/apps/app-two/package.json
  packages/fs-detectors/test/fixtures/43-nx-json-misshaped/workspace.json
  packages/fs-detectors/test/fixtures/44-nx-json-string/apps/app-one/package.json
  packages/fs-detectors/test/fixtures/44-nx-json-string/apps/app-two/package.json
  packages/fs-detectors/test/fixtures/44-nx-json-string/workspace.json
  packages/fs-detectors/test/unit.framework-detector.test.ts
  packages/fs-detectors/test/unit.get-workspaces-package-paths.test.ts
Labels: semver: minor, area: fs-detectors

#8532 [build-utils][cli][go][node][ruby][static-build] Explicitly set PATH when copying env vars
  packages/build-utils/src/clone-env.ts
  packages/build-utils/src/fs/run-user-scripts.ts
  packages/build-utils/src/index.ts
  packages/build-utils/test/unit.clone-env.test.ts
  packages/cli/src/util/dev/server.ts
  packages/go/index.ts
  packages/node/src/index.ts
  packages/ruby/index.ts
  packages/static-build/src/index.ts
Labels: area: build-utils, area: go, area: node, area: ruby, area: cli, semver: patch, area: static-build, pr: automerge

#8550 [build-utils] Add flag for `npm install --legacy-peer-deps`
  packages/build-utils/src/fs/run-user-scripts.ts
  packages/build-utils/test/fixtures/20-npm-7/package-lock.json
  packages/build-utils/test/unit.run-npm-install.test.ts
Labels: area: build-utils, semver: patch, pr: automerge

#8530 [next] Use posix path separator to join routes and overrides paths
  packages/next/package.json
  packages/next/src/index.ts
  packages/next/src/server-build.ts
  packages/next/src/utils.ts
  packages/next/test/unit/fixtures/00-config/entry/next.config.js
  packages/next/test/unit/fixtures/00-config/next.config.js
  packages/next/test/unit/fixtures/01-normalize-routes/.gitignore
  packages/next/test/unit/fixtures/01-normalize-routes/index.test.js
  packages/next/test/unit/fixtures/01-normalize-routes/next.config.js
  packages/next/test/unit/fixtures/01-normalize-routes/package.json
  packages/next/test/unit/fixtures/01-normalize-routes/pages/foo/bar/index.js
  packages/next/test/unit/fixtures/01-normalize-routes/pages/foo/index.js
  packages/next/test/unit/fixtures/01-normalize-routes/pages/index.js
  packages/next/test/unit/utils.test.js
Labels: semver: patch, area: next, pr: automerge

#8567 [tests] Add yarn cache to github actions
  .github/workflows/publish.yml
  .github/workflows/test-integration-cli.yml
  .github/workflows/test-unit.yml
  .github/workflows/test.yml
Labels: area: tests, semver: patch, pr: automerge

#8581 [tests] Change some `runNpmInstall()` unit tests to mocks
  packages/build-utils/test/unit.run-npm-install.test.ts
  packages/build-utils/test/unit.test.ts
Labels: area: tests, semver: patch, pr: automerge

#8588 [next] Update local app edge test
  packages/next/test/fixtures/00-app-dir-edge/app/edge/page.js
  packages/next/test/fixtures/00-app-dir-edge/app/index/page.js
  packages/next/test/fixtures/00-app-dir-edge/app/page.js
Labels: semver: patch, area: next

#8586 [tests] Fix turbo remote cache
  .github/workflows/test-integration-cli.yml
  .github/workflows/test-unit.yml
  .github/workflows/test.yml
  package.json
  yarn.lock
Labels: area: tests, semver: patch, pr: automerge

#8590 [tests] Skip test 01-normalize-routes temporarily
  packages/next/test/unit/fixtures/01-normalize-routes/.gitignore
  packages/next/test/unit/fixtures/01-normalize-routes/index.test.js
  packages/next/test/unit/fixtures/01-normalize-routes/package.json
  packages/next/test/unit/fixtures/01-normalize-routes/yarn.lock
Labels: area: tests, semver: patch, pr: automerge

#8591 Revert "[fs-detectors] Rush json workspace"
  packages/fs-detectors/src/workspaces/get-workspace-package-paths.ts
  packages/fs-detectors/src/workspaces/get-workspaces.ts
  packages/fs-detectors/src/workspaces/workspace-managers.ts
  packages/fs-detectors/test/fixtures/40-rush-monorepo/apps/my-app/package.json
  packages/fs-detectors/test/fixtures/40-rush-monorepo/apps/my-second-app/package.json
  packages/fs-detectors/test/fixtures/40-rush-monorepo/rush.json
  packages/fs-detectors/test/fixtures/41-rush-monorepo-empty/rush.json
  packages/fs-detectors/test/fixtures/42-rush-json-invalid/rush.json
  packages/fs-detectors/test/fixtures/45-rush-no-project-folder/apps/my-app/package.json
  packages/fs-detectors/test/fixtures/45-rush-no-project-folder/apps/my-second-app/package.json
  packages/fs-detectors/test/fixtures/45-rush-no-project-folder/rush.json
  packages/fs-detectors/test/unit.get-workspaces-package-paths.test.ts
Labels: semver: patch, area: fs-detectors, pr: automerge

#8566 [cli] Add "images" optimization configuration support in `vercel.json`
  packages/cli/src/commands/build.ts
  packages/cli/src/commands/deploy/index.ts
  packages/cli/test/fixtures/unit/commands/build/images/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/build/images/index.html
  packages/cli/test/fixtures/unit/commands/build/images/vercel.json
  packages/cli/test/unit/commands/build.test.ts
  packages/client/src/types.ts
Labels: area: cli, semver: minor, pr: automerge

#8594 [tests] Update workflows to use global `env`
  .github/workflows/test-integration-cli.yml
  .github/workflows/test-unit.yml
  .github/workflows/test.yml
Labels: area: tests, semver: patch, pr: automerge

#8597 [tests] Add turbo caching to publish
  .github/workflows/publish.yml
Labels: area: tests, semver: patch, pr: automerge

#8596 [build-utils][next] Remove Path once copied to PATH.
  packages/build-utils/src/clone-env.ts
  packages/build-utils/test/unit.clone-env.test.ts
  packages/next/test/unit/fixtures/01-normalize-paths/.gitignore
  packages/next/test/unit/fixtures/01-normalize-paths/index.test.js
  packages/next/test/unit/fixtures/01-normalize-paths/next.config.js
  packages/next/test/unit/fixtures/01-normalize-paths/package.json
  packages/next/test/unit/fixtures/01-normalize-paths/pages/foo/bar/index.js
  packages/next/test/unit/fixtures/01-normalize-paths/pages/foo/index.js
  packages/next/test/unit/fixtures/01-normalize-paths/pages/index.js
  packages/next/test/unit/fixtures/01-normalize-routes/yarn.lock
Labels: area: build-utils, semver: patch, area: next, pr: automerge

#8598 [build-utils] Retry with legacy peer deps on install failure
  packages/build-utils/src/fs/run-user-scripts.ts
  packages/build-utils/test/fixtures/15-npm-8-legacy-peer-deps/.gitignore
  packages/build-utils/test/fixtures/15-npm-8-legacy-peer-deps/package-lock.json
  packages/build-utils/test/fixtures/15-npm-8-legacy-peer-deps/package.json
  packages/build-utils/test/fixtures/15-npm-8-legacy-peer-deps/probes.json
  packages/build-utils/test/unit.test.ts
Labels: area: build-utils, semver: patch, pr: automerge

#8600 [tests] Added lock file for normalize paths test fixture
  packages/next/test/unit/fixtures/01-normalize-paths/yarn.lock
Labels: area: tests, semver: patch, pr: automerge

#8607 [cli] Don't set `analyticsId` when Vercel Analytics are disabled in "vc pull"
  packages/cli/src/util/projects/project-settings.ts
Labels: area: cli, semver: patch, pr: automerge

#8605 [cli][dev] Use `browser` platform when bundling edge functions for `vc dev`
  packages/cli/test/dev/fixtures/edge-function/api/edge-import-browser.js
  packages/cli/test/dev/fixtures/edge-function/vendor/generate-uuid/index-browser.js
  packages/cli/test/dev/fixtures/edge-function/vendor/generate-uuid/index-node.js
  packages/cli/test/dev/fixtures/edge-function/vendor/generate-uuid/package.json
  packages/cli/test/dev/integration-1.test.ts
  packages/node/src/dev-server.ts
Labels: area: cli, area: dev, semver: patch, pr: automerge

#8604 [fs-detectors] ensure processing of potentialFiles for readdir cache hits
  packages/fs-detectors/src/detectors/filesystem.ts
  packages/fs-detectors/test/unit.framework-detector.test.ts
Labels: semver: patch, area: fs-detectors, pr: automerge

#8569 [cli] Disable git status background index refresh/optimization
  packages/cli/src/util/create-git-meta.ts
Labels: area: cli, semver: patch, pr: automerge

#8608 [next] fix app dir SSG deployment paths
  packages/next/src/index.ts
  packages/next/src/server-build.ts
  packages/next/src/utils.ts
  packages/next/test/fixtures/00-app-dir/app/layout.js
  packages/next/test/integration/index.test.js
Labels: semver: patch, area: next

#8609 [tests] Test route src and dest for normalized path
  packages/next/test/unit/fixtures/01-normalize-paths/index.test.js
Labels: area: tests, semver: patch, pr: automerge

#8612 [build-utils] support providing execution regions in Edge Functions
  packages/build-utils/src/edge-function.ts
Labels: area: build-utils, semver: minor

#8613 [tests] Add timeout for broken `actions/setup-node@v3`
  .github/workflows/publish.yml
  .github/workflows/test-integration-cli.yml
  .github/workflows/test-unit.yml
  .github/workflows/test.yml
Labels: area: tests, semver: patch, pr: automerge

#8614 [tests] Use new `VERCEL_TEST_TOKEN` for tests
  .github/workflows/test-integration-cli.yml
  .github/workflows/test.yml
  test/lib/deployment/now-deploy.js
Labels: area: tests, semver: patch, pr: automerge

#8611 [next] Update to route app rsc paths correctly
  packages/next/src/server-build.ts
  packages/next/src/utils.ts
  packages/next/test/fixtures/00-app-dir/vercel.json
  test/lib/run-build-lambda.js
Labels: semver: patch, area: next, pr: automerge

#8615 [cli][dev] extract edge/serverless handler logic into separate files
  packages/node/build.js
  packages/node/src/dev-server.ts
  packages/node/src/edge-functions/edge-handler-template.js
  packages/node/src/edge-functions/edge-handler.ts
  packages/node/src/edge-functions/edge-wasm-plugin.ts
  packages/node/src/serverless-functions/serverless-handler.ts
  packages/node/src/utils.ts
Labels: area: cli, area: dev, semver: patch, pr: automerge

#8616 [cli][dev] Add strict mode to `vc dev` edge function handlers
  packages/node/src/edge-functions/edge-handler.ts
Labels: area: cli, area: dev, semver: patch, pr: automerge

#8622 [cli] Add `vercel.json` validation to `vercel build`
  packages/cli/src/commands/build.ts
  packages/cli/src/util/dev/server.ts
  packages/cli/src/util/validate-config.ts
  packages/cli/test/fixtures/unit/commands/build/images/vercel.json
  packages/cli/test/fixtures/unit/commands/build/invalid-rewrites/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/build/invalid-rewrites/index.html
  packages/cli/test/fixtures/unit/commands/build/invalid-rewrites/vercel.json
  packages/cli/test/unit/commands/build.test.ts
  packages/cli/test/unit/util/dev/validate.test.ts
Labels: area: cli, semver: patch, pr: automerge

#8623 [cli] Fix invalid vercel.json config error serialization
  packages/build-utils/src/errors.ts
  packages/cli/src/commands/build.ts
  packages/cli/test/unit/commands/build.test.ts
Labels: area: cli, semver: patch, pr: automerge

#8626 [cli] Refactor doBuild to return void
  packages/cli/src/commands/build.ts
  packages/cli/test/unit/commands/build.test.ts
Labels: area: cli, semver: patch, pr: automerge

#8633 [go] remove unused, breaking watchlist from Go builder
  packages/go/index.ts
  packages/go/test/fixtures/25-other-func-conflict/api/one.go
  packages/go/test/fixtures/25-other-func-conflict/api/two.go
  packages/go/test/fixtures/25-other-func-conflict/go.mod
  packages/go/test/fixtures/25-other-func-conflict/probes.json
  packages/go/util/analyze.go
Labels: area: go, semver: patch

#8399 [cli] fix vc bisect off by one
  packages/cli/src/commands/bisect/index.ts
  packages/cli/src/util/client.ts
  packages/cli/test/mocks/deployment.ts
  packages/cli/test/unit/commands/bisect.test.ts
Labels: area: cli, semver: patch, pr: automerge

#8638 [build-utils] Adjust `nodejs12.x` discontinueDate to Monday
  packages/build-utils/src/fs/node-version.ts
  packages/build-utils/test/unit.test.ts
Labels: area: build-utils, semver: patch, pr: automerge

#8639 [tests] Fix timeout for `actions/setup-node`
  .github/workflows/publish.yml
  .github/workflows/test-integration-cli.yml
  .github/workflows/test-unit.yml
  .github/workflows/test.yml
Labels: area: tests, semver: patch, pr: automerge

#8627 [next] Fix build time 404 route with trailingSlash: true
  packages/next/src/server-build.ts
  packages/next/test/fixtures/00-trailing-slash-add/pages/ssg/[slug].js
  packages/next/test/fixtures/00-trailing-slash-add/probes.json
Labels: semver: patch, area: next, pr: automerge

#8629 [next] read `regions` from middleware-manifest output
  packages/next/src/utils.ts
Labels: semver: minor, area: next, pr: automerge

#8646 [build-utils] Fix npm version detection for `--legacy-peer-deps`
  packages/build-utils/src/fs/run-user-scripts.ts
  packages/build-utils/test/fixtures/14-npm-6-legacy-peer-deps/.gitignore
  packages/build-utils/test/fixtures/14-npm-6-legacy-peer-deps/package-lock.json
  packages/build-utils/test/fixtures/14-npm-6-legacy-peer-deps/package.json
  packages/build-utils/test/fixtures/14-npm-6-legacy-peer-deps/probes.json
  packages/build-utils/test/unit.run-npm-install.test.ts
Labels: area: build-utils, semver: patch, pr: automerge

#8647 [tests] Remove console.log() from test
  packages/build-utils/test/unit.run-npm-install.test.ts
Labels: area: tests, semver: patch, pr: automerge

#8645 [fs-detectors] Use json5 parser for Rush to have valid json parsing
  packages/fs-detectors/package.json
  packages/fs-detectors/src/workspaces/get-workspace-package-paths.ts
  packages/fs-detectors/test/fixtures/40-rush-monorepo/rush.json
  packages/fs-detectors/test/fixtures/42-rush-json-invalid/rush.json
  yarn.lock
Labels: semver: patch, area: fs-detectors

#8634 [tests] replace spinner messages with normal output during tests
  packages/cli/src/util/output/create-output.ts
  packages/cli/test/unit/commands/list.test.ts
  packages/cli/test/unit/commands/project.test.ts
Labels: area: tests, semver: patch, pr: automerge

#8650 [cli] Print upload progress in increments of 25% when non-TTY
  packages/cli/src/util/deploy/process-deployment.ts
  packages/cli/test/unit/commands/deploy.test.ts
  packages/client/src/upload.ts
Labels: area: cli, semver: patch, pr: automerge

#8651 [next] Update RSC header in has routes
  packages/next/src/server-build.ts
  packages/next/test/fixtures/00-app-dir/vercel.json
Labels: semver: patch, area: next, pr: automerge

#8657 [next] Use OS path separator to match serverless file references
  packages/next/src/server-build.ts
Labels: semver: patch, area: next, pr: automerge

#8661 [tests] Adding test for next builder OS path separator for serverless file refs
  packages/next/test/unit/fixtures/01-normalize-paths/data/strings.json
  packages/next/test/unit/fixtures/01-normalize-paths/index.test.js
  packages/next/test/unit/fixtures/01-normalize-paths/pages/index.js
Labels: semver: patch, area: next, pr: automerge
