Repository vercel/vercel, pull requests merged in 2022-05, with the labels that each got.

#7733 [build-utils] Fix package manager auto detection precedence
  packages/build-utils/src/fs/run-user-scripts.ts
  packages/build-utils/test/fixtures/25-multiple-lock-files-yarn/package-lock.json
  packages/build-utils/test/fixtures/25-multiple-lock-files-yarn/package.json
  packages/build-utils/test/fixtures/25-multiple-lock-files-yarn/pnpm-lock.yaml
  packages/build-utils/test/fixtures/25-multiple-lock-files-yarn/vercel.json
  packages/build-utils/test/fixtures/25-multiple-lock-files-yarn/yarn.lock
  packages/build-utils/test/fixtures/26-multiple-lock-files-pnpm/package-lock.json
  packages/build-utils/test/fixtures/26-multiple-lock-files-pnpm/package.json
  packages/build-utils/test/fixtures/26-multiple-lock-files-pnpm/pnpm-lock.yaml
  packages/build-utils/test/fixtures/26-multiple-lock-files-pnpm/vercel.json
Labels: area: build-utils, semver-patch

#7738 [cli] Revert "Use `@vercel/fetch-retry` in CLI integration tests"
  packages/cli/package.json
  packages/cli/test/integration.js
  yarn.lock
Labels: area: cli, area: tests, semver-patch

#7737 [build-utils] Add supported list of workspace managers
  packages/build-utils/src/index.ts
  packages/build-utils/src/workspaces/workspace-managers.ts
  packages/build-utils/test/fixtures/25-multiple-lock-files-yarn/package.json
  packages/build-utils/test/fixtures/26-multiple-lock-files-pnpm/package.json
  packages/build-utils/test/fixtures/26-multiple-lock-files-pnpm/pnpm-workspace.yaml
  packages/build-utils/test/fixtures/27-yarn-workspaces/a/package.json
  packages/build-utils/test/fixtures/27-yarn-workspaces/b/package.json
  packages/build-utils/test/fixtures/27-yarn-workspaces/package.json
  packages/build-utils/test/fixtures/27-yarn-workspaces/yarn.lock
  packages/build-utils/test/integration.test.ts
  packages/build-utils/test/unit.detect-workspace-managers.test.ts
  packages/build-utils/test/utils/fixture-filesystem.ts
Labels: area: build-utils, semver-minor

#7755 [build-utils] Add `ShouldServe` type
  packages/build-utils/src/index.ts
  packages/build-utils/src/should-serve.ts
  packages/build-utils/src/types.ts
Labels: area: build-utils, semver-minor

#7756 [node] Use TypeScript for unit tests
  packages/node/package.json
  packages/node/test/prepare-cache.test.ts
  packages/node/test/tsconfig.json
Labels: area: node, area: tests, semver-patch

#7700 [cli] require non-TTY uses of `pull` to also pass `--yes`
  packages/cli/src/commands/dev/dev.ts
  packages/cli/src/commands/link/index.ts
  packages/cli/src/commands/pull.ts
  packages/cli/src/index.ts
  packages/cli/src/types.ts
  packages/cli/src/util/link/setup-and-link.ts
  packages/cli/test/commands/pull.test.ts
  packages/cli/test/fixtures/unit/vercel-pull-unlinked/.gitignore
  packages/cli/test/fixtures/unit/vercel-pull-unlinked/package.json
  packages/cli/test/fixtures/unit/vercel-pull-unlinked/pages/index.js
  packages/cli/test/fixtures/unit/vercel-pull-unlinked/static/robots.txt
  packages/cli/test/fixtures/unit/vercel-pull-unlinked/vercel.json
  packages/cli/test/integration.js
Labels: area: cli, semver-patch

#7748 [cli] check prebuilt target env against deploy target env
  packages/cli/src/commands/deploy/index.ts
  packages/cli/src/util/deploy/get-prebuilt-json.ts
  packages/cli/src/util/deploy/parse-target.ts
  packages/cli/src/util/link/setup-and-link.ts
  packages/cli/test/commands/deploy.test.ts
  packages/cli/test/fixtures/unit/build-output-api-preview/.vercel/output/builds.json
  packages/cli/test/fixtures/unit/build-output-api-production/.vercel/output/builds.json
  packages/cli/test/helpers/prepare.js
  packages/cli/test/integration.js
  packages/cli/test/util/deploy/parse-target.test.ts
Labels: area: cli, semver-patch

#7758 [build-utils] add pnpm7 to path when lockfile v5.4 is detected
  packages/build-utils/src/fs/run-user-scripts.ts
  packages/build-utils/test/fixtures/28-pnpm-7/package.json
  packages/build-utils/test/fixtures/28-pnpm-7/pnpm-lock.yaml
  packages/build-utils/test/fixtures/28-pnpm-7/vercel.json
  packages/build-utils/test/unit.get-env-for-package-manager.test.ts
Labels: area: build-utils, semver-patch

#7776 Fix version mismatch
  packages/cli/package.json
  packages/client/package.json
  packages/go/package.json
  packages/node/package.json
  packages/python/package.json
  packages/redwood/package.json
  packages/ruby/package.json
  packages/static-build/package.json
Labels: semver-patch

#7777 [tests] skip flakey test
  packages/cli/test/util/dev/server.test.ts
Labels: area: cli, area: tests, semver-patch

#7690 [static-build] Support subset of Build Output API v2
  examples/solidstart/.gitignore
  packages/static-build/package.json
  packages/static-build/src/index.ts
  packages/static-build/src/utils/build-output-v2.ts
  packages/static-build/src/utils/build-output-v3.ts
  packages/static-build/test/build-fixtures/09-build-output-v3/.gitignore
  packages/static-build/test/build-fixtures/09-build-output-v3/build.js
  packages/static-build/test/build-fixtures/10-build-output-v2/.gitignore
  packages/static-build/test/build-fixtures/10-build-output-v2/build.js
  packages/static-build/test/build-fixtures/10-build-output-v2/package.json
  packages/static-build/test/build.test.ts
Labels: semver-minor, area: static-build

#7781 [examples] Downgrade remix and solidstart to Node.js 14 (fsapi)
  examples/remix/package-lock.json
  examples/remix/package.json
  examples/solidstart/package.json
  examples/solidstart/vercel.json
Labels: area: examples, semver-patch

#7782 [examples] Pin Ember to 14.x
  examples/ember/package.json
Labels: area: examples, semver-patch

#7785 [build-utils] Fix pnpm 7 path setting
  packages/build-utils/src/fs/run-user-scripts.ts
  packages/build-utils/test/fixtures/28-pnpm-7/vercel.json
  packages/build-utils/test/unit.get-env-for-package-manager.test.ts
Labels: area: build-utils, semver-patch

#7786 [tests] Fix node tests
  packages/node/test/fixtures/01-cowsay/vercel.json
  packages/node/test/fixtures/02-node-server/vercel.json
  packages/node/test/fixtures/03-env-vars/vercel.json
  packages/node/test/fixtures/04-tsx-resolve/vercel.json
  packages/node/test/fixtures/08-assets/vercel.json
  packages/node/test/fixtures/10-node-engines/major/package.json
  packages/node/test/fixtures/10-node-engines/range/package.json
  packages/node/test/fixtures/10-node-engines/vercel.json
  packages/node/test/fixtures/11-symlinks/vercel.json
  packages/node/test/fixtures/12-stack-trace-esm/vercel.json
  packages/node/test/fixtures/13-stack-trace/vercel.json
  packages/node/test/fixtures/14-stack-trace-ts/vercel.json
  packages/node/test/fixtures/15-helpers/vercel.json
  packages/node/test/fixtures/16-servers/vercel.json
  packages/node/test/fixtures/17-entrypoint-name-conflict/vercel.json
  packages/node/test/fixtures/18.1-nested-packagejson/vercel.json
  packages/node/test/fixtures/19-default-import-ts/vercel.json
  packages/node/test/fixtures/25-aws-api/vercel.json
  packages/node/test/fixtures/30-sharp/package.json
  packages/node/test/fixtures/30-sharp/vercel.json
  packages/node/test/fixtures/40-yarn-workspaces/vercel.json
  packages/node/test/fixtures/45-noEmitOnError-true/vercel.json
  packages/node/test/fixtures/46-noEmitOnError-false/vercel.json
  packages/node/test/fixtures/47-disable-helpers-by-env/vercel.json
  packages/node/test/fixtures/48-change-handler-by-env/vercel.json
  packages/node/test/fixtures/49-babel-config/vercel.json
Labels: area: node, area: tests, semver-patch

#7787 [redwood][static-build] add pnpm7 detection logic to builders
  packages/redwood/src/index.ts
  packages/static-build/src/index.ts
Labels: semver-patch, area: static-build, area: redwood

#7792 [redwood][static-build] move path logic up so both commands get pnpm7
  packages/redwood/src/index.ts
  packages/static-build/src/index.ts
  packages/static-build/test/fixtures/75-pnpm7-custom-commands/package.json
  packages/static-build/test/fixtures/75-pnpm7-custom-commands/pnpm-lock.yaml
  packages/static-build/test/fixtures/75-pnpm7-custom-commands/vercel.json
Labels: semver-patch, area: static-build, area: redwood

#7809 [tests] Skip broken go test
  packages/go/test/test.js
Labels: area: go, area: tests, semver-patch

#7802 [tests] improve platform-based skips
  packages/cli/test/util/dev/parse-listen.test.ts
  packages/cli/test/util/dev/server.test.ts
Labels: area: tests, semver-patch

#7795 [tests] Add cross platform chunked testing and leverage turbo more
  .github/workflows/test-integration-cli.yml
  .github/workflows/test-integration-dev.yml
  .github/workflows/test-integration-once.yml
  .github/workflows/test-unit.yml
  .github/workflows/test.yml
  package.json
  packages/build-utils/package.json
  packages/cli/package.json
  packages/cli/scripts/build.ts
  packages/client/package.json
  packages/frameworks/package.json
  packages/frameworks/test/frameworks.unit.test.ts
  packages/go/package.json
  packages/node-bridge/package.json
  packages/node-bridge/tsconfig.json
  packages/node/package.json
  packages/python/package.json
  packages/redwood/package.json
  packages/routing-utils/package.json
  packages/ruby/package.json
  packages/static-build/package.json
  packages/static-build/test/build.test.ts
  packages/static-build/test/integration-1.test.js
  packages/static-build/test/integration-2.test.js
  packages/static-build/test/integration-3.test.js
  packages/static-build/test/integration-4.test.js
  packages/static-build/test/integration-5.test.js
  packages/static-build/test/integration-setup.js
  packages/static-build/test/integration.test.js
  packages/static-config/package.json
  turbo.json
  utils/chunk-tests.js
  utils/chunk-tests.test.js
Labels: area: tests, semver-minor

#7818 Remove un-needed use of secret for team as it mangles logs
  .github/workflows/test-integration-cli.yml
  .github/workflows/test-integration-dev.yml
  .github/workflows/test-unit.yml
  .github/workflows/test.yml
Labels: area: tests, semver-patch

#7817 [examples] add `.output` to `.vercelignore`
  examples/nuxtjs/.vercelignore
Labels: area: examples, semver-patch

#7824 [cli] Fix "now-dev-next" and "now-dev-static-build-routing" unit tests
  packages/cli/src/util/dev/server.ts
  packages/cli/test/fixtures/unit/now-dev-next/.gitignore
  packages/cli/test/fixtures/unit/now-dev-next/next.config.js
  packages/cli/test/fixtures/unit/now-dev-next/package.json
  packages/cli/test/fixtures/unit/now-dev-next/pages/index.js
  packages/cli/test/fixtures/unit/now-dev-next/vercel.json
  packages/cli/test/util/dev/server.test.ts
Labels: area: cli, area: tests, semver-patch

#7828 [next] Fix loading next launcher with type: module in package.json
  packages/next/src/index.ts
  packages/next/src/server-build.ts
  packages/next/test/fixtures/35-esm-package/index.test.js
  packages/next/test/fixtures/35-esm-package/package.json
  packages/next/test/fixtures/35-esm-package/pages/api/hello.js
  packages/next/test/fixtures/35-esm-package/pages/index.js
  packages/next/test/fixtures/35-esm-package/vercel.json
Labels: semver-patch, area: next

#7827 [next][node][redwood] Update to latest version of @vercel/nft
  packages/next/package.json
  packages/node/package.json
  packages/redwood/package.json
  yarn.lock
Labels: area: node, semver-patch, area: redwood, area: next

#7814 [remix] Add `@vercel/remix` Builder
  .github/workflows/test-unit.yml
  packages/cli/package.json
  packages/remix/build.js
  packages/remix/default-server.js
  packages/remix/jest.config.js
  packages/remix/package.json
  packages/remix/src/build.ts
  packages/remix/src/index.ts
  packages/remix/src/prepare-cache.ts
  packages/remix/src/types.ts
  packages/remix/test/build.test.ts
  packages/remix/test/fixtures/01-remix-basics/.gitignore
  packages/remix/test/fixtures/01-remix-basics/README.md
  packages/remix/test/fixtures/01-remix-basics/app/entry.client.tsx
  packages/remix/test/fixtures/01-remix-basics/app/entry.server.tsx
  packages/remix/test/fixtures/01-remix-basics/app/root.tsx
  packages/remix/test/fixtures/01-remix-basics/app/routes/index.tsx
  packages/remix/test/fixtures/01-remix-basics/package.json
  packages/remix/test/fixtures/01-remix-basics/public/favicon.ico
  packages/remix/test/fixtures/01-remix-basics/remix.config.js
  packages/remix/test/fixtures/01-remix-basics/remix.env.d.ts
  packages/remix/test/fixtures/01-remix-basics/tsconfig.json
  packages/remix/test/fixtures/01-remix-basics/vercel.json
  packages/remix/test/fixtures/01-remix-basics/yarn.lock
  packages/remix/test/test.js
  packages/remix/test/tsconfig.json
  packages/remix/tsconfig.json
  utils/run.js
  yarn.lock
Labels: semver-minor, area: remix

#7839 [next] Use `substring()` instead of `substr()`
  packages/next/src/server-build.ts
  packages/next/src/utils.ts
Labels: semver-patch, area: next

#7760 Add list of supported monorepo managers
  packages/build-utils/src/detect-framework.ts
  packages/build-utils/src/index.ts
  packages/build-utils/src/monorepos/monorepo-managers.ts
  packages/build-utils/src/workspaces/workspace-managers.ts
  packages/build-utils/test/fixtures/28-turborepo-with-yarn-workspaces/a/package.json
  packages/build-utils/test/fixtures/28-turborepo-with-yarn-workspaces/b/package.json
  packages/build-utils/test/fixtures/28-turborepo-with-yarn-workspaces/package.json
  packages/build-utils/test/fixtures/28-turborepo-with-yarn-workspaces/turbo.json
  packages/build-utils/test/fixtures/28-turborepo-with-yarn-workspaces/yarn.lock
  packages/build-utils/test/fixtures/29-turborepo-in-package-json/a/package.json
  packages/build-utils/test/fixtures/29-turborepo-in-package-json/b/package.json
  packages/build-utils/test/fixtures/29-turborepo-in-package-json/package.json
  packages/build-utils/test/fixtures/29-turborepo-in-package-json/yarn.lock
  packages/build-utils/test/integration.test.ts
  packages/build-utils/test/unit.detect-monorepo-managers.test.ts
Labels: area: build-utils, semver-minor

#6217 [cli] Recommend `vc env` instead of `vc secrets`
  packages/cli/src/commands/secrets.js
Labels: area: cli, semver-patch

#7831 [frameworks] Use `@vercel/remix` Builder for "remix" preset
  examples/remix/vercel.json
  packages/frameworks/src/frameworks.ts
Labels: area: frameworks

#7843 [cli] Hard-code `VERCEL: 1` env var for "vc build"
  packages/cli/src/commands/build.ts
Labels: area: cli, semver-patch

#7808 [static-build] Support subset of Build Output API v2
  examples/solidstart/.gitignore
  packages/static-build/package.json
  packages/static-build/src/index.ts
  packages/static-build/src/utils/build-output-v2.ts
  packages/static-build/src/utils/build-output-v3.ts
  packages/static-build/test/build-fixtures/09-build-output-v3/.gitignore
  packages/static-build/test/build-fixtures/09-build-output-v3/build.js
  packages/static-build/test/build-fixtures/10-build-output-v2/.gitignore
  packages/static-build/test/build-fixtures/10-build-output-v2/build.js
  packages/static-build/test/build-fixtures/10-build-output-v2/package.json
  packages/static-build/test/build-fixtures/11-build-output-v1/.gitignore
  packages/static-build/test/build-fixtures/11-build-output-v1/build.js
  packages/static-build/test/build-fixtures/11-build-output-v1/package.json
  packages/static-build/test/build-fixtures/12-build-output-v1-conflict/.gitignore
  packages/static-build/test/build-fixtures/12-build-output-v1-conflict/.output/nitro.json
  packages/static-build/test/build-fixtures/12-build-output-v1-conflict/.output/public/_nuxt/entry-51e0e8ac.mjs
  packages/static-build/test/build-fixtures/12-build-output-v1-conflict/.output/public/_nuxt/entry.fec640a4.css
  packages/static-build/test/build-fixtures/12-build-output-v1-conflict/.output/public/_nuxt/manifest.json
  packages/static-build/test/build-fixtures/12-build-output-v1-conflict/.output/public/index.html
  packages/static-build/test/build-fixtures/12-build-output-v1-conflict/.vercel_build_output/static/_nuxt/entry-51e0e8ac.mjs
  packages/static-build/test/build-fixtures/12-build-output-v1-conflict/.vercel_build_output/static/_nuxt/entry.fec640a4.css
  packages/static-build/test/build-fixtures/12-build-output-v1-conflict/.vercel_build_output/static/_nuxt/manifest.json
  packages/static-build/test/build-fixtures/12-build-output-v1-conflict/.vercel_build_output/static/index.html
  packages/static-build/test/build-fixtures/12-build-output-v1-conflict/.vercelignore
  packages/static-build/test/build-fixtures/12-build-output-v1-conflict/README.md
  packages/static-build/test/build-fixtures/12-build-output-v1-conflict/app.vue
  packages/static-build/test/build-fixtures/12-build-output-v1-conflict/build.js
  packages/static-build/test/build-fixtures/12-build-output-v1-conflict/nuxt.config.ts
  packages/static-build/test/build-fixtures/12-build-output-v1-conflict/package.json
  packages/static-build/test/build-fixtures/12-build-output-v1-conflict/tsconfig.json
  packages/static-build/test/build-fixtures/12-build-output-v1-conflict/yarn.lock
  packages/static-build/test/build.test.ts
Labels: semver-minor, area: static-build

#7842 [cli] Refactor vc build `installBuilders()` logic to not use a loop
  packages/cli/src/commands/build.ts
  packages/cli/src/util/build/import-builders.ts
  packages/cli/test/unit/util/build/import-builders.test.ts
Labels: area: cli, semver-patch

#7832 [frameworks] Remove `defaultHeaders` / `defaultRedirects` / `defaultRewrites` / `getFsOutputDir()`
  packages/frameworks/src/frameworks.ts
  packages/frameworks/src/types.ts
Labels: area: frameworks, semver-major

#7819 [tests] update CI to use node@14 and drop support for node@12
  .github/workflows/test-integration-cli.yml
  .github/workflows/test-unit.yml
  api/tsconfig.json
  packages/build-utils/tsconfig.json
  packages/cli/package.json
  packages/cli/tsconfig.json
  packages/client/package.json
  packages/client/tsconfig.json
  packages/frameworks/tsconfig.json
  packages/go/tsconfig.json
  packages/next/tsconfig.json
  packages/node-bridge/tsconfig.json
  packages/node/src/typescript.ts
  packages/node/tsconfig.json
  packages/python/tsconfig.json
  packages/redwood/tsconfig.json
  packages/remix/tsconfig.json
  packages/routing-utils/tsconfig.json
  packages/ruby/tsconfig.json
  packages/static-build/tsconfig.json
  packages/static-config/tsconfig.json
  test/lib/deployment/now-deploy.js
Labels: area: tests, semver-major

#7857 [next][build-utils] Update to re-use build result type from build-utils
  packages/build-utils/src/types.ts
  packages/next/src/index.ts
  packages/next/src/server-build.ts
Labels: area: build-utils, semver-patch, area: next

#7858 [examples] Add missing semi to "solidstart" vite config
  examples/solidstart/vite.config.js
Labels: area: examples, semver-patch

#7860 [next][node] Bump `@vercel/nft` to 0.19.1
  packages/next/package.json
  packages/node/package.json
  packages/redwood/package.json
  packages/remix/package.json
  yarn.lock
Labels: area: node, semver-patch, area: redwood, area: next, area: remix

#7862 [tests] update fixture path
  packages/cli/test/unit/util/projects/get-vercel-directory.test.ts
  packages/cli/test/unit/util/projects/link.test.ts
Labels: area: tests, semver-patch

#7845 [cli] Convert `DevServer` "Unit" suite tests to "Dev" suite tests
  packages/cli/src/commands/dev/dev.ts
  packages/cli/test/dev/fixtures/api-with-public/api/[endpoint].js
  packages/cli/test/dev/fixtures/api-with-public/public/index.html
  packages/cli/test/dev/fixtures/api-with-static/api/[endpoint].js
  packages/cli/test/dev/fixtures/api-with-static/index.html
  packages/cli/test/dev/fixtures/custom-404/error.html
  packages/cli/test/dev/fixtures/custom-404/error.js
  packages/cli/test/dev/fixtures/custom-404/vercel.json
  packages/cli/test/dev/fixtures/dev-server-and-routes/.gitignore
  packages/cli/test/dev/fixtures/dev-server-and-routes/api/[endpoint].js
  packages/cli/test/dev/fixtures/dev-server-and-routes/api/[endpoint]/[id].js
  packages/cli/test/dev/fixtures/dev-server-and-routes/api/welcome.js
  packages/cli/test/dev/fixtures/dev-server-and-routes/package.json
  packages/cli/test/dev/fixtures/dev-server-and-routes/pages/index.js
  packages/cli/test/dev/fixtures/dev-server-query/.gitignore
  packages/cli/test/dev/fixtures/dev-server-query/package.json
  packages/cli/test/dev/fixtures/dev-server-query/pages/index.js
  packages/cli/test/dev/fixtures/dev-server-query/vercel.json
  packages/cli/test/dev/fixtures/directory-listing/file.txt
  packages/cli/test/dev/fixtures/directory-listing/lambda.js
  packages/cli/test/dev/fixtures/directory-listing/vercel.json
  packages/cli/test/dev/fixtures/headers/foo.txt
  packages/cli/test/dev/fixtures/headers/index.js
  packages/cli/test/dev/fixtures/headers/vercel.json
  packages/cli/test/dev/fixtures/node-query-invoke/index.js
  packages/cli/test/dev/fixtures/node-query-invoke/vercel.json
  packages/cli/test/dev/fixtures/node-request-body/api/data-events.js
  packages/cli/test/dev/fixtures/node-request-body/api/req-body.js
  packages/cli/test/dev/fixtures/query-proxy/index.js
  packages/cli/test/dev/fixtures/query-proxy/vercel.json
  packages/cli/test/dev/fixtures/static-build-routing/.gitignore
  packages/cli/test/dev/fixtures/static-build-routing/api/date.js
  packages/cli/test/dev/fixtures/static-build-routing/package.json
  packages/cli/test/dev/fixtures/static-build-routing/src/index.html
  packages/cli/test/dev/fixtures/static-build-routing/vercel.json
  packages/cli/test/dev/fixtures/static-routes/vercel.json
  packages/cli/test/dev/fixtures/static-routes/www/index.html
  packages/cli/test/dev/integration-1.test.ts
  packages/cli/test/dev/utils.js
  packages/cli/test/fixtures/unit/now-dev-default-builds-and-routes/pages/index.js
  packages/cli/test/unit/util/build/import-builders.test.ts
  packages/cli/test/unit/util/dev/server.test.ts
Labels: area: cli, area: tests, semver-patch

#7844 [cli] Symlink `@now/build-utils` when installing builders in "vc build"
  packages/cli/src/util/build/import-builders.ts
  packages/cli/test/unit/util/build/import-builders.test.ts
Labels: area: cli, semver-patch

#7775 [build-utils] Add getWorkspaces helper function
  packages/build-utils/src/index.ts
  packages/build-utils/src/workspaces/get-workspaces.ts
  packages/build-utils/test/fixtures/29-nested-workspaces/backend/c/package.json
  packages/build-utils/test/fixtures/29-nested-workspaces/backend/d/package.json
  packages/build-utils/test/fixtures/29-nested-workspaces/backend/package.json
  packages/build-utils/test/fixtures/29-nested-workspaces/backend/pnpm-lock.yaml
  packages/build-utils/test/fixtures/29-nested-workspaces/backend/pnpm-workspace.yaml
  packages/build-utils/test/fixtures/29-nested-workspaces/frontend/a/package.json
  packages/build-utils/test/fixtures/29-nested-workspaces/frontend/b/package.json
  packages/build-utils/test/fixtures/29-nested-workspaces/frontend/ignored/.gitkeep
  packages/build-utils/test/fixtures/29-nested-workspaces/frontend/package.json
  packages/build-utils/test/fixtures/29-nested-workspaces/frontend/yarn.lock
  packages/build-utils/test/fixtures/30-double-nested-workspaces/packages/backend/c/package.json
  packages/build-utils/test/fixtures/30-double-nested-workspaces/packages/backend/d/package.json
  packages/build-utils/test/fixtures/30-double-nested-workspaces/packages/backend/package.json
  packages/build-utils/test/fixtures/30-double-nested-workspaces/packages/backend/pnpm-lock.yaml
  packages/build-utils/test/fixtures/30-double-nested-workspaces/packages/backend/pnpm-workspace.yaml
  packages/build-utils/test/fixtures/30-double-nested-workspaces/packages/frontend/a/package.json
  packages/build-utils/test/fixtures/30-double-nested-workspaces/packages/frontend/b/package.json
  packages/build-utils/test/fixtures/30-double-nested-workspaces/packages/frontend/ignored/.gitkeep
  packages/build-utils/test/fixtures/30-double-nested-workspaces/packages/frontend/package.json
  packages/build-utils/test/fixtures/30-double-nested-workspaces/packages/frontend/yarn.lock
  packages/build-utils/test/fixtures/31-turborepo-in-package-json/a/package.json
  packages/build-utils/test/fixtures/31-turborepo-in-package-json/b/package.json
  packages/build-utils/test/fixtures/31-turborepo-in-package-json/package.json
  packages/build-utils/test/fixtures/31-turborepo-in-package-json/yarn.lock
  packages/build-utils/test/integration.test.ts
  packages/build-utils/test/unit.detect-monorepo-managers.test.ts
  packages/build-utils/test/unit.detect-workspace-managers.test.ts
  packages/build-utils/test/unit.get-workspaces.test.ts
Labels: area: build-utils, semver-minor

#7868 [next] Ensure test-next-local is run in CI
  packages/next/test/integration/index.test.js
  packages/next/test/integration/middleware.test.ts
  turbo.json
  utils/chunk-tests.js
Labels: semver-patch, area: next

#7873 [tests] Skip env vars for forks
  .github/workflows/test-integration-cli.yml
  .github/workflows/test-unit.yml
  .github/workflows/test.yml
Labels: area: tests, semver-patch

#7874 [tests] Conditionally set env vars
  .github/workflows/test-integration-cli.yml
  .github/workflows/test-unit.yml
  .github/workflows/test.yml
Labels: area: tests, semver-patch

#7575 [docs] Fix CONTRIBUTING.md grammar
  .github/CONTRIBUTING.md
Labels: area: docs, semver-patch

#7876 [tests] Add `vc build` integration test
  packages/cli/test/helpers/prepare.js
  packages/cli/test/integration.js
  test/lib/deployment/log.js
Labels: area: cli, area: tests, semver-patch

#7878 [node] Remove `mkdirp-promise` dependency
  packages/node/package.json
  packages/node/src/index.ts
  yarn.lock
Labels: area: node, semver-patch

#7881 [build-utils][go][next][redwood][static-build] Fix path delimiter on windows
  packages/build-utils/src/fs/run-user-scripts.ts
  packages/build-utils/test/unit.get-env-for-package-manager.test.ts
  packages/cli/test/unit/util/get-files.test.ts
  packages/go/go-helpers.ts
  packages/next/src/index.ts
  packages/redwood/src/index.ts
  packages/remix/src/build.ts
  packages/static-build/src/index.ts
Labels: area: build-utils, area: go, area: tests, semver-patch, area: static-build, area: redwood, area: next

#7887 [tests] Bump turbo to 1.2.14
  package.json
  yarn.lock
Labels: area: tests, semver-patch

#7892 [examples] Update SvelteKit example with latest boilerplate
  examples/sveltekit/.gitignore
  examples/sveltekit/.prettierignore
  examples/sveltekit/.prettierrc
  examples/sveltekit/README.md
  examples/sveltekit/jsconfig.json
  examples/sveltekit/package-lock.json
  examples/sveltekit/package.json
  examples/sveltekit/pnpm-lock.yaml
  examples/sveltekit/src/app.css
  examples/sveltekit/src/app.d.ts
  examples/sveltekit/src/app.html
  examples/sveltekit/src/hooks.js
  examples/sveltekit/src/lib/Counter.svelte
  examples/sveltekit/src/lib/form.js
  examples/sveltekit/src/lib/header/Header.svelte
  examples/sveltekit/src/routes/__layout.svelte
  examples/sveltekit/src/routes/about.svelte
  examples/sveltekit/src/routes/index.svelte
  examples/sveltekit/src/routes/todos/_api.js
  examples/sveltekit/src/routes/todos/index.js
  examples/sveltekit/src/routes/todos/index.svelte
  examples/sveltekit/svelte.config.js
Labels: area: examples, semver-patch

#7896 [tests] Update domain tests from .org to .com
  packages/cli/test/integration.js
Labels: area: tests, semver-patch

#7897 [cli] update update-notifier to fix notification of non-latest
  packages/cli/package.json
  packages/cli/src/index.ts
  yarn.lock
Labels: area: cli, semver-patch

#7791 [static-config] Support extracting `export const config` from swc's AST
  packages/static-config/package.json
  packages/static-config/src/index.ts
  packages/static-config/src/swc.ts
  packages/static-config/src/validation.ts
  packages/static-config/test/fixtures/extract-const-value.ts
  packages/static-config/test/swc.test.ts
  yarn.lock
Labels: semver-minor, area: static-config

#7899 [tests] Fix turbo cache invalidation for GH Actions `RUNNER_OS`
  turbo.json
Labels: area: tests, semver-patch
