Repository vercel/vercel, pull requests merged in 2022-03, with the labels that each got.

#7497 [build-utils] Make Builder `routes` output optional
  packages/build-utils/src/detect-builders.ts
  packages/build-utils/src/fs/glob.ts
  packages/build-utils/src/types.ts
Labels: area: build-utils, semver-patch

#6834 Add support for PNPM
  packages/build-utils/src/fs/run-user-scripts.ts
  packages/build-utils/test/fixtures/22-pnpm/package.json
  packages/build-utils/test/fixtures/22-pnpm/pnpm-lock.yaml
  packages/build-utils/test/fixtures/22-pnpm/vercel.json
  packages/build-utils/test/fixtures/23-pnpm-workspaces/c/package.json
  packages/build-utils/test/fixtures/23-pnpm-workspaces/d/package.json
  packages/build-utils/test/fixtures/23-pnpm-workspaces/package.json
  packages/build-utils/test/fixtures/23-pnpm-workspaces/pnpm-lock.yaml
  packages/build-utils/test/fixtures/23-pnpm-workspaces/pnpm-workspace.yaml
  packages/build-utils/test/integration.test.ts
  packages/build-utils/test/unit.test.ts
Labels: area: build-utils, semver-minor

#7506 [examples] Update todo functionality in the "sveltekit" example
  examples/sveltekit/package-lock.json
  examples/sveltekit/package.json
  examples/sveltekit/src/app.html
  examples/sveltekit/src/global.d.ts
  examples/sveltekit/src/hooks.js
  examples/sveltekit/src/lib/Counter.svelte
  examples/sveltekit/src/lib/form.js
  examples/sveltekit/src/routes/todos/[uid].json.js
  examples/sveltekit/src/routes/todos/_api.js
  examples/sveltekit/src/routes/todos/index.js
  examples/sveltekit/src/routes/todos/index.json.js
  examples/sveltekit/src/routes/todos/index.svelte
  examples/sveltekit/svelte.config.js
Labels: area: examples

#7387 [cli] enhance changelog accuracy and format
  package.json
  test/utils/changelog/filter.test.js
  test/utils/changelog/group.test.js
  test/utils/changelog/parse.test.js
  utils/changelog.js
  utils/changelog/filter.js
  utils/changelog/group.js
  utils/changelog/parse.js
Labels: area: cli, semver-minor

#7512 [cli] Remove outdated comment
  utils/changelog.js
Labels: area: cli, semver-patch

#7515 [node] Move `@vercel/node-bridge` to dependencies
  packages/node/package.json
Labels: area: node, semver-patch

#7516 [cli] fail when local config is missing
  packages/cli/src/util/get-config.ts
  packages/cli/test/integration.js
Labels: area: cli, semver-patch

#7507 [node-bridge][build-utils] Add multi payload lambda handling in node-bridge
  packages/build-utils/src/lambda.ts
  packages/node-bridge/bridge.js
  packages/node-bridge/test/bridge.test.js
  packages/node-bridge/types.ts
Labels: area: build-utils, semver-patch

#7529 [build-utils] Change pretty command to pnpm run
  packages/build-utils/src/fs/run-user-scripts.ts
  packages/build-utils/test/fixtures/22-pnpm/vercel.json
Labels: area: build-utils, semver-patch

#7530 [build-utils] streamline File types for better type narrowing
  packages/build-utils/src/file-blob.ts
  packages/build-utils/src/file-fs-ref.ts
  packages/build-utils/src/file-ref.ts
  packages/build-utils/src/fs/download.ts
  packages/build-utils/src/types.ts
  packages/cli/src/util/dev/builder.ts
  packages/node/src/index.ts
Labels: area: build-utils, semver-patch

#7534 [build-utils] Preserve symlinks for `FileRef` and `FileBlob` types in `download()`
  packages/build-utils/src/file-blob.ts
  packages/build-utils/src/fs/download.ts
  packages/build-utils/test/unit.test.ts
Labels: area: build-utils

#7533 [client] preserve symlinks during deploy upload
  packages/client/package.json
  packages/client/src/upload.ts
  packages/client/src/utils/hashes.ts
  packages/client/src/utils/index.ts
  packages/client/src/utils/readdir-recursive.ts
  packages/client/tests/fixtures/symlinks/folder-link
  packages/client/tests/fixtures/symlinks/folder/text.txt
  packages/client/tests/fixtures/symlinks/index-link.txt
  packages/client/tests/fixtures/symlinks/index.txt
  packages/client/tests/unit.utils.test.ts
  yarn.lock
Labels: area: client, semver-patch

#7539 [build-utils] Use `File` type for `Prerender` fallback
  packages/build-utils/src/prerender.ts
Labels: area: build-utils, semver-patch

#7553 [build-utils] Remove `as` cast in `Lambda`
  packages/build-utils/src/lambda.ts
Labels: area: build-utils, semver-patch

#7549 [node] Consolidate dev and prd tsconfig.json
  packages/cli/test/dev/fixtures/41-tsconfig-jsx/.gitignore
  packages/cli/test/dev/fixtures/41-tsconfig-jsx/api/test.ts
  packages/cli/test/dev/fixtures/41-tsconfig-jsx/index.html
  packages/cli/test/dev/fixtures/41-tsconfig-jsx/package-lock.json
  packages/cli/test/dev/fixtures/41-tsconfig-jsx/package.json
  packages/cli/test/dev/fixtures/41-tsconfig-jsx/src/App.module.css
  packages/cli/test/dev/fixtures/41-tsconfig-jsx/src/App.tsx
  packages/cli/test/dev/fixtures/41-tsconfig-jsx/src/assets/favicon.ico
  packages/cli/test/dev/fixtures/41-tsconfig-jsx/src/index.css
  packages/cli/test/dev/fixtures/41-tsconfig-jsx/src/index.tsx
  packages/cli/test/dev/fixtures/41-tsconfig-jsx/src/logo.svg
  packages/cli/test/dev/fixtures/41-tsconfig-jsx/tsconfig.json
  packages/cli/test/dev/fixtures/41-tsconfig-jsx/vite.config.ts
  packages/cli/test/dev/fixtures/41-tsconfig-jsx/yarn.lock
  packages/cli/test/dev/integration.js
  packages/node/src/dev-server.ts
  packages/node/src/index.ts
  packages/node/src/typescript.ts
Labels: area: node, area: cli, area: dev, semver-patch

#7563 [tests] Add pnpm integration tests
  packages/build-utils/test/fixtures/24-pnpm-hoisted/.gitignore
  packages/build-utils/test/fixtures/24-pnpm-hoisted/.npmrc
  packages/build-utils/test/fixtures/24-pnpm-hoisted/a/index.js
  packages/build-utils/test/fixtures/24-pnpm-hoisted/b/index.js
  packages/build-utils/test/fixtures/24-pnpm-hoisted/index.js
  packages/build-utils/test/fixtures/24-pnpm-hoisted/package.json
  packages/build-utils/test/fixtures/24-pnpm-hoisted/pnpm-lock.yaml
  packages/build-utils/test/fixtures/24-pnpm-hoisted/vercel.json
  packages/cli/test/fixtures/unit/pnpm-pnp-symlink/.gitignore
  packages/cli/test/fixtures/unit/pnpm-pnp-symlink/.npmrc
  packages/cli/test/fixtures/unit/pnpm-pnp-symlink/.pnp.cjs
  packages/cli/test/fixtures/unit/pnpm-pnp-symlink/a/index.js
  packages/cli/test/fixtures/unit/pnpm-pnp-symlink/b/index.js
  packages/cli/test/fixtures/unit/pnpm-pnp-symlink/index.js
  packages/cli/test/fixtures/unit/pnpm-pnp-symlink/package.json
  packages/cli/test/fixtures/unit/pnpm-pnp-symlink/pnpm-lock.yaml
  packages/cli/test/fixtures/unit/pnpm-pnp-symlink/vercel.json
  packages/cli/test/integration.js
Labels: area: build-utils, area: cli, area: tests, semver-patch

#7583 [cli] Update `14-svelte-node` fixture to run "dev" command
  packages/cli/test/dev/fixtures/14-svelte-node/package.json
Labels: area: cli, area: tests, semver-patch

#7579 [tests] Remove unused dep cheerio
  package.json
  yarn.lock
Labels: area: tests, semver-patch

#7550 [build-utils] Remove `AnalyzeOptions` and `analyze()` docs
  DEVELOPING_A_RUNTIME.md
  packages/build-utils/src/types.ts
Labels: area: build-utils, semver-patch

#7554 [build-utils] Mark arbitrary properties on `Config` as `unknown`
  packages/build-utils/src/types.ts
Labels: area: build-utils, semver-patch

#7582 [build-utils] Allow arbitrary properties on the `Meta` interface
  packages/build-utils/src/types.ts
Labels: area: build-utils, semver-patch

#7578 [test] add exit code check for pnpm test
  packages/cli/test/integration.js
Labels: area: cli, area: tests, semver-patch

#7594 [cli] Fix `vc init` spinner
  packages/cli/src/commands/init/init.ts
Labels: area: cli, semver-patch

#7600 Downgrade Hugo Version again.
  packages/frameworks/src/frameworks.ts
Labels: area: examples, area: frameworks

#7598 [tests] Bump turborepo to 1.1.9
  package.json
  yarn.lock
Labels: area: tests, semver-patch

#7596 [api] Update `/api/examples/list` to be static for `vc init`
  api/_lib/script/build.ts
  api/examples/list-all.ts
  api/examples/list.ts
  package.json
  packages/cli/package.json
  vercel.json
Labels: area: cli, area: examples, semver-patch

#7555 [client] Use `.vercel/output` for --prebuilt
  packages/client/src/create-deployment.ts
  packages/client/src/utils/hashes.ts
  packages/client/src/utils/index.ts
  packages/client/tests/fixtures/file-system-api-root-directory/root/.vercel/output/static/baz.txt
  packages/client/tests/fixtures/file-system-api-root-directory/root/.vercel/output/static/sub/qux.txt
  packages/client/tests/fixtures/file-system-api-root-directory/someother/.vercel/output/static/baz.txt
  packages/client/tests/fixtures/file-system-api-root-directory/someother/.vercel/output/static/sub/qux.txt
  packages/client/tests/fixtures/file-system-api/.vercel/output/static/baz.txt
  packages/client/tests/fixtures/file-system-api/.vercel/output/static/sub/qux.txt
  packages/client/tests/unit.utils.test.ts
Labels: area: client

#7613 [frameworks] Revert default version
  packages/frameworks/src/frameworks.ts
Labels: area: frameworks, semver-patch

#7618 [tests] Add lint rule to prevent substr()
  package.json
Labels: area: tests, semver-patch

#7614 [build-utils] Add a few more files to `.npmignore`
  packages/build-utils/.npmignore
Labels: area: build-utils, semver-patch

#7615 [client] Don't consider `rootDirectory` for --prebuilt buildFileTree()
  packages/client/src/utils/index.ts
  packages/client/tests/unit.utils.test.ts
Labels: area: client, semver-patch

#7616 [client] Drop "/now" prefix from API endpoints
  packages/client/src/utils/index.ts
Labels: area: client, semver-patch

#7632 [build-utils] Use `File` instead of `FileBase` for builder output type
  packages/build-utils/src/types.ts
Labels: area: build-utils, semver-patch

#7635 [examples] Fix angular demo url
  examples/angular/README.md
Labels: area: examples, semver-patch

#7577 [cli] Add support for `vc --cwd <dir>`
  packages/cli/src/commands/deploy/args.ts
  packages/cli/src/index.ts
  packages/cli/src/util/arg-common.ts
  packages/cli/src/util/env/add-env-record.ts
  packages/cli/src/util/env/get-env-records.ts
  packages/cli/src/util/env/remove-env-record.ts
  packages/cli/src/util/input/input-project.ts
  packages/cli/src/util/projects/get-project-by-id-or-name.ts
  packages/cli/test/helpers/prepare.js
  packages/cli/test/integration.js
  packages/cli/test/mocks/project.ts
Labels: area: cli, semver-minor
