Repository vercel/vercel, pull requests merged in 2023-01, with the labels that each got.

#9157 [build-utils] Revert "Support empty directory entries for `glob()` and `download()`"
  packages/build-utils/src/fs/download.ts
  packages/build-utils/src/fs/glob.ts
  packages/build-utils/test/unit.download.test.ts
  packages/build-utils/test/unit.glob.test.ts
  packages/build-utils/test/unit.test.ts
Labels: area: build-utils, semver: patch, pr: automerge

#9159 [next] Lock test fixture dependency
  packages/next/test/integration/legacy-custom-dependency/package.json
Labels: semver: patch, area: next, pr: automerge

#9158 [frameworks] Fix vitepress screenshot
  packages/frameworks/src/frameworks.ts
Labels: area: frameworks, semver: patch, pr: automerge

#9162 [tests] use assert.strictEqual
  packages/node-bridge/test/bridge.test.js
Labels: area: tests, semver: patch, pr: automerge

#9166 [frameworks] fix blitzjs detection
  packages/frameworks/src/frameworks.ts
  packages/fs-detectors/test/unit.framework-detector.test.ts
Labels: area: frameworks, semver: patch, pr: automerge

#9168 [tests] Bump turbo and update turbo.json
  package.json
  turbo.json
  yarn.lock
Labels: area: tests, semver: patch, pr: automerge

#9172 [tests] Turbo should use full logs when listing tests
  utils/chunk-tests.js
Labels: area: tests, semver: patch, pr: automerge

#7954 [node] Fix ESM output from TS source
  packages/cli/test/dev/fixtures/41-tsconfig-jsx/package.json
  packages/cli/test/dev/fixtures/force-module-commonjs/tsconfig.json
  packages/next/package.json
  packages/node/package.json
  packages/node/src/dev-server.ts
  packages/node/src/index.ts
  packages/node/src/typescript.ts
  packages/node/test/fixtures/06-ts-esm/api/proxy.ts
  packages/node/test/fixtures/06-ts-esm/package.json
  packages/node/test/fixtures/06-ts-esm/probes.json
  packages/node/test/fixtures/06-ts-esm/tsconfig.json
  packages/node/test/fixtures/18-nested-tsconfig/tsconfig.json
  packages/redwood/package.json
  packages/remix/package.json
  yarn.lock
Labels: area: node, semver: patch, pr: automerge

#9101 [fs-detectors][cli] move monorepo default setting code to fs-detectors
  packages/cli/src/util/build/monorepo.ts
  packages/cli/test/unit/commands/build.test.ts
  packages/fs-detectors/package.json
  packages/fs-detectors/src/index.ts
  packages/fs-detectors/src/monorepos/get-monorepo-default-settings.ts
  packages/fs-detectors/test/fixtures/get-monorepo-default-settings/nx-package-config/nx.json
  packages/fs-detectors/test/fixtures/get-monorepo-default-settings/nx-package-config/package.json
  packages/fs-detectors/test/fixtures/get-monorepo-default-settings/nx-package-config/packages/app-1/package.json
  packages/fs-detectors/test/fixtures/get-monorepo-default-settings/nx-project-and-package-config-1/nx.json
  packages/fs-detectors/test/fixtures/get-monorepo-default-settings/nx-project-and-package-config-1/package.json
  packages/fs-detectors/test/fixtures/get-monorepo-default-settings/nx-project-and-package-config-1/packages/app-1/package.json
  packages/fs-detectors/test/fixtures/get-monorepo-default-settings/nx-project-and-package-config-1/packages/app-1/project.json
  packages/fs-detectors/test/fixtures/get-monorepo-default-settings/nx-project-and-package-config-2/nx.json
  packages/fs-detectors/test/fixtures/get-monorepo-default-settings/nx-project-and-package-config-2/package.json
  packages/fs-detectors/test/fixtures/get-monorepo-default-settings/nx-project-and-package-config-2/packages/app-1/package.json
  packages/fs-detectors/test/fixtures/get-monorepo-default-settings/nx-project-and-package-config-2/packages/app-1/project.json
  packages/fs-detectors/test/fixtures/get-monorepo-default-settings/nx-project-config/nx.json
  packages/fs-detectors/test/fixtures/get-monorepo-default-settings/nx-project-config/package.json
  packages/fs-detectors/test/fixtures/get-monorepo-default-settings/nx-project-config/packages/app-1/package.json
  packages/fs-detectors/test/fixtures/get-monorepo-default-settings/nx-project-config/packages/app-1/project.json
  packages/fs-detectors/test/fixtures/get-monorepo-default-settings/nx/nx.json
  packages/fs-detectors/test/fixtures/get-monorepo-default-settings/nx/package.json
  packages/fs-detectors/test/fixtures/get-monorepo-default-settings/nx/packages/app-1/package.json
  packages/fs-detectors/test/fixtures/get-monorepo-default-settings/turbo-package-config/package.json
  packages/fs-detectors/test/fixtures/get-monorepo-default-settings/turbo-package-config/packages/app-1/package.json
  packages/fs-detectors/test/fixtures/get-monorepo-default-settings/turbo/package.json
  packages/fs-detectors/test/fixtures/get-monorepo-default-settings/turbo/packages/app-1/package.json
  packages/fs-detectors/test/fixtures/get-monorepo-default-settings/turbo/turbo.json
  packages/fs-detectors/test/unit.get-monorepo-default-settings.test.ts
  yarn.lock
Labels: area: cli, semver: minor, area: fs-detectors, pr: automerge

#9177 [frameworks] Update screenshot for Next.js example
  packages/frameworks/src/frameworks.ts
Labels: area: frameworks, semver: patch, pr: automerge

#9179 [tests] Update bot username/email of cron job
  utils/update-next.js
Labels: area: tests, semver: patch, pr: automerge

#9181 [tests] Fix monorepo tests so they are less flaky
  .gitignore
  packages/cli/test/fixtures/unit/commands/build/monorepo-detection/nx-package-config/package.json
  packages/cli/test/fixtures/unit/commands/build/monorepo-detection/nx-package-config/yarn.lock
  packages/cli/test/fixtures/unit/commands/build/monorepo-detection/nx-project-and-package-config-1/package.json
  packages/cli/test/fixtures/unit/commands/build/monorepo-detection/nx-project-and-package-config-1/yarn.lock
  packages/cli/test/fixtures/unit/commands/build/monorepo-detection/nx-project-and-package-config-2/package.json
  packages/cli/test/fixtures/unit/commands/build/monorepo-detection/nx-project-and-package-config-2/yarn.lock
  packages/cli/test/fixtures/unit/commands/build/monorepo-detection/nx-project-config/package.json
  packages/cli/test/fixtures/unit/commands/build/monorepo-detection/nx-project-config/yarn.lock
  packages/cli/test/fixtures/unit/commands/build/monorepo-detection/nx/package.json
  packages/cli/test/fixtures/unit/commands/build/monorepo-detection/nx/yarn.lock
  packages/cli/test/fixtures/unit/commands/build/monorepo-detection/turbo-package-config/yarn.lock
  packages/cli/test/fixtures/unit/commands/build/monorepo-detection/turbo/yarn.lock
Labels: area: tests, semver: patch, pr: automerge

#9163 [build-utils] Add fix for windows git bash to check path is set
  packages/build-utils/src/clone-env.ts
  packages/build-utils/test/unit.clone-env.test.ts
Labels: area: build-utils, semver: patch, pr: automerge

#9183 [static-build] add support for gatsby esm config
  packages/static-build/src/utils/gatsby.ts
  packages/static-build/test/build-fixtures/14-gatsby-with-esm-config/gatsby-config.mjs
  packages/static-build/test/build-fixtures/14-gatsby-with-esm-config/package.json
  packages/static-build/test/build-fixtures/14-gatsby-with-esm-config/src/pages/index.js
  packages/static-build/test/build-fixtures/14-gatsby-with-esm-config/src/styles/index.css
  packages/static-build/test/build-fixtures/14-gatsby-with-esm-config/vercel.json
  packages/static-build/test/build-fixtures/14-gatsby-with-esm-config/yarn.lock
  packages/static-build/test/builds.test.js
Labels: semver: minor, area: static-build, pr: automerge

#9191 Migrate gatsby-plugin-vercel to @vercel/gatsby-plugin-vercel-analytics
  .eslintignore
  .prettierignore
  packages/gatsby-plugin-vercel-analytics/.gitignore
  packages/gatsby-plugin-vercel-analytics/.npmignore
  packages/gatsby-plugin-vercel-analytics/README.md
  packages/gatsby-plugin-vercel-analytics/gatsby-browser.js
  packages/gatsby-plugin-vercel-analytics/index.js
  packages/gatsby-plugin-vercel-analytics/package.json
  packages/gatsby-plugin-vercel-analytics/src/gatsby-browser.js
  packages/gatsby-plugin-vercel-analytics/src/web-vitals.js
  packages/gatsby-plugin-vercel-analytics/web-vitals.js
  yarn.lock
Labels: semver: major, area: gatsby-plugin-vercel-analytics

#9194 [static-build] @vercel/static-build to use @vercel/gatsby-plugin-vercel-analytics
  packages/gatsby-plugin-vercel-analytics/README.md
  packages/static-build/src/utils/gatsby.ts
  packages/static-build/test/builds.test.js
Labels: semver: patch, area: static-build, pr: automerge, area: gatsby-plugin-vercel-analytics

#9193 [tests] Update turbo to 1.7.0-canary.9
  package.json
  yarn.lock
Labels: area: tests, semver: patch, pr: automerge

#9120 [cli] Rollback team check
  packages/cli/package.json
  packages/cli/src/commands/alias/set.ts
  packages/cli/src/commands/bisect/index.ts
  packages/cli/src/commands/deploy/index.ts
  packages/cli/src/commands/inspect.ts
  packages/cli/src/commands/logs.ts
  packages/cli/src/commands/remove.ts
  packages/cli/src/types.ts
  packages/cli/src/util/alias/assign-alias.ts
  packages/cli/src/util/alias/create-alias.ts
  packages/cli/src/util/alias/get-deployment-by-alias.ts
  packages/cli/src/util/deploy/get-deployment-by-id-or-host.ts
  packages/cli/src/util/deploy/get-deployment-by-id-or-throw.ts
  packages/cli/src/util/deploy/get-deployments-by-project-id.ts
  packages/cli/src/util/events.ts
  packages/cli/src/util/get-deployment.ts
  packages/cli/src/util/rollback/get-deployment-info.ts
  packages/cli/src/util/rollback/request-rollback.ts
  packages/cli/src/util/rollback/status.ts
  packages/cli/src/util/to-host.ts
  packages/cli/test/mocks/deployment.ts
  packages/cli/test/mocks/project.ts
  packages/cli/test/unit/commands/inspect.test.ts
  packages/cli/test/unit/commands/rollback.test.ts
Labels: area: cli, semver: patch, pr: automerge

#9202 [next] Fix dynamic routes order for app dir
  packages/next/src/server-build.ts
  packages/next/test/fixtures/00-app-dir/vercel.json
Labels: semver: patch, area: next, pr: automerge

#9098 [cli] Replace update-notifier dependency with build in
  packages/cli/package.json
  packages/cli/scripts/build.ts
  packages/cli/src/index.ts
  packages/cli/src/util/get-latest-version/get-latest-worker.js
  packages/cli/src/util/get-latest-version/index.ts
  packages/cli/test/unit/util/get-latest-version.test.ts
  yarn.lock
Labels: area: cli, semver: patch, pr: automerge

#9201 [build-utils] Support directory entries in `Lambda#createZip()`
  packages/build-utils/src/fs/download.ts
  packages/build-utils/src/lambda.ts
  packages/build-utils/test/unit.lambda.test.ts
  packages/build-utils/test/unit.test.ts
Labels: area: build-utils, semver: minor, pr: automerge

#9204 [next] fix lambda creation when using edge runtime
  packages/next/src/index.ts
  packages/next/test/unit/fixtures/02-edge-function-basepath/index.test.js
  packages/next/test/unit/fixtures/02-edge-function-basepath/pages/index.tsx
Labels: semver: patch, area: next, pr: automerge

#9198 [tests] Migrate from yarn to pnpm
  .github/CONTRIBUTING.md
  .github/workflows/publish.yml
  .github/workflows/test-integration-cli.yml
  .github/workflows/test-unit.yml
  .github/workflows/test.yml
  .husky/pre-commit
  .npmrc
  .yarnrc
  README.md
  api/_lib/util/error-handler.ts
  api/package.json
  api/tsconfig.json
  api/yarn.lock
  lerna.json
  package.json
  packages/build-utils/package.json
  packages/build-utils/src/fs/run-user-scripts.ts
  packages/build-utils/test/fixtures/15-npm-8-legacy-peer-deps/package-lock.json
  packages/build-utils/test/unit.test.ts
  packages/build-utils/test/unit.walk.test.ts
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/scripts/build.ts
  packages/client/README.md
  packages/client/package.json
  packages/edge/docs/README.md
  packages/edge/docs/interfaces/ExtraResponseInit.md
  packages/edge/docs/interfaces/Geo.md
  packages/edge/docs/interfaces/ModifiedRequest.md
  packages/edge/package.json
  packages/edge/scripts/fix-links.js
  packages/edge/test/docs.test.ts
  packages/error-utils/package.json
  packages/frameworks/package.json
  packages/fs-detectors/package.json
  packages/gatsby-plugin-vercel-analytics/README.md
  packages/go/package.json
  packages/hydrogen/package.json
  packages/next/package.json
  packages/node-bridge/package.json
  packages/node/package.json
  packages/node/src/edge-functions/edge-handler-template.js
  packages/python/package.json
  packages/redwood/package.json
  packages/remix/package.json
  packages/routing-utils/README.md
  packages/routing-utils/package.json
  packages/ruby/package.json
  packages/static-build/package.json
  packages/static-config/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  utils/chunk-tests.js
  utils/pack.ts
  utils/publish.sh
  utils/run.js
  yarn.lock
Labels: area: tests, semver: patch, pr: automerge

#9206 [cli] Remove `qs` dependency
  packages/cli/package.json
  packages/cli/src/commands/git/index.ts
  packages/cli/src/util/git/connect-git-provider.ts
  packages/cli/test/dev/fixtures/04-create-react-app/.nowignore
  pnpm-lock.yaml
Labels: area: cli, semver: patch, pr: automerge

#9210 [fs-detectors] use project path instead of name for turbo filter
  packages/fs-detectors/src/monorepos/get-monorepo-default-settings.ts
  packages/fs-detectors/test/unit.get-monorepo-default-settings.test.ts
Labels: semver: patch, area: fs-detectors, pr: automerge

#9213 [cli] Bumped get latest version test timeouts
  packages/cli/src/util/get-latest-version/get-latest-worker.js
  packages/cli/test/unit/util/get-latest-version.test.ts
Labels: area: tests, pr: automerge, semver: none

#9214 [tests] Adding missing jest-matcher-utils dependency
  packages/cli/package.json
  pnpm-lock.yaml
Labels: area: tests, pr: automerge, semver: none

#9009 [cli][frameworks][fs-detectors][next] detect framework versions
  packages/cli/src/commands/build.ts
  packages/cli/test/fixtures/unit/commands/build/minimal-nextjs/node_modules/next/package.json
  packages/cli/test/fixtures/unit/commands/build/minimal-nextjs/package.json
  packages/cli/test/unit/commands/build/index.test.ts
  packages/frameworks/src/frameworks.ts
  packages/frameworks/src/types.ts
  packages/frameworks/test/frameworks.unit.test.ts
  packages/fs-detectors/src/detect-framework.ts
  packages/fs-detectors/src/index.ts
  packages/fs-detectors/test/unit.framework-detector-record.test.ts
  packages/fs-detectors/test/unit.framework-detector.test.ts
  packages/fs-detectors/test/virtual-file-system.ts
  packages/next/src/index.ts
  packages/next/src/server-build.ts
Labels: area: cli, area: frameworks, semver: minor, area: next, area: fs-detectors, pr: automerge

#9215 [docs] Updated local dev instructions in CLI readme
  packages/cli/README.md
Labels: area: docs, pr: automerge, semver: none

#9197 [examples][frameworks] add tests for all examples being detected
  examples/sveltekit/package.json
  packages/frameworks/src/frameworks.ts
  packages/fs-detectors/test/unit.examples.test.ts
Labels: area: tests, semver: patch, pr: automerge

#9216 [fs-detectors] Add support for `api/**/*.tsx` zero config detection
  packages/fs-detectors/src/detect-builders.ts
  packages/fs-detectors/test/unit.builds-and-routes-detector.test.ts
  packages/node/test/fixtures/37-vercel-og/api/og.tsx
  packages/node/test/fixtures/37-vercel-og/jsx-runtime.ts
  packages/node/test/fixtures/37-vercel-og/package.json
  packages/node/test/fixtures/37-vercel-og/probe.js
  packages/node/test/fixtures/37-vercel-og/tsconfig.json
  packages/node/test/fixtures/37-vercel-og/yarn.lock
Labels: semver: minor, area: fs-detectors, pr: automerge

#9167 [frameworks] update framework detectors with packages
  packages/frameworks/src/frameworks.ts
  packages/fs-detectors/test/unit.framework-detector.test.ts
Labels: area: frameworks, semver: patch, pr: automerge

#9223 [tests] adjust root and api deps to use worskpace:*
  api/package.json
  package.json
  pnpm-lock.yaml
Labels: area: tests, pr: automerge, semver: none

#9225 [*] Remove "workspace:"
  api/package.json
  package.json
  packages/cli/package.json
  packages/client/package.json
  packages/frameworks/package.json
  packages/fs-detectors/package.json
  packages/go/package.json
  packages/hydrogen/package.json
  packages/next/package.json
  packages/node/package.json
  packages/python/package.json
  packages/redwood/package.json
  packages/remix/package.json
  packages/ruby/package.json
  packages/static-build/package.json
  pnpm-lock.yaml
Labels: area: tests, semver: patch, pr: automerge

#9118 [client] Send empty directory entries to POST create deployment
  packages/client/src/create-deployment.ts
  packages/client/src/deploy.ts
  packages/client/src/upload.ts
  packages/client/src/utils/hashes.ts
  packages/client/src/utils/index.ts
  packages/client/src/utils/readdir-recursive.ts
  packages/client/tests/unit.utils.test.ts
Labels: area: client, semver: minor, pr: automerge

#9229 [tests] skip private packages
  utils/changelog.js
Labels: area: tests, pr: automerge, semver: none

#9228 [tests] Split up dev tests to increase concurrency
  packages/cli/test/dev/integration-2.test.ts
  packages/cli/test/dev/integration-5.test.ts
Labels: area: tests, pr: automerge, semver: none

#9222 [client] Add sliding window delay when polling deployment complete
  packages/client/src/check-deployment-status.ts
  packages/client/src/utils/get-polling-delay.ts
  packages/client/tests/unit.get-polling-delay.test.ts
Labels: area: client, semver: patch, pr: automerge

#9231 [node-bridge] Add missing lazy dependencies
  packages/node-bridge/package.json
  pnpm-lock.yaml
Labels: area: node, semver: patch, pr: automerge

#9245 [build-utils] Add `includeDirectories` option to `glob()`
  packages/build-utils/src/fs/glob.ts
  packages/build-utils/test/unit.glob.test.ts
Labels: area: build-utils, semver: patch, pr: automerge

#9218 [gatsby-plugin-vercel-builder] Implement `@vercel/gatsby-plugin-vercel-builder`
  packages/client/package.json
  packages/client/tsconfig.json
  packages/gatsby-plugin-vercel-builder/.gitignore
  packages/gatsby-plugin-vercel-builder/README.md
  packages/gatsby-plugin-vercel-builder/gatsby-node.ts
  packages/gatsby-plugin-vercel-builder/package.json
  packages/gatsby-plugin-vercel-builder/src/handlers/build.ts
  packages/gatsby-plugin-vercel-builder/src/handlers/templates/page-data.ts
  packages/gatsby-plugin-vercel-builder/src/handlers/templates/ssr-handler.ts
  packages/gatsby-plugin-vercel-builder/src/handlers/utils.ts
  packages/gatsby-plugin-vercel-builder/src/helpers/functions.ts
  packages/gatsby-plugin-vercel-builder/src/helpers/static.ts
  packages/gatsby-plugin-vercel-builder/src/index.ts
  packages/gatsby-plugin-vercel-builder/src/schemas.ts
  packages/gatsby-plugin-vercel-builder/src/types.d.ts
  packages/gatsby-plugin-vercel-builder/src/utils/symlink.ts
  packages/gatsby-plugin-vercel-builder/tsconfig.base.json
  packages/gatsby-plugin-vercel-builder/tsconfig.gatsby.json
  packages/gatsby-plugin-vercel-builder/tsconfig.src.json
  packages/next/tsconfig.json
  packages/node-bridge/tsconfig.json
  pnpm-lock.yaml
Labels: semver: minor, pr: automerge, area: gatsby-plugin-vercel-builder

#9249 [remix] Fix config file dynamic import
  packages/remix/package.json
  packages/remix/src/build.ts
  packages/remix/src/prepare-cache.ts
  packages/remix/test/build.test.ts
  pnpm-lock.yaml
Labels: semver: patch, area: remix, pr: automerge

#9230 [tests] Split more dev tests
  packages/cli/test/dev/integration-2.test.ts
  packages/cli/test/dev/integration-4.test.ts
  packages/cli/test/dev/integration-5.test.ts
  utils/chunk-tests.js
Labels: area: tests, pr: automerge, semver: none

#9251 [tests] Add test for `./examples/remix`
  .eslintignore
  packages/remix/package.json
  packages/remix/test/integration.test.ts
Labels: area: tests, pr: automerge, semver: none

#9255 [next] Fix normalize route with middleware and basePath
  packages/next/src/server-build.ts
  packages/next/test/fixtures/00-middleware-base-path/index.test.js
  packages/next/test/fixtures/00-middleware-base-path/vercel.json
Labels: semver: patch, area: next, pr: automerge

#9257 [gatsby-plugin-vercel-builder] Fix turbo cache outputs configuration
  packages/gatsby-plugin-vercel-builder/.gitignore
  packages/gatsby-plugin-vercel-builder/gatsby-node.ts
  packages/gatsby-plugin-vercel-builder/package.json
  packages/gatsby-plugin-vercel-builder/tsconfig.src.json
  turbo.json
Labels: semver: patch, pr: automerge, area: gatsby-plugin-vercel-builder

#9252 [static-build][fs-detectors] add gatsby builder plugin injection
  package.json
  packages/static-build/package.json
  packages/static-build/src/index.ts
  packages/static-build/src/utils/_shared.ts
  packages/static-build/src/utils/build-output-v3.ts
  packages/static-build/src/utils/gatsby.ts
  packages/static-build/test/builds.test.js
  packages/static-build/test/fixtures/gatsby-v2/.gitignore
  packages/static-build/test/fixtures/gatsby-v2/gatsby-config.js
  packages/static-build/test/fixtures/gatsby-v2/package.json
  packages/static-build/test/fixtures/gatsby-v2/probes.json
  packages/static-build/test/fixtures/gatsby-v2/src/components/header.js
  packages/static-build/test/fixtures/gatsby-v2/src/components/index.module.css
  packages/static-build/test/fixtures/gatsby-v2/src/components/layout.css
  packages/static-build/test/fixtures/gatsby-v2/src/components/layout.js
  packages/static-build/test/fixtures/gatsby-v2/src/pages/404.js
  packages/static-build/test/fixtures/gatsby-v2/src/pages/index.js
  packages/static-build/test/fixtures/gatsby-v2/src/pages/page-2.js
  packages/static-build/test/fixtures/gatsby-v2/src/pages/using-typescript.tsx
  packages/static-build/test/fixtures/gatsby-v3/.gitignore
  packages/static-build/test/fixtures/gatsby-v3/gatsby-browser.js
  packages/static-build/test/fixtures/gatsby-v3/gatsby-config.js
  packages/static-build/test/fixtures/gatsby-v3/package.json
  packages/static-build/test/fixtures/gatsby-v3/probes.json
  packages/static-build/test/fixtures/gatsby-v3/src/components/header.js
  packages/static-build/test/fixtures/gatsby-v3/src/components/index.module.css
  packages/static-build/test/fixtures/gatsby-v3/src/components/layout.css
  packages/static-build/test/fixtures/gatsby-v3/src/components/layout.js
  packages/static-build/test/fixtures/gatsby-v3/src/components/seo.js
  packages/static-build/test/fixtures/gatsby-v3/src/images/example.png
  packages/static-build/test/fixtures/gatsby-v3/src/images/gatsby-icon.png
  packages/static-build/test/fixtures/gatsby-v3/src/pages/404.js
  packages/static-build/test/fixtures/gatsby-v3/src/pages/index.js
  packages/static-build/test/fixtures/gatsby-v3/src/pages/page-2.js
  packages/static-build/test/fixtures/gatsby-v3/src/pages/using-typescript.tsx
  packages/static-build/test/fixtures/gatsby-v4/.gitignore
  packages/static-build/test/fixtures/gatsby-v4/gatsby-browser.js
  packages/static-build/test/fixtures/gatsby-v4/gatsby-config.js
  packages/static-build/test/fixtures/gatsby-v4/gatsby-node.js
  packages/static-build/test/fixtures/gatsby-v4/gatsby-ssr.js
  packages/static-build/test/fixtures/gatsby-v4/package.json
  packages/static-build/test/fixtures/gatsby-v4/probes.json
  packages/static-build/test/fixtures/gatsby-v4/src/components/header.js
  packages/static-build/test/fixtures/gatsby-v4/src/components/index.module.css
  packages/static-build/test/fixtures/gatsby-v4/src/components/layout.css
  packages/static-build/test/fixtures/gatsby-v4/src/components/layout.js
  packages/static-build/test/fixtures/gatsby-v4/src/components/seo.js
  packages/static-build/test/fixtures/gatsby-v4/src/images/example.png
  packages/static-build/test/fixtures/gatsby-v4/src/images/gatsby-icon.png
  packages/static-build/test/fixtures/gatsby-v4/src/pages/404.js
  packages/static-build/test/fixtures/gatsby-v4/src/pages/index.js
  packages/static-build/test/fixtures/gatsby-v4/src/pages/page-2.js
  packages/static-build/test/fixtures/gatsby-v4/src/pages/using-ssr.js
  packages/static-build/test/fixtures/gatsby-v4/src/pages/using-typescript.tsx
  packages/static-build/test/fixtures/gatsby-v4/src/templates/using-dsg.js
  packages/static-build/test/fixtures/gatsby-v4/vercel.json
  pnpm-lock.yaml
  test/lib/deployment/now-deploy.js
Labels: semver: minor, area: static-build, pr: automerge

#9258 [node] Fix TypeScript built-in compiler log message check
  packages/node/src/typescript.ts
Labels: area: node, semver: patch, pr: automerge

#9259 [static-build] run pnpm install --lockfile-only after injecting gatsby plugins
  packages/static-build/src/index.ts
  packages/static-build/src/utils/gatsby.ts
  packages/static-build/test/fixtures/gatsby-v4-pnpm/.gitignore
  packages/static-build/test/fixtures/gatsby-v4-pnpm/gatsby-browser.js
  packages/static-build/test/fixtures/gatsby-v4-pnpm/gatsby-config.js
  packages/static-build/test/fixtures/gatsby-v4-pnpm/gatsby-node.js
  packages/static-build/test/fixtures/gatsby-v4-pnpm/gatsby-ssr.js
  packages/static-build/test/fixtures/gatsby-v4-pnpm/package.json
  packages/static-build/test/fixtures/gatsby-v4-pnpm/pnpm-lock.yaml
  packages/static-build/test/fixtures/gatsby-v4-pnpm/pnpm-workspace.yaml
  packages/static-build/test/fixtures/gatsby-v4-pnpm/probes.json
  packages/static-build/test/fixtures/gatsby-v4-pnpm/src/components/header.js
  packages/static-build/test/fixtures/gatsby-v4-pnpm/src/components/index.module.css
  packages/static-build/test/fixtures/gatsby-v4-pnpm/src/components/layout.css
  packages/static-build/test/fixtures/gatsby-v4-pnpm/src/components/layout.js
  packages/static-build/test/fixtures/gatsby-v4-pnpm/src/components/seo.js
  packages/static-build/test/fixtures/gatsby-v4-pnpm/src/images/example.png
  packages/static-build/test/fixtures/gatsby-v4-pnpm/src/images/gatsby-icon.png
  packages/static-build/test/fixtures/gatsby-v4-pnpm/src/pages/404.js
  packages/static-build/test/fixtures/gatsby-v4-pnpm/src/pages/index.js
  packages/static-build/test/fixtures/gatsby-v4-pnpm/src/pages/page-2.js
  packages/static-build/test/fixtures/gatsby-v4-pnpm/src/pages/using-ssr.js
  packages/static-build/test/fixtures/gatsby-v4-pnpm/src/pages/using-typescript.tsx
  packages/static-build/test/fixtures/gatsby-v4-pnpm/src/templates/using-dsg.js
  packages/static-build/test/fixtures/gatsby-v4-pnpm/vercel.json
Labels: semver: minor, area: static-build, pr: automerge

#9261 [node] Add build logs probe for TypeScript usage messages
  packages/node/test/fixtures/05-ts-declaration-asset/vercel.json
  packages/node/test/fixtures/18-nested-tsconfig/vercel.json
Labels: area: node, area: tests, semver: patch, pr: automerge

#9263 [next] Correct RSC route for app dir with trailingSlash
  packages/next/src/server-build.ts
  packages/next/test/fixtures/00-app-dir-trailing-slash/app/(newroot)/dashboard/another/page.js
  packages/next/test/fixtures/00-app-dir-trailing-slash/app/(newroot)/layout.js
  packages/next/test/fixtures/00-app-dir-trailing-slash/app/(rootonly)/dashboard/changelog/page.js
  packages/next/test/fixtures/00-app-dir-trailing-slash/app/(rootonly)/dashboard/hello/page.js
  packages/next/test/fixtures/00-app-dir-trailing-slash/app/client-component-route/page.js
  packages/next/test/fixtures/00-app-dir-trailing-slash/app/client-component-route/style.css
  packages/next/test/fixtures/00-app-dir-trailing-slash/app/client-component-route/style.module.css
  packages/next/test/fixtures/00-app-dir-trailing-slash/app/client-nested/layout.js
  packages/next/test/fixtures/00-app-dir-trailing-slash/app/client-nested/page.js
  packages/next/test/fixtures/00-app-dir-trailing-slash/app/client-nested/style.css
  packages/next/test/fixtures/00-app-dir-trailing-slash/app/client-nested/style.module.css
  packages/next/test/fixtures/00-app-dir-trailing-slash/app/dashboard/(custom)/deployments/breakdown/page.js
  packages/next/test/fixtures/00-app-dir-trailing-slash/app/dashboard/(custom)/layout.js
  packages/next/test/fixtures/00-app-dir-trailing-slash/app/dashboard/deployments/[id]/page.js
  packages/next/test/fixtures/00-app-dir-trailing-slash/app/dashboard/deployments/[id]/settings/page.js
  packages/next/test/fixtures/00-app-dir-trailing-slash/app/dashboard/deployments/catchall/[[...rest]]/page.js
  packages/next/test/fixtures/00-app-dir-trailing-slash/app/dashboard/deployments/info/page.js
  packages/next/test/fixtures/00-app-dir-trailing-slash/app/dashboard/deployments/layout.js
  packages/next/test/fixtures/00-app-dir-trailing-slash/app/dashboard/integrations/page.js
  packages/next/test/fixtures/00-app-dir-trailing-slash/app/dashboard/layout.js
  packages/next/test/fixtures/00-app-dir-trailing-slash/app/dashboard/page.js
  packages/next/test/fixtures/00-app-dir-trailing-slash/app/dynamic/[category]/[id]/layout.js
  packages/next/test/fixtures/00-app-dir-trailing-slash/app/dynamic/[category]/[id]/page.js
  packages/next/test/fixtures/00-app-dir-trailing-slash/app/dynamic/[category]/layout.js
  packages/next/test/fixtures/00-app-dir-trailing-slash/app/dynamic/layout.js
  packages/next/test/fixtures/00-app-dir-trailing-slash/app/layout.js
  packages/next/test/fixtures/00-app-dir-trailing-slash/app/page.js
  packages/next/test/fixtures/00-app-dir-trailing-slash/app/partial-match-[id]/page.js
  packages/next/test/fixtures/00-app-dir-trailing-slash/app/shared-component-route/page.js
  packages/next/test/fixtures/00-app-dir-trailing-slash/app/should-not-serve-client/page.js
  packages/next/test/fixtures/00-app-dir-trailing-slash/app/should-not-serve-server/page.js
  packages/next/test/fixtures/00-app-dir-trailing-slash/app/slow-layout-and-page-with-loading/loading.js
  packages/next/test/fixtures/00-app-dir-trailing-slash/app/slow-layout-and-page-with-loading/slow/layout.js
  packages/next/test/fixtures/00-app-dir-trailing-slash/app/slow-layout-and-page-with-loading/slow/loading.js
  packages/next/test/fixtures/00-app-dir-trailing-slash/app/slow-layout-and-page-with-loading/slow/page.js
  packages/next/test/fixtures/00-app-dir-trailing-slash/app/slow-layout-with-loading/loading.js
  packages/next/test/fixtures/00-app-dir-trailing-slash/app/slow-layout-with-loading/slow/layout.js
  packages/next/test/fixtures/00-app-dir-trailing-slash/app/slow-layout-with-loading/slow/page.js
  packages/next/test/fixtures/00-app-dir-trailing-slash/app/slow-page-with-loading/loading.js
  packages/next/test/fixtures/00-app-dir-trailing-slash/app/slow-page-with-loading/page.js
  packages/next/test/fixtures/00-app-dir-trailing-slash/app/ssg/page.js
  packages/next/test/fixtures/00-app-dir-trailing-slash/app/test-page/page.js
  packages/next/test/fixtures/00-app-dir-trailing-slash/index.test.js
  packages/next/test/fixtures/00-app-dir-trailing-slash/middleware.js
  packages/next/test/fixtures/00-app-dir-trailing-slash/next.config.js
  packages/next/test/fixtures/00-app-dir-trailing-slash/package.json
  packages/next/test/fixtures/00-app-dir-trailing-slash/pages/api/hello.js
  packages/next/test/fixtures/00-app-dir-trailing-slash/pages/blog/[slug].js
  packages/next/test/fixtures/00-app-dir-trailing-slash/public/hello.txt
  packages/next/test/fixtures/00-app-dir-trailing-slash/vercel.json
Labels: semver: patch, area: next, pr: automerge

#9262 [tests] Pass in builder to `runBuildLambda()`
  package.json
  packages/next/test/integration/index.test.js
  packages/next/test/integration/middleware.test.ts
  packages/next/test/unit/export.test.js
  packages/static-build/test/builds.test.js
  pnpm-lock.yaml
  test/lib/run-build-lambda.js
Labels: area: tests, semver: patch, pr: automerge

#9265 [gatsby-plugin-vercel-builder] Remove some leftover `console.log` calls
  packages/gatsby-plugin-vercel-builder/src/index.ts
Labels: semver: patch, pr: automerge, area: gatsby-plugin-vercel-builder

#9267 [static-build] add gatsby v5 fixture
  packages/static-build/test/fixtures/gatsby-v5/.gitignore
  packages/static-build/test/fixtures/gatsby-v5/README.md
  packages/static-build/test/fixtures/gatsby-v5/gatsby-config.js
  packages/static-build/test/fixtures/gatsby-v5/package-lock.json
  packages/static-build/test/fixtures/gatsby-v5/package.json
  packages/static-build/test/fixtures/gatsby-v5/probes.json
  packages/static-build/test/fixtures/gatsby-v5/src/images/icon.png
  packages/static-build/test/fixtures/gatsby-v5/src/pages/404.js
  packages/static-build/test/fixtures/gatsby-v5/src/pages/dsg.js
  packages/static-build/test/fixtures/gatsby-v5/src/pages/index.js
  packages/static-build/test/fixtures/gatsby-v5/src/pages/ssr.js
  packages/static-build/test/fixtures/gatsby-v5/vercel.json
Labels: area: tests, area: static-build, semver: none

#9269 [next] Ensure outputDirectory is normalized
  packages/next/src/index.ts
  packages/next/test/fixtures/00-absolute-output-directory/index.test.js
  packages/next/test/fixtures/00-absolute-output-directory/package.json
  packages/next/test/fixtures/00-absolute-output-directory/packages/client/next.config.js
  packages/next/test/fixtures/00-absolute-output-directory/packages/client/package.json
  packages/next/test/fixtures/00-absolute-output-directory/packages/client/pages/api/data/[...all].js
  packages/next/test/fixtures/00-absolute-output-directory/packages/client/pages/api/hello.js
  packages/next/test/fixtures/00-absolute-output-directory/packages/client/pages/index.js
  packages/next/test/fixtures/00-absolute-output-directory/vercel.json
Labels: semver: patch, area: next, pr: automerge

#9264 [gatsby-plugin-vercel-builder] add documentation to README
  packages/gatsby-plugin-vercel-builder/README.md
Labels: pr: automerge, semver: none, area: gatsby-plugin-vercel-builder

#9268 [gatsby-plugin-vercel-builder] Various fixes and refactoring
  packages/gatsby-plugin-vercel-builder/src/handlers/build.ts
  packages/gatsby-plugin-vercel-builder/src/handlers/templates/page-data.ts
  packages/gatsby-plugin-vercel-builder/src/handlers/templates/ssr-handler.ts
  packages/gatsby-plugin-vercel-builder/src/helpers/functions.ts
  packages/gatsby-plugin-vercel-builder/src/helpers/static.ts
  packages/gatsby-plugin-vercel-builder/src/index.ts
Labels: semver: patch, pr: automerge, area: gatsby-plugin-vercel-builder

#9227 [cli] Revert some tables back to stdout
  packages/cli/src/commands/alias/ls.ts
  packages/cli/src/commands/certs/ls.ts
  packages/cli/src/commands/dns/ls.ts
  packages/cli/test/unit/commands/alias.test.ts
  packages/cli/test/unit/commands/certs.test.ts
Labels: area: cli, semver: patch, pr: automerge

#9278 [gatsby-plugin-vercel-builder] support `trailingSlash` configuration
  packages/gatsby-plugin-vercel-builder/src/index.ts
  packages/gatsby-plugin-vercel-builder/src/schemas.ts
Labels: semver: patch, pr: automerge, area: gatsby-plugin-vercel-builder

#9260 [gatsby-plugin-vercel-analytics] add build script
  packages/gatsby-plugin-vercel-analytics/.gitignore
  packages/gatsby-plugin-vercel-analytics/README.md
  packages/gatsby-plugin-vercel-analytics/gatsby-browser.js
  packages/gatsby-plugin-vercel-analytics/package.json
  packages/gatsby-plugin-vercel-analytics/web-vitals.js
  pnpm-lock.yaml
  turbo.json
Labels: pr: automerge, area: gatsby-plugin-vercel-analytics, semver: none

#9275 [examples] Restrict node version for gridsome example
  examples/gridsome/package.json
Labels: area: examples, pr: automerge, semver: none

#8677 [cli] Improve error message when using legacy `@now` builders
  packages/cli/src/util/build/write-build-result.ts
  packages/cli/test/fixtures/package.json
  packages/cli/test/fixtures/unit/commands/build/now-node-server/.gitignore
  packages/cli/test/fixtures/unit/commands/build/now-node-server/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/build/now-node-server/server.js
  packages/cli/test/fixtures/unit/commands/build/now-node-server/vercel.json
  packages/cli/test/unit/commands/build/index.test.ts
Labels: area: cli, semver: patch, pr: automerge, hacktoberfest

#9290 [gatsby-plugin-vercel-builder] Remove `vercel.config.js` file handling
  packages/gatsby-plugin-vercel-builder/src/index.ts
Labels: semver: patch, pr: automerge, area: gatsby-plugin-vercel-builder

#9289 [cli] add missing deprecation warnings for builders/runtimes
  packages/cli/package.json
  packages/cli/src/util/build/import-builders.ts
  packages/cli/test/unit/util/build/import-builders.test.ts
  pnpm-lock.yaml
Labels: area: cli, semver: patch, pr: automerge

#9200 [build-utils] Removed unused execAsync() function
  packages/build-utils/src/fs/run-user-scripts.ts
  packages/build-utils/src/index.ts
  packages/build-utils/test/unit.exec-async.test.ts
Labels: area: build-utils, semver: major, pr: automerge

#9297 [static-build] Use tarball URLs for Gatsby plugin E2E tests
  packages/static-build/src/utils/gatsby.ts
Labels: area: tests, semver: patch, area: static-build, pr: automerge

#9298 [static-build] Add Gatsby plugins as dev dependencies
  packages/static-build/package.json
  pnpm-lock.yaml
Labels: area: tests, area: static-build, pr: automerge, semver: none

#9293 [edge] Add missing metadata to package.json
  packages/edge/README.md
  packages/edge/package.json
Labels: semver: patch, area: edge, pr: automerge

#9277 [tests] Update CODEOWNERS
  .github/CODEOWNERS
Labels: area: tests, pr: automerge, semver: none

#9301 [tests] Added cron workflow to update turbo
  .github/workflows/cron-update-turbo.yml
  utils/update-turbo.js
Labels: area: tests, pr: automerge, semver: none

#9300 chore: Update Gatsby example README
  examples/gatsby/README.md
Labels: area: examples, pr: automerge, semver: none

#9292 [gatsby-plugin-vercel-builder] Merge SSR and page-data into single Serverless Function
  packages/gatsby-plugin-vercel-builder/src/handlers/build.ts
  packages/gatsby-plugin-vercel-builder/src/handlers/templates/page-data.ts
  packages/gatsby-plugin-vercel-builder/src/handlers/templates/ssr-handler.ts
  packages/gatsby-plugin-vercel-builder/src/handlers/utils.ts
  packages/gatsby-plugin-vercel-builder/src/helpers/functions.ts
  packages/gatsby-plugin-vercel-builder/src/index.ts
  packages/gatsby-plugin-vercel-builder/src/types.d.ts
  packages/static-build/test/fixtures/gatsby-v4/probes.json
  packages/static-build/test/fixtures/gatsby-v5/probes.json
Labels: semver: patch, pr: automerge, area: gatsby-plugin-vercel-builder

#9304 [gatsby-plugin-vercel-builder] Get rid of the `_ssr` function
  packages/gatsby-plugin-vercel-builder/src/helpers/functions.ts
  packages/gatsby-plugin-vercel-builder/src/utils/symlink.ts
Labels: semver: patch, pr: automerge, area: gatsby-plugin-vercel-builder

#9294 [gatsby-plugin-vercel-builder] add support for pathPrefix
  packages/gatsby-plugin-vercel-builder/src/helpers/functions.ts
  packages/gatsby-plugin-vercel-builder/src/helpers/static.ts
  packages/gatsby-plugin-vercel-builder/src/index.ts
  packages/gatsby-plugin-vercel-builder/src/schemas.ts
  packages/static-build/test/fixtures/gatsby-v5-pathPrefix/.gitignore
  packages/static-build/test/fixtures/gatsby-v5-pathPrefix/README.md
  packages/static-build/test/fixtures/gatsby-v5-pathPrefix/gatsby-config.js
  packages/static-build/test/fixtures/gatsby-v5-pathPrefix/package-lock.json
  packages/static-build/test/fixtures/gatsby-v5-pathPrefix/package.json
  packages/static-build/test/fixtures/gatsby-v5-pathPrefix/probes.json
  packages/static-build/test/fixtures/gatsby-v5-pathPrefix/src/images/icon.png
  packages/static-build/test/fixtures/gatsby-v5-pathPrefix/src/pages/404.js
  packages/static-build/test/fixtures/gatsby-v5-pathPrefix/src/pages/dsg.js
  packages/static-build/test/fixtures/gatsby-v5-pathPrefix/src/pages/index.js
  packages/static-build/test/fixtures/gatsby-v5-pathPrefix/src/pages/ssr.js
  packages/static-build/test/fixtures/gatsby-v5-pathPrefix/vercel.json
Labels: semver: patch, pr: automerge, area: gatsby-plugin-vercel-builder

#9305 [frameworks] Add default immutable cache path for Astro v2
  packages/frameworks/src/frameworks.ts
Labels: area: frameworks, semver: minor, pr: automerge

#9310 [examples] Update Parcel version to support Node 18
  examples/parcel/package.json
  examples/parcel/yarn.lock
Labels: area: examples, semver: minor, pr: automerge

#9308 [static-build] Patch the `gatsby-node` config file to invoke `@vercel/gatsby-plugin-vercel-builder`
  packages/static-build/src/utils/gatsby.ts
  packages/static-build/test/fixtures/gatsby-v4-pnpm/gatsby-config.ts
  packages/static-build/test/fixtures/gatsby-v4-pnpm/gatsby-node.js
  packages/static-build/test/fixtures/gatsby-v4-pnpm/gatsby-node.ts
  packages/static-build/test/fixtures/gatsby-v4/asset.txt
  packages/static-build/test/fixtures/gatsby-v4/gatsby-node.js
  packages/static-build/test/fixtures/gatsby-v4/probes.json
Labels: semver: patch, area: static-build, pr: automerge

#9307 [tests] Fix turbo config and bump to latest version
  package.json
  pnpm-lock.yaml
  turbo.json
Labels: area: tests, pr: automerge, semver: none

#9314 [next] Remove hardcoded NODE_OPTIONS
  packages/next/src/index.ts
Labels: semver: patch, area: next, pr: automerge

#9318 [tests] add gatsby related unit tests to static-build
  packages/static-build/package.json
  packages/static-build/test/gatsby-unit-fixtures/gatsby-v3/package.json
  packages/static-build/test/gatsby-unit-fixtures/gatsby-v4-existing-files-js/gatsby-config.js
  packages/static-build/test/gatsby-unit-fixtures/gatsby-v4-existing-files-js/gatsby-node.js
  packages/static-build/test/gatsby-unit-fixtures/gatsby-v4-existing-files-js/package.json
  packages/static-build/test/gatsby-unit-fixtures/gatsby-v4-existing-files-mjs/gatsby-config.mjs
  packages/static-build/test/gatsby-unit-fixtures/gatsby-v4-existing-files-mjs/gatsby-node.mjs
  packages/static-build/test/gatsby-unit-fixtures/gatsby-v4-existing-files-mjs/package.json
  packages/static-build/test/gatsby-unit-fixtures/gatsby-v4-existing-files-ts/gatsby-config.ts
  packages/static-build/test/gatsby-unit-fixtures/gatsby-v4-existing-files-ts/gatsby-node.ts
  packages/static-build/test/gatsby-unit-fixtures/gatsby-v4-existing-files-ts/package.json
  packages/static-build/test/gatsby-unit-fixtures/gatsby-v4/package.json
  packages/static-build/test/gatsby.test.ts
Labels: area: tests, area: static-build, pr: automerge, semver: none

#9319 [next] Ensure we warn when leveraging next export
  packages/next/src/index.ts
  packages/next/test/fixtures/11-export-clean-urls/vercel.json
Labels: semver: patch, area: next, pr: automerge

#9313 [static-build] Include Gatsby plugins as regular dependencies
  packages/static-build/package.json
  packages/static-build/src/index.ts
  packages/static-build/src/utils/gatsby.ts
  packages/static-build/test/gatsby.test.ts
  pnpm-lock.yaml
Labels: semver: minor, area: static-build, pr: automerge

#9312 [static-build] Cleanup gatsby file changes after static-build completes
  packages/static-build/src/index.ts
  packages/static-build/src/utils/gatsby.ts
  packages/static-build/test/gatsby.test.ts
Labels: semver: patch, area: static-build, pr: automerge

#9327 [gatsby-plugin-vercel-builder] Don't delete `.vercel/output`
  packages/gatsby-plugin-vercel-builder/src/index.ts
Labels: semver: patch, pr: automerge, area: gatsby-plugin-vercel-builder

#9322 [build-utils] Rewrite rename() to be more efficient
  packages/build-utils/src/fs/rename.ts
  packages/build-utils/test/unit.test.ts
Labels: area: build-utils, semver: patch, pr: automerge

#9320 [go] Improved 'go build' error handling
  packages/go/index.ts
Labels: area: go, semver: patch, pr: automerge

#9331 [docs] Replace references to @now/next in error docs
  errors/now-next-legacy-mode.md
  errors/now-next-no-serverless-pages-built.md
Labels: area: docs, semver: patch, pr: automerge

#9330 [static-build] Add integration test for Gatsby Function
  packages/static-build/test/fixtures/gatsby-v4/probes.json
  packages/static-build/test/fixtures/gatsby-v4/src/api/hello.js
Labels: area: tests, area: static-build, pr: automerge, semver: none

#9329 [gatsby-plugin-vercel-builder] Downgrade `esbuild` to v0.14.47
  packages/gatsby-plugin-vercel-builder/package.json
  pnpm-lock.yaml
Labels: area: node, semver: patch, pr: automerge

#9342 [tests] Fix github action restore cache timeout
  .github/workflows/publish.yml
  .github/workflows/test-integration-cli.yml
  .github/workflows/test-unit.yml
  .github/workflows/test.yml
Labels: area: tests, pr: automerge, semver: none

#9343 [go] Add support for Go 1.19
  packages/go/go-helpers.ts
  packages/go/test/fixtures/01-cowsay/vercel.json
Labels: area: go, semver: minor, pr: automerge

#9351 [tests] Add labels to cron-update-next
  utils/update-next.js
Labels: area: tests, pr: automerge, semver: none

#9357 [cli] Remove `.vercel/output` during `vc build --output`
  packages/cli/src/commands/build.ts
Labels: area: cli, semver: patch, pr: automerge

#9332 [build-utils][cli] Add env vars for `VERCEL_PROJECT_SETTINGS_`
  packages/build-utils/src/fs/run-user-scripts.ts
  packages/build-utils/test/unit.test.ts
  packages/cli/src/commands/build.ts
  packages/cli/test/fixtures/unit/commands/build/project-settings-env-vars/.gitignore
  packages/cli/test/fixtures/unit/commands/build/project-settings-env-vars/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/build/project-settings-env-vars/build.cjs
  packages/cli/test/unit/commands/build/index.test.ts
Labels: area: build-utils, area: cli, semver: minor, pr: automerge

#9359 [tests] Remove `actions/cache` since its actually slower than no cache
  .github/workflows/publish.yml
  .github/workflows/test-integration-cli.yml
  .github/workflows/test-unit.yml
  .github/workflows/test.yml
Labels: area: tests, pr: automerge, semver: none
