Repository vercel/vercel, pull requests merged in 2023-04, with the labels that each got.

#9749 [tests] move test files to subdirectory
  packages/node/package.json
  packages/node/test/integration/integration-1.test.js
  packages/node/test/integration/integration-2.test.js
  packages/node/test/integration/integration-3.test.js
  packages/node/test/integration/integration-4.test.js
  packages/node/test/integration/integration-5.test.js
  packages/node/test/integration/integration-setup.js
  packages/node/test/unit/dev.test.ts
  packages/node/test/unit/edge-functions/edge-matcher.test.ts
  packages/node/test/unit/edge-functions/edge-wasm-plugin.test.ts
  packages/node/test/unit/prepare-cache.test.ts
  packages/node/test/unit/test-utils.ts
  packages/node/test/unit/utils.test.ts
Labels: area: tests, pr: automerge, semver: none

#9751 [tests] update pnpm version to 7.31.0
  .github/workflows/publish.yml
  .github/workflows/test-lint.yml
  .github/workflows/test.yml
  package.json
Labels: area: tests, pr: automerge, semver: none

#9696 [frameworks][fs-detectors] Use correct "license" field in `package.json`
  packages/frameworks/package.json
  packages/fs-detectors/package.json
Labels: area: frameworks, area: fs-detectors, semver: none

#9758 [next] Update allowQuery test
  packages/next/test/integration/index.test.js
Labels: semver: patch, area: next, pr: automerge

#9754 [all] Use correct "license" field in `package.json`
  packages/build-utils/package.json
  packages/client/package.json
  packages/edge/package.json
  packages/error-utils/package.json
  packages/gatsby-plugin-vercel-analytics/package.json
  packages/go/package.json
  packages/hydrogen/package.json
  packages/next/package.json
  packages/node-bridge/package.json
  packages/node/bench/package.json
  packages/node/package.json
  packages/python/package.json
  packages/redwood/package.json
  packages/remix-entry-server/package.json
  packages/remix/package.json
  packages/routing-utils/package.json
  packages/ruby/package.json
  packages/static-build/package.json
  packages/static-config/package.json
Labels: area: build-utils, area: go, area: node, area: python, area: routing-utils, area: ruby, area: client, area: static-build, area: redwood, area: next, area: remix, area: static-config, area: hydrogen, area: edge, pr: automerge, area: error-utils, area: gatsby-plugin-vercel-analytics, semver: none

#9762 [build-utils][cli][fs-detectors] Upgrade minimatch to 3.1.2
  packages/build-utils/package.json
  packages/cli/package.json
  packages/cli/test/dev/fixtures/03-aurelia/package.json
  packages/fs-detectors/package.json
  pnpm-lock.yaml
Labels: area: build-utils, area: cli, semver: patch, area: fs-detectors

#9764 [next] Fix edge runtime for route groups
  packages/next/src/server-build.ts
  packages/next/src/utils.ts
  packages/next/test/fixtures/00-app-dir/app/(newroot)/dashboard/another-edge/page.js
  packages/next/test/fixtures/00-app-dir/vercel.json
  packages/next/test/integration/index.test.js
Labels: semver: patch, area: next, pr: automerge

#9766 [static-build] Remove Gatsby env var check
  packages/static-build/src/utils/gatsby.ts
  packages/static-build/test/fixtures/gatsby-v4-pnpm/vercel.json
  packages/static-build/test/fixtures/gatsby-v4/vercel.json
  packages/static-build/test/fixtures/gatsby-v5-pathPrefix/vercel.json
  packages/static-build/test/fixtures/gatsby-v5/vercel.json
  packages/static-build/test/gatsby.test.ts
Labels: semver: patch, area: static-build, pr: automerge

#9767 [next] Update allowQuery test case
  packages/next/test/integration/index.test.js
Labels: semver: patch, area: next, pr: automerge

#9770 [next] use "Page" instead of "SSR" for `operationType`
  packages/next/src/index.ts
  packages/next/src/utils.ts
  packages/next/test/integration/index.test.js
Labels: semver: patch, area: next, pr: automerge

#9761 [routing-utils] add `isInternal` flag
  packages/routing-utils/src/schemas.ts
Labels: area: routing-utils, semver: minor, pr: automerge

#9772 [tests] combine examples e2e into one chunk
  utils/chunk-tests.js
Labels: area: tests, pr: automerge, semver: none

#9778 [examples] Update Astro example.
  examples/astro/README.md
  examples/astro/astro.config.mjs
  examples/astro/package.json
  examples/astro/pnpm-lock.yaml
  examples/astro/src/pages/edge.json.js
  examples/astro/src/pages/index.astro
  examples/astro/src/pages/ssr-with-swr-caching.astro
  examples/astro/src/pages/ssr.astro
  pnpm-lock.yaml
Labels: area: examples, semver: patch, pr: automerge

#9787 [gatsby-plugin-vercel-builder] Ignore `assetPrefix` completely
  packages/gatsby-plugin-vercel-builder/gatsby-node.ts
  packages/gatsby-plugin-vercel-builder/src/index.ts
  packages/gatsby-plugin-vercel-builder/src/schemas.ts
  packages/gatsby-plugin-vercel-builder/src/types.d.ts
Labels: semver: patch, pr: automerge, area: gatsby-plugin-vercel-builder

#9790 [fs-detectors] check turbo versions to allow for tags like "latest"
  packages/fs-detectors/src/monorepos/get-monorepo-default-settings.ts
  packages/fs-detectors/test/fixtures/get-monorepo-default-settings/turbo-latest/package.json
  packages/fs-detectors/test/fixtures/get-monorepo-default-settings/turbo-latest/packages/app-1/package.json
  packages/fs-detectors/test/fixtures/get-monorepo-default-settings/turbo-latest/turbo.json
  packages/fs-detectors/test/unit.get-monorepo-default-settings.test.ts
Labels: semver: patch, area: fs-detectors, pr: automerge

#9792 [tests] re-chunk example tests
  utils/chunk-tests.js
Labels: area: tests, pr: automerge, semver: none

#9796 [cli] Simplify `parseRepoUrl()` and fix edge case
  packages/cli/src/commands/git/connect.ts
  packages/cli/src/util/git/connect-git-provider.ts
  packages/cli/test/unit/util/deploy/create-git-meta.test.ts
Labels: area: cli, semver: patch, pr: automerge

#9791 [publish] Trigger update workflow on "api" repo after Publish
  .github/workflows/publish.yml
  utils/trigger-update-workflow.js
Labels: area: tests, pr: automerge, semver: none

#9708 [go] Support 'go.work' file and resolve shared deps relative to work path
  packages/cli/test/dev/fixtures/go-work-with-shared/api/go.mod
  packages/cli/test/dev/fixtures/go-work-with-shared/api/index.go
  packages/cli/test/dev/fixtures/go-work-with-shared/go.work
  packages/cli/test/dev/fixtures/go-work-with-shared/mylib/go.mod
  packages/cli/test/dev/fixtures/go-work-with-shared/mylib/main.go
  packages/cli/test/dev/integration-2.test.ts
  packages/go/go-helpers.ts
  packages/go/index.ts
  packages/go/test/fixtures/01-cowsay/vercel.json
  packages/go/test/fixtures/02-parallel/api/go.mod
  packages/go/test/fixtures/12-go-mod-subs/sub-1/go.mod
  packages/go/test/fixtures/12-go-mod-subs/sub-2/go.mod
  packages/go/test/fixtures/14-go-mod-sub/other-folder/go.mod
  packages/go/test/fixtures/16-custom-flag/probes.json
  packages/go/test/fixtures/16-custom-flag/vercel.json
  packages/go/test/fixtures/17-go-mod-api/api/go.mod
  packages/go/test/fixtures/17-go-mod-api/probes.json
  packages/go/test/fixtures/26-go-work-with-shared/api/go.mod
  packages/go/test/fixtures/26-go-work-with-shared/api/index.go
  packages/go/test/fixtures/26-go-work-with-shared/go.work
  packages/go/test/fixtures/26-go-work-with-shared/mylib/go.mod
  packages/go/test/fixtures/26-go-work-with-shared/mylib/main.go
  packages/go/test/fixtures/26-go-work-with-shared/probes.json
Labels: area: go, semver: minor, pr: automerge

#9788 [examples] Update Remix template to use v1.15.0
  examples/remix/package.json
  examples/remix/pnpm-lock.yaml
Labels: area: examples, pr: automerge, semver: none

#9771 [tests] split python e2e tests into chunks
  packages/python/package.json
  packages/python/test/integration-1.test.ts
  packages/python/test/integration-2.test.ts
  packages/python/test/integration-setup.js
Labels: area: tests, pr: automerge, semver: none

#9806 [cli] Remove a bunch of `isCanary` checks
  package.json
  packages/cli/src/index.ts
  packages/cli/src/util/dev/server.ts
  packages/cli/src/util/get-dist-tag.ts
  packages/cli/src/util/get-update-command.ts
  packages/cli/src/util/is-canary.ts
  packages/cli/test/dev/fixtures/40-mixed-modules/vercel.json
  packages/cli/test/dev/fixtures/node-helpers/vercel.json
  packages/cli/test/dev/fixtures/static-build-routing/vercel.json
  packages/cli/test/dev/integration-3.test.ts
  packages/cli/test/dev/utils.js
  packages/cli/test/integration-3.test.ts
  packages/cli/test/unit/util/get-update-command.test.ts
Labels: area: cli, semver: patch, pr: automerge

#9813 [cli] Support pnpm in `getUpdateCommand()`
  packages/cli/src/util/get-update-command.ts
  packages/cli/test/unit/util/get-update-command.test.ts
Labels: area: cli, semver: patch, pr: automerge

#9802 [cli] Add `vc deploy --no-wait` and `vc inspect --wait`
  packages/cli/src/commands/deploy/args.ts
  packages/cli/src/commands/deploy/index.ts
  packages/cli/src/commands/inspect.ts
  packages/cli/src/util/deploy/is-deploying.ts
  packages/cli/src/util/deploy/process-deployment.ts
  packages/cli/src/util/index.ts
  packages/cli/test/fixtures/unit/commands/deploy/node/api/es6.js
  packages/cli/test/fixtures/unit/commands/deploy/node/api/index.js
  packages/cli/test/fixtures/unit/commands/deploy/node/api/mjs.mjs
  packages/cli/test/fixtures/unit/commands/deploy/node/api/typescript.ts
  packages/cli/test/integration-1.test.ts
  packages/cli/test/mocks/client.ts
  packages/cli/test/unit/commands/inspect.test.ts
Labels: area: cli, semver: minor, pr: automerge

#9823 [node] Move `path-to-regexp` and `ts-morph` from dev deps to deps
  packages/node/build.js
  packages/node/package.json
  pnpm-lock.yaml
Labels: area: node, semver: minor, pr: automerge

#9805 [cli] refactor to use create deployment param type
  packages/cli/src/commands/deploy/index.ts
  packages/cli/src/util/deploy/process-deployment.ts
  packages/cli/src/util/index.ts
  packages/cli/src/util/parse-env.ts
  packages/client/src/types.ts
Labels: area: cli, semver: patch, pr: automerge

#9774 [tests] split next-local tests into chunks
  packages/next/test/integration/integration-1.test.js
  packages/next/test/integration/integration-2.test.js
  packages/next/test/integration/middleware.test.ts
Labels: area: tests, pr: automerge, semver: none

#9745 [node] Add streaming support for `vc dev`
  .eslintignore
  .github/CODEOWNERS
  packages/cli/test/dev/fixtures/edge-function/api/edge-success.js
  packages/cli/test/dev/fixtures/node-request-body/api/req-body.js
  packages/cli/test/dev/fixtures/serverless-function/api/index.js
  packages/cli/test/dev/fixtures/serverless-function/package.json
  packages/cli/test/dev/integration-1.test.ts
  packages/node-bridge/.gitignore
  packages/node-bridge/bridge.d.ts
  packages/node-bridge/bridge.js
  packages/node-bridge/build.js
  packages/node-bridge/index.js
  packages/node-bridge/launcher.d.ts
  packages/node-bridge/launcher.js
  packages/node-bridge/package.json
  packages/node-bridge/test/bridge.test.js
  packages/node-bridge/test/helpers.test.js
  packages/node-bridge/test/run-test-server.js
  packages/node-bridge/tsconfig.json
  packages/node-bridge/turbo.json
  packages/node-bridge/types.ts
  packages/node/bench/run.js
  packages/node/build.js
  packages/node/package.json
  packages/node/src/dev-server.ts
  packages/node/src/edge-functions/edge-handler-template.js
  packages/node/src/edge-functions/edge-handler.ts
  packages/node/src/index.ts
  packages/node/src/serverless-functions/dynamic-import.js
  packages/node/src/serverless-functions/helpers.ts
  packages/node/src/serverless-functions/serverless-handler.ts
  packages/node/src/types.ts
  packages/node/src/utils.ts
  packages/node/test/fixtures/37-vercel-og/package.json
  packages/node/test/unit/dev.test.ts
  packages/node/test/unit/edge-functions/edge-handler-template.test.ts
  packages/node/test/unit/edge-handler/edge-handler-template.test.ts
  packages/node/test/unit/edge-handler/edge-matcher.test.ts
  packages/node/test/unit/edge-handler/edge-wasm-plugin.test.ts
  packages/node/test/unit/serverless-handler/dynamic-import.test.ts
  pnpm-lock.yaml
  utils/run.js
Labels: area: node, area: dev, semver: minor

#9838 [node] remove last mention of node-bridge
  packages/node/package.json
  pnpm-lock.yaml
Labels: area: node, semver: patch

#9845 fix(remix): update `entry.client.react.jsx`
  packages/remix/defaults/entry.client.react.jsx
Labels: semver: patch, area: remix, pr: automerge

#9852 [remix-entry-server] Delete package
  packages/remix-entry-server/README.md
  packages/remix-entry-server/build.js
  packages/remix-entry-server/package.json
  packages/remix-entry-server/src/entry.server.edge.ts
  packages/remix-entry-server/src/entry.server.node.ts
  packages/remix-entry-server/tsconfig.json
Labels: area: remix, pr: automerge, semver: none

#9855 [next] Update test fixture 00-app-dir-edge to use `export const runtime`
  packages/next/test/fixtures/00-app-dir-edge/app/edge/page.js
  packages/next/test/fixtures/00-app-dir-edge/app/index/page.js
  packages/next/test/fixtures/00-app-dir-edge/app/page.js
Labels: area: tests, area: next, pr: automerge, semver: none

#9853 Use pnpm v8.3.1
  .github/workflows/publish.yml
  .github/workflows/test-lint.yml
  .github/workflows/test.yml
  package.json
  packages/build-utils/test/unit.test.ts
  pnpm-lock.yaml
Labels: area: tests, pr: automerge, semver: none

#9692 [node] Fix ESM dependency support
  packages/cli/jest.config.js
  packages/cli/test/dev/fixtures/esm-js-edge-module/api/data.js
  packages/cli/test/dev/fixtures/esm-js-edge-module/package.json
  packages/cli/test/dev/fixtures/esm-js-edge-module/yarn.lock
  packages/cli/test/dev/fixtures/esm-js-edge-no-module/api/data.js
  packages/cli/test/dev/fixtures/esm-js-edge-no-module/package.json
  packages/cli/test/dev/fixtures/esm-js-edge-no-module/yarn.lock
  packages/cli/test/dev/fixtures/esm-js-nodejs-module/api/data.js
  packages/cli/test/dev/fixtures/esm-js-nodejs-module/package.json
  packages/cli/test/dev/fixtures/esm-js-nodejs-module/yarn.lock
  packages/cli/test/dev/fixtures/esm-js-nodejs-no-module/api/data.js
  packages/cli/test/dev/fixtures/esm-js-nodejs-no-module/package.json
  packages/cli/test/dev/fixtures/esm-js-nodejs-no-module/yarn.lock
  packages/cli/test/dev/fixtures/esm-ts-edge-module/api/data.ts
  packages/cli/test/dev/fixtures/esm-ts-edge-module/package.json
  packages/cli/test/dev/fixtures/esm-ts-edge-module/yarn.lock
  packages/cli/test/dev/fixtures/esm-ts-edge-no-module/api/data.ts
  packages/cli/test/dev/fixtures/esm-ts-edge-no-module/package.json
  packages/cli/test/dev/fixtures/esm-ts-edge-no-module/yarn.lock
  packages/cli/test/dev/fixtures/esm-ts-nodejs-module/api/data.ts
  packages/cli/test/dev/fixtures/esm-ts-nodejs-module/package.json
  packages/cli/test/dev/fixtures/esm-ts-nodejs-module/yarn.lock
  packages/cli/test/dev/fixtures/esm-ts-nodejs-no-module/api/data.ts
  packages/cli/test/dev/fixtures/esm-ts-nodejs-no-module/package.json
  packages/cli/test/dev/fixtures/esm-ts-nodejs-no-module/yarn.lock
  packages/cli/test/dev/integration-5.test.ts
  packages/cli/test/dev/utils.js
  packages/cli/test/unit/commands/build/index.test.ts
  packages/cli/test/unit/util/build/import-builders.test.ts
  packages/next/src/edge-function-source/get-edge-function-source.ts
  packages/next/test/fixtures/00-initial-notfound-revalidate-i18n/index.test.js
  packages/next/test/fixtures/09-yarn-workspaces/packages/common/package.json
  packages/next/test/fixtures/09-yarn-workspaces/packages/web/package.json
  packages/next/tsconfig.json
  packages/node/build.js
  packages/node/package.json
  packages/node/src/dev-server.mts
  packages/node/src/edge-functions/edge-handler.mts
  packages/node/src/edge-functions/edge-node-compat-plugin.mts
  packages/node/src/edge-functions/edge-wasm-plugin.mts
  packages/node/src/fork-dev-server.ts
  packages/node/src/index.ts
  packages/node/src/serverless-functions/dynamic-import.js
  packages/node/src/serverless-functions/serverless-handler.mts
  packages/node/test/fixtures/18-nested-tsconfig/probes.json
  packages/node/test/unit/dev.test.ts
  packages/node/test/unit/edge-handler/edge-handler-template.test.mts
  packages/node/test/unit/edge-handler/edge-wasm-plugin.test.mts
  packages/node/test/unit/prepare-cache.test.ts
  packages/node/test/unit/serverless-handler/dynamic-import.test.ts
  packages/node/tsconfig.json
  packages/static-build/tsconfig.json
  pnpm-lock.yaml
  test/lib/deployment/test-deployment.js
Labels: area: node, semver: minor, pr: automerge

#9858 [tests] install root typescript version `4.9.5` and standardize on that version
  api/package.json
  package.json
  packages/build-utils/package.json
  packages/build-utils/src/fs/read-config-file.ts
  packages/build-utils/test/unit.get-platform-env.test.ts
  packages/cli/package.json
  packages/cli/src/util/build/import-builders.ts
  packages/cli/test/unit/util/build/import-builders.test.ts
  packages/client/package.json
  packages/client/src/utils/ready-state.ts
  packages/client/tests/paths.test.ts
  packages/edge/docs/README.md
  packages/edge/docs/interfaces/ExtraResponseInit.md
  packages/edge/docs/interfaces/ModifiedRequest.md
  packages/edge/package.json
  packages/frameworks/package.json
  packages/frameworks/src/read-config-file.ts
  packages/fs-detectors/package.json
  packages/gatsby-plugin-vercel-builder/package.json
  packages/go/test/index.test.ts
  packages/hydrogen/package.json
  packages/next/package.json
  packages/next/test/fixtures/00-initial-notfound-revalidate-i18n/index.test.js
  packages/node/test/fixtures/18-nested-tsconfig/functions/package.json
  packages/node/test/fixtures/18-nested-tsconfig/probes.json
  packages/python/package.json
  packages/redwood/package.json
  packages/remix/package.json
  packages/routing-utils/package.json
  packages/ruby/package.json
  packages/static-build/package.json
  packages/static-build/src/utils/build-output-v2.ts
  packages/static-config/package.json
  packages/static-config/src/swc.ts
  packages/static-config/src/validation.ts
  pnpm-lock.yaml
Labels: area: tests, pr: automerge, semver: none

#9864 [tests] Update CODEOWNERS for `packages/node`
  .github/CODEOWNERS
Labels: area: tests, pr: automerge, semver: none

#9851 [node] validate function runtime and throw when "nodejs"
  packages/cli/test/dev/integration-1.test.ts
  packages/node/src/dev-server.mts
  packages/node/src/index.ts
  packages/node/src/utils.ts
Labels: area: node, semver: minor, pr: automerge

#9811 [next] support functions property in appDir
  packages/fs-detectors/src/detect-builders.ts
  packages/next/src/utils.ts
  packages/next/test/fixtures/00-app-dir/vercel.json
  packages/next/test/integration/integration-1.test.js
Labels: semver: minor, area: next, area: fs-detectors, pr: automerge

#9866 [node] Add log message about compiling ESM to CJS
  packages/node/src/index.ts
Labels: area: node, semver: patch, pr: automerge

#9868 [node] Don't compile "edge" functions with Babel
  packages/node/src/index.ts
Labels: area: node, semver: patch, pr: automerge

#9860 [node] expose `WebSocket` constructor in Edge functions
  packages/node/package.json
  packages/node/src/edge-functions/edge-handler.mts
  packages/node/src/fork-dev-server.ts
  packages/node/test/dev-fixtures/edge-websocket.js
  packages/node/test/unit/dev.test.ts
  pnpm-lock.yaml
Labels: area: node, semver: minor

#9871 [node] Fix exposing WebSocket to edge runtime and legacy next tests
  packages/next/test/fixtures/00-index-isr/package.json
  packages/next/test/fixtures/00-initial-notfound-revalidate-i18n-previous/package.json
  packages/next/test/fixtures/00-legacy-404/package.json
  packages/next/test/fixtures/00-legacy-monorepo-index-route/www/package.json
  packages/next/test/fixtures/00-legacy-routes-nested/apps/app/package.json
  packages/next/test/fixtures/00-non-server-build/package.json
  packages/next/test/fixtures/00-server-build-initial/package.json
  packages/next/test/fixtures/00-shared-lambdas-invalid-node-env/package.json
  packages/next/test/fixtures/00-shared-lambdas/package.json
  packages/next/test/fixtures/00-test-limit-shared-lambdas/package.json
  packages/next/test/fixtures/03-next-8/package.json
  packages/next/test/fixtures/05-spr-support/package.json
  packages/next/test/fixtures/09-yarn-workspaces/packages/web/package.json
  packages/next/test/fixtures/18-ssg-fallback-support/package.json
  packages/next/test/fixtures/20-pages-404-lambda/package.json
  packages/next/test/fixtures/25-mono-repo-404/packages/webapp/package.json
  packages/next/test/fixtures/26-mono-repo-404-lambda/packages/webapp/package.json
  packages/next/test/fixtures/27-non-word-param/package.json
  packages/next/test/fixtures/30-monorepo-no-script/package.json
  packages/next/test/integration/public-files/package.json
  packages/node/package.json
  packages/node/src/edge-functions/edge-handler.mts
  packages/node/test/unit/dev.test.ts
  pnpm-lock.yaml
Labels: area: node, semver: patch, pr: automerge

#9869 Add support for `home` and `global` as edge function regions
  packages/next/src/utils.ts
Labels: semver: patch, area: next

#9876 [next] Fix return value in normalizeRegions
  packages/next/src/utils.ts
Labels: semver: patch, area: next

#9877 [next] Return all and auto when those are used
  packages/next/src/utils.ts
Labels: semver: patch, area: next
