Repository vercel/vercel, pull requests merged in 2023-02, with the labels that each got.

#9354 [static-build] Add Gatsby `GENERATED_FILE_COMMENT` for non-existing config file cases
  packages/static-build/src/utils/gatsby.ts
  packages/static-build/test/gatsby.test.ts
Labels: semver: patch, area: static-build, pr: automerge

#9356 [gatsby-plugin-vercel-builder] Move "public" dir instead of copying
  packages/gatsby-plugin-vercel-builder/src/handlers/build.ts
  packages/gatsby-plugin-vercel-builder/src/helpers/static.ts
  packages/gatsby-plugin-vercel-builder/src/index.ts
Labels: semver: patch, pr: automerge, area: gatsby-plugin-vercel-builder

#9362 [gatsby-plugin-vercel-builder] Use `pathPrefix` from BuildArgs
  packages/gatsby-plugin-vercel-builder/gatsby-node.ts
  packages/gatsby-plugin-vercel-builder/src/helpers/static.ts
  packages/gatsby-plugin-vercel-builder/src/index.ts
  packages/gatsby-plugin-vercel-builder/src/schemas.ts
Labels: semver: patch, pr: automerge, area: gatsby-plugin-vercel-builder

#9358 [cli] Merge build output contents instead of copying
  packages/cli/src/util/build/merge.ts
  packages/cli/src/util/build/write-build-result.ts
  packages/cli/test/unit/util/build/merge.test.ts
Labels: area: cli, semver: minor, pr: automerge

#9360 [cli] Add crons to build output
  packages/build-utils/src/edge-function.ts
  packages/build-utils/src/lambda.ts
  packages/build-utils/src/types.ts
  packages/cli/test/fixtures/unit/commands/build/with-cron/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/build/with-cron/api/edge.js
  packages/cli/test/fixtures/unit/commands/build/with-cron/api/serverless.js
  packages/cli/test/fixtures/unit/commands/build/with-cron/index.html
  packages/cli/test/unit/commands/build/index.test.ts
  packages/node/src/index.ts
  packages/static-config/src/index.ts
Labels: area: build-utils, area: node, area: cli, semver: minor

#9364 [cli] add charset to content-type headers for `vc dev`
  packages/cli/src/util/dev/mime-type.ts
  packages/cli/src/util/dev/server.ts
  packages/cli/test/dev/integration-1.test.ts
Labels: area: cli, semver: patch, pr: automerge

#9365 [remix] Remove `render` path
  packages/remix/src/build.ts
  packages/remix/src/types.ts
  packages/remix/test/fixtures/01-remix-basics/app/routes/b.tsx
  packages/remix/test/fixtures/01-remix-basics/app/routes/nested/another.tsx
  packages/remix/test/fixtures/01-remix-basics/app/routes/nested/index.tsx
  packages/remix/test/fixtures/01-remix-basics/vercel.json
Labels: semver: patch, area: remix, pr: automerge

#9373 [node] Add log for unused config runtime
  packages/node/src/index.ts
Labels: area: node, semver: patch, pr: automerge

#9205 [python] Cope with duplicate header values
  packages/python/test/fixtures/32-fail-duplicate-header/index.py
  packages/python/test/fixtures/32-fail-duplicate-header/probe.js
  packages/python/test/fixtures/32-fail-duplicate-header/vercel.json
  packages/python/vc_init.py
Labels: area: python, semver: patch, pr: automerge

#9371 [examples] Update Astro example to v2
  examples/astro/package.json
  examples/astro/pnpm-lock.yaml
Labels: area: examples, semver: minor, pr: automerge

#9353 [fs-detectors] Add fix for if monorepo and proj at root
  packages/cli/src/util/build/monorepo.ts
  packages/fs-detectors/src/monorepos/get-monorepo-default-settings.ts
  packages/fs-detectors/test/fixtures/get-monorepo-default-settings/turbo-npm-root-proj/package-lock.json
  packages/fs-detectors/test/fixtures/get-monorepo-default-settings/turbo-npm-root-proj/package.json
  packages/fs-detectors/test/fixtures/get-monorepo-default-settings/turbo-npm-root-proj/turbo.json
  packages/fs-detectors/test/unit.get-monorepo-default-settings.test.ts
Labels: semver: patch, area: fs-detectors, pr: automerge

#9374 [next][build-utils] Add support for cron to vercel.json
  packages/build-utils/src/lambda.ts
  packages/build-utils/src/schemas.ts
  packages/build-utils/src/types.ts
  packages/cli/src/util/build/write-build-result.ts
  packages/cli/test/fixtures/unit/commands/build/with-cron/api/overwrite/edge.js
  packages/cli/test/fixtures/unit/commands/build/with-cron/api/overwrite/serverless.js
  packages/cli/test/fixtures/unit/commands/build/with-cron/vercel.json
  packages/cli/test/unit/commands/build/index.test.ts
  packages/next/src/server-build.ts
  packages/next/src/utils.ts
  packages/next/test/unit/build.test.js
  packages/next/test/unit/fixtures/03-with-api-routes/.gitignore
  packages/next/test/unit/fixtures/03-with-api-routes/next.config.js
  packages/next/test/unit/fixtures/03-with-api-routes/package.json
  packages/next/test/unit/fixtures/03-with-api-routes/pages/api/edge.js
  packages/next/test/unit/fixtures/03-with-api-routes/pages/api/serverless.js
  packages/next/test/unit/fixtures/03-with-api-routes/yarn.lock
Labels: area: build-utils, semver: minor, area: next

#9386 [redwood] Consider all Lambda options
  packages/redwood/src/index.ts
Labels: semver: minor, area: redwood

#8826 [cli] Add `--no-color` mode
  packages/cli/src/commands/alias/index.ts
  packages/cli/src/commands/bisect/index.ts
  packages/cli/src/commands/build.ts
  packages/cli/src/commands/certs/index.ts
  packages/cli/src/commands/deploy/args.ts
  packages/cli/src/commands/dev/index.ts
  packages/cli/src/commands/dns/index.ts
  packages/cli/src/commands/domains/index.ts
  packages/cli/src/commands/env/index.ts
  packages/cli/src/commands/init/index.ts
  packages/cli/src/commands/inspect.ts
  packages/cli/src/commands/link/index.ts
  packages/cli/src/commands/list.ts
  packages/cli/src/commands/login.ts
  packages/cli/src/commands/logs.ts
  packages/cli/src/commands/pull.ts
  packages/cli/src/commands/remove.ts
  packages/cli/src/commands/rollback.ts
  packages/cli/src/commands/teams/index.ts
  packages/cli/src/commands/whoami.ts
  packages/cli/src/index.ts
  packages/cli/src/util/arg-common.ts
  packages/cli/src/util/emoji.ts
  packages/cli/src/util/output/create-output.ts
  packages/cli/test/mocks/client.ts
  packages/cli/test/unit/commands/login.test.ts
Labels: area: cli, semver: minor

#9388 [build-utils] Add passQuery field to Prerender
  packages/build-utils/src/prerender.ts
  packages/build-utils/test/unit.test.ts
Labels: area: build-utils, semver: patch, pr: automerge

#9394 [gatsby-plugin-vercel-builder] Strip `assetPrefix` from `pathPrefix`
  packages/gatsby-plugin-vercel-builder/src/index.ts
  packages/static-build/test/fixtures/gatsby-v5-pathPrefix/gatsby-config.js
Labels: semver: patch, area: gatsby-plugin-vercel-builder

#8362 [examples] Bump Vite.js
  examples/vite/.gitignore
  examples/vite/.vercelignore
  examples/vite/README.md
  examples/vite/index.html
  examples/vite/package.json
  examples/vite/public/favicon.ico
  examples/vite/public/vite.svg
  examples/vite/src/App.vue
  examples/vite/src/assets/logo.png
  examples/vite/src/assets/vue.svg
  examples/vite/src/components/HelloWorld.vue
  examples/vite/src/main.js
  examples/vite/src/style.css
  examples/vite/vite.config.js
Labels: area: examples, semver: patch

#9400 [examples] update Vite example lockfile
  examples/vite/pnpm-lock.yaml
Labels: area: examples, pr: automerge, semver: none

#9401 [tests] Fix test for `functions` config
  packages/cli/test/integration.js
Labels: area: tests, pr: automerge, semver: none

#9402 [next] Update env variable for output trace root
  packages/next/src/index.ts
Labels: semver: patch, area: next, pr: automerge

#9392 [cli] Update notification redesign
  packages/cli/package.json
  packages/cli/src/commands/bisect/index.ts
  packages/cli/src/index.ts
  packages/cli/src/util/get-latest-version/get-latest-worker.js
  packages/cli/src/util/get-latest-version/index.ts
  packages/cli/src/util/output/box.ts
  packages/cli/test/unit/util/get-latest-version.test.ts
  packages/cli/test/unit/util/output/box.test.ts
  pnpm-lock.yaml
Labels: area: cli, semver: patch, pr: automerge

#9404 [tests] Fix app-dir test assertion
  packages/next/test/integration/index.test.js
Labels: area: tests, pr: automerge, semver: none

#9403 [tests] Add tests for `examples`
  examples/__tests__/integration/angular.test.ts
  examples/__tests__/integration/astro.test.ts
  examples/__tests__/integration/blitzjs.test.ts
  examples/__tests__/integration/brunch.test.ts
  examples/__tests__/integration/create-react-app.test.ts
  examples/__tests__/integration/docusaurus-2.test.ts
  examples/__tests__/integration/docusaurus.test.ts
  examples/__tests__/integration/dojo.test.ts
  examples/__tests__/integration/eleventy.test.ts
  examples/__tests__/integration/ember.test.ts
  examples/__tests__/integration/gatsby.test.ts
  examples/__tests__/integration/gridsome.test.ts
  examples/__tests__/integration/hexo.test.ts
  examples/__tests__/integration/hugo.test.ts
  examples/__tests__/integration/hydrogen.test.ts
  examples/__tests__/integration/ionic-angular.test.ts
  examples/__tests__/integration/ionic-react.test.ts
  examples/__tests__/integration/jekyll.test.ts
  examples/__tests__/integration/middleman.test.ts
  examples/__tests__/integration/nextjs.test.ts
  examples/__tests__/integration/node_modules.test.ts
  examples/__tests__/integration/nuxtjs.test.ts
  examples/__tests__/integration/parcel.test.ts
  examples/__tests__/integration/polymer.test.ts
  examples/__tests__/integration/preact.test.ts
  examples/__tests__/integration/redwoodjs.test.ts
  examples/__tests__/integration/remix.test.ts
  examples/__tests__/integration/saber.test.ts
  examples/__tests__/integration/sanity.test.ts
  examples/__tests__/integration/sapper.test.ts
  examples/__tests__/integration/scully.test.ts
  examples/__tests__/integration/solidstart.test.ts
  examples/__tests__/integration/stencil.test.ts
  examples/__tests__/integration/svelte.test.ts
  examples/__tests__/integration/sveltekit-1.test.ts
  examples/__tests__/integration/sveltekit.test.ts
  examples/__tests__/integration/umijs.test.ts
  examples/__tests__/integration/vite.test.ts
  examples/__tests__/integration/vitepress.test.ts
  examples/__tests__/integration/vue.test.ts
  examples/__tests__/integration/vuepress.test.ts
  examples/__tests__/integration/zola.test.ts
  examples/__tests__/test-utils.ts
  examples/__tests__/unit/index.test.ts
  examples/blitzjs/package.json
  examples/dojo/package.json
  examples/ionic-angular/package.json
  examples/ionic-react/package.json
  examples/jest.config.js
  examples/package.json
  examples/preact/package.json
  examples/saber/package.json
  examples/sapper/package.json
  examples/scully/package.json
  examples/sveltekit/package.json
  examples/sveltekit/pnpm-lock.yaml
  examples/tsconfig.json
  examples/vue/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: area: tests, pr: automerge, semver: none

#9409 [node] Fix incorrect stack trace of TS error
  packages/node/src/typescript.ts
  packages/node/test/fixtures/46-noEmitOnError-false/vercel.json
Labels: area: node, semver: patch, pr: automerge

#9413 [tests] add missing dep that used to be hoisted
  packages/cli/package.json
  pnpm-lock.yaml
Labels: area: tests, pr: automerge, semver: none

#9415 [tests] Fix examples tests with shared util
  examples/__tests__/test-utils.ts
  examples/__tests__/unit/index.test.ts
  packages/fs-detectors/test/unit.examples.test.ts
Labels: area: tests, pr: automerge, semver: none

#9416 [fs-detectors] Add main to test package.json files
  packages/fs-detectors/test/fixtures/get-monorepo-default-settings/nx-package-config/packages/app-1/package.json
  packages/fs-detectors/test/fixtures/get-monorepo-default-settings/nx-project-config/packages/app-1/package.json
  packages/fs-detectors/test/fixtures/get-monorepo-default-settings/nx/packages/app-1/package.json
  packages/fs-detectors/test/fixtures/get-monorepo-default-settings/turbo-package-config/packages/app-1/package.json
  packages/fs-detectors/test/fixtures/get-monorepo-default-settings/turbo/packages/app-1/package.json
Labels: area: tests, pr: automerge, semver: none

#9410 [cli][node][node-bridge] improve edge/serverless function error messages
  packages/cli/src/util/dev/server.ts
  packages/cli/test/dev/integration-1.test.ts
  packages/node-bridge/helpers.ts
  packages/node/src/edge-functions/edge-handler.ts
Labels: area: node, area: cli, semver: patch, pr: automerge

#9412 [build-utils] Filter out files outside of `cwd` when glob is in "follow" mode
  packages/build-utils/src/fs/glob.ts
  packages/build-utils/test/unit.glob.test.ts
Labels: area: build-utils, semver: patch, pr: automerge

#9408 Read rscContentType from routes manifest
  packages/next/src/utils.ts
Labels: semver: patch, area: next

#9377 [node] Make NFT resolve "worker"/"browser" exports for Edge Functions
  packages/node/src/index.ts
  packages/node/test/fixtures/61-edge-function/api/react-dom.mjs
  packages/node/test/fixtures/61-edge-function/package.json
  packages/node/test/fixtures/61-edge-function/vercel.json
  packages/node/test/fixtures/61-edge-function/yarn.lock
Labels: area: node, semver: patch, pr: automerge

#9397 [tests] Update CI to Node.js 16
  .github/workflows/publish.yml
  .github/workflows/test-integration-cli.yml
  .github/workflows/test-unit.yml
  .github/workflows/test.yml
  packages/build-utils/test/unit.test.ts
  packages/cli/test/dev/fixtures/05-gatsby/.gitignore
  packages/cli/test/dev/fixtures/05-gatsby/gatsby-browser.js
  packages/cli/test/dev/fixtures/05-gatsby/gatsby-config.js
  packages/cli/test/dev/fixtures/05-gatsby/gatsby-node.js
  packages/cli/test/dev/fixtures/05-gatsby/gatsby-ssr.js
  packages/cli/test/dev/fixtures/05-gatsby/package.json
  packages/cli/test/dev/fixtures/05-gatsby/src/images/gatsby-icon.png
  packages/cli/test/dev/fixtures/05-gatsby/src/pages/404.js
  packages/cli/test/dev/fixtures/05-gatsby/src/pages/index.js
  packages/cli/test/dev/fixtures/05-gatsby/yarn.lock
  packages/cli/test/dev/fixtures/06-gridsome/.gitignore
  packages/cli/test/dev/fixtures/06-gridsome/.nowignore
  packages/cli/test/dev/fixtures/06-gridsome/README.md
  packages/cli/test/dev/fixtures/06-gridsome/gridsome.config.js
  packages/cli/test/dev/fixtures/06-gridsome/gridsome.server.js
  packages/cli/test/dev/fixtures/06-gridsome/package.json
  packages/cli/test/dev/fixtures/06-gridsome/src/components/README.md
  packages/cli/test/dev/fixtures/06-gridsome/src/favicon.png
  packages/cli/test/dev/fixtures/06-gridsome/src/layouts/Default.vue
  packages/cli/test/dev/fixtures/06-gridsome/src/layouts/README.md
  packages/cli/test/dev/fixtures/06-gridsome/src/main.js
  packages/cli/test/dev/fixtures/06-gridsome/src/pages/404.vue
  packages/cli/test/dev/fixtures/06-gridsome/src/pages/About.vue
  packages/cli/test/dev/fixtures/06-gridsome/src/pages/Index.vue
  packages/cli/test/dev/fixtures/06-gridsome/src/pages/README.md
  packages/cli/test/dev/fixtures/06-gridsome/src/templates/README.md
  packages/cli/test/dev/fixtures/06-gridsome/static/README.md
  packages/cli/test/dev/fixtures/06-gridsome/vercel.json
  packages/cli/test/dev/fixtures/06-gridsome/yarn.lock
  packages/cli/test/dev/integration-3.test.ts
  packages/next/test/fixtures/00-test-limit-shared-lambdas/package.json
  packages/next/test/fixtures/25-mono-repo-404/packages/webapp/package.json
  packages/next/test/fixtures/26-mono-repo-404-lambda/package.json
  packages/next/test/fixtures/26-mono-repo-404-lambda/packages/webapp/package.json
  packages/next/test/fixtures/26-mono-repo-404-lambda/yarn.lock
  packages/next/test/integration/index.test.js
Labels: area: tests, pr: automerge, semver: none

#9429 [test] Switch to turbo main release line
  utils/update-turbo.js
Labels: area: tests, pr: automerge, semver: none

#9428 [cli] add slash before url for edge function errors
  packages/cli/test/dev/integration-1.test.ts
  packages/node/src/dev-server.ts
  packages/node/src/edge-functions/edge-handler.ts
Labels: area: cli, semver: patch, pr: automerge

#9430 [tests] Add `workflow_dispatch` to cron workflows
  .github/workflows/cron-update-next.yml
  .github/workflows/cron-update-turbo.yml
Labels: area: tests, pr: automerge, semver: none

#9434 [next] Fix app-dir tests from new content-type
  packages/next/test/fixtures/00-app-dir-edge/vercel.json
  packages/next/test/fixtures/00-app-dir-static/vercel.json
  packages/next/test/fixtures/00-app-dir-trailing-slash/vercel.json
  packages/next/test/fixtures/00-app-dir/vercel.json
Labels: semver: patch, area: next, pr: automerge

#9438 [tests] Fix memory limit test
  packages/cli/test/helpers/prepare.js
  packages/cli/test/integration.js
Labels: area: tests, pr: automerge, semver: none

#9433 [tests] Update tests script names
  .github/workflows/test-integration-cli.yml
  examples/package.json
  package.json
  packages/build-utils/package.json
  packages/cli/package.json
  packages/client/package.json
  packages/go/package.json
  packages/hydrogen/package.json
  packages/next/package.json
  packages/node/package.json
  packages/python/package.json
  packages/redwood/package.json
  packages/remix/package.json
  packages/ruby/package.json
  packages/static-build/package.json
  test/lib/deployment/test-deployment.js
  turbo.json
  utils/chunk-tests.js
Labels: area: tests, pr: automerge, semver: none

#9439 [build-utils][cli] Update link to project-configuration
  errors/next-functions-config-optimized-lambdas.md
  errors/next-legacy-routes-optimized-lambdas.md
  packages/build-utils/src/errors.ts
  packages/cli/src/commands/build.ts
  packages/cli/test/integration.js
  packages/cli/test/unit/commands/build/index.test.ts
  packages/cli/test/unit/util/dev/validate.test.ts
Labels: area: build-utils, area: cli, semver: patch, pr: automerge

#9440 [build-utils][cli] Remove 64 increment limit for serverless functions
  packages/build-utils/src/schemas.ts
  packages/cli/test/unit/util/dev/validate.test.ts
Labels: area: build-utils, area: cli, semver: patch, pr: automerge

#9417 [remix-entry-server] Add initial implementation
  packages/remix-entry-server/README.md
  packages/remix-entry-server/build.js
  packages/remix-entry-server/package.json
  packages/remix-entry-server/src/entry.server.edge.ts
  packages/remix-entry-server/src/entry.server.node.ts
  packages/remix-entry-server/tsconfig.json
  pnpm-lock.yaml
Labels: semver: minor, area: remix, pr: automerge

#9441 [next] Improve error message when routes-manifest.json not found
  errors/now-next-routes-manifest.md
  packages/next/src/utils.ts
Labels: semver: patch, area: next, pr: automerge

#9445 [test] Use execFileSync() to get processes
  packages/cli/test/dev/utils.js
Labels: area: tests, pr: automerge, semver: none

#9443 [routing-utils] Added middlewareRawSrc to RouteWithSrc type
  packages/routing-utils/src/types.ts
Labels: area: routing-utils, semver: patch, pr: automerge

#9448 [build-utils] add framework slug and version to build output
  packages/build-utils/src/edge-function.ts
  packages/build-utils/src/lambda.ts
  packages/build-utils/src/types.ts
Labels: area: build-utils, semver: patch, pr: automerge

#9450 [next] Ensure app routes are handled
  packages/next/src/index.ts
Labels: semver: patch, area: next, pr: automerge

#9449 Adds framework fields to build outputs
  packages/next/src/index.ts
  packages/next/src/server-build.ts
  packages/next/src/utils.ts
Labels: semver: patch, area: next, pr: automerge

#9457 [remix] Fix root-level splat path
  packages/remix/src/build.ts
  packages/remix/test/fixtures/03-with-pnpm/app/routes/$.tsx
  packages/remix/test/fixtures/03-with-pnpm/vercel.json
Labels: semver: patch, area: remix, pr: automerge

#9454 [build-utils][cli][client][node][next][static-config]: forward `crons` from vercel.json to config.json
  packages/build-utils/src/edge-function.ts
  packages/build-utils/src/lambda.ts
  packages/build-utils/src/schemas.ts
  packages/build-utils/src/types.ts
  packages/cli/src/commands/build.ts
  packages/cli/src/util/build/write-build-result.ts
  packages/cli/src/util/validate-config.ts
  packages/cli/test/fixtures/unit/commands/build/with-cron/api/cron-jobs.js
  packages/cli/test/fixtures/unit/commands/build/with-cron/api/edge.js
  packages/cli/test/fixtures/unit/commands/build/with-cron/api/overwrite/edge.js
  packages/cli/test/fixtures/unit/commands/build/with-cron/api/serverless.js
  packages/cli/test/fixtures/unit/commands/build/with-cron/vercel.json
  packages/cli/test/integration.js
  packages/cli/test/unit/commands/build/index.test.ts
  packages/cli/test/unit/util/dev/validate.test.ts
  packages/client/src/types.ts
  packages/next/src/server-build.ts
  packages/next/src/utils.ts
  packages/next/test/unit/build.test.js
  packages/node/src/index.ts
  packages/static-config/src/index.ts
Labels: area: build-utils, area: node, area: cli, area: client, semver: minor, area: next, area: static-config

#9467 [remix] Install Node globals
  packages/remix/server-node.mjs
  packages/remix/test/fixtures/01-remix-basics/app/routes/instanceof.tsx
  packages/remix/test/fixtures/01-remix-basics/vercel.json
Labels: semver: patch, area: remix, pr: automerge

#9436 [ruby] fix: HEAD requests
  packages/ruby/test/fixtures/01-cowsay/now.json
  packages/ruby/vc_init.rb
  test/lib/deployment/test-deployment.js
Labels: area: ruby, semver: patch, pr: automerge

#9465 [fs-detectors] Remove increments of 64 limit for function memory
  packages/fs-detectors/src/detect-builders.ts
  packages/fs-detectors/test/unit.builds-and-routes-detector.test.ts
Labels: semver: patch, area: fs-detectors, pr: automerge

#9196 [next] Add Operation Types to Next.js Lambdas
  packages/next/src/index.ts
  packages/next/src/server-build.ts
  packages/next/src/utils.ts
  packages/next/test/integration/index.test.js
Labels: semver: minor, area: next, pr: automerge

#9455 [examples] update remix template
  examples/remix/app/entry.client.tsx
  examples/remix/app/entry.server.tsx
  examples/remix/app/routes/edge.tsx
  examples/remix/package.json
  examples/remix/pnpm-lock.yaml
  examples/remix/remix.config.js
  examples/remix/server.js
Labels: area: examples, pr: automerge, semver: none

#9470 [cli] Fix typo in get-latest-worker.js
  packages/cli/src/util/get-latest-version/get-latest-worker.js
Labels: area: cli, semver: patch, pr: automerge

#9469 [remix] Add unit tests
  packages/remix/package.json
  packages/remix/src/build.ts
  packages/remix/src/utils.ts
  packages/remix/test/unit.find-config.test.ts
  packages/remix/test/unit.get-path-from-route.test.ts
  packages/remix/test/unit.get-regexp-from-path.test.ts
  packages/remix/test/unit.is-layout-route.test.ts
  pnpm-lock.yaml
Labels: area: tests, area: remix, pr: automerge, semver: none

#9489 [next] Handle prerender-manifest v4
  packages/next/src/index.ts
  packages/next/src/utils.ts
Labels: semver: patch, area: next

#9481 [next] Add initial `vary` header to all prerendered pages when RSC is enabled
  packages/next/src/server-build.ts
  packages/next/src/utils.ts
Labels: semver: patch, area: next, pr: automerge

#9493 [next] Fix rsc routes order
  packages/next/src/server-build.ts
  packages/next/test/fixtures/00-app-dir-middleware/app/[variant]/[[...rest]]/page.js
  packages/next/test/fixtures/00-app-dir-middleware/app/layout.js
  packages/next/test/fixtures/00-app-dir-middleware/index.test.js
  packages/next/test/fixtures/00-app-dir-middleware/middleware.js
  packages/next/test/fixtures/00-app-dir-middleware/next.config.js
  packages/next/test/fixtures/00-app-dir-middleware/package.json
  packages/next/test/fixtures/00-app-dir-middleware/pages/api/hello.js
  packages/next/test/fixtures/00-app-dir-middleware/pages/blog/[slug].js
  packages/next/test/fixtures/00-app-dir-middleware/public/hello.txt
  packages/next/test/fixtures/00-app-dir-middleware/vercel.json
Labels: semver: patch, area: next, pr: automerge

#9496 [cli] Fix global detection for fnm
  packages/cli/src/util/get-update-command.ts
Labels: area: cli, semver: patch, pr: automerge

#9494 [docs] Improve docs for `@vercel/next` no pages built message
  errors/now-next-no-serverless-pages-built.md
Labels: area: docs, pr: automerge, semver: none

#9503 [next] Ensure .rsc outputs are not created for route handlers
  packages/next/src/server-build.ts
  packages/next/test/fixtures/00-app-dir/app/edge-route-handler/route.js
  packages/next/test/integration/index.test.js
Labels: semver: patch, area: next, pr: automerge

#9487 [node] fix TypeScript + ESM in Windows
  packages/node/package.json
  packages/node/src/fork-dev-server.ts
  packages/node/src/index.ts
  packages/node/test/dev-fixtures/esm-module.mjs
  packages/node/test/dev-fixtures/esm-module.ts
  packages/node/test/dev.test.ts
Labels: area: node, semver: patch, pr: automerge

#9498 [cli] fix content type determination logic
  packages/cli/src/util/dev/mime-type.ts
  packages/cli/test/unit/util/dev/mime-type.test.ts
Labels: area: cli, semver: patch, pr: automerge

#9477 [cli] Fix 'vc remove --safe <project>'
  packages/cli/src/commands/remove.ts
  packages/cli/src/util/deploy/get-deployments-by-project-id.ts
Labels: area: cli, semver: patch, pr: automerge

#9473 [remix] Allow `runtime` to be defined from a parent route
  packages/remix/src/build.ts
  packages/remix/src/utils.ts
  packages/remix/test/fixtures/01-remix-basics/app/routes/projects.tsx
  packages/remix/test/fixtures/01-remix-basics/app/routes/projects/edge.tsx
  packages/remix/test/fixtures/01-remix-basics/app/routes/projects/node.tsx
  packages/remix/test/fixtures/01-remix-basics/vercel.json
Labels: semver: minor, area: remix, pr: automerge

#9506 [remix] Restore support for a custom `server.js` entrypoint file
  packages/remix/src/build.ts
  packages/remix/test/fixtures/02-remix-basics-mjs/app/routes/edge.tsx
  packages/remix/test/fixtures/02-remix-basics-mjs/app/routes/load-context.tsx
  packages/remix/test/fixtures/02-remix-basics-mjs/package.json
  packages/remix/test/fixtures/02-remix-basics-mjs/remix.config.mjs
  packages/remix/test/fixtures/02-remix-basics-mjs/server.ts
  packages/remix/test/fixtures/02-remix-basics-mjs/vercel.json
  packages/remix/test/fixtures/02-remix-basics-mjs/yarn.lock
Labels: semver: patch, area: remix, pr: automerge

#9512 [remix] Simplify ESM detection of `remix.config.js`
  packages/remix/src/build.ts
  packages/remix/test/fixtures/01-remix-basics/package.json
  packages/remix/test/fixtures/01-remix-basics/remix.config.js
Labels: semver: patch, area: remix, pr: automerge

#9515 [tests] Increase test timeout from 5s to 10s
  packages/node/test/dev.test.ts
Labels: area: tests, pr: automerge, semver: none

#9517 [tests] Remove `watchPaths` from remix test fixture
  packages/remix/test/fixtures/01-remix-basics/package.json
  packages/remix/test/fixtures/01-remix-basics/remix.config.js
Labels: area: tests, pr: automerge, semver: none

#9513 [build-utils][next] Add `images.contentDispositionType`
  packages/build-utils/src/types.ts
  packages/cli/src/util/validate-config.ts
  packages/cli/test/fixtures/unit/commands/build/images/vercel.json
  packages/cli/test/unit/commands/build/index.test.ts
  packages/gatsby-plugin-vercel-builder/src/types.d.ts
  packages/next/src/utils.ts
  packages/next/test/unit/utils.test.js
Labels: area: build-utils, semver: minor, pr: automerge

#9519 [remix] Update `@remix-run/dev` dep to v1.13.0
  packages/remix/package.json
  packages/remix/test/fixtures/04-with-npm9-linked/vercel.json
  pnpm-lock.yaml
Labels: semver: patch, area: remix, pr: automerge

#9518 [remix] `cd` to the project directory during `readConfig()`
  packages/remix/src/build.ts
Labels: semver: patch, area: remix, pr: automerge

#9531 [remix] Ignore `serverBuildPath` from Remix config
  packages/remix/src/build.ts
  packages/remix/test/fixtures/02-remix-basics-mjs/remix.config.mjs
Labels: semver: patch, area: remix, pr: automerge

#9532 [tests] Update app-dir integration test
  packages/next/test/integration/index.test.js
Labels: area: tests, pr: automerge, semver: none

#9520 [node-bridge] Fix multiple `Set-Cookie` headers in streaming mode
  packages/node-bridge/bridge.js
Labels: area: node, semver: patch, pr: automerge

#9526 [edge] Add RequestContext type
  packages/edge/docs/README.md
  packages/edge/docs/interfaces/RequestContext.md
  packages/edge/src/index.ts
  packages/edge/src/request.ts
Labels: semver: minor, area: edge, pr: automerge

#9541 [tests] Update cron with token in git checkout
  .github/workflows/cron-update-next.yml
  .github/workflows/cron-update-turbo.yml
Labels: area: tests, pr: automerge, semver: none

#9543 Revert "[tests] Update cron with token in git checkout"
  .github/workflows/cron-update-next.yml
  .github/workflows/cron-update-turbo.yml
Labels: area: tests, pr: automerge, semver: none

#9544 [tests] Pass token to cron github actions
  .github/workflows/cron-update-next.yml
  .github/workflows/cron-update-turbo.yml
Labels: area: tests, pr: automerge, semver: none

#9542 [build-utils] Handle error during `readConfigFile()`
  packages/build-utils/src/fs/read-config-file.ts
  packages/build-utils/test/unit.read-config-file.test.ts
Labels: area: build-utils, semver: patch, pr: automerge

#9549 [cli] Added fetch dist-tags http status validation
  packages/cli/src/util/get-latest-version/get-latest-worker.js
Labels: area: cli, semver: patch, pr: automerge

#9326 [frameworks] add `envPrefix` to `hydrogen` framework
  packages/frameworks/src/frameworks.ts
Labels: area: frameworks, semver: patch

#9538 [tests] Properly test for multiple headers with same name in probes
  packages/python/test/fixtures/20-multivalue-header/vercel.json
  test/lib/deployment/test-deployment.js
Labels: area: tests, pr: automerge, semver: none

#9539 [remix] Don't create output for Pathless Layout Routes without any child routes at the root level
  packages/remix/src/build.ts
  packages/remix/src/utils.ts
  packages/remix/test/fixtures/01-remix-basics/app/routes/__pathless.tsx
  packages/remix/test/fixtures/01-remix-basics/app/routes/nested2/__pathless.tsx
  packages/remix/test/fixtures/01-remix-basics/vercel.json
  packages/remix/test/unit.get-path-from-route.test.ts
Labels: semver: patch, area: remix, pr: automerge

#9555 [next] Fix deploying with cached build
  packages/next/src/server-build.ts
  packages/next/src/utils.ts
  packages/next/test/fixtures/00-cached-build/.gitignore
  packages/next/test/fixtures/00-cached-build/apps/web/package.json
  packages/next/test/fixtures/00-cached-build/apps/web/pages/index.js
  packages/next/test/fixtures/00-cached-build/apps/web/pages/ssg.js
  packages/next/test/fixtures/00-cached-build/apps/web/pages/ssp.js
  packages/next/test/fixtures/00-cached-build/apps/web/post-build.js
  packages/next/test/fixtures/00-cached-build/index.test.js
  packages/next/test/fixtures/00-cached-build/package.json
  packages/next/test/fixtures/00-cached-build/turbo-cache/3d4a11a80ae91055-meta.json
  packages/next/test/fixtures/00-cached-build/turbo-cache/3d4a11a80ae91055.tar.zst
  packages/next/test/fixtures/00-cached-build/turbo.json
  packages/next/test/fixtures/00-cached-build/vercel.json
  packages/next/test/fixtures/00-cached-build/yarn.lock
  packages/next/test/utils.ts
  test/lib/deployment/now-deploy.js
  test/lib/deployment/test-deployment.js
Labels: semver: patch, area: next, pr: automerge

#9553 [remix] Inject Edge entrypoint into `@remix-run/vercel` during Edge Function creation
  packages/remix/package.json
  packages/remix/src/build.ts
  packages/remix/test/fixtures/02-remix-basics-mjs/app/routes/edge.tsx
  packages/remix/test/fixtures/02-remix-basics-mjs/app/routes/load-context.tsx
  packages/remix/test/fixtures/02-remix-basics-mjs/vercel.json
  packages/remix/vercel-edge-entrypoint.js
Labels: semver: patch, area: remix, pr: automerge

#9533 [remix] Fix sending multiple response headers with the same name with Node.js
  packages/remix/server-node.mjs
  packages/remix/test/fixtures/01-remix-basics/app/routes/edge.tsx
  packages/remix/test/fixtures/01-remix-basics/app/routes/set-cookie-edge.tsx
  packages/remix/test/fixtures/01-remix-basics/app/routes/set-cookie-node.tsx
  packages/remix/test/fixtures/01-remix-basics/vercel.json
Labels: semver: patch, area: remix, pr: automerge

#9558 [frameworks] Check for `remix.config.mjs` for "remix" auto-detection
  packages/frameworks/src/frameworks.ts
Labels: area: frameworks, semver: patch, area: remix, pr: automerge

#9508 [cli][dev] remove link to 404 FAQ
  packages/cli/src/util/dev/templates/error_404.jst
Labels: area: cli, area: dev, semver: patch, pr: automerge

#9509 [tests] extract noisey setup to make test clearer
  packages/node/test/dev.test.ts
Labels: area: tests, pr: automerge, semver: none

#9562 [next] add support for the integration hook file tracing
  packages/next/src/server-build.ts
  packages/next/test/fixtures/36-instrumentation-hook/index.test.js
  packages/next/test/fixtures/36-instrumentation-hook/instrumentation.js
  packages/next/test/fixtures/36-instrumentation-hook/next.config.js
  packages/next/test/fixtures/36-instrumentation-hook/package.json
  packages/next/test/fixtures/36-instrumentation-hook/pages/api/hello.js
  packages/next/test/fixtures/36-instrumentation-hook/pages/index.js
  packages/next/test/fixtures/36-instrumentation-hook/probes.json
Labels: semver: patch, area: next, pr: automerge

#9551 [hydrogen] Add missing envPrefix
  packages/hydrogen/src/build.ts
Labels: semver: patch, area: hydrogen, pr: automerge

#9565 [cli] Remove unncessary warning when monorepo setting override
  packages/cli/src/util/build/monorepo.ts
Labels: area: cli, semver: patch, pr: automerge

#9564 [routing-utils] Add missing 'middlewareRawSrc' to route schema
  packages/routing-utils/src/schemas.ts
Labels: area: routing-utils, semver: patch, pr: automerge

#9572 [tests] add missing __dirname from gatsby cron job script
  utils/update-gatsby-fixtures.js
Labels: area: tests, semver: none

#9575 [tests] add missing -w option for pnpm in gatsby cron job script
  utils/update-gatsby-fixtures.js
Labels: area: tests, semver: none

#9577 [tests] Fix gatsby cron job script - git diff operation
  utils/update-gatsby-fixtures.js
Labels: area: tests, semver: none

#9435 [node] Added middlewareRawSrc to BOA route config
  packages/cli/test/unit/commands/build/index.test.ts
  packages/node/src/index.ts
Labels: area: node, semver: patch, pr: automerge

#9579 [remix] Set `framework` property on Lambda / EdgeFunction
  packages/remix/src/build.ts
Labels: semver: patch, area: remix, pr: automerge

#9569 [remix] Gracefully handle symlink creation when updating Remix packages
  packages/remix/src/build.ts
  packages/remix/test/fixtures/04-with-npm9-linked/vercel.json
Labels: semver: patch, area: remix, pr: automerge
