Repository vercel/vercel, pull requests merged in 2023-03, with the labels that each got.

#9583 [tests] Publish with npm@9
  .github/workflows/publish.yml
  .npmrc
  utils/publish.sh
Labels: area: tests, pr: automerge, semver: none

#9556 [tests] Use `probes.json` instead of `vercel.json` for e2e tests
  packages/remix/test/fixtures/01-remix-basics/probes.json
  packages/remix/test/fixtures/02-remix-basics-mjs/probes.json
  packages/remix/test/fixtures/03-with-pnpm/probes.json
  packages/remix/test/fixtures/03-with-pnpm/vercel.json
  packages/remix/test/fixtures/04-with-npm9-linked/probes.json
  packages/remix/test/fixtures/04-with-npm9-linked/vercel.json
Labels: area: tests, pr: automerge, semver: none

#9582 [next] Fix incorrect 404 when `i18n` and `appDir` configured
  packages/next/src/server-build.ts
  packages/next/test/fixtures/00-app-dir-i18n/.gitignore
  packages/next/test/fixtures/00-app-dir-i18n/app/enter/page.js
  packages/next/test/fixtures/00-app-dir-i18n/app/layout.js
  packages/next/test/fixtures/00-app-dir-i18n/app/other/page.js
  packages/next/test/fixtures/00-app-dir-i18n/app/page.js
  packages/next/test/fixtures/00-app-dir-i18n/index.test.js
  packages/next/test/fixtures/00-app-dir-i18n/next.config.js
  packages/next/test/fixtures/00-app-dir-i18n/package.json
  packages/next/test/fixtures/00-app-dir-i18n/probes.json
Labels: semver: patch, area: next, pr: automerge

#9504 [remix] Split Edge and Node server builds using `serverBundles` config
  packages/remix/package.json
  packages/remix/server-edge.mjs
  packages/remix/server-node.mjs
  packages/remix/src/build.ts
  packages/remix/src/utils.ts
  packages/remix/test/fixtures/01-remix-basics/app/b.server.ts
  packages/remix/test/fixtures/01-remix-basics/app/routes/b.tsx
  packages/remix/test/fixtures/01-remix-basics/probes.json
  packages/remix/test/fixtures/03-with-pnpm/package.json
  packages/remix/test/fixtures/03-with-pnpm/pnpm-lock.yaml
  packages/remix/test/unit.get-path-from-route.test.ts
  pnpm-lock.yaml
Labels: semver: minor, area: remix, pr: automerge

#9442 [remix] Support "regions", "memory" and "maxDuration" in static config
  packages/remix/server-edge.mjs
  packages/remix/server-node.mjs
  packages/remix/src/build.ts
  packages/remix/src/utils.ts
  packages/remix/test/fixtures/01-remix-basics/app/b.server.ts
  packages/remix/test/fixtures/01-remix-basics/app/routes/b.tsx
  packages/remix/test/fixtures/01-remix-basics/probes.json
  packages/remix/test/unit.get-resolved-route-config.test.ts
Labels: semver: minor, area: remix, pr: automerge

#9588 add vercel/remix-run-dev updater workflow
  .github/workflows/update-remix-run-dev.yml
  utils/update-remix-run-dev.js
Labels: area: remix, semver: none

#9584 [remix] Add better error message when server build directory is missing
  packages/remix/src/build.ts
Labels: semver: patch, area: remix, pr: automerge

#9591 [remix] Make symlink logic of `@remix-run/dev` work in monorepos
  packages/remix/src/build.ts
Labels: semver: patch, area: remix, pr: automerge

#9592 Fix remix updater workflow when fetching latest version
  utils/update-remix-run-dev.js
Labels: area: tests, semver: none

#9590 [remix] Fix support for optional path params
  packages/remix/src/build.ts
  packages/remix/src/utils.ts
  packages/remix/test/unit.get-path-from-route.test.ts
  packages/remix/test/unit.get-regexp-from-path.test.ts
Labels: semver: patch, area: remix, pr: automerge

#9594 [examples] Run `prettier` on Remix template
  examples/remix/app/entry.server.tsx
  examples/remix/app/root.tsx
  examples/remix/app/routes/edge.tsx
Labels: area: examples, area: remix, pr: automerge, semver: none

#9596 [remix] Return `framework.version` in build result
  packages/remix/src/build.ts
Labels: semver: minor, area: remix, pr: automerge

#9600 [tests] Add more remix tests
  packages/remix/test/fixtures/05-root-only/.gitignore
  packages/remix/test/fixtures/05-root-only/app/entry.client.jsx
  packages/remix/test/fixtures/05-root-only/app/entry.server.jsx
  packages/remix/test/fixtures/05-root-only/app/root.jsx
  packages/remix/test/fixtures/05-root-only/package-lock.json
  packages/remix/test/fixtures/05-root-only/package.json
  packages/remix/test/fixtures/05-root-only/probes.json
  packages/remix/test/fixtures/05-root-only/remix.config.js
  packages/remix/test/fixtures/06-v2-routing/.gitignore
  packages/remix/test/fixtures/06-v2-routing/app/entry.client.jsx
  packages/remix/test/fixtures/06-v2-routing/app/entry.server.jsx
  packages/remix/test/fixtures/06-v2-routing/app/root.jsx
  packages/remix/test/fixtures/06-v2-routing/app/routes/_index.jsx
  packages/remix/test/fixtures/06-v2-routing/app/routes/foo.jsx
  packages/remix/test/fixtures/06-v2-routing/app/routes/fuzz.buzz-2.jsx
  packages/remix/test/fixtures/06-v2-routing/app/routes/fuzz.buzz.jsx
  packages/remix/test/fixtures/06-v2-routing/app/routes/nested/route.jsx
  packages/remix/test/fixtures/06-v2-routing/package-lock.json
  packages/remix/test/fixtures/06-v2-routing/package.json
  packages/remix/test/fixtures/06-v2-routing/probes.json
  packages/remix/test/fixtures/06-v2-routing/remix.config.js
Labels: area: tests, pr: automerge, semver: none

#9595 [remix] Clean up dev symlink upon config error
  packages/remix/src/build.ts
Labels: semver: patch, area: remix, pr: automerge

#8919 [cli] change patch-inquirer-legacy to patch-inquirer
  packages/cli/src/util/input/list.ts
  packages/cli/src/util/input/patch-inquirer-legacy.ts
  packages/cli/src/util/input/patch-inquirer.ts
  packages/cli/test/unit/commands/login.test.ts
Labels: area: cli, semver: patch, pr: automerge

#9516 [remix] Add test for escaped route paths
  packages/remix/test/fixtures/01-remix-basics/app/routes/tex[t.t]xt.tsx
  packages/remix/test/fixtures/01-remix-basics/probes.json
Labels: semver: patch, area: remix, pr: automerge

#9603 [next] Fix api prefixed app routes serverless streaming
  packages/next/src/server-build.ts
  packages/next/test/fixtures/00-app-dir/app/api/hello-again/route.js
  packages/next/test/integration/index.test.js
Labels: semver: patch, area: next, pr: automerge

#9606 [gatsby] Remove "gatsby" dependency, use typebox instead of ajv for validation
  packages/gatsby-plugin-vercel-builder/gatsby-node.ts
  packages/gatsby-plugin-vercel-builder/package.json
  packages/gatsby-plugin-vercel-builder/src/handlers/templates/ssr-handler.ts
  packages/gatsby-plugin-vercel-builder/src/handlers/utils.ts
  packages/gatsby-plugin-vercel-builder/src/index.ts
  packages/gatsby-plugin-vercel-builder/src/schemas.ts
  pnpm-lock.yaml
Labels: semver: minor, pr: automerge, area: gatsby-plugin-vercel-builder

#9607 [remix] Support optional static path segments
  packages/remix/src/utils.ts
  packages/remix/test/fixtures/06-v2-routing/app/routes/admin.(lol).tsx
  packages/remix/test/fixtures/06-v2-routing/package-lock.json
  packages/remix/test/fixtures/06-v2-routing/package.json
  packages/remix/test/fixtures/06-v2-routing/probes.json
  packages/remix/test/unit.get-path-from-route.test.ts
  packages/remix/test/unit.get-regexp-from-path.test.ts
Labels: semver: patch, area: remix, pr: automerge

#9602 [next] Populate middlewareRawSrc using middleware originalSource
  packages/next/src/utils.ts
  packages/next/test/unit/middleware-routes.test.js
Labels: semver: patch, area: next, pr: automerge

#9613 [tests] skip recent flakey tests
  packages/build-utils/test/unit.test.ts
  packages/node/test/dev.test.ts
Labels: area: tests, pr: automerge, semver: none

#9617 Revert "[next] Fix incorrect 404 when `i18n` and `appDir` configured"
  packages/next/src/server-build.ts
  packages/next/test/fixtures/00-app-dir-i18n/.gitignore
  packages/next/test/fixtures/00-app-dir-i18n/app/enter/page.js
  packages/next/test/fixtures/00-app-dir-i18n/app/layout.js
  packages/next/test/fixtures/00-app-dir-i18n/app/other/page.js
  packages/next/test/fixtures/00-app-dir-i18n/app/page.js
  packages/next/test/fixtures/00-app-dir-i18n/index.test.js
  packages/next/test/fixtures/00-app-dir-i18n/next.config.js
  packages/next/test/fixtures/00-app-dir-i18n/package.json
  packages/next/test/fixtures/00-app-dir-i18n/probes.json
Labels: semver: patch, area: next, pr: automerge

#9615 [tests] Run unit tests concurrently in chunks
  packages/node/test/integration-setup.js
  packages/static-build/test/integration-setup.js
  utils/chunk-tests.js
  utils/chunk-tests.test.js
Labels: area: tests, pr: automerge, semver: none

#9622 [remix] Add turborepo monorepo E2E test
  packages/remix/test/fixtures/07-turborepo/.gitignore
  packages/remix/test/fixtures/07-turborepo/apps/remix-app/.eslintrc.js
  packages/remix/test/fixtures/07-turborepo/apps/remix-app/app/entry.client.tsx
  packages/remix/test/fixtures/07-turborepo/apps/remix-app/app/entry.server.tsx
  packages/remix/test/fixtures/07-turborepo/apps/remix-app/app/root.tsx
  packages/remix/test/fixtures/07-turborepo/apps/remix-app/app/routes/index.tsx
  packages/remix/test/fixtures/07-turborepo/apps/remix-app/package.json
  packages/remix/test/fixtures/07-turborepo/apps/remix-app/public/favicon.ico
  packages/remix/test/fixtures/07-turborepo/apps/remix-app/remix.config.js
  packages/remix/test/fixtures/07-turborepo/apps/remix-app/remix.env.d.ts
  packages/remix/test/fixtures/07-turborepo/apps/remix-app/server.js
  packages/remix/test/fixtures/07-turborepo/apps/remix-app/tsconfig.json
  packages/remix/test/fixtures/07-turborepo/package.json
  packages/remix/test/fixtures/07-turborepo/packages/ui/package.json
  packages/remix/test/fixtures/07-turborepo/packages/ui/src/Button.tsx
  packages/remix/test/fixtures/07-turborepo/packages/ui/src/index.tsx
  packages/remix/test/fixtures/07-turborepo/packages/ui/tsconfig.json
  packages/remix/test/fixtures/07-turborepo/probes.json
  packages/remix/test/fixtures/07-turborepo/turbo.json
  packages/remix/test/fixtures/07-turborepo/vercel.json
  packages/remix/test/fixtures/07-turborepo/yarn.lock
Labels: area: tests, area: remix, pr: automerge, semver: none

#9626 [cli] Fix example list api to exclude `node_modules`
  api/_lib/script/build.ts
Labels: area: cli, semver: patch, pr: automerge

#9627 [tests] Change test-unit to test-lint
  .github/workflows/test-lint.yml
  .github/workflows/test-unit.yml
Labels: area: tests, pr: automerge, semver: none

#9629 [tests] remove eslint from fixture
  packages/remix/test/fixtures/07-turborepo/apps/remix-app/.eslintrc.js
  packages/remix/test/fixtures/07-turborepo/apps/remix-app/package.json
Labels: area: tests, pr: automerge, semver: none

#9631 [tests] Bump test timeouts for slow tests
  packages/cli/test/dev/utils.js
  packages/cli/test/unit/commands/build/index.test.ts
  packages/cli/test/unit/commands/login.test.ts
  packages/cli/test/unit/util/build/import-builders.test.ts
  packages/cli/test/unit/util/deploy/create-git-meta.test.ts
  packages/static-build/test/build.test.ts
Labels: area: tests, pr: automerge, semver: none

#9623 [next] Fix `i18n` for `app` dir and sublocales
  packages/next/src/server-build.ts
  packages/next/test/fixtures/00-app-dir-i18n/.gitignore
  packages/next/test/fixtures/00-app-dir-i18n/app/enter/page.js
  packages/next/test/fixtures/00-app-dir-i18n/app/layout.js
  packages/next/test/fixtures/00-app-dir-i18n/app/other/page.js
  packages/next/test/fixtures/00-app-dir-i18n/app/page.js
  packages/next/test/fixtures/00-app-dir-i18n/index.test.js
  packages/next/test/fixtures/00-app-dir-i18n/next.config.js
  packages/next/test/fixtures/00-app-dir-i18n/package.json
  packages/next/test/fixtures/00-app-dir-i18n/probes.json
  packages/next/test/fixtures/00-i18n-404-lambda/next.config.js
  packages/next/test/fixtures/00-i18n-404-lambda/public/hello.txt
  packages/next/test/fixtures/00-i18n-404-lambda/vercel.json
Labels: semver: patch, area: next, pr: automerge

#9528 [tests] add tests to edge handler template
  packages/cli/test/dev/integration-1.test.ts
  packages/node/src/edge-functions/edge-handler-template.js
  packages/node/src/edge-functions/edge-handler.ts
  packages/node/test/tsconfig.json
  packages/node/test/unit/edge-functions/edge-handler-template.test.ts
Labels: area: tests, pr: automerge, semver: none

#9632 [tests] convert CLI Integration tests from ava to jest
  packages/cli/package.json
  packages/cli/test/helpers/prepare.js
  packages/cli/test/integration.test.ts
  pnpm-lock.yaml
Labels: area: tests, pr: automerge, semver: none

#9644 [docs] Add more info about prepareCache
  DEVELOPING_A_RUNTIME.md
Labels: area: docs, pr: automerge, semver: none

#9654 [cli] update monorepo default setting log
  packages/cli/src/util/build/monorepo.ts
Labels: area: cli, semver: patch, pr: automerge

#9664 [tests] Add prettier check
  .github/workflows/label-feature-request.yml
  .github/workflows/label-support.yml
  .github/workflows/label-triaged.yml
  .github/workflows/publish.yml
  .github/workflows/test-integration-cli.yml
  .github/workflows/test-lint.yml
  .github/workflows/test.yml
  .github/workflows/update-remix-run-dev.yml
  .prettierignore
  DEVELOPING_A_RUNTIME.md
  api/_lib/examples/github-repo-info.ts
  codecov.yml
  package.json
  packages/cli/scripts/compile-templates.js
  packages/cli/src/commands/env/add.ts
  packages/cli/src/commands/env/ls.ts
  packages/cli/src/util/certs/get-wildcard-cns-for-alias.ts
  packages/cli/src/util/create-polling-fn.ts
  packages/cli/src/util/dns/delete-dns-record-by-id.ts
  packages/cli/src/util/dns/parse-add-dns-record-args.ts
  packages/cli/src/util/domains/get-auth-code.ts
  packages/cli/src/util/format-dns-table.ts
  packages/cli/src/util/format-ns-table.ts
  packages/cli/src/util/get-dist-tag.ts
  packages/cli/src/util/get-pagination-opts.ts
  packages/cli/src/util/get-subcommand.ts
  packages/cli/src/util/init/did-you-mean.ts
  packages/cli/src/util/now-error.ts
  packages/cli/src/util/output/highlight.ts
  packages/cli/src/util/output/success.ts
  packages/cli/src/util/race-async-generators.ts
  packages/client/tests/types.ts
  packages/frameworks/src/read-config-file.ts
  packages/next/test/unit/fixtures/02-edge-function-basepath/pages/index.tsx
  packages/node/src/babel.ts
  packages/routing-utils/src/merge.ts
  packages/static-config/src/validation.ts
  test/lib/deployment/retry-bail-by-default.js
Labels: area: tests, pr: automerge, semver: none

#9620 [remix] Support optional `entry.{server,client}.tsx` file
  packages/remix/defaults/entry.client.react.jsx
  packages/remix/defaults/entry.server.jsx
  packages/remix/defaults/server-edge.mjs
  packages/remix/defaults/server-node.mjs
  packages/remix/defaults/vercel-edge-entrypoint.js
  packages/remix/package.json
  packages/remix/src/build.ts
  packages/remix/src/prepare-cache.ts
  packages/remix/src/utils.ts
  packages/remix/test/fixtures/04-with-npm9-linked/.npmrc
  packages/remix/test/fixtures/04-with-npm9-linked/vercel.json
  packages/remix/test/fixtures/06-v2-routing/.gitignore
  packages/remix/test/fixtures/06-v2-routing/app/entry.client.jsx
  packages/remix/test/fixtures/06-v2-routing/app/entry.server.jsx
  packages/remix/test/fixtures/06-v2-routing/probes.json
  packages/remix/test/fixtures/08-no-entry-yarn/app/root.tsx
  packages/remix/test/fixtures/08-no-entry-yarn/app/routes/index.tsx
  packages/remix/test/fixtures/08-no-entry-yarn/package.json
  packages/remix/test/fixtures/08-no-entry-yarn/probes.json
  packages/remix/test/fixtures/08-no-entry-yarn/public/favicon.ico
  packages/remix/test/fixtures/08-no-entry-yarn/remix.config.js
  packages/remix/test/fixtures/08-no-entry-yarn/remix.env.d.ts
  packages/remix/test/fixtures/08-no-entry-yarn/server.js
  packages/remix/test/fixtures/08-no-entry-yarn/tsconfig.json
  packages/remix/test/fixtures/08-no-entry-yarn/yarn.lock
  packages/remix/test/fixtures/09-no-entry-pnpm/app/root.tsx
  packages/remix/test/fixtures/09-no-entry-pnpm/app/routes/index.tsx
  packages/remix/test/fixtures/09-no-entry-pnpm/package.json
  packages/remix/test/fixtures/09-no-entry-pnpm/pnpm-lock.yaml
  packages/remix/test/fixtures/09-no-entry-pnpm/probes.json
  packages/remix/test/fixtures/09-no-entry-pnpm/public/favicon.ico
  packages/remix/test/fixtures/09-no-entry-pnpm/remix.config.js
  packages/remix/test/fixtures/09-no-entry-pnpm/remix.env.d.ts
  packages/remix/test/fixtures/09-no-entry-pnpm/server.js
  packages/remix/test/fixtures/09-no-entry-pnpm/tsconfig.json
  pnpm-lock.yaml
Labels: semver: patch, area: remix, pr: automerge

#9666 [docs] Update issue and discussion templates
  .github/DISCUSSION_TEMPLATE/general.yml
  .github/DISCUSSION_TEMPLATE/help.yml
  .github/DISCUSSION_TEMPLATE/ideas.yml
  .github/DISCUSSION_TEMPLATE/polls.yml
  .github/DISCUSSION_TEMPLATE/show-and-tell.yml
  .github/DISCUSSION_TEMPLATE/temporary.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: area: docs, pr: automerge, semver: none

#9665 [remix] Rename `@vercel/remix` to `@vercel/remix-builder`
  .github/workflows/update-remix-run-dev.yml
  packages/cli/package.json
  packages/cli/test/unit/util/build/sort-builders.test.ts
  packages/frameworks/src/frameworks.ts
  packages/remix/package.json
  pnpm-lock.yaml
Labels: area: cli, area: frameworks, area: remix, pr: automerge, semver: none

#9667 [tests][cli] CLI Integration tests - better failure messages
  packages/cli/test/integration.test.ts
Labels: area: tests, semver: none

#9671 [tests] remove comment
  packages/cli/test/integration.test.ts
Labels: area: tests, pr: automerge, semver: none

#9679 [remix] Remove symlink creation warning
  packages/remix/src/build.ts
  packages/remix/test/fixtures/03-with-pnpm/probes.json
  packages/remix/test/fixtures/04-with-npm9-linked/probes.json
Labels: semver: patch, area: remix, pr: automerge

#9673 [gatsby-plugin-vercel-builder] link instead of move
  packages/build-utils/src/hard-link-dir.ts
  packages/build-utils/src/index.ts
  packages/gatsby-plugin-vercel-builder/src/helpers/static.ts
Labels: semver: patch, pr: automerge, area: gatsby-plugin-vercel-builder

#9675 [cli] Honor `--local-config` when present during `vc build`
  packages/cli/src/commands/build.ts
  packages/cli/src/index.ts
  packages/cli/src/util/client.ts
  packages/cli/test/fixtures/unit/commands/build/local-config/.vercel/project.json
  packages/cli/test/fixtures/unit/commands/build/local-config/main.html
  packages/cli/test/fixtures/unit/commands/build/local-config/test.html
  packages/cli/test/fixtures/unit/commands/build/local-config/vercel-test.json
  packages/cli/test/fixtures/unit/commands/build/local-config/vercel.json
  packages/cli/test/helpers/prepare.js
  packages/cli/test/integration.test.ts
  packages/cli/test/unit/commands/build/index.test.ts
Labels: area: cli, semver: patch, pr: automerge

#9685 [cli] Ignore `vc build` subdirectory warning on vercel
  packages/cli/src/index.ts
Labels: area: cli, semver: patch, pr: automerge

#9683 [examples] Update "remix" template to use `@vercel/remix` package
  examples/remix/app/entry.client.tsx
  examples/remix/app/entry.server.tsx
  examples/remix/app/root.tsx
  examples/remix/package.json
  examples/remix/pnpm-lock.yaml
  examples/remix/remix.env.d.ts
Labels: area: examples, area: remix, pr: automerge, semver: none

#9689 [cli] handle `BUILD_UTILS_SPAWN_*` errors
  packages/cli/src/util/index.ts
Labels: area: cli, semver: patch, pr: automerge

#9672 [tests][cli] convert CLI integration tests to TS
  packages/cli/test/integration.test.ts
  test/lib/deployment/now-deploy.js
Labels: area: cli, area: tests, pr: automerge, semver: none

#9700 [node][remix] Update nft conditions to include "edge-light" for Edge Functions
  packages/node/src/index.ts
  packages/remix/src/build.ts
Labels: area: node, semver: patch, area: remix, pr: automerge

#9684 [remix] Inject `@vercel/remix` package instead of `@vercel/remix-entry-server`
  packages/remix/defaults/entry.server.jsx
  packages/remix/package.json
  packages/remix/src/build.ts
  pnpm-lock.yaml
Labels: semver: minor, area: remix, pr: automerge

#9697 [node] Improve edge-handler-template error handling
  packages/cli/test/dev/integration-1.test.ts
  packages/node/src/edge-functions/edge-handler-template.js
  packages/node/test/unit/edge-functions/edge-handler-template.test.ts
Labels: area: node, semver: patch

#9686 [build-utils][next] Add prerender source path
  packages/build-utils/src/prerender.ts
  packages/next/src/utils.ts
  packages/next/test/integration/index.test.js
Labels: area: build-utils, area: go, semver: minor, area: next, pr: automerge

#9302 [tests] Disable Turbo's update notifier
  package.json
  pnpm-lock.yaml
Labels: area: tests, pr: automerge, semver: none

#9704 [next] Remove extra env variables
  packages/next/src/index.ts
Labels: semver: patch, area: next, pr: automerge

#9706 [tests] Try publishing with provenance
  .github/workflows/publish.yml
Labels: area: tests, pr: automerge, semver: none

#9694 [node] support node:[lib] in vc dev
  packages/node/src/edge-functions/edge-handler.ts
  packages/node/src/edge-functions/edge-node-compat-plugin.ts
  packages/node/test/dev-fixtures/edge-buffer.js
  packages/node/test/dev.test.ts
Labels: area: node, area: dev, semver: minor, area: edge, pr: automerge

#9707 [remix] Fix zero matching on sub catch-all routes
  packages/remix/src/utils.ts
  packages/remix/test/fixtures/03-with-pnpm/app/routes/sub/$.tsx
  packages/remix/test/fixtures/03-with-pnpm/probes.json
  packages/remix/test/unit.get-path-from-route.test.ts
  packages/remix/test/unit.get-regexp-from-path.test.ts
Labels: semver: patch, area: remix, pr: automerge

#9709 [build-utils] Fix system env var detection for prefixed env vars
  packages/build-utils/src/get-prefixed-env-vars.ts
  packages/build-utils/test/unit.get-prefixed-env-vars.test.ts
Labels: area: build-utils, semver: patch, pr: automerge

#9711 [node-bridge]: remove API Gateway normalization
  packages/node-bridge/bridge.js
  packages/node-bridge/launcher.js
  packages/node-bridge/test/bridge.test.js
  packages/node/src/dev-server.ts
Labels: area: node, semver: major

#9713 [node-bridge] add feature flags support
  packages/node-bridge/bridge.js
  packages/node-bridge/test/bridge.test.js
  packages/node-bridge/types.ts
Labels: area: node, semver: minor

#9717 [cli] support `build -y` shorthand
  packages/cli/src/commands/build.ts
Labels: area: cli, semver: patch, pr: automerge

#9688 [tests] Split CLI integration tests into chunks
  .github/workflows/test-integration-cli.yml
  packages/cli/package.json
  packages/cli/src/commands/secrets.js
  packages/cli/test/helpers/exec.ts
  packages/cli/test/helpers/format-output.ts
  packages/cli/test/helpers/get-global-dir.ts
  packages/cli/test/helpers/get-tmp-dir.ts
  packages/cli/test/helpers/setup-e2e-fixture.ts
  packages/cli/test/helpers/setup-unit-fixture.ts
  packages/cli/test/helpers/types.ts
  packages/cli/test/helpers/wait-for-prompt.ts
  packages/cli/test/integration-1.test.ts
  packages/cli/test/integration-2.test.ts
  packages/cli/test/integration-3.test.ts
  packages/cli/test/integration.test.ts
  packages/cli/test/unit/commands/deploy.test.ts
  packages/cli/test/unit/commands/env.test.ts
  packages/cli/test/unit/commands/pull.test.ts
  packages/cli/test/unit/commands/rollback.test.ts
Labels: area: tests, pr: automerge, semver: none

#9721 [build-utils] Rename Lambda `experimentalResponseStreaming` prop to `supportsResponseStreaming`
  packages/build-utils/src/lambda.ts
  packages/next/src/utils.ts
  packages/next/test/integration/index.test.js
  packages/node/src/index.ts
  packages/remix/src/build.ts
Labels: area: build-utils, area: node, semver: minor, area: next, area: remix, pr: automerge

#9680 [fs-detectors] Fix turbo@1.8 all filters are inferred
  packages/fs-detectors/src/monorepos/get-monorepo-default-settings.ts
  packages/fs-detectors/test/fixtures/get-monorepo-default-settings/turbo-has-filter/package.json
  packages/fs-detectors/test/fixtures/get-monorepo-default-settings/turbo-has-filter/packages/app-1/package.json
  packages/fs-detectors/test/fixtures/get-monorepo-default-settings/turbo-has-filter/turbo.json
  packages/fs-detectors/test/unit.get-monorepo-default-settings.test.ts
Labels: semver: patch, area: fs-detectors, pr: automerge
